[2022-06-04 07:10] adrpo commented on #9029
We had a long discussion about this a while back and the only way to do this in a portable way is to have "dummy" implementations of these functions in a new library that you can link against.

[2022-06-04 14:36] phannebohm commented on #8555
I did that in #9060. I was a little surprised to see that we call `ExpressionSimplify.simplifyAddJoinTerms` during bootstrapping. :thinking:

I did that with the following model and it looks like they perform equally fast until around `n=5`.
[code]
I didn't average over runs (only one pass) so there is some noise, but I shuffled the equations for `y` a few times and the results are consistent.
[co

[2022-06-04 16:35] casella commented on #8592
All these issues should now be fixed with 1.19.0 or with 1.20.0-dev, we managed to run the version on the [dynamiclib](https://github.com/modelica-3rdparty/ExternalMedia/tree/dynamiclib) branch successfully on OpenModelica.

[2022-06-04 16:35] #8592 closed

[2022-06-05 11:47] mahge commented on #9029
I made some changes to your original code so that it can go through all the loaded DLLs using [EnumProcessModules](https://docs.microsoft.com/en-us/windows/win32/psapi/enumerating-all-modules-for-a-process?redirectedfrom=MSDN) and look for the function we are interested in. It seems to work. You can test it out and see if it fits your general usage.

[code]

[2022-06-05 15:52] casella commented on #8777
@mahge, I tested #9044 with the latest nightly and now everything works for me 😃

Could you please port it to maintenance/v1.19? Thanks!

[2022-06-05 15:57] casella commented on #8938
I confirm that the problem was solved in the latest nightly build.

@kabdelhak could you please cherry-pick #8981 into maintenance/v1.19? Thanks!

[2022-06-05 16:00] casella commented on #8772
I checked with the latest nightly build and all parameters are now correctly assigned the value of 1.

As soon as #8981 is cherry-picked into maintenance/v1.19, as required in #8938, we can also close this one.

[2022-06-06 19:36] mahge commented on #8777
Fixed in #9044 and ported to maintenance/v1.19 in #9063.

[2022-06-07 07:11] AnHeuermann commented on #4829
@adrpo Can we manually sign the v1.19 official release?
I just checked and SmartScreen is still failing.

[2022-06-07 07:48] bilderbuchi commented on #9059
Shouldn't such a flag rather be an additional entry in [--allowNonStandardModelica](https://openmodelica.org/doc/OpenModelicaUsersGuide/1.19/omchelptext.html#omcflag-allownonstandardmodelica), since that is, as you say, technically forbidden by the spec?

[2022-06-07 09:12] casella commented on #8777
I prefer to keep this open until I've actually checked in on the built version, just in case. I'll take care of that.

[2022-06-07 09:12] casella commented on #4829
I think @adeas31 can take care of that

[2022-06-07 09:26] casella commented on #9059
Agreed. BTW, I don't really see a need for using the `nonStd` prefix for the option names, these are arguments to `--allowNonStandardModelica`, so it's already clear it is not standard - I would go for `allowProtectedAccess`.

[2022-06-07 09:59] bilderbuchi commented on #9059
Agreed, I just kept it consistent with the already present options.

Btw, the proposed solution for the use case cited,

might be an instance of the [XY problem](https://en.wikipedia.org/wiki/XY_problem), where we're trying to improve the workaround (encouraging non-standard Modelica code in the process) instead of solving the root problem.

If the `HideResult` annotation is not feasible/appropria

[2022-06-07 10:28] perost commented on #9059
I agree that it would be much better to find an actual solution to the problem, adding a flag is trivial but not very user-friendly.

Looking at the model I can understand why using `HideResult` on every affected variable isn't feasible. I think the most natural solution would be to just put `HideResult=true` on the `vol` component in order to hide everything in it. But the specification isn't rea

[2022-06-07 13:35] AnHeuermann commented on #9053
Does changing the step size change anything? Looks like the fallback is working each time the default solver fails.

[2022-06-07 15:56] casella commented on #9059
I agree that in general we need to find actual solutions to the root problem. However, the problem with all these solutions, besides the non-trivial amount of time to get an agreement with the MA, is that they don't solve the specific user requirement of this case.

As I understand, what @Mathadon is doing is to take a model developed for other purposes and embed it in some kind of super model tha

[2022-06-07 16:06] casella commented on #9053
I wanted to try this with 1.20.0-dev, but I currently have 1.19.0 installed on my PC. I noticed that the behaviour is different:
- in 1.19.0, you get some [assertion warnings](https://libraries.openmodelica.org/branches/v1.19/Buildings_8/files/Buildings_8_Buildings.ThermalZones.Detailed.Examples.MixedAirFreeResponse.sim) about max values of parameters
- in 1.20.0, you instead get those [warnings a

[2022-06-07 21:17] casella commented on #9053
Sorry, I messed up. The assertion warnings are obtained with [Buildings 8.1.4](https://libraries.openmodelica.org/branches/master/Buildings_8/files/Buildings_8_Buildings.ThermalZones.Detailed.Examples.MixedAirFreeResponse.sim), both with 1.19.0 and with the latest 1.20.0-dev versions. The failing linear solvers are obtained with [Buildings 9.0.0 on master](https://libraries.openmodelica.org/branch

[2022-06-07 21:52] casella opened #9066 "The package manager should allow to uninstall old packages"
Currently, it is only possible to install newer versions of packages, but it is not possible to get rid of old ones. This is not sustainable in the long run. Unless one deletes the contents of the .openmodelica directory completely and starts over downloading them.

In fact, this may not be such a big deal with modern large-sized mass storage systems. What would be more annoying is if you install

[2022-06-07 21:53] casella commented on #9057
@max-privato, regarding uninstall you're right, we know that is a missing feature, and I opened #9066 for that.

[2022-06-07 21:55] casella commented on #9057
Regarding the second issue, what I understood is that if you don't tick that box, all versions that have been released in the meantime will be installed, while if you do only the latest one is, which may be non-backwards compatible.

@adeas31, @sjoelund did I get this right?

[2022-06-07 21:59] casella commented on #9052
@perost, this is [the test report](https://libraries.openmodelica.org/branches/master/Modelica_4.0.0/files/Modelica_4.0.0_Modelica.Electrical.Batteries.Examples.CCCV_Stack.err) on the testsuite. Some equations are lost along the road. I don't have any brilliant idea to figure out which they could be, but there is an error mentioning bus variables, maybe you could start looking into that?

[2022-06-07 22:28] casella commented on #8935
@christiankral first of all, it seems you are running this model with OpenModelica 1.18.1, since the plots do not yet automatically introduce unit prefixes.

I tried this with the latest nightly build, and I got a flat-out initialization failure because of singular equations.

However, if I basically disable linear tearing by adding the translation flag `--maxSizeLinearTearing=0`, the model runs f

[2022-06-07 22:36] casella commented on #8656
@phannebohm did you get anywhere with that?

[2022-06-07 22:39] casella commented on #8522
Update: new versions of ExternalMedia on the way, see modelica-3rdparty/ExternalMedia#62 and modelica-3rdparty/ExternalMedia#55.

[2022-06-07 22:43] casella commented on #8466
[TestPump_L1_WithEMotor.sim](https://libraries.openmodelica.org/branches/master/ClaRa_dev/files/ClaRa_dev_ClaRa.Components.TurboMachines.Pumps.Check.TestPump_L1_WithEMotor.sim) now works fine, including [verification](https://libraries.openmodelica.org/branches/master/ClaRa_dev/ClaRa_dev.html).

Unfortunately [TestPump_L1_OffDesign](https://libraries.openmodelica.org/branches/master/ClaRa_dev/file

[2022-06-07 22:45] casella commented on #8461
I guess we can close this issue as far as OpenModelica is concerned. A separate issue could be opened on the ClaRa issue tracker.

[2022-06-07 22:45] #8461 closed

[2022-06-07 22:46] casella commented on #8460
Still open as of v1.20.0-dev-119-g4241954151

[2022-06-07 22:49] casella commented on #8442
@arun3688 could you have a look at this?

[2022-06-07 23:06] casella opened #9067 "Heavyweight tests for Buildings"
The model `Buildings.ThermalZones.EnergyPlus_9_6_0.Examples.SmallOffice.Guideline36Winter` is a good candidate for testing, in particular if you change
[code]
to
[code]
This uses the EnergyPlus envelope, which avoids many continuous state variables.

The same model, but now with Modelica envelope, is available as `Buildings.Examples.VAVReheat.Guideline36`

For a scalable model, the model `Building

[2022-06-08 19:56] arun3688 commented on #8442
@Amuri44 I generated the fmu for the above model and simulated using OMSimulator, and everything seems to be working fine

[code]

If it works in OMEdit means , it works with OMSimulator as well, I hope the issue is related with FMI library in julia

[2022-06-08 21:34] casella opened #9070 "Also convert URIs when running conversion scripts"
See modelica/ModelicaSpecification#3199.

@perost, are we doing that already?

[2022-06-08 21:45] casella commented on #8459
I wonder if the reason why the system fails at lambda = 1 is because of a bad tearing that makes the system singular. Unfortunately, I'm not sure turning off tearing completely is not going to break the initialization elsewhere, what do you think?

[2022-06-09 11:44] dietmarw opened #9071 "Rendering glitch for Filename and Version in the OMEdit documentation browser."
### Description

When looking at the documentation of the release notes of [OpenIPSL 3.0.0](https://github.com/OpenIPSL/OpenIPSL/releases/tag/v3.0.0) it looks like that the rendering of the Filename and Version gets confused.
### Steps to Reproduce

1. Load [OpenIPSL 3.0.0](https://github.com/OpenIPSL/OpenIPSL/releases/tag/v3.0.0)
2. Open `OpenIPSL.UsersGuide.ReleaseNotes.v300` and look at the bot

[2022-06-09 12:26] casella commented on #9070
I would stick to URIs that refer to the library being converted, wherever they show up (e.g. in documentation layers or loadResource() function calls)

[2022-06-09 13:19] #8511 closed

[2022-06-09 18:04] casella commented on #9029
@mahge, thanks for you input!

@fedetftpolimi ported your code into ExternalMedia, we ran it under Windows 10 with v1.20.0-dev-119-g4241954151 (64-bit), it managed to enumerate the processes, but it couldn't get a handle, so it eventually failed, at least on my computer when tested with OMEdit 1.20.0-dev119-g4241954151.
[code]
Apparently, we are still unable to get the symbols that should be made

[2022-06-09 21:20] anotheruserofgithub opened #9074 "[OMEdit] Clear recent files no longer works"
It seems that the `Clear Recent Files` action does not work anymore, neither from the home screen button nor from the Files menu.
The list of files is indeed empty after clicking the button, but when OMEdit is restarted they are there again.

I saw that about two weeks ago when I compiled OMEdit locally, so I do not know if it might be because I am using two instances of OMEdit currently on my mac

[2022-06-09 21:47] anotheruserofgithub commented on #8459
@casella I don't know if this can help, but for a while now I always use these compiler and simulation settings for big multi-body models:
[code]

I had severe problems (such as the ones you were commenting to yesterday, i.e. division by zero due to bad tearing, singular at initialization, sparse solvers failing, ...) with the model going bigger and more complicated, but six months ago I finally f

[2022-06-10 06:23] xning commented on #8982
Hence the binaries contains debug symbols, right?  Right.

[code]

[2022-06-10 06:40] sjoelund commented on #8982
I didn't test it myself, but it's probably with some debug symbols. Like function names, but not line numbers of the source code.

[2022-06-10 09:45] mahge commented on #9029
Alright as far as I can gather, this is happening because the new test case does not actually try (does not need to) to evaluate the external function at **compile** time.  Instead it is doing it in the generated simulation executable. This is where you get the error saying it can't get handle to ModelicaError in all loaded modules.

**For the simulation executable the symbol `ModelicaError` is ac

[2022-06-10 10:01] fedetftpolimi commented on #9029
I still find it more elegant to to just export symbols from the executable, as what the external function really needs to do is to call back into the executable. It's likely more performant too as there's no need to enumerate all loaded DLLs till we find the one with the symbol, but if you prefer to have them in a DLL it's fine for us as well.

I added the code to look for symbols in the executabl

[2022-06-10 10:28] mahge commented on #9029
Elegant in one case but not in others 🙂.

You have two use cases here. Evaluating at compile time and evaluating at simulation time.

For the compile time evaluation we have to enumerate the DLLs loaded. It is just too big a change to pull out the `ModelicaError` functions from our runtime libraries and move them to the executable. Even if that was not a lot of work then what do we do about other

[2022-06-10 10:36] perost commented on #9036
Obviously, but I assume you meant `R r(m=7, k=42)`? Like I said when talking with kabdelhak, those cases should ideally be equivalent. But it's complicated since one uses modifiers and the other a binding equation, so internally they're very different.

[2022-06-10 10:48] AnHeuermann commented on #9036
I switched the cases around. The one with the modifiers works, the one with the bindings not (yet).

[2022-06-10 13:00] adeas31 commented on #9074
Works as expected on Windows.

Run OMEdit, clear recent files list either via home screen or from menu, close OMEdit. Open the file `omedit.ini` and see what is the value of key `files` in group `recentFilesList`.

[2022-06-10 13:20] mahge commented on #9029
#9077 has changed the build type of the simulation library (`libSimulationRuntimeC`) to DLL on Windows, I know this appears an overkill for this specific issue but it is something that was overdue for a while.

We will keep an eye on the Windows tests when they run and hopefully nothing has been broken. For this specific case it now means both test cases should work the same way on Linux as well a

[2022-06-10 13:37] AnHeuermann commented on #8555
[ClaRa.Examples.SteamPowerPlant_CombinedComponents_01](https://libraries.openmodelica.org/branches/master/ClaRa_dev/files/ClaRa_dev_ClaRa.Examples.SteamPowerPlant_CombinedComponents_01.err) is still stuck.

[2022-06-10 13:42] fedetftpolimi commented on #9029
I guess we will have to wait for a nightly build for Windows to become available?

[2022-06-10 13:48] mahge commented on #9029
Yes if you are not building from source. Unfortunately though the Windows nightly job seems to be broken for the past two days. Hopefully it gets fixed today.

[2022-06-10 13:50] AnHeuermann opened #9078 "Slow matching for SteamPowerPlant_CombinedComponents_01"
### Description

Matching and sorting with index reduction gets stuck in the BackEnd.

### Steps to Reproduce

Get the latest development version of ClaRa from GitLab and run
[code]

### Expected Behavior

Don't take ages.

### Version and OS

    OpenModelica Version: v1.20.0-dev-136-g3ac7408acc
    OS: Ubuntu 20.04.3
    ClaRa_dev at commit 6a127cb5d8d5a8a6f96f9ecfd6f15ef2bba76d74

### Additiona

[2022-06-10 13:51] AnHeuermann commented on #8555
Continue in #9078.

[2022-06-10 13:51] #8555 closed

[2022-06-10 13:54] AnHeuermann commented on #9078
`causalizeDAE` and `replaceDummyDerivatives` should be a good place to start investigating.

Here is a call stack from gdb after a few minutes:

[code]

[2022-06-10 14:07] anotheruserofgithub commented on #9074
OK, now it's working fine, I found out (joke coming -->) the root cause.

On Linux, file located at `~/.config/openmodelica/omedit.ini`.
In fact it was only writable by root user, and this is because I once launched OMEdit with `sudo` from the terminal.
This seemed weird to me when I saw that because usually I don't run OMEdit from the command line (and certainly not as root!) but from the launch

[2022-06-10 15:47] phannebohm commented on #8658
I just saw https://github.com/modelica/ModelicaSpecification/issues/3200#issuecomment-1152183309 which clarifies this issue once more I think.

So basically the equation
[code]
will be differentiated to
[code]
and we generate an assert with the same boolean condition previously used for the zero crossing of the original equation. If that assert triggers the simulation aborts. Possibly we put a `no

[2022-06-10 15:54] phannebohm commented on #8656
I haven't look into it yet...

[2022-06-10 15:58] adeas31 commented on #9074
`omedit.ini` is always created with user scope so perhaps you have two `omedit.ini` files, one for root and one for normal user.

As for displaying different fonts, I have no idea why. This is perhaps done by the windowing system you are using.

[2022-06-10 16:03] adeas31 opened #9082 "Use QStringBuilder for string concatenation"
### Description

Update OMEdit to use `QStringBuilder` for string construction and concatenation. Provides faster and efficient string operations. See https://doc.qt.io/qt-6/qstring.html#more-efficient-string-construction and see PR #9081. Replace all references of QString append, QString arg and operator +.

[2022-06-10 18:57] anotheruserofgithub opened #9083 "[OMEdit] Easily change the visual properties of any visualizer"
### Feature Request

OMEdit allows the user to change some visual properties of shapes and vectors (color, transparency, texture) through a context menu showing up by shift + right-clicking on a visualizer.
However, visualizers are not always (easily) accessible as I think they need to be on the foreground of the scene in order to be selected.

Yet, there are use cases where it would be great to b

[2022-06-11 16:56] xning commented on #8982
@sjoelund

Since the binaries have debug symbols, why not add *.debugsource package in the yum repo. Hence it's easy to debug openmodelica programs?

[2022-06-12 17:28] max-privato opened #9084 "Error message when loading a local library can be improved"
### Description
OM 1.19.0 has a library manager to install libraries from the Internet.

Unfortunately, it does not include a mechanism to install local libraries via OM. Nevertheless, it is actually easy to install a local library.

To install a library one has to manually copy it into the directory
[...]\OpenModelica\lib\omlibrary

I tried this in the case of a one-file package.
If I copy in tha

[2022-06-12 18:15] max-privato opened #9085 "Library not found when it is present"
### Description
When two one-file libraries are loaded, OM has troubles in loading them

### Steps to Reproduce
Consider the following files.
[TestDefault.mo.txt](https://github.com/OpenModelica/OpenModelica/files/8886428/TestDefault.mo.txt)
[Test2_0_0.mo.txt](https://github.com/OpenModelica/OpenModelica/files/8886460/Test2_0_0.mo.txt)
[MyLib.mo.txt](https://github.com/OpenModelica/OpenModelica/fi

[2022-06-12 19:04] #9085 closed

[2022-06-12 19:04] max-privato commented on #9085
Posted by mistake

[2022-06-13 02:12] xning commented on #8982
@sjoelund

Icons for program OMNotebook, OMEdit, OMShell and OMShell-terminal are not found in  the nightly building version openmodelica package. I copied from the stable version package.

[2022-06-13 02:13] xning commented on #8982
@sjoelund

Icons for program OMNotebook, OMEdit, OMShell and OMShell-terminal are not found in  the nightly building version openmodelica package. I copied from the stable version package.

[2022-06-13 04:17] xning opened #9086 "In openmodelicalibraries_latest.tar.xz, only libraries in the modelica package work with openmodelica-nightly"
### Description

### Steps to Reproduce

### Expected Behavior
The latest openmodelicalibraries work with openmodelica-nightly

### Screenshots
[code]

### Version and OS

 - OpenModelica Version: OpenModelica 1.20.0~dev-127-g5d37593
 - OS: Fedora 36, x86_64
 - Versions of used Modelica libraries: [openmodelicalibraries_20211001-191034.tar.xz](https://build.openmodelica.org/libraries/openmodelical

[2022-06-13 07:29] dietmarw commented on #9071
Thanks @adeas31

[2022-06-13 12:15] casella commented on #9071
@adeas31 would you mind cherry-picking this in maintenance/v1.19?

Thanks!

[2022-06-13 12:45] casella commented on #9074
I'm not a power Linux user myself, but my understanding is that the first commandment of Unix usage is: _Thou shalt not run anything as superuser, unless it is absolutely necessary_. Of course there could be some hacker's suggestions on the web to try running stuff (e.g. OMEdit) as superuser to do advanced debugging - I have nothing against that, but I guess we can live with OMEdit having some gli

[2022-06-13 12:45] #9074 closed

[2022-06-13 12:56] bilderbuchi opened #9091 "Support plot annotations (MCP-0033)"
I think [this issue ](https://trac.openmodelica.org/OpenModelica/ticket/6056), i.e. support for Specification 18.2.2 "Annotations for Figures" somehow fell through the cracks in the issue migration from trac.
Original text by @casella follows:

[2022-06-13 12:57] casella commented on #9086
@xning I'm not sure I understand what is your problem. The dialog window you get tells you that you have already loaded in the package browser some library which is incompatible with the library you want to load. There are only two options at that point: either cancel the operation (maybe you started it by mistake, e.g. by selecting the wrong file), or unload all previously loaded library and relo

[2022-06-13 12:58] bilderbuchi commented on #4280
Original issue: https://trac.openmodelica.org/OpenModelica/ticket/4280 (I was the reporter)

I think this issue from 2017 can be closed in favour of the newer #9091 from 2020.

[2022-06-13 12:59] anotheruserofgithub commented on #9074
Of course I understand. Fair enough ;)

[2022-06-13 13:01] bilderbuchi commented on #4719
Original issue https://trac.openmodelica.org/OpenModelica/ticket/4719 by @ceraolo
Related to #9091, maybe superseded by that one; can maybe inform the UI design for implementing #9091.

[2022-06-13 13:14] bilderbuchi commented on #9091
Skimming #4719, maybe it makes sense to have buttons "load from model annotation" and "save to model annotation" both
* for individual plots (in the plot tab toolbar) and
* for all plots (in the overall Plot toolbar).  In this case, maybe a dialog with checkboxes would be useful.

[2022-06-13 13:40] casella commented on #9091
@bilderbuchi thanks for pointing this out. Indeed, this feature was introduced in Modelica 3.5 one year ago, after much discussion, and it would indeed be very helpful. I'll set it tentatively for 1.20.0, but I guess this will have to wait for the subsequent release, we already have a lot of stuff in the pipeline.

@adeas31 it would be good if you could provide a rough estimate of the required eff

[2022-06-14 07:27] xning commented on #9086
@casella

For some package, after start OMEdit, first directly load the package, will report errors and advice to try the second option. But the second option didn't resolve problem. Hence the error msg comes again and again.

[2022-06-14 14:44] anotheruserofgithub commented on #8935
Hello @christiankral, @casella,

I tested your models with
[code]

and this is working like a charm! See [#8459 (comment)](https://github.com/OpenModelica/OpenModelica/issues/8459#issuecomment-1151656827).

I would like to stress that from my little experience `veryStric` tearing is really the key. I don't know however what makes it so much better than `strict` tearing.

[2022-06-14 16:22] casella commented on #8459
@anotheruserofgithub, every user has its magic mix (or mixes) of flags that work for him/her, but that very much depends on the set of models that you are running. Also, over time some of these flags become obsolete at some point. More specifically
- I would not recommend noHomotopyOnFirstTry, in my experience if homotopy is declared in the model, it should be used
- the automatic selection of spa

[2022-06-14 22:20] perost opened #9101 "OMEdit crashes if dialog is left open when quitting"
### Description

OMEdit crashes if the user quits OMEdit while a dialog window is still open.

### Steps to Reproduce

* Open any model and e.g. instantiate or run check model on it.
* Quit OMEdit without closing the new dialog window that shows the result of the operation.
* Wait until OMEdit crashes, this can take a few seconds.

### Expected Behavior

OMEdit should not crash, and any open windo

[2022-06-15 11:36] hkiel opened #9103 "[OMNotebook] Rework how cells how copied"
The best solution would probably be to copy the cells to the pasteboard rather than just storing a pointer, so that it doesn't matter what happens with the original cell. But that might be easier said than done since it seems like most classes in OMNotebook violates the [rule of three](https://en.cppreference.com/w/cpp/language/rule_of_three), and while `Cell` actually has a copy constructor it do

[2022-06-15 14:13] perost commented on #9045
I realized while writing the schema for the JSON structure that we have a bit of a conflict between annotations and expressions. We dump expressions using the natural structure when possible (i.e. integers as integers, arrays as arrays, etc.), but for everything else we use tagged objects. For example for a function call `fn(1, 2, 3)` we use:
[code]
However, since we use the names in the annotatio

[2022-06-15 14:15] perost commented on #9045
I guess another alternative would be to change expressions to use e.g. `$kind` instead, something that's not a valid Modelica identifier.

[2022-06-16 08:43] hkiel commented on #7776
Here is an installation time report with the fix in #9068 (39000 files, 347 MB less)
| version | install | uninstall |
| --: | --: | --: |
| 1.19.0 | 500s |  240s |
| 1.20.0-dev-140 | 380s |  160s |

Removing the MSVC boost headers (10800 files, 99 MB) could reduce installation time further.
@adrpo Are they really needed?

Another option would be to remove contents of `tools/msys/mingw64/share/doc

[2022-06-16 09:03] #9101 closed

[2022-06-16 09:39] mahge commented on #9035
It's been a while and I do not think this is going to be fixed. Should we just go ahead and silence the warning?

[2022-06-16 09:43] sjoelund commented on #9035
Or maybe it should just be char *data?

[2022-06-16 09:44] sjoelund commented on #9035
Or wait... That breaks the struct, right? Maybe it just shouldn't cast to struct...

[2022-06-16 09:45] perost commented on #9035
Yeah, I tried changing it to `char *data` and then the bootstrapped compiler just segfaults.

[2022-06-16 09:48] sjoelund commented on #9035
Because it's supposed to be a data segment that is allocated within the data structure. There is no indirection... The struct is probably the wrong thing to cast to.

[2022-06-16 14:46] mahge commented on #9056
I am closing this as there is nothing to be done from our side. The recommended workaround of #9029 also works as expected now.

[2022-06-16 15:52] darth opened #9113 "Simulation of FMU with CVODE solver fails with integration error"
### Description

The simulation of FMU exported for co-simulation using CVODE solver fails while the same model can be simulated without problems both natively (with any solver, CVODE included) and using FMU with Euler solver. The model on which this issue happens is the BouncingBall model included within OpenModelica distribution (for the sake of completeness I include it also here: [BouncingBall

[2022-06-16 15:54] casella commented on #7776
@hkiel thanks for #9068, this is really appreciated, as I uninstall and reinstall nightlies on a weekly basis (or more).

@adrpo can comment on MSVC boost headers, maybe also @mahge.

I'm also in favour of eliminating the doc files, after all the installation is not meant for OMC development (you get stuff from GitHub in that case) and OpenModelica users have no use for those documents. @hkiel ple

[2022-06-16 16:24] darth opened #9114 "Scripting API command loadFileInteractiveQualified() fails silently"
### Description

Scripting API command `loadFileInteractiveQualified()` fails silently.

### Steps to Reproduce
[code]

File with `Test.mo` [Test.zip](https://github.com/OpenModelica/OpenModelica/files/8920607/Test.zip). Could any other valid model file.

### Expected Behavior

Expected reply in case of success is the list loaded models and empty error string.
[code]

### Version and OS

 - OpenMo

[2022-06-17 08:07] hkiel commented on #7776
@casella I cannot find the place in the Makefiles where OMDev is copied, also the OMDev repository itself (`https://openmodelica.org/git/OMDev.git`) seems to be broken.
[code]

[2022-06-17 08:33] adrpo commented on #7776
We moved openmodelica.org to another server, I guess we need to configure some thing to get OMDev git working again. I will look into it.

Because is not in the Makefiles. Is in our NSIS installer:
https://github.com/OpenModelica/OpenModelicaSetup/
At this place:
https://github.com/OpenModelica/OpenModelicaSetup/blob/master/OpenModelicaSetup.nsi#L169

Note that the boost MSVC headers are be differ

[2022-06-17 08:50] hkiel commented on #7776
@adrpo Can you add `doc` to the excluded dirs in the installer file?

[2022-06-17 09:03] perost commented on #9114
Thanks, seems #6784 added the new arguments to the wrong function in NFModelicaBuiltin. I updated the test case to use the new frontend so it doesn't break again.

[2022-06-17 09:20] niklwors opened #9116 "Model with delay operator crashes"
### Description

The test model Rexroth_Generic_Test.SignalBlocks.Controllers.DeadTime_TC01 from the BRSL library uses the Modelica delay operator.  The simulation crashes at time 0.5005 With the error message:  "Simulation terminated by an assert at time: 0.5005 "

### Steps to Reproduce

Load the BRSL package: Rexroth_Generic_Test/package.mo
Simulate the model Rexroth_Generic_Test.SignalBlocks.C

[2022-06-17 09:54] #9114 closed

[2022-06-17 11:31] niklwors opened #9118 "Linear solver fails"
### Description

For the model Rexroth_Generic_Test.Mechanics.Rotational.GearNonLinearRotational.GearNonLinearRotational_TC03 from the BRSL library the linear solver fails with error:
``Failed to solve linear system of equations (no. 273) at time 0.000000, system is singular for U[2, 2].
The default linear solver fails, the fallback solver with total pivoting is started at time 0.000000.``

### St

[2022-06-17 11:59] niklwors opened #9119 "C-code obfuscation for encrypted Modelica libraries"
### Description

For encrypted Modelica libraries, the C code should be obfuscated.
- Names of protected variables in C code should not be readable and their content should not be traceable. For public variables, obfuscation is not absolutely necessary.
- The comments in the Modelica models should be removed in the C code.
- Furthermore, the C code export should not be possible for FMUs.

### Scre

[2022-06-17 14:18] niklwors opened #9120 "Simulation hangs during initialisation"
### Description

For the model Rexroth_Generic_Test.Hydraulics.Pipes_Hoses.Pipe_TC02 the simulation hangs during initialisiation.
The last log output is:
[code]

### Steps to Reproduce

Load the BRSL package: Rexroth_Generic_Test/package.mo
Simulate the model Rexroth_Generic_Test.Hydraulics.Pipes_Hoses.Pipe_Easy_TC02

### Expected Behavior

### Screenshots

### Version and OS

 - OpenModelica Vers

[2022-06-17 14:21] casella commented on #9114
Thanks @darth for the report!

[2022-06-17 14:22] casella commented on #7776
I agree with @mahge, there is no point shipping stuff that we are not testing and may be broken.

[2022-06-17 14:29] casella commented on #9116
@AnHeuermann would you mind having a quick look? Do you have any idea what is the assertion that might be failing?

[2022-06-17 14:34] casella commented on #7776
@mahge just one thing I'm a bit confused about. It's one thing to build OMC with MSVC, and another thing to use MSVC to compile the simulation executables when you compile a Modelica model with OMC. I understood we were talking about the second option, but maybe you were actually referring to the first.

In that case, I understand those libraries are runtime DLLs needed to run omc.exe or OMEdit.ex

[2022-06-17 14:34] perost commented on #9114
I forgot I wanted to cherry-pick the fix for the 1.19 maintenance branch too so it's included in the next release, I made a PR for it now.

[2022-06-17 14:56] casella commented on #9118
@niklwors this error is likely due to one of two possible causes:
- linear tearing introduces a singularity, see #8935. You can check what happens if you set --tearingMethod=minimalTearing, if the singularity is gone then we have another specimen for the horror museum of #8935.
- unrecognized high-index problem: if the problem has index > 1 but this is not recognized during the analysis phase and

[2022-06-17 15:09] xning opened #9122 "When clicking OpenModelic.internal, the OMEdit reported error "got unknown class""
### Description

[code]

### Steps to Reproduce

Open OMEdit, Click OpenModelica.internal

### Expected Behavior

No error msg

### Screenshots

 - OpenModelica Version: OpenModelica 1.19.1~6-gac35d7d
 - OS: Ubuntu 22.04

[2022-06-17 15:27] casella commented on #9119
@niklwors, @perost has already implemented bulk obfuscation in the frontend some time ago, to support the obfuscated Save Total feature. If I remember correctly, this is what it does:
- change the names of all identifiers
- remove all comments
- remove all documentation annotations

We could apply this transformation selectively when flattening instances of models from encrypted libraries (or inhe

[2022-06-17 17:37] mahge commented on #7776
You are right (?) the libraries built with MSVC now are not needed by `omc` itslef. They are only for simulation time usage when one selects MSVC as the target compiler. However that is probably broken because it has not been used for a long time as far as I know. If anyone is using it actively then we can keep it.

There is, however, a new CMake build that builds everything (omc itself and all th

[2022-06-18 13:23] xning commented on #9122
OpenModelica 1.19.1~7-g0702683
has same issue.

[2022-06-19 15:25] AHaumer opened #9123 "Severe problem compiling models with OPM"
Please consider the library at [https://github.com/AHaumer/FluxTubesExtension](https://github.com/AHaumer/FluxTubesExtension).
All 3 examples compile without any problem in Dymola 2022x.
It is unclear to me why none of the 3 examples can be compiled with OM.

### Screenshots

ShowSoftMagneticCharacteristic.c:161:162: error: passing 'FluxTubesExtension_Material_PiecewiseLinearSoftMagnetic_ESheetI'

[2022-06-19 19:23] adrpo commented on #4829
We had to run the Jenkins slave as a process instead of a service (to have the same session as the user holding the certificate) to be able to automatically sign the installer. The setup process is now changed to use the new certificate.

I also made a script that signs all the .exe files in: https://build.openmodelica.org/omc/builds/windows/ and started it.
It will take a while but we should have

[2022-06-19 20:38] #8211 closed

[2022-06-20 08:41] niklwors commented on #9118
@casella With the translation flag --tearingMethod=minimalTearing the error message is the same.

[2022-06-20 08:44] niklwors commented on #9118
@casella  with the translation flag --tearingMethod=minimalTearing the error message is still there, but the simulation then finishes.

[2022-06-20 09:36] niklwors commented on #9119
@casella  yes this would work for us.

[2022-06-20 09:39] casella commented on #9123
@AHaumer I guess we should add this library of yours to our testsuite, since you eventually plan to merge it into MSL, so we can test it more easily and track what happens while you are developing it. If course it will be classified as "experimental". Is that OK for you?

[2022-06-20 09:42] casella commented on #8211
Wow, @anotheruserofgithub,  very good you managed to get this done! 🚀

[2022-06-20 11:12] AnHeuermann commented on #9116
Apparently the ring buffer is empty and `getRingData()` should not be called.

[code]

[2022-06-20 11:17] sjoelund commented on #4829
Maybe this is why the disk space on the backup ran out again :)

[2022-06-20 11:40] JavierArroyoBastida commented on #9042
Hey @mahge, I've finally spared some time for this. Checked out OM v.19.0. (commit 1b635573bf0f9557562cb50d94b26573b4b3f3c3) in the M1 Mac.
Upon running the proposed commands I got:

[code]

You can find below the CMakeOutput.log and CMakeError.log.
[CMakeOutput.log](https://github.com/OpenModelica/OpenModelica/files/8940242/CMakeOutput.log)
[CMakeError.log](https://github.com/OpenModelica/OpenMod

[2022-06-20 11:44] AnHeuermann commented on #9120
Works for me. Any special simulation or compiler flags?
There are some MSL 4 vs 3.2.3 compability issues though.

[code]

[code]

[2022-06-20 11:46] AnHeuermann commented on #9120
When using MSL 4.0.0 there are some errors, but because `Rexroth_Generic_Test` requested package Modelica of version 3.2.3.

[2022-06-20 11:49] mahge commented on #9042
This has already been fixed in #8916. Are you sure you are on  1b635573bf0f9557562cb50d94b26573b4b3f3c3? It seems to be newer than the fix.

I recommend you try the current master since I have made some fixes for MacOS recently.

[2022-06-20 12:05] casella commented on #9119
@perost do you think this is doable without too much effort on your side?

[2022-06-20 12:11] Mathadon commented on #9042
@mahge I'm helping out @JavierArroyoBastida for a minute. What version of Java does OM need? JDK 8, like JModelica?

[2022-06-20 12:23] mahge commented on #9042
Good question. I am not sure actually. It is whatever java version [antlr v3](https://www.antlr3.org/) requires. I could not figure out what version it is. I am using `openjdk version "11.0.11" 2021-04-20` but I think it should work just fine with JDK 8.

[2022-06-20 12:23] casella commented on #9116
Thanks @AnHeuermann!

Would you mind cherry-picking #9125 for maintenance/v1.19 so it ends in 1.19.2?

[2022-06-20 12:23] AnHeuermann commented on #9120
@niklwors updated the libraries to use MSL 4.0.0. @phannebohm and myself can give it another go, when we get the updated BRSL.

[2022-06-20 12:24] sjoelund commented on #9042
JDK 11 works (that's the default in all current Ubuntu versions); I believe JDK 8 also works and we needed to patch some things to get JDK 11 to run.

[2022-06-20 12:38] Mathadon commented on #9042
Some notes for future reference:

[code]
That's sufficient to finish the configuration stage.

Then we started looking at `make` but that caused some errors. I fixed some of them below:

[code]

but it seems that there are (potentially many) more similar to this since:

[code]

Should we go through these issues or how do we best approach it?

Thanks!

[2022-06-20 13:03] perost commented on #9119
From the dev meeting: Plan is to use the obfuscation module to obfuscate everything before flattening the model and then selectively deobfuscating public variables (because the obfuscation can't distinguish between two different identifiers with the same name, so only obfuscating some parts doesn't work).

As for comments and documentation annotations I think those are already removed by the obfus

[2022-06-20 13:15] mahge commented on #9042
This might be one of those little differences between gcc and AppleClang. Maybe your AppleClang does not like

[code]

and instead wants

[code]

Unfortunately there seems to be a lot of such uses in a few of the 3rdPArty libraries we have (about 456 of them reported by the regex `#if ![^(defined)|( \()]` in 3rdParty/tbb, 3rdParty/FMIL, 3rdParty/gc, ... ) not to mention the ones that combine the s

[2022-06-20 13:20] Mathadon commented on #9042
I checked libffi and they haven't solved it on their end yet.

We could indeed try with gcc to work around that problem.

[2022-06-20 13:24] Mathadon commented on #9042
I'm not sure whether it's that easy since gcc links to clang.
[code]

@JavierArroyoBastida can you `brew install gcc` and give it a shot?

[2022-06-20 13:31] mahge commented on #9042
You can try it. Maybe it uses the gcc preprocessor. That is all we need.

Although it is probably a better idea to have a proper `gcc` from homebrew. Don't forget to install `g++` as well. You can install `gfortran` while you are at it so that we can enable some optional components later.

[2022-06-20 13:43] JavierArroyoBastida commented on #9042
I emptied previous build folder and tried again with the new flags that @mahge has proposed after `brew install gcc`. I got:

[code]

[2022-06-20 13:55] mahge commented on #9042
Searching for the error points to clang errors. There is a lot of these errors around. Are you sure it is using gcc? Just in case. You can check the what CMake says when you run the configure command. It should print something like this

[code]

[2022-06-20 21:18] casella commented on #9119
That's what I remember too.

[2022-06-20 21:20] casella commented on #8772
Fixed in #8981 for 1.20.0 and in #9073 for 1.19.2

[2022-06-20 21:20] #8772 closed

[2022-06-20 21:21] casella commented on #8938
Fixed by #8981 in 1.20.0 and by #9073 in 1.19.2

[2022-06-20 21:21] #8938 closed

[2022-06-20 21:29] casella commented on #8591
Devmeeting discussion: @mahge cleaned up the source code to use modelica_int everywhere. In order to ensure external function compilance, this is then defined as `int`. There is a small drawback, that number above 2^31 cannot be handled in 64-bit systems, but I guess nobody needs that, the only reason to switch to 64-bit is to access more memory for really large models.

There could be some proble

[2022-06-20 22:05] casella commented on #4829
I hope the backup disk space can be restored.

In the meantime I tried the latest nightly and I got a nice message about OpenModelica being kosher.

So, we can finally close this ticket.

[2022-06-20 22:08] adrpo commented on #4829
Not yet done. The program timeouts if the computer is idle for some time and asks for the password again so is not yet working to automate as we want.

[2022-06-21 10:42] AHaumer commented on #9123
With some tests I found that this is related to using parameter records as input to functions.
Somehow it's tedious to use all single parameters instead of a parameter record when calling a function.

[2022-06-21 12:26] niklwors opened #9131 "The simulation of several models has slowed down significantly."
### Description

Due to changes in our BRSL Valves library, the simulation for a large part of the models has slowed down considerably. With the CVode solver, the simulation stops after a short time. With other Modelica tools, however, the simulation time has not changed, both with the Dassl and the CVode solver.
Here is a comparison of the times of BRSL 2.1 and BRSL 2.2 in the current state of de

[2022-06-21 15:49] #7488 closed

[2022-06-21 15:50] niklwors commented on #7488
I think it works fine now

[2022-06-21 15:55] max-privato opened #9132 "Very huge numbers written by OMEdit (regression)"
### Description
I remember something similar being discussed months ago, and some activity is going on in the direction of using good representations of numbers
However, I think this case is so surprising, and potentially easy to solve, that maybe it deserves a fast intervention.

Consider the following model:
[code]

The gain value is a very large number, and every engineer immediately understand

[2022-06-21 15:59] phannebohm commented on #8656
I tried to run `Test1` with `-d=evaluateAllParameters` and found a problem similar to #8953.

First of all I get the error message
[code]

The Integer variable `irradiance.daysOfYear` gets assigned in
[code]
which happens to be 366.000000, actually an invisibly small bit less, so it is rounded down to 365.
From that we set
[code]
 resulting in the inconsistent initialization.

I'm not sure why we

[2022-06-21 18:32] AHaumer commented on #9123
Now I've changed the function inputs from record to single values.
Checked it on Windows 10 64 bit with OM v1.18.0
Two out of the three examples run now, the third fails:

[2] 20:25:32 Translation Error
Internal error Instantiation of FluxTubesExtension.Examples.SaturatedInductor failed with no error message.

[2022-06-21 21:52] casella commented on #9123
@AHaumer, please use the 1.19.0 version of OMC, there are many fixes there compared to 1.18.0.

Anyway, there is no need to adapt your library to work with OMC, we should rather check why it doesn't work with it and fix the compiler. Only if this is really hard for some reason you may consider a workaround.

I'll get you library into the testsuite ASAP, please check [this page](https://libraries.o

[2022-06-21 21:57] casella commented on #9131
OMG, 5.5 million integration steps with 3.9 million rejected steps. I guess you can check which derivative(s) in the simulation is chattering, maybe you are using noEvent on some expression that is actually discontinuous?

[2022-06-22 06:37] AHaumer commented on #9123
@casella I tested with both 1.18.0 and 1.19.0: same behaviour.
Let's split the problem (divide et impera ;-)
- Translation error: that's really annoying since I have no work around
- Usage of records as inputs for functions
For the latter point, I've included a small internal sublibrary named TestRecordFunctionInput in FluxTubesExtension to test this behaviour. So I hope to support the OM develope

[2022-06-22 08:28] casella commented on #9123
@perost, can you please check why `FluxTubesExtension.Examples.SaturatedInductor` fails with the NF at your earliest convenience?

[2022-06-22 08:31] casella commented on #8591
@mahge do you have a tentative date for the merging of the fixes with Modelica_int into master?

[2022-06-22 10:20] mahge commented on #8591
@casella The PR #9064 is now ready. I had to double check the failing tests to make sure there are no surprises. We can merge it and hopefully everything goes fine. If not we can come back to it and see if there are any alternatives.

[2022-06-22 11:23] adeas31 commented on #4645
https://trac.openmodelica.org/OpenModelica/ticket/4645

[2022-06-22 13:36] casella commented on #9123
Thanks @perost! @AHaumer please try with tomorrow's nightly build. If this works well, we could back-port it to 1.19.2 as well.

[2022-06-23 07:50] adrpo commented on #4829
It works now to automatically sign the nightly-builds. Had to put the screen off timeout to never in the power options but now it works fine.

[2022-06-23 07:50] #4829 closed

[2022-06-23 12:44] phannebohm commented on #8026
Thanks, this is playing into my hands. This kind of analysis will become easy once I built the backend part of the eval-graph discussed in #8973. I'll start right away in the new backend and then we'll see how fast we can port it to the old backend, no estimates yet.

Actually, in the new backend this is solved partially by pre-opt alias removal since `y` is a (scaled) alias of `p`. Unfortunately

[2022-06-23 18:36] casella commented on #8026
Thanks @phannebohm, so it seems that by 2023 at the latest we should have something working.

[2022-06-23 18:44] AHaumer commented on #9123
@christiankral tested with nightly build on Linux - all 3 exa,ples simulate - excellent - thanks @perost and @casella !

What's left: Usage of records as inputs for functions as shown in FluxTubesExtension.TestRecordFunctionInput.
This would make the functions really handsome.

[2022-06-23 21:22] casella commented on #8026
I'm sure that the Gauss elimination with the scharfes s will be even more efficient 😉

[2022-06-23 21:28] casella commented on #9123
OK, as soon as the testsuite is up and running with your library, @perost and  @mahge can give a quick look at `FluxTubesExtension.TestRecordFunctionInput` and report.

1.19.2 is ready to be built on the maintenance/v1.19 branch. You'll get that anytime soon.

[2022-06-23 21:38] #8777 closed

[2022-06-24 06:11] AHaumer commented on #9123
Thanks a lot!
BTW, `annotation(choicesAllMatching=true)` is used for the parameter record of material data (already used in MSL).
For which release is planned to have this feature (choose a material by drop-down) working?
Do I remember correctly that this was enabled in previous versions by setting an option?

[2022-06-24 06:57] bilderbuchi commented on #9123
`choicesAllMatching` is only [supposed to work ](https://specification.modelica.org/master/inheritance-modification-and-redeclaration.html#annotation-choices-for-suggested-redeclarations-and-modifications)for `replaceable` components, no? The material record things I found on a quick skim of `Modelica.Magnetic` were all not replaceable.

[2022-06-24 08:12] bilderbuchi opened #9140 "Weird event interaction in simple boolean comparison"
### Description

On [Stackoverflow ](https://stackoverflow.com/questions/72723947)someone reported the `<=` operator being broken in surprising ways. I extracted the following MWE:
[code]

`state1` should be True from time=1..3, when `f` has the value `threshold`.

Using OM 1.19.0/Win10, I instead see
![image](https://user-images.githubusercontent.com/327442/175493715-2f1cf916-e1e6-4f17-b950-e874f

[2022-06-24 09:09] leo603222 commented on #9140
Change target language to CPP will be fine.
I think this something wrong to C generator.

[2022-06-24 13:29] casella commented on #9123
Support of `choicesAllMatching` is implemented since 1.17 (optionally activated, still a bit experimental) and available by default since 1.18.0. It works well in non-trivial cases, e.g. Modelica.Media.

As @bilderbuchi pointed out, it only works for replaceable classes or components.

What is still missing is the ability to change parameter values for parameters that are specific of the redeclare

[2022-06-24 14:34] AHaumer commented on #9123
Ok. I'll try to deckare the base parameter record instance as replaceable.
Up to now, why should I do this? In Dymola it works: The drop-down fills in a record constructor with the choosen record.

[2022-06-24 15:12] AHaumer commented on #9123
Shame on me, you're right. With "replaceable" it works in OM, but the mechanism seems to be different:
Without replaceable Dymola inserts:
`material=FluxTubesExtension.Material.PiecewiseLinearSoftMagnetic.ESheetI()`
With replacable Dymola and OM insert:
`redeclare FluxTubesExtension.Material.PiecewiseLinearSoftMagnetic.ESheetI material`
I wonder whether both are standard conform, and which one is

[2022-06-24 18:22] casella commented on #9123
The specification in [Section 7.3.3](https://specification.modelica.org/maint/3.5/inheritance-modification-and-redeclaration.html#restrictions-on-redeclarations) is very clear:

If you follow the language specification (as we try to do), there is no point at providing a drop-down menu of possible classes that you can use for a redeclare clause, if that is not allowed in the first place.

Maybe Dym

[2022-06-24 20:05] perost commented on #9123
@casella: If I understand it correctly it seems like if there's no redeclare, then Dymola just gives choices for adding a modifier with a call to a constructor of a compatible record type instead (probably just any record extending from the base record).

So it's not that they allow redeclaring something that's not replaceable, but that they have extended `choicesAllMatching` to also apply when mo

[2022-06-25 07:20] AHaumer commented on #9123
Thanks @casella and @perost for the explanation, I'm not the specialist in language issues, only using the language.
Shouldn't we shift your latest two comments to MAP language?

[2022-06-25 11:11] casella commented on #9123
Yeah, that's what I understood later by looking more carefully at @AHaumer's post, I also wanted to comment about that, but it was too late to do it.

In fact, Dymola's implementation may also be somehow compliant to [Section 7.3.4](https://specification.modelica.org/maint/3.5/inheritance-modification-and-redeclaration.html#restrictions-on-redeclarations), which says

So, the `choices` annotation

[2022-06-25 11:23] perost commented on #9123
The current behaviour for `choicesAllMatching` involves constraining classes though, so the reason to not apply it to non-replaceable elements is simply that there's no specified semantics for it currently.

The instance-based API won't really help here since it's not a question of querying an instance but rather searching for classes that fulfill a certain criteria, but the current `choicesAllMat

[2022-06-25 11:32] casella commented on #9123
Let's see how the discussion in [#3210](https://github.com/modelica/ModelicaSpecification/issues/3210) unfolds and then we can take a decision.

[2022-06-25 17:48] xning opened #9144 "@sjoelund"
@sjoelund

And No desktop config files found, like OMNotebook.desktop, OMShell.desktop

Icons for program OMNotebook, OMEdit, OMShell and OMShell-terminal are not found in  the nightly building version openmodelica package. I copied from the stable version package.

_Originally posted by @xning in https://github.com/OpenModelica/OpenModelica/issues/8982#issuecomment-1153385615_

[2022-06-26 10:45] mahge opened #9145 "Fix configuration and build for MacOS"
There are a couple of issues that need to be fixed to get MacOS support back on track. These are listed here

## Issues that are caused by OpenModelica configuration:
- [x] macOS BUNDLEs should be installed in `Applications/` folder instead of `bin/` folder.

   - Install macOS BUNDLEs to an `Applications/` directory instead of `bin/`

  Fixed in #9155.

- [x] OpenScenGraph include directories.

[2022-06-26 10:53] mahge commented on #9145
@Mathadon @JavierArroyoBastida for reference.

[2022-06-26 16:44] casella commented on #9059
@perost how much time would it take to introduce a flag `--allowNonStandardModelica=allowProtectedAccess`?

[2022-06-27 07:51] perost commented on #9059
A few minutes once I remember to actually do it. I shortened the flag to just `--allowNonStandardModelica=protectedAccess` though, since "allow" is already part of the flag name.

[2022-06-27 09:33] perost commented on #9123
It fails because the generated code has some issues, it tries to subtract one array from another using the `-` operator instead of the appropriate array function. Something for @mahge to look into perhaps?

[2022-06-27 09:35] perost commented on #9123
#9147 backports #9135 to the 1.19 maintenance branch.

[2022-06-27 10:37] Mathadon commented on #9059
@perost I presume that this flag has to be added to the unit tests by @casella and that it's not part of an IDEAS library annotation or something like hat?

[2022-06-27 10:50] perost commented on #9059
I guess there are two options: add the flag to the library testing for IDEAS or add `__OpenModelica_commandLineOptions` annotations to only the affected models. Turning off the check for the whole library is perhaps easiest but has the disadvantage that it allows introducing unintentional errors in the library.

[2022-06-27 10:57] casella commented on #9059
Thanks @perost!

@Mathadon this is up to you. I can set that flag in the setup of the IDEAS library test on our CI infrastructure (hopefully without breaking it again 😅 ). But then, if you run the model on your PC and that flag is not set, it won't work, which could be annoying.

Alternatively, we can set the flag in a [vendor annotation](https://openmodelica.org/doc/OpenModelicaUsersGuide/latest/

[2022-06-27 11:00] Mathadon commented on #9059
@casella I prefer to use the vendor annotation. I'll add the myself but if this change is urgent then I don't mind a pull request either since I'm quite busy until my holidays next week!

[2022-06-27 11:07] perost commented on #9123
It looks like e.g. `SaturatedInductor` does have an `experiment`-annotation, so I'm not sure why it's not picked up. I'll see if I can find out.

[2022-06-27 11:14] perost commented on #9123
Sorry, `SaturatedInductor` is of course one of the two we do test. Other models also have `experiment`-annotations, but they're not picked up because they lack a `StopTime`. There's no default `StopTime`, so you need to set it for models that you want to be tested.

[2022-06-27 12:06] #9122 closed

[2022-06-27 12:12] casella commented on #9009
See #9038.

[2022-06-27 12:12] mahge commented on #9029
@fedetftpolimi How is it going? Does it work as expected now? If so I think we should port the changes to our maintenance branch so that we can have it on the next release. And then we can close this.

[2022-06-27 15:12] casella commented on #9029
@mahge I have to arrange a meeting with @fedetftpolimi, because I have the Windows machine, but he know exactly what I should test. We'll do that ASAP.

[2022-06-27 17:25] AHaumer commented on #9123
Sorry I forgot ... now all examples are provided with StopTime.
Pls. bear in mind, important are the 3 in FluxTubesExtension.Examples.
FluxTubesExtension.TestRecordFunctionInput.Examples is the problem using records as function inputs.

[2022-06-27 18:05] casella commented on #9029
@mahge, we checked that symbols are correctly exported. Unfortunately we can't yet use this solution because it doesn't work in Dymola, but at least we have a demo implementation for our proposal to the MAP_LANG group.

Please cherry pick to maintenance/v1.19 and close the ticket.

Thanks!

[2022-06-27 18:26] mahge commented on #9029
I was afraid that might not work. The Dymola people are probably not so keen on exposing the internals of their system. Unless, of course, you support it with some official proposal. Good luck.

I will port this and close it.

[2022-06-27 18:57] casella commented on #9029
It's not internals, it's the functions defined in Modelica.Utilities. That's standard stuff.

Will do, thanks! 😄

[2022-06-27 19:08] hkiel commented on #9145
I guess installation dir of the applications should be changed for macOS. They are now installed in e.g. `build_cmake/install_cmake/bin/OMPlot.app`, but should be in `build_cmake/install_cmake/Applications/OMPlot.app` like for the old GNU make build `build/Applications/OMPlot.app`.

[2022-06-27 19:43] mahge commented on #9145
That is okay with me. You know better about it than I do. I will fix it.

[2022-06-28 05:53] bilderbuchi commented on #9140
Thank you for the workaround! I can confirm that the switch to CPP avoids the issue.
Any deeper idea what could be going wrong in the C generator?

[2022-06-28 10:02] mahge commented on #9145
@hkiel The installation should be fixed #9155. Please check if everything is as it should be when you can.

[2022-06-28 11:15] casella commented on #9140
@AnHeuermann, @phannebohm, would you mind having a quick look? This may also affect other models as well.

Thanks!

[2022-06-28 14:39] niklwors commented on #9131
@casella  @sbaetzing  The variable that is chattering now is Rexroth_Valves.Internal.Templates.Blocks.PT1Variable.der(y)
For the PT1Variable class, an MSL second order class was previously used instead. In the new class PT1Variable, T1 is a variable now  before it was a parameter.

[2022-06-28 21:02] casella commented on #9123
@mahge, the [FluxTubesExtension.Examples.SaturatedInductor](https://libraries.openmodelica.org/branches/master/FluxTubesExtension/files/FluxTubesExtension_FluxTubesExtension.TestRecordFunctionInput.Examples.ShowSoftMagneticCharacteristic.err) test failure log is now available also on Jenkins. Please have a look at your earliest convenience.

[2022-06-28 21:39] casella commented on #9131
Very good, this allows to pinpoint the root cause easily.

I don't have the model at hand, but I guess T1 is actually time-varying, possibly because of some gain-scheduling control. Is it also chattering? I'm also a bit confused, isn't a PT1 block meant to be a first-order system with transfer function mu/(1+sT1) ?

[2022-06-28 21:47] mahge commented on #9123
I did not notice you mentioned me in this earlier. I will take a look. It looks like a scalar subtraction expression is created for array operands by the backend (they are different `SUB` vs `SUB_ARR`). I will try and see if I can find out where it is coming from.

[2022-06-29 06:22] bilderbuchi commented on #9140
Ah, so it _is_ a floating point issue after all?

I know, that's why I modified the initial example to use the same variable `threshold` instead of multiple float literals. `state1` should then trigger as `state1 = (threshold <= threshold)`, which should work despite floating-point arithmetic, no?

[2022-06-29 07:14] niklwors commented on #9131
Sorry, a first order component was used before.

[2022-06-29 07:25] niklwors commented on #9131
T1 is not chattering

[2022-06-29 07:35] matteodepascali opened #9160 "Error message "instantiation failed with no error" when missing parameter modification"
### Description
Instantiating a model missing a required parameter modification outputs the error message:
"Internal error Instantiation of <*model name*> failed with no error message."

### Steps to reproduce
In the attached file, obtained through save total command,  the model *SourceJustPressure* can't be instantiated because of a missing parameter modification for the instance *flange*. The re

[2022-06-29 08:14] perost commented on #9160
Instantiating the model gives the expected error message:
[code]
However, when checking the model this error message is suppressed for some reason. Checking is a bit more permissive, but perhaps it's being too permissive in this case.

[2022-06-29 08:46] perost commented on #9160
The issue turned out to be that the connector balance check expected all dimensions to be evaluated and failed otherwise. For now I just turned off the check in that case, but it might be possible to handle it better by e.g. doing the check symbolically instead. But that's not exactly trivial, so for now we have to settle for just not failing.

[2022-06-29 09:01] casella commented on #9131
@niklwors I got the model from Adrian, I'll look at it ASAP, later this week if I manage.

[2022-06-29 09:10] #9160 closed

[2022-06-29 09:30] casella commented on #9160
@perost, in fact in OMEdit we got the "no error message" thing also when trying to simulate, not only when checking. So we were a bit clueless, until we figured out we forgot a modifier to set the size of the array on the connector.

Does you fix address that?

[2022-06-29 09:37] perost commented on #9160
I can't reproduce that, in that case I just get the same error message as when instantiating the model. The frontend does nothing different when simulating compared to just flattening the model.

[2022-06-29 09:47] matteodepascali commented on #9160
I can confirm that I have the same error message @perost is getting when simulating: @casella, we might have confused which message was given in the various trials we made to understand the issue.

[2022-06-29 12:52] bilderbuchi commented on #9140
Thank you for the clarification/illustration!
I have to say that the initial example did not come from me, but from some person on the internet (see link in the OP). It also puzzled me and I tried to put it into an MWE.

From my side the matter is clarified with "don't write Modelica like that". You can either keep the issue open to follow up on the machine epsilon question, or close it as you see

[2022-06-29 12:55] AnHeuermann opened #9164 "Memory leaks in input_xml parsing"
### Description

Memory allocated in [`addHashStringString` ](https://github.com/OpenModelica/OpenModelica/blob/master/OMCompiler/SimulationRuntime/c/simulation/simulation_input_xml.c)is not freed.

[code]

### Additional Context

Output from Valgrind:

[code]

### Version and OS

 - OpenModelica Version: v1.20.0-dev-479-gb0b3e4c053
 - OS: Ubuntu Focal

[2022-06-29 13:20] casella commented on #9140
I guess we can close it for the time being. My take is that the fact that it works with the cpp runtime and not with the C runtime is purely by chance. If the original author on stackoverflow wants to reopen it with some argument, he or she is free to do that 😃

[2022-06-29 13:20] #9140 closed

[2022-06-29 14:06] niklwors opened #9167 "getModelInstance returns empty string"
### Description

For models of the BRSL library the getModelInstance function returns an empty string.
e.g for the model SingleRodCylinder getErrorString returns:
```BDP_BRSL_ModelicaLibraries/Rexroth_Generic/Hydraulics/Interfaces/ComponentNeedsFluidProperties.mo:16:3-16:46:writable] Warning: The model can't be instantiated due to top-level outer element ‘bRSL_World‘, it may only be used as part o

[2022-06-29 15:22] perost commented on #9167
I couldn't reproduce the issue with the old version of BRSL that I had, I still got the warnings for the missing inner element but the dumping worked anyway. I've got access to the version on the dev server now though, so I'll check that out tomorrow.

[2022-06-29 22:22] casella opened #9168 "Wrong generated code in 1.19.2"
While testing #8938 in the 1.19.2 release, I found that running `Modelica.Mechanics.MultiBody.Examples.Loops.PlanarLoops_analytic` generates broken C code:

PlanarLoops_analytic_02nls.c:50:47: error: invalid operands to binary expression ('real_array' (aka 'struct base_array_s') and 'double')
  }res[0] = sub_alloc_real_array(tmp0, (tmp1) * (sqrt(tmp4)));
[code]

[2022-06-29 22:37] perost commented on #9168
The library testing says the model [works fine](https://libraries.openmodelica.org/branches/master/Modelica_4.0.0/files/Modelica_4.0.0_Modelica.Mechanics.MultiBody.Examples.Loops.PlanarLoops_analytic.sim) though, so perhaps you're using some flag or something that influences it? But it still shouldn't happen of course.

[2022-06-29 22:42] mahge commented on #9168
If you have checked the generated code, did you by any chance see some variables named `$cse* around the faulty code? I am investigating #9123 and the issues look similar. Something might have changed in how we handle Common Subexpression Elimination. It is generating some invalid types.

[2022-06-29 22:47] mahge commented on #9168
Maybe @casella is using something built from the maintenance branch? Maybe something is incomplete there.

[2022-06-29 22:50] mahge commented on #9168
Yup it is [broken in 1.19](https://libraries.openmodelica.org/branches/v1.19/Modelica_4.0.0/files/Modelica_4.0.0_Modelica.Mechanics.MultiBody.Examples.Loops.PlanarLoops_analytic.err)

[2022-06-30 07:47] Mathadon commented on #9059
This has been added in https://github.com/open-ideas/IDEAS/commit/cbd1414602b65f5f02ab8203417726be51ea478c

[2022-06-30 11:56] perost commented on #9167
It turns out that the issue didn't have anything to do with inner/outer but was caused by some annotations referring to nonexistent variables in the model. I guess this isn't normally caught by the compiler but caused issues in this case since `getModelInstance` actually instantiates annotations.

Now you might get annotations such as:
[code]
So you might want to have a look at these errors and fi

[2022-06-30 12:16] mahge commented on #9145
The last remaining issue (`GLDEBUGPROC is undefined in Qt's qopenglextrafunctions.h`) has been fixed in #9170. There is also a small improvement #9171 for those of you without boost.

Hopefully everything should work out of the box for both `x86_64` and `arm64` `macOS` now.

Please update your sources to master and test when you are able to do so. If there are no more issues we can then close this

[2022-06-30 12:31] mahge commented on #9029
This is going to bring a lot of other commits with it and that is going to be problematic to do smoothly.  How bad do you want this in the maintenance/v1.19? Maybe we can leave it for the next one.

[2022-06-30 19:01] casella commented on #9168
Of course 1.19.2 is taken from the maintenance branch. The master version is fine, and the nighly builds work fine as well. I guess there is some missing cherry-picked commit in the maintenance branch. I'm not sure if this has always been the case with maintenance/v1.19, or if it is a regression introduced at some point. @mahge could you carry out some bisection on that branch? It shouldn't take l

[2022-06-30 19:05] #9029 closed

[2022-07-01 13:06] niklwors opened #9175 "Wrong generated C- file names"
### Description
For some models there is an error that a file cannot be found by gcc.
The error is:
``` [model name]bnd_part0: file not recognized: file format not recognized```
It is probably because the suffix ".c" is missing,

### Steps to Reproduce

### Expected Behavior

### Screenshots

### Version and OS

 - OpenModelica Version: v1.20.0-dev-173-g78ef84d254
 - OS: Windows 10, 64 bit
 - Vers

[2022-07-01 13:11] niklwors opened #9176 "Initialisation file ***_init.xml is invalid"
### Description

Currently the intialisation xml files are no longer read when starting the simulation.
 E.g. for model: ```Modelica.Blocks.Examples.PID_Controller```
The error is:
```simulation_input_xml.c: Error: failed to read the XML file Modelica.Blocks.Examples.PID_Controller/PID_Controller_init.xml: not well-formed (invalid token) at line 1325```

### Steps to Reproduce

### Expected Behavi

[2022-07-01 14:47] casella opened #9177 "Redeclarations lose the flow prefix"
Please check the following MWE

[code]
When trying to simulate System, the following error is obtained:
[code]
We understand this happens because the flow prefix is lost when redeclaring the flow variable type.

This pattern is a bit unusual, but is used by OSMC member Metroscope in their library, and is apparently OK with the Specification.

@perost can you please fix that?

Keeping @AndreaBartol

[2022-07-01 14:53] casella opened #9178 "Lost redeclaration in the NF"
@perost, try to simulate the save total we just sent you. We get something like
[code]
From our understanding, the Medium package in the source component and the Medium package in its outlet connector should both be redeclared to non-partial. For some reason, one of the two redeclares is lost.

[2022-07-01 16:19] perost commented on #9178
I can't find any redeclare of the `Medium` package in the outlet connector, so unless I'm missing something it looks like the error is correct. If I add e.g. `redeclare Medium = Medium` to `C_out` in `FluidSource` and `C_in` in `FluidSink` then the model works as expected.

[2022-07-01 17:21] JavierArroyoBastida commented on #9145
I have updated the sources to the current master and could build and install just out of the box now. Thanks a lot @mahge!

[2022-07-01 18:37] JavierArroyoBastida opened #9180 "OMEdit closes when simulating simple models of the MSL."
### Description
OMEdit closes when simulating simple models of the MSL in MacOS with ARM. These models can be successfully be built only, but not simulate.

### Steps to reproduce
I have installed OM in MacOS with ARM from the latest source as in e8d0d2d92344b976a324c811671968516b39e83d and following https://github.com/OpenModelica/OpenModelica/discussions/9129. Summarizing, the steps were:
[code]

[2022-07-01 22:48] casella commented on #9178
As I understand it, the Source model redeclares the outlet connector C_out to WaterSteam.Connectors.Outlet, which is defined as
[code]
the redeclare statement for Medium is in the extends clause. Shouldn't that be enough?

[2022-07-02 17:31] casella commented on #9168
@mahge, I also tested the original test case of #8772
[code]
and I get broken C code
[code]
That's a bit weird, this model is supposed to only need three assignments in the right sequence to initialize the parameters, why on Earth are there problems on the nls.c file?

I guess something very basic was broken on the maintenance branch at some point.

[2022-07-02 17:53] mahge commented on #9145
@JavierArroyoBastida Glad it worked. Thank you for taking the time and helping with the debugging.

[2022-07-02 17:53] #9145 closed

[2022-07-02 18:19] mahge commented on #9180
I can not reproduce this using the script you have provided. Are you sure this happens with the script? or is it just when you try to simulate through OMEdit?

Looking at the error message you have,  it is unusual for this to happen for some models only. Maybe you actually have an existing folder named exactly `Modelica.Blocks.Examples.PID_Controller` in your working directory. If so please move i

[2022-07-02 19:06] mahge commented on #9168
I think #8933 is missing. It should have been ported when #8981 was ported in #9073. Adding the commit from #8933 fixes this issue for me.

We need to be extra careful with this cherry-picks and pay attention to the regression tests. Otherwise it is very easy to have broken branches and it will be very hard to localize the issue. I think this would have been difficult to find it you have not notic

[2022-07-02 19:16] mahge commented on #9168
I will port #8933 to maintenance.

[2022-07-02 22:44] casella commented on #9168
Absolutely. Only critical bug fixes. #8938 was a big deal.

Indeed. Even though somebody else would have found out, eventually 😅

In fact, I am personally testing that everything we claim works in a bugfix version actually does. St. Thomas' style 😄

[2022-07-03 14:38] casella opened #9182 "Implement regression testing on maintenance releases"
#9168 shows how easy it is to introduce bugs in maintenance releases because of incomplete cherry-picks. Unfortunately we are not testing maintenance versions systematically during development, as we do for the master branch.

In that specific case we were lucky because the bug affected some other bugs that were expected to be fixed in 1.19.2, so I caught it by chance.

We need to be able to do re

[2022-07-03 14:40] casella commented on #9168
On a second thought, I couldn't agree more. The question is: do we have regression reports for the maintenance branches? I'm afraid we don't. @mahge I opened #9182 on that topic, if we already do that please let me know.

[2022-07-03 16:02] casella opened #9183 "OMC cannot initialize the Nordic44 models from OpenIPSL"
OMC currently segfaults when solving the initial equations of [OpenIPSL.Examples.DAEMode.N44_Base_Case_Systems.Nordic44_Base_Case_StateEvents](https://libraries.openmodelica.org/branches/master/OpenIPSL/files/OpenIPSL_OpenIPSL.Examples.DAEMode.N44_Base_Case_Systems.Nordic44_Base_Case_StateEvents.sim) on Linux.

With previous versions (e.g. 1.18.0), the same model [timed out](https://libraries.open

[2022-07-03 23:51] adrpo commented on #9176
I can reproduce this. We are missing a quote for `aliasVariableId`:
`aliasVariableId="128 classIndex = "0" classType = "rAli"   isProtected = "false"`
I'll see how to fix this.

[2022-07-04 07:58] AnHeuermann commented on #9120
Sorry, I don't have the time at the moment to check on this. I have to focus on a different project at the moment.

[2022-07-04 10:53] JavierArroyoBastida commented on #9180
That was the problem with the script. It now runs fine after deleting the existing folder. Outcome is:
[code]

However, they seem to be separate issues since I still have OMEdit crashing when simulating some models. I do not think I can work out a minimal working example since it seems related to the GUI. I'm playing around with some of the models in the `Modelica.Blocks.Examples` and I'm finding

[2022-07-04 12:12] adrpo opened #9188 "MM stringAppend concatenation fails in some cases"
### Description

See #9185 and #9176

### Steps to Reproduce

Revert #9185 and then try to build the Modelica model in #9176 in OMEdit as it doesn't happen in omc.
I suspect the problem is happening because of #9064.

### Expected Behavior

String concatenation should just work.

### Version and OS

Windows 10 64bit.

[2022-07-04 12:23] AnHeuermann commented on #9183
Here's a stack trace by gbd

[code]

[2022-07-04 12:56] adrpo commented on #9188
This seems to affect also the package manager and the way version numbers are shown in OMEdit.
Instead of getting `4.0.0` we get `4` only.

Of course this is an issue only on 64bit Windows as on 64bit Linux size of `int` is 64bit as it should.

[2022-07-04 12:57] adrpo commented on #9188
I will revert #9064 on my computer and see if that fixes the issues we are having.

[2022-07-04 13:03] AnHeuermann opened #9191 "Deprecate non-working ODE solvers"
### Description

There are some ODE solvers that are simply not working or not used or will be replaced by GBODE (see https://github.com/OpenModelica/OpenModelica/pull/9143).
We should deprecate them for 1.20 and remove them in 1.21.

These solvers would be repalced by gbode:

  - heun
  - rungekutta
  - trapezoid
  - imprungekutta
  - irksco
  - rungekuttassc

What about symSolver and symSolverSs

[2022-07-04 16:53] adrpo commented on #9188
The single digits versions are fixed after reverting:
![image](https://user-images.githubusercontent.com/4192979/177195009-34e00c00-1875-431d-80c6-86aca7da142a.png)

[2022-07-04 16:59] adrpo commented on #9188
The revert also fixes the concatenation issue #9188 and #9176.

[2022-07-04 17:00] adrpo commented on #9188
What should we do about it? Just revert it for now and fix it when @mahge comes back?

[2022-07-04 17:11] adrpo commented on #9175
I could 1000% bet this is the same as #9188

[2022-07-04 17:13] mahge commented on #9188
Of course. Just revert it. It was a hopeful attempt anyway. I will check if there is a way around it later but for now absolutely revert it.

[2022-07-04 17:23] adrpo commented on #9188
Of course for systems with sizeof(int) == sizeof(void*) we don't need any fix. I think for the other systems we should just make sure that we generate Modelica (an not MetaModelica) records with 32bit Integers even if we by default have 64bit Integers. I'm not sure if that is possible but is something we could try.

[2022-07-04 17:24] adrpo commented on #9188
OK. I will revert 9064 now.

[2022-07-04 17:38] adrpo commented on #9182
Of course we do, see https://libraries.openmodelica.org/branches/history/v1.19/00_history.html.

[2022-07-04 18:03] #9188 closed, assigned to adrpo, casella, mahge

[2022-07-04 20:13] casella commented on #8591
@mahge unfortunately we had to revert #9064 as it caused many other issues on Windows 64 bits, since Windows interprets "int" as 32 bits in that case.

I guess we'll need some alternative 😅

[2022-07-04 20:20] casella commented on #9188
Looks like the easiest way to stay compatible with external C functions. The other approach is to catch calls to/from external C functions and convert it on the fly. Maybe this is possible by simply putting appropriate cast operators in the generated C code?

[2022-07-04 20:33] casella commented on #9191
qss was an early attempt at implementing a QSS solver in OpenModelica. Which is something we should have, but I never managed to get ignition temperature on this task 😅 .

Rungekuttassc is an interesting algorithm. It was devised by Anton Novikov, a researcher from the Siberian Federal University, who presented it at the 2016 EUROSIM conference. As I understand, they are particular Runge-Kutta alg

[2022-07-04 20:34] casella commented on #9191
Here is the link to Anton's paper: http://dx.doi.org/10.3384/ecp17142979

[2022-07-04 20:39] adrpo commented on #9188
I think Modelica spec should define a header with Modelica C types for all the Modelica basic types that users can use in their external libs. That way there would be no size conflicts and alignment issues (or at least less of it).

[2022-07-04 20:47] casella commented on #9182
Aha, I never ventured down that rabbit hole in the the file system of libraries.openmodelica.org 😅

And indeed there it was: https://libraries.openmodelica.org/branches/history/v1.19/2022-06-08%2023:15:49..2022-06-10%2022:19:56.html

Thanks @adrpo!

[2022-07-04 20:47] #9182 closed

[2022-07-04 20:49] casella commented on #9182
@mahge https://libraries.openmodelica.org/branches/history/v1.19/2022-06-08%2023:15:49..2022-06-10%2022:19:56.html shows that you indeed spotted the right cause for #9168

[2022-07-04 20:50] casella commented on #9188
We can make a proposal for that. But then, how should these C types actually be defined? What would be the definition of modelica_int?

[2022-07-04 20:57] adrpo commented on #9188
It doesn't really matter as long as they are used at the interface instead of other types.

This can be discussed in the MDM.

[2022-07-04 21:00] perost commented on #9188
Does that really solve anything? We'd still have the issue that we need to actually use the specified types instead of our own.

[2022-07-04 21:06] perost commented on #9188
I guess the issue might be that if we generate records with Modelica types then we could get issues when doing operations that mix our types with Modelica types. Converting to and from the correct types when calling external functions would be the cleanest solution and something we already do for arrays, but records are of course more complicated.

[2022-07-05 09:20] perost commented on #9178
It seems I was looking at the wrong redeclare, the error message threw me off a bit. The issue wasn't that the redeclare wasn't applied, it was that we checked for partial classes inside of the original components that were being redeclared. I'm not actually sure what makes this model so unique, it looks like a typical fluid model, but the issue should be fixed in #9196.

[2022-07-05 09:44] mahge commented on #8591
No problem 🙂 It was not meant to be. It was actually surprising that it worked for as much as it did. It is not theoretically impossible but I did not expect it to work at first. We at least know exactly what would break if we ever need to do it again. I hope not.

We will go with the alternative. With some help from the NF in finding these records, I think we can do it without having to traverse

[2022-07-05 10:06] mahge commented on #9182
I went looking and found that after you mentioned we did not have it. But then could not update you for a while.

That helps but solves only half the problem though. We still have to figure out what is missing and that is not always as straightforward as just bisecting.  You can bisect and rebase and resolve and bisect .... but it can get complicated and frustrating quickly. Of course, it gets eas

[2022-07-05 10:19] casella commented on #8591
Nondum matura est! (it is not yet ripe) 😄

[2022-07-05 10:21] casella commented on #9182
I agree we need to be very picky. From this point of view, I'm in favour of releasing 1.20.0 early, with whatever we have in it, rather than waiting for features that may not be showing up for many months. Let's realign with the 6-months release schedule.

[2022-07-05 12:19] AnHeuermann commented on #9036
I have a new example that should work but won't with PR #9186:

[code]

@kabdelhak Do you have an idea what is missing in your PR?

[2022-07-05 13:02] AnHeuermann commented on #9183
Now it is not a segmentation fault any more:
[code]

[2022-07-05 13:31] manoet opened #9197 "CS FMU generated by OpenModelica are licensed as GPL3"
### Description
When a CoSimulation FMU is exported from OpenModelica some of the source files are licensed as either GPL3 or OSMC-PL (which is basically equivalent to GPL3 to whoever is not member of the consortium). This has the obvious implication that every CoSimulation FMU generated using OpenModelica is licensed as GPL3 software.

### Steps to reproduce
1. Load the BouncingBall example distr

[2022-07-05 14:41] bilderbuchi commented on #9197
See the closely related issue #5154 (originally from [here](https://trac.openmodelica.org/OpenModelica/ticket/5154)) and same issue for files not necessarily connected to FMUs: #7612.

[2022-07-05 21:23] casella commented on #9183
Thanks @AnHeuermann. In my experience this kind of error often corresponds to a singular Jacobian. Whether this is due to bad start values or to structural issues in the backend, I couldn't say now.

I guess I should try to dump the Jacoban and analyze it, looking at its nullspace. Is that possible?

[2022-07-05 23:17] casella commented on #8772
Works fine in 1.19.2-dev.beta2

[2022-07-05 23:19] casella commented on #8777
Works fine in 1.19.2-dev.beta2.

[2022-07-05 23:25] casella commented on #9116
Works fine in 1.19.2-dev.beta2.

[2022-07-05 23:27] casella commented on #8938
Works fine in 1.19.2-dev.beta2.

[2022-07-05 23:29] casella commented on #9114
Works fine in 1.19.2-dev.beta2

[2022-07-05 23:32] casella commented on #9071
Works fine in 1.19.2-dev.beta2.

[2022-07-05 23:34] casella commented on #9101
Works fine in 1.19.2-dev.beta2.

[2022-07-06 07:22] casella commented on #8211
@adrpo, I just ran `Modelica.Mechanics.MultiBody.Examples.Elementary.ForceAndTorque` in 1.19.2-dev.beta2 as suggested, but I cannot see the Vector visualizers. Did something go wrong here?

[2022-07-06 07:33] manoet commented on #9197
@casella sure, no hurry. Thank you

[2022-07-06 07:55] quorx commented on #8938
Thank you!

Bob

On Wed, 6 Jul 2022 at 00:27, Francesco Casella ***@***.***>
wrote:

[2022-07-06 08:17] casella commented on #8938
Thanks for reporting 😄

[2022-07-06 13:33] casella commented on #8211
@adeas31 I see that you cherry-picked @anotheruserofgithub's commits 6799905, ba864fe, and d2a23be onto the maintenance branch on Jul 20. Unfortunately the new feature works fine in v1.20.0-dev-198-g460088d7d1, but it doesn't work (at least on my Windows 10 PC) in 1.19.2-beta2.

Can you please double-check? It would be nice to also get this in 1.19.2, but only if it is straightforward to do so, ot

[2022-07-06 13:36] perost commented on #8211
@casella: Those cherry-picks were later reverted, see the discussion in #9127.

[2022-07-06 13:46] casella commented on #9178
@perost, the redeclaration is no longer lost. If we check the `Tests.WaterSteam.Pipes.Pipe_direct` model, the check is successful. However, when trying to simulate it with OMEdit, we get
[code]
This is weird, because element `Q` is of course not contained in class `Connectors`, but rather in class `Connectors.FluidOutlet`, which extends `Connectors.FluidPort`, which includes element `Q`.

[2022-07-06 13:47] casella commented on #9178
Adding @AndreaBartolini to the loop

[2022-07-06 14:30] perost commented on #9178
With the new total model I can replicate the issue. The difference is that the `Connectors` package is declared as `partial` in the new model, which somehow causes some issues somewhere. The cause seems to be similar to the one I fixed, that we check for partial elements while instantiating the original component. But I will need to create a minimal example to be able to pinpoint the exact issue.

[2022-07-06 14:38] perost commented on #9178
Yes, I'm just pointing out what the difference between the models is.

It's fine, I've made so many MWE:s that I could probably do it in my sleep :smile:

[2022-07-06 14:52] casella commented on #8211
Aha, sorry, I missed that.

I think we can then move this to 1.20.0 and call it a day.

[2022-07-06 15:02] casella commented on #9033
Will try to fix in 1.20.0

[2022-07-06 15:03] casella commented on #8165
@adrpo will try to fix this as soon as he has time for that, sorry for the delay.

[2022-07-06 15:47] adrpo commented on #9175
Fixed via #9194.

[2022-07-06 15:47] #9175 closed

[2022-07-06 23:20] casella opened #9202 "Generate FMUs with intial values taken from results of previous simulations."
Finding initial steady-state conditions for thermo-hydraulic models is a complex, time-consuming and often frustrating task. One may manage to find that steady-state in various manners, including simulating the system with other Modelica tools, possibly through specific tricks, like running slow transients under some kind of feedback control.

Assume you now want to export the model as an FMU, _wi

[2022-07-07 06:32] bilderbuchi commented on #5664
Yes, this would indeed be useful, especially if one uses another editor in parallel to do things OMEdit can't do (e.g. refactoring/renaming, etc.) or if using version control tools to undo damage wrought if OMEdits fallback formatter gets triggered.
An Unload-Reload cycle also destroys the navigation/open file state in the editor, which could be avoided with a "reload from disk" option.

[2022-07-07 07:31] sbaetzing opened #9203 "Annotation HideResults does not work as expected"
Hey,

To handle result files we are using the HideResult annotation at mulitple places (e.g. Instances of public classes or parameters).

Therefor we discovered different problems.

It seems not to work for class instances so far
For parameter it only works if the value is hardcoded and not depending on any parameters.
At the final state we want to use a parameter form a outer class.

Minimum exam

[2022-07-07 07:32] adrpo commented on #5664
I have implemented Reload as Unload/Load which will not save the state because you don't know if you still have that file or model if you load the library from disk again. I will make a PR soon and you can test it and we can improve it if needed.

[2022-07-07 08:14] bilderbuchi commented on #5664
bummer about not saving the state. Is it difficult to "refresh" state and remove any models which don't exist anymore? Otherwise, all this does is save some clicks (which is still good!).

If you press "reload" on a model that has disappeared on disk, can you remove the model from display only if the load step fails? If yes, can that operation be recursed through a package?

[2022-07-07 08:35] adrpo commented on #5664
I think it should be possible to save most of the state. I will make the PR and then we can improve it further.

[2022-07-07 08:42] adrpo commented on #5664
I implemented this one as I had to reload a library a lot in the last days and unload, navigate to Welcome, select the file again took too much time.

I agree that saving state in OMEdit need improvement. I will make a new ticket about it and see what we can do about it.

Myself I hate that:
- you cannot get back to the previous state after quitting OMEdit and the restarting it
- in the recent lis

[2022-07-07 08:43] perost commented on #9052
#9199 caused some regressions regarding expandable connectors, see [regression report](https://libraries.openmodelica.org/branches/history/master/2022-07-05%2002:05:05..2022-07-07%2003:53:37.html). The change only revealed an already existing issue though, which might be the cause of why these models doesn't work.

The issue is that we get component references such as `stack.stackBus.cellBus[2, 3]

[2022-07-07 08:50] bilderbuchi opened #9205 "Elsewhen in an algorithm section does not work"
### Description
Using `elsewhen` in an equation section works as expected, but not in an algorithm section. I have found nothing in the spec (e.g. 11.2.7.1 Where a When-Statement May Occur) that restricts use of elsewhen in an algorithm section.

### Steps to Reproduce
Run
[code]

Using `equation` instead of algorithm works as expected.
Removing the `elsewhen` clause works as expected.
Splitting t

[2022-07-07 09:22] bilderbuchi opened #9206 "assert in a when initial() clause does not fire"
### Description
An assert in a `when initial()` clause does not work correctly, but in an `initial equation` section it does. As far as I can tell those two should be equivalent.
### Steps to Reproduce
Run
[code]
If `trigger_in_initial` is true, this works correctly, prints `Print initial` and aborts simulation during initialisation.

If `trigger_in_initial` is false, this prints `Print initial Pr

[2022-07-07 09:27] adrpo opened #9207 "Save editor state on exit and restart"
### Description

Currently OMEdit does not save the state of open windows, cursor position in text, selected items in diagrams or left hand side browsing, etc.  To make matter worse the recent list does not include model paths, just files.

### Steps to Reproduce

Open Modelica.Path.To.My.Model, close and restart OMEdit.

### Expected Behavior

Every state possible should be saved.
See also #5664.

[2022-07-07 09:36] bilderbuchi opened #9208 "Assert in when clause triggers but is ignored"
### Description
An assert in a `when` clause does not work correctly -- it triggers, but is subsequently ignored.

### Steps to Reproduce
Run
[code]
to get this output:
[code]
* The assert is triggered correctly at the correct time, its message is displayed.
* However, the assert is ignored with "Found event, previous asserts are ignored.", and the simulation finished successfully.

### Expected B

[2022-07-07 10:29] #8950 closed

[2022-07-07 11:48] perost commented on #9178
Fixed in #9209.

The new model now works, but in my opinion it probably shouldn't. The model contains e.g. `Source source` which redeclares `C_out` as `Outlet`, and `Outlet` extends from `Partial.Connectors.FluidOutlet` where `Connectors` is partial (and `Connectors` is never redeclared anywhere in the total model).

I don't think this should be allowed, but the check for this currently looks like

[2022-07-07 15:34] niklwors opened #9213 "Long time for creating the SimCode structure"
### Description

For some Components of our BRSL Valves library it takes a long time to create the SimCode structure. It takes a especially long time if several valve components are connected to each other. E.g. for the test model: ```Rexroth_Generic_Test.Hydraulics.DirectionalValves.DirectionalValve42_Easy_TC01```
The times are:
[code]
With a other simulation tool, the total time is about 30s.
Or

[2022-07-07 15:35] perost commented on #9178
My mistake, it was actually only fixed in MSL 3.2.3 (see [#3615](https://github.com/modelica/ModelicaStandardLibrary/issues/3615)). That makes it a bit complicated because it means we can't just use the Modelica version to conditionally enable the check, since both e.g. 3.2.3 and 3.2.2 uses Modelica 3.2.

Your point about 3.2.3 being backward-compatible still stands of course, but I think we shoul

[2022-07-07 16:58] AndreaBartolini commented on #9178
Hi per,
thanks for the analysis, I'll investigate deeply in the library in order to fix this kind of issues.
I agree with you on the fact that there is no reason to made "partial" the packages inside that library... we are involved in the library audit mainly to find and solve issues like this.

Have a nice holidays,
Andrea

[2022-07-07 21:58] casella commented on #9203
@sbaetzing, I think this will be an easy fix (or even fixed automatically) when  #8425 is complete. Work on that is on-going.

[2022-07-07 21:59] casella commented on #9052
OK, no problem, it's on the todo list for 1.20.0.

[2022-07-07 22:13] casella commented on #9205
I agree that elsewhen in algorithms is not forbidden by the specification. On the other hand, I understand it is really necessary in case of equations (that have no particular ordering, except the one induced by dependencies). If you write when statements in _algorithms_, the specification says that the algorithm is executed sequentially, so there is indeed some priority. This is a bit confusing i

[2022-07-07 22:16] casella commented on #9206
@AnHeuermann, @phannebohm can you have a look when you have time?

[2022-07-07 22:21] casella commented on #9119
Can we get it done by end of October?

[2022-07-07 22:35] casella commented on #9213
The first model you mentioned takes 173 s to compile on my PC (compared to around 265 s you report). Of these, 131 are spent here:
[code]
Without this bottleneck, the time will probably be comparable to the 30 s you report with another tool. This is actually quite weird, since all other steps of SimCode take a couple of seconds at most.

@mahge, could you please investigate why is this so slow? I

[2022-07-08 08:17] bilderbuchi commented on #9205
Indeed, I missed that algorithm sections impose a natural ordering of two separate when statements.

However, afaict the semantics of when-when and when-elsewhen are not the same (e.g. when both test expressions become true at the same time), so both have different applications.

Compare this arbitrary (untested) pseudo-code example
[code]
and
[code]
Running this code in my head, the former prints

[2022-07-08 08:19] casella opened #9216 "Connection.potentialRoot causes an error if the priority input is given"
@perost, one last quick fix before your holidays start. Please check model `M` and `S` in this MWE:
[code]
You get
[code]

The error disappears if the second input to Connections.potentialRoot is omitted.

[2022-07-08 08:36] bilderbuchi commented on #9205
Ha! It seems the presence of only a print statement in both clauses triggers this bug, as soon as I start assigning variables this compiles.
[code]
However, only using asserts (what this is actually used like in XogenyTest) also fails to compile like the OP, so I'd still argue that this is a real bug:
[code]

[2022-07-08 09:11] casella commented on #9119
OK. I need it for the BR DFD.

[2022-07-08 09:27] #9216 closed

[2022-07-08 09:35] AnHeuermann commented on #9208
Related to #8118 / #6195.
The reasoning was that if we search for an event asserts can happen that will be avoided once the event time is known and the event iteration changes whatever caused the assert in the first place.

So if we have something like (a bad example, but whatever)
[code]
we will trigger asserts, but once the event is resolved everything is fine.

But in this specific case we shou

[2022-07-08 11:21] perost commented on #9052
MWE:
[code]

[2022-07-08 11:40] adeas31 commented on #9203
@casella I think it has nothing to do with #8425. I reported this issue #4346 last year and its still not fixed. See my comment with heading **"We handle the `HideResult` annotation only on primitive datatypes,"**

[2022-07-08 11:41] adrpo commented on #9203
The frontend or backend would need to evaluate the annotation expression and then use the value.

[2022-07-08 14:09] perost commented on #9213
Yes, just a boolean variable in the code.

I use a Ryzen 3900X. It's a few years old now but still quite decent.

[2022-07-08 16:12] casella commented on #9205
@bilderbuchi also check Hans Olsson's proposal to fix the specification in modelica/ModelicaSpecification#3217

[2022-07-08 16:14] casella commented on #9208
I agree, we should wait until the event has been processed completely, and then check all the asserts and trigger them if necessary.

[2022-07-11 01:23] cosmital opened #9220 "Limited fmu iterations"
### Description
It appears that the simulation of an fmu produced by modelica is limited to 1032 then it makes the kernel crush. There is not such an issue when the fmu is produced from Dymola.

### Steps to reproduce
Any fmu seams to have this limitation, you can find [here](https://github.com/cosmital/fmu_bug.git) a simple fmu that multiplies by two the input, you can run it with this code:

imp

[2022-07-11 08:50] AnHeuermann commented on #9220
@cosmital Can you add add the full error message to your report?

[2022-07-11 10:34] audrey-jardin opened #9222 "OMEdit bug with iterationVars flag"
### Description

The list of iteration variables doesn't appear in the log file when the flag "-d=iterationVars" is set in OMEdit.

### Steps to Reproduce

Could be reproduced with the "TestBend" example of ThermoSysPro v4_OSR (see files attached)

### Expected Behavior
Get the list of iteration variables to ease the initialization step for the modeler

### Version and OS

 - OpenModelica Version:

[2022-07-11 11:19] audrey-jardin opened #9224 "Problem with initialization method from result file (.mat)"
### Description

The model cannot be initialized from a (Dymola) result file (.mat).

### Steps to Reproduce

See model and files attached.

### Expected Behavior

The model should simulate from initial values set in the .mat file.

### Version and OS
 - OpenModelica Version: OpenModelica v1.19.0 (64-bit)
 - OS: Windows 10, 64 bit
 - Versions of used Modelica libraries: ThermoSysPro v4.0_OSR

###

[2022-07-12 02:09] cosmital commented on #9220
![ce9c3fd08722203cb897efdfc0dc6a3c](https://user-images.githubusercontent.com/28756139/178393229-e3add68e-8cf6-4640-b5de-e7953b246757.jpg)
The setting is quite simple and the model is just a *2 product between inputs and outputs.

[2022-07-12 08:53] AnHeuermann commented on #9220
Can reproduce on Linux:

genFMU.mos
[code]

[code]

[code]

GDB reports the back trace:
[code]

---------------------

Versions 'n stuff:
OpenModelica v1.20.0-dev-211-g882357bebd
Python 3.8.10
FMPy 0.3.10

[2022-07-12 08:58] AnHeuermann commented on #9220
My guess is that we are leaking memory somewhere between `fmi2Instantiate` and `fmi2FreeInstance`.

[2022-07-12 09:25] cosmital commented on #9220
OK thank you for your help, and you see a way to solve the issue ? it seems that the problem has been solve for the fmu exported from Dymola.

[2022-07-12 09:39] AnHeuermann commented on #9220
Debugging with gdb and valgrind for one or two hours should solve the issue. But I don't have the time to do this at the moment.

Finding the line that breaks in https://github.com/OpenModelica/OpenModelica/blob/master/OMCompiler/SimulationRuntime/fmi/export/openmodelica/fmu2_model_interface.c.inc#L488-L678 would be a good start. Unfortunately gdb doesn't spit out the line where the segmentation f

[2022-07-12 12:47] adrpo opened #9228 "Support duplicate -s (and probably more flags) in the C runtime"
### Description

Currently the OpenModelicaLibraryTesting is adding the extra simulation arguments for a specific job after the arguments retrieved via annotation __OpenModelica_simulationFlags and you might end up with duplicate arguments to the generated executable.

See for example:
https://libraries.openmodelica.org/branches/gbode/AES/files/AES_AES.Coursework.ElecSys_case_studies.Primary_secon

[2022-07-12 13:04] adrpo opened #9229 "Apply override flags last to make sure they override all the other flags!"
### Description

Currently if you run:
`./Model -s dassl -override solver=gbode`
the selected solver is dassl even if it should be gbode

I think even if you give the override flags first:
`./Model -override solver=gbode -s dassl`
the selected solver should still be gbode

[2022-07-12 16:19] casella commented on #9229
I guess we already had this discussion some months ago with @mahge, but I cannot find the ticket. The bottom line was that for some flags, it made sense that the rightmost flag would win, for others they would add up.

[2022-07-12 16:24] bernhardbachmann commented on #9191
I just added the Butcher tableau of Anton. The values are from the paper:
Solving Stiff Systems of ODEs by Explicit Methods with Conformed Stability Domains
Anton E. Novikov1     Mikhail V. Rybkov2     Yury V. Shornikov3     Lyudmila V. Knaub4
EUROSIM 2016 & SIMS 2016

I added an embedded version for step size control. The stability region is the following...

[2022-07-12 16:26] bernhardbachmann commented on #9191
![Screenshot 2022-07-12 182524](https://user-images.githubusercontent.com/12253584/178544178-fa1f5ce4-a792-4774-84ec-9d6ba75b3cda.png)

[2022-07-12 16:27] bernhardbachmann commented on #9191
Actually it is more ;-)

[2022-07-12 18:55] bernhardbachmann commented on #9191
Generic Bi-rate ODE solver ("gbode")

percentage of states, which are fast states
-gbratio  (-gbratio = 0 or gbratio=1 => single-rate solver)

Different options and combinations possible:
outer integration:
singlerate method  		-gbm 						(default = esdirk4)
step size control 		-gbctrl={i,pi,const} 		(default = i <=> IController , pi <=> PIController, const <=> fixed step size)
nonlinear solver		-

[2022-07-12 19:00] bernhardbachmann commented on #9191
old: -s=irksco
new: -s=gbode -gbm=trapezoid

[2022-07-12 21:38] casella commented on #9191
I never really played seriously with this solver, but it may be quite interesting for mildly stiff models, like in Buildings. I will definitely try it out there.

[2022-07-13 10:05] bilderbuchi commented on #8179
I found some more instances where even simple equations are not unit-checked correctly (with OM1.19):
[code]
It seems that the presence of a literal `1` multiplier messes things up.
Also, exponentiation of unitful parameters is not picked up correctly (`par*par` works as expected, `par^2` not).

[2022-07-13 12:31] mahge commented on #9229
The discussions was mostly in #7784 (some in #7828). You can manage how repetition of flags is handled by defining that "policy" type of each flag, i.e., by modifying the `FLAG_REPEAT_POLICIES` for each specific flag.

I am not sure if @adrpo is looking for the same thing, but if we need to pick the last solver specified on the CLI then we need to modify the entry for `FLAG_S` from `FLAG_REPEAT_PO

[2022-07-13 17:50] #9228 closed

[2022-07-13 21:48] casella commented on #8179
@bilderbuchi the problem with literal multipliers is well-known. I raised it in the MAP-Lang group several years ago, but so far I failed to get a consensus on a viable solution, see modelica/ModelicaSpecification#2127

If you have suggestions how to restart that discussion, please let me know.

[2022-07-14 10:14] max-privato commented on #9132
I hoped this to be fixed in 1.19.2, but was not.
Is it planned somewhere?

[2022-07-14 11:50] casella commented on #2081
Prototype implementation available since PR #9230, start OMEdit with `./OMEdit --NAPI=true`

[2022-07-14 14:38] adrpo commented on #2081
@niklwors I suspect the getModelInstance API has some issues with some complex models for now. @perost will fix them when he comes back from the holidays. They have started with small models so they can do proper testing.

[2022-07-14 14:53] casella commented on #9132
Sorry, we had to ship 1.19.2 before people started to go on holiday.

I'm not sure why this worked previously, this may be investigated. This is a bit weird, because k is a Real parameter, and 1e8 is a Real literal (not an Integer), so it may be possibly rendered as 100000000.0 (which would also be ugly), but not as 100000000.

That said, there are many similar issues in OMC, e.g. #7465, #8860, #8

[2022-07-14 14:57] casella commented on #2081
@niklwors, thanks for reporting!

What we have now is just a demo. It shows we are on the right track, but is still far from being usable. Work on that will resume from mid-August.

[2022-07-14 21:59] max-privato commented on #9132
I've have a personal hatred towards badly written numbers and the need to count zeros to understand the real size of a number.
I think this case is a very simple one: you've to  just fornat a real number in exponential form when appropriate.
I've read the discussion about Ryu library, but that regards cases where rundoffs due to conversion from decimal to binary and back again to decimal form crea

[2022-07-15 09:00] adeas31 commented on #2081
@niklwors please send your library to me. I will do some testing.

[2022-07-15 09:21] niklwors commented on #2081
@adeas31 Thank you, @adrpo can provide you with this information

[2022-07-15 10:33] adrpo commented on #9132
We need more information. Where does OMEdit displays it like that? In the text? On the diagram? In the dialogs? On the Plot?

[2022-07-15 10:35] adrpo commented on #9132
I guess we can find out what changed in OMC and OMEdit to get to this behavior and fix it as that should not be that complicated.

[2022-07-15 10:40] adrpo commented on #9132
On the diagram is fine:
![image](https://user-images.githubusercontent.com/4192979/179207338-84f47ccf-8f77-4f34-ad8d-2642746c91e7.png)
In the dialog is fine as well:
![image](https://user-images.githubusercontent.com/4192979/179207422-1430518a-8ae5-4144-88f5-aecf604d7773.png)
After adding a space and saving it the diagram changes to:
![image](https://user-images.githubusercontent.com/4192979/17920

[2022-07-15 10:50] adrpo commented on #9132
When restarting OMEdit and loading the model:
[TestBigNumbers.mo.txt](https://github.com/OpenModelica/OpenModelica/files/9120180/TestBigNumbers.mo.txt)
I directly get the bad behavior. The problem seems to be in OMEdit as OMC returns the modifier on `k` as `1e8`:
[omeditcommunication.zip](https://github.com/OpenModelica/OpenModelica/files/9120192/omeditcommunication.zip)

[2022-07-15 12:46] niklwors opened #9237 "Syntax error when changing replaces choices paramter"
### Description
If you change a replaceable choices parmater in the OMEdit paramter dialog, an syntax error appears:
```No viable alternative near token: <EOF>'```

### Steps to Reproduce

For example use a valve componenten from the BRSL valves library
Load the package ```Rexroth_Valves\package.mo```
Use the component in you model: ```Rexroth_Valves.ProportionalValves.Rexroth_2WRCE_4X```
Change t

[2022-07-15 13:32] casella commented on #9132
Thanks @adrpo. This should be easy to fix.

@max-privato if the fix is an easy one, we can make a 1.19.3 release end of August. When are you starting you course?

[2022-07-15 13:35] casella commented on #9132
@max-privato if you want to use a previous version, I would suggest [1.18.1](https://trac.openmodelica.org/OpenModelica/wiki/ReleaseNotes/1.18.1), which has several important bugfixes over 1.18.0. Unless this thing was broken between 1.18.0 and 1.18.1, in which case it will be very easy to find out why this happened 😅

[2022-07-15 14:33] AnHeuermann commented on #9036
In https://github.com/OpenModelica/OpenModelica/pull/9186 this gets fixed.

`ClaRa.Components.Mills.HardCoalMills.Check.combineMillandFurnace` is now simulating as well. I haven't checked the results yet, though.

[2022-07-15 20:27] adrpo commented on #9132
Ivl even found why it happens. It has to do with unit conversion which is surprising as k has no unit (or actually 1). I will make a PR with the fix soon.

[2022-07-15 20:32] adrpo commented on #9132
It goes in here because unit (I think) is not empty but is 1:
https://github.com/OpenModelica/OpenModelica/blob/master/OMEdit/OMEditLIB/Annotations/TextAnnotation.cpp#L592
And because it does some calculations it changes the 1e8 to a number and back to text which generates this bad behavior.

[2022-07-15 22:08] adrpo commented on #9132
Currently, as you can see in the last picture above we display the number and then a space followed by the unit. However in this case we have `100000000 1` which just looks super weird, should we display the unit if is `1`?!

[2022-07-15 22:43] adrpo commented on #9132
With the PR #9238 we get:
![image](https://user-images.githubusercontent.com/4192979/179320951-a6ed2ef6-2df9-4d82-abab-d52252a74ee9.png)
If unit is `1` we will not display that in the diagram anymore.

[2022-07-15 22:46] adrpo commented on #9132
Also, if we do conversion we use the previous value to see if there is an `e` in it and if so we display it in the shortest possible way (Qt has a formating option for that: QLocale::FloatingPointShortest).

[2022-07-15 23:00] #9132 closed

[2022-07-15 23:02] adrpo commented on #9132
If there are other places in OMEdit that have this display issue besides the one I fixed now, let us know and we can fix those rather easily.

[2022-07-15 23:10] adrpo commented on #9132
PR #9239 is applying this fix to the maintenance/v1.19 branch.

[2022-07-16 11:28] adrpo commented on #9132
When the fix will be in v1.19.3 when we make it.

[2022-07-16 12:00] adrpo opened #9240 "New API to store and restore the AST at certain points to help with OMEdit editing"
### Description

Currently when OMEdit does an operation will:
1. getModelInstance to retrieve instantiated info about a model
2. display the dialogs or diagram based on the instantiated info and accepts edits
3. sends the edits to OMC to be applied on the AST usually as modifiers or changes in the annotations

Now if a user does undo to roll back the changes, OMEdit needs to rollback the edits pr

[2022-07-16 15:39] casella commented on #9036
I'm sorry folks, but I am afraid this had some negative impact on Buildings, see [report](https://libraries.openmodelica.org/branches/history/master/2022-07-14%2004:46:18..2022-07-16%2000:54:08.html).

In some cases, models that were previously simulating now fail silently in the backend, see e.g. [Buildings.Applications.DataCenters.ChillerCooled.Examples.IntegratedPrimarySecondaryEconomizer](http

[2022-07-16 15:57] casella commented on #9024
@AnHeuermann is C_LHV a Real array? Does it make sense to have equality checks on them?

[2022-07-16 15:58] casella commented on #9132
As far as I understand it should have unit="", not unit="1".

[2022-07-16 16:05] casella commented on #9132
@adrpo, I checked and indeed k has unit="1", see the [source code](https://github.com/modelica/ModelicaStandardLibrary/blob/8f8ace356bd239776dc778b3369c8600a39aa569/Modelica/Blocks/Math.mo#L543).

I'm not sure what is the rationale behind that, to me this is questionable, but anyway the number formatting shouldn't be changed even in that case.

If there are some computations performed (why?), then

[2022-07-16 16:06] casella commented on #9132
Sounds reasonable. One could display p.u. but in some cases that would be weird, so I'm fine with this solution.

[2022-07-16 16:07] casella commented on #9132
Sounds good as well 😃

[2022-07-16 16:12] casella commented on #9132
@max-privato, we can easily make a 1.19.3 release with whatever is containd on the maintenance/v1.19 branch, that is no big deal.

I would suggest that you test 1.19.2 and make sure it fits your teaching needs (besides this glitch). If you find it doesn't because of some other (small) issue, we can try to fix that and include it in 1.19.3.

Please remind us about releasing 1.19.3 around Sep 10, so

[2022-07-16 16:13] casella commented on #9240
I'm not into the details, but this looks a very good idea to me 👍

[2022-07-18 09:01] christiankral opened #9241 "Segmentation fault during simulation of rectifier using negative Start Time"
### Description

When I simulate the included thyristor bridge model using a current source, the simulation works OK if the simulation Start Time is set to zero. If I pick the Start Time = -1s

![image](https://user-images.githubusercontent.com/4184218/179476667-566929ca-7c91-43b0-8640-9da556f87dbd.png)

the simulation process crashes:

[code]

### Steps to Reproduce

Simulate the following model:

[2022-07-18 09:47] casella commented on #9241
Given the MWE and the stack trace, finding the cause of the problem shouldn't be too difficult. @AnHeuermann, @phannebohm please have a look at your earliest convenience.

[2022-07-18 12:32] AnHeuermann opened #9242 "Missing array_get1 function"
### Description

A get function for an array is not generated.

### Steps to Reproduce

[code]

[code]

### Expected Behavior

Generate `MWE_R_array_get1`.

### Version and OS

 - OpenModelica Version: v1.20.0-dev-222-g2c88f038fa / v1.20.0-dev-219-g7ed14b8653
 - OS: Ubuntu Focal

[2022-07-18 12:54] mahge commented on #9242
This is a trade of between the amount of code we generate vs a small performance gain due to avoiding variadic macros when accessing multi-dimensional arrays.

For native types like `Integer` and `Real` we have implemented these fixed dimension getter functions, e.g. `real_array_get1()` and `real_array_get2()`.  They are actually macros that expand to `generic_array_get(...., sze)` where `sze `is

[2022-07-18 14:01] AnHeuermann commented on #9024
Yes, it's a real array:

[code]

I guess in general that it's not a good idea to test two floating point numbers for equality. The assert is generated by omc from a connect equation:
[code]

So we should not do that for `Real`s.

----------------

But in this case the error is valid:
[code]

[2022-07-18 15:49] casella commented on #9024
We can, but instead of if` a==b then...` we could write something like `if abs(a-b)/(max(abs(a), abs(b)), 1e-10) < 1e-10` then...

Oops. Is this because of a frontend issue? That is where the costants are evaluated, right?

Adding @perost to the loop.

Or maybe the fuel model is not redeclared everywhere correctly?

[2022-07-18 15:51] #9241 closed

[2022-07-18 15:53] AnHeuermann commented on #9024
I'm afraid that the fixes for https://github.com/OpenModelica/OpenModelica/issues/9036 are not good enough yet.

[2022-07-19 07:11] AnHeuermann commented on #9242
There is already a test case in https://github.com/OpenModelica/OpenModelica/blob/master/testsuite/simulation/modelica/records/constVar3.mos.

[2022-07-19 08:20] AnHeuermann commented on #9036
The first two issues should be resolved. Now we need to check why `ClaRa.StaticCycles.Boundaries.Check.TestNewBoundaries` still has unbound bindings.

Here is a new MWE to play with:
[code]

[2022-07-19 11:19] casella commented on #9241
Thanks @phannebohm! ❤️

@christiankral please check with the next nightly build and confirm that all works well now.

[2022-07-19 13:38] AnHeuermann commented on #9036
We don't have any equations to find the binding in.
I added a function to collect record types from binding equations of `DAE.CALLS` from the global known variables (parameters and so on).

[code]

And then I called that patch function in Initialization.mo where the equations for the initialization system are created from global known vars.
It's not pretty but it works.

[2022-07-19 13:53] casella commented on #9036
I'm not much into the programming style of the backend, but the regressions on Buildings 8 and master [were all fixed](https://libraries.openmodelica.org/branches/history/master/2022-07-18%2023:12:11..2022-07-19%2011:55:08.html), so we can close this for good.

Thanks @AnHeuermann for the quick feedback!

[2022-07-19 13:58] casella commented on #9036
@AnHeuermann are you looking for a better solution?

[2022-07-19 14:00] AnHeuermann commented on #9036
Nope, but the issue itself is concerned with the constants being uninitialized and I haven't fixed that for https://github.com/OpenModelica/OpenModelica/issues/9036#issuecomment-1188748366 yet.

[2022-07-19 14:01] casella commented on #9036
OK, you can close it yourself when that is done.

[2022-07-19 15:31] mscuttari opened #9248 "NF Fails evaluating sum of iteration variables with -nonfScalarize"
### Description
The OpenModelica frontend crashes when evaluating parameters.

### Steps to reproduce
Given the attached .mo file, the frontend can't instantiate the model when run with

[code]

And emits the following error:

[code]

Commenting lines from 76 to 82 solves the problem. However, without those lines the model is obviously incomplete.
It seems that the frontend can't evaluate the sum

[2022-07-19 16:54] #9036 closed

[2022-07-20 08:15] casella commented on #9248
A further hint, the NF can handle equations like
[code]
that have such an expression in a _conditional expression_, while it fails when the expression shows up in _conditional equations_, such as
[code]

[2022-07-20 08:22] AnHeuermann opened #9249 "ClaRa/TILMedia segmentation fault in external library function"
### Description

There is an segmentation fault in [ClaRa.Basics.ControlVolumes.FluidVolumes.Check.Validation_VolumeVLE_L2_HeatTransfer_1ph_shell](https://libraries.openmodelica.org/branches/master/ClaRa_dev/files/ClaRa_dev_ClaRa.Basics.ControlVolumes.FluidVolumes.Check.Validation_VolumeVLE_L2_HeatTransfer_1ph_shell.err).

Not sure if that is an issue in TILMedia or if we call a function wrong.

#

[2022-07-20 10:13] wischhusen opened #9250 "OM Connection Editor crashes without license"
### Description

OM Connection Editor craches when the license is not found. I believe, it is a good idea to prompt an error message in this case and offer a safe exit.

### Steps to Reproduce

Encrypt and license a library with SEMLA. Open the library without the license file or not in right place.

### Expected Behavior

Dialog should open to explain the failure (License file is missing for libr

[2022-07-20 13:18] mscuttari opened #9251 "NF fails to evaluate division between a scalar and an array (and viceversa)"
### Description

Considering the [Type1_N_1_M_1 model](https://github.com/PowerGrids/ScalableTestGrids/blob/master/ScalableTestGrids/Models/Type1_N_1_M_1.mo) within the ScalableTestGrids library, the frontend fails when encountering a division between a scalar and an array (and viceversa).

### Steps to Reproduce

The array / scalar issue can be reproduced with the following command:

```omc Type1

[2022-07-20 16:58] casella commented on #9250
@wischhusen can you please provide an empty library with SEMLA that we can use for testing without IP issues?

Thanks!

[2022-07-20 17:00] casella commented on #9251
@perost the models in that library often have binding equations where some variables or parameters are divided by normalization factors (such as SNom) or by numerical factors, such as sqrt(3). I guess this is not handled correctly when collecting multiple scalar instances in a single array.

[2022-07-21 10:57] AnHeuermann commented on #8342
#9043 is a duplicate of this. Closing this issue because the other has more information.

[2022-07-21 10:57] #8342 closed

[2022-07-21 11:01] AnHeuermann commented on #9078
Well, this is not stuck but takes forever. On the test machines the Backend takes around 330 seconds.

[2022-07-21 12:18] casella commented on #9078
Do you have a breakdown of the timing with -d=exectstat? Maybe related to #7998?

[2022-07-21 13:19] AnHeuermann commented on #9078
Yep, matching and sorting is the bottleneck here:
[code]

Here are all times: [execstat.txt](https://github.com/OpenModelica/OpenModelica/files/9159616/execstat.txt)
Total simulation time: 10 minutes and 38 seconds.

[2022-07-21 18:09] casella commented on #9078
OK, you can try to compile it with --noASSC or with -maxSizeASSC=10 or something and see if that makes some difference.

Then, if that is the culprit, we need to discuss some mitigation actions with @kabdelhak. The ASSC algorithm is very good in guaranteeing high coverage, but maybe sometimes it really gets down a rabbit hole.

[2022-07-21 22:11] max-privato opened #9253 "Division by a wrong value in an algorithm?"
### Description
I've opened the following ticket:
https://github.com/PowerGrids/PowerGrids/issues/52
where the following error occurs:
`IEEE14busShort4_12jac.c:14213: Invalid root: (0)^(-0.5).
`

After that I realized that the possible cause of the error is that OM uses a wrong value for R in the denominator of the third row of this algorithm of PowerGrids BusFault:
[code]

if this is true, the pr

[2022-07-22 15:01] phannebohm commented on #9253
The division by zero occurs while evaluating some Jacobian entry for `Load4.port.U`, resulting in
[code]
At first glance this looks correct to me since the model says
[code]
and ${d\over dt}\Vert u\Vert = (u \cdot \dot{u} )\Vert u\Vert^{-1}$ (using real vector space notation), so we're differentiating correctly, yay!

This suggests that `Load4.port.u = 0 + 0i` and indeed that's what happens, start

[2022-07-22 16:14] max-privato commented on #9253
Thank you for the analysis.

I hoped that the algorithm were the source of the problem since it would ease finding the solution!
From the electric point of view, when fault becomes false, the busFault current "i" becomes zero, from
[code]
This gives no physical reason for the voltage to become zero. Indeed, busFault is used in other PowerGrids.ENTSOE.TestCase3 voltage recovers immediately after fa

[2022-07-22 21:55] #9250 closed

[2022-07-22 22:03] adrpo commented on #9250
We need a way to test the encryption stuff. I guess that would be easier if we would build and distribute with encryption by default and restrict usage via other ways.

[2022-07-22 22:04] adrpo commented on #9250
I wanted to add a test for this but currently is not possible.

[2022-07-22 22:16] casella opened #9256 "Improve the simulation speed of Buildings models"
The attached report shows a comparison of the simulation performance of models in the master version of Buildings, hash 8fe3dc12d, ran with OpenModelica omc 1.19.0~dev-539-gb76366f and with Optimica Studio OCT-dev-r26446_JM-r14295, in January 2022.

[tools_compare_master.html.txt](https://github.com/OpenModelica/OpenModelica/files/9172425/tools_compare_master.html.txt)

A significant number of mod

[2022-07-22 23:27] casella commented on #9256
@mwetter, I think I have identified one possible root cause for the extremely slow simulations.

Consider the model` Buildings.Airflow.Multizone.Examples.ClosedDoors`. The comparison report shows that the simulation time in OMC is 60X the simulation time in OCT. While OCT computes the jacobian 17 times during the simulation, OMC does it 112860 times (!), clearly showing some problem in that respec

[2022-07-22 23:38] casella opened #9257 "Symbolic jacobian dramatically improve dassl performance, but not gbode|esdirk4"
Consider the Buildings.Airflow.Multizone.Examples.ClosedDoors model. As reported in ticket #9256, turning on --generateSymbolicJacobian has a dramatic effect in reducing the number of simulation steps and jacobian recomputations when the default dassl ODE solver is used: the former goes down from 76,000 to 270, the latter from 112,000 to 84.

Unfortunately, If I try the same comparison using the d

[2022-07-22 23:40] casella commented on #9257
BTW, esdirk4 shows a high number of convergence issues in this test case, while DASSL has none. I suspect something wrong in the handling of the Jacobian is to blame, and maybe solving them would make those solvers a lot more robust in the handling of highly nonlinear systems, such as the continuous-time HeatingSystem benchmark.

[2022-07-23 15:02] mwetter commented on #9256
Thanks for the update. Great to see that the symbolic Jacobian avoids this issue.

[2022-07-24 07:16] anotheruserofgithub opened #9258 "Compilation warnings -Wincompatible-pointer-types"
### Description

For a few weeks/months, I see the following warnings during compilation:

[code]

The same up to `linearSystemData[6]`.

### Steps to Reproduce

Maybe these `__OpenModelica_commandLineOptions` (that I use) make a difference:
`-d=LSanalyticJacobian,NLSanalyticJacobian,forceNLSanalyticJacobian`, `--generateSymbolicJacobian=true`.

### Expected Behavior

No warnings.

### Version and

[2022-07-24 07:40] anotheruserofgithub opened #9259 "OMOptim does not communicate with OMC"
### Description

For fun I wanted to try using OMOptim, so I compiled it from source successfully but encountered the same problem as reported [here](https://trac.openmodelica.org/OpenModelica/ticket/4487).

Apparently this is simply a filename issue (on Linux at least).

Content of `/tmp/OpenModelica_user/OMOptim/OMLog.txt`:
[code]

Content of `/tmp/OpenModelica_user/OMOptim/openmodelica.user.omc

[2022-07-24 09:41] LukasKoenemann opened #9260 "parameter optimization with built in dynamic optimization"
### Description

I'm using the _Built-in Dynamic Optimization using Annotations function_ to optimize my modelica models with OpenModelica. Earlier I used JModelica to optimize my models with IPOPT. There it was possible not only to optimize the optimal input u(t), but also optimize some parameter. That was done by declaring the parameter as

`parameter Real F0(min=0, max=1, **free=true**);`

Is t

[2022-07-24 11:03] casella commented on #8453
@sjoelund, @adrpo, @adeas31, please note we must be able to read this file format by Sep 15 at the latest, to comply with our obligations with LBL.

[2022-07-24 11:21] casella commented on #9258
@anotheruserofgithub I also noticed that, thanks for bringing this up. I guess this is because of recent fixes to the symbolic Jacobian generation, and I understand the code works fine on my PC, but it could be potentially dangerous with other operating systems or C compiler versions.

@AnHeuermann, @mahge, could you please take care of this at your earliest convenience? Thanks!

[2022-07-24 11:22] casella commented on #9259
@anotheruserofgithub the problem is that currently OMOptim is not maintained, we don't have the resources to do that. If you want to help us fix this kind of issues for fun, you are very welcome to do so, just let us know 😃

[2022-07-24 11:23] casella commented on #9260
@vruge, @bernhardbachmann can you please comment on that?

[2022-07-24 14:02] casella commented on #9131
@niklwors, we had similar issues with the Buildings library, that were resolved by using the `--generateSymbolicJacobian` command line flag. Apparently, in some cases the numerical Jacobian is bad for some reason, and this causes a large number of convergences failures and rejected steps, but the issue is solved outright by using the analytic Jacobian.

Could you please try this out and report?

T

[2022-07-24 15:19] anotheruserofgithub commented on #9259
Actually it was very easy to fix on my own, see PR OpenModelica/OMOptim#18.

[2022-07-24 15:21] #9259 closed

[2022-07-24 18:27] vruge commented on #9260
to my shame, no

I agree with you.

You may be able to try [omsens](
https://openmodelica.org/doc/OpenModelicaUsersGuide/latest/parametersensitivity.html?highlight=omsens
). Whereas I have no experience with this tool

[2022-07-24 20:46] casella commented on #9259
Thanks!

[2022-07-25 06:24] LukasKoenemann commented on #9260
Thank you for the fast reply! @vruge is it planned to add that in a future version? Or will it not be that easy to integrate?

best regard,
Lukas

[2022-07-25 07:56] AnHeuermann commented on #9258
I'll fix it. Its leftover from one of my commits.

[2022-07-25 08:23] AnHeuermann commented on #9258
@anotheruserofgithub I'll need a model where you encountered this warning to check if https://github.com/OpenModelica/OpenModelica/pull/9262 solves it.

[2022-07-25 08:40] AnHeuermann commented on #9078
In this case disabling ASSC doesn't help. The time spend on merging is more or less equal.
[code]

[2022-07-25 10:19] anotheruserofgithub commented on #9258
Thanks @AnHeuermann, you can test with this MWE:
[code]

[2022-07-25 11:43] JavierArroyoBastida commented on #9180
I've updated to the latest OM master and repeated the build and install process.
One minor thing to note is that for some reason I still don't see the OMEdit icon despite https://github.com/OpenModelica/OpenModelica/pull/9236.
However, what concerns me is that I still have the unexpected OMEdit closures as explained above. I was able to get an error report from Apple that I believe is quite inform

[2022-07-25 12:48] #9258 closed

[2022-07-25 13:22] adrpo commented on #9250
I will build v1.19.3 with encryption and will send you a link to test it.

[2022-07-25 16:57] wischhusen commented on #9250
Many thanks, Adrian!
--
XRG Simulation GmbH
Dr.-Ing. Stefan Wischhusen
Harburger Schlossstrasse 6-12, 3rd Floor, Rm. 318
21079 Hamburg, Germany
Tel: ++49-(0)40-766 29 26 31
Fax: ++49-(0)40-766 29 26 39
Mobile: ++49-(0)151-120 42 398
Internet: http://www.xrg-simulation.de
Linkedin: https://www.linkedin.com/in/stefan-wischhusen-2b20528b/

XRG Simulation GmbH
Sitz / Legal Domicile: Hamburg
Registerge

[2022-07-26 08:57] vruge commented on #9260
I can't say anything about planning. I would ask someone from the core team. Maybe @casella can say more

It would be a lot of work for me. Unfortunately, I do not know how to generate the derivation according to the parameters in OM. The initial equations are a black box for me, too. In addition, there are the adjustments to the own algorithm.

[2022-07-26 08:59] christiankral commented on #9241
I confirm that everything works as expected. Thanks!

[2022-07-26 10:02] Mathadon commented on #9180
@JavierArroyoBastida I also have random segmentation faults with OMEdit. I doubt that these edits cause the problem.

[2022-07-26 13:47] LuisCoronaMesaMoles opened #9264 "Long time necessary to simulate a static model once initialized"
### Description
A static model from the ThermoSysPro library takes a long time to simulate once initialized: the model is ThermoSysPro.Examples.SimpleExamples.TestNTUWaterHeating2

In total 1323 seconds are necessary (including 16s for the initialization)

This is surprising for two reasons:
--> the model is static so once it is initialized the simulation should be very rapid
--> the same model in

[2022-07-26 16:55] matteodepascali opened #9266 "Graphical bug in Diagram View mode"
### Description
When deleting a model in the diagram view of a test containing that model, the icon appears again in the diagram view if the deleted model is then modified.

### Steps to reproduce
Test.mo is a model in which model1 from Model.mo is instantiated. Delete from diagram view of Test the icon of model1. Save Test. Add a trivial equation like "Real y = 1;" to Model and save. Going back t

[2022-07-27 07:16] LukasKoenemann commented on #9260
@casella Is it planned to add this in a future version?

@vruge is it possible to use the flag `-csvInput` together with the built in dynamic optimization? I read about using `ContinuousDerivative` profiles to get better optimization results, but I think that is not possible with `-csvInput`

[2022-07-27 07:21] marcusfuchs commented on #8766
Just to throw in my perspective: For our use cases it would really help if loading result files larger than 2 GB would be possible. We have several models which simulate a whole year with 5 - 15 minute steps and even if we only save the variables we need the result will be larger than 2 GB.

[2022-07-27 10:28] casella commented on #9258
Thanks @AnHeuermann!

[2022-07-27 22:15] casella commented on #9078
This is really weird. The model has 58478 equations, so it's not small but is not huge either. For example, this [ScalableTestGrid model](https://libraries.openmodelica.org/branches/master/ScalableTestGrids_noopt/files/ScalableTestGrids_noopt_ScalableTestGrids.Models.Type1_N_6_M_4.err) has twice as many equations and only spends about 5 s during matching.

I also saw that the case in question spen

[2022-07-27 23:13] casella commented on #9260
@LukasKoenemann no plans currently to extend optimal control, sorry. We need funding or external contributors for that. @bernhardbachmann can comment further.

[2022-07-27 23:15] casella commented on #9180
@Mathadon when that happens, please do send a report using the crash reporting feature, it should start automatically. This gives us the stack trace and some other information that can help understanding why this happens. Thanks!

[2022-07-27 23:17] casella commented on #9264
@LuisCoronaMesaMoles I guess this is due to #8026. Can you try to change the number of intervals to 2 and see if you get an improvement?

[2022-07-27 23:18] adrpo commented on #9180
@casella I think on Mac the trace sending dialog might not work.

[2022-07-27 23:19] casella commented on #8766
I understand this is a problem of the Matlab-based file format that we use. You can try CSV output, and possibly limit the number of output variables using the output variable filter

[2022-07-27 23:21] adrpo commented on #9180
Ah! I know this crash. It happens when we sort the variables to display in the plot view tree. We have made a fix with @lenaRB but we did not made a PR with it.

[2022-07-27 23:24] adrpo commented on #9180
The stack trace is like the one in #8642.

[2022-07-27 23:41] adrpo commented on #9180
Basically after successful simulation of any model containing variables assigned to operators
`der` or `previous` it will crash when opening the .mat result file without the patch below.

The code looks like this and it dies in StringHandler::cleanResultVariable when called from StringHandler::naturalSortForResultVariables. Weirdly it only happens on Mac, works fine on Windows and Linux.

[code]

[2022-07-28 07:14] vruge commented on #9260
only as initial guess for the optimiser. The optimiser will try to optimise all inputs.  A definition of the measured values/reference values/external inputs is therefore not possible with `-csvInput`

[2022-07-28 08:43] Mathadon commented on #9180
Nope, I haven't seen it!

[2022-07-28 09:27] Mathadon commented on #9180
This looks weird for multiple reasons:

[code]
First, I'm not sure why you divide the last index of occurrence (`str.lastIndexOf("der(")`) by 4. I guess that this is an integer division, which does not make sense here?
Second, `chop`, based on the Qt docs, removes characters at the _end_ of the file. I'd expect to use `remove()` instead, which removes characters characters at the start.
Third, `QS

[2022-07-28 13:20] casella commented on #8425
Adding @dzimmer to the loop

[2022-07-28 13:28] casella opened #9268 "getAllSubtypeOf API function is awfully slow in ThermofluidStream"
### Steps to Reproduce

Activate support for replaceable in OMEdit, then load the ThermofluidStream library and open Examples.SimpleStream. Double-click on any flow resistance component. OMEdit gets stuck for a couple of minutes while it seeks all matching packages. This is visible in the omcommunication log
[code]
When doing the same with Modelica.Fluid models, opening the parameter dialog that i

[2022-07-28 16:28] adrpo commented on #9268
First we do a lookup to find out the fully qualified name of the base class in the context where it appears.
Then we basically walk all classes and for each extends we do a lookup to fully qualify it and a match with the fully qualified base class in the previous step. If it matches we add it to the list.

So there are 2 factors here: the number of loaded libraries and classes and the speed at wit

[2022-07-28 16:31] adrpo commented on #9268
The only way we could possibly speed this up properly is to build all extends relationships when we load the libraries and cache it. That would get rid of the expensive walk of all loaded classes.

[2022-07-28 16:33] adrpo commented on #9268
Note that this has nothing to do with new vs old API and frontends. The NF is used for the lookup from the beginning.

[2022-07-28 17:11] adrpo commented on #9180
As far as I know this tries to remove `"der("` and ")" from `der(x)` so just `x` remains. @adeas31 am I right on this one?

[2022-07-28 17:25] adrpo commented on #9180
I also think that the variable names in the .mat file are of the form `a.b.c.der(x)` and not `der(a.b.c.x)`. I will try to do some checks on how this function behaves on Windows and see if we can fix it the way you suggest.

[2022-07-29 03:26] cosmital commented on #9220
Hello thank you for your reply ! you don' t have more time to tackle this issue now ? We are trying to make some calibrations and some reinforcement learning with fmu based environment so it would help greatly if the kernel wouldn't crash repeatedly.
Cheers

[2022-07-29 07:11] Mathadon commented on #9180
Indeed, I forgot about the `)`! And I didn't expect the format`a.b.c.der(x)` so that indeed explains a thing or two :)

[2022-07-29 13:11] leo-recover opened #9269 "Openmodelica does not compile on Gentoo - using system zlib"
### Description

When trying to upgrade from 1.18.0 to 1.19.0, OpenModelica does not compile anymore on my Gentoo installation. The error log is the same as the issue I described some time ago [here](https://trac.openmodelica.org/OpenModelica/ticket/6148): the compiler is using the system zlib, while the bundled one should be used. Back then the issue was fixed by pull request #6799.

I was trying

[2022-07-30 07:34] LukasKoenemann opened #9270 "Error opening file for reading during translateModelFMU"
Hello,

I'm compiling my modelica models via Python-API (OMPython) to FMU (using `translateModelFMU` function). If I compile the models in Windows, everything works, but in Linux I get this error:
[code]

[2022-07-30 18:29] adrpo commented on #9180
On Windows, I have been printing the string via:
[code]
When simulating model Modelica.Blocks.Examples.Filter and I get:
[code]

Which is what is expected. I will see if I can modify the code to get what we want without Mac crashing.
It seems my assumption about `a.b.der(x)` was not correct and the variables are of the usual form `der(a.b.x)` which I should have got from the fact that the code say

[2022-07-30 21:05] casella commented on #9180
For the record, Dymola writes `Bessel.der(x[1])` instead. I guess in principle both are correct Modelica expressions.

[2022-07-30 21:06] casella commented on #9269
@leo-recover mind making a PR with your patch?

Thanks!

[2022-07-30 21:11] adrpo commented on #9180
As far as I understand `a.der(x)` is not valid Modelica:
https://specification.modelica.org/master/modelica-concrete-syntax.html
Also it seems that now they have defined `result-reference` for the variables in the mat file.

[2022-07-30 21:17] adrpo commented on #9180
Can anyone (@Mathadon) test PR https://github.com/OpenModelica/OpenModelica/pull/9271 on their Mac and see if they still get a crash when simulating and plotting variables for model: Modelica.Blocks.Examples.Filter?

[2022-07-31 00:30] adrpo commented on #9180
Never mind, it still dies. I tested it on our M1 Mac.

[2022-07-31 08:48] Mathadon commented on #9180
I did some testing.

This solves the problem (no crash):
[code]

This first sorts the names alphabetically, which is then overwritten by the `std::sort`. So somehow putting the variables into a new list solves the problem. Oddly enough, this does not work:

[code]
but results in

[code]

[2022-07-31 10:26] adrpo commented on #9180
Yeah, I suspect some bad interaction between QStringList and std::sort, maybe the former was compiled with different libstc++?!
I will incorporate your fix with ifdefs for MacOS.

[2022-07-31 10:51] Mathadon commented on #9180
d92a822 works on my system.

[2022-07-31 10:52] adrpo commented on #9180
Yes, it works on our M1 Mini as well. I will merge it.
![image](https://user-images.githubusercontent.com/4192979/182022722-a10ab73c-0ee4-4ee1-ab66-d49f092e08e1.png)

[2022-07-31 11:07] #9180 closed

[2022-08-01 08:12] AnHeuermann commented on #9220
Not really, sorry.

I guess the workaround for now would be to completely unload the FMU binaries every now and then and load them again.

[2022-08-01 09:00] AnHeuermann commented on #5720
I have no troubles running the installer without admin rights.

If anyone with admin rights wants to try it out:

noadmin.bat
[code]

[code]

Of course you'll need to change the installation directory to something you have write access to otherwise an error is issued.
I used `E:\Program Files\OpenModelica1.20.0-dev-64bit`.

Unfortunately I can't simulate any model with my installed omc:
[code]

A

[2022-08-02 06:43] sitadrost opened #9274 "Installing OMOptim (Ubuntu 20.04): errors during configure and make"
I'm trying to install OMOptim on Ubuntu 20.04 (with OpenModelica 1.19.2 already installed), following the Linux build instructions given on GitHub, but I'm running into several errors.
What I did so far:
1. Check for dependencies: OpenModelica 1.19.2 (although I'm not sure about the CORBA support; I installed this years ago, using the Debian package and the instructions on the OpenModelica website

[2022-08-02 06:49] sitadrost commented on #9274
I forgot to mention: when I cloned OMOptim into my Downloads folder, this resulted in an empty `commons` directory, so I replaced that by the `OpenModelica-common` folder (cloned into OMOptim, renamed to `common`)

[2022-08-02 10:39] Mathadon commented on #9180
I still get the same problem when simulating a more complicated model `IDEAS.Buildings.Examples.ComfortExample`:

Stack trace:
[code]

[2022-08-02 10:40] bernhardbachmann commented on #9260
@LukasKoenemann: Unfortunately, we had to stop the development of
optimization methods in OMC a few years ago. As Francesco already
mentioned, we need funding for at least one PhD student (3 years) for
any serious work on this topics.

Best
Bernhard

Am 28/07/2022 um 01:13 schrieb Francesco Casella:

--
=============================
Professor Bernhard Bachmann
Dr. phil., Dipl.-Math.

Fachhochschul

[2022-08-02 10:44] adrpo commented on #9180
Do git pull and compile OMEdit again as @adead31 did a better fix.

[2022-08-02 10:51] Mathadon commented on #9180
yup, fixed! thx

[2022-08-02 19:45] max-privato commented on #9132
Ah Sorry, I lost completely the discussion from this point on because when tickets are closed they are not visible on GitHub anymore, by default(for this I miss the old track!)
I'm on vacation now, but when I'm back, I'll make my tests and comment if necessary.
Thank you all.

[2022-08-02 19:51] max-privato commented on #9132
I'll do starting from August, 16.

In case 1.20.0.beta1 is available in time, I can test all the models I use for teaching with it, and decide whether to prompt you for 1.19.3, or use directly 1.20.0 beta1.
Thank you for taking care of this issue, which I think is minor for many of us, but, as I said, very important for me.

[2022-08-03 12:14] AnHeuermann commented on #9024
I managed to create a minimal working example.

[code]

[2022-08-03 12:45] AnHeuermann commented on #9024
I can see two issues in this example:

  1. We have `assert(left.con.r.C_LHV[2] == right.con.r.C_LHV[2], "Connected constants/parameters must be equal");`.
      In this example the values are equal (both `0`), but the generated C code cecks if `right.con.r.C_LHV[2]` is non-zero.
  2. `left.con.r.C_LHV[2]` shouldn't be zero in the first place, but `-2500e3`.
      But I can't see generated code to

[2022-08-03 22:47] casella commented on #9180
You are right. In fact, I tried the following test case in Dymola
[code]
which checks correctly, while if I uncomment the commented line, it fails.

[2022-08-03 22:52] casella commented on #9131
@AnHeuermann, @phannebohm, @kabdelhak, then we have two choices to solve this issue:
1. try to understand why the numerical Jacobian got worse at some point
2. try to get Niklas' model to work with symbolic Jacobians

Which one would you pick?

[2022-08-04 07:02] sjoelund commented on #9274
There are always errors in the config.log because it tests for flags that no longer exist, and so on. If it fails on webkitwidgets, you probably didn't install that Qt (development) module.
We stopped building OMOptim packages in 2019 because nobody was maintaining the code and it probably will break compilation on a newer OS (Qt changes and so on).

[2022-08-04 08:55] sitadrost commented on #9274
Thanks for this explanation! In that case, I think I'll try to find another solution; see how far I can get with manual parameter tweaking in OpenModelica, or fall back to my old (and painfully slow...) Python code.

[2022-08-04 08:55] #9274 closed

[2022-08-04 09:20] AnHeuermann commented on #9024
With #9276 this seems to be fixed

[code]

[2022-08-04 09:20] #9024 closed

[2022-08-04 10:02] bernhardbachmann commented on #9257
GBODE uses the symbolical jacobian, even when the flag -jacobian=coloredNumerical is set. This has been corrected now.
(see pull request: Correct handling of flag -jacobian #9278)

[2022-08-04 10:02] #9257 closed

[2022-08-04 11:43] #9269 closed

[2022-08-06 05:45] phannebohm commented on #9043
Fixed in #9275.

The issue was the initial system with lambda=0. Wie didn't balance it individually, but in fact the actual and simplified expressions may lead to different structures, i.e. causalities.

All of the above models compile now, but some fail during initialization. Perhaps we're still missing something or the lambda0 systems are I'll posed.

[2022-08-06 05:45] #9043 closed

[2022-08-08 08:18] AnHeuermann commented on #9249
Same issue for

- [ClaRa.Components.VolumesValvesFittings.Pipes.Check.ThickWallScenarios.Test_Pipe_L1_TML_insulatedWall](https://libraries.openmodelica.org/branches/master/ClaRa_dev/files/ClaRa_dev_ClaRa.Components.VolumesValvesFittings.Pipes.Check.ThickWallScenarios.Test_Pipe_L1_TML_insulatedWall.sim)

[2022-08-08 08:37] AnHeuermann opened #9281 "Equality on parameter string array of record"
### Description

[ClaRa.Components.Sensors.Check.TestGasSensors](https://libraries.openmodelica.org/branches/master/ClaRa_dev/files/ClaRa_dev_ClaRa.Components.Sensors.Check.TestGasSensors.sim) has connectors with media records that have an array of gas names (strings). For connections all parameters have to be equal. Similar to #9024 this model fails this check.

### Steps to Reproduce

Run

[code

[2022-08-08 09:14] AnHeuermann commented on #9281
It seems that the array of strings have type `T_BOOL` instead of `T_STRING` inside the array. So something in SimCode or the Backend is going wrong.

[2022-08-08 11:20] AnHeuermann commented on #9281
@perost I'm not sure how to understand the `RELATION` generated in the frontend.
I added a `Operator.toString` (see https://github.com/OpenModelica/OpenModelica/pull/9282) and call it in [NFExpression.toDAE](https://github.com/OpenModelica/OpenModelica/blob/master/OMCompiler/Compiler/NFFrontEnd/NFExpression.mo#L2261):

[code]

where I would expect to get `OPERATOR(String[10], EQUAL)`. For scalar s

[2022-08-08 14:26] phannebohm commented on #9249
I think I get many of these with the current omc v1.20.0-dev-240-g0763971d31

There seems to be an issue with disregarding the `const` in `const double*` for some `TILMedia_VLEFluid`-functions. Not sure if this has anything to do with anything. Anyways, this is an excerpt from the compilation warnings:

[code]

[2022-08-08 16:26] LukasKoenemann commented on #9270
I'm using wsl2.

I'm getting the same error, if I run the mos-script:
[code]
Output:
[code]

[2022-08-09 14:18] dietmarw opened #9284 "Markdown support in documentation rendering of OMEdit"
### Description

It would be a nice extension if the documentation browser would support the rendering of markdown formatted text. This is something that has been added in the latest release of Dymola 2023, and although not standard would be nice to have. The LaTeX equation rendering is already working thanks to [#3311](https://trac.openmodelica.org/OpenModelica/ticket/3311).

[2022-08-10 08:29] AndreaBartolini opened #9285 "Error loading MSL 3.2.3"
I've installed the following libraries by using the Library Manager available in OMEdit:
- Modelica Standard Library 3.2.3
- Complex 3.2.3
- ModelicaServices 3.2.3

But trying to open the MSL 3.2.3 i got an error.

Step to reproduce the issue:
1) open OMEdit
2) File -> System Libraries -> Modelica -> 3.2.3 (post-release build maint.om)

The following pop-up is shown :

![Screenshot_20220810_102129

[2022-08-11 13:41] AlesVojacek commented on #8564
When I reduce the number of discretisation from 50 to 3 in the tester
[ClaRa.Components.VolumesValvesFittings.Pipes.Check.FlowReversal.Test_Pipe_L4_Simple](https://libraries.openmodelica.org/branches/master/ClaRa_dev/files/ClaRa_dev_ClaRa.Components.VolumesValvesFittings.Pipes.Check.FlowReversal.Test_Pipe_L4_Simple.sim), and I run it till 0.05 s and I compare initial values of state variables (p p

[2022-08-11 19:09] EttoreZ opened #9288 "FMU initialization issue"
### Description
I am trying to export and FMU model using OpenModelica. The model I am using is a Buildings library thermal zone + air based HVAC system [BOPTEST_singlezone_commercial_air](https://github.com/EttoreZ/project1-boptest/tree/issue396_singlezone_commercial_air/testcases/singlezone_commercial_air/models/singlezone_commercial_air). The model runs fine a 1y simulation using dassl solver o

[2022-08-12 05:42] bilderbuchi commented on #9288
Have you tried upgrading to using MSL4 and current Buildings? At least that first warning about a call to impure function has been [fixed](https://github.com/lbl-srg/modelica-buildings/commit/d9c52e3ba2acf8ab104968f76a2cac578cb84a84#diff-a5902c9ba23c08c08e86121b111f9d72dc81955b764b352fb18ba5f11bc42ad2R2) after v8.1, with the transition to MSL4.

[2022-08-12 11:54] paultjevdh opened #9289 "Translation hang on clocked model"
### Description
The MWE below hangs openmodelica during the translation stage.
In dymola, the model compiles and runs fine.

### Steps to reproduce
Try to compile the model below in openmodelica. The only way to end the process is to kill the program. This will give the dialog 'openmodelica is not responding' and allows a 'hard' close of the program by Windows.
[code]
The problem is 'fixed' (but t

[2022-08-12 15:38] EttoreZ commented on #9288
Dear @bilderbuchi, thank you for the suggestion. I tried upgrading to current Buildings and MSL4 and the warning you mentioned disappeared. The problem is still there, but this time OpenModelica was able to better identify the cause, below part of the log:
`[4] 17:20:06 Translation Error
Initialization problem is structural singular. Please, check the initial conditions.

[5] 17:20:06 Translation

[2022-08-13 15:19] max-privato opened #9291 "Dynamic select does not work in this case"
### Description
I know that Dynamic select feature is not fully implemented in OpenModelica yet.
To help finalise the implementation of this feature, in this ticket I report a case in which it does not work.

### Steps to Reproduce
Use the following library
[PowerGrids.zip](https://github.com/OpenModelica/OpenModelica/files/9331684/PowerGrids.zip)
that is a modified version of PowerGrdids library

[2022-08-13 15:42] max-privato commented on #9132
To use OM to run Power flow cases of PowerGrids Library I need the following ticket solved.
https://github.com/OpenModelica/OpenModelica/issues/9291

So, in case it is compatible with your schedule, it would be great to have it fixed by rel. 1.19.3.

[2022-08-13 16:49] adrpo commented on #9291
From what I know from the implementation this case is supported so it looks like there is a bug somewhere.

[2022-08-15 08:11] perost commented on #9024
For Real we usually generate `abs(lhs - rhs) <= 0` instead, see `NFConnectEquations.makeEqualityAssert`. But it only handles scalars, so for arrays it will fall back to the default `lhs == rhs`.

[2022-08-15 09:00] perost commented on #8766
https://www.mathworks.com/help/matlab/import_export/mat-file-versions.html only lists size limits _per variable_, so the 2 GB limit should be per variable and not per file (it explicitly says "The maximum size of a MAT-file is imposed only by your native file system"). So this is likely an issue with our code rather than with the .mat format itself.

[2022-08-15 09:04] sjoelund commented on #8766
All time-varying variables are stored in the same table=variable though

[2022-08-15 09:56] perost commented on #9281
This might be fixed in #9292. For some reason we used `ComponentRef.getComponentType` to get the type to use when generating asserts for connect equations which doesn't take subscripts into account, so we'd sometimes get array types even though the argument were actually scalars. I'm not sure where the `Boolean` came from though...

Now we just take the type from the expressions we generate anyway

[2022-08-15 10:10] AnHeuermann commented on #9281
The generated code looks correct and for me it is simulating.  We'll see what the library tests will make from this, but this seems to be resolved. Thanks!

[2022-08-15 10:22] perost commented on #9289
The issue is here:
https://github.com/OpenModelica/OpenModelica/blob/6911635f120b7214fc275eb1662042eb1b4372f5/OMCompiler/Compiler/BackEnd/SynchronousFeatures.mo#L758-L776

Line 767 adds the element back to the list, which causes the loop to endlessly repeat. Is it perhaps a typo and it should actually be adding it to `orderLst` instead? I don't really know how the code is supposed to work. @kabdel

[2022-08-15 10:40] #9281 closed

[2022-08-15 12:38] adeas31 opened #9293 "[NewAPI] Dump the connection annotation same as graphical annotation"
### Description

The connection annotation is returned as json object instead of json array.

### Expected Behavior

Keep the annotation output consistent.

Instead of returning,

[code]

return in this format,

[code]

[2022-08-15 12:41] adeas31 opened #9294 "[NewAPI] Missing information about state machines models"
### Description

Calling `getModelInstance` on a state machine model does not return information about transitions and initial states.

### Expected Behavior

Should dump transitions and initial states.

[2022-08-15 12:49] perost commented on #9293
The issue here is that the first is a modifier like `Line(points = ...)`, while the second is something like `graphics = {Rectangle(extent = ...), ...}`. So the output is consistent, it's just that `Line` is modified while `Rectangle` is called.

I guess we could pretend that it actually says `??? = Line(points = ...)`, but we'll have to add a lot of special handling of certain modifiers in that c

[2022-08-15 12:50] perost commented on #9294
Any example of such a model?

[2022-08-15 13:00] adeas31 commented on #9291
This works as expected.

https://user-images.githubusercontent.com/4007231/184639507-5f7e370a-3e9f-4abb-95fd-c197831194bf.mp4

[2022-08-15 13:05] adeas31 commented on #9293
But you can make elements as array instead of objects. That's all I want. Makes the parsing a lot easier.

[2022-08-15 13:08] perost commented on #9293
I'm not sure what you mean, could you perhaps change the second example to show what you actually want? It's a bit confusing now since the examples are completely different rather than being the same data with different formats.

[2022-08-15 15:21] adeas31 commented on #9293
Instead if dumping as,

[code]

Please dump as,

[code]

Hope it makes some sense now.

[2022-08-15 15:47] perost commented on #9293
Ok, that's kind of what I wrote earlier. You want to treat top-level modifiers in annotations as records even if they aren't, essentially treating annotations as a list of expressions rather than a modifier. To make that work we'll have to convert them to records and instantiate them first I guess, to get the correct element order.

Also, it doesn't work if the annotation contains anything that do

[2022-08-15 21:30] max-privato commented on #9291
Why you say it works as expected? I don't see in your video the numbers on the diagram.

I'm sad that you closed this ticket so fast , not giving me the opportunity to comment. I don't know why you did so.
This does not encourage me to contribute to the Om development with tickets.

[2022-08-15 22:52] adrpo commented on #9291
Sorry @max-privato. Developers are eager to close tickets if they think it works as it should. I reopened the ticket now until you can test it again to see that is working for you.

As far as I understand you need to open the diagram in the Plotting view to animate with the dynamic select. This is what @adeas31 has shown you with the video. After simulation when you are in the Plotting view you ne

[2022-08-15 23:04] adrpo commented on #9291
@max-privato please publish all your issues to new tickets and we will check them properly. Do not get discouraged by ticket closing as we can easily reopen them for further discussion.

[2022-08-16 07:05] adeas31 commented on #9291
Because the numbers are shown correctly in the diagram window shown in the plotting perspective. If you look at the end of the video you can see the numbers replacing the alphabets.

I didn't mean to discourage you by closing this ticket. I just closed it since its crystal clear to me that it works as it should. I like the feedback we get from you. It helped OM to improve over time. You are one of

[2022-08-16 07:33] adeas31 commented on #9293
OK. I will add parsing for graphical objects then. Should be easy to handle in OMEdit.

[2022-08-16 08:20] adrpo commented on #9293
If you need to parse Modelica you can use the parser we have. I only used it for getting the comment from a modifier:
https://github.com/OpenModelica/OpenModelica/blob/master/OMEdit/OMEditLIB/Util/StringHandler.cpp#L1968

[2022-08-16 08:32] perost commented on #9293
That's not really an issue, we dump instantiated expressions as JSON structures regardless. This is more about the JSON structure we use when dumping annotation modifiers.

[2022-08-16 13:09] max-privato commented on #9291
AHA! And it was also shown in the Adeeel video.
Sorry for being too imprecise in looking at it.
Please forget about my previous message: it was totally my fault

[2022-08-16 13:10] max-privato commented on #9291
Ok! It was my fault. I'd just returned from holidays and my mind was maybe still on holiday ;-)

[2022-08-16 13:12] max-privato commented on #9291
Now I understand perfectly. As I said, it was my fault.

I'll do

[2022-08-16 14:56] #9291 closed

[2022-08-16 19:35] #9294 closed

[2022-08-17 11:32] perost commented on #9251
The issue can be reduced to (using only `-d=nonfScalarize`):
[code]
The problem is that when scalarization is turned off the `VBase` variable is turned into an array `Real[2] ports.VBase = UNom / 3`, where the binding after evaluating `UNom` becomes `{400e3, 400e3} / 3`. This is technically valid Modelica but doesn't work because the compiler still thinks it's supposed to be a scalar operation, an

[2022-08-17 15:15] max-privato opened #9301 "readMatrixSize() cannot open file for reading"
### Description and  Steps to Reproduce
Consider the following package

[code]
Run model from OMEdit model W1. File “file.mat” will be written in the Work directory of OM, since no path is included in the name.
I expect that if I run R1, the previously written data is read from file “file.mat” located in the working directory. Instead, before compiling the model, OMEdit emits the following error m

[2022-08-17 15:27] max-privato opened #9302 "Bad and incomplete text output when using getInstanceName()"
### Description and Steps to Reproduce
Consider the following code:
[code]
When I run W2root, the expected output in message window, and the actual output obtained from Dymola is:
[code]
And this is what I read when I run it from Dymola. If I run W2root from OM 1.19.0, instead, I read:
`### model full path: 'RW.W2root.w2.mat'
`
Here I see two issues:
1)	The text I get as full path is 'RW.W2root.w2

[2022-08-17 15:39] max-privato opened #9303 "writeRealMatrix() does not work in a when initial() field"
### Description and  Steps to Reproduce

Consider the following code:
[code]
It should create a file named W3.mat in the working directory containing matrix x.
Unfortunately, this file is not created.
Note that Dymola correctly creates the file. Also note that W3.mat is created if the code is as follows (i.e. when initial() is commented)
[code]

### Expected Behavior
W3.mat, containing matrix x sh

[2022-08-18 06:29] hkiel opened #9304 "Fix warning "equality comparison with extraneous parentheses""
### Description

When building OM, compilation output is cluttered with hundreds of warnings and notes, making it difficult to spot "real" warnings.
[code]

The "problem" are extra parentheses in if conditions, e.g. `if((_flow_dir == ((modelica_integer) -1)))` which are supposed to mark assignments in if conditions. It should be possible to generate only needed parentheses.

[2022-08-18 06:39] hkiel commented on #9304
@mahge I tried to fix this myself, but using cmake, my modifications to `OMCompiler/Compiler/Template/CodegenCFunctions.tpl` don't seem to take effect.

I added a comment to all occurrences of `if(<%if_conditions%>)` in `CodegenCFunctions.tpl` to distinguish the different places, but the comment never shows up for generated code on a second call of cmake (after touching some OMCompiler/Compiler/NF

[2022-08-18 07:11] mahge commented on #9304
I have seen them as well. I think some of them come from the bootstrapping code so it is not possible to fix all of them by updating the code generation.

The easiest way is to just disable that warning if we are using clang. I will make a PR for it.

[2022-08-18 07:49] mahge commented on #9304
As it turns out we already have silenced these warnings ([here](https://github.com/OpenModelica/OpenModelica/blob/b17e1a0ea1c9e2e8686c568f41e3db40bb409b1b/OMCompiler/Compiler/CMakeLists.txt#L197-L199) and [here](https://github.com/OpenModelica/OpenModelica/blob/b17e1a0ea1c9e2e8686c568f41e3db40bb409b1b/OMCompiler/Compiler/boot/CMakeLists.txt#L18-L20)) for `Clang` but not for `AppleClang`.

#9305 sh

[2022-08-18 08:25] #9304 closed

[2022-08-18 09:41] hkiel commented on #9304
@mahge The patch successfully removes the warnings. Thanks!
However, I would keep the ticket open (or open a new one), because `omc` is always rebuilt with bootstrapped `bomc`.
In make-build we have three-pass build of omc (bootstrap from C, build `.mo` with `bomc` and finally build `.mo` with `omc`)

I don't know if we need three passes. But once `omc` is available, it should be used instead of `

[2022-08-18 10:04] perost commented on #9240
Implemented in #9306, but I think we also need to think of a strategy to limit how much to store and not just keep storing until we run out of memory.

One solution would be to limit the API to only storing a certain number of ASTs and throw away old ones when it's full. Another would be to have some API for removing specific stored ASTs and let OMEdit handle it itself. I'm not sure what would be

[2022-08-18 11:03] perost commented on #9302
The `getInstanceName` issue might be fixed in #9307, if it doesn't break anything (in which case I'll just have to add a special case for `getInstanceName`).

The issue that the short name isn't printed is not solved though, but doesn't have anything to do with `getInstanceName`. I'm not sure if it's well defined to have a `when`-equation that depends on a `when`-algorithm like that, that might po

[2022-08-18 22:41] casella commented on #9285
@AndreaBartolini you can try to delete (or move elsewhere) the contents of your ~/.openmodelica directory and reinstall everything from scratch. Does that solve your problem?

[2022-08-18 22:50] casella commented on #9251
@perost, couldn't we use iterators to vectorize binding equation, e.g.
[code]

[2022-08-18 22:55] casella commented on #9302
@max-privato please check with the next nightly and close this if fixed.

[2022-08-18 22:56] casella commented on #9302
@perost, which code are you referring to here?

[2022-08-18 22:58] casella commented on #9304
@hkiel please open a separate one for that. Thanks!

[2022-08-18 23:01] casella commented on #9240
@perost, given that only parameters and graphical annotations should be stored, is this really going to be an issue? If we start worrying about out-of-memory issues, there's 1e4 places we should take care of that...

[2022-08-18 23:15] adrpo commented on #9240
How many undo operations do we need?
I guess we could just investigate how the memory  grows during usge and then choose the cap.
I would say 5000 should be plenty but is better to experimentally get to a number.

[2022-08-19 06:22] bilderbuchi commented on #9303
Do you see the printout from within the `when initial()` as expected?
See also #9206 about an `assert` in a when-initial construct not working correctly, could be related.

[2022-08-19 07:24] AndreaBartolini commented on #9285
Tried to do it and it solves the problem... just two notes:
1) it is necessary to delete also the old installation of modelica libraries in /usr/lib/omlibrary (maybe better to show an alert about this)
2) the opening of the MSL 3.2.3 still load the 4.0.0 version of Complex and  ModelicaServices libraries while in the MSL 3.2.3 the uses annotation requires the 3.2.3 version of them

OMEdit - OpenMo

[2022-08-19 07:35] sjoelund commented on #9285
I suppose the Ubuntu packages could add a `Breaks:` directive on the old MSL packages

[2022-08-19 07:47] perost commented on #9302
There are two print statements in the when-equation, but only one is actually printed when simulating the model. The when-equation depends on the when-algorithm to be executed first in order to give a value to `nameShort`, but I'm not sure if that's something one can actually rely on. But even then it's a bit weird that nothing is printed from the second print statement.

[2022-08-19 07:55] perost commented on #9240
It's a memory leak, which as a computer engineer I'm allergic to.

[2022-08-19 08:04] perost commented on #9251
Yes, but it's far from trivial to implement correctly in general when you have variables and bindings from different scopes. I've spent a lot of time on it for the scalarized path to get the constant evaluation working correctly, but it's not obvious how to use that to vectorize bindings.

[2022-08-19 09:28] bilderbuchi commented on #8591
Minor update: with current ExternalMedia master https://github.com/modelica-3rdparty/ExternalMedia/commit/97fb739e6a91c242b4c5c8598438b1e559889c7a and OM 1.19.2, `state.phase` shows the correct value 1 at the beginning and end, and (unchanged) 1.4e14 in between.

[2022-08-19 09:49] #9266 closed

[2022-08-19 10:32] perost commented on #9240
#9310 limits the AST cache to an arbitrarily chosen limit of 1000 elements (because who would ever need more than 1000 levels of undo?). But the limit can of course be trivially changed if needed.

[2022-08-19 11:00] casella commented on #9285
Yeah, this is a bit messy. Also related to #8353, which we should get done for 1.20.0. Where would you put the alert? In the [linux installation instruction page](https://openmodelica.org/download/download-linux)?

This is fine, Complex and ModelicaServices 4.0.0 are backwards-compatible and this is reported by a notification.

[2022-08-19 11:13] AndreaBartolini commented on #9285
Linux installation page maybe a good place to put an alert.... better if highlighted (in red or similar).
It could be useful that also the package manager checks the presence of old installation of the libraries and rises an alert if it found them.

[2022-08-19 11:29] sjoelund commented on #9285
I wouldn't make it part of the instructions. If there is a `Breaks` directive in the package, MSL would be automatically uninstalled

[2022-08-19 11:39] adeas31 commented on #9240
#9309 implements the use of these APIs in OMEdit.

[2022-08-19 11:40] perost commented on #9240
I guess we may as well close this then.

[2022-08-19 11:40] #9240 closed

[2022-08-19 12:06] adeas31 opened #9311 "[NewAPI] Connections of an extends class are dumped as local connections"
### Description

The connections of an extends class are dumped as local connections in `getModelInstance` api.

### Expected Behavior

The extend class structure should contain its connections. This allows OMEdit to draw inherited connections.

### Additional Context

Makesure to do the same for transitions and initialstates.

[2022-08-19 12:59] hkiel opened #9314 "[cmake] omc is always compiled with bootstrapped omc"
### Description

`omc` is always rebuilt with bootstrapped `bomc`.
In make-build we have three-pass build of `omc` (bootstrap from C, build .mo with "bomc" (which is actually omc from bootstrapped sources) and finally build .mo with (non-bootstraped) omc)

I don't know if we really need three passes. But once `omc` is available, it should be used instead of `bomc` to build omc itself with cmake.

[2022-08-19 13:48] mahge commented on #9314
We can of course replace the bootstrapped `omc` with the compiled `omc` once it is available. However this can leave you in a broken state where you Where you can not compile MetaModelica until you have done a full cleanup (or at least restarted the bootstrapping manually). This used to happen (and still does) with the autoconf build. It happens less and less lately though since we are not updatin

[2022-08-19 13:50] sjoelund commented on #9314
The problem with 2-stage is that in the cases where we change something, bomc and omc both will fail to compile and won't be able to bootstrap either. 3-stage however, will work if you make clean and bootstrap again.

[2022-08-19 21:55] casella commented on #9251
I understand it's not optimal, but could we start with a solution that handle simple cases as the ones in question (i.e. expressions involving one parameter and some literal constants)? This would get us going with power grid models, which are a key application for large-scale systems.

[2022-08-19 21:56] casella commented on #8591
@bilderbuchi the current implementation uses 32 bits instead of 64 (or the other way round), so the result is totally unpredictable until we have a proper solution. @mahge is working on that.

[2022-08-19 21:58] casella commented on #9285
@sjoelund can you take care of that, and then we test it?

[2022-08-19 22:03] casella commented on #9024
Nice regression testing result [here](https://libraries.openmodelica.org/branches/history/master/2022-08-04%2000:50:23..2022-08-04%2011:22:53.html)

[2022-08-20 09:31] casella commented on #6196
In this [regression report](https://libraries.openmodelica.org/branches/history/master/2022-08-04%2011:22:53..2022-08-06%2001:02:51.html), the failing models now pass the backend and code generation phases and fail at runtime.

This is how `Buildings.Electrical.AC.ThreePhasesUnbalanced.Validation.IEEETests.Test4NodesFeeder.BalancedStepDown.DD` failed previously: [log](https://libraries.openmodelic

[2022-08-20 09:33] casella commented on #6196
BTW, if you look at the [backend log](https://libraries.openmodelica.org/branches/master/Buildings_8/files/Buildings_8_Buildings.Electrical.AC.ThreePhasesUnbalanced.Validation.IEEETests.Test4NodesFeeder.BalancedStepDown.DD.err) after the last commits, you see stuff like this:
[code]
which to me looks very clearly as a structural problem due to high-index DAE not being index-reduced properly.

[2022-08-22 06:15] sjoelund commented on #9285
I have pushed a change to the nightly control files. When there is a new nightly build, hopefully it is built with these dependencies

[2022-08-22 10:39] #9311 closed

[2022-08-22 13:37] max-privato commented on #9303
Yes, I receive the following printout:
`### Saving to 'W3.mat'
`

[2022-08-23 12:06] AnHeuermann opened #9321 "Weird initialisation behaviour for a parameter record"
### Discussed in https://github.com/OpenModelica/OpenModelica/discussions/9320

<div type='discussions-op-text'>

<sup>Originally posted by **bilderbuchi** August 23, 2022</sup>
I recently found some puzzling behaviour when initialising a thermodynamic reference state (i.e., a parameter record).
When simulating the following MWE in OM 1.19.2, `state_ref1.T` gets the value 500 K (226.85°C), not 333

[2022-08-23 12:07] AnHeuermann commented on #9321
Could be relevant for the [PHyMoS project](https://github.com/OpenModelica/OpenModelica/projects/4).

[2022-08-23 12:09] phannebohm commented on #9321
This seems to be independent of records or function calls. In the below MWE during initialization the parameter `r` needs to be set but isn't.
[code]

[2022-08-23 12:30] AnHeuermann commented on #9321
For the original model `OM_state_init` Dymola is issuing an error:

[code]

In the model `MWE` there should be an error message as well.

When changing it to
[code]

it is legal and working again.

How to set `fixed=false` for a final record parameter?

[2022-08-23 12:30] phannebohm commented on #9321
I forgot how Modelica works. Parameters are fixed by default. The following MWE works as expected.
[code]

[2022-08-23 12:39] AnHeuermann commented on #9321
@kabdelhak Can we check if this initial system is overspezified in the backend?

[2022-08-23 15:45] LuisCoronaMesaMoles commented on #9264
@casella, thank you very much for your feedback. When reducing the number of intervals to 2 there is an important improvement in the simulation time:
![image](https://user-images.githubusercontent.com/109950701/186202031-e1abe954-4c95-4048-80e2-e647d0eb4041.png)
So I think that this solution can be used as a workaround for static models.

However, the initialization time is still very important (a

[2022-08-24 09:50] janpeter19 opened #9323 "Error message for FMU generated OMEdit 1.20... when loading in PyFMI"
I have a small model that I can compile and run in OMEdit (VM Linux 1.20 nightly build).
When I export it as FMU it give an error text "undefined symbol: cvode_solver_fmi_step" when I  do load_fmu() in PyFMI (Linux).
Screenshot of error text enclosed.

The FMU was generated in OMEdit with default settings except:
Tools/Options/Simulation field Additional Translation Flags: --fmiFlags=s:cvode

In d

[2022-08-24 11:01] AnHeuermann commented on #9323
Is it only for your specific model or for any model?

You could try
[code]

And did you test to simulate the FMU with a different importing tool, e.g. OMSimulator?

You could try to unzip the FMU and check what symbols the shared library exports. For me this looks like:

[code]
in your case at least `cvode_solver_fmi_step` will be missing.

Also check if the source files for  `cvode_solver_fmi_ste

[2022-08-25 07:26] darohde opened #9328 "OMEdit repeatedly filled memory until it crashed when opening models"
An official release version of OMEdit (1.19.0 I think) kept crashing when I tried to open models in the HumanComfortLib. The memory usage increased for a while until the OMEdit window simply disappeared at about 10GB of RAM usage (Windows 10 Business, 16GB RAM). I re-installed several times and also tried stable development and nightly build versions without any luck.

What helped was deleting the

[2022-08-25 09:22] janpeter19 commented on #9323
I think the problem is general.
When I in OpenModelica setup the example with PID_controller you suggested,
then I can run it. I make the settings are entered "--fmiFlags..." and default integration routine CVODE is set.
Even restarted OpenModelica (but not Ubuntu) as perhaps required? Then I export the FMU.
After that I bring the FMU over to my other Linux machine and run with PyFMI and get the s

[2022-08-25 09:35] AnHeuermann commented on #9323
Is it possible to simulate the FMU where you exported it (in the first virtual machine)? If you don't have PyFMI on that one just use
[code]

Yep. It should be `readelf`.

Aha! That could be a clue. Do you have `blackbox` FMUs enabled? In that case all source-code is removed from the FMU. Maybe that is the issue since I never tested black-box FMUs with CVODE.
You can check the setting in Tools->Op

[2022-08-25 11:10] janpeter19 commented on #9323
I have now tried to do a simulation on the same machine where OpenModelica is installed (but not PyFMI).
Using the terminal I move to the folder where the FMU is and do the command, but get error messages, see belo
![Screenshot 2022-08-25 at 12 14 28](https://user-images.githubusercontent.com/35634863/186646308-5eea0311-4289-42bb-b090-c0fbd5d0525c.png)

When I set the Model Description Filters to

[2022-08-25 12:15] AnHeuermann commented on #9323
Judging form the log file (in `resources/x86_64-linux-gnu.log`) `simulation/solver/cvode_solver.c` is never compiled into the FMU binary.
That means variable `NEED_SUNDIALS` is not set by OpenModelica. Maybe changing the platform to `static` change this, but that is already the default value.

You can try

[code]

--------------------

There is something wrong. The error message from OMSimulator s

[2022-08-25 12:45] aditmak opened #9330 "Cross build of the FMU using docker"
I am using OpenModelica v1.19.2 (64-bit), OMSimulator v2.1.1.post159-g606161d-mingw under Windows 64bit. I created a fmu and want win64 and linux64 binaries. I ticked on x86_64-linux-gnu docker build and already have docker installed on it.

When I export the FMU, I am getting the following error:

[code]

I think the issue is related to #7458.

[2022-08-25 13:06] janpeter19 commented on #9323
Try to execute you suggestions but get stuck. Need some clarifications:
1) Where can I in OMEdit find the "flag" for platform and set that to "static"?
2) I to the OMShell commands successfully, but where can I find the FMU that I have built?
3) You say that the error message from OMSimulator fot the FMU I enclosed above should have your longer error text.  Do you mean that the very same FMU give

[2022-08-25 13:36] AnHeuermann commented on #9323
You can't set it in OMEdit / I'm not sure if `native` and `static` are equivalent. But you can find the setting in Tools->Options->FMI.

![image](https://user-images.githubusercontent.com/38031952/186677742-f8a028ad-1ffa-4cd0-bc7f-4b6d039153f5.png)

But try with the provided script.

It should be right next to your script.

Safe the snippet

[code]
in a file `run.mos` and run it with `omc`. The la

[2022-08-25 13:52] janpeter19 commented on #9323
So, if I understand you right, you can make an FMU on your machine that is for co-simulation and use CVODE. If so, can you post it here and I can try it on my PyFMI-installation?

Do I understand right that you use OpenModelica 1.20... on a "dedicated" Linux-machine and not like me who use VirtualMachine downloaded from Linkoping.

Perhaps you should spell out exactly what OpenModelica version you

[2022-08-25 14:01] AnHeuermann commented on #9323
Sure: [Modelica.Blocks.Examples.PID_Controller.fmu.zip](https://github.com/OpenModelica/OpenModelica/files/9425327/Modelica.Blocks.Examples.PID_Controller.fmu.zip)
Create from a `v1.19.0-dev-984-gd8d8831726` omc. But that shouldn't matter. Not much changed for CVODE FMUs in the last year or so and this is tested on every nightly build.

It's not a native Ubuntu, but inside Windows Subsystem for Li

[2022-08-25 17:46] janpeter19 commented on #9323
I see that your FMU works fine in PyFMI 2.7.4. The only drawback is that 'silent_mode' cannot be set, but it is a small thing. Our conclusion is then that OMEdit does work but the nightly build VM OMEdit has some misstakes in the configuration that gives problems to generate proper FMU (with CVODE). You agree?

Enclosed my Jupyter notebook PDF-version.
[FMU_AH_demo.pdf](https://github.com/OpenMode

[2022-08-26 07:40] AnHeuermann commented on #9323
Sorry, my bad. Here is a CS one: [Modelica.Blocks.Examples.PID_Controller.fmu.zip](https://github.com/OpenModelica/OpenModelica/files/9430791/Modelica.Blocks.Examples.PID_Controller.fmu.zip)

Did you try the script above to generate the FMU form command shell and did it work?

[2022-08-26 08:12] janpeter19 commented on #9323
Thank you for the new FMU-CS. I will soon update the previous post with that run.

No, I have not tested the FMU generated by command-line script in my installation. I still have not figured out WHERE the produced FMU is put. Seems somewhere else from where OMEdit puts it.
Can you help me?

I understand it would be very good to know if command-line produced FMU have the same drawback with CVODE ad

[2022-08-26 09:07] AnHeuermann commented on #9330
I had a similar issue in #7458 and the solution was to use CMake instead of configure+Makefile whenever cross-compoling form Windows. It should be selected automatically, but you can force OpenModelica to use the CMake FMU compilation by adding the compiler flag [`--fmuCMakeBuild=true`](https://openmodelica.org/doc/OpenModelicaUsersGuide/latest/omchelptext.html#omcflag-fmucmakebuild). If you don't

[2022-08-26 10:01] AnHeuermann opened #9331 "CMake FMU with external function"
### Description

When building a FMU with the CMake build, external functions are not compiled into the binaries.

### Steps to Reproduce

Create `run.mos`

[code]

and run

[code]

### Expected Behavior

Add library `ModelicaExternalC` to the CMakeLists.txt

### Version and OS

 - OpenModelica Version: v1.20.0-dev-268-g5c43522580
 - OS: Ubuntu Focal
 - MSL: v 4.0.0

[2022-08-26 12:13] aditmak commented on #9330
Thanks  for helping @AnHeuermann.
Adding the compilation flag for CMake build helped to export the FMU. However, now there are 2 issues.

1. FMU Export works fine with Explicit Euler solver but with CVode I got the following error.

[code]

2. If I select, Native and x86_64-linux, it is giving me following error. I am using Windows 11 64-bit operating system, x64-based processor.
[code]

I am usin

[2022-08-26 12:55] perost commented on #9119
#9332 now implements automatic obfuscation when any encrypted libraries are loaded (regardless of if they're used or not, since we don't now that until we've actually instantiated a model which is too late).

So by default if any encrypted library is loaded we now obfuscate the protected variables when running the frontend on a model. `--obfuscate=full` can be used to instead obfuscate everything

[2022-08-26 13:58] AnHeuermann commented on #9330
Yeah, I can reproduce the issue on Windows without Docker:

[code]

`omc_config.h` is never included into the FMU and some header files need `OMC_FMI_RUNTIME` defined. There is a stray `"D"` in our CMakeLists.txt.in. and a include directory for sundials missing. Fixing these should resolve the issue.

[2022-08-26 14:11] AnHeuermann commented on #9323
Can you help me?

Unfortunately I don't have time to look into this the next weeks.

If you don't get the same output when running `$omc run.mos` as in https://github.com/OpenModelica/OpenModelica/issues/9323#issuecomment-1227271204 (true, true and the path to the FMU) something went wrong. Can you post the call and all of it output here?
Maybe someone else has time to take a look. Maybe @adrpo?

[2022-08-27 12:48] mrtompet opened #9334 "Compiling on macOS failed"
### Description

Failed to compile OpenModelica on Intel-Mac (Monterey) following the instructions on
https://github.com/OpenModelica/OpenModelica/blob/master/README.cmake.md#33-macos

### Version and OS

- Monterey 12.5.1, Intel-Mac
 - OpenModelica Version: v1.20.0-dev

### Additional Context

Please improve instruction with following additional information
On macOS you need to install: Java JRE

[2022-08-29 11:20] max-privato opened #9335 "Probably erroneous position of block connectors"
### Description
I've created an empty block (only connectors. When it is loaded from Dymola the connector positions are badly changed.
I don't know if it is an OpernModelica or Dymola issue

### Steps to Reproduce
Consider the following code:

[code]

This was created using OpenModelica. Its icon has the expected appearance, i.e. the following one:
![image](https://user-images.githubusercontent.co

[2022-08-29 15:18] janpeter19 commented on #9323
Now I have run the snippet run.mos that you asked for and results is as you expected and thus ok.

![Screenshot 2022-08-29 at 16 29 13](https://user-images.githubusercontent.com/35634863/187225649-bdd2f80c-39af-44b2-9462-0f57691cb12c.png)

When I run this FMU that I give the extension om120_cs in PyFMI I get an oscillatory signal y.

If I in the snipet just change from "cs" to "me" and give that F

[2022-08-30 12:39] TermeHansen commented on #9323
I think my issue (https://github.com/CATIA-Systems/FMPy/issues/447) is related to this...

**make_fmu.mos**
[code]

running `me` simulation:
[code]

running `cs` simulation crash:
[code]

[code]

[2022-08-30 15:43] janpeter19 commented on #9323
I note that you initially worked with OpenModelica 1.19.3 and found the problem. And the same problem seems reproducible with the latest OpenModelica 1.20... nightly build.  As You see in my conversation above with @AnHeuermann he provided an CS-FMU from 1.19 that did not work either. I guess it might be good to confirm that is a problem that has been around for longer time. I hope I understood wh

[2022-08-30 16:58] TermeHansen commented on #9323
@janpeter19 yes you are right. I was on stable, and switched to nightly to be sure it was not fixed and saw the same issue still...

[2022-08-31 09:04] darth opened #9336 "Memory management issue with FMU (CVODE solver)"
### Description

There is an issue with memory freeing in exported FMUs
when CVODE solver is used.

FMI 2.0 standard requires simulation environment to pass callback functions to
be used for memory allocation/deallocation when instantiating FMUs.
Then it is assumed that these functions are always used to handle memory
allocation/deallocation by the FMU without calling directly e.g.
`calloc()/free(

[2022-09-01 12:12] janpeter19 commented on #9323
Good to have that confirmed.
I now just my oldest VBox with OpenModelica ver 1.17.0 and that make FMU of type ME working but for CS it makes the kernel to stop, actually. Something really bad.  After updating to OpenModelica 1.19.3 the CS-FMU gave the same error as for OpenModelica 1.20.... shown above. The ME-FMU is ok though,  and ok in all examples.  So I think our bug-case is further a bit con

[2022-09-01 23:21] casella commented on #9285
@AndreaBartolini I'm not sure if you can reproduce the old problem and check that it is solved now. I guess you should recover what you deleted in your .openmodelica directory. If you can, please check and report, otherwise I guess we need to trust @sjoelund's solution and close this ticket for good.

[2022-09-01 23:25] casella commented on #9302
@max-privato, simple function calls in equation sections are not forbidden by the specification, but they are a bit fishy, because equations can be re-ordered based on dependencies, and it's not too clear what must be done with these statements.

Is there a reason why you used an algorithm to set the variables and an equation to print them? What about putting the two print statements in the algori

[2022-09-01 23:39] casella commented on #9321
This model has a parameter with fixed = true and lacking a binding equation, so it should caught as invalid. AFAIK the initial equation is no substitute for a parameter binding equation.

[2022-09-01 23:46] casella commented on #9264
@LuisCoronaMesaMoles, of course the initialization time will not change. It looks like the nonlinear solver has trouble converging. You can turn on the LOG_NLS or LOG_NLS_V simulation flags and check if the initial guesses for the iteration variables are OK, as well as how many iterations take place.

What is really weird, though, is that the trouble persists after an initial solution has been fou

[2022-09-01 23:51] casella commented on #9328
I'm sorry, what do you mean by "what helped"? Did removing that folder solve your problem?

[2022-09-01 23:53] casella commented on #9331
@mahge perhaps you can help here?

[2022-09-01 23:54] casella commented on #9119
@adrpo, how can we get a version with encryption support based on master to BR?

[2022-09-01 23:56] casella commented on #9335
@adeas31 can you please check?

[2022-09-02 05:51] bilderbuchi commented on #9302
I'd be curious why that is considered "fishy". Does a function call not also have a straightforward dependency relationship: depends on its arguments? So, it would be reordered to be called when its dependencies/arguments are fully known?

[2022-09-02 06:00] bilderbuchi commented on #9321
Is a `parameter Real bla;` without a binding equation not assigned the value from its `start` attribute?

Or are you arguing that in the MWE model, because we have both that implicit assignment from the start attribute, and the initial equation, we have too many equations, making the model invalid (resolution being to make the parameter `fixed=false`)?

[2022-09-02 09:00] casella commented on #9302
See modelica/ModelicaSpecification#3227.

Given that the print functions are impure and are called within a when statement, this should actually work as you expect.

[2022-09-02 12:00] max-privato opened #9339 "Bad display of parameters when formulas are used"
### Description
In OM 1.19.2 when we use a formula for a parameter, the value is shown to be zero, which is very confusing. In OM 1.18.0 we did not have this issue.
Both in OM 1.18.10 and 1.19.2 the unit of measure is set to "1!, instead of being dropped.

Consider the following code:
`model Test
  Modelica.Blocks.Math.Gain gain(k = 1 / 150)
   annotation(
    Placement(visible = true, transformat

[2022-09-02 13:29] adeas31 commented on #9335
The origin is not defined in the annotation. Dymola is using the origin (0, 0) and we are using the origin as the center of the connectors. However, when I look at the Modelica specification https://specification.modelica.org/master/annotations.html#component-instance the default value for origin is (0, 0) so I guess Dymola is doing it right. I will fix this asap.

[2022-09-02 13:39] casella commented on #9321
Only if there is an explicit modifier for the start attribute, the default value is not enough, see [Section 8.6](https://specification.modelica.org/maint/3.5/equations.html#initialization-initial-equation-and-initial-algorithm). This is meant to provide dummy defaults that can allow to run a model but will generate a warning if the parameter was not properly set with a modifier or initial equatio

[2022-09-02 13:41] casella commented on #9339
@max-privato I guess this is a duplicate of #8966. Please check and report.

[2022-09-02 14:26] darohde commented on #9328
Yes, deleting the folder after uninstalling and then reinstalling solved the problem.

[2022-09-02 14:58] adrpo commented on #9328
Probably you had the old frontend on by default.

[2022-09-02 16:27] bilderbuchi commented on #9321
Thanks, I had seen that. I was not sure if the start attribute of a type (also e.g. something like `Modelica.Media.Interfaces.Types.Density`) already counted as modifier, thanks for settling that! :-)

[2022-09-03 18:03] max-privato commented on #8966
With 1.180 the display is ok:

I paertly disagree. In old versions the display is ok.
To see how it works we should change the code in this way:

[code]
With OM 1.80,0 we see:

![image](https://user-images.githubusercontent.com/37046832/188282866-1e0d0147-e214-47af-a34c-d623947cbab5.png)

The only strange thing I note here is the unit of measure. Should we leave it when the value is set through a

[2022-09-03 18:08] max-privato commented on #9339
yes, it is similar.
I just added a comment there, in particular mentioning the unit of measure, discussed here, but not considered on #8966 yet.

Note that the example proposed by kral had as value for R just "R", which created the false impression that the display with older OM versions was bad: "K=K".
In reality it is not that bad. If the parameter to assign to "R" is "value", the string display

[2022-09-03 18:08] #9339 closed

[2022-09-03 19:01] bilderbuchi commented on #8966
Does that model compile? I'm not on a PC to try, but "value" seems undefined. I think the unit should come from the displayUnit of Basic.Resistor.R, or maybe if the displayunit of its assigned expression can be computed, fromt that.

[2022-09-03 21:49] max-privato commented on #8966
ehm... I posted that model to show that R=R meant: "the value of R in resistor is equaled to the passed parameter value",  which seamed not evident in the version "R=R".
Obviously I can very easily propose many models that compile to show the same thing, but I won't since I think what I wanted to show is already there.

Regarding units of measure, what I propose is that when a parameter is equaled

[2022-09-05 06:38] darohde commented on #9328
I tried both old and new frontend together with Andreas when it first happened. Not sure if I switched back and forth with later versions.

[2022-09-05 08:12] adrpo commented on #9119
Is building now:
https://test.openmodelica.org/jenkins/job/Windows/job/OM_Win_nb_encrypt_64bit/
will let you know when is done.

[2022-09-05 08:16] perost commented on #9119
The PR isn't merged yet though :)

I'm unsure if this is the correct way to go about it, since doing it before running the frontend might make it hard to use. Perhaps it might be better to obfuscate the SimCode instead, or something like that. I wanted to bring it up at the last dev meeting, but no one involved was there.

[2022-09-05 09:05] adrpo commented on #9119
Ouch, I thought the PR was in and I can just build it.

[2022-09-05 09:18] casella commented on #9119
Conclusions of today's devmeeting:
- better to obfuscate after flattening, so it is possible to obfuscate selectively the protected stuff
- assertions involving public variables should not be obfuscated

[2022-09-05 09:28] perost commented on #9119
Should we actually obfuscate any asserts? It's up to the library developer what the assert messages include after all, so I don't think we need to care about whether they contain anything sensitive or not.

[2022-09-05 09:28] adrpo commented on #4236
@adeas31 maybe we can test this ticket also with the new API, it should work I guess.

[2022-09-05 09:40] casella commented on #9131
If SymbolicJacobian.deriveAll fails just because of one (or a few) function(s) that cannot be symbolically differentiated, we should use numerical differentiation for them. Apparently there is some code around to do that, but it's not used. We could consider doing that at this point, rather than falling back to full numerical jacobian.

[2022-09-05 15:21] casella commented on #9328
BTW, it is possible to reset OMEdit to factory settings without the need to delete folders and reinstall: Tools | Options | Reset button.

[2022-09-05 15:21] #9328 closed

[2022-09-05 15:44] casella commented on #9119
The assert message doesn't need to be obfuscated. I guess the question is what we do when reporting the condition that triggered the assert, where variable/parameter names can show up in the expression. Those should be obfuscated according to the general rules, and if we obfuscate at the front-end level, I guess it comes automatically.

[2022-09-05 17:03] adrpo commented on #9334
A build trace where it fails to build due to pugixml errors:
[trace-macos.txt](https://github.com/OpenModelica/OpenModelica/files/9491358/trace-macos.txt)

[2022-09-06 14:47] kabdelhak commented on #9131
We fixed the differentiation of the delay operator in PR #9343 which allowed us to compare the symbolical and numerical simulation time. It seems like there is not much of a difference so the problem should be somewhere else, maybe the sparsity pattern is faulty.

Could you provide the library in two different versions?
 - the version where `Rexroth_Valves_Test.Valves_4WR.Rexroth_4WREE6E32_3X.VC43

[2022-09-07 10:08] niklwors commented on #9131
@kabdelhak I have tested this model in the version mentioned in the ticket with the current OpenModelica version and now the model simulates fast again. The numerical Jacobian matrix calculation is set. (As far as I have seen it correctly, Dymola also uses the numerical Jacobian matrix by default) I don't know then what the problem was. But I will start our complete test suite again and give feedb

[2022-09-07 13:14] pierre-haessig commented on #8470
I believe this issue can be closed. The remaining question of apt-key deprecation is tracked separately (https://github.com/OpenModelica/OpenModelica/issues/8443). I haven't looked at the question of the upcoming 22.10 (kinetic).

[2022-09-07 13:14] #8470 closed

[2022-09-07 13:25] sjoelund commented on #8443
Do the instructions on https://openmodelica.org/download/download-linux work now? I believe they should

[2022-09-07 13:48] casella commented on #9131
All's well that ends well 😅 .

@niklwors if the outcome of the testsuite is positive, please close this ticket. Thanks!

[2022-09-08 08:01] icupeiro opened #9345 "Update to Linux Mint 21 Vanessa"
The repository 'https://build.openmodelica.org/apt'' does not include the recently released vanessa distribution.

As a consequence, when installing OpenModelica the following (and expected) error appears in the final step (apt install openmodelica)

'The repository 'https://build.openmodelica.org/apt vanessa Release' does not have a Release file.'

This prevents the installation of OM in Linux Mi

[2022-09-08 11:34] davidhjp01 opened #9348 "CMake FMU build missing include for external C library"
### Description

FMU docker export fails when Modelica library is used in the model.

### Steps to Reproduce
Export the following code to FMU v2.0 co-simulation with `x86_64-linux-gnu docker run --pull=never multiarch/crossbuild` selected.
[code]

### Expected Behavior

FMU is exported.

### Version and OS

 - OpenModelica Version: v.1.19.2
 - OS: Windows 10 with docker installed.
 - Versions of u

[2022-09-09 11:16] niklwors commented on #9131
Unfortunately, there are still models that simulate very slowly. For example, the test model.
```Rexroth_Valves_Test.Valves_5WR.Rexroth_5WRPE10F1B70L_2X.VC53_DO_TC01```
In version 2.1 these valve models did not yet exist
[code]
But it is the same problem, the solver needs very many steps and rejects very many.