[2021-12-06 13:10] sjoelund commented on #8184
[code]

[2021-12-06 13:12] sjoelund commented on #8184
And if you want a test to see if ModelicaAllocateString works, use the same but give it a valid file.

[2021-12-06 13:13] casella commented on #8236
@adeas31 if you can fix it quickly, otherwise please reschedule to 1.20.0

[2021-12-06 13:14] casella commented on #8164
@phannebohm is on vacation already, so this is moved to 1.20.0

[2021-12-06 13:16] casella commented on #8184
This looks quite a thorny issue where fixes may have potentially many side effects, so we'll move it to 1.12.0

[2021-12-06 14:29] casella opened #8268 "Make sure a dependency-free ModelicaServices is installed by the package manager"
The current `ModelicaServices` library uses the MSL, which in turn uses `ModelicaServices`. This causes a cyclic dependency which is quite messy, particularly when trying to determine backwards-compatible versions.

The cleanest solution is to provide an entirely self-contained `ModelicaServices` library, that embeds the class definitions required from the MSL. See discussion in [MSL #3909](https:

[2021-12-06 14:30] casella commented on #8268
@sjoelund if you don't have much time, I could provide the tweaked self-contained `ModelicaServices` library. Just let me know.

[2021-12-06 14:35] casella commented on #8143
I opened #8268 on the specific issue of resolving the cyclic dependencies

[2021-12-06 14:42] adeas31 commented on #8210
This is same as #8086. There are connections to `internalThermalPort` but its not there in the diagram so OMEdit outputs the error while trying to fetch the component.

[2021-12-06 14:45] casella commented on #7854
@AnHeuermann, @phannebohm, after discussing this issue during today's devmeeting, we decided to keep this out of 1.19.0, because it's too late for that. Also, much better to push the fixes that are somehow correlated at the same time.

I set this tentatively for 1.19.1 with a tentative date Apr 4, because it would be nice to have this done before July 2022.  If you're done earlier, we can anticipa

[2021-12-06 15:24] casella commented on #6346
Main goal: implement the symbolic computation of Jacobians for daeMode integration, to the extent that is necessary to support simulation of electro-mechanical models of AC power systems, e.g. including operator records for complex numbers, but (possibly) excluding handling of high-index problems (such models are described by index-1 DAEs) and the use of external functions.

Parallelization could

[2021-12-06 15:50] casella commented on #5860
Two main goals:
1. Ensure that correct results are obtained in daeMode when conditional equations and when statements are present, to the extent that is necessary to simulate electro-mechanical models of AC power systems. Standard methods such as the ones already employed in odeMode will be used for this purpose.
2. Assess the need of methodological breakthroughs in case the correct solution turns

[2021-12-06 15:52] casella commented on #5860
Another important issue is the use of sparse solvers during event iteration, see [#4034](https://trac.openmodelica.org/OpenModelica/ticket/4034)

[2021-12-06 16:13] casella opened #8271 "Removing structurally non-observable variables"
In many cases, when dealing with performance-critical models, there are some parts that are not of interest for some simulations, so their computation should be skipped. One way to handle this, which is used e.g. for visualization features in the Modelica MultiBody library, is via conditional components, but this is cumbersome and needs to be programmed explicitly.

A better idea is to declare wha

[2021-12-06 16:26] casella opened #8272 "Advanced alias elimination"
The current OpenModelica backend eliminates alias equations such as `x = y`, `x + y = 0`, where variable are equal up to their sign. This concept will be extended to constant-coefficient equations, e.g. `x = 2*y`, ending up in much smaller size code to be handled by the solver, with benefits on runtime performance.

Problem: how do you save them? Possible solution: define interesting outputs, and

[2021-12-06 16:30] sjoelund commented on #8272
If the format is changed I would make aliases `y=a*x + b`. You'd need 2 more rows in the dataInfo matrix I believe. It's currently negative index for the a=-1, but if you want any coefficient it should simply be a new entry. That's easier. But you'd break backwards compatibility with other tools if this is added so it could be nice to enable the old format on a flag.

[2021-12-06 16:31] casella opened #8273 "Optimization of generated code involving events"
Power grid models including event-based controllers (e.g. tap changers) often contain many different when-equations (involving different discrete variables) that happen to be triggered by the very same condition. In this case, the generated C code checks for the same condition repeatedly, instead of doing it only once for each event-triggering condition.

Code generation should be refactored so th

[2021-12-06 16:48] BasilioPV commented on #8211
Any news?

[2021-12-06 17:15] adeas31 commented on #8076
@casella try reaching out @vwaurich via email.

[2021-12-06 19:22] casella commented on #8242
From today's webmeeting: @adrpo has made some investigations but not yet found out the cause. He will continue in the next days.

[2021-12-06 19:29] casella commented on #8262
It seems this is not the case, I tried @AHaumer's test case with v1.19.0-dev-429-g962c2112c3, which should contain #8138, and I still get this behaviour:
![immagine](https://user-images.githubusercontent.com/4233148/144909621-a3bd02d1-701b-4491-955f-a4701bc94976.png)

[2021-12-06 23:06] casella commented on #8210
As I understand, the latest issue reported by @dietmarw has nothing to do with the visibility of conditional connector. @perost, the problem here is the replaceable internalThermalPort hierarchical connector, which is redeclared to be of type `Interfaces.InductionMachines.ThermalPortSMEE` in the machine model. Apparently the redeclaration is lost by the API function used by OMEdit, which only know

[2021-12-06 23:14] casella commented on #8168
@dietmarw this ticket is now slightly oversized, it's hard to figure out what was fixed and what still isn't.

Would you mind opening a new one focusing on what still doesn't work for you so we can close this one and restart on a clean basis?

Thanks!

[2021-12-06 23:27] casella commented on #7818
@rfranke,

After #7903 was merged in, all these examples pass the backend phase. Many are successful, some fail at runtime because of numerical issues, e.g. [Buildings.Utilities.Plotters.Examples.SingleZoneVAV](https://libraries.openmodelica.org/branches/master/Buildings_maint.7.0.x/files/Buildings_maint.7.0.x_Buildings.Utilities.Plotters.Examples.SingleZoneVAV.sim), which fails giving:
[code]
I'm

[2021-12-06 23:32] casella commented on #7818
Unfortunately, the problem with [SimulationSteadyInitial](https://libraries.openmodelica.org/branches/master/PowerSystems_latest/files/PowerSystems_latest_PowerSystems.Examples.Introductory.SimulationSteadyInitial.err) is still there. It may be related to #6196, that we'll have to address next year to get to 100% Buildings success rate.

[2021-12-06 23:51] casella commented on #7824
@rfranke, the original problem with the frontend was fixed in #7863, that will be available in 1.19.0. I am going to close this ticket, which is way too long, and reopen a new one that focuses on the remaining issue, which is related to tearing.

[2021-12-06 23:51] #7824 closed

[2021-12-07 00:13] casella opened #8275 "Problem with tearing of initial equations in PowerSystems elementary model"
This ticket focuses on the remaining issue of #7824.

If `PowerSystems.Examples.AC3ph.Elementary.Line` is ran with `--tearingMethod=minimalTearing`, it produces the expected results:
![immagine](https://user-images.githubusercontent.com/4233148/144941680-64c8d443-4e8e-4100-ad6b-cc307ece94a9.png)

However, if it is ran with the default tearing method (cellier), a bad transient ensues. Running the s

[2021-12-07 00:42] casella commented on #8275
@rfranke, this system seems to be a bit ill-conditioned. I tried it with Dymola using tolerance 1e-4, 1e-6 and 1e-8, these are the derivatives of `line.v[2,1]` in the thee cases:
![immagine](https://user-images.githubusercontent.com/4233148/144945051-68a62eeb-7c86-491f-84f4-385e2503a019.png)
What is interesting is that for tolerance 1e-4 you get a smooth signal, for 1e-6 you get a lot of noise ini

[2021-12-07 01:03] casella commented on #8275
@kabdelhak I need your help here.

First of all, Dymola reports two linear systems at initialization, one of size 14 and one of size 4, which both get reduced to size 0 (i.e., solved explicitly) after tearing. OMC reports one of size 56 and one of size 7. Apparently, Dymola is better at doing some simplifications before gettig there.

Regarding the smaller strong component, in OMC the 7 unknowns a

[2021-12-07 01:17] casella commented on #8275
OK, now I guess I found where the problem may be.

If I set --tearingMethod=noTearing, there is an initial linear system with 35 unknowns (all the line currents and voltages, and all their derivatives). This is solved fine and the simulation is correct.

If I set --tearingMethod=minimalTearing, the strong component has 56 unknowns, and 35 tearing variables which are the same as the 35 of the previ

[2021-12-07 01:19] casella commented on #7774
@niklwors could you check the time spent unzipping? Thanks!

[2021-12-07 01:28] casella commented on #8210
I don't think so. The only connects that fail are the ones to sub-connectors that are defined in the redeclared connector. The other ones work fine.

[2021-12-07 01:30] casella commented on #8211
No, sorry, simply too much stuff on the stack. Please re-ping in January. Thanks!

[2021-12-07 01:32] casella commented on #8076
Done, let's see.

[2021-12-07 07:02] dietmarw commented on #8168
I rather continue here where all information is still available in one place. Open issues are still:
 1. `Native`  should be identical to choosing the current platform (`x86_64` in my case) and if this is not the case it should be documented what `native` then means.
 2. The FMUs are still created dynamically and not statically which will course issues when exchanged (which is the whole point purp

[2021-12-07 07:24] vwaurich commented on #8076
Surfaces need some more work to do. They rely on a replaceable function that calculates the positions of the vertices. See **Modelica.Mechanics.MultiBody.Interfaces.partialSurfaceCharacteristic()**
The current animation workflow needs either evaluated visualization parameters or variables that can be retrieved from the result file by name. A post-simulation evaluation of a function is not supporte

[2021-12-07 08:04] BasilioPV commented on #8076
Thanks vwaurich for your response. It is planned to include into result files the output vars of the surface Characteristics-function?

[2021-12-07 08:13] max-privato commented on #8258
I mean duplicating without changing name.
I replicated this ticket's steps and behaviour in both 1.18.0 and 1.19.0-dev-433

BTW, I think that uwhen duplicating OMEdit should prompt the user for a new name, as it does when dragging from MSL.

[2021-12-07 09:16] AnHeuermann commented on #8262
Not sure what exactly is the difference to #8090. Maybe because `y` it is a boolean variable.

Check out the following minimal example:
[code]
![image](https://user-images.githubusercontent.com/38031952/145000454-0232dcdb-21be-416e-b54d-d4ecbcc80230.png)

From `-lv=LOG_EVENTS`:
[code]

I guess I need to check the zero-crossing functions.

[2021-12-07 09:44] adeas31 commented on #8258
How do you duplicate without changing the name? Maybe you are inserting the model then in some package?

![image](https://user-images.githubusercontent.com/4007231/145005175-9b1e9f57-1222-4644-b0f2-2bfe85b55be3.png)

Sure. Please create a new ticket for it so I don't forget about it.

[2021-12-07 10:41] adeas31 commented on #8210
I think `getElements` doesn't return `internalThermalPort` so OMEdit doesn't have the component and as a result unable to draw the connections.

[2021-12-07 11:53] perost commented on #8210
`getElements` just returns the elements in the class definition, so it doesn't return `internalThermalPort` since that element isn't declared in `SM_ElectricalExcited` but inherited from `BaseClasses.Machine`. I assume that OMEdit looks up the inherited elements separately, but that means that the redeclares are not taken into account.

For that to work we'd have to change `getElements` (or add a

[2021-12-07 13:29] perost commented on #8247
I had a closer look at this, and the issue is that we don't properly support arrays of expandable connectors. Having an array of expandable connectors means that the elements of the array might get different types depending on how they're connected, which we can't handle at the moment. We actually don't even support connecting only parts of regular arrays in expandable connectors yet, since it's n

[2021-12-07 15:28] casella commented on #8210
I agree, there's no point spending time on a hack that will be very short-lived.

@dietmarw, we will overhaul this mechanism completely next year, within a cooperation with LBL. Please follow #2081 for more details and to see the progress.

[2021-12-07 15:32] casella commented on #8247
I agree. In fact, I do see the rationale for using nested expandable connectors, to manage complex systems avoiding the city dump effect on bus signal names. @arouhan, could you elaborate on the use case for nested arrays of expandable connectors?

[2021-12-07 15:34] #7457 closed

[2021-12-07 15:41] perost commented on #7457
Yes, the issue with multiple algorithm sections in TransiEnt is that they have partial functions with external sections that are extended by functions that themselves have external sections. It's trivial to have the compiler just ignore one of them, but it's not standard Modelica and should be fixed in the library.

We probably shouldn't open a new issue for that though, since it's not an issue wi

[2021-12-07 15:42] casella opened #8279 "Newlines in strings not handled correctly in Jenkins reports."
Error messages reported by the Jenkins testing infrastructure often contain strings, which are terminated by `\n` instead of a proper carriage return, which makes reading those error messages much harder than it already is.

For example, you can check https://libraries.openmodelica.org/branches/master/TILMedia/files/TILMedia_TILMedia.Testers.TestVLEFluidObjectFunctions.err or https://libraries.ope

[2021-12-07 15:47] casella opened #8280 "Issue with generated code in TILMedia"
In the currently tested public version of TILMedia, there is one remaining test case failing, namely [TestVLEFluidObjectFunctions](https://libraries.openmodelica.org/branches/master/TILMedia/files/TILMedia_TILMedia.Testers.TestVLEFluidObjectFunctions.err). It shows several warnings and one error during C compilation:

[code]
@mahge, would you mind having a look?

[2021-12-07 20:34] max-privato opened #8282 "Ask for a name when duplicating or copying/pasting models"
### Description

When dropping models from MSL OMEdit asks for a name for the model.
When we duplicate or copy/paste a model it doesn't.
I think it would be better if it asked for a name also in these cases.

### Steps to Reproduce

### Expected Behavior

### Screenshots

### Version and OS

 - OpenModelica Version: [e.g. `omc --version` or `Help->About OMEdit` from OMEdit]
 - OS: [e.g. Windows 10

[2021-12-08 06:52] Arinomo opened #8283 "Missing C-Sources files inside fmu and reference to it in xml"
### Description

when exporting a model, that is using global seed and unifom noise ,as fmu with out creating dll(no platform), some c-files are missing inside ./source directory as well as the reference to it in xml-file.

Use case: when compiling real-time aplication using fmu from OM, the importer tool used what is provided in ./source, ./resource and modelDescription.xml

### Steps to Reproduc

[2021-12-08 08:07] arouhan commented on #8247
we are working with systems that have several sub-systems working in parallel. Typically, several engines and connected attachements (alternators, propellers, etc). This is typical in the industry to have several parallel trains. The number of these subsystems depends on design of the system. As we are building a library, we found more flexible to cope with an array of expandable connectors to col

[2021-12-08 09:40] perost commented on #8247
The issue is that we handle expandable connectors on an instance tree level, where `engineBus` is just one node with some dimensions. That works fine for scalars, but when you have arrays of expandable connectors it doesn't work since each element of the array will contain different components depending on how they're connected. Hence why we'll need to rewrite quite a lot of our expandable connect

[2021-12-08 14:41] dietmarw commented on #2447
Btw the title should get changed to state "... as specified by uses annotation"

[2021-12-08 14:50] perost commented on #2447
Well, loading libraries as specified in import statements and as specified by uses annotations are two different issues.

First of all, your image does not show your MODELICAPATH, that's shown further up in the System Libraries view. User Libraries is just a list of libraries that OMEdit will automatically load _at start_, so it should give an error for `.` since that's not actually a library.

Th

[2021-12-08 14:50] sjoelund commented on #2447
OMEdit changes working directory to `"/tmp/OpenModelica_$USER/OMEdit"` the first thing it does though

[2021-12-08 14:51] perost commented on #2447
Pinging some potentially interested people: @adeas31 @casella

[2021-12-08 15:14] sjoelund opened #8285 "Support uses-annotations or similar on OpenModelica / Modelica Language versions"
Suppose we have future versions of ModelicaServices/etc that require newer language features / newer OpenModelica versions... We need a way for the package manager to handle this so we can introduce such features in the future.

[2021-12-08 15:26] dietmarw commented on #2447
So my first confusion was the meaning of "User Libraries" here. Thanks for clarifying.
I did change the working directory to a folder where I have one user model and 2 dependency libraries present and they will not get loaded. So OMEdit does not look into the current working directory.

This leaves now how or where to specify the `MODELICAPATH`. Doing so on my system does not help and is also disc

[2021-12-08 15:29] sjoelund commented on #2447
If you open a library and it has uses-annotations, the directory containing it is temporarily added to the MODELICAPATH while those are resolved. The same could be done for the implicit loading of libraries that @perost implemented.

[2021-12-08 15:40] dietmarw commented on #2447
@sjoelund Are you saying it should already work as it is implemented now?
I have an example that has a typical structure like:
[code]
Test.mo has the following uses annotation:
`uses( Modelica(version="3.2.3"), OpenHPL(version="1.3.1"),  OpenIPSL(version="2.0.0--beta"))`
I have an older OpenHPL 1.2.0 in the omlibrary location installed in addition.

Now opening `Test.mo` will **only** load the the

[2021-12-08 15:45] sjoelund commented on #2447
But that should not be impossible to fix

[2021-12-08 15:48] dietmarw commented on #2447
Ah ok, yes one would think that loading the dependencies supports all standard formats as supported by OM itself, i.e., `Lib.mo`, `Lib/package.mo` and `Lib.mol`).

[2021-12-08 16:51] #1730 closed

[2021-12-08 16:51] #1914 closed

[2021-12-08 16:51] #2063 closed

[2021-12-08 16:51] #2214 closed

[2021-12-08 16:51] #2486 closed

[2021-12-08 16:51] #2709 closed

[2021-12-08 16:51] #2725 closed

[2021-12-08 16:51] #2802 closed

[2021-12-08 16:51] #2964 closed

[2021-12-08 16:51] #3149 closed

[2021-12-08 16:51] #3727 closed

[2021-12-08 16:51] #4097 closed

[2021-12-08 16:51] #4161 closed

[2021-12-08 16:51] #4210 closed

[2021-12-08 16:51] #4239 closed

[2021-12-08 16:51] #4355 closed

[2021-12-08 16:51] #4367 closed

[2021-12-08 16:51] #4623 closed

[2021-12-08 16:51] #4635 closed

[2021-12-08 16:51] #4775 closed

[2021-12-08 16:51] #5013 closed

[2021-12-08 16:51] #5153 closed

[2021-12-08 16:51] #5172 closed

[2021-12-08 16:51] #5397 closed

[2021-12-08 16:51] #1348 closed

[2021-12-08 16:51] #1613 closed

[2021-12-08 17:05] casella commented on #8247
@arouhan it seems that you are using OMC to develop complex industrial applications. If you need some specific features in the compiler with high priority, you may join the [Open Source Modelica Consortium](https://openmodelica.org/home/consortium) and we could possibly arrange a DFD contract to get that done within a given time frame.

If you are interested, please contact me at my email francesc

[2021-12-08 18:59] casella commented on #2447
@perost the issue seems to be clarified now, can you take care of that?
This seems to be a nice feature to have.

[2021-12-08 21:48] perost commented on #2447
I'm not sure what needs to be fixed. If I have a package in a file `A.mo` and some test model in `test.mo` that uses the package `A` with a uses annotation, both in the same directory, then running a script like this works fine:
[code]
So we can load libraries from files via uses-annotations, as long as they're in the MODELICAPATH. It doesn't work if I rename `A.mo` to `A.mol`, but I don't actuall

[2021-12-08 22:23] max-privato commented on #8258
To reproduce this ticket's issue just right-click on phase and select duplicate. The duplicated block takes automatically the name "const".

[2021-12-09 00:06] casella commented on #2447
I'm not sure what .mol stands for, maybe @dietmarw was referring to .moe (Modelica encrypted?)

[2021-12-09 00:39] casella commented on #2447
I tried to reproduce the issue with the attached test case [ZZZ.zip](https://github.com/OpenModelica/OpenModelica/files/7681336/ZZZ.zip)

@sjoelund wrote

If I open OMShell and type
[code]
I would then expect that all the used libraries are loaded. Instead I get
[code]

Only if I cd() to the directory and add "." to the Modelicapath, then the whole thing works:

[code]
If I open testA.mo and testB

[2021-12-09 07:24] dietmarw commented on #2447
I **really** hope you are joking. It would be shocking to know that the developers of OpenModelica don't even know their own file formats. Which then does not surprise that OpenModelica is struggling with supporting them ...

Anyway, `*.mol` is kind of OpenModelica's equivalent of Dymola's `*.moe` but without encryption. Only you can also use OMEdit to export a read-only package which basically ju

[2021-12-09 08:34] casella commented on #2447
There are more things in heaven and earth and OpenModelica, Horatio, than are dreamt of in your philosophy 😄

[2021-12-09 09:54] AnHeuermann commented on #7854
I need some clarification on the [inferred clock constructor](https://specification.modelica.org/master/synchronous-language-elements.html#clock-constructors) `Clock()`.

Can there be different cases for a inferred clock as in
[code]
and is it correct that I can always replace `Clock()` with `Clock(resolution=1, intervalCounter=1)`?

[2021-12-09 11:07] perost commented on #2447
There are two different mechanisms being talked about here, one is loading libraries from uses-annotations (which happens when loading a model with uses-annotation) and another is the NF implicitly loading libraries (which happens when flattening a model that uses a library that has not been loaded, either explicitly by the user or due to uses-annotations).

What Martin talked about is the implici

[2021-12-09 11:50] casella commented on #7854
@AnHeuermann, this is what Dymola does, but to be honest I don't know where in the specification this behaviour is described. IMHO it is questionable.

As I understand it, `Clock()` specifies a clock that must be inferred from somewhere else. It could be the clock of some variable appearing in one of the equations, e.g. the clock of the input `u` in the example of Section 16.3, operator 16.1. If t

[2021-12-09 12:09] AnHeuermann commented on #7854
So I guess we should also be able to handle something like this:

[code]

In that case my approach to just replace `Clock()` with `Clock(1,1)` is wrong. Then the backend should replace `Clock()` with `Clock(0.1)`.
Dymola can handle that model.

[2021-12-09 12:13] perost opened #8286 "Read-only packages are not considered when resolving uses-annotations"
### Description

When loading libraries due to a model's uses-annotations, packages that have been exported as read-only packages with OMEdit are not considered as possible candidates.

### Steps to Reproduce

Run the script `test.mos` in the attached zip-file. It should give an error message that `A` could not be found.

### Expected Behavior

`loadModel` should find the `A.mol` file when resolvi

[2021-12-09 12:15] perost commented on #2447
I opened ticket #8286 for the issue that *.mol files are not considered when loading libraries due to uses-annotations, since that's really a separate issue from this one.

[2021-12-09 14:09] casella commented on #7854
Absolutely! The second clock will be inferred to be the same as the first, and both when equations should end up in the same clocked partition, with a period of 0.1 seconds.

[2021-12-09 15:25] #4481 closed

[2021-12-09 15:25] AnHeuermann commented on #4481
I tested the original example as well and now it's looking correct.

![image](https://user-images.githubusercontent.com/38031952/145424950-d9d7098c-69e1-4c3d-a8d8-71d48d190b40.png)

[2021-12-09 15:30] AnHeuermann commented on #3759
Fixed in #8287

[2021-12-09 15:30] #3759 closed

[2021-12-09 15:33] AnHeuermann commented on #4481
Fixed in #8287

[2021-12-09 15:45] #8280 closed

[2021-12-09 16:00] casella commented on #4481
Good that we have this in 1.19.0, though the implementation of Clocks there is still far from perfect.

[2021-12-09 16:11] #2732 closed

[2021-12-09 16:26] #2846 closed

[2021-12-09 16:26] #3368 closed

[2021-12-09 16:26] #3450 closed

[2021-12-09 17:45] mahge commented on #8280
The issue in this ticket has been fixed in #8289. However the model segfaults (at least on my computer) inside a library (.so) provided by TILMedia itself (https://github.com/ClaRaLibrary/TILMedia/tree/master/Resources/Library/linux64). We will see what happens on our regression tests.

We do not have the source files for it and it also has no debug information so there is not much I can do about

[2021-12-09 18:32] casella commented on #8280
Thanks @mahge!

@AnHeuermann, can you report this to your PhyMoS partners?

[2021-12-09 19:25] casella opened #8291 "Use the package manager only for installing system libraries"
If I run `getModelicaPath()` on my PC I get
[code]
while if I do it on my Linux server I get
[code]
As I understand, the first directory was originally used before the package manager was introduced, the latter is instead used by the package manager. Unfortunately the former has precedence over the latter, which would cause messy behaviour when interacting with the package manager.

I also underst

[2021-12-09 19:30] casella commented on #2447
One problem is, I'm afraid, none of this is documented, except by reading the source code, which is not very friendly to mere mortals wanting to use Modelica for their modelling&simulation tasks, which typically try to figure that out empirically.

I'll try to write down what I understood and make a concrete proposal.

- We have _explicit_ loading when a certain top class being loaded has a uses a

[2021-12-09 19:34] casella commented on #2447
So, to make a long story short, my the proposal is:
- [ ] ensure that implicit loading and explicit loading of top-level classes uses the same MODELICAPATH
- [ ] ensure that automatic loading works for all types of storage (file, directory, .mol file (see also #8286)
- [ ] add "." in front of the existing MODELICAPATH (possibly modified as per #8291)
- [ ] set "." to mean: the directory containing

[2021-12-09 19:38] perost commented on #2447
The first point should already be the case, the NF just calls `getModelicaPath` and passes the string it gets back unmodified to the class loader.

[2021-12-09 19:53] sjoelund commented on #8291
Are you sure that's the order of preference? From what I remember the last directory has higher priority for some reason... Given identical version names.

[2021-12-09 21:49] casella commented on #3368
Original ticket: https://trac.openmodelica.org/OpenModelica/ticket/3368

[2021-12-10 07:40] AnHeuermann commented on #8280
Looking at todays (2021-12-10 01:51) [TILMedia test report](https://libraries.openmodelica.org/branches/master/TILMedia/TILMedia.html) it seems that `TILMedia.Testers.TestVLEFluidObjectFunctions` is now simulating.

[2021-12-10 07:42] AnHeuermann commented on #8280
ClaRa has some improvements as well, I guess because of this commit.
https://libraries.openmodelica.org/branches/history/newInst-daemode/2021-12-08%2000:30:04..2021-12-10%2000:28:34.html

[2021-12-10 10:00] sjoelund commented on #8291
Stupid implementation. It looks up and finds the first one first, then looks for better ones and replaces it with the last found. At least that's what I remember :)

[2021-12-10 10:38] perost commented on #8279
Both the examples are now fixed and give no error messages during C code compilation, so here are some other ones that still do:
https://libraries.openmodelica.org/branches/master/Modelica_4.0.0/files/Modelica_4.0.0_Modelica.Clocked.Examples.Elementary.RealSignals.SampleWithADeffects.err
https://libraries.openmodelica.org/branches/master/ThermoPower/files/ThermoPower_ThermoPower.PowerPlants.SteamT

[2021-12-10 11:36] casella commented on #8291
Well, the specification says:

so this could actually make sense. The specification doesn't mention the case of a third directory containing Modelica 2.3 with noneFromVersion(2.2.), but I guess it could be in the spirit of the above quote to load that in this case.

In any case, if we keep the installation libraries to provide a fallback provision for the MSL, we should swap the order of those two

[2021-12-10 11:42] casella commented on #8279
Inverse Murphy's law: if something should really go wrong, it won't 😄

[2021-12-10 11:49] casella commented on #5813
Original ticket: https://trac.openmodelica.org/OpenModelica/ticket/5813

[2021-12-10 12:27] sjoelund commented on #8279
Fixed by https://github.com/OpenModelica/OpenModelicaLibraryTesting/commit/ff65645d63aeea3d6fe151ff745e3fd0611cd3aa

[2021-12-10 12:27] #8279 closed

[2021-12-10 12:36] perost opened #8293 "Redeclare modifiers on derived classes not merged in the correct order"
#8249 broke the merging of modifiers on derived classes in some cases. This model:
[code]
now flattens to:
[code]
instead of the expected:
[code]

[2021-12-10 12:44] casella commented on #5813
Summary:
- The current status of selection of start attributes in alias variables sets made by OpenModelica is not satisfactory - this can cause failures at initialization due to badly chosen initial guesses for iteration variables
- ModelicaSpecification [#3008](https://github.com/modelica/ModelicaSpecification/issues/3008) discusses the issue, providing a suite of test cases and of expected outp

[2021-12-10 12:48] AnHeuermann commented on #2728
I guess this ticket was solved a long time ago.

OpenModelica supports synchronous language elements and the frontend and backend handle most of the features. The only problem is, that some details are not quiet working yet.
Everything else will be handled in #7854

[2021-12-10 12:48] #2728 closed

[2021-12-10 13:06] sjoelund opened #8296 "Support the `pure` operator (Modelica 3.4)"
#8295 fixes parsing of the `pure` operator

We also need to handle it in the frontend. See https://github.com/modelica/ModelicaSpecification/pull/3066 for clarifications of how it should work.

[2021-12-10 13:09] perost opened #8297 "NF handling of previous() causes compilation errors"
[Modelica.Clocked.Examples.Elementary.RealSignals.SampleWithADeffects](https://libraries.openmodelica.org/branches/master/Modelica_4.0.0/files/Modelica_4.0.0_Modelica.Clocked.Examples.Elementary.RealSignals.SampleWithADeffects.err) (among others) currently fail during C compilation with the NF. This is because the NF flattens `previous(seedState)` to `previous(seedState)` while the OF flattens it

[2021-12-10 13:33] AnHeuermann commented on #8297
I understand it in that way. So adding a check would be great.

I'm currently trying to improve the C runtime to work correctly with the current status of the backend (expanded variables). But using array variables shouldn't really be that much of a difference for the runtime.

So I'm for improving the Backend to work with non-expanded variables. But maybe after https://github.com/OpenModelica/Ope

[2021-12-10 13:51] perost commented on #8297
Ok, so the argument can be any expression with at most parameter variability? E.g. `previous(17)` is fine? It doesn't matter to me, I can easily check that, just seems weird.

But if I add checking for that I may as well expand the calls too and get those models working in 1.19, then we can disable it later if the backend is improved.

[2021-12-10 14:17] perost opened #8299 "Improve modifier handling in the NF"
The modifier handling in the NF is currently held together with sticks and sticky tape, and needs to be redesigned to something more sane.

One issue is that NF modifiers currently can't be created unless we have the node that's the modifier's "parent", which means that we need to wait until we're actually instantiating a class to also fetch and instantiate the modifier from the class definition.

[2021-12-10 14:26] AnHeuermann commented on #8297
It has to be a component expression [16.2.3 Argument Restrictions (Component Expression)](https://specification.modelica.org/master/synchronous-language-elements.html#def:component-expression) . But if `constant Real n=17` is a component expression (?) then the standard is saying that `previous(17)` should be legal.
Will it always be `17` then? Not really useful.

[2021-12-10 14:27] perost commented on #8293
Fixed in #8298.

[2021-12-10 14:27] #8293 closed

[2021-12-10 14:30] perost commented on #8297
It's not a component expression, but it is a [parameter expression](https://specification.modelica.org/master/operators-and-expressions.html#parameter-expressions). That's the part I'm confused about, because I can't see any examples in the specification where that's actually used.

[2021-12-10 14:41] AnHeuermann commented on #8297
Ah I see. We should probably open a ticket about that in the Modelica Specification.

[2021-12-10 16:04] #8296 closed

[2021-12-10 16:10] perost commented on #8297
#8301 adds some error checking for `previous` and also expands it (unless `-d=-nfScalarize` is used, not sure if that actually works but I'm not going to mess with it).

To disable the expansion, just remove the call to `ExpandExp.expand` in `NFBuiltinCall.typePreviousCall`.

Should I close this once my PR is merged, or do we want to keep this open as a reminder to improve the backend too?

[2021-12-10 18:18] casella commented on #8297
That is actually weird. I opened [#3074](https://github.com/modelica/ModelicaSpecification/issues/3074) on the Modelica Specification issue tracker.

I think so. If you have an array of models `m[:]` containing something like `y = previous(y) + 1`, flattening it would produce `m.y = previous(m.y) + 1`, where `m.y` is an array, and of course we need to support that.

[2021-12-10 19:00] perost commented on #7990
Fixed in #8302. The issue was that the function evaluation in the NF didn't handle function partial application properly (the OF doesn't either, but it just fails and skips evaluating it instead). With the NF the whole model is now flattened to just:
[code]
I will keep this issue open a while longer though, I need to add a test case for it too but I'll do that next week.

[2021-12-12 00:37] casella commented on #8184
Using OpenModelica v1.19.0-dev-460-gaeb8a6d1a3 (64-bit), freshly installed under Windows 10.

First run of model `M`, I get:
[code]
If I rename libModelicaExternalC.dll shipped in the [zipped file](https://github.com/OpenModelica/OpenModelica/files/7579430/libModelicaExternalC.zip) by @sjoelund to ModelicaExternalC.dll and put it in the lib/omc/ directory, when I run `M` OMEdit crashes. Just sent

[2021-12-12 10:07] max-privato opened #8303 "Re-simulate interactive simulations (enhancement proposal)"
### Description
I see that interactive simulations do not allow re-simulating from OMEdit.

I don't understand the difficulties of allowing this. Maybe because all parameters are structural for interactive simulations?

Re-simulating may be useful for interactive simulations because if the simulation interacts with the external world through Modelica_DeviceDrivers (interaction with the user throug

[2021-12-12 15:34] Artur-debug opened #8304 "Make easy Image Import ("<img src=" Tag) in Documentation Window per Drag & Drop"
### Description

When images are dragged and dropped into the Documentation Window, only a link is created:

![2](https://user-images.githubusercontent.com/84518891/145718414-61d5ea01-7398-4507-ac17-6200ac57df39.PNG)

![3](https://user-images.githubusercontent.com/84518891/145718419-3e0bb21d-243c-40fd-ac72-b6a25181af97.PNG)

Is it wanted like that?

Is it possible to simply import images into the

[2021-12-13 08:30] AHaumer opened #8305 "Internal error Instantiation failed with no error message."
Please have a look at the enclosed test package:
Either checking HallTimeSpan or compiling DemoEncoder (shich instantiates HallTimeSpan) produced the error message:
**Internal error Instantiation of Test.HallTimeSpan failed with no error message.**
I have neither an idea why nor how to avoid that.
OM1.18.0 on Windows 10 64bit
[Test.zip](https://github.com/OpenModelica/OpenModelica/files/7702153/Te

[2021-12-13 08:36] sjoelund commented on #8305
The old frontend says:

The following also fails with no message:
[code]

[2021-12-13 09:28] AHaumer commented on #8305
I have to admit: I don't understand. Anything I did wrong? Waht should I change? Or something to bugfix OM?

[2021-12-13 09:32] AHaumer opened #8306 "Issue with Modelica.ComplexMath.sum in CodeGen"
Please have a look at the BLDC library release v1.3.3 [https://github.com/AHaumer/BLDC/releases/tag/v1.3.3](url)
and try one of the examples {DemoElectronicCommutator, DemoBLDC Voltages, DemoBLDC, DemoBLDCwithPWM}.
These examples fail to compile with the new frontend but simulate with the old frontend.

OM1.1.8.0 on Woíndows 10 64bit

[2021-12-13 09:57] sjoelund commented on #8305
So it should work. But the OM code probably lacks that case.

[2021-12-13 10:04] Artur-debug opened #8307 "Higher plot resolution/zoom"
### Description
Higher plot resolution would be helpful, e.g. to investigate the zero effect (shattering) in the bouncing ball example. Especially for beginners it is interesting to look a little deeper at the results without having to use other tools.

The picture below shows the stem in the area of zero effect in the example of the bouncing ball without zero effect countermeasures:

![5](https:/

[2021-12-13 11:06] perost commented on #8305
The issue was actually that `edge` was vectorized, but then we tried to unbox the arguments which didn't expect a vectorized call. It's fixed in #8308 which also fixes the test package.

[2021-12-13 11:13] perost commented on #8306
This seems to be a duplicate of [#5885](https://trac.openmodelica.org/OpenModelica/ticket/5885), which is that the code generation can't handle the way the new frontend flattens `Modelica.ComplexMath.sum`. The old frontend flattens the function incorrectly so that it always return `Complex(0.0, 0.0)`, which compiles but is completely wrong.

@mahge: Any progress on that ticket?

[2021-12-13 11:18] perost commented on #8306
Also, if you'd like we can add that library to our automatic library testing.

[2021-12-13 11:28] mahge commented on #8306
I am afraid there is no specific progress. I guess that ticket got forgotten in the pile. The problem was that doing the "correct" thing to fix the ticket was causing failures in the test suite and that meant it was going to take lot of time to hunt down more issues and fix them.

Handling record member crefs has gotten a little better since then. Perhaps we have already fixed some of the issues t

[2021-12-13 11:29] #8305 closed

[2021-12-13 11:30] AHaumer commented on #8306
I had a PR to add BLDC to the OM system libraries.

[2021-12-13 11:36] AHaumer opened #8309 "Enhancement: hide optionally removed connectors"
It would boost understanding of models if connectors that were conditionally removed (not instantiated) get hidden in the diagram layer.

[2021-12-13 13:54] casella commented on #8242
@mahge will have a look ASAP

[2021-12-13 13:58] casella commented on #8242
You must use the `-pthread` flag when compiling, in the past it worked without, but now we need to have it

[2021-12-13 14:06] casella commented on #8305
@AHaumer please use the latest nightly build, it should work out of the box.

[2021-12-13 14:07] casella commented on #8306
@sjoelund, can you get that through?

[2021-12-13 14:08] sjoelund commented on #8306
https://github.com/OpenModelica/OpenModelicaLibraryTesting/commit/48fc28e34b72b70a7be446c07cc612ddde2792b9

[2021-12-13 14:34] casella commented on #4835
Original ticket: https://trac.openmodelica.org/OpenModelica/ticket/4835

[2021-12-13 14:46] casella commented on #4835
Still pending issues:
- [ ] Operator overloading fails for matrices [#2387](https://trac.openmodelica.org/OpenModelica/ticket/2387)
- [ ] Problems with functions returning matrices of Complex operator records [#4611](https://trac.openmodelica.org/OpenModelica/ticket/4611)
- [ ] Sliced subscripts in Modelica.ComplexMath.sum fails at code generation [#5885](https://trac.openmodelica.org/OpenModelica

[2021-12-13 14:46] casella commented on #8306
I refreshed the ticket with the list of pending issues with Complex numbers, see #4835.

[2021-12-13 14:49] casella commented on #8305
Sorry, I meant **tomorrow's** nightly build.

[2021-12-13 14:57] casella commented on #8309
@AHaumer this is a very old known issue, see #2081. It requires a substantial rewriting of the way OMEdit gets the information to render diagrams. The plan is to get this done early 2022.

[2021-12-13 14:57] #8309 closed

[2021-12-13 14:58] casella commented on #8303
@adeas31 is off, he'll have a look next year.

[2021-12-13 15:46] AnHeuermann opened #8312 "NF noClock() not handled case"
### Description

I'm testing the following model

[code]
from the example from [operator 16.13 noClock](https://specification.modelica.org/master/synchronous-language-elements.html#modelica:noClock) from the Modelica language specification.

I get an error from the front end:
[code]

### Related Issue

https://github.com/OpenModelica/OpenModelica/issues/7854

### Version and OS

 - OpenModelica Ve

[2021-12-13 15:52] AnHeuermann commented on #8312
It seems that we never added the `noClock` operator to the frontend. I have a solution and wil create a PR.

[2021-12-13 16:35] #8312 closed

[2021-12-13 18:29] casella opened #8316 "The debugger always crashes under Windows"
Steps to reproduce:
- Start OMEdit
- Open Modelica.Blocks.Examples.PID_Controller
- Run "Simulate with transformational debugger"

OMEdit freezes and then crashes when trying to open the debugger windows. The relevant files are attached:
[OMEdit.zip](https://github.com/OpenModelica/OpenModelica/files/7706036/OMEdit.zip)

 - OpenModelica Version: v1.19.0-dev-460-gaeb8a6d1a3 (64-bit)
 - OS: Windows

[2021-12-13 20:24] rahulp13 opened #8318 "Support for integer variables and parameters through OPC UA"
The OPC UA server currently broadcasts only the real and boolean variables. It will be helpful if the same is supported for integer variables and parameters (if not evaluated).

[2021-12-13 22:16] casella commented on #7854
Putting this back to 1.19.0, let's see how far you can go.

[2021-12-13 22:22] adrpo commented on #8242
Hopefully this is fixed now, I also ported it to maintenance/v1.18. We will see after the library coverage is ran.

[2021-12-13 22:24] adrpo commented on #8242
Adding @rfranke to the ticket so we can follow this properly.

[2021-12-13 22:51] perost commented on #8316
Do you have profiling enabled? Because it looks like an exception occurs while it's trying to read the profiling data. I'm not sure if there's some global flag for it, the only thing I can find is Simulation Setup->Simulation Flags->Profiling.

You can check if you can find the `PID_Controller_prof.json` file, I'm not sure where it gets generated on Windows but it should be in the same folder as t

[2021-12-14 00:43] casella commented on #8316
Thanks @perost, you nailed it!

 AFAIK there is no global flag for it, Simulation Setup->Simulation Flags->Profiling was set to none, _but I had an _old prof.json file in the simulation result directory_. OMEdit apparently crashed trying to load it into the profiler. Please find it attached.

[PID_Controller_prof.zip](https://github.com/OpenModelica/OpenModelica/files/7707754/PID_Controller_prof.z

[2021-12-14 00:56] casella commented on #8316
BTW, in [#6443](https://trac.openmodelica.org/OpenModelica/ticket/6443) I already noticed that old `_prof.json` files could linger around and provide bogus output, and recommended to remove them. In fact, they can actually cause OMEdit to crash, if the old file is old enough to cause some changes to the generated code structure.

I would definitely recommend that the runtime (all runtimes, C and C

[2021-12-14 01:16] casella commented on #8291
After discussion at today's devmeeting, we have this plan:
- [ ] remove the `lib/omlibrary` directory, which may point to obsolete installed stuff, from the MODELICAPATH
- [ ] when first running a newly installed version of OpenModelica, call the package manager to update the list of packages and to install the latest versions of MSL which are backwards-compatible with 3.2.3 and 4.0.0

[2021-12-14 01:24] casella commented on #8268
@sjoelund prepared [PR #3912](https://github.com/modelica/ModelicaStandardLibrary/pull/3912) on the MSL repo with a self-contained ModelicaServices. If that is merged by Christmas, we can rely on that directly. Otherwise we can put that on our OMC-specific repository for the time being.

[2021-12-14 07:45] sjoelund commented on #8318
https://github.com/OpenModelica/OpenModelica/blob/master/OMCompiler/SimulationRuntime/opc/ua/omc_opc_ua.c - look at how `boolVals` is handled and implement that for integers. Note that integers are of type long in OpenModelica (so probably 64-bit integers in OPC-UA)

[2021-12-14 09:54] adrpo commented on #8316
Whatever input we gave it, it should not crash, it should just say that it cannot be parsed and that's that.

[2021-12-14 10:30] adrpo commented on #8241
gdb trace seems to point to some longjmp with an empty buffer, @AnHeuermann did you do something recently with this?

[code]
script to generate the FMU is attached [8241-files.zip](https://github.com/OpenModelica/OpenModelica/files/7710802/8241-files.zip)

[2021-12-14 10:37] AnHeuermann commented on #8241
I don't think so. I did something with asserts in #8118, maybe that is a problem for some FMUs?

[2021-12-14 10:44] perost commented on #8316
I've tried to make OMEdit crash, but I can't find a way to do it either with casella's old file or trying to maliciously change it. Either it won't be valid JSON, in which case it just gives an error message, or the values in it are wrong in which case it will just default-initialize them.

There's nothing in the code that should throw an exception as far as I can see, so I'm really not sure what'

[2021-12-14 10:54] AnHeuermann commented on #7854
Now only `hold` and `previous` are still not working.

From the [hold operator definition](https://specification.modelica.org/master/synchronous-language-elements.html#modelica:clocked-sample)

[Since the input argument is not defined before the first tick of the clock of u , the restriction is present, that it must be a component expression (or a parameter expression), in order that the initial v

[2021-12-14 13:07] supajo opened #8321 "Log4J in OpenModelica1.18.0-64bit\share\jEdit4.5_VisualFigaro\jars\"
System: Windows 10 x64
Are we now vulnerable by the used Version "log4j-1.2.8.jar"?

[2021-12-14 13:15] sjoelund commented on #8321
That's log4j version 1, not version 2.

[2021-12-14 13:23] supajo commented on #8321
I hope you are right, because i have read it several times that it is still a risk in v1
https://snyk.io/blog/log4j-vulnerability-software-supply-chain-security-log4shell/

[2021-12-14 13:32] sjoelund commented on #8321
Anyway, it's only a problem if you use VisualFigaro, which is not present on Linux installations

[2021-12-14 14:11] AnHeuermann commented on #4907
I checked most of the outputs from https://libraries.openmodelica.org/branches/v1.18/ClaRa_dev/ClaRa_dev.html and this seems to be fixed in ClaRa_dev.

Closing this issue since we all agree that we don't want to support this non-standard way of `x(value=10.0)`.

[2021-12-14 14:11] #4907 closed

[2021-12-14 14:41] perost commented on #8297
My change to expand `previous` caused as many issues as it solved, because it turns out it's not always possible to expand it. In #8323 I've now instead implemented custom polymorphic types, so we can just define `previous` in ModelicaBuiltin as:
[code]
and then we have a rule in the type checking to treat `__Scalar` as any scalar type. This means we don't need any custom typing of `previous`, and

[2021-12-14 15:35] AnHeuermann commented on #7854
So I think I'm now at a point where it won't get much better unless we start to save "normal" variables and clocked variables differently. When a variable isn't defined yet (because the clock didn't tick for the first time) it doesn't make sense to save it to the result file.

I'll open a PR and see how much I'll break.

[2021-12-14 17:22] perost commented on #8230
#8267 should soon be merged now and will hopefully fix this issue. It's not perfect though, because we treat component references differently for the sake of figuring out how many dimensions to add. The issue is that if you have e.g.:
[code]
Then for the sake of typing the binding of `x` it's a `Real` once scalarized, but when turning of scalarization we get `Real[3] a.x = a.y;` in the flat model.

[2021-12-14 18:21] kabdelhak commented on #8230
Thanks Per! I will merge that into my new backend branch.

I think that the actual correct approach would be to create equations from bindings. If the type poses a problem it could be a for-equation with index, that should always work. For that case we probably would need to invent something like a _binding equation_ because it has a different meaning than just an initial equation. What do you thi

[2021-12-14 18:53] casella commented on #8316
I agree with that. But there are other reasons to automatically remove old _prof files, mainly to avoid displaying old bogus results if profiling is turned off. So I would do that automatically, and then it is much unlikely that this issue will pop up. We have to prioritize :)

[2021-12-14 18:56] casella commented on #8316
Probably. On my side it could be reproduced with 100% certainty.

I'm not sure how it is, unless old _prof files are automatically deleted when running new simulations. I mean, removing the file manually is not a viable option to avoid a crash.

[2021-12-14 19:05] casella commented on #8242
The cpp tests are back, see [report](https://libraries.openmodelica.org/branches/history/master/2021-12-13%2022:49:44..2021-12-14%2014:43:33.html). Thanks @adrpo!

[2021-12-14 19:05] #8242 closed

[2021-12-14 19:33] casella commented on #4907
The testing for the library with this issue fixed is now up and running, see [ClaRa_dev report](https://libraries.openmodelica.org/branches/master/ClaRa_dev/ClaRa_dev.html). Compared with the [released ClaRa](https://libraries.openmodelica.org/branches/master/ClaRa/ClaRa.html) library, we have 77/142 models passing the frontend, instead of 26/142, and 59/142 models simulating successfully instead

[2021-12-14 19:35] sjoelund commented on #7854
C++ runtime is also running at half the speed compared to the C runtime. It's using templates quite frequently.

[2021-12-14 19:42] casella opened #8325 "Issue in the ClaRa library with number of mixture components passed through inner/outer"
Most ClaRa_dev models currently fail during flattening with errors like [this](https://libraries.openmodelica.org/branches/master/ClaRa_dev/files/ClaRa_dev_ClaRa.Components.HeatExchangers.Check.Test_HEXvle2gas_L3_1ph_BU.err):
[code]
Ales Vojacek reports:

[2021-12-14 21:42] perost commented on #8230
I guess array constructors could be another option in that case, like `Real[3] a.x = {a[$i].x for $i in 1:3}`.

[2021-12-14 22:36] AJamesPhillips opened #8327 "No option to select FMI Co-simulation solver?"
### Description
Under `Preferences` -> `FMI`, I can not see an option for selecting the Co-simulation solver (as "Explicit Euler") as shown shown in this screenshot from [this page, section 2.3. Setup FMU Export options](https://bodylight.physiome.cz/Bodylight-docs/tutorial/#../tutorial/basic2exportom.md)

![image](https://user-images.githubusercontent.com/526509/146089686-9bb8c4dd-48b0-4bf4-b39c-

[2021-12-15 06:14] Arinomo commented on #8327
@AJamesPhillips you could try the nightly-build. If I'm not mistaken it was added in 1.19

[2021-12-15 08:18] casella commented on #8297
Excellent! I noticed the regressions, I hope they are fixed by #8323, let's see the next library test report.

[2021-12-15 09:50] sjoelund commented on #7854
I tested a library we have worked a lot on lately... Buildings has 1257 models simulating with C runtime but only 978 with C++ runtime. So it's a bit misleading to see the coverage of the libraries that C++ runtime developers worked on compared to the ones the C runtime developers worked on. So it takes twice as long to compile models and which libraries work with it is a bit spotty. That makes it

[2021-12-15 10:25] AJamesPhillips commented on #8327
@Arinomo my apologies, I took the [latest nightly from here](https://build.openmodelica.org/omc/builds/mac/binaries/) but I see we're on 1.19 now.  Could you point me to the community of Mac users / installers please?

I'm happy to try to help to get the latest actual nightly build available for others to use though I assume there's a reason Mac doesn't look like it's supported at the moment?

[2021-12-15 12:03] Arinomo commented on #8327
@AJamesPhillips  sorry i can't help you with that. I my self ist just a user. @sjoelund might be able to help you with further information :D

[2021-12-15 12:06] sjoelund commented on #8327
MacOS is supported through VirtualBox or docker.

[2021-12-15 13:35] AJamesPhillips commented on #8327
Thank you.  I got stuck on that approach so went back to it and [posted to the forum](https://openmodelica.org/forum/default-topic/3387-running-on-mac-in-docker).  The latest docker build is 1.18 so I can't check this in 1.19 yet.  I'm happy to close as it sounds like it's a feature that's present in 1.19 and not 1.18.

[2021-12-15 13:35] #8327 closed

[2021-12-15 15:20] perost commented on #8297
The (https://libraries.openmodelica.org/branches/history/master/2021-12-14%2014:43:33..2021-12-15%2012:06:48.html)[report] says the regressions are now fixed and the improvements still remain, so I think we can close this. If @AnHeuermann feel that we need a reminder for improving the backend he can open a more appropriate issue for that.

[2021-12-15 15:20] #8297 closed

[2021-12-15 17:02] casella commented on #4894
Original ticket: https://trac.openmodelica.org/OpenModelica/ticket/4894

[2021-12-15 17:06] casella commented on #8230
In fact, I was also going to suggest to use for loops to handle more complicated binding expressions.

@perost, I guess you meant `Real[3] a.x = {a[$i].y for $i in 1:3}`

[2021-12-15 20:08] casella commented on #7854
I'm not advocating to switch to the cpp runtime by default. What I meant was that, unless @AnHeuermann manages to fix most of the Clock issues in the C runtime (which is the topic of this ticket), I guess we should mention in the release notes that the cpp runtime should preferably be used for proper synchronous system support in 1.19.0. That's a fact.

@sjoelund do we run tests with cpp on a regu

[2021-12-15 20:11] sjoelund commented on #7854
Nope, we only have a few libraries tested with C++. You need different flags for everything, so you cannot easily just test all the libraries with C++.
If the interface was the same as the C runtime it would be a lot easier, but student flags, result files, compiler flags, etc.

[2021-12-15 20:21] casella opened #8330 "Test the whole library testsuite with the cpp runtime"
Currently we only test a few selected libraries with the cpp runtime: MSL, ModelicaTest, Modelica_Synchronous, PowerSystems.

It would be nice to run the entire library testsuite with that runtime, to better assess its performance.

[2021-12-15 20:22] casella commented on #7854
Let's discuss it in #8330, this is off-topic here as long as synchronous systems are not specifically involved.

[2021-12-15 20:25] casella commented on #8330
@sjoelund wrote:

Can you be more specific? I checked, e.g., the [Buildings report](https://libraries.openmodelica.org/branches/master/Buildings_latest/Buildings_latest.html), I see many compiler flags but no simulation flags.

what are student flags?

I understand the file format is the same, i.e. Dymola's, isn't it?

You mean C compiler flags? We should stick to the defaults.

[2021-12-16 06:17] Vivek106singh opened #8331 "Exported CSV from plot has repeated rows 3 times when ever a "Modelica.Blocks.Sources" starts at the given "starttime" or ends after the specified duration"
### Description

### Steps to Reproduce

![image](https://user-images.githubusercontent.com/12408991/146318127-b21d5928-1ed2-4a58-9f42-088df29571f7.png)
The CSV values at the 500 S the "start time of "extTemp2" and end time are give in table
 <html xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<m

[2021-12-16 07:23] sjoelund commented on #8330
Look at the libraries tested with the C++ runtime and you'll see more flags.

Simulation flags. I guess phone autocorrected it.

It didn't use to be at least.

No, it's had some different compiler flags needed for some libraries in the past. And some of the tested libraries use special flags to work.

When the library testing scripts were implemented, I asked if we should test it the way described

[2021-12-16 12:07] casella commented on #8330
[PowerSystems_latest](https://libraries.openmodelica.org/branches/master/PowerSystems_latest/PowerSystems_latest.html)
[code]

[PowerSystems_cpp](https://libraries.openmodelica.org/branches/master/PowerSystems_cpp/PowerSystems_cpp.html):
[code]
Obviously the latter adds `setCommandLineOptions("--simCodeTarget=Cpp")`, but that will be in common with all the models run in the cpp job.

There are som

[2021-12-16 12:25] casella commented on #8330
I simulated a MSL model with both runtimes and compared the results. The cpp one is double the size, I guess because it uses double precision by default, but other than that they look pretty much the same, ad I can load and display both of them in OMEdit. If it walks like a duck, swims like a duck...

[2021-12-16 12:33] casella commented on #8330
That was a long time ago, I guess the situation has changed quite a bit in the meantime 😃

In any case, we need extensive testing results to assess the current status with runtime development and take informed strategic decisions about future developments. We are testing the hell out of OMC: all past releases of the compiler, daeMode, oldInst, fmi, I see no reason why we shouldn't also test cpp, s

[2021-12-16 12:34] mahge opened #8333 "Handling of slice component references by NF/Codegen"
### Description

I have been trying to find a clean and consistent way of handling slice component references. However, it is turning out to be overly complicated and error-prone to do it with the Susan templates and C. It will require a revamping of not just the Codegen but also the runtime system array handling functions.

For example, consider this

[code]

The assignment in the function `extra

[2021-12-16 13:34] mahge commented on #8333
That would be next. I am thinking we could convert those to `for loops` using the same detection we implement for this. Since these are assignments there can only be one such cref on the lhs.

My first though was to do it in SimCode as well. However, I have seen the NF do very similar operations for handling no scalarization and I thought you probably already have the mechanisms in place and worki

[2021-12-16 13:57] AnHeuermann opened #8336 "[NF] unhandled builtin function: Clock()"
### Description

When Simulating `Modelica_Synchronous.Examples.SimpleControlledDrive.ClockedWithDiscreteTextbookController` from Modelica_Synchronous I get an error from the new frontend:

[code]

### Steps to Reproduce

[code]

### Version and OS

 - OpenModelica Version: OMCompiler v1.19.0-dev.502+gf4a37a6b2d
 - OS: Ubuntu 20.04
 - Versions of used Modelica libraries: MSL 3.2.3, Modelica_Synchr

[2021-12-16 14:00] AnHeuermann commented on #8336
Adding `--std=3.5` solves the issue, but I'm not sure if that is the intended behavior.

[2021-12-16 14:50] #8336 closed

[2021-12-16 17:13] mahge commented on #8333
Well that was fast. Thank you.

We do not have to do it to all crefs for now. For a start we can do it only when the prefix cref is an array type. Slices on the last part of a cref are kind of handled now even though it is not the best way.

Maybe I am reading the changes in #8339 wrong but right now we are indeed doing it for all fragments of the cref. If we see any tests failing you can relax it

[2021-12-16 17:18] mahge commented on #8333
Never mind. I did read it wrong. I just saw `iterate()` does check the non-last crefs only. I was looking at `iterate_impl()`. Function inside a function was not very familiar to my eyes. I expect this should be fine.

[2021-12-16 17:42] mahge commented on #8333
Is it possible to perform the new transformation after the transformations for `--combineSubscripts`?
We can also completely skip it if `--combineSubscripts` is set. Since in that case it is pointless anyway.

Another thing we can do is to only apply this to functions (or maybe even algorithms) only.

Anyway this is more than good enough. We can just declare this a successful experiment 🚀 and hold

[2021-12-17 08:04] sjoelund commented on #8330
It seems there are some changes to the C++ runtime to ignore unknown flags now. I started a run using it and disabled the C++ config so we test C++ in only report. Maybe we would need to also test the previous release to be able to compare it to some baseline. But let's first see how it behaves. There are some fixes to the timeouts, so hopefully it won't get stuck anywhere...

[2021-12-17 09:27] robertoalbanese commented on #8116
@kabdelhak do you have any clue? thank you

[2021-12-17 11:26] AnHeuermann opened #8340 "[NF] ClaRa modified element not found in class"
### Description

When building `ClaRa.Basics.ControlVolumes.FluidVolumes.Check.Validation_VolumeVLE_L2_HeatTransfer_1ph_shell` from ClaRa_dev the frontend issues the following error:

[code]

See https://libraries.openmodelica.org/branches/master/ClaRa_dev/files/ClaRa_dev_ClaRa.Basics.ControlVolumes.FluidVolumes.Check.Validation_VolumeVLE_L2_HeatTransfer_1ph_shell.err for a full report.

### Steps

[2021-12-17 11:32] AnHeuermann opened #8341 "[NF] ClaRa frontend failing with no error message"
### Description

`ClaRa.Components.Sensors.Check.TestGasSensors` from ClaRa_dev is failing in the frontend without error message, check https://libraries.openmodelica.org/branches/master/ClaRa_dev/files/ClaRa_dev_ClaRa.Components.Sensors.Check.TestGasSensors.err.

### Steps to Reproduce

[code]

[code]

### Expected Behavior

Give at least an error message.

### Version and OS

- OpenModelica Vers

[2021-12-17 11:41] AnHeuermann opened #8342 "ClaRa index reduction failing"
### Description

`ClaRa.Components.VolumesValvesFittings.Valves.Check.Test_GasValves` from ClaRa_dev is failing in the backend during index reduction, see https://libraries.openmodelica.org/branches/master/ClaRa_dev/files/ClaRa_dev_ClaRa.Components.VolumesValvesFittings.Valves.Check.Test_GasValves.err.

### Steps to Reproduce

[code]

[code]

### Version and OS

 - OpenModelica Version: omc @ 6f1e

[2021-12-17 11:57] AnHeuermann opened #8343 "ClaRa generated code undeclared identifier"
### Description

Model `ClaRa.Components.Control.PredictorModels_3508.Check.TestPredictor` from ClaRa_dev is failing at compile time, see https://libraries.openmodelica.org/branches/master/ClaRa_dev/files/ClaRa_dev_ClaRa.Components.Control.PredictorModels_3508.Check.TestPredictor.err.

### Steps to Reproduce

Run
[code]

Error message:
[code]

Complete output:
[issue8343.txt](https://github.com/Op

[2021-12-17 12:46] arun3688 opened #8344 "OpenPBS Library not working with NewFrontEnd"
### Description

The OpenPbs Library package does not simulate with the NewFrontEnd. due to `Non-array modification for array component possibly due to missing each`

### Steps to Reproduce

Load the attached OpenPBS package in the mos file and simulate the following Manoeuvres

[code]
### Error

[code]

[OpenPBSLibrary.zip](https://github.com/OpenModelica/OpenModelica/files/7735176/OpenPBSLibrary

[2021-12-17 12:52] sjoelund commented on #8344
Note that you attached a zip-file with the entire git history of the project.

[2021-12-17 12:56] sjoelund commented on #8330
https://libraries.openmodelica.org/branches/overview-c++.html 9422 simulating tests.C-runtime 10922 simulating tests.

[2021-12-17 12:59] perost commented on #8344
The error message is correct, this is something that should be fixed in the library instead.

[2021-12-17 12:59] #8344 closed

[2021-12-17 13:56] perost commented on #8333
I've now updated #8339 to ignore the lhs of equations/statements, and also disabled it if `--combineSubscripts` is set since as you say it probably doesn't make much sense in that case anyway.

At least the MSL works fine with this now, so I'll probably merge it since it does fix some issues. And if it breaks something it won't be my problem anyway since I'm going on vacation (just kidding, I'll j

[2021-12-17 14:09] mahge commented on #8333
Perfect. Thank you!

😅. No worries. I am almost 100% sure that nothing will break because of this since it never really worked. It was just hidden. So even if anything breaks it is something that we want to know. On the other hand we will get at least four new models simulating from BLDC. Hopefully a few more.

Enjoy the vacation you deserve it now :).

[2021-12-17 14:14] mahge commented on #4835
@perost has added an implementation for handling #5885 (and slices in general) in #8339. It has potentially fixed #5885 and #8306 (all models from BLDC simulate).

We still need some more work for handling slices on the right hand side of assignments but we can do that after the holidays.

[2021-12-18 12:58] AnHeuermann commented on #8321
Since log4j 1 reached end of live we could just remove VisualFigaro from OpenModelica and add it back once it is patched.

@sjoelund Would it be just removing https://github.com/OpenModelica/OpenModelicaBuildScripts/blob/408efd93354233b14513519fdc22bbdbcd06705d/windows/BuildWindowsRelease.sh#L120-L125 and uploading a new Windows version to https://openmodelica.org/download/download-windows?

@supa

[2021-12-18 13:09] sjoelund commented on #8321
I have no clue about Windows-only stuff. I think @lenaRB or @adeas31 might have more of an idea.

[2021-12-18 19:46] adrpo commented on #8321
I'll have a look at this even if is not really a problem.

[2021-12-18 19:53] adrpo commented on #8321
Fixed for windows nightly-builds:
https://github.com/OpenModelica/OpenModelicaSetup/commit/71d28cdc0cbe3aafae02dceec36cbab8fa1507d6

[2021-12-18 19:56] adrpo commented on #8321
Fixed for windows 1.18:
https://github.com/OpenModelica/OpenModelicaSetup/commit/b2c4697c8c8ec8231f089c4fb58839052928d1a3
I will re-generate the 1.18 release on Windows to have this removed.

[2021-12-18 23:57] adrpo commented on #8321
This has been solved. The new nightly will not have VisualFigaro, the v1.18 release  has been re-generated without it.

[2021-12-18 23:57] #8321 closed

[2021-12-20 08:34] AnHeuermann commented on #8321
The [stable development installer](https://build.openmodelica.org/omc/builds/windows/releases/1.18/dev.beta1/) was last modified on 2021-07-11 and contains Log4J, the [official release installer](https://build.openmodelica.org/omc/builds/windows/releases/1.18/0/) was last modified on 2021-12-18 but still contains

I think we should use a new version number `v1.18.1` and add a notification to OMEdi

[2021-12-20 08:46] AnHeuermann opened #8348 "Windows installer not trusted because of unknown publisher"
### Description

The Windows installer of OpenModelica is not signed.
Whenever users want to install OpenModelica they need to make an acception. That's not looking very professional.

### Steps to Reproduce

Start the Windows installer, e.g. from https://build.openmodelica.org/omc/builds/windows/releases/1.18/0/64bit/.
The Microsoft Defender SmartScreen will stop the execution of the installer. U

[2021-12-20 08:59] AnHeuermann commented on #8348
The Windows SignTool could be used to sign the binary: https://docs.microsoft.com/en-us/windows/win32/appxpkg/how-to-sign-a-package-using-signtool.

Buying a certificate issued by a CA can be quiet expensive, sometimes less expensive for open-source projects.

[2021-12-20 11:13] AnHeuermann opened #8349 "SolverClock with implicit Euler failing in Backend"
### Description

When using the [solver clock](https://specification.modelica.org/master/synchronous-language-elements.html#modelica:clock-solver) with an implicit Euler method omc will fail to compile the model.

### Steps to Reproduce

Simulate the following model:

[code]

[code]

### Expected Behavior

If `solverMethod=ImplizitEuler` just issue an error and stop or a warning and continue with

[2021-12-20 14:44] mahge commented on #8333
@rfranke @casella @adrpo  For some context.

[2021-12-20 15:10] casella commented on #8348
Sorry, I was interrupted and left this unfinished.

[2021-12-20 15:11] casella commented on #8348
Original ticket: https://trac.openmodelica.org/OpenModelica/ticket/4829

[2021-12-20 15:11] #8348 closed

[2021-12-20 15:43] casella opened #8351 "Document and support use of OMEdit via web browser"
In many usage contexts, installing OpenModelica on PCs in order to use OMEdit is simply too much overhead. OpenModelica should provide solutions that allow to edit and run Modelica models inside a web browser, with a minimal setup overhead.

If one googles "Open Modelica web browser", the first link lands [here](https://www.openmodelica.org/doc/OpenModelicaUsersGuide/latest/emscripten.html), but t

[2021-12-20 15:44] casella commented on #8351
See, e.g., [this link](https://medium.com/featurepreneur/webtop-running-linux-desktop-inside-a-container-in-the-browser-d8de91192276).

[2021-12-20 20:54] casella commented on #2387
During today's webmeeting, @mahge pointed out that extending the rules of [Section 10.6.4](https://specification.modelica.org/maint/3.5/arrays.html#matrix-and-vector-multiplication-of-numeric-arrays) on Matrix and Vector multiplications to the case of overloaded operators such as Complex is questionable, and may lead to ambiguities, so it should be declared explicitly by operator record.

Furtherm

[2021-12-20 20:58] casella opened #8352 "Make sure cpp runtime support is added by default when installing OMC in Linux"
This should be done both on `master` and `maintenance/v.18` branches

[2021-12-20 21:06] casella opened #8353 "Support offline use of the package manager"
Starting from 1.19.0, the plan is to exclusively use the package manager to install libraries, including MSL, see #8291.

Although most people will have an online connection when installing, there are some cases where this won't be possible. In those cases, a fallback option should be provided that allows to install the most important libraries from a cache that contains the most important librari

[2021-12-20 21:11] adrpo commented on #8352
Already done:
https://github.com/OpenModelica/OpenModelicaBuildScripts/commit/e94dae9303c9f79703c295e1a7600561ab79ef42

https://github.com/OpenModelica/OpenModelicaBuildScripts/commit/e94dae9303c9f79703c295e1a7600561ab79ef42

[2021-12-20 21:11] #8352 closed

[2021-12-20 21:25] casella commented on #8348
@sjoelund, @adrpo, perhaps we could use one issued by LiU?

[2021-12-21 07:27] sjoelund commented on #8348
No. It has to be the same issuer as the certificate. But it's possible to create a self-signed certificate. It shouldn't be any problem to sign the executables.

[2021-12-21 08:47] casella commented on #8348
I'm not sure if Windows Defender recognizes self-signed certificates. I mean, anybody could claim to be the OSMC and self-sign a certificate stating so. Of course we can try and see if it works, but I'm doubtful. From what I read on the net, it's a lose-lose situation for OS developers, but of course Microsoft couldn't care less.

[2021-12-21 09:01] sjoelund commented on #8348
Well. Without a self-signed certificate, we can't even press the button to ignore the warning and install anyway (on the machines we develop OM on)... But yes, a proper certificate is good.

[2021-12-21 10:56] Elfangor93 commented on #7929
Hi @mahge,
What is the progress in this matter?
Do you need any help in solving this issue? Would monetary motivation speed things up?
I think I could get some, since I have some guys in the back who really want this feature working in OpenModelica...

[2021-12-21 12:29] mahge commented on #7929
Unfortunately, not as much as we had hoped. It is not just about CVODE or Sundials. There are some fundamental issues we need to clarify and decide on regarding shipping FMUs with additional solvers. There has been a lot discussions going on about clarifying the structure and contents of FMUs we generate.

You picked a bad time now since most people will be on vacation 😔. However, I will bring thi

[2021-12-21 19:05] casella commented on #7929
Please do, will be happy to help 😃

[2021-12-22 09:15] AnHeuermann commented on #4829
A [self signed certificate](https://docs.microsoft.com/en-us/windows/msix/package/create-certificate-package-signing) only works when end users manually install the certificate on their machines. And in an enterprise setting this might not be an option and is not really an improvement.

Currently I can't solve this issue because I can't buy anything for OSMC and I don't know exactly how where we c

[2021-12-22 11:22] mahge commented on #5885
This has been fixed in #8339. See #8333 for reasoning behind the changes.

[2021-12-22 11:22] #5885 closed

[2021-12-22 11:36] mahge commented on #8306
This has been fixed with #8339. All BLDC models are simulating now on our testing https://libraries.openmodelica.org/branches/master/BLDC/BLDC.html

I am going to close the ticket. Please open another if there are more issues.

[2021-12-22 11:36] #8306 closed

[2021-12-22 12:18] mahge commented on #2387
Case 1: Consider `Complex` has only this overload for '*', i.e., no `scalarProduct` defined.

[code]

if I now try to do

[code]

What would be the resulting type from the multiplication `c1*c1`?

[2021-12-22 17:25] casella commented on #8333
@mahge, as I understand what is still missing here is a flag to disable this change for the cpp runtime, right?

[2021-12-22 17:27] mahge commented on #8333
It is now completely disabled it for Cpp and omsicpp runtimes.

[2021-12-22 17:35] casella commented on #8306
@AHaumer, all 6 runnable models of BLDC now pass the simulation phase, see [report](https://libraries.openmodelica.org/branches/master/BLDC/BLDC.html).

[2021-12-22 17:40] casella commented on #8333
OK 😃

Is there any reason to keep this ticket open?

[2021-12-22 17:44] mahge commented on #8333
Ohh. We can close it. I forgot. The plan is to get a Cpp regression report and see what changes. Then we can enable it back if needed. But we do not need to keep the ticket open for that.

[2021-12-22 17:44] #8333 closed

[2021-12-22 17:46] mahge commented on #8333
BTW there is still no similar support for slices on LHS. We have plans to discuss it after the holidays. That can go in another ticket as well.

[2021-12-23 01:17] casella commented on #2387
@mahge this is good, but I already see the objection: we already defined scalarProduct, so there is nothing to change in the Complex package 😢

Can you come up with an example regarding right matrix-vector product?

[2021-12-23 01:19] casella commented on #8333
Do you mind opening that before we forget? Thanks!

[2021-12-23 01:34] casella commented on #8333
@rfranke, you can check cpp regressions on the library testsuite [here](https://libraries.openmodelica.org/branches/history/cpp/). A report is generated every day, approximately. You can see the list of tested libraries by looking at the *.svg files reporting the coverage over time plots.

I turns out from [this regression report](https://libraries.openmodelica.org/branches/history/cpp/2021-12-21%

[2021-12-23 18:35] mwetter opened #8359 "OpenModelica makes one step beyond stopTime"
### Description

When simulating `Buildings.Controls.Continuous.Validation.OffTimerNonZeroStart` with the default settings, the last result point is at t=0.002 rather than t=0, i.e., it is at `t=stopTime + stepSize`. The simulation command is
[code]
This causes our CI tests to issue an error as the final time in the `.mat` file is different from `stopTime`.

### Steps to Reproduce

Run the model i

[2021-12-23 19:25] Amuri44 opened #8360 "How to add new path in OpenModelica?"
I have an OpenModelica file in arbitrary path “path/to/simpleaddition.mo”, I load the model and simulate it from omshell. But the result files are shown in “C:\Users\user_name\AppData\Local\Temp\OpenModelica\”.

On the other hands, when I open the file “path/to/simpleaddition.mo” and simulate it from the OMEdit, the results are shown in “C:\Users\ user_name \AppData\Local\Temp\OpenModelica\OMEdit\

[2021-12-23 19:34] casella commented on #8360
Yes, set the [-outputPath](https://openmodelica.org/doc/OpenModelicaUsersGuide/latest/simulationflags.html#simflag-outputpath) simulation flag when you run the simulation.

[2021-12-23 19:39] Amuri44 opened #8361 "Why val() can not detect the results directly from workspace after executing system() in omshell?"
I have implemented the example below, however, when I added the command val(variable, time) after the system() command it didt detect any of the output variables. How can I read the output variables by val() directly after systems() i.e. without saving the results into a file (such as .mat) and then read it?
https://openmodelica.org/doc/OpenModelicaUsersGuide/1.18/scripting_api.html#simulation-par

[2021-12-23 19:45] Amuri44 commented on #8360
@casella
Thanks for your reply. For example where to add this -outputPath if I run from omshell:
loadFile("path/to/simpleaddition.mo")
simulate(simpleaddition)
and from which tap, if I want to do the same from OMEdit?

[2021-12-24 16:49] Amuri44 opened #8362 "Problem in using setTempDirectoryPath"
I need to build my model in a specific path, so I am trying to use setTempDirectoryPath().
However, when I write the command setTempDirectoryPath("path/to/file") in omshell, it closes the omshell window.

Any reason for that or how to solve it?

[2021-12-24 22:08] Amuri44 opened #8363 "Can the results of system() be shown directly in the workspace of omshell?"
Hello,
I need to run the executable within for loop (i.e. time-step loop) and the results are needed to change some parameters for the next loop. So, generating the .mat results and reading it (i.e., bring the results into the omshell workspace) will consume sometime. Is there anyway to make running the executable generates the results in the workspace directly rather than in the .mat file?

[2021-12-24 22:21] Amuri44 commented on #8360
@casella
Thanks for your reply. For example where to add this -outputPath if I run from omshell:
loadFile("path/to/simpleaddition.mo")
simulate(simpleaddition, -outputPath="path/to/") # this gives an error
and from which tap, if I want to do the same from OMEdit?

[2021-12-27 11:11] ijknabla commented on #4787
Hi everyone!

In our organization, OpenModelica cannot be used because the following vulnerabilities exist in OpenModelica.

https://nvd.nist.gov/vuln/detail/CVE-2019-1010038

Is there any chance that this vulnerability will be fixed?

If not, I'd like to try to fix it, but are there any consideration?

[2021-12-27 21:38] anotheruserofgithub opened #8365 "Index reduction failures in multibody models with kinematic loops"
Hello,

I am facing problems with multibody models containing kinematic loops.
Below I provide a rich enough example for you to replicate and better understand my concerns.

I successfully managed to simulate a double Cardan joint, which is a kind of constant velocity (CV) joint.
Note that the prismatic joint in the middle is there to model the elasticity required in the parts for this overconstra

[2021-12-28 07:48] ijknabla commented on #4787
The vulnerability is that the value of the environment variable _OPENMODELICAHOME_
is included in the data to be written to the fixed length (100 bytes) buffer.

A malicious user could give a long(>=100 bytes) environment variable that would cause a buffer overflow.

This issue imported from https://trac.openmodelica.org/OpenModelica/ticket/4787
@sjoelund mentioned in the above ticket:

I've confi

[2021-12-28 09:50] ijknabla commented on #4787
When I checked the build settings for the _OpenModelica/OMCompiler/SimulationRuntime/ParModelica/explicit/openclrt/_ itself,   the referenced source was _ocl_offcomp.cpp_, not _ocl_offcomp.c_.

https://github.com/OpenModelica/OpenModelica/blob/8911b0bc7190495c46d2363c881cc2faeb60727a/OMCompiler/SimulationRuntime/ParModelica/explicit/openclrt/CMakeLists.txt#L14-L23
https://github.com/OpenModelica/O

[2021-12-28 12:40] mahge commented on #4787
@ijknabla Thank you for tracking down and analyzing the issue.

As you said the code was not actually used or even built. So it has been removed in #8366. This should resolve the vulnerably. Please let us know if there is anything more that prevents you from using OpenModelica in your organization.

[2021-12-28 13:24] #4787 closed

[2021-12-28 15:32] adrpo opened #8369 "OMEdit crashes on re-simulate"
### Description

OMEdit crash on re-simulate from Plotting view

### Steps to Reproduce

Try to re-simulate any model from the Plotting view. OMEdit will crash.

### Expected Behavior

Don't crash! :)

[2021-12-28 15:53] #8369 closed

[2021-12-28 22:05] matteodepascali opened #8371 "Changing Stop Time in Re-Simulation Setup options makes OMEdit crash"
Trying to re-simulate a model in OMEdit changing the simulation Stop Time from the Re-Simulate Setup options causes OMEdit to crash. This behavior is present from OpenModelica version **v1.19.0-dev-460-gaeb8a6d1a3**.

Steps to reproduce the behavior:
-Simulate in OMEdit the model:

[code]

-Click Re-Simulate Setup in the Plotting tab
-Change simulation Stop Time
-Simulate the model

In the previou

[2021-12-29 00:59] adrpo commented on #8371
Duplicate of #8369.

[2021-12-29 00:59] #8371 closed

[2021-12-29 05:48] ijknabla commented on #4787
I confirmed that the NIST page already had a list of versions.
I would like to report this list and this response to the leaders.

Thank you very much.

[2021-12-29 12:11] max-privato opened #8373 "Equivalent systems give very different results (high priority!)"
### Description
Consider the following tiny package:
[BugGround.mo.txt](https://github.com/OpenModelica/OpenModelica/files/7788763/BugGround.mo.txt)
It contains two simulation models: GroundAC and GroundDC.
They represent identical circuits: only the position of ground is different. In circuits in which only the position of the one ground is different, all voltages (i.e. differences of potentials)

[2021-12-29 12:25] AnHeuermann opened #8374 "Conditional array component declaration with negative index not removed from DAE"
### Description

According to the [Modelica language specification 4.4.5 Conditional Component Declaration](https://specification.modelica.org/master/class-predefined-types-and-declarations.html#conditional-component-declaration) it should be possible to have an array of components with an condition-attribute (if-expression). The component should only be added to the DAE if the condition is true.

[2021-12-29 20:39] adrpo commented on #4829
Here we make the installer:
https://github.com/OpenModelica/OpenModelicaSetup/blob/master/BuildWindowsRelease.sh#L165
You could add the self sign after that.

[2021-12-30 18:47] casella commented on #8369
Thanks @adrpo! @matteodepascali found this out one week ago, so I had it on the radar screen before Christmas, but he only managed to open #8371 two days ago. All's well that ends well.

[2021-12-30 20:32] casella commented on #8360
The correct syntax for the simulate() API function is given [here](https://openmodelica.org/doc/OpenModelicaUsersGuide/latest/scripting_api.html#simulate). Since `-outputPath` is a simulation flag, you should use `simulate(simpleaddition, simflags="-outputPath=path/to/) `. If you have spaces in the path and you need to use quotations, you have to escape them, as in `simulate(simpleaddition, simfla

[2021-12-30 23:27] casella commented on #8362
Can you enclose the actual full path you are using? Does it contain any spaces or non-ASCII characters?

[2021-12-30 23:34] casella commented on #8374
@perost will look into this and fix it after Jan 10. In the meantime as a workaround I guess you can write
[code]

[2022-01-01 17:48] adrpo commented on #7487
Should be fixed via #7652.
@niklwors and @sbaetzing can you please check with the latest nightly if this works fine for you?

[2022-01-01 17:48] #7487 closed

[2022-01-03 18:29] casella opened #8376 "Dependencies of simplified expressions in homotopy operator not considered when causalizing initial equations"
### Steps to Reproduce

Consider the following MWE:
[code]
The initialization problem looks like this:
[code]
Obviously, for all values of lambda <> 1, this is a strong component. Unfortunately, the backend causalizes it like this
[code]
Apparently, the BLT algorithm for the initialization problem only considers the dependencies of the _actual_ expression of the `homotopy()` operator, not the ones

[2022-01-04 12:59] mahge commented on #2387
I understand the seems like a solved problem already. However, it is not about just Complex. It is about all operator records, overloaded operators and vectorization. We can just rename the record to something else and then we have the confusion again.

The fact that `scalarProduct` had to be explicitly specified is what creates the "ugly" specification in my opinion.

The multiplication
[code]
in

[2022-01-04 13:14] casella commented on #2387
This seems a good argument to me. Would you like to go ahead with the MLS ticket yourself? I can back it up then, and  @perost too.

In the meantime, we should add the overloaded matrix multiplication to our version of Complex.mo, so that this ticket is fixed. Can you take care of that?

[2022-01-04 13:28] mahge commented on #2387
I think we should hold off a bit on taking it to MLS. We should probably wait for @perost and other people as well. We also need to agree on what the solution should be. Are we suggesting to allow "scalar and matrix product" interpretation of operator records that have defined `*` and `+` for scalars? Should vectorization using operator functions should be forbidden to avoid confusion. I am not en

[2022-01-04 14:55] mahge commented on #2387
I can do that. No problem.

[2022-01-04 15:03] AnHeuermann commented on #8363
I'm not sure that I get what you are asking. What do you mean by generating the results directly in the workspace rather than the .mat file?

Do you want to save the result file to a different location then the working directory of omc? In your case to the directory where you are working with omshell?

You can change the result file name (and its location) by adding the [simulation flag -s](https:

[2022-01-04 15:15] sjoelund commented on #2387
No, because the specification specifically excludes this case:

[2022-01-04 15:49] mahge commented on #2387
vector * vector is not automatically defined based on the scalar multiplication. [...]
vector * matrix is not automatically defined based on the scalar multiplication. [...]

What about `matrix * matrix`? If it is simply overlooked in the specification and is probably an exception as well. In that case the original model in this ticket is invalid as the error message suggests. The whole design of

[2022-01-04 16:14] mahge commented on #7929
Okay there is now some progress towards this. Exporting _source code_ FMUs with CVODE to be statically linked when compiled somewhere else does not work. We need to figure out if we will ever support that.

However, after discussions and investigation with @AnHeuermann and some follow up fixes, it is now possible to export a statically linked FMU with CVODE as a solver. So this should cover some o

[2022-01-04 16:18] casella commented on #8373
I checked the results of the simulation of the GroundAC model, where the there is a very large current (tens of mega-Ampere) flowing into the ground, which is of course a bogus result, because that current should turn out to be zero if there only one ground component, hence no ground loop(s).

I guess there is something wrong with the ASCC algorithm, that does not produce equivalent equations.

I'

[2022-01-04 16:32] sjoelund commented on #2387
Matrix `*` matrix is considered. If the inner dimension is 0, then '0' must be defined. This can even be a runtime check...

Vectorization is only done according to section 10.6. Not the user-defined functions.

[2022-01-04 17:07] AnHeuermann commented on #7854
#8324 is now merged to the master 🎉
Let's wait to see if the nightly tests show improvements for the C runtime and no regressions for the C++ runtime.

[2022-01-04 18:05] adrpo commented on #8361
`system` is used to run any command or external program, `omshell` or `omc` has no way of knowing you are running a model and produce a result. You can however, after you run the model and get a result, use `val(varName, time, "resultFile.mat|csv")` to read it from the produced result file.

`simulate` will load the result and can be used with `val` with no filename, however, is slow because it bu

[2022-01-04 18:08] adrpo commented on #8361
You can also use `readSimulationResult` https://build.openmodelica.org/Documentation/OpenModelica.Scripting.readSimulationResult.html
to read the result.

[2022-01-04 18:12] #8361 closed

[2022-01-04 18:14] sjoelund commented on #8361
Or probably better: a `resimulate` API or something that takes the executable as an argument.

[2022-01-04 18:21] Amuri44 commented on #8362
Yes, it has spaces
C:\Users\rapf\OneDrive - poly\Code\

[2022-01-04 18:28] vince-ice opened #8379 "Build using --libdir=/usr/lib64 instead of relying to /usr/lib symlink"
Dear all,
I think OpenModelica should allow building using --libdir=/usr/lib64 , as opposed to using /usr/lib symlink. See, for some example reasonong, [this](https://wiki.gentoo.org/wiki/Project:AMD64/Multilib_layout).
However, I have found libdir settings are mostly hardcoded in `configure.ac`, `makefile.in`, and `CMakeLists.txt`, as well as in some `.mo` files.
Is there any chance the build sys

[2022-01-04 18:31] Amuri44 commented on #8361
What is the flag, can you write the simulate with the flag? and if I use it, will it be fast as using system?

[2022-01-04 18:31] Amuri44 commented on #8361
Can you give me a link for it or an example?

[2022-01-04 18:32] sjoelund commented on #8361
There is none (yet)

[2022-01-04 18:36] Amuri44 commented on #8363
I mean simulate() allow the results to be in the environment, so I can use val() directly, rather than val(varName, time, "resultFile.mat|csv")

[2022-01-04 18:39] Amuri44 commented on #8361
Ok,
Can I use val to read two variables at the same time, such as val(var1,time1,var2,time2"twovariableaddition_res.csv")? if readSimulationResult can do that, can you give me an example please?

[2022-01-04 19:02] adrpo commented on #7488
After fixes with #7652 you will get this dropdown:
![Issue7488](https://user-images.githubusercontent.com/4192979/148110062-bcf17da6-04f5-43b7-a426-6caff8e9f9e7.png)

I guess we can discuss if only the comment should be in the dropdown or the entire element.

[2022-01-04 19:32] sjoelund commented on #8361
https://www.openmodelica.org/doc/OpenModelicaUsersGuide/1.18/scripting_api.html#readsimulationresult says it takes filename + variable names. So:

[code]

`val` doesn't vectorize so you need to make one call per variable.

[2022-01-04 19:46] Amuri44 commented on #8361
Thank you very much!
I am just carious to understand how do you know that the variables need to be put between curly brackets as it was been mentioned in its documentation?

[2022-01-04 20:09] sjoelund commented on #8361
It's because TypeNames is a special type for OpenModelica scripting. Either way, it's always 1 arguement to the function for each input in the scripting API.

[2022-01-04 22:12] filip-jezek commented on #7929
@mahge Can you be a bit more specific about why the source code with CVODE would perhaps not be possible at all? We (in Creative Connections, an OSMC member) are still keeping some hope there, as this will enable web-based simulations or any other embedded platform, without being dependent on commercial suites. Thank you!

[2022-01-04 22:17] casella commented on #8373
@kabdelhak, please check the attached package, which contains two simplified models that reproduce the issue of non-zero ground current.

The first one, `GroundAC1`, still contains the time-varying driving signals for the switches, and reproduces the very large current found in the original `GroundAC` model.

The second one, `GroundAC2`, replaces the switch inputs with constants equal to their ini

[2022-01-05 00:48] casella commented on #2387
@mahge, the specification text in [Section 14.5](https://specification.modelica.org/maint/3.5/overloaded-operators.html#overloaded-binary-operations) is very clear to me.

The only objection to that could be: are there other mathematical objects that could be represented by operator records, for which the matrix*matrix product does not follow the rules of 10.6.4? I don't know any, so the rules of

[2022-01-05 00:49] casella commented on #7854
Excellent! 😃

[2022-01-05 00:50] casella commented on #8362
It also has a minus sign. could you try one without the minus sign and one without both the minus sign and the spaces?

[2022-01-05 00:52] casella commented on #7488
If there are comments maybe it would be better to only show them, this is quite ugly.

[2022-01-05 00:54] casella commented on #7929
I understand from previous discussion with @AnHeuermann that including the full CVODE library source code and compile it from scratch is complicated. Maybe CC could help doing that. @AnHeuermann can you comment on that?

[2022-01-05 08:28] sjoelund commented on #7854
Seems good:
https://libraries.openmodelica.org/branches/history/master/2022-01-02%2022:31:55..2022-01-04%2022:23:11.html
https://libraries.openmodelica.org/branches/history/cpp/2022-01-02%2020:54:12..2022-01-04%2020:54:34.html

[2022-01-05 10:40] niklwors commented on #7487
@adrpo thank you very much for the fix.
I noticed that the redeclare term is included in the dialogue. e.g.
```redeclare record Valve = Rexroth_Valves.Internal.Database.DB_43.Rexroth_4WREE10E75_2X "4WREE10E75-2X"```
and in the icon the changed parameter is not displayed. It still shows ```paramterset.OrderingCode``` in the icon instead of ```Rexroth_4WREE10E75_2X``` But this is maybe not related t

[2022-01-05 10:54] phannebohm commented on #7854
Regarding `Modelica.Clocked` apart from `Modelica.Clocked.Examples.Elementary.ClockSignals.LogicalSample` everything seems to be fine both in C and Cpp.

Regarding `Modelica_Synchronous` both runtimes are now only failing verification for the same 3 models mentioned at the top of this issue. Would be nice to know if those are actually wrong or if it's the reference files.

There are still a few th

[2022-01-05 10:58] AnHeuermann commented on #8363
I don't think this is currently possible with val. The [API call val()](https://www.openmodelica.org/doc/OpenModelicaUsersGuide/latest/scripting_api.html#val) will always read from a result file.

[2022-01-05 11:10] AnHeuermann commented on #7929
It is complicated to get it working for every user on the usual Windows or Linux systems. And fully automated cross-compilation is a nightmare.

The task to do would be the following:
  1) Add all source files of CVODE to the FMU (easy, just copy them).
  2) Create a build system, let's say a configure and Makefile, that automatically compiles CVODE for the target system (very hard to automate a g

[2022-01-05 11:17] AnHeuermann commented on #4363
This ticket is very broad and I don't see what actually is missing now.
@casella Is this still relevant or should we create new issues for each left over problem?

[2022-01-05 11:31] casella commented on #7487
@niklwors, see @adrpo's comment in [#7488](https://github.com/OpenModelica/OpenModelica/issues/7488#issuecomment-1005089983). My suggestion is to only show the text in the comment (if there is one), otherwise show the redeclare clause.

Would that be OK for you? If so, I can open a ticket for that.

[2022-01-05 11:33] niklwors commented on #7487
@casella @adrpo  yes, this would be fine.

[2022-01-05 12:06] casella opened #8380 "Re-organize testing reports"
Libraries such as FCSys are [marked as obsolete](https://github.com/OpenModelica/OMPackageManager/commit/14a01ca4fd0fccf0feb50ad78d13411b46adff9e#diff-abcb7a036d3a2f6c3ba5d8028919b9919e17f7677f713a45c481ddf2fc479bfa) on the OMPackageManager. I understand they are not tested daily and not included in the [overview report](https://libraries.openmodelica.org/branches/overview.html), but they are stil

[2022-01-05 12:07] mahge commented on #2387
I read that. It does not say anything about what happens to `matrix*matrix` when the inner dimension is not zero. That is why I assumed it was overlooked. However, it is reasonable to assume it is not allowed as well. In which case the model in this ticket is invalid (the multiplication is valid but the binding is invalid due to type mismatch. We are not still clear what the resulting type should

[2022-01-05 12:21] casella commented on #8380
See also https://github.com/OpenModelica/OMPackageManager/pull/7

[2022-01-05 12:24] mahge commented on #2387
I agree. It is clear now that the built-in overloads of the operators to vectors and matrices do not apply to overloaded operators in operator records.

I think forbidding the built-in overloads of the operators in general is the right decision. I did not know it was already forbidden since the ticket expected they should work. It was reported by @perost (and probably used in some library) and I a

[2022-01-05 12:25] casella commented on #5726
Original track ticket: https://trac.openmodelica.org/OpenModelica/ticket/5726

[2022-01-05 12:28] casella commented on #5726
The categorization is now available in the OMPackageManager, see https://github.com/OpenModelica/OMPackageManager/blob/master/repos.json, with the following categories: fullSupport, partialSupport, experimental, noSupport, obsolete.

The categorization should be reviewed before releasing 1.19.0, based on the latest coverage test results and on the latest status of libraries.

[2022-01-05 12:29] casella commented on #7854
The issue with LogicalSample is only on the [cpp runtime](https://libraries.openmodelica.org/branches/cpp/Modelica_4.0.0/files/Modelica_4.0.0_Modelica.Clocked.Examples.Elementary.ClockSignals.LogicalSample.diff.html). @rfranke, maybe you can check how this is handled in the C runtime now.

`Modelica_Synchronous` was last released almost two years ago and is [deprecated](https://github.com/modelica

[2022-01-05 12:44] casella commented on #4363
From what I understand this ticket is totally obsolete and superseded by recent improvements from @AnHeuermann and @rfranke, which are going into 1.19.0. I'd mark it as a duplicate of #7854.

We can open new tickets on the further improvements to synchronous systems.

[2022-01-05 12:44] #4363 closed

[2022-01-05 12:47] mahge commented on #2387
This is the simplest example I can think of
[code]

Assuming the Complex record has both `'*'.multiply` and `'*'.scalarProduct`, the question is what should happen to the multiplication `c1 * c1`?

It does not match either of them directly. However it can be vectorized to either

[code]
or
[code]

it is not clear to me which one should be picked. If you design your own operator record class these

[2022-01-05 12:50] dietmarw commented on #5726
Is there any documentation resource that specifies the meaning of the categorisation?
For example if I look at a categorisation like:

[code]
I'm a bit lost as to what matches obsolete here. Everything?

[2022-01-05 12:55] mahge commented on #2387
I realize that it seems like I am reaching far to find problems 😊. Also it might be the case that these are already clearly specified somewhere and I am just not familiar with them. However, if these are confusing to me then they are probably more confusing for many users as well.

The point is all of this confusion can be solved in one swoop by just forbidding vectorization of operator functions

[2022-01-05 14:54] anotheruserofgithub commented on #8365
By the way this issue seems related to #8116.

[2022-01-05 15:50] AnHeuermann commented on #8365
It seems to be a problem with your model and not OpenModelica.
At least Dymola is reporting that the model is structurally singular as well.

#8116 is about state selection. Here it is index reduction that reports that the system is structurally singular.

I'm not much of a modeler, so I can't hep with this. To get help with your model you could try [StackOverflow](https://stackoverflow.com/questi

[2022-01-05 21:27] casella commented on #7488
@adrpo, if there is a comment in the choice declaration, I would just display that in the drop-down menu item, without the quotation marks. I understand this feature is meant to make the library easily usable from a GUI by persons who may not be familiar with the intricacies of replaceable/redeclare constructs, so displaying parts of it would just be confusing.

If there is no comment in the choic

[2022-01-05 21:27] casella commented on #7487
See reopened #7488

[2022-01-05 21:50] casella commented on #5726
We should definitely have one in a readme.md file, currently the documentation is in the scripts source code and in @sjoelund's head 😄

I understand the items are applied sequentially, so obsolete matches whatever was not matched in the previous two items.

[2022-01-05 22:22] casella commented on #2387
@mahge, from what I read in [Section 14.5](https://specification.modelica.org/maint/3.5/overloaded-operators.html#overloaded-binary-operations), I understand that the built-in overloads to vector and matrices of Section 10.6 (including addition, element-wise multiplication and division, etc.) **do apply** to overloaded operators in operator records

though with a few specific exceptions

All other

[2022-01-05 22:24] casella commented on #2387
Summing up, this issue could be fixed by adding an overloaded matrix*matrix operation to our version of Complex.mo, but that would be a workaround.

If implementing the rules of Sections 10.6 and 14.5 is not too hard, I would do that once and for all.

[2022-01-05 22:32] casella commented on #8365
I agree with @AnHeuermann, this issue tracker is only for issues that need fixes or improvements to the compiler.

Dymola reports:

I hope you can find it useful.

[2022-01-05 22:32] #8365 closed

[2022-01-05 22:41] casella commented on #7854
This is an improvement, and is probably somehow a duplicate of #2152.

This is definitely obsolete, I just closed it with some comments.

This is kind of weird, we should definitely look into that.

This should also be fixed.

Summing up, the situation with clocked models has improved dramatically with the latest commits. We still have two pending issues regarding correctness, namely #5404 and #83

[2022-01-05 23:42] phannebohm commented on #7854
Okay great! Yes, currently working on those two issues. #8349 is not much work I think, no idea on #5404 yet.
Anyway I agree, there is no need to wait, so I'll just close this one.

[2022-01-05 23:42] #7854 closed

[2022-01-05 23:48] casella commented on #8268
@sjoelund, did [this commit](https://github.com/OpenModelica/OMPackageManager/commit/1637fa673ac13c78d463758137a53914a5a3a085) fix this issue?

If so, can you please close the ticket, otherwise please indicate what still needs to be done.

Thanks!

[2022-01-06 11:25] VictorNine commented on #7868
testen in 1.18.1 issue is still there

[2022-01-06 11:55] #8363 closed

[2022-01-06 11:56] #8360 closed

[2022-01-06 14:33] mahge commented on #2387
I think we agree on most of the concept and are saying the same things. But the fact that operators can now be overloaded to your hearts desire (for scalars and arrays) through the use of `functions` which can in turn be vectorized is what is creating the new complications. It is not just about how Complex is written right now.

As martin said the cases in 10.6.4 are forbidden. This solves one of

[2022-01-06 16:34] casella commented on #2387
I don't understand why it should be invalid. This is the original model
[code]
the binding expression for `c4` is `c2*c3`, which are both matrices, i.e., they are two-dimensional arrays, according to Table 10.5. The fact that the second dimension of c3 is one is irrelevant here, `c3` still qualifies as matrix.

Section 14.5 says that if `c2` and `c3` are both arrays, since there are no overloaded

[2022-01-06 19:20] casella opened #8381 "One model of PNLib got broken"
The PNLib library by @lochel worked 100% in omc 1.18.0, see [overview report](https://libraries.openmodelica.org/branches/overview.html). For some reason, something got wrong in the current 1.19.0-dev version, causing the [ArcswithPCtoTC3](https://libraries.openmodelica.org/branches/master/PNlib/files/PNlib_PNlib.Examples.ExtTest.ArcswithPCtoTC3.sim) model to fail at runtime with this error:
[code

[2022-01-06 22:36] adrpo commented on #7488
I now implemented this:
![image](https://user-images.githubusercontent.com/4192979/148461941-8f1b1ced-8d64-41eb-b8ca-1362a1d136d6.png)

The last two are because after I add the choices I also search for choicesAllMatching and add those. Maybe we should not.

[2022-01-06 22:38] adrpo commented on #7488
As the last choice does not have a comment there is none, you however suggest to put the comment of the class C in there but that is wrong.

[2022-01-06 22:53] casella commented on #7488
I guess we should only combine these two if both a choices annotation _and_ a choicesAllMatching annotation are present. Otherwise I wouldn't clutter the drop-down menu with other stuff than what is explicitly listed in the choices menu and, most importantly, I'd avoid wasting time looking for it.

[2022-01-06 22:56] casella commented on #7488
Yes, that was deliberate.

Why would it be wrong? This is exactly what we we do with the choicesAllMatching annotation, we put the comment of the class. It's the best explanation we have of what EnchancementDropDown.Database.C is for. Otherwise the poor user is only left with the name of the class to figure out what it means.

Or maybe I missed your point?

[2022-01-06 22:57] adrpo commented on #7488
Ok. I will play with this. Note that currently we always consider `choicesAllMatching=true` for redeclares even if the annotation is not present (the specification suggests it should be done so) or even if is present with `choicesAllMatching=false`.
I will fix it so that we at least don't do it when `choicesAllMatching=false`.

[2022-01-06 22:59] adrpo commented on #7488
Reference: https://specification.modelica.org/master/inheritance-modification-and-redeclaration.html#annotation-choices-for-suggested-redeclarations-and-modifications

- [The behavior when choicesAllMatching is not specified; ideally it should present (at least) the same choices as for choicesAllMatching = true; but if it takes (too long) time to present the list it is better to have choicesAllMat

[2022-01-06 23:10] adrpo commented on #7488
This is a redeclare of the component, not the class. If it would be the class maybe. It would be possible to get the type path and fetch the comment, I will see what I can do.

Just for comparison, this is how some other tool is showing it:
![image](https://user-images.githubusercontent.com/4192979/148465156-6b8eeb2a-5de7-4fc9-8df4-a824a307b64e.png)

[2022-01-07 01:18] casella commented on #7488
OK. Don't waste too much time on this, it's more important to support modifiers in redeclarations.

[2022-01-07 10:48] sjoelund commented on #8380
The libraries tested in -combined are only tested during the weekend, when we don't have resource constraints. As such they can keep testing obsolete libraries.

We could have a separate report for officially supported libraries, but there is no connection between the package manager's support-level and the reports. It's generated from different JSON-files with test settings that are updated manua

[2022-01-07 11:15] casella commented on #8380
I still don't see any benefit of doing that. On the negative side, we may still be bothered by regression reports which are meaningless, because they may be due to problems of the library that won't ever be fixed. See the case of Modelica_Synchronous, some tests fail, but they are successful in the corresponding upgraded tests of Modelica.Clocked. Why should be spending time figuring out what is t

[2022-01-07 12:36] max-privato opened #8383 "OMEdit Text visualisation glitch"
### Description

When we use a text box in diagram or icon, we can use the red squares to resize the allowable space.
Text is expected to stay inside the four red squares. In the example below (file and screenshot), it is truncated in just a fraction of the allowable space (see screenshot below)

### Steps to Reproduce
Open Test.mo and select the text box in diagram view
[Test.mo.txt](https://gith

[2022-01-07 21:15] Amuri44 opened #8384 "What is the correct type to allow changing the values of parameters through omshell?"
I have a complex diagram in which I need to change the values of some parameters and observe the results. I tried to simplify the question to as below:
I have a simple addition block with two inputs (var1 and var2) and one output (y) designed in the diagram view.
`
model sumDummy
  parameter Modelica.Blocks.Interfaces.RealInput var1 annotation(..)
  parameter Modelica.Blocks.Interfaces.RealInput v

[2022-01-08 02:33] mwetter opened #8385 "CombiTimeTable fails to read table if file has .csv extension"
### Description

Simulating `IBPSA.Utilities.IO.Files.Examples.CSVReader` in OpenModelica fails with the error:
[code]
This model reads the file https://github.com/ibpsa/modelica-ibpsa/blob/master/IBPSA/Resources/Data/Utilities/IO/Files/Examples/CSVReader/Data.csv (which has extension .csv, but is not a csv file), using `CombiTimeTable` from the MSL. It appears that OpenModelica interprets this fi

[2022-01-08 07:28] sjoelund commented on #8385
Newer MSL versions support CSV-files: https://github.com/modelica/ModelicaStandardLibrary/commit/9d6d6d8f9bf3ff15d8dc52ad64400a9b5d317e35

We have some bugfixes from MSL and they are enabled for all MSL versions. Sometimes you get newer features, like in this case.

[2022-01-08 13:30] mwetter commented on #8385
Thanks, I will fix it in the `IBPSA` and `Buildings` libraries.

[2022-01-08 13:30] #8385 closed

[2022-01-08 17:31] adrpo commented on #8384
Remove parameter as is already an input. This works.

[code]

Sorry I didn't had time to give you an example on how to use `-output`  until now. Here it is.
You can run the model like this and get the value of `y` via `-output`.
I also used `-noemit` to not write any result file

[code]

Form OMJulia you could just build the model, run the executable and save the output in a variable.
[code]

[2022-01-08 20:56] paultjevdh commented on #7914
Hi,
I tested this in 1.18.1 and the nightly build and v1.19.0-dev-504-g8291efd717 (64-bit).
The entry for visual studio 2019 is present now, but isn't it also supposed to successfully call that compiler?
It seems that was not extensively tested, or not considered as part of the bug?
When running a model with vistual studio 2019 compiler selected, I just get:

C:/Program Files/OpenModelica1.19.0-de

[2022-01-08 21:18] paultjevdh commented on #8105
Hi,
This issue was redirected to #7854, and is closed also there. However, it seems a part of the issue was overseen.
I tested the example code above with v1.19.0-dev-504-g8291efd717 (64-bit) which is the current nightly build, and in my opinion, the issue is fixed only partly: _signal y2 is still not calculated._
I'm now sure if this remaining issue should now reside under this issue or #7854, pl

[2022-01-08 21:34] adrpo opened #8386 "Strange condition in common.groovy"
### Description

The comment says "// compile OMSens_Qt for Qt5" here:
https://github.com/OpenModelica/OpenModelica/blob/master/.CI/common.groovy#L379
but the if (isQt5) true part *does not build* omsens_qt, the false part does!

Somebody that knows what's going on (@adeas31, @sjoelund, @AnHeuermann) please check if this is correct.

[2022-01-08 21:36] paultjevdh opened #8387 "Modelica compiler error use of undeclared identifier"
Hi,
### Description

I get a compiler error with the model below. The model should generate a clock with random intervals (a poisson process in physics)
Instead I get

Needless to say that the name _omcQ_24CLKPRE is not a model variable, but something made up by the modelica compiler.

### Steps to Reproduce
Please paste the model below in openmodelica and try to simulate.
[code]

### Expected Beh

[2022-01-08 21:48] mahge commented on #8381
This is the regression history of the model on master from latest to oldest

1. http://libraries.openmodelica.org/branches/history/master/2021-11-16%2011:41:32..2021-11-16%2022:23:49.html
2. http://libraries.openmodelica.org/branches/history/master/2021-11-12%2008:56:38..2021-11-12%2022:41:02.html
3. http://libraries.openmodelica.org/branches/history/master/2021-04-15%2023:00:29..2021-04-16%2012:1

[2022-01-08 22:02] adrpo commented on #8386
I guess we can close this ticket, touching omsense_qt.skip will actually prevent its build! I'll leave this open so that somebody can check also.

[2022-01-08 22:49] casella commented on #8381
Thanks @mahge!

@AnHeuermann you were mostly involved with those commits, could you please check what went possibly wrong with [ArcswithPCtoTC3](https://libraries.openmodelica.org/branches/master/PNlib/files/PNlib_PNlib.Examples.ExtTest.ArcswithPCtoTC3.sim) in those four days? Thanks!

[2022-01-09 00:23] casella commented on #8105
@paultjevdh, as I understand your test case, `y2` is not a signal (i.e. a Real, Integer, or Boolean variable), it is just a clock. I'm not sure what you mean by "is not calculated": clocks are not something that you can plot, only variables are.

The clock partition of `y2` is empty, so it can be actually ignored by omc outright. However, the clock definition is valid and correct, as you can see i

[2022-01-09 00:35] casella commented on #8387
@mahge, @AnHeuermann, @phannebohm, could you please have a look? It seems that real interval clocks ([Section 16.3, operator 16.3](https://specification.modelica.org/maint/3.5/synchronous-language-elements.html#modelica:clock-interval)) have some issues in code generation.

Do we have any tests for kind of clocks?

[2022-01-09 00:37] casella commented on #8387
Doesn't work with cpp as well, so the problem is upstream of C code generation, either SimCode or Templates.

[2022-01-09 11:57] paultjevdh commented on #8105
Hi,
Thanks for your reaction.
This may be my misunderstanding, but isn't a clock just a variable with different properties?
And why are u1 and y1 plotted as solid staircase signals, while they only have a defined value _at_ the samples and no value in between (exactly the same as a clock in my opinion)?
I included a picture in my original report which was generated with dymola. The clock variable

[2022-01-09 17:23] casella opened #8388 "Improved result saving & plotting of clocked variables"
### Description

Clocked variables are only defined when the corresponding clock is active. However, they are currently plotted and saved as discrete variables, which are defined for all values of time.

### Steps to Reproduce

Simulate the following example
[code]
![immagine](https://user-images.githubusercontent.com/4233148/148693083-0ddcd689-75a9-40de-9e4b-ef21d350f779.png)

### Expected Behavi

[2022-01-09 17:29] casella commented on #8105
Not really. Clock variables _do not have a value_, see [Definition 16.2](https://specification.modelica.org/maint/3.5/synchronous-language-elements.html#clocks-and-clocked-variables) of the Modelica Specification. Clock**ed** variables have a value, and are associated to a clock.

This is a known current limitation in the way OpenModelica saves the results to files and plots them, i.e., as if they

[2022-01-09 17:47] anotheruserofgithub commented on #8365
Thank you for your answers and the Dymola report! It helped me solve (part of) the problem.
Please accept my apologies, as I really thought this was a more general issue with OpenModelica.

[2022-01-09 18:58] paultjevdh opened #8389 "Double counting of inner outer variable when redeclaring"
Hello,
### Description
I encounter a problem with counting variables in a model containing both inner/outer and a redeclaration.
The attached package contains some nested classes.
There is a 'base' class (in order to be able to use constrainedby later on). base has an outer variable  'x'.
Two classes 'A' and 'B' expand on this base class. 'Test_A' and 'test_B' (providing inner variable 'x' and the

[2022-01-09 19:14] casella commented on #8365
No problem at all 😃

[2022-01-09 19:23] casella commented on #8330
@sjoelund, before closing this issue, I checked the overview-c++ report today (Jan 9 2022) and I got this:
[code]
I understand this report compares the testing of the latest official release with master. I'm not sure how often each of them is run, but it seems that the official release is ran more often, since the latest report is one day old, while the one on master is four days old.

I think we

[2022-01-09 19:35] sjoelund commented on #8330
cpp (master) runs daily if there are library or omc changes (it seems it skipped Sundays before - I re-added that now). During the Christmas break, there has been few changesets.

[2022-01-09 20:42] paultjevdh commented on #8105
Hi,

OK, I understand. Then this should be considered a feature request rather than a bug I guess
Below is a shot of page 704 in Fritzson (2015).

![image](https://user-images.githubusercontent.com/59084059/148699847-d6c84407-ce46-430c-a9ee-73ef7565129b.png)
_How_ he did those graphs, I don't know.

I'll leave you at it and wait for the appropriate commit.
Does this issue get reopened, or should t

[2022-01-10 00:01] casella commented on #8330
OK, then we can consider this closed. Thanks!

[2022-01-10 00:01] #8330 closed

[2022-01-10 00:04] casella commented on #8105
This issue was about shiftSample and I understand this is fixed, so I'd keep it closed - best to avoid combo tickets with multiple issues that remain dangling forever.

The new feature is already mentioned in #8388, I'll mention you there so you get notified.

[2022-01-10 00:05] casella commented on #8388
@paultjevdh I understand this is what you were looking for on #8105, feel free to add further comments here.

[2022-01-10 00:46] phannebohm commented on #8387
After fixing a small bug with the interval variable of real clocks (see #8390) the model compiles but initialization fails with the following mesasge
[code]

[2022-01-10 06:32] AnHeuermann commented on #8388
I'm not sure what the best approach would be to save clocked variables separate.

First we need to exclude clocked vars from the normal results. We can do that by simply filtering while calling the `save-all-vars-function`.

Then we need to have different part in the .mat result file (basically hdf5). I'm not sure we can save variables in csv only at some time points. So for csv we might need an e

[2022-01-10 07:00] AnHeuermann commented on #8381
I don't think the error should be because of https://github.com/OpenModelica/OpenModelica/commit/1cbaefaede. In that case the error message should be different. But I can try to quickly build and test on that an the previous commit.

[2022-01-10 07:17] BasilioPV commented on #8211
Dear Francesco, any news on this issue? Thanks in advance.

[2022-01-10 07:26] AnHeuermann commented on #8381
I checked the `PNlib.Examples.ExtTest.ArcswithPCtoTC3` with different commits:

- 3602522302: Simulates, but I get an error from the backend:
[code]
- 2e9ac992b52da33b62810aebf2e3c7a8e78a88b9 and 3dba97e5471a815fb4b43286d727e9aaa1552166: Same as above
- 2baf5e992426009d3d6b17c13b546445c84ad511: Frontend (Backend?) errored:
[code]
- 38c9f79320: Still broken

Maybe it could be 8df23861c3 if PNLib us

[2022-01-10 07:27] AnHeuermann commented on #8381
But bbbca3c821 is actually mentioning PNLib in its commit message. Sound like a hint. @perost could you check?

[2022-01-10 08:25] perost commented on #8381
I broke a lot of PNlib in #8117, which was intended to work around issues where references to 0-size arrays remained in the flat model. Since it didn't work with PNlib for unknown reasons I reverted it in #8140 and instead attempted to fix the issue by replacing such crefs with appropriate array expressions, so I assume that's what broke `ArcswithPCtoTC3`.

Reverting everything is not an option si

[2022-01-10 10:11] paultjevdh opened #8392 "Plotting of 'clock' variables"
Hi
### Description

I guess this is more a feature request than a bug report. It was discussed earlier in #8105, but multiple subjects in a single thread is a bad habit, so I open a separate issue for it.

What I'd like to be able to do is to plot 'clock'  variables the same way 'clocked'  variables are to be plotted, once #8388 is implemented.
For reference, dymola can do this. The 2015 book by F

[2022-01-10 11:00] #8374 closed

[2022-01-10 11:43] perost commented on #8340
This was an issue in the library which was fixed last week. The model still fails due to what seems to be the same issue as in #4908.

[2022-01-10 11:43] #8340 closed

[2022-01-10 11:59] #8389 closed

[2022-01-10 12:14] niklwors commented on #7485
There is now the problem with wrong simulation results for the test cases . The issue is, the  an array assignment went wrong. e.g.
in the DirectValve component from test case ```DirectionalValve33_Easy_TC01``` the assignment
```parameter Real[:,1] flowTableAT=   Rexroth_Generic.Hydraulics.Valves.Internal.ExtractTable(qNTableEasy, false)```  results in an array with zero elements which is not corr

[2022-01-10 13:22] casella commented on #2081
Additionally, we need to update the icons that depend on parameters dynamically.

[2022-01-10 13:26] casella commented on #7485
@mahge, this is for you to check.

[2022-01-10 14:05] sjoelund commented on #8380
So the generation of overview reports is separate from the library reports (which have the level of support)

[2022-01-10 14:09] phannebohm commented on #8387
Oops seems linking a PR with an issue automatically closes the issue when the PR is merged.

The issue shifted form compilation to initialization. I'm pretty sure this is unrelated to clocks though.

[2022-01-10 15:19] #8341 closed

[2022-01-10 17:14] casella commented on #8388
I did some experiments with the following test case
[code]
and I found out that Dymola actually doesn't do what I thought. In fact, it still uses the standard `data_2` matrix for time-varying variables also for clocked variables, see [ClockedExamples2.zip](https://github.com/OpenModelica/OpenModelica/files/7840566/ClockedExamples2.zip).

Additionally, it records the activation counts an the time o

[2022-01-10 17:18] casella commented on #8211
@perost, any idea if the use of the outer World object could be involved into losing that information?

@BasilioPV, @adeas31 is off until end of January, so if this is not a fronte-end issue we need to wait until then.

[2022-01-10 17:23] casella commented on #8387
In any case, the issue was fixed, so I would close this. The fix will be available tomorrow in the nightly build.

I would kindly ask @paultjevdh to open another one regarding the initialization problem, maybe after doing some analysis on it.

[2022-01-10 17:23] #8387 closed

[2022-01-10 17:40] adrpo commented on #8211
As far as I know from what @vwaurich did:
- omc dumps some visualisation information during compilation
- that information is read by OMEdit and the objects are displayed

Maybe some of these Modelica shapes have changed a bit (their paths or components) in MSL 4.0.0 compared to 3.x so maybe that part of the compiler needs updating.

[2022-01-10 17:47] adrpo commented on #8211
This [DoublePendulum_visual.xml.zip](https://github.com/OpenModelica/OpenModelica/files/7840813/DoublePendulum_visual.xml.zip) is what omc (when you simulate with animation) dumps for Modelica.Mechanics.MultiBody.Examples.Elementary.DoublePendulum in MSL 3.2.3.

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<visualization>
  <shape>
      <ident>world.x_label.cylinders[1]</ident>
      <t

[2022-01-10 17:52] adrpo commented on #8211
I suggest to run the same example with MSL 3.2.3 and MSL 4.0.0 and compare the generated `Model_visual.xml` to see what is different.

[2022-01-10 17:54] casella commented on #8211
@BasilioPV can you do that and report? Thanks!

[2022-01-10 18:07] casella commented on #7929
@Arinomo, @Elfangor93, the current situation is summarized by @mahge's [comment](https://github.com/OpenModelica/OpenModelica/issues/7929#issuecomment-1004943420).

As I understood, it is now possible to export a statically linked FMU with CVODE. Please report if that is works for you and is good enough for you.

Exporting a source-code FMU with CVODE requires to set up all the makefiles for CVODE

[2022-01-10 18:14] casella commented on #8392
See also #8388.

[2022-01-10 18:16] phannebohm commented on #8392
Since this will be a new feature anyway, maybe we can represent clock ticks with vertical lines to address the issue raised in https://github.com/OpenModelica/OpenModelica/issues/8105#issuecomment-1008340758

[2022-01-10 18:20] casella commented on #8392
This would only work well if you show one clock at a time, otherwise it would be messy, particularly when they superimpose. We can explore some options with @adeas31 when he comes back.

[2022-01-10 18:28] BasilioPV commented on #8211
Dear all,

On MSL 4.0.0 all Shapes regarding forceArrow and TorqueArrow are missing on Model_visual.xml

The followin gshapes only appears in MSL 3.2.3:

 <shape>
      <ident>forceAndTorque.forceArrow.arrowLine</ident>
      <type>cylinder</type>
      <T>    <cref>forceAndTorque.forceArrow.arrowLine.R.T[1,1]</cref>
          <cref>forceAndTorque.forceArrow.arrowLine.R.T[1,2]</cref>
          <cr

[2022-01-10 18:46] adrpo commented on #8211
This function checks the paths to see if they belong to the visualization:
https://github.com/OpenModelica/OpenModelica/blob/master/OMCompiler/Compiler/BackEnd/VisualXML.mo#L610
I will see if it needs to be updated but I don't have too much time in the next 4-6 weeks to have a look at it so if anybody else can have a look, please do.

[2022-01-10 19:10] adrpo commented on #8211
Maybe also this change in MSL has something to do with it:
https://github.com/modelica/ModelicaStandardLibrary/commit/7b0253071a017fc08ad323676a27f3c1f2dc2bc0

[2022-01-10 19:26] adrpo commented on #8211
On second look, the MSL change shouldn't matter.

[2022-01-10 20:17] BasilioPV commented on #8211
On MSL 4.0 visualization parameters are defined on world component instead 0n each force/torque separately. Perhaps this makes that the algorithm does not find visualization attributes on each force/torque and these items are discarded to be visualised. Is this assumption true?

[2022-01-10 20:36] casella commented on #8373
Following advice by @AnHeuermann, I switched off ASSC, but then index reduction did not take place and the system was singular.

So, I turned on `-d=dumpASSC` and got this:
[code]
I'm not sure I can follow how the result was obtained, but I am positive that the original equation is correct, while I'm fairly sure the replaced one isn't.

@kabdelhak, please double-check what the ASSC algorithm does

[2022-01-10 23:21] adrpo commented on #8211
The problem is that `Modelica.Mechanics.Visualizers.Advanced.Arrow.mo` is defined differently in MSL 4.0.0, it uses `Modelica.Mechanics.MultiBody.Visualizers.Advanced.Vector` instead of `Modelica.Mechanics.MultiBody.Visualizers.Advanced.Shape` that we currently support.
We would need to implement support for Vector:
https://doc.modelica.org/Modelica%204.0.0/Resources/helpOM/Modelica.Mechanics.Mult

[2022-01-11 00:50] Arinomo commented on #7929
@casella i'll be back in the office on early February, i'll try it on my target platform then. Thank you

[2022-01-11 00:55] Arinomo commented on #7929
@AnHeuermann are the necessary files available on installed directory of OM?

[2022-01-11 09:56] paultjevdh opened #8397 "Initialization error in random generator"
### Description

### Steps to Reproduce

### Expected Behavior

### Screenshots

### Version and OS

 - OpenModelica Version: [e.g. `omc --version` or `Help->About OMEdit` from OMEdit]
 - OS: [e.g. Windows 10, 64 bit]
 - Versions of used Modelica libraries if applicable

### Additional Context

[2022-01-11 10:31] paultjevdh commented on #8387
Hi,
As you can see above, the initialization error was posted as a new issue.
Thanks all for fixing this one.
Best regards,
Paul

[2022-01-11 11:20] AnHeuermann commented on #7929
No, at least not all and you can't use what we have there because some of the header files are configured for the system OM is installed on.

You can [download SUNDIALS v5.4.0](https://computing.llnl.gov/projects/sundials/sundials-software) and copy the CVODE sources into the FMU. Check the official documentation on how to configure and build CVODE.

We have the CVODE sources in [OMCompiler-3rdPar

[2022-01-11 15:20] #4908 closed

[2022-01-11 15:45] perost commented on #4908
With the fix in #8398 the model now incorrectly passes the frontend, which #8400 fixes and gives a proper error message:
[code]
The reason is that the model contains the expression `sum(der(xi)*bulk.drhodxi_ph)` where both `xi` and `bulk.drhodxi_ph` are vectors, so it's calling `sum()` on a scalar which as far as I know isn't allowed.

It would be trivial to allow it (Dymola does) since `sum` of a

[2022-01-11 17:50] casella commented on #8397
For continuous time systems, the regular equations are needed to compute the derivatives given the states, while the additional initial equations are needed to fix the states at the initial time (Cauchy's problem). For continuous-time dynamical systems, the "memory" is in the state variables.

For discrete-time systems, the regular equations compute the variables given their pre() values, so the i

[2022-01-11 17:54] casella commented on #4908
der(array)*array is a scalar product according to [Section 10.6.4](https://specification.modelica.org/maint/3.5/arrays.html#matrix-and-vector-multiplication-of-numeric-arrays), Table 10.11 of the Modelica Specification, so there is no need to use sum() there.

[2022-01-11 18:19] perost commented on #4908
Yes, that's exactly my point. We shouldn't allow it since it doesn't make sense to use `sum` like that, and we don't know if it's just an unnecessary `sum` call or if the argument is a scalar only by mistake.

[2022-01-11 20:18] Amuri44 commented on #8384
@adrpo Thank you very much! It worked correctly, I just have two things:
1- I checked the execution time for the code that designed to be executed again, i.e., between
`
@time begin
cmd = Cmd(`./SumDummy.exe -lv=-stdout,-LOG_SUCCESS -override var1=2,var2=3 -noemit -output y`, env=env)
...
@show varNamesValues
end
`
 it was 0.174939 s. This is kind of slow. Is there a better way?
2- The generated f

[2022-01-12 16:43] adrpo commented on #8384
How much do you need to run the exe for? By default we have `stopTime=1` and `numberOfIntervals=500`. If you don't need that much, you can maybe make just one step to speed things out: call it with `-override stopTime=0.1,numberOfIntervals=1`.

For sure with the FMU would be faster. Try to use: FMI.jl
https://juliahub.com/ui/Packages/FMI/F4iG6/0.3.6

Basically instead of buildModel you can use bui

[2022-01-12 16:48] adrpo commented on #8384
I don't know why it doesn't work in that directory, maybe it doesn't like the spaces in the paths and the "-". We had a lot of issues with spaces in paths as msys2/mingw64/gcc build environment we use doesn't support it. How did you changed the directory to the one you want, via cd("C:\\Users\\username\\OneDrive - O\\Code\\Julia")?
I will test and let you know what I find. You could try to compile

[2022-01-12 19:09] vince-ice commented on #8379
I should also report @mahge has some leftovers somewhere laying around:
[code]

[2022-01-12 19:38] mahge commented on #8379
Is there any chance the build system will be updated to allow building to lib64?

This probably not up to us to fix in general. This might be a job of the configuration tool/system. For example, for CMake, the "lib" part is picked up from [GNUInstallDirs](https://cmake.org/cmake/help/latest/module/GNUInstallDirs.html). Probably something similar for autoconf. It is the job of the configuration too

[2022-01-12 19:42] mahge commented on #8379
I am sorry but I am completely lost as to what happened here. We need some more information. What are you trying to do? Compiling with no modifications? Is it your first compilation? If it is can you attach a fill trace of the compilation? Did it work before? If so when did it break? ... anything you can give me 🙂

[2022-01-13 11:31] perost commented on #7777
The ticket for the specification has not been resolved yet, but it still seems clear that OM's interpretation is to strict. With the way we handle modifiers we can't really check this properly right now, so I've chosen to just remove the warning for now since applying `each` on a scalar doesn't actually cause any issues anyway. So it's better to just ignore it for now instead of giving false warni

[2022-01-13 13:09] dietmarw opened #8411 "Exported FMU with "protected" option contains sensitive data."
*Note: The original issue regarding the blackbox problem is already reported in #8158. Hence I edited this ticket to be about the "protected" option only.*

### Description
When exporting an FMU with a protected component and exporting
it with the "proteced" filter activated then the FMU should not contain any details about the protected component. But unfortunately it does.

### Steps to Reproduc

[2022-01-13 13:33] #7777 closed

[2022-01-13 13:49] Amuri44 commented on #8384
I only want it to run for one single time-step. For that, I defined `stopTime=0.1,numberOfIntervals=1` within `buildModel()`. However, the execution time (mentioned before as 0.058034 seconds) is kind of slow. Actually, `chomp(read(cmd, String))` is who consumes the large time not `Cmd`.

Actually, the default path when I run julia code is `C:\Users\username\OneDrive - O\Code\Julia`, which actuall

[2022-01-13 13:54] #8376 closed

[2022-01-13 14:27] dietmarw commented on #8158
The question is also is that json needed at all. Like I showed in #8411, Dymola does not even contain that file for both blackbox and protected.

[2022-01-13 16:14] casella opened #8415 "Bogus error message in linearize method"
### Steps to Reproduce

Run the  following test script:
[code]
the output is:
[code]
This is totally misleading, the problem is that there is a typo in the class name, which is Filter and not Filters

### Expected Behavior

The actual problem should be reported, i.e. the model does not exist. For example, the simulate() function reacts with this error message:
[code]

[2022-01-13 16:22] casella opened #8416 "The linearize() API crashes OMC 1.19.0"
### Description

Running the linearize() API from either script or OMEdit CLI crashes the current development version of 1.19.0. It worked well in 1.18.0. I have no idea when this actually broke.

### Steps to Reproduce

Run the following test script:
[code]
OMC dies abruptly with no error message.

The same happens if MSL is loaded in OMEdit and the linearize command is issued in the CLI interfac

[2022-01-13 17:27] mahge commented on #8415
The error was actually implied somehow.

[code]
You can see it in the "messages" in the SimulationResult..

The misleading error is coming from here:
https://github.com/OpenModelica/OpenModelica/blob/ec6160b8d920800f3c69334f80a347c352fdc5ad/OMCompiler/Compiler/Script/CevalScriptBackend.mo#L3386-L3399

The last parameter (`true`) to the function call `getPathedClassInProgram` on line 3387 is saying

[2022-01-13 17:30] casella commented on #7488
I checked the status with the latest nightly build after @adrpo's last commits, playing around a bit with the two example cases.

Regarding the original example case, I think it is now quite good. The first time you set the replaceable item, you get exactly what @sbaetzing was expecting. The next time you double-click there, what you see in the input field is the actual redeclare statement, which

[2022-01-13 17:33] #7485 closed

[2022-01-13 17:42] mahge commented on #8416
The model works fine for me from the command line.

[code]

But as you said OMEdit crashes when it is issued in the OMEdit CLI. So this is probably an OMEdit issue.

[2022-01-13 21:26] casella commented on #8416
What I did was to save those two lines in a `test.mos` file and then run `omc test.mos`. Is that what you did?

[2022-01-13 23:36] casella opened #8418 "Wrong parameter values reported in BR library"
As reported by @niklwors [here in #7485](https://github.com/OpenModelica/OpenModelica/issues/7485#issuecomment-1008817437), in the DirectValve component from test case ```DirectionalValve33_Easy_TC01``` the assignment
```parameter Real[:,1] flowTableAT=   Rexroth_Generic.Hydraulics.Valves.Internal.ExtractTable(qNTableEasy, false)```  results in an array with zero elements, which is not correct.

M

[2022-01-13 23:37] casella commented on #4346
@niklwors, @sbaetzing, can you please check the behaviour of the current nightly build?

[2022-01-13 23:38] casella commented on #6242
@adrpo, any chance to get this thing through? Thanks!

[2022-01-13 23:44] casella commented on #7489
Unfortunately this is different from #7487, so PR #7652 was not beneficial.

[2022-01-14 03:50] jdpipe opened #8419 "boost is a required dependency, not optional"
### Description

Attempting to build omc from the master branch on Ubuntu 20.04 (via Github Actions).

### Steps to Reproduce

https://github.com/jdpipe/OpenModelica/runs/4812472162?check_suite_focus=true

### Expected Behavior

Boost is listed as an optional requirement. However, when it is not installed, the cmake step fails. Hence it is not optional. Some selected output:

[code]

### Screensho

[2022-01-14 09:46] niklwors commented on #8418
@perost That is not correct, or? Normally, all elements in the first row should be filled.

[2022-01-14 09:52] niklwors commented on #8418
ok, than it is correct.

[2022-01-14 10:54] mahge commented on #8416
Yes exactly. It works in that case.

The problem turned out to be the `stopTime = 1` part. More specifically the `=` not being handled by the new flat Modelica expression parser we have now.

The flat Modelica expression parser is designed to parse expressions which it does properly. Except a call expression is expected to be parsed as `CALL ( EXP {, EXP} )`.

In this case we get a something like

[2022-01-14 11:02] mahge commented on #8419
OpenModelica comes with C and CXX runtimes. The C runtime is the default and always enabled. The CXX runtime is built optionally since it takes some time to build and not everyone uses it daily. Boost is used by the CXX runtime.

The autoconf build handles this properly. The CMake build needs to make CXX runtime optional as well.

[2022-01-14 11:03] mahge commented on #8419
If you want to continue working without installing boost for now, a hack/workaround is to comment out this line:
https://github.com/OpenModelica/OpenModelica/blob/4196d445144b4b0c86c9de3d8363e2b7ccd50cfc/OMCompiler/SimulationRuntime/CMakeLists.txt#L4

[2022-01-14 12:38] dietmarw commented on #8411
@arun3688 but if the simulation is dependent on the open visible `.json` file then this has to be a bug since it kind of defeats the whole point of filtering information and also offering a blackbox variant which this is not runnable.

[2022-01-14 12:40] perost commented on #8325
Duplicate of #4908 mostly. There were still some models in ClaRa that failed with the same error message but for other reasons, which were fixed in #8413 (and then properly fixed in #8422 because I messed that one up). The mentioned model now fails due to issues in the library that have been reported to ClaRa internally.

[2022-01-14 12:40] #8325 closed

[2022-01-14 13:14] adrpo commented on #7488
Could you post some pictures? I don't get point 1.
For point 3, there should be no `\"` in any of the choices, if you get that (picture please) then is a bug.

[2022-01-14 14:54] lochel commented on #8411
@dietmarw, you are of course right. We are investigating the issue right now.

[2022-01-14 22:11] casella commented on #6242
@mahge, what about you?

[2022-01-14 23:16] casella commented on #8418
@niklwors I'm not sure what you meant by "an array with zero elements". `flowTableAT` is flattened to a Real[101,1] array by the frontend, and if you turn the output of protected variables (Simulation | Output menu), you can see all its elements in the variables browser and plot them.

I don't see any problem with this model now. Please reopen with some more indication if I missed something.

[2022-01-14 23:38] casella commented on #8416
OK, works for me as well now. Not sure what I did earlier.

[2022-01-14 23:43] casella commented on #8416
Would it be possible to use the previous one for this purpose? That worked well.

This is obviously not good. We need to catch those exceptions and print out some diagnostic message.

See above.

In fact, this specific issue could also be handled by fixing [#5626](https://trac.openmodelica.org/OpenModelica/ticket/5626). @adeas31, this looks quite simple, could you do that?

[2022-01-14 23:53] casella commented on #7488
Point 1:
![immagine](https://user-images.githubusercontent.com/4233148/149599292-155e83d8-d4b7-4fce-975a-68f9b37b315f.png)

Point 3:
![Screenshot (4)](https://user-images.githubusercontent.com/4233148/149599382-0fc6e4e3-5460-47d0-8828-e4fefba55e45.png)

[2022-01-15 01:05] casella commented on #7960
OK, here is the MWE:
[code]
Until `time = 1.25`, `xIn < rowX[2]`, hence the for loop breaks at `i = 2`, ad `lowerXrow` is set at 1.

After `time = 1.25`, `xIn > rowX[2]`, while `xIn < rowX[3]`, so the loop should break at` i = 3` and `lowerXrow` set at 2. This is what Dymola does, correctly. For some reason, instead, OMC continues returning `lowerXrow = 1` until also `xIn > rowX[3]`, at which poin

[2022-01-15 01:23] casella commented on #7960
![immagine](https://user-images.githubusercontent.com/4233148/149603495-97c75731-493b-4680-89b6-c1b6e43835a8.png)
Blue `lowerXrow` is Dymola's result, red `lowerXrow` is omc.

[2022-01-15 08:58] jdpipe opened #8424 "graphstream/gs-netstream fails to build on MSYS2"
graphstream on MSYS2 uses the `WIN32` macro to detect Windows, but that is not defined on MSYS2. This needs to be modified to `_WIN32`, or else the compiler in MSYS2 will attempts to link to POSIX sockets instead of winsock.

See https://github.com/jdpipe/OMCompiler-3rdParty/commit/3602e6bb831c72ffebcae2f7a85521c3e92e8335

Haven't tested this change on MSVC, only on MSYS2 and Linux.

[2022-01-15 12:25] casella opened #8425 "Instance-based mechanism to handle parameters, replaceable classe, conditional connectors, and parameter-dependent dialogs"
The current mechanism that OMEdit uses for parameter editing and to display component icons in diagrams has OMEdit figure out what are the relevant classes ad inquire _their definitions_ in the used libraries. In this way, local modifications, inheritance, etc. need to be handled ad-hoc by OMEdit, which is clumsy and unnecessarily complicated. See discussion [here](https://github.com/OpenModelica/

[2022-01-15 12:26] casella commented on #2891
Original trac ticket: https://trac.openmodelica.org/OpenModelica/ticket/2891

[2022-01-15 12:28] casella commented on #8425
@AHaumer, @max-privato, @sbaetzing, @niklwors, @dietmarw, please follow this ticket to see the progress, instead of #2081, which is only a part of the story.

[2022-01-15 13:20] casella commented on #7776
Another option is to supply a virtual machine with preinstalled OMC. This is much faster to install, though it will probably take even more hard disk space.

[2022-01-15 19:39] casella commented on #2661
Original trac ticket: https://trac.openmodelica.org/OpenModelica/ticket/2661

[2022-01-17 11:03] niklwors commented on #8418
@casella  with my OMEdit version from last week, the value for e.g flowTableAT[37,1], flowTableAT[37,1] are 0.0 but it should be 8.0 and 6.0. And also flowTableAT[40,1] is zero and it shoud be 2.0 and there are much more entries in this array that are not filled with values.

[2022-01-17 11:55] casella commented on #8418
@niklwors, sorry, I misinterpreted " results in an array with zero elements" as "results in an array with **all** zero elements". So, you should get flowTableAT={80, 78, 76, 74, 72, 70, 68, ...} and instead you get a result with some elements replaces by zero, flowTableAT = {0, 78, 76, 0, 0, 70, 68, 0, 0, 62, ...}

[2022-01-17 12:05] niklwors commented on #8418
yes this is the problem.

[2022-01-17 13:17] sbaetzing opened #8428 "Error when trying to call a function which is defined inside an instanciated record of a class"
### Description

Error when trying to access a class (here a function) via a component through an instance of the component and the record, which holds the function. However, when switching to old Frontend the simulation progresses as expected.

![1](https://user-images.githubusercontent.com/84787397/149772228-452b0cad-43c1-4e22-bf66-1a838946b9d7.png)

### Steps to Reproduce
•	A function is declar

[2022-01-17 13:35] perost commented on #8428
The [relevant rule](https://specification.modelica.org/master/scoping-name-lookup-and-flattening.html#composite-name-lookup) from the specification for looking up a name in the form of A.B.C is:

So looking up a name on the form `component1.component2.function` is not allowed. I don't really know the rationale behind that though, it would be a one line change for us to allow it.

[2022-01-17 14:03] adeas31 commented on #8258
Ahh now I got it. I thought the problem is related to duplication of models but it is about duplication of elements. Should be fixed now.

[2022-01-17 14:35] casella commented on #8418
I also checked that `qNTableEasy` is computed correctly, so the problem is within the ExtractTable function. I ran that with the algorithmic debugger, this part of the algorithm is executed correctly:
[code]
with `positiveStroke = false` (that's an input) and `indexOfZeroStroke = 51` (computed correctly). The last statements of the algorithm are:
[code]
and of course the else branch is executed. W

[2022-01-17 14:50] #8258 closed

[2022-01-17 15:37] casella commented on #8316
The only 100% safe way to handle this is to delete the file at the beginning of the runtime simulation. This guarantees that even if a) the simulation fails, or b) the profiling info generation is switched off, there is no way old profiling data could be misunderstood as being irrelevant.

If we want omc to do that, we should add this instruction at the beginning of the runtime(s). IMO doing that

[2022-01-17 16:26] phannebohm commented on #3220
Works with latest version of omc.

[2022-01-17 16:42] #3284 closed

[2022-01-17 16:48] casella commented on #8428
I opened [#3089](https://github.com/modelica/ModelicaSpecification/issues/3089) on the Modelica Specification issue tracker. Let's see what is the sentiment there.

[2022-01-17 17:44] casella commented on #3284
Original ticket: https://trac.openmodelica.org/OpenModelica/ticket/3284

[2022-01-18 07:31] sbaetzing commented on #8428
ok thanks for investigations so far. Looking to here from you. Yes exactly no warnings or error in dymola.

[2022-01-18 07:41] adrpo commented on #8211
Some pointers:
https://github.com/modelica/ModelicaStandardLibrary/issues/3931
https://github.com/modelica/ModelicaStandardLibrary/issues/3934
I think that @vwaurich has not time to look into this so we would need to fix it.

[2022-01-18 11:23] adeas31 commented on #8386
This is correct. The first part is suppose to build OMSens since it only compiles with Qt5. The second skips it because of `omsense_qt.skip`.

[2022-01-18 11:23] #8386 closed

[2022-01-18 13:20] #8282 closed

[2022-01-18 14:18] arun3688 commented on #8411
@dietmarw The issue is fixed with this commit https://github.com/OpenModelica/OpenModelica/commit/808cd71bd1357ceba4d54cfc12ea78754eae1565, You can test the fixes from the nightly builds tomorrow

[2022-01-18 14:19] arun3688 commented on #8158
@dietmarw The issue is fixed with this commit https://github.com/OpenModelica/OpenModelica/commit/808cd71bd1357ceba4d54cfc12ea78754eae1565, You can test the fixes from the nightly builds tomorrow

[2022-01-18 14:33] phannebohm commented on #5868
Original ticket: https://trac.openmodelica.org/OpenModelica/ticket/5868

I looked at this and started by disabling all alias removal for any array cref in #8432.
That lead to potential improvements in some models but also problems in other models. I can't see direct mistakes in my approach, instead it seems other bugs are exposed by this change. Those are potentially related to partitioning, handl

[2022-01-18 18:30] mwetter opened #8437 "Buildings....AbsorbedRadiationElectrochromic produces wrong results"
### Description

The model `Buildings.HeatTransfer.Windows.BaseClasses.Examples.AbsorbedRadiationElectrochromic` (and others, such as `Buildings.HeatTransfer.Windows.BaseClasses.Examples.TransmittedRadiation`) seem to not invoke the algorithm section.
For `Buildings.HeatTransfer.Windows.BaseClasses.Examples.AbsorbedRadiationElectrochromic`, the outputs `winAbs.QAbsGlaUns_flow[1, 1], winAbs.QAbsGla

[2022-01-18 20:04] casella commented on #8428
Currently we have a comment from a developer of Maplesim, which also accepts this construct. Let's see what the coordinator says.

[2022-01-18 20:21] dmauslander opened #8438 "Inconsistent results when solving DAE"
### Description

I am using OpenModelica in equation mode to solve the 3D Pendulum as a DAE problem. I get different results when using different forms to express the same constraint (distance from point mass to fixed point is a constant). Results are summarized below and described in more detail in the attached PDF.

### Steps to Reproduce
Run the attached -- PendulumdaeYiheng.mo. There are 3 dif

[2022-01-18 20:51] #8411 closed

[2022-01-18 21:20] casella commented on #5868
You might as well hide it under the carpet, same approach 😄

Seriously, I looked at some of the failing tests. In many cases it seems this has some influence on the initialization process, but the outcome is still successful, so that may not be a big deal. However, in some cases the result is more drastic, e.g. `Modelica.Mechanics.MultiBody.Examples.Systems.RobotR3.fullRobot` fails with
[code]
Thi

[2022-01-18 21:27] casella commented on #8282
BTW, this was a duplicate of https://trac.openmodelica.org/OpenModelica/ticket/5967. @max-privato, you should take over my role of ticket-opener, apparently you are more effective at getting things fixed 😄

[2022-01-18 21:42] casella commented on #5868
Maybe this approach is too drastic. I can't recall why I opened this ticket in the first place, if there were some concrete cases where we knew this was problematic, or if we just thought about that in principle. Too bad I didn't write anything about it.

In any case, a better approach could be to identify those cases where removing only some elements of the array could actually be problematic, an

[2022-01-18 22:10] casella commented on #8438
@kabdelhak, @phannebohm, could you have a quick look? The computed initial values of `der(v[1])` and `der(v[2])` are different depending on whether the first or the second constraint (which are equivalent) are used, of course this shouldn't be the case, so something goes wrong with index reduction when the first constraint is used.

Additional issue: if I compile the examples with the first constr

[2022-01-18 23:07] kabdelhak commented on #8381
Should be fixed with #8436 , thanks @phannebohm for the help!

[2022-01-18 23:09] kabdelhak commented on #8373
fixed with #8436 , thanks @phannebohm for the help!

[2022-01-18 23:10] kabdelhak commented on #8381
i mistakenly linked this issue to a PR which solves another, sorry!

[2022-01-18 23:59] #8373 closed

[2022-01-19 09:35] dietmarw commented on #8411
@arun3688 Thanks and I can confirm it is working now for both protected and blackbox FMUs

[2022-01-19 09:50] dietmarw commented on #8158
I can confirm that this issue has now been fixed by #8433

[2022-01-19 09:50] #8158 closed

[2022-01-19 10:00] casella commented on #8373
Very good! Let's see if this has a positive impact on the library testsuite, besides this specific issue.

Thanks to @max-privato for reporting and @kabdelhak + @phannebohm for the quick fix!

[2022-01-19 10:03] casella commented on #8158
Thanks @dietmarw for reporting and to @arun3688 for fixing.

[2022-01-19 10:21] sbaetzing opened #8439 "cvode solver has problems during event handling"
### Description

During further improvements on one of our components in the BRSL library we found some issues regarding the cvode solver in OMEdit: Rexroth_Generic.Mechanics.Translational.Components.MassContact

These testcases ( @niklwors might have already uploaded the BRSL 2.0 with correpsonding test libraries) ends up with simulation errors when trying to solve them with cvode. Dassl solver w

[2022-01-19 10:52] phannebohm commented on #5868
I guess you're right, especially when you don't have specific models that need this. This was originally marked as blocker on trac. Should we instead just close this and wait for concrete issues to arise?

Yes, @kabdelhak helped me analyze that one. It seems somehow two partitions were created that however are connected by a binding equation that would have been eaten by removeSimpleEquations, but

[2022-01-19 10:53] max-privato commented on #8282
@casella  I gladly leave the mastery of this to you!

I'm happy that @adeas31 is back. There are a few other tickets of mine dropped on GitHub during the last weeks...

[2022-01-19 11:21] kabdelhak commented on #8373
It was actually i quite bad error from my part which in many cases just happened to cancel out with another error i made. Could have some impact on all models where ASSC is involved

[2022-01-19 11:44] casella commented on #5868
The question is, are there any models that improve (e.g. going from failed to success) with this change? The model in the core testsuite, that is run on every commit, normally work, so a test failure means that something got broken.

@sjoelund, @adrpo, is there a way to run the full library testsuite on a branch and get a regression report w.r.t. master, without merging the branch? This would be e

[2022-01-19 11:45] casella commented on #5868
I'm struggling to recall why I did. I scanned all email around that period (Feb 2020) but couldn't find any reference. It was just when the COVID madness started, I guess that wiped out some parts of my memory.

I wouldn't close it, because this can still be potentially problematic, and it was not really solved. I demoted it from blocker to high on trac, and I left it without a milestone here. And

[2022-01-19 11:46] mahge commented on #5868
This might be following a discussion about handling arrays in the runtime system. If I remember correctly, RSE module was removing some elements of an array making it no longer contiguous in the runtime representation.

I will try to find the ticket.

[2022-01-19 11:48] casella commented on #8439
@AnHeuermann these could be nice test cases for the CVODE implementation. Would you mind having a quick look and report?

@niklwors, @sbaetzing is this critical for you at this moment?

[2022-01-19 11:48] mahge commented on #5868
@phannebohm It should. It should be optional. But it has made itself not optional anymore by forcing us to rely on the things it did wrong :)

[2022-01-19 11:49] casella commented on #8373
I guess so, let's see.

[2022-01-19 11:50] casella commented on #5868
Ouch! :)

[2022-01-19 11:57] mahge commented on #5868
This is the relevant ticket https://trac.openmodelica.org/OpenModelica/ticket/5814.

[This comment](https://trac.openmodelica.org/OpenModelica/ticket/5814#comment:3) explains the issue.

The things we take for granted so quickly. Github's cross referencing would have helped since you actually mention creating the new ticket there, with link and everything.

----------------------------------------

[2022-01-19 11:58] sbaetzing commented on #8439
no its not critical. normally we go with dassl and also recommend dassl to our customers. @niklwors mentioned it would be nice to have critical usecases on your side.

[2022-01-19 13:03] mahge commented on #8418
@niklwors Can you please check again. I am getting the results what you say are expected.

flowTableAT[37,1] -> 7.999999999999801
flowTableAT[40,1] -> 1.999999999999947

[2022-01-19 13:09] mahge commented on #8418
However, there are others that are zero. Are you sure everything should be non-zero? Just want to double check and make sure before I continue.

[2022-01-19 14:05] niklwors commented on #8418
@mahge  for me the variable DirectionalValve33_Easy_TC01.SwitchValve33_Easy1.flowTableAT[37, 1] is 0.0 and also DirectionalValve33_Easy_TC01[end].SwitchValve33_Easy1.flowTableAT[40, 1] is 0.0. I will install the latest nightly build and test ist again.

[2022-01-19 14:05] arun3688 opened #8440 "Getting parital derivative for fmus between enter_initialization_mode and exit_initialization_mode"
### Description

Currently OpenModelica generated fmus support getting `partial derivatives` of fmu's using `fmi2GetDirectionalDerivative for the `simulation DAE`. It must be also possible to get the partial derivatives of fmus during `enter initialization mode` and `exit initialization mode`

### Example
oms_setCommandLineOption("--suppressPath=true")
oms_setTempDirectory("./getDirectionalDerivat

[2022-01-19 14:30] niklwors commented on #8418
I am using v1.19.0-dev-505-ga499198eb3

[2022-01-19 19:23] casella commented on #8418
Absolutely. If I understand correctly, `flowTableAT[j, 1] = 82 - j*2`

[2022-01-19 20:50] Amuri44 opened #8441 "How to make exported FMU has 32-bit Windows binaries in OpenModelica?"
I have a model in openModelica and I have exported it as FMU. I tried to import it by a simulation tool (EMTP). However, this tool failed to load the FMU and give me this message:
FMU must contain 32-bit Windows binaries. Not "win32 binary" in the FMU.

Any idea how to make my exported FMU has these 32-bit Windows binaries?

[2022-01-19 22:59] casella commented on #8373
Here is the [report](https://libraries.openmodelica.org/branches/history/master/2022-01-18%2022:23:33..2022-01-19%2011:23:30.html). It's not a dramatic improvement, just 4 models. I guess the DeviceDrivers model is one of those that flip back and forth between different runs for some reason, while the other three are probably genuine improvements.

Anyway, nice outcome.

[2022-01-20 06:56] max-privato commented on #8373
Thank you!

This solves 99% of the issue.
For the record, I just want to mention that now in the GroundDC model we have ground currents around 0.1 A peak, and in the groundAC 0.005A.
They are a bit too large (theoretically they should be zero), especially those in GroundDC, if compared with the load current which has less than 200A peak.

For comparison: in Dymola in both cases we have ground curr

[2022-01-20 10:43] AnHeuermann commented on #8440
Here is an example similar to the one that is used in the FMI Standard (v2.0.3) 2.1.9 Getting Partial Derivatives:

[code]

The Jacobian for the simulation system:
![image](https://user-images.githubusercontent.com/38031952/150323433-4cf0c32e-1f9f-4dc2-a618-08721fdbff41.png)

@arun3688 is this enough info to construct a smaller test case?

[2022-01-20 11:20] arun3688 commented on #8440
@AnHeuermann Thanks for the example, this should be good enough for testing

[2022-01-20 11:45] mahge commented on #8418
The problem is probably down the line in the Mat file writer. As far as I can tell the function `ExtractTable` and the slicing are working as expected. @casella I think once the the value is becomes zero it is kept as zero. So elements 41 and up (`82-41*1`) are all zero in the array. This is what is given to `ExtractTable` function as input.

Once the array is updated in the function and returned,

[2022-01-20 12:04] casella commented on #5868
Thanks @mahge, I forgot about that 😄

I report the MWE here
[code]
The expected output is:
[code]
the actual output is:
[code]

@phannebohm, the problem was reported by an anoymous user two years ago and already analyzed by @mahge, who came to your same conclusions, i.e. that disabling alias elimination caused a whole lot of other problems.

It is not an urgent issue, but it definitely needs to be

[2022-01-20 21:36] Amuri44 opened #8442 "ERROR: division leads to inf or nan at time XX, (a=x) / (b=y), where divisor b is: firstOrder.T"
I have a model designed in OpenModelica contains integrators and transfer functions and first orders. When I run this model in OMEdit, it works fine with some warnings:

[code]
It seems that something related to block `firstOrder` is being fixed automatically by OMEdit but not when running FMI in julia, correct? the problem is not issued when (dt >=0.03 s) Any idea how to solve this issue?

[2022-01-20 22:30] casella commented on #8418
Good point, @mahge . I commented out the protected keyword in the valve model and then added `Real ZZ_01 = SwitchValve33_Easy1.flowTableAT[1,1];` to the example case, and indeed ZZ_01 turned out to be 80, as expected, while flowTableAT[1,1] was reported as zero, which further confirms your conclusions.

[2022-01-20 22:49] casella commented on #8418
I checked the .mat file, and indeed it also contains the right results for `flowTableAT`. Hence, the problem is OMEdit not reading the results correctly from the .mat file.

@adeas31 can you please check? This is high priority. Please not you need to also save the protected variables to see `flowTableAT`.

Thanks!

[2022-01-20 22:51] casella commented on #8442
@Amuri44 it would be great if you could post a model that can actually reproduce the issue.

[2022-01-20 23:41] kabdelhak commented on #8440
The only way i am making sense of this if we see this as a jacobian for input and state variables.
x - states
dx - differentiated states
y - algebraic variables (+outputs)
i - inputs

the system gets solved like:
(dx,y) = F(x,i)

And then it gets partially differentiated for the states and inputs J=dF/dx,i
This is quite easy to do in this example since all equations are already causalized in the c

[2022-01-20 23:42] kabdelhak commented on #8440
The jacobian is a little messed up, but i think the idea comes across

[2022-01-21 03:27] Amuri44 commented on #8442
@casella Thank you for your reply.

Below is the trimmed code for my real one in openModelica then julia:

The model in openmodelica:
[code]

In Julia:
[code]

[2022-01-21 08:42] arun3688 commented on #8440
Yes that is correct, based on your jacobian matrix, and sum up each row, we get the correct results after initialization,

What about the results before initialization ?

[2022-01-21 09:00] kabdelhak commented on #8440
I can't really tell. For `y1` and `y2` it seems like the initial values have just been plugged into the corresponding equation, but that would not explain the value for `der(x)`.

By the way, this is the output from OMSimulator right? Do we know that this is correct? Do we have a specification on what we need to produce?

[2022-01-21 09:09] arun3688 commented on #8440
Yes the results are from OMSimulator, Andreas can test the same with fmus generated from Dymola and we can verify the results

You can look into the fmi specification` chapter 2.1.9 `or `page 27`
[FMI-Specification-2.0.3.pdf](https://github.com/OpenModelica/OpenModelica/files/7911860/FMI-Specification-2.0.3.pdf)

[2022-01-21 10:12] casella commented on #8373
@max-privato, I tried BugGround.GroundDC from your original package with the latest nightly, this is the result:

![immagine](https://user-images.githubusercontent.com/4233148/150495924-e6e19254-b63b-4b93-8781-22b8ea47c75f.png)

Looks pretty much like Dymola. I guess you are using a version of OMC that still does not include that update.

[2022-01-21 11:09] AnHeuermann opened #8443 "apt-key deprecated"
### Description

`apt-key` is deprecated and will be removed. We are using `apt-key` in the Linux install process, see https://openmodelica.org/download/download-linux.

See https://www.linuxuprising.com/2021/01/apt-key-is-deprecated-how-to-add.html for a description on why `apt-key` is deprecated and what is now recommended to use.

From the [OpenModelica forum](https://openmodelica.org/forum/def

[2022-01-21 12:41] perost commented on #8428
Since it seems pretty certain that this is meant to be allowed I've changed the NF to allow it in #8444.

[2022-01-21 12:41] pierre-haessig opened #8445 ""Setup of Modelica Standard Library version" dialog needs updated text"
In a fresh install of OpenModelica 1.18.1, the first launch of OMEdit shows a dialog to setup the version of Modelica Standard Library to be loaded at startup (MSL v3.2.3, or v4.0.0, or none).

I believe the text inside the dialog was composed fro OM 1.17, so it needs an update for OM 1.18 and onwards. In particular:

I just saw that a MSL conversion script is heavily discussed in #7683. Is that t

[2022-01-21 12:48] AnHeuermann commented on #8440
Dymola FMU for `A` and simulated with FMPy:

[code]

[2022-01-21 12:55] Matthias776 opened #8446 "Usage of FMUs that contain MultiBody components fail"
When importing FMUs that contain MultiBody Library components scripting failures are raised.

The model (ControlledDrivetrain.mo) from which the FMUs come from is divided into three parts of which one of it (Drivetrain.mo) contain components of the MultiBody Library.
The separated parts are exported into FMUs where already an error is raised for the part Drivetrain.mo.

[code]

To validate the fun

[2022-01-21 13:00] lochel commented on #8440
I gues there should be one more unknown for the initialization system, right?
And is this the sum of the jacobian rows?

[2022-01-21 13:06] arun3688 commented on #8440
Yes this is the sum of the jacobian rows, I will update the script to get all the column values

[2022-01-21 13:23] mahge commented on #8418
@casella How did you verify that the .mat file is correct? I think the problem is somewhere in the writer or reader. I am not sure which yet but I suspect it is the writer.

I can see that most of the array members are marked as `parameter` and the others are not when the .mat file is read.  The ones that are not marked as parameter are the ones with the wrong value.

Either way this is not @adeas

[2022-01-21 14:03] kabdelhak commented on #8440
Maybe what i thought is right. This looks like the initial values were just plugged into the equations, seems like we skip the computation of der(x) wheras dymola does it.

[2022-01-21 14:42] phannebohm commented on #8373
Note the unit (pA) perhaps :slightly_smiling_face:

[2022-01-21 15:04] Amuri44 opened #8448 "Can I load Modelica of version 3.2.3. from the installed OpenModelica-v1.18.0-64bit?"
I have installed OpenModelica-v1.18.0-64bit. I tried to load a package from my colleague, then the below warnings appeared

[code]
It seems that the package `RR` was built based on package Modelica of version 3.2.3, however, the package Modelica that I have is of version 4.0.0. So, can I load Modelica of version 3.2.3. instead of Modelica 4.0.0 from my installed OpenModelica-v1.18.0-64bit?

[2022-01-21 15:07] sjoelund commented on #8448
Yes, it should be loaded automatically unless you selected to load MSL 4.0.0 when starting for example OMEdit. Tools -> Options -> Libraries. Change Modelica from `default` or `4.0.0` to `3.2.3`

[2022-01-21 15:18] AnHeuermann opened #8449 "Undefined references in Windows CVODE FMU export"
### Description

The FMU export is broken on Windows when trying to use the CVODE solver.

### Steps to Reproduce

Run the following script with `omc`
[code]

Output:
[code]

Here is the complete log:
[build.log](https://github.com/OpenModelica/OpenModelica/files/7914707/build.log)

### Expected Behavior

Link CVODE into the FMU.

### Version and OS

 - OpenModelica Version: v1.19.0-dev-541-gebaac

[2022-01-21 15:20] AnHeuermann commented on #8449
@mahge I need CVODE FMUs for the FMI tutorial at the upcoming MODPROD workshop (1st February).
Do you think we can fix this on Monday?

Otherwise I will just use v1.18 for that tutorial and we'll fix it before the 1.19 release.

[2022-01-21 15:33] max-privato commented on #8373
Bleah, my fault!

Now the outcome of this ticket is very, VERY good.

Thanks again, everybody.

[2022-01-21 15:36] mahge commented on #8449
A blind guess is that it is missing `-DDLINK_SUNDIALS_STATIC` when compiling the source files. I will take a look.

[2022-01-21 16:17] casella commented on #8373
@max-privato, you [asked for this feature](https://trac.openmodelica.org/OpenModelica/ticket/5447) yourself 😄

[2022-01-21 16:22] casella commented on #8448
Both 3.2.3 and 4.0.0 are **installed**. When you open a package that uses one of them and declares it with a uses annotation, then OMEdit loads the right one.

The problem is that OMEdit can also automatically **load** and display a certain version of the Modelica Standard Library by default when you start it. If you load 4.0.0 by default, currently it cannot unload it and load 3.2.3, so you get s

[2022-01-21 16:47] casella commented on #8418
I used Dymola's Matlab functions, renaming the .mat file first to res.mat to avoid problems with the long filename
[code]
hence the array elements are stored contiguously in the result matrix, starting from column 3693. If I then type the first 11 of them at time 0 (first row of the s matrix), I get
[code]
You can actually skip the Dymola functions entirely
[code]

I'm not sure where you see this

[2022-01-21 16:48] arun3688 commented on #8440
@lochel here is the result of all individual column values of the jacobian, from `FMPY`

[code]

[2022-01-21 16:50] casella commented on #8446
This is not an error but only a warning - this will go away when #5813 is fixed.

[2022-01-21 16:53] casella commented on #8446
Importing FMUs into Modelica models has issues. I would suggest you to try out the FMU connection using [OMSimulator](https://openmodelica.org/doc/OpenModelicaUsersGuide/latest/omsimulator.html).

[2022-01-21 16:57] casella commented on #8445
You are right, but it turned out conversion scripts were not available in 1.18.x either. They will be available in 1.19.0. I guess now it's too late to fix that, since most people have installed 1.18.x already, and 1.19.0 should be released in about one month.

Yes.

[2022-01-21 17:02] pierre-haessig commented on #8445
OK, that's what I suspected.

I agree, no need to make an "emergency" 1.18.2 release just for that ;-)

So once the dialog text is updated in the development branch, I guess this issue can be closed (no need to wait for the 1.19 release).

[2022-01-21 17:32] casella commented on #8445
Yes, I think the whole dialog will be updated and simplified, we'll take care of that in the next one-two weeks.

[2022-01-21 17:50] mahge commented on #8418
Where do you see that?

I was debugging through our code and looking how we read it. As it turns out there are duplicate entries for these variables (e.g. `SwitchValve33_Easy1.flowTableAT[1,1]` appears twice). Can you check entries staring from index 247 ( or248?)

We are investigating with @lochel. We checked the results with MatLab and it seems they indeed contain duplicate entries. This is inte

[2022-01-21 17:58] mahge commented on #8418
[code]

[2022-01-21 21:39] mahge commented on #8449
I am guessing from the heart you already tried and and worked 😊. If not it should be fixed by #8450. I tried it and it worked on my machine.

[2022-01-21 21:59] #8449 closed

[2022-01-21 23:01] casella commented on #8418
I searched the entire `n` array for `SwitchValve33_Easy1.flowTableAT[1,1]` string but only found it at index 3693.

[code]

Yes.
[code]

Again, not sure where did you get `SwitchValve33_Easy1.flowTableAT[1,1]` in position 247. As I see it, there are no duplicate entries in the attached result file.

BTW, I don't understand how the variables are ordered in the .mat file. The first 11096 variable na

[2022-01-22 05:51] lochel commented on #8418
I am not sure how you investigate the mat file, but maybe the api you are using isn't working as low-level as you expect. I opened the mat file and searched the `name` array for the same variable `SwitchValve33_Easy1.flowTableAT[1,1]`:

[code]

It is listed twice: index 248 and 4691.
[code]

[2022-01-22 08:10] Matthias776 commented on #8446
Since Model SSP creation in OMEditor is a GUI of OMSimulator, I it doesn't make any difference.
Even FMPy has issues to import and simulate the FMU as reported in #360
(https://github.com/CATIA-Systems/FMPy/issues/360)

That's why I think that it really has to deal with to MultiBody Library.

[2022-01-22 08:42] lochel commented on #8418
There is some sorting, but it gets disturbed, e.g., by der variables. Besides that, these are the chunks in the `name` matrix of the mat file:
* first variable is time which is stored in data_1(1) for startTime/stopTime and data_2(1) for the steps
* next 998 variables are the signal series which are stored in data_2(2:999)
* next 12045 variables are the constant ones stored in data_1(2:12046)
* ne

[2022-01-22 10:57] casella commented on #8446
@lochel, @arun3688, would you mind having a look?

[2022-01-22 12:28] arun3688 commented on #8440
@lochel After doing `setReal` on the `inputs` during `enter_initialization_mode`, we get correct results for all the values of `initialization` and `simulation` **jacobian** matrix, see the results below

[code]

[2022-01-23 20:40] mahge commented on #8418
@casella You might be using the _valid_ mat file again or basing the statement on what you saw earlier.

I just downloaded Dymola and tested this. It gives me zero for all entries of `SwitchValve33_Easy1.flowTableAT`.
_Simulation_ -> _Load Result_ and then plot them. So it is not the reader we use that is the problem it is how it is written or what the writer is given.

[2022-01-23 23:43] casella commented on #8418
@mahge of course you're right. We should figure out why flowTableAT is also (wrongly) part of the time varying output, and fix that.

[2022-01-24 09:31] AnHeuermann commented on #8449
Works for me as well 👍

[2022-01-24 10:52] adeas31 commented on #8244
Would be good to be able to open a model via paste of the path in OMEdit library browser somehow.

This is kind of possible. Paste the path in `Filter Classes` textbox in the `Libraries Browser` and then open the model. The only annoying part here is that we don't expand to the filtered path and that is intentional due to slow responsiveness.

You can do this from the model switcher button in the

[2022-01-24 14:33] casella commented on #8449
Thank you folks, one less to go for the 1.19 release!

[2022-01-24 15:25] casella commented on #5217
The issue is very clearly visible in the [verification plot](https://libraries.openmodelica.org/branches/newInst-daeMode/ScalableTestSuite_noopt/files/ScalableTestSuite_noopt_ScalableTestSuite.Thermal.Advection.ScaledExperiments.SimpleAdvection_N_200.diff.der(Ttilde[1]).html) of der(Ttilde[1]) of ScalableTestSuite.Thermal.Advection.ScaledExperiments.SimpleAdvection_N_200.

The saved results are no

[2022-01-24 15:27] casella commented on #4034
Original trac ticket: https://trac.openmodelica.org/OpenModelica/ticket/4034

[2022-01-24 16:59] casella commented on #4034
As of Jan 2022, there is no longer any noticeable difference between the simulation time in [odeMode](https://libraries.openmodelica.org/branches/master/ScalableTestSuite_noopt/ScalableTestSuite_noopt.html) and [daeMode](https://libraries.openmodelica.org/branches/newInst-daeMode/ScalableTestSuite_noopt/ScalableTestSuite_noopt.html) of the BreakerNetwork and BreakerNetworkDelayed. In both cases, s

[2022-01-24 17:18] casella commented on #4034
I checked the odeMode model `BreakerNetwork_N_640_M_10` with the debugger, there is only one implicit linear system with 1922 equations, which is caught by the automatic sparse solver selection logic and solved with KLU. The performance in daeMode seems pretty similar, so it seems that the issue has been solved

[2022-01-24 17:18] #4034 closed

[2022-01-24 17:30] casella commented on #4851
Original ticket https://trac.openmodelica.org/OpenModelica/ticket/4851

[2022-01-24 17:30] AnHeuermann opened #8452 "Source-Code FMU missing CMINPACK"
### Description

I have a Modelica model that I build a FMU from , then unzip, configure and re-build the FMU. When I try to simulate the resulting FMU with OMSimulator I get `undefined symbol: hybrj_`.

### Steps to Reproduce

Modelica model
[code]

mos-script
[code]

and then run the following to re-compile the FMU
[code]

### Expected Behavior

The hybrid solver is the default for non-linear lo

[2022-01-24 17:34] casella commented on #4851
The file `modelName_16dae.c` should be split into `modelName_16dae_part0.c`,`modelName_16dae_part1.c`, etc. if the size goes above a certain threshold, same way as `modelName_06inz.c`, so that large models can benefit of multi-CPU machines to shorten the code generation time.

[2022-01-24 17:44] casella commented on #5843
Original ticket: https://trac.openmodelica.org/OpenModelica/ticket/5843.

daeMode integration, in which an implicit BDF solver is used to solve the differential equations as well as the coupled linear and nonlinear equations in the system (strong components), was introduced in OMC in 2015. It is essential for the efficient simulation of a class of models for which the DAE formulation is sparse, wh

[2022-01-24 17:51] casella commented on #6240
See full proposal [here](https://trac.openmodelica.org/OpenModelica/ticket/6240#comment:2).

I re-attach the code of the example here:

[DynamicOverconstrainedConnectors2.mo.txt](https://github.com/OpenModelica/OpenModelica/files/7927715/DynamicOverconstrainedConnectors2.mo.txt)

[2022-01-24 22:05] #8448 closed

[2022-01-24 23:27] casella opened #8453 "Add reference results to Buildings library testing"
Reference results for the latest version of Buildings are available here: https://simulationresearch.lbl.gov/jmodelica/modelica-buildings/Dymola/

@sjoelund, @adrpo, is the file format ok? Can you add them to the CI tests?

[2022-01-25 00:15] casella opened #8454 "The NF cannot evaluate a parameter due to a (supposed?) cyclic dependency"
@mwetter reports that model [Buildings.Experimental.DHC.Examples.Combined.ParallelConstantFlow](https://libraries.openmodelica.org/branches/master/Buildings_latest/files/Buildings_latest_Buildings.Experimental.DHC.Examples.Combined.ParallelConstantFlow.err) fails during flattening with this error:
[code]
@perost, is this cyclic dependency real?

[2022-01-25 00:19] casella opened #8455 "Issue with constant evaluation in Buildings library"
@mwetter reports that the model [Buildings.Experimental.DHC.Loads.BaseClasses.Examples.CouplingRCZ6](https://libraries.openmodelica.org/branches/master/Buildings_latest/files/Buildings_latest_Buildings.Experimental.DHC.Loads.BaseClasses.Examples.CouplingRCZ6.err) fails with
[code]
@perost, can you please check?

[2022-01-25 00:23] casella opened #8456 "Issue with NFCeval.evalBuiltinSum"
Please check [Buildings.Experimental.DHC.Loads.BaseClasses.Validation.BenchmarkFlowDistribution2](https://libraries.openmodelica.org/branches/master/Buildings_latest/files/Buildings_latest_Buildings.Experimental.DHC.Loads.BaseClasses.Validation.BenchmarkFlowDistribution2.err).

The following error is issued:
[code]

[2022-01-25 10:37] AnHeuermann opened #8458 "Documentation for source-code FMUs"
### Description

With OpenModelica it is possible to generate and use source-code FMUs, at least in theory. But it is terrible complicated and I can't find any documentation on it in the user's guide.

Of course this is a difficult topic, but we could at least show how it works for a linux64 FMU that is "re-compiled" on the same system that has no omc.
And clarify what you can do with these FMUs a

[2022-01-25 10:48] sjoelund commented on #8458
The problem with source-code FMUs is that OMSimulator doesn't do it and OM itself doesn't read the XML-structure to compile the correct files. There are third-party tools that have used this method...

[2022-01-25 10:55] AnHeuermann opened #8459 "ClaRa non-linear system Jacobian singular at initialization"
### Description

Some models in ClaRa_dev that are now passing Frontend and Backend are failing at simulation time, see https://libraries.openmodelica.org/branches/master/ClaRa_dev/ClaRa_dev.html.

Some of these failing models:

- ClaRa.Basics.ControlVolumes.FluidVolumes.Check.Validation_VolumeVLE_L2_HeatTransfer_1ph_shell
- ClaRa.Basics.ControlVolumes.FluidVolumes.Check.Validation_VolumeVLE_L2_He

[2022-01-25 11:05] AnHeuermann opened #8460 "ClaRa assertions triggered"
### Description

For some models of the ClaRa_dev assertions are triggered and the simulation stops. Since Dymola can simulate ClaRa these models  (not sure about the ClaRa_dev version) we should check what the cause is. For some models these asserts are only warnings, for others the simulation with stop with an error.

See https://libraries.openmodelica.org/branches/master/ClaRa_dev/ClaRa_dev.htm

[2022-01-25 11:12] AnHeuermann commented on #8458
But we could still provide a documentation on how to do it by hand. Or make sure that tools that can do this work with our source-code FMUs (I think FMPy has this feature, but doesn't work out of the box.).

If you do it yourself I hope it isn't that much more then running `configure` in the source folder with the correct variables, maybe linking to 3rdParty solvers (CMINPACK, KINSOL, CVODE) insta

[2022-01-25 11:20] AnHeuermann opened #8461 "ClaRa chattering"
### Description

There is event chattering in `ClaRa.Components.Electrical.Check.TestAsynchronousMotorWithPump`, see the [simulation log](https://libraries.openmodelica.org/branches/master/ClaRa_dev/files/ClaRa_dev_ClaRa.Components.Electrical.Check.TestAsynchronousMotorWithPump.sim).

Since Dymola can simulate these models we should investigate what's the issue.

### Steps to Reproduce

Run `ClaRa

[2022-01-25 11:31] AnHeuermann opened #8462 "ClaRa over-determined system // record equation"
### Description

For the dev version of ClaRa for model `ClaRa.Basics.ControlVolumes.GasVolumes.Check.TestFlueGasCell_N_cv` the following error is reported from the Backend:

[code]

It seems that `flueGasCell.fluidInlet.gasPointer` needs to be "un-boxed" or something like that. In that case the Frontend needs to do this?
Or could be an entirely different issue in the Backend, since only one equat

[2022-01-25 11:38] AnHeuermann opened #8463 "ClaRa Code generation to many arguments to function call"
### Description

For the developer version of ClaRa the model `ClaRa.Components.Furnace.Check.Test_CombustionChamber` fails during code compilation because a function call has not the correct number of arguments, see the [log file](https://libraries.openmodelica.org/branches/master/ClaRa_dev/files/ClaRa_dev_ClaRa.Components.Furnace.Check.Test_CombustionChamber.err).

### Steps to Reproduce

Simula

[2022-01-25 11:48] AnHeuermann opened #8464 "ClaRa Type missmatch in function argument"
### Description

For the developer version of ClaRa the model `ClaRa.Components.Mills.HardCoalMills.Check.combineMillandFurnace` is failing during type checking in the frontend. Here is the [log file](https://libraries.openmodelica.org/branches/master/ClaRa_dev/files/ClaRa_dev_ClaRa.Components.Mills.HardCoalMills.Check.combineMillandFurnace.err).

Same issue for

- ClaRa.Components.Mills.PhysicalM

[2022-01-25 11:58] AnHeuermann opened #8465 "ClaRa Variable not found in scope"
### Description

For the developer version of ClaRa a variable is not found in scope for model `ClaRa.Components.TurboMachines.Compressors.Check.Test_CompressorVLE_L1_stageStacked`, see the [log file](https://libraries.openmodelica.org/branches/master/ClaRa_dev/files/ClaRa_dev_ClaRa.Components.TurboMachines.Compressors.Check.Test_CompressorVLE_L1_stageStacked.err).

### Steps to Reproduce

Simulat

[2022-01-25 12:02] perost commented on #8464
The issue is that `BaseFuel` contains arrays with a fixed sizes, while `Fuel_refvalues_v1` extends from `BaseFuel` and changes some of those sizes. So basically:
[code]
I'm not sure if that's legal, since the function is expecting a record with arrays of a certain size but is given a record with arrays of a different size. The [specification](https://specification.modelica.org/master/functions.htm

[2022-01-25 12:08] perost commented on #8465
That's because `inlet` doesn't actually exist in that model. `inlet.m_flow` is used in a modifier of `summary` which itself contains a `inlet` component, so I assume it's supposed to be `summary.inlet.m_flow` instead of just `inlet.m_flow`.

[2022-01-25 12:13] AnHeuermann opened #8466 "ClaRa: DASKR error at simulation"
### Description

For the developer version of ClaRa some models are failing at simulation time with an error reported by DASKR. It seems the internal non-linear solver is failing.

Check [the reports](https://libraries.openmodelica.org/branches/master/ClaRa_dev/ClaRa_dev.html) for

- ClaRa.Components.TurboMachines.Pumps.Check.TestPump_L1_OffDesign
- ClaRa.Components.TurboMachines.Pumps.Check.TestP

[2022-01-25 12:15] AnHeuermann commented on #8465
Okay, I'll create an issue on the GitLab.

[2022-01-25 12:51] #8316 closed

[2022-01-25 13:45] AlesVojacek commented on #8465
That should be solved now (inlet.m_flow->fluid_inlet.m_flow).

[2022-01-25 13:46] #8465 closed

[2022-01-25 14:57] AlesVojacek commented on #8459
- Dymola for this example (ClaRa.Basics.ControlVolumes.FluidVolumes.Check.Validation_VolumeVLE_L2_HeatTransfer_1ph_shell) creates only 1 non-linear system (iteration variable: Volume.h) at initialization. OpenModelica creates non-linear system at initialization of size 11. (Iteration variable: volume.h, volume.p, volume.bulk.cp, volume.bulk.cv, volume.bulk.beta, volume.bulk.kappa, etc.), but the c

[2022-01-25 15:24] AlesVojacek opened #8469 "ClaRa fails to pass properly array pointers (ExternalObject) via inner/outer record"
### Description

For the developer version of ClaRa some models are failing to pass properly array pointers (ExternalObject), e.g. {tube.fluidInlet.vleFluidPointer} via inner/outer record (e.g. tube.iCom).
Error:  tube.iCom.fluidPointer_in = {tube.fluidInlet.vleFluidPointer} has size 1 but 0 variables ()

Check [reports](https://libraries.openmodelica.org/branches/master/ClaRa_dev/ClaRa_dev.html)

[2022-01-25 15:40] AnHeuermann commented on #8452
Okay, I have a solution and will create a PR.

Question is if we want to always add the CMinpack sources to FMUs (if there are non-linear loops) or only if the user requests it.
But since this is the default it makes sense to also add the sources by default.

[2022-01-25 15:50] perost commented on #8469
Minimal example:
[code]
Not sure who might want to have a look at this, @AnHeuermann @kabdelhak ?

[2022-01-25 16:27] lochel commented on #8452
I think we should always include it. Otherwise, what is the point of the source code FMU's?

[2022-01-25 16:27] AnHeuermann commented on #8462
I think this problem and the one reported in https://github.com/OpenModelica/OpenModelica/issues/8469 are basically the same, but the later one has a nice MWE.
So I'm closing this one.

[2022-01-25 16:27] #8462 closed

[2022-01-25 17:13] pierre-haessig opened #8470 "OpenModelica build not available for Ubuntu 21.10 (Impish Indri)"
This issue is a follow-up of the forum post [OpenModelica install on Ubuntu 21.10](https://openmodelica.org/forum/default-topic/3402-openmodelica-install-on-ubuntu-21-10)

There is not yet (as of OM 1.18.1 release) an OpenModelica build available for Ubuntu 21.10 (Impish Indri). The most recent Ubuntu build target is 21.04 (hirsute). As said on the forum, the 21.04 build works quite well on 21.10,

[2022-01-25 17:21] casella commented on #8459
I haven't looked into this in detail, but from the outside it looks like there is some issue with dependency analysis when fluid property records are involved. It seems that the backend thinks there are some dependencies (hence the large non-linear system), but at the end of the day at least some of them are not real, hence some rows of the Jacobian turn out to be zero at runtime, causing the solv

[2022-01-25 17:25] casella commented on #8452
I agree that there is no point in expecting the user to request adding required dependencies to source-code FMUs.

However, ideally we should add them only if there are actual non-linear loops in the generated FMU, otherwise they're just dead weigth. I am not sure if this is technically feasible without too much effort.

[2022-01-25 17:27] casella commented on #8443
@pierre-haessig reports that eliminating this dependency will be mandatory before at least Ubuntu 22.10.

[2022-01-25 17:29] AnHeuermann commented on #8452
Already done that way.

[2022-01-25 17:29] casella commented on #8470
@sjoelund can you please check and update the download-linux page? Thanks!

[2022-01-26 08:46] pierre-haessig commented on #8443
I would rather say that "apt-key will be available in Ubuntu until at least 22.04. It *may* be removed in 22.10 since the its man page says it *will*)". This becomes some kind of propositional logic game!

Following the same logic, apt-key may be removed from Debian testing (future 12 "bookworm") at any time, since Debian 11 "bullseye" was released.

Source: [man apt-key from Ubuntu 21.10](https:/

[2022-01-26 10:09] kabdelhak commented on #8469
I looked a bit into it and it seems that `e1` as well as `e2` are filtered out during the lowering to backend and are not considered unknowns. What is supposed to happen here actually? I don't really understand. If both are unknown, we have 1 equation and 2 unknowns.

[2022-01-26 10:10] kabdelhak commented on #8469
I also think that the message from the minimal system is not the same as the one from the original system.

[2022-01-26 10:21] perost commented on #8469
I get:
[code]
which is the same as the reported error. Do you get something else?

Anyway, I don't know what's supposed to happen either. The specification says that an `ExternalObject` can be bound in a component declaration but doesn't say what the implications of that are.

[2022-01-26 10:34] kabdelhak commented on #8469
Oh yes i was a little confused about the
[code]

[2022-01-26 10:36] kabdelhak commented on #8469
Hmm okay. @AlesVojacek is the minimal model properly representing your problem and could you explain what is expected to happen? From what i can see there are 2 unknowns and 1 equation. Does `e1` get assigned implicitly somehow?

[2022-01-26 10:47] perost commented on #8469
My small example may very well be unbalanced, I was mostly just aiming to demonstrate the `has size 1 but 0 variables` error and I don't really know how you'd make such a model balanced. Dymola says there are 1 equation and 2 variables, so maybe `ExternalObject` variables are supposed to be counted as unknowns.

[2022-01-26 10:48] sjoelund commented on #8469
`e1` in that example needs to be bound to a constructor call indeed.

[2022-01-26 10:57] kabdelhak commented on #8469
I think this properly represents the problem:

[code]

[2022-01-26 11:37] AlesVojacek commented on #8469
I think this represents it.

[2022-01-26 12:01] kabdelhak commented on #8469
I created a PR #8472 where the minimal model passes backend and now (as expected) fails during runtime because i just made up the external functions and they do not really exist. I do get the warning:
[code]
I think this is expected but i cannot tell if it is parsed correctly anyway. It might be that this passing of a pointer is not happening.

[2022-01-26 12:08] perost commented on #8469
As I mentioned the specification says that external objects can be bound in a component declaration, so it should be allowed. It might be that this was added to the specification later and our warning predates it, or it might be because we move the binding to an equation in the frontend and the backend thinks it's just a normal equation.

[2022-01-26 12:10] kabdelhak commented on #8469
Yes thats exactly it. It is handled as any other equation, is there maybe something in the EquationAttributes that indicates it stems from component declaration?

[2022-01-26 12:19] casella commented on #8443
Besides the philosophical digressions, I understand we have time until at least October 2022 to take care of this, right?

[2022-01-26 12:19] perost commented on #8469
Equations have a `DAE.ElementSource` which contains a lot of information (most of which the NF doesn't bother filling in since the backend doesn't seem to use it), but nothing to indicate the actual source of an equation. But we could add a field to it to indicate that if you need it.

[2022-01-26 12:51] pierre-haessig commented on #8443
At least October 2022, yes. Sorry for digressing ;-)

[2022-01-26 12:54] durapensa commented on #8470
Could this issue perhaps be expanded to encompass a general review of deb dependency strictness?

E.g., attempting to `sudo apt-get install omedit` on a `bullseye`-derived system (MX Linux 21 + AHS adavanced hardware support, with `deb http://build.openmodelica.org/apt bullseye release` in `/etc/apt/sources.list.d/openmodelica.list`) fails with the dependency error `libopengl0 : Depends: libglvnd0

[2022-01-26 12:56] kabdelhak commented on #8469
My PR passes and i further tested it to see if it works as expected. I expanded the MWE to the following:
[code]

Just to see if the alias equation gets handled properly. And it does, the backend shows that the equation
[code]
gets replaced by
[code]
and `e2[1]` is removed entirely. There are only two things i see left to do here:
 1. Suppress the warning since it is not actually true
 2. Check if

[2022-01-26 13:02] vince-ice commented on #8379
Hello @mahge, sorry for my late reply.
What I'm trying to do is creating an ebuild recipe to build Open Modelica (tag `v1.18.0`) on a Gentoo system (see [OMForum](https://openmodelica.org/forum/default-topic/1583-looking-for-collaborators-for-an-openmodelica-ebuild), [OMTrac](https://trac.openmodelica.org/OpenModelica/attachment/ticket/1035/OpenModelica-9999.ebuild), and [GentooForum](https://foru

[2022-01-26 13:07] sjoelund commented on #8470
The dependencies on binaries are automatically generated and not chosen by us.

[2022-01-26 13:24] perost commented on #8469
I updated `checkModel` in both the OF and the NF (which isn't used yet, but might as well fix it for when it will be) in #8473, by defining the size of `ExternalObject` to be 0. This was already the case in the NF and should've been the case in the OF too, but the OF miscounted empty classes as having size 1 due to a bug. The NF also didn't consider tuple types and miscounted due to that.

With th

[2022-01-26 14:02] mahge commented on #8379
Not at all. I see what you mean now. The build works fine with `lib64` specified but installation is unusable because `../lib` is hardcoded as `rpath` for binaries. There is nothing installed at `lib` now because the installation was correctly done to `lib64`. Is this correct?

Does everything work if you change just the rpaths in the compiled/installed binaries? Maybe just before install somethin

[2022-01-26 14:55] kabdelhak commented on #8469
I think that is the better solution for now. My approach tries to remove it using something like alias elimination and i don't know if everything is done properly.

[2022-01-26 15:00] perost commented on #8469
I was going to say that my changes only affected `checkModel` and not simulation, but then realised that the `Test_Pipe_L4_Simple` model actually passes the backend now. I guess the backend uses the same type size function from the old frontend that I changed. That wasn't my intention, but maybe it's for the best anyway since it seems to actually work?

[2022-01-26 17:17] casella commented on #8466
If the causalized ODEs fulfill Cauchy's sufficient conditions for local solvability, DASSL should be able to go on with the simulation, by taking small enough steps to keep the error estimation below the threshold. For some reason this does not happen here. There are two possible root causes: one is that the causalized ODEs are numerically ill-posed, so there are large rounding errors that prevent

[2022-01-26 17:20] casella commented on #8461
From the error message, I understand the event is caused by `pump.rpm*pump.Delta_p` changing sign a lot of times around `time = 98.284`. What is the behaviour of those variables in the successful Dymola simulation around that time point?