[2022-10-25 08:52] sjoelund commented on #9583
I guess we need more error-messages to find out why. It's a very big difference in time to download for me. 4 minutes, 3 seconds, 16 seconds, etc. Might be an issue with the networking stack for virtualbox or just the added time that is the problem there. I tried on my home network (native Ubuntu 22.04) and from LiU (WSL2 Ubuntu 22.04).

[2022-10-25 08:55] sjoelund commented on #9583
It's not a big piece of code to debug, but if I cannot reproduce it, I guess I can't do it...
https://github.com/OpenModelica/OpenModelica/blob/master/OMCompiler/Compiler/runtime/om_curl.c

[2022-10-25 08:59] perost commented on #9583
For me it's consistently 4-5 seconds to download and install MSL 4.0.0 via the package manager (deleting the whole .openmodelica folder between tries).

[2022-10-25 09:21] casella commented on #9583
In any case, the MSL is arguably the largest (or among the largest) libraries around, which can take longer time to download from github (which I also experienced to be somewhat slower recently).

Allow me to recall our priorities. We should first fix the Linux installation so it does not require to download such large files from the network in the first place, and so that we can finally proceed w

[2022-10-25 10:09] AnHeuermann commented on #9249
@HSchatzTLK and myself did a debug session to identify the issue. We were able to reproduce the segmentation fault on a Windows machine, but it only fails from time to time indicating an issue with memory access or uninitialized memory.

Here is the output from Valgrind on Linux: [Valgrind.log](https://github.com/OpenModelica/OpenModelica/files/9859281/Valgrind.log)

My best guess so far: That the

[2022-10-25 10:22] sjoelund commented on #9595
Yes. There are even conflicts marked on the old packages so if you find them you can't install them.

These are still available at https://build.openmodelica.org/omc/builds/linux/releases/ including libraries

There's clearly a bug here though. Someone who can trigger it should try to fix it at least so we get an error-message that it didn't work. Because otherwise we make it harder to trigger it

[2022-10-25 13:31] casella commented on #9595
@sjoelund I agree with you in principle. Unfortunately I'm afraid that the set of persons that can trigger this issue and fix it is pretty much empty. In which case we'd be stalling the release of 1.20.0 indefinitely. This clearly doesn't work.

In any case, it is easy to reproduce the issue even after we add the cached libraries, one just needs to remove them manually from the installation direct

[2022-10-25 14:13] perost commented on #9583
#9597 should hopefully fix the issue.

It turns out that we added the same URL multiple times to the list of files to download, because one zip-file can contain multiple libraries. So we'd try to download e.g. Modelica and its dependencies ModelicaServices  and Complex, and all of them are from the same zip-file.

Making sure that the list of downloads only contains unique entries seems to fix the

[2022-10-26 09:21] perost commented on #9583
Just a heads up that the [Linux builds](https://test.openmodelica.org/jenkins/job/LINUX_BUILDS/) seems to broken for the moment, so it might take a while before the fix is available in the nightly builds.

[2022-10-26 10:50] #9557 closed

[2022-10-26 10:54] adeas31 commented on #9552
@perost #9586 solved the issue of display of ports in the component. But the instance api fails when called on the ports directly.

[code]

[code]

[2022-10-26 11:58] ceraolo commented on #5345
I've checked today on  v1.20.0-dev-394 and found that you've done a great job!

I've made a few tests, with the following procedure:
1. consider a model containing a casual subsystem and run it
2. create a FMU from the casual system
3. import the FMU, insert it into a copy of the original model, and simulate again
4. check the compliance of the results with those obtained in step 1.
5. change para

[2022-10-26 12:36] adeas31 commented on #5345
What about adding this flag to the list? This would ease operations when starting a new session.

Its part of `Save translation flags inside model i.e., __OpenModelica_commandLineOptions annotation` and not `Save experiment annotation inside model`.

[2022-10-26 12:37] casella opened #9598 "Do not check $cse variables for event iteration"
We are currently trying to solve a problem on an application in thermo-fluid systems that eventually fails because of a bogus terminal event iteration. The details of that are inessential, so they are not reported here. The bottom line is that the simulation fails because of a bogus non-converging terminal event iteration that is triggered by some $cse discrete variables that keep changing at each

[2022-10-26 12:38] casella commented on #9598
@AnHeuermann, @phannebohm if this is a quick fix it would be nice to have it soon, otherwise let's discuss what is needed to get that.

[2022-10-26 12:39] casella commented on #9598
Keeping @AndreaBartolini and @pepmts in the loop.

[2022-10-26 12:52] perost commented on #9531
Fixed in #9599, now we just skip dumping generated inner components. That might cause other issues since the model instance now contain references to things that no longer exist in the JSON, so it could be that we still need to dump it but maybe avoid drawing it instead. But it's trivial to toggle it on or off, so I guess we'll see.

[2022-10-26 13:37] ceraolo commented on #5345
aha, my fault, thanks.

[2022-10-26 14:52] AnHeuermann commented on #9598
We are not differentiating between CSE and non-CSE variables inside the C runtime.
So in function `checkForDiscreteChanges` there is no way to tell if `data->localData[0]->integerVars[i]` is a CSE variable or not.

To solve this one would need to save the information which variables are CSV variables and use it in `checkForDiscreteChanges`.
But I don't see an quick way to do that.

[2022-10-26 23:46] casella commented on #5345
@ceraolo I improved the error message as you suggested in #9602.

[2022-10-26 23:49] casella commented on #9598
@AnHeuermann I'm not into the details of the data structure, but looking at runtime error logs (e.g. `LOG_NLS_V`) it is clear to me that the runtime has access to the variable _names_. You can just tell whether or not a discrete variable is a CSE by checking if its name starts with `$cse`.

Do I miss something?

[2022-10-27 05:32] ceraolo commented on #5345
I checked again. I also saved the option `--allowNonStandardModelica=reinitInAlgorithms` on the model successfully through OMEdit GUI.
Everthing looks great!

[2022-10-27 06:53] casella opened #9603 "Implement Bachmann-Casella Newton convergence diagnostic method"
A recent paper by @bernhardbachmann and @casella ([DOI:10.1016/j.amc.2021.125991](https://doi.org/10.1016/j.amc.2021.125991), [DOI:10.48550/arXiv.1911.12433](https://doi.org/10.48550/arXiv.1911.12433)) proposes a diagnostic method to figure out which individual initial guess values are more likely to be causing the convergence failure of Newton-type iterative nonlinear solvers.

The method assigns

[2022-10-27 07:41] TeusvanderStelt commented on #9603
To be finished:
- the step that automatically selects the non-linear equations and the non-linear dependences, i.e. according the paper: split into two sub-vectors w ∈ R q and z ∈ R m −q.
- testing the above

[2022-10-27 08:39] AnHeuermann commented on #9598
Yes, but parsing names every time an integrator step is done would be extremely slow. So we want to do it only once.
But it is still not quick to parse the list of variable names and search for a string in it. Generating an array of CSV variable indices during Code generation should be the most performant way, but I'm not sure if we have a list of CSV variables during SimCode with the matching run

[2022-10-27 09:12] AnHeuermann opened #9604 "DataReconciliation leaking memory"
### Description

While search for a segmentation fault I found some lost blocks of memory in data reconciliation reported by Valgrind.

[Valgrind.log](https://github.com/OpenModelica/OpenModelica/files/9877845/Valgrind.log)

Losses are reported in `initAnalyticJacobian`, `allocSparsePattern`, `copyMatrix`, `getTransposeMatrix`, `getJacobianMatrixF`, `solveReconciledSx`, `calculateQualityValue`, `s

[2022-10-27 13:42] perost commented on #9119
#9608 now implements a new obfuscation method that obfuscates the flat model after the instantiation instead. `--obfuscate=protected` will obfuscate all protected variables (unless they're record fields) while `--obfuscate=encrypted` will only obfuscate protected variables originating from encrypted classes. `--obfuscate=encrypted` is turned on automatically if no obfuscation is already enabled an

[2022-10-27 13:44] casella commented on #9603
@TeusvanderStelt, for the time being you can skip the first step entirely.

Indicators of linear variables and linear equations will be computed to zero a posteriori instead of being skipped a priori, and that's it. Of course the approach will be less efficient, but since the computation is only done once at initialization duringing debugging, it is no big deal if it takes, say, 4 s instead of 0.5

[2022-10-27 14:04] casella commented on #9598
I don't think so. There is no real parsing involved, just calling `strcmp(data->localdata[0]->name[i], "$cse", 4)` or something like that. `strcmp()` is very, very efficient, this translates into something as
[code]
that eventually is turned into a handful of assembly instruction calls.

Also, you don't need to do that at every integrator time step, only when doing event iteration. Basically, at t

[2022-10-27 14:29] AnHeuermann commented on #9598
I guess you are right.
Looping over `data->modelData->realVarsData->info->name` should do the trick. (Replace `realVarsData` with the other types).

I or @phannebohm will add something for it to the runtime.

[2022-10-27 14:32] casella commented on #9598
Great, thanks!

[2022-10-28 00:09] casella opened #9611 "Pretty-printing of '*' '/' and '^' should include no space"
# Description

Sometimes, e.g. when running conversion scripts, pretty-printing is triggered. One thing that is pretty annoying of that is that it adds spaces before and after the `*`, `/` and `^` operators. A cursory glance to the Modelica Language Specification clearly shows that the preferred formatting for those three operators is without spaces, which are instead used for `+` and `-`. This is

[2022-10-28 04:01] ramanunni commented on #9595
Thanks a lot for the explanation, that goes a long way in clarifying things for me..

Currently, I have worked around this for Ubuntu (22.04) in docker, by just adding a couple of extra lines in the Dockerfile after the `apt-get install omc `(I was using 1.19.3). I ran a .mos (with installpackage for MSL) like shown in the code below (.mos created in the Dockerfile or added from a 'src' folder) to

[2022-10-28 12:02] max-privato commented on #4645
Like every year  I come across this issue every initial period of semesters.
I still consider it to be a big issue.
I understand that the solution requires connections to be on top of components, but this should be Ok (we need to have a look a the outcome, though).
Today a student of mine connected a resistor on the wrong terminal and did not realise it (later I showed it hovering on connections)

[2022-10-28 12:09] mahge commented on #9213
#9612 should fix this. We now traverse the shared `globalKnownVars` only once for this specific purpose.

The performance has improved noticeably. Using a debug build:

Prior to #9612
[code]

With #9612

[code]

That is, the total translation time went from ~15 seconds to ~11 seconds. The relevant part of the execution, `Performance of simCode: created of all other equations (e.g. parameter, nomin

[2022-10-28 12:57] #9213 closed

[2022-10-28 14:28] #9191 closed

[2022-10-28 16:35] jschueller commented on #9592
Looks some parts of the code still mention qt4, do you guys still support that ?
That would ease the migration, because webengine is not available in qt4 (and also eases the migration to qt6).

[2022-10-28 16:41] phannebohm commented on #9575
The old frontend simplify had a rewrite where it distributed fractional exponents even for negative factors, which is indeed not valid in the case of your MWE. I fixed that in #9619.

[2022-10-28 17:09] #9575 closed

[2022-10-28 17:14] #9611 closed

[2022-10-28 17:16] perost commented on #9611
Fixed in #9616 by changing the Absyn dumper in the proposed way. For the sake of consistency we should also make the same change to the DAE dumper that's used to dump flat models, but that would require updating thousands of test cases. So that's probably not going to happen anytime soon.

[2022-10-28 17:22] casella commented on #9595
Tweaking the MODELICAPATH is certainly one option in 1.18.x and 1.19.x. When you start using 1.20.0 you can forget about all that 😃

[2022-10-28 20:47] casella commented on #9213
Very good!

@niklwors please double-check with the nightly and report.

[2022-10-28 20:56] casella commented on #9575
Thanks @phannebohm!

Why is the old frontend still relevant?

[2022-10-28 21:00] casella commented on #9611
Thanks @perost. Fixing this in the flat Modelica output would be nice, but less important, as this output is normally meant to be read by machines, not by humans. The important thing is not to screw up human-readable source code.

[2022-10-28 21:21] casella commented on #4645
I agree this is indeed a big deal. It is really too easy to make bad mistakes that are not visible, and in fact Dymola fixed this issue long time ago. We'll try to get this done in 1.21.0

[2022-10-28 21:29] casella commented on #9589
BTW, the structure of CascadedFirstOrder is that there are N first-order blocks where the input is the state of the previous block. Hence, the incidence matrix of the causalization problem is empty (all zeros), and it turns out you can sorts those equations in any arbitrary order, it doesn't matter. So, it is particularly weird that an O(N^2) time is taken 😅

[2022-10-28 21:33] casella commented on #9588
Possibly #9031 improved the situation, let's see the testsuite results.

[2022-10-28 21:54] casella commented on #9414
This seems to be related to the following error reported by the new backend in all those models:
[code]

[2022-10-28 22:32] casella opened #9621 "Bad runtime performance of new-backend generated code, probably due to wrong Jacobian"
The HarmonicOscillator_3200 model from the ScalableTestSuite takes [84 s](https://libraries.openmodelica.org/branches/newInst-newBackend/ScalableTestSuite_noopt/files/ScalableTestSuite_noopt_ScalableTestSuite.Mechanical.HarmonicOscillator.ScaledExperiments.HarmonicOscillator_N_3200.sim) to simulate with the new-backend-generated code, compared to just [9 s](https://libraries.openmodelica.org/branc

[2022-10-28 22:44] perost commented on #9575
The backend still uses the old frontend structures, so to simplify expressions it has to use the expression simplifier from the old frontend.

[2022-10-28 22:56] casella opened #9622 "TransmissionLineEquations models fail due to NBSlice.getDependentCrefIndicesPseudoArray"
Models [ScalableTestSuite.Electrical.TransmissionLine.ScaledExperiments.TransmissionLineEquations_N_XX](https://libraries.openmodelica.org/branches/newInst-newBackend/ScalableTestSuite_noopt/files/ScalableTestSuite_noopt_ScalableTestSuite.Electrical.TransmissionLine.ScaledExperiments.TransmissionLineEquations_N_10.err) compiled with the new backend fail with:
[code]
You can use N=2 to get a MWE fo

[2022-10-28 23:03] casella opened #9624 "The NB does not differentiate the sum() operator"
When compiling [ScalableTestSuite.Thermal.DistrictHeating.ScaledExperiments.HeatingSystem_N_5.err](https://libraries.openmodelica.org/branches/newInst-newBackend/ScalableTestSuite_noopt/files/ScalableTestSuite_noopt_ScalableTestSuite.Thermal.DistrictHeating.ScaledExperiments.HeatingSystem_N_5.err) with the new backend, the following error is generated:
[code]

[2022-10-28 23:18] casella opened #9625 "TransmissionLineModelica models from ScalableTestSuite silently fail during NB.Causalize"
Please check [TransmissionLineModelica_N_XXX](https://libraries.openmodelica.org/branches/newInst-newBackend/ScalableTestSuite_noopt/files/ScalableTestSuite_noopt_ScalableTestSuite.Electrical.TransmissionLine.ScaledExperiments.TransmissionLineModelica_N_10.err). They all silently fail during Causalize after successfully completing Partitioning. This should be investigated.

[2022-10-28 23:26] casella opened #9626 "The NB does not differentiate the smooth() operator"
When compiling [Modelica.Electrical.Analog.Examples.OpAmps.Comparator](https://libraries.openmodelica.org/branches/newInst-newBackend/Modelica_4.0.0/files/Modelica_4.0.0_Modelica.Electrical.Analog.Examples.OpAmps.Comparator.err), the following error is generated:
[code]
This is an easy fix: if the first argument is at least 1, you can go ahead and return the differentiated second argument with noE

[2022-10-28 23:40] casella commented on #9621
Other examples using ida instead of dassl work fine from this point of view, e.g. Advection reaction ([new](https://libraries.openmodelica.org/branches/newInst-newBackend/ScalableTestSuite_noopt/files/ScalableTestSuite_noopt_ScalableTestSuite.Thermal.Advection.ScaledExperiments.AdvectionReaction_N_12800.sim) vs. [old](https://libraries.openmodelica.org/branches/master/ScalableTestSuite_noopt/files

[2022-10-29 12:42] ceraolo opened #9627 "Use structured variables in imported FMU input dialg box"
### Description

**This is not a bug report, just a suggestion of a possible improvement**

Imported FMUs created from modelica file show as parameters not only those available from the outside in the original modelica model, but also all the internal parameters, and show them in a non-structured way. In very simple the example given, the list is large and difficult to read, and can easily become

[2022-10-29 12:50] ceraolo commented on #9627
After creating the ticket I checked with Dymola and found that what I expected is already there in Dymola, even when the FMU is created by OpenModelica. In enclose two screenshots.
![image](https://user-images.githubusercontent.com/7373030/198832409-32d66fc8-07b4-4fac-8fb3-a803b123032f.png)
![image](https://user-images.githubusercontent.com/7373030/198832426-d2ac9671-7ab1-4113-82b5-c52a6c54f8b0.pn

[2022-10-30 07:38] justxi opened #9628 "Building OpenModelica 1.19.3 on Gentoo fails"
### Description
The build seems to fail due to a problem with integrated zlib.

### Steps to reproduce
The following ebuild on Gentoo is used:
[code]

### Expected behavior
Successfull build of OpenModelica.

### Additional files
[code]

### Version and OS
 - OpenModelica Version 1.19.3 from github
 - OS: Gentoo Linux

[2022-10-30 13:45] mahge commented on #9628
This has been fixed in #9272.

I see you are using v1.19.3. The fix came just one week after that release. For now, you can fix it manually using the changes in the PR.

There should be a new release any day now so you can also wait for a while before submitting the build upstream (if that is the intention).

There is also a new experimental [CMake based build system](https://github.com/OpenModeli

[2022-10-30 14:42] justxi commented on #9628
Thanks for the hint.
Using the patch for Makefile.in results in a successful build using autotools.

I tried the build with cmake also, but it fails while configuring. I can open another issue, describing that problem.

[2022-10-30 14:50] mahge commented on #9628
You can create new tickets for them, and we can see what went wrong. Both should be fixed.

[2022-10-30 14:51] #9628 closed

[2022-10-30 14:58] justxi opened #9629 "OpenModelica fails to build using CMake on Gentoo Linux"
### Description

Using CMake OpenModelica 1.19.3 fails to build with:

[code]

### Steps to Reproduce

Copied from Gentoo build:

[code]

### Expected Behavior

Successful build of OpenModelica.

### Version and OS

 - OpenModelica Version: 1.19.3 from github
 - OS: Gentoo Linux

[2022-10-30 15:00] justxi commented on #9628
For the CMake build:
https://github.com/OpenModelica/OpenModelica/issues/9629

The second patch (OMCompiler/Compiler/runtime/Makefile.omdev.mingw) from https://github.com/OpenModelica/OpenModelica/pull/9272/commits/08738938b8dee420ec09a54c6796ab8779365722 fails to apply on OpenModelica 1.19.3 on my system.

[2022-10-30 15:10] mahge commented on #9629
FMIL is a 3rdParty library which has some unusual approaches. I am guessing it is picking up some system library and trying to merge it into its own static library (either `expat` or `minizip`)

Can you change the line:
[code]
to
[code]

in `OpenModelica/OMCompiler/3rdParty/FMIL/Config.cmake/mergestaticlibs.cmake` at line 35 and reconfigure. It should tell us which library is the issue.

[2022-10-30 21:12] justxi commented on #9629
Now I get
[code]

[2022-10-30 21:24] mahge commented on #9629
That library is created in `OMCompiler/3rdParty/FMIL/ThirdParty/c99_snprintf/CMakeLists.txt` at line 122. The directive does not specify `STATIC` and it is defaulting to `SHARED`. (_Maybe the gentoo packaging system sets BUILD_SHARED_LIBS to ON_).

You can change it to the following
[code]

There are more places in there where the library type is not specified. If you see similar errors adjust the

[2022-10-31 09:28] FWuellhorst commented on #8162
@casella: I will take this point for internal discussion. Currently, the initiative to provide OM support for our models is limited to few PhD students.

[2022-10-31 09:43] sjoelund commented on #9595
Tweaking your MODELICAPATH should always be an option. The package manager is disabled if you do so

[2022-10-31 18:53] casella commented on #9627
@ceraolo when you import an FMU in OpenModelica, a custom Modelica wrapper is generated. You can actually inspect it and modify it. I think the best way to proceed here is that you actually modify it once, adding all the required dialog annotations to fit your requirements, and then post the original and modified .mo files here. At that point, patching the diff of the two files onto the built-in w

[2022-10-31 19:05] casella commented on #9595
Of course it is, but most likely you wont' need that 😅

[2022-11-01 06:50] Zbm1996 opened #9635 "CMake"
### Description
A clear and concise description of what the bug is.

### Steps to reproduce
Please provide us with enough information to reproduce the issue on our side, otherwise it's hard to fix it. You can either provide a list of actions, or possibly attach a Modelica script file (mos) that uses the [OpenModelica scripting API](https://openmodelica.org/doc/OpenModelicaUsersGuide/latest/scripti

[2022-11-01 08:05] sjoelund commented on #9595
Well, for docker there is a good point to do it. We should add some convenient pattern of creating your own images with fixed Modelica libraries of your choice. Something like `omc --tool=SystemPackageManager "Modelica 3.2.3"` which would install to `/usr/lib/omlibrary` and you could remove the cache files to have a small docker image.

[2022-11-01 08:35] ceraolo commented on #9627
I saw that in Dymola and in Matlab (and probably in other tools), submodels are shown as single entities in the main dialog box, and you can access the internal parameters through interaction with these single entities.

Matlab and Dymola create wrappers for the FMU, but, obviously, only Dymola does this in Modelica.
So I thought to take inspiration from the Dymola wrapper.

To appreciate the diff

[2022-11-01 14:05] justxi commented on #9629
Adding "STATIC" to the suggested CMakeLists.txt works and lets the configuration process successfully pass.

Now a new error occurs:
[code]

[2022-11-01 17:17] bc0n opened #9643 "OMEdit 1.19.0, 1.19.2, 1.20.0-dev crashing on startup under win10"
### Description
Installing a new version of OMEdit, the window launches from the installer and works fine.  Closing and relaunching OMEdit, it draws the main window and welcome screen with a spinning cursor, I see the Automatically loaded package messages for Complex and ModelicaServices, then the window crashes.  Subsequent launches all crash.  Deleting omedit.ini does not fix.  It launches and w

[2022-11-01 17:36] mahge commented on #9629
I think there might be another error printed before this one. Probably telling some error/notification from ninja telling you something about the `OMSimulator` submodule.

In any case, unfortunately, you cannot build `OMSimulator` using Ninja only. You have to start with GNU Make.  We assumed (wrongly) everyone would use GNU Make to build OpenModelica. So we passed that make executable to OMSimula

[2022-11-01 17:37] adeas31 commented on #9643
Run `OMEdit.exe --Debug=true`. Send the `omeditcommunication.log` file located in temp.

[2022-11-01 18:23] justxi commented on #9629
I can prevent using "ninja" and use "make" instead.

I had to apply this patch:
[code]

Now it stops with a sandbox violation "/usr/local/lib/libfmilib.a"... I have to find the point where it happens...

[2022-11-01 18:39] bc0n commented on #9643
[omeditcommunication.log](https://github.com/OpenModelica/OpenModelica/files/9913127/omeditcommunication.log)

[2022-11-01 18:45] mahge commented on #9629
In case you continued on a previous build, I recommend starting on a clean repo. Or, if you have done git clean, do not forget to clean submodules **recursively**.

[code]

If that is not the case, please rerun the configure and build, redirect them to a file and attach them here so I can take a look:
[code]

Can you also tell me what the exact configuration command you are using.

[2022-11-02 01:41] casella commented on #9131
I carried out some analysis, comparing the simulation performance between omc and Dymola, with equidistant time grid turned off to see the bare integrator performance.

Until time = 0.5, the performance is comparable. After the event at time = 0.5, which causes the increase of Valve.valve.valveDynamics_Complex.valveDynamics.commandSignalSwitchOff.limIntegrator.y, the number of steps taken by dassl

[2022-11-02 02:55] casella commented on #9131
Some more information: I turned on LOG_SOLVER and LOG_JAC. Here is an excerpt of the log:
[code]
Here it is apparent where the problem is: element (5,4) of the Jacobian gets the following sequence of variables, each time the Jacobian is recomputed:
[code]
while all other terms are basically constant. So, there's something wrong in how the fourth state variable affects the derivative of the fifth o

[2022-11-02 03:12] casella commented on #9131
FYI, the critical flow rate that determines the swinging Jacobian element is most likely this one:
[code]
I checked the values of c1Int and c2Int during the simulation, which are about 4e9 and 4e14 so I guess the conditions noEvent(abs(Valve.valve.controlEdgeModelPA.Resistor.c2Int) <= 1e-15) and noEvent(abs(Valve.valve.controlEdgeModelPA.Resistor.c2Int) <= 1e-15) can be assumed to be false, while

[2022-11-02 08:58] AnHeuermann commented on #7895
It should now be possible to copy all dynamic dependencies into an FMU using the CMake FMUs.
There is a section on it in the User's Guide: https://www.openmodelica.org/doc/OpenModelicaUsersGuide/latest/fmitlm.html#cmake-fmu-export

[code]
or
[code]

should do the trick.

If this doesn't resolve the issue please reopen it.

[2022-11-02 08:58] #7895 closed

[2022-11-02 09:20] AnHeuermann commented on #9635
Can't reproduce the issue.
I'm using the CMake build (with ccache) and starting OMShell.exe from the mingw shell from OMDev and using omc v1.20.0-dev-427-ga0cc046369.

Maybe some command you used errored, but using `;` in OMShell will hide the output.
![image](https://user-images.githubusercontent.com/38031952/199450545-954b7094-0c47-459a-b6c7-00d9071fcb94.png)

Loading the FMU and simulating with

[2022-11-02 09:52] AHaumer opened #9646 "References of instantiated classes not adapted when duplicating a package"
Duplicating a package with different name, the references of instantiated classes still point to the class definitions in the old package,

Assume you have library LibA with component CompA and an example instantiating `LibA.CompA compA`.
Duplicating LibA as LibB, the example still uses the intantiation `LibA.CompA compA`.
I'd expect an adaption of the instantiation to `LibB.CompA compA`
Of course

[2022-11-02 11:38] adeas31 commented on #9643
The log gives no hint about what is going wrong. Please upload the whole ´%TEMP%/OpenModelica/OMEdit´ folder. There are other log files that might show some information.

[2022-11-02 11:41] adeas31 commented on #9643
Simple google search about `Faulting module name: ntdll.dll` tells to reboot or reinstall the program.

[2022-11-02 11:44] sjoelund commented on #9590
This is on my TODO-list. Within an hour or so I expect it to finally work: https://test.openmodelica.org/jenkins/blue/organizations/jenkins/LINUX_BUILDS/detail/LINUX_BUILDS/1930/pipeline/700/

[2022-11-02 12:07] adeas31 commented on #5695
@anotheruserofgithub I made some tests and indeed this seems to be fixed now. Thanks!

[2022-11-02 12:07] #5695 closed

[2022-11-02 14:10] sbaetzing commented on #9131
@casella, we are open to any model improvements aswell. We know that class (Rexroth_Valves.Internal.Templates.Components.GenericResistor_Complex) is a little bit tricky. Approach comes from a non equation based simulation environment.

thank you for the analysis. We will also take a look at the implemented equation.

[2022-11-02 14:26] casella commented on #9131
In fact, from the point of view of an object-oriented modelling fan, there are several things in that model that I found a bit questionable, but it was pretty obvious to me that they were just ported from an old-fashioned simulation code, and of course one has to make compromises in that case.

In the meantime I thought about a couple more experiments that I can perform without too much effort to

[2022-11-02 15:53] AnHeuermann commented on #9249
We are a bit stuck. We could only reproduce the issue on the Windows machine from @HSchatzTLK were a debug version of TILMedia is available. But we can't debugg the source files created by omc (compiled with mingw gcc) and the source files from TILMedia (compiled using MSVC) in the same debugger. GDB doesn't like the MSVC debug symbols and the debugger from Visual Studio doesn't play well with the

[2022-11-02 17:36] justxi commented on #9629
[gentoo_common_config_cmake.txt](https://github.com/OpenModelica/OpenModelica/files/9922860/gentoo_common_config_cmake.txt)

[2022-11-02 17:37] justxi commented on #9629
When building openmodelica the ebuild always checks out the source code again. So everytime it is a clean build.

[2022-11-02 17:39] justxi commented on #9629
[build_log.txt](https://github.com/OpenModelica/OpenModelica/files/9922890/build_log.txt)

[2022-11-02 19:22] mahge commented on #9629
I see
[code]

I guess these is the ebuild fixing up wrong things and it might give a hint to what is wrong.

If you comment out line 87 in `OpenModelica/OMSimulator/3rdParty/FMIL/CMakeLists.txt`
[code]
does it change anything?

I am trying to compile OpenModelica on a gentoo docker but I am unable to install qtwidgets so I am kind of stuck.

[2022-11-02 23:57] casella commented on #9646
Duplicate of #5346 (no pun intended 😄).

[2022-11-02 23:57] #9646 closed

[2022-11-02 23:58] casella commented on #5346
As suggested by @AHaumer in #9646, should also work fine when duplicating entire packages.

[2022-11-03 00:53] casella commented on #9131
I went on with the analysis with @mahge.

First of all, I removed the big if-equation in the Rexroth_Valves.Internal.Templates.Components.GenericResistor_Complex and replaced it with the equation actually holds during that transient:
[code]
The simulation results were the same as before (and also the same as in Dymola), and the number of steps still went through the roof after time = 0.5, as befor

[2022-11-03 01:24] casella commented on #9131
## Recap
These are the facts I found out so far:
- The test model is `Rexroth_Valves_Test.Valves_4WR.Rexroth_4WSE2ED10_5X_5.VC43_PO_TC11a`
- You can simplify the analysis by replacing the big if-equation in `Rexroth_Valves.Internal.Templates.Components.GenericResistor_Complex` with  `q = 2*dp*x^2/(c1Int + sqrt(c1Int^2 + 4.0*c2Int*abs(dp)*x^2));`. This doesn't change the outcome of the experiment,

[2022-11-03 11:43] niklwors commented on #9119
The obfuscation looks very good, but because of the comments you can still get out information about secret protected model variables. Could the comments still be removed?

[2022-11-03 11:54] perost commented on #9119
Comments should be removed, but it's possible that I missed some. Which comments do you still see?

[2022-11-03 12:00] niklwors commented on #9119
e.g in file ```***bnd.c```
the line
```(data->simulationInfo->realParameter[11503]/* Valve.valve.controlEdgeModelPA.table1D.$n462[280,2] PARAM */)  = 0.8...```

[2022-11-03 12:12] perost commented on #9119
Ok, those are added by the code generation I think. I'm not sure how much work it would be to remove those, maybe @mahge, @kabdelhak, or @phannebohm knows better.

[2022-11-03 12:21] Arinomo opened #9652 "enable setActive option for simulation results loaded from existing file"
### Description
This is an enhancement suggestion:
In version v1.19.0-dev-590-g0897872ac1 one could load an existing simulation result file but can not set result tree to active (setActive option is grayed out). As a result one could not "replay" the simulation result on a model with DynamicSelect

### Expected Behavior

One could replay existing simulation result

### Version and OS

 - OpenModel

[2022-11-03 12:43] Arinomo opened #9653 "DynamicSelect removed when text is moved"
### Description

<details><summary>Consider this MWE</summary>

[code]
</details>

When the text `foo` is moved in diagram view, the `DynamicSelect` is deleted resulting in

<details><summary> Post moved </summary>

[code]
</details>

### Steps to Reproduce

Copy the MWE and move the text in diagram view.

### Expected Behavior

text with `DynamicSelect` is not changed when moved.

### Version and

[2022-11-03 12:52] niklwors commented on #9213
Thank you very much, the problem is solved now.

[2022-11-03 13:07] Arinomo commented on #9653
This also happened when the text with `DynamicSelect` was duplicated with `ctrl+D`, then both texts have no `DynamicSelect

[2022-11-03 13:44] casella commented on #9588
Unfortunately the issue is not completely resolved, see the [latest report](https://libraries.openmodelica.org/branches/newInst-newBackend/ScalableTestSuite_noopt/ScalableTestSuite_noopt.html).

| Model | Jacobian time  |
| ------- | -------------|
|AdvectionReaction_N_3200 | 0.36 |
|AdvectionReaction_N_6400 | 0.94 |
|AdvectionReaction_N_12800 | 2.43 |
| ---- | --------- |
|CascadedFirstOrder_N_64

[2022-11-03 14:01] casella commented on #9119
One easy way to do that would be to actually use the C compiler to do that, see, e.g., this [stack overflow post](https://stackoverflow.com/questions/2394017/remove-comments-from-c-c-code). Unfortunately I guess this would require to first write the non-obfuscated source code to file, where it could be caught.

But maybe it's easier to conditionally disable comment output, if that can be done in a

[2022-11-03 14:06] casella commented on #9653
Should be checked with the new instance-based infrastructure, see #8425

[2022-11-03 15:09] justxi commented on #9629
What is the problem with qtwidgets?

[2022-11-03 15:16] adeas31 commented on #8291
Shall we close this one now? The Windows build are fixed and @sjoelund fixed the Linux ones as well.

[2022-11-03 15:19] casella commented on #4236
@niklwors have you tried this recently with --NAPI=true?

[2022-11-03 15:25] niklwors commented on #4236
@casella  yes, I think the newly created tickets with the label [COMP/GUI/InstBased Interface](https://github.com/OpenModelica/OpenModelica/labels/COMP%2FGUI%2FInstBased%20Interface)  cover this case as well. E.g. the ticket: https://github.com/OpenModelica/OpenModelica/issues/9535

[2022-11-03 15:30] adeas31 commented on #9503
Already fixed in 6814223cf8a279f79d8f048b73edc96282e4f4ee.

[2022-11-03 15:30] #9503 closed, assigned to adeas31

[2022-11-03 15:31] adeas31 commented on #4236
@casella this is not handled yet.

[2022-11-03 15:37] adeas31 commented on #5621
TL;DR. Is this issue still valid? @ceraolo can you please test this with the latest version?

[2022-11-03 15:39] adeas31 commented on #3586
This one is perhaps already fixed. @niklwors please test with the latest version and report.

[2022-11-03 15:46] mahge commented on #9629
[code]

gives me

[code]

The I tried
[code]

Google suggested running `etc-update` So I run `etc-update ` and selected `-3`
[code]

After that tried to install `qtwidgets` again. This time it starts compiling. Unfortunately, it fails to complete (after quite some time compiling other things) due to this:
[code]

The first few lines of the above error message make me think that this might be a doc

[2022-11-03 17:13] MatthiasEckhart opened #9655 "Certain variables cannot be changed in interactive simulations (OPC UA / BadWriteNotSupported)"
### Description

Write requests sent to the embedded OPC UA server for changing certain variables when executing an interactive simulation fail with the status code `BadWriteNotSupported`. Unfortunately, I was not able to identify a pattern indicating for which variables this status code is returned.

### Steps to reproduce

Consider the following MWE:

[code]

Compile this model and start the int

[2022-11-03 19:44] casella commented on #8291
I guess we should try at least once to install from scratch and see that everything works fine. Has that been done already?

[2022-11-03 19:47] adeas31 commented on #8291
I will test the Windows nightly tomorrow.

[2022-11-03 21:41] justxi commented on #9629
After getting the same error (using your docker environment) I found, the following solution: In "/etc/portage/make.conf" set FEATURES="-usersandbox" .

[2022-11-04 01:44] ORANGELCX commented on #9635
When exporting FMU data, where is the path for generating DLL files? It seems that the problem is caused by insufficient permissions on drive C.
![image](https://user-images.githubusercontent.com/55785611/199867251-414f554c-159d-45cd-b8aa-96f9e8d319ec.png)

[2022-11-04 06:52] sjoelund commented on #8291
I have tested the LInux builds

[2022-11-04 09:15] #9652 closed

[2022-11-04 10:06] adeas31 commented on #8291
Just tested the latest nightly and the Windows version works as expected.

[2022-11-04 15:48] ceraolo commented on #5621
The original ticket #5621 pointed for the MWE to ticket #5581.
I retrieved the modelica file from there, and I copy it here for convenience:
[fbSystemTest.zip](https://github.com/OpenModelica/OpenModelica/files/9939853/fbSystemTest.zip)

Today I tested it with OM 1.20.0~dev-398 (with all default options Simulation Setup, except for the --allowNonStandardModelica=reinitInAlgorithms translation flag

[2022-11-04 15:50] mahge commented on #9629
I think you should try to compile OpenModelica directly on your gentoo machine. Otherwise, it is turning out to be a wild goose chase of fixing unrelated problems.

I installed `qtwidegets `successfully. Unfortunately, I cannot install `qtwebkit` since there is no package for it. I am assuming that you have managed to install it successfully for the ebuild due to tha fact that you have gotten to t

[2022-11-04 16:15] justxi commented on #9629
I agree.

If you interested I can upload my ebuild, which is based on a version which I found in the internet.

I didn´t tried that.

Yes, that's my thought too.

[2022-11-04 16:24] justxi commented on #9629
The line in https://github.com/OpenModelica/OpenModelica/issues/9629#issuecomment-1301106923 is already commented out by the Gentoo build system.

[2022-11-04 16:34] mahge commented on #9629
Okay. We can try one more thing
In the file `OpenModelica/OMSimulator/3rdParty/FMIL/CMakeLists.txt` at line 304, you will find these lines

[code]

Replace them with just this line
[code]

I think this might be it 🤞.

[2022-11-04 16:52] phannebohm commented on #9119
Indeed, that's done by code generation. Conditionalizing those comments is easy, but there appear to be several places that generate them. May take a little to find all the places.

[2022-11-04 18:06] mahge commented on #9629
Now that I checked even more, this might indeed not be 'it'.

However, in the file `OpenModelica/OMSimulator/Makefile` at line 215, you will find this line, adjust it to what is shown in the diff.
[code]

That is, change `-DFMILIB_INSTALL_PREFIX` to `-DCMAKE_INSTALL_PREFIX`.

I have fixed this and a couple of other issues already. However, it will about one hour (assuming nothing else goes wrong)

[2022-11-04 19:08] casella commented on #8291
Very good! @adrpo, all systems GO for the 1.20.dev-beta.1 release!

[2022-11-04 19:08] #8291 closed

[2022-11-04 21:29] justxi commented on #9629
With these patches applied OpenModelica builds on Gentoo with CMake.

[2022-11-04 21:29] #9629 closed

[2022-11-04 23:01] bc0n commented on #9643
That was it @adeas31, many thanks.

[2022-11-04 23:01] #9643 closed

[2022-11-05 16:03] casella commented on #5621
This may be be a different issue. Starting from version 1.18.0, we automatically select the Kinsol solver if the system is large enough and sparse enough. This is a good idea in most cases, since the time spent by Kinsol on very sparse problems is typically between O(N) and O(N^2), while the default solver (which uses dense LAPACK) scales as O(N^3), so it literally takes forever if you have more t

[2022-11-05 16:08] casella commented on #9119
That's what I also thought.

However, something is still not too clear to me. @perost I understood that the entire flattened names were obfuscated, not just the variable name after the last dot. Otherwise, a lot of information is still there. Did I miss something?

[2022-11-05 16:23] perost commented on #9119
It's not just the last part of the names but the parts referring to protected variables in encrypted libraries (which often is just the last part). Obfuscating the whole name would cause a lot of issues I think, since it would throw away a lot of information that we probably need in e.g. the backend.

[2022-11-06 12:50] Natopsi opened #9664 "OMEdit export variables : time formatting precision inadequate"
### Description

When exporting data as CSV from OMEdit GUI, time column format have a format reduced to 7 or 8 significant digits single precision thus doesn't allowing proper exploitation of data with fine time steps.
The data columns have a proper double precision compatible formatting.

### Steps to Reproduce

Example:
Run Modelica.Electrical.Analog.Examples.Rectifier with equidistant time gri

[2022-11-07 03:04] ORANGELCX commented on #9635
AnHeuermann， We use cmake to compile on win computer, test the exported fmu on FMPY, and report the following error. We checked CMakeOutput.log and found that there is a path about /temp in it. I wonder if you can send your CMakeOutput.log file?
At present, we use cmake .. -Wno-dev -G "MSYS Makefiles" -DOM_USE_CCACHE=OFF command to compile, will it affect the result?

![C91AFF68-0025-4253-9B21-FB7

[2022-11-07 09:17] Zbm1996 commented on #9635
AnHeuermann, I installed ccache and tried omc test.mos, but still get the same error message after using FMPy to simulate the generated FMU file.
My test.mos:
cd("D:/workspace/test/testcases"); getErrorString();
loadFile("Ball.mo"); getErrorString();
setCommandLineOptions("--fmiFlags=s:euler"); getErrorString();
translateModelFMU(Ball, version="2.0", fmuType="cs"); getErrorString();

The generatei

[2022-11-07 09:22] AnHeuermann commented on #9635
The warning is save to ignore.

Can you attach the FMU here? Rename the file ending `.fmu` to `.zip` to upload here.

[2022-11-07 09:22] Zbm1996 commented on #9635
Our current error seemed to locate in a temporary directory lilke what I found in the OpenModelicaUserGuide.pdf
![doc](https://user-images.githubusercontent.com/25106682/200273704-ae5523a1-4c6e-46d1-b4d1-f905aa058525.PNG)
Do you have any hint for this? We have tried the compile process in three different WIN computer, but we can't fix it.

[2022-11-07 09:26] Zbm1996 commented on #9635
![upload](https://user-images.githubusercontent.com/25106682/200274417-3a8d89ca-5785-4b15-bd0a-78c7120da095.PNG)
Thanks for the sincere reply, but I couldn't upload zip file here. Could you please give me a email address?

[2022-11-07 09:29] AnHeuermann commented on #9635
zip files should be supported here (if it's smaller than 25MB).
https://docs.github.com/en/get-started/writing-on-github/working-with-advanced-formatting/attaching-files

[2022-11-07 09:34] Zbm1996 commented on #9635
[Ball.zip](https://github.com/OpenModelica/OpenModelica/files/9950087/Ball.zip)
Thanks! I tried on other computer and successfully uploaded it. This is the wrong fmu file.

[2022-11-07 10:01] AnHeuermann commented on #9635
First let's ignore OMShell. If the MOS script didn't work that's a better way to reproduce your issue.
I could simulate your FMU just fine using OMSimulator.

I guess you have something misconfigured on your side. Maybe move the FMU to a directory where you are sure you have all needed rights to write and execute.

Please add all full error messages from FMPy/OMSimulator (as text if possible) here

[2022-11-07 10:35] AnHeuermann commented on #8501
ccache is now part of OMDev origin/master.

[2022-11-07 11:40] #9664 closed

[2022-11-07 14:17] AnHeuermann opened #9668 "CMake v2.8 deprecated"
### Description

The CMakeLists.txt files in 3rdParty are generating deprecation warnings, because support for version 2.8.12 will be removed in a future version of CMake.

### Steps to Reproduce

Configure the CMake build with a recent CMake version (e.g. cmake version 3.25):
[code]

### Expected Behavior

No deprecation warnings.

### List of affected files

- [ ] OMCompiler/3rdParty/sundials-5.

[2022-11-07 14:49] AnHeuermann commented on #8501
@adrpo
Turns out the ccache from OMDev is broken.

[code]

Adding @mahge as well.

[2022-11-07 20:32] ceraolo commented on #5621
Well shot! with -nlssMaxDensity=0 the simulation with FMU runs and gives the same results as the original model.
So, now I think that the answer to  comment https://github.com/OpenModelica/OpenModelica/issues/5621#issuecomment-1302297320
is yes, now we can close this ticket, unless message https://github.com/OpenModelica/OpenModelica/issues/5621#issuecomment-1303790342 is considered useful as a fu

[2022-11-08 00:43] casella commented on #9251
On the other hand, if I try to flatten the original Type1_N_1_M_1 model from ScalableTestGrids with
[code]
I get
[code]
while if I don't use the -d=vectorizeBindings flag:
[code]
I get
[code]
So, it seems that your fix works fine in the real case when the division is involved, but then fails when a unary minus is involved. I guess the trick here would be to use iterators also in the case of expres

[2022-11-08 03:00] ORANGELCX commented on #9635
After I exported FMU, I executed the system() command. I saw that the normal output on the official website is 0, but mine is 255. What does 255 mean? why is 255?

![image](https://user-images.githubusercontent.com/55785611/200464129-123fd248-cdeb-42cf-b19f-1762958338fd.png)

[2022-11-08 08:45] perost commented on #9251
The issue is that you use the `evaluateAllParameters` flag which triggers additional evaluation, which in this case doesn't work for some reason.

We already use iterators for expressions involving unary minus, it's not based on what kind of expression it is but on the information we use to scalarize them. So the issue in this case is not that it's a unary minus expression but that it's subscripte

[2022-11-08 09:01] casella commented on #5621
OK.

Unless message [#5621 (comment)](https://github.com/OpenModelica/OpenModelica/issues/5621#issuecomment-1303790342) is considered useful as a further test for ticket #9539.

Not sure that the NaN issue is involved. The point is, the embedded solver apparently has slightly more robust strategies to cope with convergence failure, and that goes well beyond #9539.

The idea should be that if Kinso

[2022-11-08 09:06] casella commented on #4960
Original ticket https://trac.openmodelica.org/OpenModelica/ticket/4960

[2022-11-08 09:10] casella commented on #9251
Aha, so that is the culprit. For efficient code generation this is really important, we need to carry out as much work as possible at compile time, so evaluating parameters is essential. Later on, it may be useful to leave some un-evaluated, see #4960, but this is not top priority now.

I afratid can't follow you down the technical rabbit hole. What I can say is that being able to flatten Scalable

[2022-11-08 10:09] adrpo commented on #8501
Ouch. This is maybe because I installed a newer package on an older msys. I will see what i can do.

[2022-11-08 10:26] AnHeuermann commented on #8501
Maybe we should use a clean and newer MSYS to start over? I think that is what @mahge is doing at the moment.
I'll talk with him about this later today.

In the meantime we should probably revert f5f57b55f90f581e1997d82ef3e8ab81be475fae on origin/master and origin/maintenancev1.20.

[2022-11-08 10:43] adrpo commented on #8501
Yeah, i will do that. I found out the issue, it does: `_ZSt28__throw_bad_array_new_lengthv symbol not found`.
I will not revert it, I will compile ccache myself on the current OMDev and make a new commit.
When we are done with the release I will update OMDev to the latest.

[2022-11-08 11:03] AnHeuermann commented on #9635
I don't know what the error code is for, but I think redirecting stdout in `system` doesn't work on Windows. Don't use OMShell, but `Tools->OpenModelica Command Prompt` from OMEdit (cmd with omc in its path) and use the MOS script to run your commands to generate the FMU.

You can try to use some dependency analysis tool for DLLs to see what runtime libraries you are missing. The `Ball.dll` itself

[2022-11-08 11:30] #8501 closed

[2022-11-08 11:36] Zbm1996 commented on #9635
Hi, AnHeuermann. I also run our generated fmu file on OMSimulator successfully and get a model_res.mat file.
Screenshot on OMSimulator:
![omsimulator](https://user-images.githubusercontent.com/25106682/200552502-183d854a-d4a9-40f1-abe2-923e9081683e.png)
OMSimulator log and results:
[omsimulator_log.txt](https://github.com/OpenModelica/OpenModelica/files/9960616/omsimulator_log.txt)
However, I foll

[2022-11-08 11:52] mahge commented on #9635
@AnHeuermann Shouldn't the library `libopenblas.dll` (and possibly all other MSYS related dlls) be part of the FMU?

Isn't the flag `--fmuRuntimeDepends=...` needed for this to work? The reason it is working in some cases might be that it is being run from a MSYS/MinGW terminal. When it is run using other tools this might not work.

@Zbm1996 Can you run the OMSimulator command (the one you run on

[2022-11-08 12:21] Zbm1996 commented on #9635
Hi, mahge, thanks for your sincere help. You are definitely right, after I rum OMSimulator on cmd.exe, I got the same error with FMPy and Daccosim (Could not load the FMU library).
CMD OMSimulator Screenshot:
![cmd_omsimulator](https://user-images.githubusercontent.com/25106682/200561867-75fd0f01-8a8d-486d-b60e-fdf08a255b1b.png)
Related LOG:
[omsimulator_log_cmd.txt](https://github.com/OpenModelic

[2022-11-08 12:31] mahge commented on #9635
@AnHeuermann has already fixed this properly. You need a few additional options to generate fully portable FMUs on Windows.

You can try regenerating your FMU as follows
[code]

This will require you to have CMake 3.21 (This can be confusing, and I hope you used a CMake with version >=3.21 when you **configured OpenModelica itself**, if not let me know).  After regenerating the FMU upload it here

[2022-11-09 03:56] ceraolo opened #9673 "OMEdit with NAPI does not show diagram when a submodel is missing"
### Description

### Steps to Reproduce
load OMEDIT
load [Test.mo.txt](https://github.com/OpenModelica/OpenModelica/files/10813047/Test.mo.txt)
open RL_PQ. The diagram is as follows (correct) :
![image](https://user-images.githubusercontent.com/7373030/200734234-88bd3300-3e68-4009-ae0d-97a880eec573.png)

load OMEDIT --NAPI=true
lload Test,mo
open RL_PQ. The diagram is missing:
![image](https://use

[2022-11-09 04:03] ceraolo opened #9674 "Impossible to delete OMEdit toolbar"
### Description
Impossible to delete OMEdit toolbar

### Steps to Reproduce
Open a model in OMEdit
remove the shapes toolbar right-click on toolbar area, unselect Shapes Toolbar checkbox). The toolbar is deleted
click on desktop
click on OMEdit window => the shapes toolbar is back!

### Expected Behavior
if I delete a toolbar is should stay deleted up when I require it to be shown again

### Scree

[2022-11-09 07:45] Zbm1996 commented on #9635
@mahge @AnHeuermann Hi, I recompiled our OpenModelica on CMake 3.21(On MINGW SHELL):
![cmake_version](https://user-images.githubusercontent.com/25106682/200767626-f4b0d5a6-9ce7-4ae5-98fa-30bad34ad878.PNG)
Then I tried to run the mos file you mentioned above but get this error:
![image](https://user-images.githubusercontent.com/25106682/200767989-e70bdced-38c0-4347-9f61-22bf9064b622.png)
After read

[2022-11-09 07:54] AnHeuermann commented on #9635
Use platform dynamic:

[code]

[2022-11-09 08:08] Zbm1996 commented on #9635
I have tried this command and the error log was showed on the reply above

[2022-11-09 09:22] AnHeuermann commented on #9635
You specify that you want the explicit Euler as co-simulation solver, but apparently there are still references to the alternative CVODE solver from Sundials in the FMU.

If you remove `"--fmiFlags=s:euler` it should work and the default solver explicit Euler is used as well.
But I could reproduce your issue and will fix it 👍

[2022-11-09 09:52] bilderbuchi opened #9675 "Add flag to log set of states"
When debugging models, sometimes it would be useful for building insight into the model to know the states selected during particular stretches of simulation time.

AIUI, the set of states can only change at events, so I imagine the output of a (simulation) flag `LOG_STATES`  being:
* the names of states chosen at the beginning
* every time the set of state changes (not necessarily every event), l

[2022-11-09 15:01] casella commented on #9673
@ceraolo this was a known issue, thanks for actually opening a ticket about it.

[2022-11-09 15:16] casella commented on #9598
Ping 😅

[2022-11-09 15:21] bilderbuchi commented on #9675
I guess? I want to be able to determine the names of the chosen states (including changes over time if that happens).

I initially missed the `LOG_DSS` flag that you probably refer to, however if I switch that on I don't get any additional output in a random model I ran (v1.19.2). Maybe that does not show anything if no dynamic state switching happens, or there's a problem on my end?

[2022-11-09 17:39] casella opened #9681 "ModelicaError should be handled as assert failing with AssertionLevel = error"
Consider the following MWE
[code]
According to the Modelica Specification, [Section 12.9.6.1](https://specification.modelica.org/maint/3.5/functions.html#utility-functions-for-reporting-errors), calling ModelicaError (which is what the Utilities error function does internally) should have the same effect as triggering an assert with AssertionLevel.error.

Hence, M1 and M2 should produce identical

[2022-11-10 13:15] #9598 closed, assigned to phannebohm, AnHeuermann

[2022-11-10 14:33] adeas31 commented on #8966
PR #9684 tries to fix this issue. For now we display `R = R` instead of evaluating the expression. We are working on the expression evaluation but I am not sure if we do it here just for the display. The expression evaluation is expensive and would be better to avoid if possible.

[2022-11-10 15:18] perost commented on #9251
With the changes in #9685 the `Type1_N_1_M_1` model now flattens with all of the flags.

However, it doesn't work with `-d=arrayConnect` which is necessary for the new backend, it seems to choke on some for-loop iterators for some reason.

It also doesn't work with the old backend, because the non-scalarized flattening doesn't unroll for-loops with connects in them. That's fine when using the arra

[2022-11-10 15:22] casella commented on #9598
Thanks @phannebohm!

[2022-11-10 15:23] perost commented on #9251
And also, the `-d=vectorizeBindings` flag is still necessary. The `testVectorizedBlocks` test case that didn't work before now actually works, but one of the other tests broke instead. So seems like there's still some issues left to fix before we can make this the default.

[2022-11-10 15:27] casella commented on #8966
Whether one prefers to see the expression on the RHS or its actual numerical value probably depends on the context, not sure we should necessarily show the value.

[2022-11-10 15:31] casella commented on #9224
The proper solution to this issue is to avoid selecting $cse variables as tearing variables, see #8164. Doing that leads to several undesirable consequences (e.g. no nominal attribute available for proper scaling), including this one. If you don't do that, $cse variables will be computed explicitly starting from start variables that are loaded from the .mat file.

I will ping @phannebohm again on

[2022-11-10 15:32] casella commented on #8164
#9224 shows another reason why we should always put $cse variables (not only from records, btw) among the torn variables.

@phannebohm do you think you can fix this?

[2022-11-10 15:53] casella commented on #9251
Great, thanks! At least we can now give it a try with our MARCO compiler, starting from the non-scalarized flat Modelica output.

Ouch. This is weird, parameter modifiers and array connections seem pretty disconnected things to me. Any clue what could be the reason?

Anyway, power grid models do not contain array connection statements. In fact, those models are scalar in the beginning, they are ar

[2022-11-10 15:54] casella commented on #9251
OK. For the time being we'll try this out in MARCO. Regarding OMC with the new backend, it seems there are also other problems to be fixed first...

[2022-11-10 16:05] adrpo commented on #9222
Running script: l.mos:
[code]
from command line gives:
[code]

The text about the iteration variables does not appear in the OMEdit translation log.

[2022-11-10 16:18] adrpo commented on #9222
Seems it is working, if you do this:
- restart OMEdit
- do not load any model
- go: Tools->Options->Simulation and add `-d=iterationVars` and then click Ok
- restart OMEdit
- load your model and simulate

![image](https://user-images.githubusercontent.com/4192979/201149022-dc65026c-6451-44d1-86de-6b056fb6615f.png)

[2022-11-10 16:24] adrpo commented on #9222
You get this message if you try to edit the global flags with the model open:

![image](https://user-images.githubusercontent.com/4192979/201150646-40893b0f-a210-4bf7-a545-69b9a9d9edb5.png)

which seems really weird as the model does not have any flags in it!?!

[2022-11-10 16:39] adeas31 commented on #9222
All the global flags are propagated to the model when you simulate the model for the first time. From then on the model has the local flags of its own which can be modified via Simulation Setup->Translation Flags. If at that moment you change any global flag then you get a prompt as shown in https://github.com/OpenModelica/OpenModelica/issues/9222#issuecomment-1310552148 which asks you if you want

[2022-11-10 19:21] casella commented on #8014
@perost, while playing around with a test case we stumbled again on this problem. I thought it had been solved, but in fact it hadn't. Maybe this is also relevant for the new backend issues?

You can replicate the issue by running PowerGridOO.Test.Grid_Ne_1 from the attached package with flags
[code]
You will get a bunch of array equations that set to zero the flow variables of all ports of the co

[2022-11-10 19:25] perost commented on #8014
The array connection algorithm (default for new backend) is wrong, @kabdelhak is working on it but I don't know what the status is.

[2022-11-11 09:58] adeas31 commented on #8966
Perhaps in future we can support this feature with some flag "Show evaluated parameter values on the diagram", so by default the expression is shown and if the flag is set then show the numerical value.

[2022-11-11 10:18] AnHeuermann commented on #9635
@Zbm1996 The master now contains my changes, so `--fmiFlags=s:euler` should behave as expected.
Can you verify that this solves your issue?

[2022-11-11 10:54] matteodepascali opened #9689 "Custom connectors icons are not rendered in diagram view"
### Description
Custom connectors icons are not rendered in diagram view, while Modelica Standard Library Connectors are rendered correctly.

### Steps to reproduce
TestPackage.mo contains a custom connector model and a test model TestModel where the connector is instanciated. Opening TestModel's diagram view, the connector's icon is not rendered correctly.

### Expected behavior
The connector's i

[2022-11-11 11:06] adeas31 commented on #9689
This is the expected behaviour. There is no `Diagram` annotation of `TestConnector`.

[2022-11-11 11:39] casella commented on #9588
Based on some profiling, the bottleneck is most likely found in the section of the code where the variables of the Jacobian are scalarized _including their attributes_, for the scalarized sparsity pattern. Maybe this operation is not done in the most efficient way, CS-wise.

This section is basically the same as in the frontend (which scalarizes as O(N)), except for attributes, so the culprit is m

[2022-11-11 11:43] casella commented on #9589
- Causalization is matching & sorting, it could be split up.

Then, the it may be the way the scalar adjacency matrix is created. @kabdelhak could do some profiling and see where the bottleneck is, then we can ask @perost to have a look at it to spot obvious inefficiencies.

[2022-11-11 13:41] AnHeuermann opened #9690 "BRSL: deriveAll failing for equation containing noEvent and floor"
### Description

Found an issue while investigating #9131. When enabeling symbolic Jaconian for the test model `Rexroth_Valves_Test.Valves_4WR.Rexroth_4WSE2ED10_5X_5.VC43_PO_TC11a` the symbolica Jacobian can't be created.

### Steps to Reproduce

MWE using BRSL v2.2dev (from 09-09-2022):
[code]

[code]

### Expected Behavior

I'm not sure. What the derivative should be in this case. `noEvent` can

[2022-11-11 14:18] matteodepascali commented on #9689
You are right, it is missing the Diagram annotation.
I opened the ticket because this was not the standard behavior with the OMEdit version I was working with before updating to 1.21.
The Icon annotation was enough to show the connectors in Diagram View of other models.

[2022-11-11 15:35] adeas31 commented on #9689
That is true. I recently changed it to conform to the Modelica specification,

`For connectors, the icon layer is used to represent a connector when it is shown in the icon layer of the enclosing model. The diagram layer of the connector is used to represent it when shown in the diagram layer of the enclosing model.`

[2022-11-11 15:35] #9689 closed

[2022-11-11 15:37] matteodepascali commented on #9689
Perfect, thanks for the clarification and the help!

[2022-11-11 16:02] AnHeuermann commented on #9690
@kabdelhak and myself tried to figure out what's going on here.

We have a discrete equation
[code]

in the right hand side of the DAE.
If $cse12 jumps at simulation time the derivative is undefined and naturally an ODE sovler should have issue when trying to compute the derivative to close to the discrete jump.
I'm not sure what should happen in this case.

[2022-11-11 18:41] casella commented on #9222
@adrpo, it is quite hard to find a logic that is sensible, consistent, easy to explain, and works in all cases. Maybe even impossible 😅

That said, the current logic is the one @adeas31 explained in [his comment](https://github.com/OpenModelica/OpenModelica/issues/9222#issuecomment-1310576005). We settled on it because many users (including myself) were baffled that sometimes changing the global s

[2022-11-11 18:56] casella commented on #9222
@adeas31 I tried to reformulate the text of the dialog to be more user-friendly 😅:

You just changed some global translation flags.

The listed models are currently open in this session and have different local translation flags, that were selected with the Simulation Setup dialog.

Select the models for which you want to discard the local translation flag and apply the new global flags (*). All o

[2022-11-12 07:13] Zbm1996 commented on #9635
Hi. AnHeuermann. I recompile OpenModelica and use omc.exe to run test.mos as below:
cd("D:\\workspace\\test\\testcases"); getErrorString();
loadFile("Ball.mo"); getErrorString();
setCommandLineOptions("--fmiFlags=s:euler"); getErrorString();
// This turns on CMake based FMUs and tells them to pack all dependencies inside the FMU.
setCommandLineOptions("--fmuCMakeBuild=true --fmuRuntimeDepends=all"

[2022-11-12 11:02] casella commented on #9689
Too bad other tools don't do that. But that is no reason to accept non-standard code, as usual.

[2022-11-12 11:27] casella commented on #9690
There are several potentially intertwined issues here.

First of all, `floor(0.4*testSignal.clock.y)` is a discontinuous function. Placing `noEvent()` around it suppresses event detection and handling, so it means that the ODE solver will be passed a RHS which is discontinuous. If the the ODE solver uses high-order integration algorithms and error estimations, those won't work correctly, because t

[2022-11-12 11:37] casella opened #9694 "Provide Flat Modelica output for structural analysis algorithms"
Ernesto Kofman's group works on advanced array-preserving algorithms for structural analysis. They have a micro-Modelica parser that can handle Modelica models as inputs, but only handles a small subset of the language. Thy could substantially improve the scope of that, and also start prototyping the inclusion of those algorithms in the new backend, by taking the flat Modelica output of OMC of mod

[2022-11-12 11:50] casella commented on #9694
Consider this MWE:
[code]
Calling `instantiateModel(TestInlining.M)` with flags `-f -d=nonfScalarize,combineSubscripts,printRecordTypes, --newBackend --showStructuralAnnotations` gives
[code]
It should instead give
[code]
while flattening `S` should give
[code]
Inlining should be limited to functions that have one single assigment in the algorithm, so that the implementation is trivially obtain by

[2022-11-12 11:57] perost commented on #9694
This actually already works if you instead use `annotation(__OpenModelica_EarlyInline = true)`. We use it for some of the builtin functions.

[2022-11-12 12:25] casella commented on #9694
For record handling, the idea is to first inline the functions, and then split the records and the record equations into their individual components. For example:
[code]
Flattening `TestComplex.M` with the flags mentioned above currently gives:
[code]
Inlining the `Complex.'+'` function should transform the equation section to
[code]
Then, records and record equations can be split into their eleme

[2022-11-12 12:42] perost commented on #9694
That does not currently work, even if early inline annotations are added to `Complex`. I guess we don't consider inlining on operator functions, or perhaps we inline before we resolve operators. But we have the inlining functionality, so it's just a matter of making sure it's applied to those functions somehow.

[2022-11-13 22:38] casella commented on #9694
Adding @ernestokofman and @joaquinffernandez to the loop.

[2022-11-14 08:37] AnHeuermann commented on #9635
No, nothing is downloaded during FMI compilation (at least if not using Docker...).

I'm not sure where `cmake_install.cmake` comes from.
The CMakeLists.txt reporting this error should be found in `<ModelName>.fmutmp/sources/CMakeLists.txt`, the template to generate this file can be found in [OpenModelica/OMCompiler/SimulationRuntime/fmi/export/buildproject/CMakeLists.txt.in](https://github.com/Op

[2022-11-14 09:48] casella opened #9695 "Very bad performance of arrayConnect in cases with only scalar connection sets"
Please check the performance of the NF on the [Modelica.Electrical.Analog.Examples.CauerLowPassOPV](https://libraries.openmodelica.org/branches/newInst-newBackend/Modelica_4.0.0/files/Modelica_4.0.0_Modelica.Electrical.Analog.Examples.CauerLowPassOPV.err) model, when using `-d=arrayConnect` as a prerequisite for the new backend. The NF reports:
[code]
Now, `CauerLowPassOPV` this is a fairly simple

[2022-11-14 10:00] casella opened #9697 "Improve handling of -d=arrayConnect for the new backend"
The `-d=arrayConnect` implementation currently has issues, most notably:
- poor performance in some cases #9695
- generation of additional spurious connection equations as if ports were not connected, see #8014

These issues should eventually be solved, but they are currently hampering the experimentation of the new backend, which activates arrayConnect by default, resulting in 35% of MSL 4.0.0 no

[2022-11-14 11:17] AnHeuermann commented on #9131
I thought it would be interesting to plot the step size around `t=0.5` so here it is:

![grafik](https://user-images.githubusercontent.com/38031952/201646473-212f77f9-b234-47b3-9ea8-0c9fa5d18810.png)
![grafik](https://user-images.githubusercontent.com/38031952/201646563-6778c454-742f-4274-a845-67ce5c751393.png)

Maybe we should remove all `noEvent`'s and see how many events the ODE integrator has

[2022-11-14 11:20] mahge commented on #9635
This is generated by CMake and is the actual installation script. It is what cmake runs when you issue `make install`, `cmake --install`, ...

According to [stackoverflow](https://stackoverflow.com/questions/36240215/dependency-walker-missing-dlls) this seems some kind of indirection and can be ignored safely.

@AnHeuermann On Windows we have two classes of these _system_ DLLs. Those from Windows

[2022-11-14 11:24] AnHeuermann commented on #9131
Also the result file is like 139GB 💥 on my Windows system (20GB on my Linux). No wonder this is slow...

[2022-11-14 11:28] mahge commented on #9635
@Zbm1996 In general, you should not download DLLs from the internet individually except in rare cases where you know what you are doing and **completely** trust the source. Definitely not for this case.

Can you please find the file `Ball.dll`, it should be in `Ball.fmutmp/binaries/win64/` and then from an MSYS/MinGW shell run `ldd `on it

[code]

and copy paste the output here? Just to see where

[2022-11-14 11:53] Zbm1996 commented on #9635
Hi, @mahge @AnHeuermann , after I changed --fmuRuntimeDepends to modelica, the fmu could be generated successfully without api-ms-win-core-api-query*.dll error and this fmu could run successfully on FMPy outside MSYS, too!

If I reset --fmuRuntimeDepends = all, the result of ldd Ball.dll is shown below and you guys could check the problem:
![ldd](https://user-images.githubusercontent.com/25106682/

[2022-11-14 12:25] AnHeuermann commented on #9635
You're welcome.

[2022-11-14 12:25] AnHeuermann commented on #9635
Sounds reasonable and that is very close to what is already implemented.

[2022-11-14 13:23] mahge commented on #9635
Okay. I will update it.

[2022-11-14 14:10] ernestokofman commented on #9695
I haven't yet checked this, but I think it may be related to what you
say. The algorithm for preserving arrays in the connections does not
make much sense unless there are "large" arrays, i.e., when the size of
the arrays is larger than the number of  arrays (considering that scalar
variables are arrays of size 1). Anyway, the algorithm itself shouldn't
scale cubically with the number of arrays, t

[2022-11-14 15:17] AnHeuermann commented on #9131
We have sparsity pattern

[code]
with

[code]

It turns out, that `der(x4)` doesn't depend on any state. So we have a zero row/column in our Jacobian.
The reason it is shown in the sparsity pattern is, that inside the if condition of `equation 55` `x4` is used, but not in the assignment itself. In the end we have something like

[code]

@kabdelhak is trying to fix the dependency analysis to ignore

[2022-11-14 15:45] adeas31 commented on #9531
Tested this again and it works now as expected.

[2022-11-14 15:45] #9531 closed

[2022-11-14 15:47] adeas31 commented on #9533
@niklwors can you please test this again.

[2022-11-14 16:07] AnHeuermann commented on #9131
@kabdelhak and myself created a minimal example that behaves somewhat similar to `VC43_PO_TC11a`. It is super slow and has `noEvent`.

[code]

Running this in Dymola produces a warning
[code]
but maybe you can specify the parameter `a` to be below the threshold of Dymola but still be slower in OMC.
Of course the original is slightly more complicated, but maybe this is the root issue?

We are not s

[2022-11-15 10:21] niklwors commented on #9533
The missing parts are now visible again. But the labeling is a little wrong now because of the scaling.  The "visible attribute" is actually turned off for the label, but it is displayed anyway.

[2022-11-15 10:26] casella commented on #9695
Sure. It is an easy guess that the current implementation of those set operations in MetaModelica is even more inefficient, which could explain the dismal performance 😅.

For the time being, I am recommending that we don't use that if there are no arrays at all, see #9697, so we don't screw up the scalar models. Later on we may investigate some reasonable thresholds for array sizes.

[2022-11-15 10:28] casella commented on #9697
@perost please take care of this at your earliest convenience. @kabdelhak agrees on the approach, and will remove the default setting of -d=arrayConnect when --newBackend is activated, once this fix is in place.

[2022-11-15 10:52] AnHeuermann commented on #9249
I'm trying to create a minimal C example calling `TILMedia_createExternalObject` and than `TILMedia_VLEFluid_Cached_specificEntropy_pTxi`. I noticed that
[code]
is a very long string, that the path contains a space.

Also `TILMedia_createExternalObject` is only implicitly defined.

-----

The MWE looks something like

[code]

[2022-11-15 11:05] adeas31 commented on #9552
@perost this one is still valid. And is more annoying now since the `getModelInstanceIcon(Rexroth_Generic.SignalBlocks.Interfaces.RealInput)`  works but `getModelInstance(Rexroth_Generic.SignalBlocks.Interfaces.RealInput)` doesn not.

[2022-11-15 11:21] perost opened #9701 "getModelInstance fails on short class definitions"
`getModelInstance` on a short class definition such as
[code]
fails with the error message:
[code]

[2022-11-15 11:23] perost commented on #9552
I thought I had fixed that, but it seems it was something else related to that I fixed and calling `getModelInstance` on any short class definition seems to fail. I opened an issue for it: #9701.

[2022-11-15 11:29] adeas31 commented on #9533
I think the labeling is wrong because of the horizontal alignment (see #8236).

The visible attribute on/off is still under implementation.

[2022-11-15 12:50] #9701 closed

[2022-11-15 13:28] onofriol commented on #5775
I have experienced a similar issue:
Taking a very simple model where a Time Table is used, export it as fmu.
When I try to initialize the fmu using pyFMI library the program crashes. Also using FMpy library to simulate the fmu brings to the same results.

Attached the following files:
- TestFMU_Tables.mo : model
- TestFMU_Tables.fmu : exported fmu (exported for model exchange but I have tried also

[2022-11-15 13:31] casella commented on #9694
Good question. The answer is, we need to be flexible, depending on the requirements, by using flags appropriately. At the moment I see three different use cases:

1. The NF is used as a frontend for the new backend. Here we should leave inlining and record handling to the backend, which will eventually need to handle all possible combinations of arrays, records, and functions. Maybe @kabdelhak can

[2022-11-15 14:01] casella commented on #9533
I would close this ticket since this issue is resolved. Feel free to open another issue regarding the visible attribute

[2022-11-15 14:01] #9533 closed

[2022-11-15 14:05] adeas31 commented on #9552
@perost this is not fixed with #9702

[2022-11-15 14:13] perost commented on #9552
That's just the usual warnings about a missing inner declaration though, they shouldn't affect the actual functionality. Is there still some issue with the icons though?

[2022-11-15 15:12] mahge commented on #5775
This might possibly be related to #9442. Maybe it is time to get to these memory issues sorted out properly because they keep popping up frequently. I am not sure if this is going to be straightforward, but we will see. @AnHeuermann meeting?

[2022-11-15 15:16] mahge commented on #9442
@thiagoalberici sorry for the long long delay. Sometimes it is easy to overlook things. I had been focused on other things that I kept putting this aside to test it out and never getting to it. I hope you have found a workaround for your problem in the meantime.

We will see if we can reproduce the issue and find a fix. Thank you for the analysis, it should make it easier to get started.

[2022-11-15 15:39] adeas31 commented on #9552
Yes, `getModelInstance(Rexroth_Generic.SignalBlocks.Interfaces.RealInput)` still doesn't return anything.

[2022-11-15 16:00] adeas31 commented on #9552
Strange. It works from the command line but not from OMEdit.

[2022-11-15 16:03] adeas31 commented on #9552
Here is the script where it doesn't work,

[code]

[2022-11-15 17:21] casella commented on #9653
@Arinomo please check with the latest nightly, starting `OMEdit --NAPI=true`

[2022-11-15 17:29] casella commented on #9119
@niklwors please check if the amount of obfuscation that you get now is good enough, and if so please close this ticket.

[2022-11-15 17:37] casella commented on #9694
I'll try this out as soon as there is a new nightly build available.

[2022-11-15 17:41] adeas31 commented on #9653
@casella this is not fixed yet.

[2022-11-15 18:22] mwetter opened #9707 "Specifying -s dassl fails simulation, but not specifying it (and using hence dassl as default) works"
### Description

In our CI tests, we run command such as
[code]
This model fails (IBPSA master, 75a5c6909cba535b96e75f60694dcded844b9e55) and OMC, 1.21.0_dev-14-gdf98762-1.

However, if run as
[code]
it simulates. The screen output below shows that if dassl is not specified, omc uses dassl as default. Hence, I would expect specifying `-s dassl` should not have any side effect.

### Steps to Reprod

[2022-11-15 18:59] casella commented on #9707
@AnHeuermann, @mahge any clue?

[2022-11-15 21:06] mahge commented on #9707
Nop. It's baffling. I will take a look.

[2022-11-15 23:17] casella commented on #9251
@perost, I still have several issues, sorry.

I can flatten successfully Type1_N_1_M_1 with these flags:
[code]
However, I need to add
- `combineSubscripts` to shift all subscripts at the end of composite names. If I do that I get "Internal error NFType.subscript got unsubscriptable type $LineConstantImpedance1.portB.InputComplexCurrent"
- --newBackend to avoid flattening records in variable defin

[2022-11-16 07:07] 12Tall commented on #9388
Hello @casella ,
I tested the latest nightly build, it works great. Thank you :)

[2022-11-16 08:07] casella commented on #9131
This is not an issue, the BDF algorithm needs to invert/factorize (I - h*J), which is always non-singular for sufficiently small h even if J is

This is absolutely normal, since x4 is the state variable of an integral controller, whose equation (without considering the limits) is just `der(x) = u`.

[2022-11-16 08:35] casella commented on #9131
I am not 100% sure this is always a good idea. It depends whether or not events are generated. Consider this MWE:
[code]
In this case ODE integration is performed without event handling as `x1` passes the threshold `x1 = 1`. If you want the RHS to be computed correctly at each time step during continuous time integration, you have to take into account the fact that the derivative of x2 actually de

[2022-11-16 09:09] casella commented on #9131
I am confused. Rows should correspond to explicit differential equations and columns to states, right? It seems to me you are showing the transposed sparsity pattern, is that the case. As I understand, given the noEvent and what I wrote previously, the sparsity pattern should be

|    |  x | y |
|--|----|---|
|eq1 | * | * |
|eq2 | 0 | * |

That said, the `test_min` system doesn't have a solution i

[2022-11-16 09:34] casella commented on #9131
Getting back to our problem, I think your MWE is interesting but not necessarily captures the original issue. If I simulate it with no equidistant time grid (so we see the naked variable step-size ODE solver behaviour) with stopTime = 0.52 and Tolerance = 1e-4 and plot der(y) using Dymola, I get what I would expect:
![immagine](https://user-images.githubusercontent.com/4233148/202140297-21fa5e85-1

[2022-11-16 12:25] thiagoalberici commented on #9442
Hi @mahge, unfortunately I haven't found a workaround yet.
The delay is understandable and I really appreciate that maybe you guys can check it out now.
Thanks!

[2022-11-16 13:39] casella commented on #9131
How do you get the Dymola trajectory? I activated protected variable output but still could not visualize that state

[2022-11-16 14:04] casella commented on #9131
Anyway, I'm not seeing chattering in Dymola. The number of steps for the whole simulation is significant:
[code]
but reasonable, given the kind of transient involved:
![immagine](https://user-images.githubusercontent.com/4233148/202199448-80b69a5b-0484-4b4b-b50e-85724a9b6cac.png)

I analyzed the step-size in Dymola, see plots (abscissa is the step number, ordinate is step length):

![immagine](htt

[2022-11-16 14:22] kabdelhak commented on #9624
I added the differentiation of `sum()` in #9709, the model still fails since list for loop generators are not yet correctly parsed, i will keep this open for now until i fixed that.

[2022-11-16 14:26] kabdelhak commented on #9626
I added the differentiation of `smooth()` in #9708 but the problem in this model is that following algebraic loop is detected:
[code]
As we can see this cannot be correct, i assume that this issue stems from the current incorrect array connection algorithm.

[2022-11-16 14:27] AnHeuermann commented on #9131
Yes, it's very annoying. I tried that and the "ignore HideResult" thing in Dymola simulation setup, but it didn't work. So I took the brute force approach and replaced all `HideResult=true` with `HideResult=false` in the BRSL libraries 😆. Good old search and replace.

[2022-11-16 14:30] casella opened #9711 "The solver is chattering but it doesn't show in the plots"
Please simulate the following MWE:
[code]
After time > 0.5, the solution enters a chattering phase: because of the discontinuous RHS, the derivative oscillates extremely fast between a positive and a negative value, keeping y very close to the 0.5 threshold. The variable-step size algorithm estimates large errors (due to the discontinuous behaviour) so it reduces the step size to extremely small v

[2022-11-16 14:31] casella commented on #9131
Please see #9711, I'd like to have your feedback on that specific issue. I will continue investigating this one. I am more and more convinced that there is something fishy in how we currently handle noEvent stuff.

[2022-11-16 15:29] #9521 closed

[2022-11-16 20:31] mahge commented on #9707
The variable `Done` declared [**here**](https://github.com/ibpsa/modelica-ibpsa/blob/35e473ea186902defc585d77b8e2959d704a0a60/IBPSA/Fluid/Geothermal/Borefields/BaseClasses/HeatTransfer/ThermalResponseFactors/gFunction.mo#L41) in function `IBPSA.Fluid.Geothermal.Borefields.BaseClasses.HeatTransfer.ThermalResponseFactors.gFunction` is being [**used uninitialized**](https://github.com/ibpsa/modelica-

[2022-11-17 01:20] mwetter commented on #9707
@mahge : Thanks for catching this. I will correct it in the IBPSA and Buildings libraries. That is indeed an unexpected side effect...

[2022-11-17 07:53] mahge commented on #9707
You are welcome.

[2022-11-17 07:53] #9707 closed

[2022-11-17 07:57] ceraolo opened #9715 "OMEdit does not show simple numerical parameter"
### Description
OMEdit does not show the numerical value of parameters anymore in a simple case

### Steps to Reproduce
- create a new model.
- drag a resistor
- select as value "1.0"
=> the diagram will show "R=R" instead of "R=1.0".

### Expected Behavior

### Screenshots

### Version and OS

 - OpenModelica Version: 1.21.0-dev30
 - OS: Ubuntu 22.04

### Additional Context

[2022-11-17 08:22] ceraolo commented on #5809
Up to a few weeks ago using multiple installations in Windows was simple.
I created some bat files, one per installation, having content of the following type:

set OPENMODELICAHOME=C:\OM\OpenModelica 1.18.0-64bit\
set OPENMODELICALIBRARY=C:\OM\OpenModelica 1.18.0-64bit\lib\omlibrary
"%OPENMODELICAHOME%"\bin\OMEdit.exe

Unfortunately, this seems not to work anymore with 1.20 and later versions, si

[2022-11-17 09:07] casella commented on #9624
I'll open a new ticket when the testing results are available. @kabdelhak if you want to post the new error message here, I can do that right away.

[2022-11-17 09:22] bilderbuchi commented on #9715
Is this not a duplicate of #8966, which you also participated in?

[2022-11-17 09:23] bilderbuchi commented on #9715
Related: #8966

[2022-11-17 10:41] casella opened #9717 "The NF should catch uninitialized variables in functions"
The old frontend was able to catch uninitialized variables in functions. For example, compiling this MWE with the OF
[code]
gave the following warnings:
[code]
This should be ported to the NF as well.

[2022-11-17 10:42] casella commented on #9707
Bravo to @mahge for figuring this out. Side effects an unspecified behaviour are indeed a thing in CS 😄.

I just opened #9717 so that @perost's plan is officially made public and recorded.

[2022-11-17 10:55] casella commented on #5809
@ceraolo, until 1.19.0 we installed libraries in the OpenModelica installation directory, but from 1.20.0 we're using the package manager for that, which installs libraries in the user's .openmodelica directory. This also includes the MSL. So, from1.20.0, the OPENMODELICALIBRARY pathname is no longer specific of the installed version, but rather:

- `%APPDATA%\.openmodelica\libraries` (e.g. C:\Use

[2022-11-17 10:56] casella commented on #5809
See also the User's Guide [here](https://openmodelica.org/doc/OpenModelicaUsersGuide/latest/packagemanager.html#the-package-manager).

[2022-11-17 10:57] AnHeuermann commented on #9711
I can rule out that this is just a display problem. No `der(y)=1` is written into the result file after `time > 0.5`.

After each DASSL step we do an additional ODE evaluation (in `simulationUpdate`) to check if some zero-crossing changed, clock timers need to be added or asserts are thrown. So whenever becomes `der(y)=-0.01` DASSL computes `y=1`. So when we now evaluate the ODE again `der(y)=if n

[2022-11-17 10:57] casella commented on #9715
@ceraolo please check the latest comments in #8966. You can follow up there.

[2022-11-17 10:57] #9715 closed

[2022-11-17 12:29] casella commented on #9626
Just to be clear, I haven't checked these equations against the original mode, but they 100% make sense to me at first sight. The op-amp has an amplification factor of omAmp.V0 unless it hits the positive or negative supply voltages, in which case the output voltage is limited by that.

So, you can see what happens by just differentiating this once more and keeping the discontinuity, or alternativ

[2022-11-17 12:55] bilderbuchi commented on #9509
I just read that FMI 2.0.4 will get a backport of the FMI3[ "build configuration" feature](https://fmi-standard.org/docs/3.0/#BuildConfiguration),  section 2.4.10.6 (unfortunately non hyperlinkable) concerns the `<library>´ element:

I thought this could be relevant to the discussions surrounding library linking and FMU generation.

[2022-11-17 13:09] adeas31 commented on #8966
I fixed only the new api stuff in my last commit. #9718 fixes the old api and the issue reported in #9715.

[2022-11-17 13:12] adeas31 commented on #5809
Maybe just not setting the `OPENMODELICALIBRARY` environment variable in the batch file will solve the issue.

[2022-11-17 14:38] casella commented on #9711
I don't understand, y is a state, why should it be computed to be one?

[2022-11-17 14:47] casella commented on #9711
Anyway, I think I understand what is going on, it depends on the fact that the discontinuity is strongly asymmetric when a  =-0.01.

[2022-11-17 15:03] ceraolo commented on #9715
ok

[2022-11-17 15:08] ceraolo commented on #5809
I knew this. I also read the release notes that give details on this, on the final user point of view.

Just asked if someone already had bat instructions to share.

[2022-11-17 15:10] ceraolo commented on #5809
Wow, it worked!
This may be useful also for others, since I've frequently read people asking of multiple instances of OpenModelica

[2022-11-17 16:28] casella commented on #9711
Consider this even simpler MWE:
[code]
If I simulate it with an explicit algorithm, flags: `-s=gbode -gbm=dopri45 -noEquidistantTimeGrid`, I can see the chattering behaviour:
![immagine](https://user-images.githubusercontent.com/4233148/202479999-2429f451-cf88-4d8e-84f9-3198c5519354.png)
These are the values of time and x close to the discontinuity:
[code]
As you can see, the behaviour with an exp

[2022-11-17 16:44] casella commented on #9711
I think we can draw two conclusions here.

The first is that the behaviour of OMC in the presence of noEvent'd discontinuities and dassl is reasonable. I can't say for certain that it is correct, but it is definitely plausible. In fact, there's no "correct" behaviour of dassl if the fundamental assumptions of variable-order BDF, namely that the RHS is smooth enough, are so blatantly violated.

Whi

[2022-11-17 17:10] mahge commented on #5809
For what it is worth I am not entirely sure you even need to set OPENMODELICAHOME on installed OpenModelica. We might (?) print a warning if is missing. However, everything should work just fine. At least as far as I can see. We know where everything is based on where the `omc` executable itself (more specifically where the dll/so) resides.

We seem to set it internally to communicate between diff

[2022-11-17 18:23] casella commented on #5809
@ceraolo, if you have a set of instructions to manage multiple installations on Windows that are proven to work, please post them here, I can add them to the user's guide.

[2022-11-17 18:26] adeas31 commented on #5809
I am not sure about that. We are still setting the `OPENMODELICAHOME` environment variable from the installer. Maybe it is still used. Would be nice to test without it.

[2022-11-17 18:46] #9711 closed

[2022-11-17 22:37] casella opened #9721 "Optionally log change of conditions inside noEvent()"
Models with conditional expressions within `noEvent()`, possibly obtained by processing the `smooth()` operator, can cause solver issues. The macroscopic observed behaviour in some cases is that the solver takes a lot of very short steps, and possibly with a lot of Jacobian recomputations in the case of stiff solvers, around one per step or more. Debugging this kind of issues may be very challengi

[2022-11-17 22:46] casella commented on #5809
I grep'd OPENMODELICAHOME in the OpenModelica sources, and got 678 occurrences in 272 lines. I guess removing it won't be trivial 😅

[2022-11-17 23:35] perost commented on #5809
@adrpo changed the handling of `OPENMODELICAHOME` in a6054a57¹. Since then we just get the path from the actual installation directory, and we never actually read `OPENMODELICAHOME` from the environment anymore.

So unless I'm missing something there doesn't seem to be any point for a user to have `OPENMODELICAHOME` set, since the compiler will just ignore it anyway. I don't have it set at least,

[2022-11-18 00:03] adrpo commented on #5809
The OMC and the QT clients (well, except OMOptim) do not need OPENMODELICAHOME.
However, all the other clients that need to find omc.exe, OMPython, OMJulia are using OPENMODELICAHOME to find the installation path. On Linux this doesn't matter as it uses whatever omc is in the path, but on Windows it does matter.

[2022-11-18 00:09] adrpo commented on #5809
If OPENMODELICALIBRARY is set, we use it, if not, is constructed from the installation directory and the %APPDATA%. The OM installation on Windows doesn't set it anymore.

[2022-11-18 00:11] adrpo commented on #5809
Basically we could just don't set OPENMODELICAHOME at install time and most of the tools would work fine, but we need to find some better strategy on how to handle OMPython and such.

[2022-11-18 07:01] Arinomo commented on #9652
@adeas31 a quick question, this patch was not included in 1.20.beta, right?

[2022-11-18 07:32] bilderbuchi commented on #5809
Does the Windows installer now allow leaving an existing installation in place?
So far, the first dialog upon executing has been telling me that there is another installation and it needs to be removed, and the only other option is to cancel installation. :confused:

[2022-11-18 07:39] kabdelhak commented on #9626
So solving this equation implicitly even though it contains a `smooth(0, ...)` is expected? I don't really understand how that makes sense to be honest. If the statement cannot be differentiated, solving it implicitly would just be guessing, right?

[2022-11-18 08:01] adrpo commented on #5809
@bilderbuchi I guess that's true, @adeas31 could we remove that check?

[2022-11-18 12:49] niklwors commented on #9552
I tested this ticket and with the current version in  the diagram view there is only a box drawn and not the correct icon

[2022-11-18 15:11] mahge commented on #9552
@niklwors If you are on Windows and using the nightly builds, check your `omc` version and make sure you are not using one that does not include the fix. The nightly builds were broken. They will hopefully be fixed and ready for tomorrow.

[2022-11-18 15:13] adeas31 commented on #5809
Yeah we can allow installation of different versions but not multiple installations of the same version.

[2022-11-18 15:21] adeas31 commented on #9652
No, it is included.

[2022-11-18 15:51] niklwors commented on #9552
I already check the included commits and the fix should be included

[2022-11-18 15:55] casella commented on #5809
That would be great already. For example, one could keep the latest official version and the latest nightly. Sharing the same installed libraries (if we don't change the package manager structure, that is).

It would be nice if one could do that without fancy scripts. I have 3 versions of Dymola installed on my PC and I find it very useful.

[2022-11-18 16:00] casella commented on #9652
@Arinomo you can check the [commit history of maintenance/v1.20](https://github.com/OpenModelica/OpenModelica/commits/maintenance/v1.20), you find it in the first page.

[2022-11-18 16:05] adeas31 commented on #9552
Hmmmm, that is weird. It works fine for me.

[2022-11-18 23:54] casella commented on #9626
No, why should it be so?

There is a fundamental theory of calculus that if you want to solve f(x) = 0 and f(a) > 0, f(b) <0, and f(x) _is continuous_, then at least a solution does exist.

Of course there are multiple if's there: maybe you didn't check the conditions on f(a) and f(b), or you have a multi-dimensional problem where such a theorem does not exist, maybe there are multiple solutions,

[2022-11-18 23:54] casella commented on #9131
OK, so #9711 is now clarified. In order to proceed, getting #9721 done would help a lot. On the other hand, I grep'd all noEvent expressions in the flat model, there are not that many, I'll check all of them ASAP

[2022-11-19 00:08] casella commented on #9131
Based on my comment in [#9626 ](https://github.com/OpenModelica/OpenModelica/issues/9626#issuecomment-1320669349), I have a possible clue here.

Consider this simple case of implicit equation: f(x) = 0 with f(x) = c + if x > 0 then 100*x else x. If you draw y = f(x) on a piece of paper, and use the geometrical interpretation of Newton's method, you can easily see that if you use analytic Jacobian

[2022-11-21 08:38] niklwors commented on #9552
I'll test it again with today's version and let you know then if it works.

[2022-11-21 09:09] niklwors commented on #9552
<img width="848" alt="ticket" src="https://user-images.githubusercontent.com/12269776/203010111-4e58521f-df5a-4c0e-8d7a-f6f38bdf0c5c.png">
Unfortunately, it still does not work for me.

[2022-11-21 12:07] adeas31 commented on #9552
This is the expected behavior. Since the `RealInput` doesn't have any `Diagram` annotation.

Diagram View

![image](https://user-images.githubusercontent.com/4007231/203048473-8d1a297b-b872-4e5c-bd72-414b7d6282a7.png)

Icon View

![image](https://user-images.githubusercontent.com/4007231/203048678-49e690b9-96b5-4369-9169-bc8c8dc5cf8f.png)

This is due to the latest changes that are done to conform

[2022-11-21 12:44] niklwors commented on #9552
Ok, thank you then we will need to  extend our model. I closed the ticked then.

[2022-11-21 12:44] #9552 closed

[2022-11-21 16:40] casella commented on #9251
@perost, I tried to compile `ScalableTestGrids.Models.Type1_N_1_M_1` with flags `-f -d=nonfScalarize,mergeComponents,evaluateAllParameters,vectorizeBindings --frontendInline` but I got
[code]
I'm afraid I need all these flags: I need non-scalarized stuff, I need to collect multiple instances of the same model into arrays, I need to evaluate all parameters for maximally efficient code, and of cours

[2022-11-21 17:17] casella commented on #8966
@christiankral, @max-privato, can you please check with the lastest nightly build and report if the behaviour is good for you?

[2022-11-21 20:06] ceraolo commented on #8966
For me now the behavour is ok.
Good work!

[2022-11-21 21:14] christiankral commented on #8966
This is a very elaborated implementation! I am very much pleased with how it works.

[2022-11-21 21:55] ceraolo opened #9729 "Crazy synchronous machine icon"
### Description

![image](https://user-images.githubusercontent.com/7373030/203165759-eccae11c-75fc-4c82-9afa-8a4a2612e80f.png)

I don't know when this huge white triangle has appeared on the correct icon. It was not there in OM 1.20.0-dev-415
### Version and OS

1.21.0-dev-38 (as reported by Ubuntu)

[2022-11-21 22:31] casella commented on #8966
Glad to hear :)

[2022-11-22 10:54] casella opened #9731 "Issue with Buildings.ThermalZones.EnergyPlus models"
If you check the [Buildings_latest](https://libraries.openmodelica.org/branches/master/Buildings_latest/Buildings_latest.html) report, all the `Buildings.ThermalZones.EnergyPlus_9_6_0` models fail at runtime. Similarly for `Buildings.ThermalZones.EnergyPlus.Examples` in [Buildings 8](https://libraries.openmodelica.org/branches/master/Buildings_8/Buildings_8.html).

The models contain some EnergyPl

[2022-11-22 11:50] AnHeuermann commented on #9721
This is indeed hard to do in the compiler, because we loose the information that some expression `exp` inside `noEvent(exp)` comes from `noEvent` has to do extra stuff for logging. We could do something similar to zero-crossings though.

If `noEvent` is around a boolean we can add some logging of changed conditions. I did this manually for #9131, but with no relevant outputs.
If `exp` is of type r

[2022-11-22 11:53] AnHeuermann commented on #9131
I checked most `noEvent` calls (that are no booleans), but could not detect any chattering after time `t=0.5`:

[code]

I could have missed some (I did the idea of #9721 partially by hand) and I didn't check noEvent on expressions of type real/integer.

[2022-11-22 12:06] adeas31 commented on #9653
@perost with latest changes the `DynamicSelect` is perserved but not `significantDigits`.

The annotation changes from `textString = DynamicSelect("foo", String(resistor.i, significantDigits=3))` to `textString = DynamicSelect("foo", String(resistor.i, 3, 0, true))`

[2022-11-22 12:44] adeas31 commented on #9653
Ahhh okay. I see now that we don't dump this information in the instance api. Yeah maybe then the first step is to add this to instance api.

[2022-11-22 16:23] perost commented on #9697
#9733 should fix the first point about only activating the array connection handling if there are arrays, currently with a completely arbitrary minimum array size of 100. We might add a flag later to set the minimum size if needed.

For the second point I turned on scalarization of connections if `nfScalarize` isn't set _or_ if `newBackend` is set. The reason for this is to preserve the old behavi

[2022-11-22 16:34] #6111 closed

[2022-11-22 16:34] #9453 closed

[2022-11-22 16:38] AnHeuermann commented on #9131
Debugging with @casella and @kabdelhak we found that there is a delay with zero delay time in `Rexroth_Valves.Internal.Templates.Components.ValveDynamics`. Removing `Modelica.Blocks.Nonlinear.FixedDelay fixedDelay` from this example seems to resolve the issue.

So we don't handle zero-delay correctly in this case.

`stopTime=0.6`:
[code]

With the delay we have like 20000 steps instead of 698.

[2022-11-22 20:46] casella commented on #9131
The semantics of `delay(<expr>, delayTime)` when `delayTime = 0` is not very clear in the language specification. I just opened modelica/ModelicaSpecification#3287 on this topic.

While writing that I think I understood what is the root cause of this issue: the block with zero delay is on an important signal path of the model, and I guess that the backend is either not considering that, or conside

[2022-11-22 23:31] casella opened #9735 "Remove delay(<expr>,0) in the NF"
The issue in #9131 is ultimately caused by something going wrong in the Jacobian computation due to `delay()` operators called with `delayTime = 0`. Although the exact mechanism is not yet fully clear, removing those delay operators fixes the problem.

We should then do this directly during flattening. Every time the NF is faced with a call to `delay()` with `delayTime` being a parameter expressio

[2022-11-22 23:31] casella commented on #9131
#9735 proposes a fix in the NF.

[2022-11-23 04:14] ceraolo commented on #8966
It would be great if this fix is made available on 1.20.0.
Thanks

[2022-11-23 07:34] ORANGELCX opened #9736 "Does the tolerance here mean relative tolerance or absolute tolerance?"
### Description
When I use openmodelica to calculate the ode equation, I am very confused about this tolerance. I don't know if it refers to relative error or absolute tolerance.

### Steps to Reproduce

### Expected Behavior

### Screenshots
![DC2DF606-7D80-4F46-B305-C241B479AA62](https://user-images.githubusercontent.com/55785611/203492384-4d2d96d0-1639-41c4-a687-0de728d2637f.png)

### Version a

[2022-11-23 09:43] paultjevdh opened #9738 "elsewhen gives error when reinit variables are different"
### Description
When a 'when' and 'elsewhen' section reinit different variables, omedit throws an error.
### Steps to reproduce
Please try to simulate the following model:
[code]
Logically this would generate two sawtooth signals, with different phase (because they are reset at different times)
This model runs fine in dymola, as well as wolfram system modeler.
![image](https://user-images.githubus

[2022-11-23 10:18] adeas31 commented on #8966
#9739 ports these fixes to 1.20

[2022-11-23 10:49] max-privato commented on #8966
Thanks a lot!

[2022-11-23 10:59] bilderbuchi commented on #9738
This could be an overeager check for [Spec 8.3.5.3](https://specification.modelica.org/master/equations.html#equations-within-when-equations) "same set of component references on the left-hand side", which explicitly excludes `reinit` from that requirement?

[2022-11-23 11:30] perost commented on #9738
Indeed, thanks for pointing that out!

[2022-11-23 11:39] bilderbuchi commented on #9738
Checking this, I also noticed https://github.com/modelica/ModelicaSpecification/issues/3291, but that should not have a bearing on this issue.

[2022-11-23 12:03] #9735 closed

[2022-11-23 13:29] #9738 closed

[2022-11-23 14:04] perost opened #9747 "Some structural parameters in BRSL not detected as such with getModelInstance"
In models that use an inner/outer BRSL_World instance we get parameters such as `bRSL_World.ShowComponentName` which are not evaluated, because the compiler does not consider them to be structural even though they have an `Evaluate = true` annotation.

It's unclear if this only happens with `getModelInstance` or if it's a problem with the instantiation in general.

[2022-11-23 15:34] perost commented on #9697
I had to add another flag `--arrayConnectMinSize` for setting the minimum size of array connections for the array connection handling to be used, since we have test cases that don't easily scale up to the fixed minimum size I set earlier.

[2022-11-24 10:21] casella commented on #9721
Yes, that would be the idea. Of course it would have to be done on purpose.

As I understand from the specification, noEvent suppresses event generation by Real relations ([Section 3.7.5](url)) or by event-generating functions ([Section 3.7.2](https://specification.modelica.org/maint/3.5/operators-and-expressions.html#event-triggering-mathematical-functions)). There's no point putting it around a

[2022-11-24 10:38] twxin opened #9749 "Can genrate c code and compiler to exe,but the exe could run correctly for memory exception."
### Description

I use Openmodelica generate a set of c code and the exe.but it cannot simulate. I port those c code and the low openmodelica support code to Qt IDE, debug and find the local variables in _eqFunction_1(DATA *data, threadData_t *threadData) act abnormally. the pointer type was modified to int type internally by devil. and I tried to set the gcc parameter to -Wl,--stack,96777216,but

[2022-11-24 11:14] AnHeuermann commented on #9721
What I meant was uses like `noEvent(a>0)`, where the type of the expression `a>0` is Boolean. We want to know if this Boolean changes rapidly.

We probably can generate the same "zero-crossings" we generate for the event case (no `noEvent`) and with this check after each time step if they changed compared to the last step. Problem is, we can only call this after an ODE solver step. We won't catch

[2022-11-24 11:22] mahge commented on #9749
Is it possible to provide the source code by email? Otherwise, it will be quite difficult to find the cause.

[2022-11-24 12:35] Arinomo opened #9751 "Focus view jumps back from Plotting to Modelling when a model is double clicked"
### Description

When a simulation is started, the view jumps to Plotting. After it finished, i want to open a model in plotting view to check if the `DynamicSelect` is working, but the said model always shown in Modeling view instead of Plotting.

<details><summary> Test Package </summary>

[code]
</details>

### Steps to Reproduce

1) Load MWE Above
2) Right click on `foo` and click simulate
3)

[2022-11-24 12:39] Arinomo commented on #9653
@adeas31 fyi, I tested the MWE above with v1.20.0-dev.beta2 (64-bit) and the `DynamicSelect` is preserved when the text was moved, so my initial problem was already solved and you can close the ticket if you want. Thanks

[2022-11-24 12:58] bilderbuchi commented on #9751
In step 3., have you tried the blue gears icon ("Diagram window") in the plotting perspective toolbar?

[2022-11-24 13:08] adeas31 commented on #9653
Yes, I know. See my [comment above](https://github.com/OpenModelica/OpenModelica/issues/9653#issuecomment-1323563094).

We should try to preserve now `significantDigits`. Maybe we can keep this issue open for reference.
@casella what do you think?

[2022-11-24 13:10] adeas31 commented on #9751
That is the expected behavior. Click on the `Diagram Window` icon in the plotting perspective toolbar to open the diagram for DynamicSelect.

[2022-11-24 13:19] Arinomo commented on #9751
I see, I was using OMEV1.19 and i used to it always open it directly in plotting view.

Thanks for the tips. One follow-up question, If no model was open, it give you a blank tab (obviously!) and if you double click `foo` from library browser, it still jumps to modelling view. If you have other model opened, for example `constantCurrentLoad`, then that model will be shown when the `Diagram Window`

[2022-11-24 13:32] adeas31 commented on #9751
Yes, we changed it always open model in Modeling perspective since it was creating confusion.

The `Diagram Window` will always show whatever is the active model in Modeling perspective.

[2022-11-24 14:10] casella commented on #9697
@kabdelhak I just started a newInst-newBackend library test job. Let's see what happens with this change.

[2022-11-24 14:13] casella commented on #8966
@adeas31 does this need another beta for testing, or can be reasonably sure it works out of the box?

[2022-11-24 14:24] perost commented on #9697
@casella: Yes, the first point to fix was to only activate the array connection handling if there's actually array connections present. I thought that wasn't a good enough condition since a lot of models have at least some array connections, but they're usually quite small. So I added an additional limit to how large the array connections have to be to activate the array connection handling.

So s

[2022-11-24 14:34] AnHeuermann opened #9752 "zero delay time creates endless-loop"
### Description

As shown in https://github.com/OpenModelica/OpenModelica/issues/9131 `delay` with `delayTime=0` is problematic.
The specification is not super clear about this, see https://github.com/modelica/ModelicaSpecification/issues/3287 and https://github.com/modelica/ModelicaSpecification/issues/3245.

With https://github.com/OpenModelica/OpenModelica/pull/9740 the situation improved a bit

[2022-11-24 14:35] casella commented on #9735
BTW, there is some discussion to forbid delayTime = 0 in MLS 3.6, see modelica/ModelicaSpecification#3287. In that case, we may add a warning and eventually an error here. However this doesn't harm for the time being - in fact, I expect it to do some good 😄

[2022-11-24 14:53] casella commented on #9752
@AnHeuermann maybe completely disallowing zero delay is a bit drastic, see how the discussion in modelica/ModelicaSpecification#3287. IMHO, allowing delayTime to be a zero valued parameter expression is ok, which is exactly what we are supporting now after @perost's last commit.

The case put forth in the above example is interesting, I believe the right solution is to generate a _runtime error_ w

[2022-11-24 15:12] casella commented on #9731
Jenkins now uses `_` instead of `@`. Most of the failing tests now work again.

Most `Buildings.ThermalZones.EnergyPlus_9_6_0.Examples.SmallOffice`still fail, presumably because of slow simulations triggering timeouts.

[2022-11-24 15:12] #9731 closed

[2022-11-24 15:40] AnHeuermann commented on #9752
For now I'll just throw an error at runtime if `delayTime` becomes too small. I'm using the minimum allowed step size (1e-13) for `eps`.

[code]

If we want to support `delayTime=0` we need to have a closer look at our delay implementation again. If nobody needs this feature I would prefer to not spend too much time on this. We can merge my changes and see how many models this affects during the n

[2022-11-24 15:56] christiankral opened #9754 "Plot cursor shows wrong value when unit prefixes are used"
### Description

When ploting a quanitity with unit prefixes, the currsor value is not correct.

### Steps to Reproduce

1. Simulate `Modelica.Electrical.Machines.Examples.InductionMachines.IMC_DOL`
2. Plot `aimc.powerBalance.powerStator`

![image](https://user-images.githubusercontent.com/4184218/203822503-5e370618-50f0-45aa-abcd-b8a9235ba34c.png)

This cursor shows:
**(kW)**
**Value: 67016.1**

[2022-11-24 15:56] casella commented on #9721
OK, now I see what you mean.

Yes, this is the main issue.

[2022-11-24 16:01] christiankral commented on #9754
@casella Please correct me if I am wrong: I think that displaying the correct simulation result is a very high priority for a stable release version. On my opinion the fix of this issue shall be included in the next stable release version.

[2022-11-24 16:16] casella commented on #9721
@AnHeuermann maybe I came up with a reasonable brute force solution, which is IMO good enough for debugging and should be straightforward to implement.

For each Boolean conditional expression that shows up in if-expressions enclosed by `noEvent`, the backend generates a Boolean `$noEventXXX` auxiliary variable and an equation assigning it to a that conditional expression with a noEvent. For examp

[2022-11-24 16:19] casella commented on #9735
@perost, unfortunately I cannot yet test this because the Windows nightly builds are broken. Would you mind testing if the BR test model `Rexroth_Valves_Test.Valves_4WR.Rexroth_4WSE2ED10_5X_5.VC43_PO_TC11a` simulates with a reasonable number of steps and Jacobian computations (not one million of them)?

[2022-11-24 16:26] perost commented on #9735
LOG_STATS gives me:
[code]

[2022-11-24 16:40] casella commented on #9751
I understand this is resolved, if not please reopen.

[2022-11-24 16:40] #9751 closed

[2022-11-24 16:45] perost commented on #9251
@casella: #9755 should fix the issue.

[2022-11-24 16:48] casella opened #9756 "Preserve significantDigits in DynamicSelect when using the new instance-based GUI"
Edit this MWE
[code]
by running OMEdit --NAPI=true.

After #9653 was fixed, when moving the 'foo' text in the diagram view the DynamicSelect call is preserved, but the significantDigit input is lost: the annotation changes from textString = DynamicSelect("foo", String(resistor.i, significantDigits=3)) to textString = DynamicSelect("foo", String(resistor.i, 3, 0, true)).

See [this comment in #9653

[2022-11-24 16:48] casella commented on #9653
See #9756 😃

[2022-11-24 16:48] #9653 closed

[2022-11-24 16:57] casella commented on #9697
I'm still unsure about his heuristics. I'd say 100 is too large anyway, why would we want to generate 99 separate code chunks to handle 99 connect statements when we can generate a single code chunk that handles all of them? Unless the overhead of arrayConnection algorithm is really huge, I would rather put th limit to 5 or 10 at most.

Besides, you could have small array connects inside a model,

[2022-11-24 17:06] casella commented on #5470
Original ticket: https://trac.openmodelica.org/OpenModelica/ticket/5470

[2022-11-24 17:13] casella commented on #9752
LGTM.

I'm fine at using the minimum step size for `eps`. I'm not sure where does 1e-13 come from, though. Could you please check the discussion in the original track ticket #5470? I'm not sure what was the final outcome of that.

We have to make sure that we reasonable values are obtained also in cases such as Modelica.Electrical.Spice3.Examples.Inverter, which has `StopTime=1e-11` and `Interval=

[2022-11-24 17:17] #9752 closed

[2022-11-24 17:25] casella commented on #9735
Sounds reasonable, this is a non-trivial simulation that takes quite some steps. Before this fix, we had this result:
[code]
so we reduced the number of steps by a factor 200 and the number of Jacobian evaluations by a factor 1000. Not bad :)

[2022-11-24 17:29] casella commented on #9131
@niklwors, the test cases you reported above now runs with the following statistics:
[code]
so we reduced the number of steps by a factor 200 and the number of Jacobian evaluations by a factor 1000.

Please test as soon as the nightly builds incorporate PR #9740 and reopen if you find the same issue with other models.

[2022-11-24 17:29] #9131 closed

[2022-11-24 17:36] casella commented on #9754
Oops, we missed that, good that you spotted it out 😅. @christiankral you are absolutely right. I guess one could easily figure out that what is displayed is 67015 W (not MW), but it's definitely not nice.

@adeas31 this looks like a quick fix, could you sneak it in maintenance/v1.20 tomorrow?

[2022-11-24 17:40] casella commented on #9251
Great, thanks!

@mscuttari with this fix we should be able to proceed with the model, by also replacing saturations with smooth expressions in the Modelica source code.

[2022-11-24 17:44] casella commented on #9731
@mwetter, you can check the [regression report](https://libraries.openmodelica.org/branches/history/master/2022-11-21%2022:25:55..2022-11-23%2000:59:38.html) showing the models being restored to good functioning. We still need to figure out what's wrong with the SmallOffice models, but that's another issue.

[2022-11-24 17:56] casella commented on #9735
I hoped this could also help with the library testuite, unfortunately the [regression report](https://libraries.openmodelica.org/branches/history/master/2022-11-23%2000:59:38..2022-11-23%2015:42:13.html) where this commit was introduced only shows one improvement in Buildings_8.

Too bad, we'll have to look for something else.

[2022-11-24 19:20] adeas31 commented on #8966
I successfully tested the maintenance branch but its always good to have a beta.

[2022-11-24 20:26] perost commented on #9697
If you have an array of 50 models which each contain a connect statement of size 20, then it would be considered a size of 1000 and use the array connection algorithm with the default limit.

I tried to construct such a model to see what the performance would be but couldn't make one that worked, it seems the array connection algorithm can't handle arrays in arrays somehow. The regular connection

[2022-11-25 07:15] bilderbuchi commented on #9754
did this PR by chance accidentally also fix #8478, which is the same class of bug (wrong unit vs. values in plots).

[2022-11-25 08:26] niklwors commented on #9131
Thank you very much @casella @AnHeuermann @kabdelhak this looks very good. I will test it with our test library and let you know.

[2022-11-25 11:00] dietmarw commented on #9377
@adeas31 Any chance to get this in for 1.21.0?

[2022-11-25 12:13] dietmarw opened #9759 "Unclear instructions on setting the MODELICAPATH in OMEdit"
### Description

When a user wants to set several paths for `MODELICAPATH` in Options -> Libraries, the tooltip gives rather unclear instructions as to achieve this:

"List of paths searched while loading a library. Paths are separated by **native path separator**."

Now the term "native path separator" could be interpreted either as "/" and "\\" or as ";" and ":". The former is especially for non

[2022-11-25 12:14] #9747 closed

[2022-11-25 12:29] #9754 closed

[2022-11-25 12:29] #8478 closed

[2022-11-25 12:31] dietmarw opened #9760 "Loading encrypted/read-only libraries specified by "uses" fails."
### Description

When a library points to an encrypted or simply read-only library in `mol`

### Steps to Reproduce

1. Unzip [MWE_mol.zip](https://github.com/OpenModelica/OpenModelica/files/10092740/MWE_mol.zip) to a test directory.
2. open `A/package.mo`
3. you will notice that only `B` will be opened but `C` is not recognised.

Adding the test directory to `MODELICAPATH` does not help.

### Exp

[2022-11-25 13:51] AnHeuermann commented on #9721
Sounds reasonable, but its harder to implement than I initially thought because of the way our code generation is.

[2022-11-25 14:24] mwetter commented on #9731
Thanks for fixing the `EnergyPlus_9_6_0` tests, which look good apart from some of the models that seem to have simulation issues.

Also, a frequent occurrence that leads some models to fail is
`division by zero at time 0, (a=0) / (b=0), where divisor b expression is: hvac.cooCoi.m1_flow + hvac.ideVal.preMasFlo.m_flow`.
This affects
`
Buildings.Air.Systems.SingleZone.VAV.Examples.ChillerDXHeatingE

[2022-11-25 14:54] niklwors commented on #9119
I have tested  it with OMEdit encrypted version from yesterday. But here the obfuscation is switched off and also all comments are visible.

[2022-11-25 15:51] niklwors commented on #9131
Thank you very much for your great work and effort. The models now are simulating fast.

[2022-11-25 16:01] #9717 closed

[2022-11-25 16:10] perost commented on #9717
#9761 adds a check for using uninitialized values in functions, it's not perfect but should be approximately the same as in the OF. #9763 additionally adds a check for uninitialized outputs since the algorithm returns those anyway.

It's a bit inconsistent because the first is just a warning while the second is an error, because that's how they were already defined. Perhaps both should be an error

[2022-11-25 16:35] adeas31 commented on #9754
Ported this to 1.20 #9765

[2022-11-25 16:37] adeas31 commented on #9377
@casella shall we squeeze this in 1.20? Theoretically speaking this is an enhancement but is good to have it in 1.20

[2022-11-25 16:47] adeas31 commented on #9759
This one can definitely go in 1.20

[2022-11-25 17:17] #9759 closed

[2022-11-25 17:18] #9377 closed

[2022-11-26 12:37] hkiel opened #9772 "Segmentation fault"
### Description

Using comprehension with threaded lists (MetaModelica) causes segmentation fault in omc if list lengths are different.

### Steps to Reproduce

[code]
[code]

### Expected Behavior

No crash, but an error.

[2022-11-26 17:54] casella commented on #8966
OK, I asked @adrpo to make one final beta on Slack. Thanks!

[2022-11-26 18:12] casella commented on #9697
OK, this sounds reasonable.

You can maybe take some tests from this package [TestArray,mo.txt](https://github.com/OpenModelica/OpenModelica/files/10096768/TestArray.mo.txt), or just instantiate an array of some of the ScalableTestSuite models that use connects, e.g. TransmissionLineModelica.

As I understand, 99% of the models of the library testsuite do not have array connects, so I understand i

[2022-11-26 18:50] casella commented on #9697
Anyway, I'm still a totally confused about what is going on with the flags.

First of all, in the [ScalableTestSuite report using the NF and the old backend](https://libraries.openmodelica.org/branches/master/ScalableTestSuite_noopt/ScalableTestSuite_noopt.html), all models pass the frontend successfully, except a few ones that are so large they are probably running out of memory. When the new bac

[2022-11-26 19:01] perost commented on #9697
@casella: The error message is from the array connection handling, like I mentioned earlier it seems to have some issues with nested for-loops (the `$i1` is most likely an iterator created by the non-scalarized flattening).

[2022-11-26 19:03] casella commented on #9697
A second thing I don't understand in that [test report](https://libraries.openmodelica.org/branches/newInst-newBackend/ScalableTestSuite_noopt/ScalableTestSuite_noopt.html) is how the TransmissionLineModelica models fail.

If you check [TransmissionLineModelica_N_10](https://libraries.openmodelica.org/branches/newInst-newBackend/ScalableTestSuite_noopt/files/ScalableTestSuite_noopt_ScalableTestSui

[2022-11-26 19:22] casella commented on #9697
OK, so basically all the two-dimensional tests in ScalableTestSuite with overall array connection size >= 0 will fail.

[2022-11-26 20:12] casella commented on #9697
@perost, I guess we have some more basic issues to fix here, sorry for this ticket becoming a bit crowded.

Please consider this MWE:

[code]
This is the flat scalar model:
[code]
If I flatten it with just `-d=nonfScalarize` (no arrayConnect) I get:
[code]
The first three equations are the correct flattened scalarized connection equations. Unfortunately the fourth equation is also generated, that

[2022-11-26 20:18] casella commented on #8014
I have one even simpler MWE to debug the array connection algorithm:
[code]
When I flatten `S` with `-d=nonfScalarize,arrayConnect --arrayConnectMinSize=1`, I get the correct result:
[code]
However, if I change to `S(N=3)` I get:
[code]
where the third equation lacks the `m[3].port.i term` and the fifth equation should not be there in the first place.

I hope this example is simple enough to debug

[2022-11-26 20:20] casella commented on #9697
@ernestokofman, is your array connect algorithm meant to also work with multi-dimensional arrays?

[2022-11-26 20:24] casella commented on #9377
We have to draw a line somewhere, otherwise 1.20.0 will never be released 😅

@dietmarw I hope you are fine getting this in 1.21.0

[2022-11-26 21:13] ernestokofman commented on #9697
Yes, our implementation works with multi-dimensional arrays. I don't
know about OpenModelica's implementation.

On 26/11/22 17:20, Francesco Casella wrote:

[2022-11-27 12:18] casella commented on #9759
Agreed, mind porting it to maintenance/v1.20?

[2022-11-27 12:29] casella commented on #9760
@dietmarw correct me if I'm wrong, but I'm afraid the problem here is that the whole package encryption issue is not yet standardized. There is work going on, see e.g. modelica/ModelicaSpecification#1868, but it's not done yet. Files with .mol extension are not even mentioned in the MLS, not event in the current [3.6 draft](https://specification.modelica.org/master/MLS.pdf).

I'm not sure what sho

[2022-11-27 12:30] casella commented on #9721
Is it doable in a reasonable amount of time? We don't need anything particularly sophisticated.

[2022-11-27 14:15] paultjevdh opened #9774 "DisplayUnit "eV" gives scripting error"
### Description
Openmodelica throws an error on first compilation of the model below. This is strange, because eV is the proper unit for fermi energy. It is also strange because the error is only thrown on the first compilation.

### Steps to reproduce
Please run the model below in a freshly startted omedit
[code]
The error that is thrown is:
![image](https://user-images.githubusercontent.com/5908

[2022-11-27 14:24] paultjevdh opened #9775 "Confusion of J en eV"
### Description
openmodelica seems confused about the difference between J and eV (which is 1.6e-19)
The model below simulates energy and initializes it at -1, which should be joule since the unit of energy is default joule.
When simulated, b is initialized with -1 eV

### Steps to reproduce
Run the model below
'''
model Test_eV
Modelica.Units.SI.Energy b(displayUnit="eV");
initial equation
b=-1;

[2022-11-27 15:12] casella commented on #9119
This is weird. @perost wrote:

So, as I understand, as soon as there are encrypted classes involved in the flattened model,  `--obfuscate=encrypted` should be automatically activated, and as a consequence C comments removed.

@niklwors can you please post the full version information of the encrypted version of omc you are using? Maybe it does not yet contain some commits for some reason.

[2022-11-27 15:14] casella commented on #9717
If you are sure that false positives are unlikely, I would make it an error. But we have to be 100% certain about that.

[2022-11-27 15:34] casella commented on #9774
I guess this is an error in the Modelica Standard Library.

FermiEnergy is defined in the Modelica.Units.SI package as
[code]
Now, the SI unit for energy is "J" (Joule). "eV" is mentioned as a non-SI unit that can be used, together with degree, minute, hour, litre, etc. So, I guess the correct definition should be
[code]
with 1 eV = 1.602176634e-10 J.

I opened modelica/ModelicaStandardLibrary#406

[2022-11-27 15:36] casella commented on #9775
This is basically a duplicate of #9774. Once the MSL is fixed, we should just make sure that OMEdit has the right conversion factor between unit="J" and displayUnit="eV".

[2022-11-27 16:15] perost commented on #9717
It seems we do get one false positive in the library testing, one of the ThermoPower models guards a function from being called with an if-expression. So if we want to allow such functions as long as they're not actually called I guess we need to change it to be a warning instead.

[2022-11-27 17:59] casella opened #9776 "Connection equations not generated by OMEdit"
### Description

I am using v1.21.0-dev-54-g353082d6a1. If I start building a new model, when I make connections with the GUI they are displayed, but do not show up in the source code. If I save, quit, and reopen, they are gone.

Not sure when this started. I cannot check with the betas because I don't have enough bandwidth right now, but I'll check with the latest OpenModelica-v1.20.0-dev-444-g13

[2022-11-27 18:14] casella commented on #9776
13fe6b7 is OK from this point of view

[2022-11-27 21:03] adrpo commented on #9776
Diagram:
![image](https://user-images.githubusercontent.com/4192979/204159421-b3ebde6e-04e4-4461-adf4-1b678ab66235.png)

Text:
![image](https://user-images.githubusercontent.com/4192979/204159402-ed4d3dd9-0b18-4179-9ed0-5309673aaf15.png)

OMEdit log:
[omeditcommunication.zip](https://github.com/OpenModelica/OpenModelica/files/10099191/omeditcommunication.zip)

[2022-11-27 22:12] adrpo commented on #9776
The problem was that there were some changes in the handling of Line annotations which introduced a bug:
[code]
After my fix it should work fine.

[2022-11-27 22:26] #9776 closed

[2022-11-27 22:39] casella opened #9778 "simplifyInStream module performs incorrect transformations"
Several models of the Buildings library fail because of division by zero, see e.g. [Buildings.Air.Systems.SingleZone.VAV.Examples.Guideline36](https://libraries.openmodelica.org/branches/master/Buildings_8/files/Buildings_8_Buildings.Air.Systems.SingleZone.VAV.Examples.Guideline36.sim).

The simulation fails immediately after initialization with
[code]

The 0/0 expression comes from the computatio

[2022-11-27 22:41] casella commented on #9731
Thanks @mwetter for pointing out this other issue, see  #9778. Given all the information available, it shouldn't be too hard to fix it.

[2022-11-28 07:33] adeas31 commented on #9776
Thanks @adrpo

[2022-11-28 07:52] adeas31 commented on #9119
The latest encryption build contains b36361301f0c0aa32ee13cac438fd899ae19bedb which should enable the obfuscation for encrypted classes.

[2022-11-28 08:00] adeas31 commented on #9759
Done. See #9781

[2022-11-28 08:05] dietmarw commented on #9760
@casella This is not a question of the encryption standardization but of the support of OpenModelica's own formats. OpenModelica offers the nice feature of saving packages in `mol` format (also without encryption as read-only package). The problem is that it does not support the loading of its own format the way it supports the loading of normal Modelica packages. That's what this ticket is about.

[2022-11-28 08:09] dietmarw commented on #9377
@casella If you look above, I never asked it to be part of 1.20.0 but was hoping for 1.21.0 :-)

[2022-11-28 08:15] adeas31 commented on #9377
Yeah that is true. It was just me who thought we can get this in 1.20 :).
It seems it is better to have this in 1.21

[2022-11-28 09:49] perost commented on #9119
Maybe there's something wrong with how we detect encrypted libraries? We check if any filenames end with `.moc`, since that's how the other encryption stuff seems to do it.

[2022-11-28 10:47] casella commented on #9119
I am a bit confused here, is it .moc, .moe, .mol, ...?

I understand there is some discussion in the MA about standardization (see e.g. modelica/ModelicaSpecification#1868, but nothing definite yet.

@niklwors can you point out the relevant documents you refer to and how would you think this should be handled?

Anyway, if you open an encrypted library, of course tools needs to detect that it is en

[2022-11-28 10:52] casella commented on #9760
Fair enough. We should then update the class loader to also look for .mol files in the MODELICAPATH. @perost could you take care of that?

[2022-11-28 10:52] AnHeuermann opened #9782 "FMU output causality messed up"
### Description

When translating

[code]

`T` is the state variable and `q` is computed from input `Tref1` and state variable `T`
[code]

When creating a Co-Simulation FMU the resulting sorted equations look completely differently:

[code]

### Steps to Reproduce

[code]

[code]

[code]

Now generate Co-Simulation FMUs for `TestModel` and `SomeInput` and connect them in an SSP model:
![image](htt

[2022-11-28 11:00] AnHeuermann commented on #9721
I don't think so. The structure inside template functions `daeExpCall` and `daeExp` is ... challenging.
We need to add a function call to the temp variable generated by `noEvent(exp)`. We have functionalities to add additional variables and expressions in front of `exp`, but not after `exp` is calculated. And we don't have access to the name of the temp variable(s) generated for `exp`.

[2022-11-28 11:04] perost commented on #9760
There's an old PR, #8313, that implements loading of .mol-files. But it's not merged since there's some open questions about how to actually do it properly, and some parts needs to be improved.

[2022-11-28 11:12] dietmarw commented on #9760
At the same time, the loading of packages in single file format can be fixed. Currently, only `A/package.mo` gets loaded automatically but not `A.mo`.

[2022-11-28 11:41] adeas31 commented on #9119
.mol is just the container zip that can contain .mo or .moc files. The .moe is Dymola extension for encrypted classes.

@niklwors please upload the encrypted library that you are using to dev.

[2022-11-28 12:57] perost commented on #9697
Ok, so this is a bit of a mess.

- If you only use `-d=nonfScalarize` then you get the old behaviour which doesn't scalarize anything and only works for some cases, which is by design due to the old Bosch test cases relying on this.
- If you use the `--newBackend` flag (which implies `-d=arrayConnect` but apparently not `-d=nonfScalarize`) then the compiler will select the connection algorithm bas

[2022-11-28 13:28] ANaumann85 opened #9785 "FMU & inputs"
### Discussed in https://github.com/OpenModelica/OpenModelica/discussions/9768

<div type='discussions-op-text'>

<sup>Originally posted by **ANaumann85** November 25, 2022</sup>
Are input variables in modelica assumed to be constant in time? See for example the following simple model:

[code]

where Tref1 is assumed to be a time dependent input.

When I generate an FMU in cosimulation mode with t

[2022-11-28 15:44] niklwors commented on #9119
I have unfortunately mixed up the C code files. The protected parameters are obfuscated, but the comments are still contained in the bnd.c files. e.g
[code]

[2022-11-28 16:05] adeas31 commented on #9119
@phannebohm seems your fix bc58710cec2098899437cacb061f983203a2b8c4 is not working as expected.

[2022-11-28 16:58] phannebohm commented on #9119
@niklwors thanks for testing! Unfortunately I can't test encrypted models myself at the moment. Do the comments still appear with `--obfuscate=full`? If they do, I probably forgot a place and will update it. If not, perhaps you can change the condition in lines 176-177 yourself and test what works:
https://github.com/OpenModelica/OpenModelica/blob/65f19a86507c1e2f42d09a187764197d3023dcff/OMCompile

[2022-11-28 17:05] hkiel commented on #9414
A MWE for the above NB error is the following model, which works fine for the old backend. It works again if you replace the second equation by `y = der(sin(time));`
[code]

[2022-11-28 17:10] phannebohm commented on #9778
@casella thanks for the detailed investigation! This should make it easy to find the root cause. I found https://trac.openmodelica.org/OpenModelica/ticket/5104 in which replacements, similar to those you mention here, were requested and implemented. I would need to dig a little deeper to clarify this.

Confusingly though, when I run Buildings.Air.Systems.SingleZone.VAV.Examples.Guideline36 on my m

[2022-11-28 17:29] casella opened #9790 "Small issue when installing 1.20.0-dev.beta3 for the first time"
I tried to replicate a fresh installation of 1.20.0-dev.beta3 by deleting my .openmodelica directory. When I first start OMEdit, it automatically triggers the installation of MSL. This is the output on the log window:
[code]
The error at step [9] apparently has no consequences and only shows up the first time one runs OMEdit, but it's not nice to see, since it is highlighted in red.

Maybe we can

[2022-11-28 17:38] casella opened #9791 "Cannot update library index in 1.20.0-dev.beta3"
After a fresh installation of 1.20.0-dev.beta3 on Windows 10 (I first deleted the contents of my .openmodelica directory), I tried to run File | Manage Libraries | Update library index. Unfortunately, I get the following output:
[code]
First of all, the error shouldn't be there. Second, despite the claim that the package index has been downloaded, the Install library menu still shows the four buil

[2022-11-28 17:39] casella commented on #9790
I'm afraid this is related to the much more critical #9791.

[2022-11-28 21:45] ANaumann85 commented on #9785
The [table](https://github.com/ANaumann85/openmodelica-fmu/actions/runs/3568787019/attempts/1#summary-9755955840) runs the comparison with the analytical solution using different index reduction methods.

[2022-11-28 21:49] #9791 closed

[2022-11-29 08:12] adeas31 opened #9796 "Unimplemented case of DynamicSelect"
### Description

`DynamicSelect` is not fully supported by the instance api.

### Steps to Reproduce

Use the following MWE,

[code]

Calling `getModeInstance(M)` gives the error that `Unimplemented case of DynamicSelect`. The `DynamicSelect` expression on `extent` produces the wrong JSON output whereas the `DynamicSelect` expression on `fillColor` works fine.

### Expected Behavior

Should work w

[2022-11-29 09:09] paultjevdh commented on #9775
When studying the openmodelica code I found \OMCompiler\Compiler\FrontEnd\FUnit.mo
It seems something has worked previously, or was planned but abandoned.

[2022-11-29 09:23] niklwors commented on #9119
To me the condition looks right, so I don't know how to change it either.
With ```--obfuscate=protected```all comments are removed. If I use the flag ```--obfuscate=encrypted``` on an unencrypted library but use protection annotation the comments are not removed.

[2022-11-29 10:16] adeas31 commented on #9119
Perhaps the sourceinfo is not correct in the template i.e., the problem might be in `Util.endsWith(fileName, ".moc")`.

@phannebohm you can always check you changes with the built encryption version of OM.

[2022-11-29 10:58] casella commented on #9782
@AnHeuermann, I don't get why the output equation should get differentiated at all, adding another state to the system, regardless of the fact that the input is constant or time-varying. Why should output equations be differentiated in the first place?

[2022-11-29 11:01] casella commented on #9721
Sounds good to me, as long as the logging is done every time the RHS is evaluated, not only at the end of the accepted simulation step. Otherwise we could be missing a lot of stuff going wrong during Newton iterations, Jacobian computations, etc.

[2022-11-29 11:31] #9796 closed

[2022-11-29 11:39] casella commented on #9760
Ops. @perost can you please check that.

[2022-11-29 11:42] mahge opened #9799 "Test case OverdeterminedInitialization.Fluid.DynamicPipesSeriesLargeNSteadyStateInitial is too slow."
### Description

The test case `OverdeterminedInitialization.Fluid.DynamicPipesSeriesLargeNSteadyStateInitial.mos` is running very slow and is consistently keeping the CI busy.

The jobs `testsuite-gcc 1/3` and `testsuite-gcc 1/3` usually take a long time due to this test. All other tests in these jobs (running in parallel) finish before this one test case is done. That is, about 1520 tests runnin

[2022-11-29 11:49] perost commented on #9119
It seems one issue is that I only implemented the automatic obfuscation with the frontend in mind, so it reverts the `obfuscate` flag back to its original value after the frontend is done. So in case we automatically set it to `encrypted` when there are encrypted libraries present we don't see that in the code generation.

I fixed that issue in #9800 by just removing the line that sets the flag to

[2022-11-29 11:51] adeas31 commented on #9119
I tested #9800 locally and it works as expected.
@niklwors I will start the encryption build once #9800 is merged.

[2022-11-29 12:02] casella commented on #9697
Let's try to sort things out nicely then 😄

I was not aware of those test cases. Are they still relevant? Or can we move on with that?

The MARCO compiler and also other developments (e.g. the eFMI flat Modelica output) rely on the fact that you can get correct, non-scalarized flat Modelica out of OMC. "Only work for some cases" is not really an option, it should always produce a correct result, p

[2022-11-29 12:03] perost commented on #9799
The testcase was added by @lochel in [21173](https://trac.openmodelica.org/OpenModelica/changeset/21173/), maybe he can anwer whether it needs to be that big. Otherwise it can be scaled down trivially by just changing the `nNodes` parameter.

[2022-11-29 12:11] perost commented on #9697
@rfranke can perhaps comment on whether the non-scalarized test cases are still relevant for him, and whether he really needs the specific behaviour of the connection handling that they use (which is that it generates `array = array` equations, but it doesn't work if an array should belong to multiple connection sets).

[2022-11-29 12:16] kabdelhak commented on #9697
`--newBackend` does imply not scalarizing

[code]
is at the start of the simcode new backend pipeline. Maybe this is not the correct way to do it so Per thought it's not implied. Is there a structure for flags implying other flags?

[2022-11-29 12:22] AnHeuermann opened #9802 "Derivatives of input no fatal error"
### Description

When translating a model where an input needs to be differentiated omc reports an error but won't stop the translation. Instead it fails to compile the garbage C code later on.

### Steps to Reproduce

[code]

[code]

Error message:
[code]

### Expected Behavior

Brake at the first reported error and don't continue.

### Version and OS

 - OpenModelica Version: v1.21.0-dev-77-gf53

[2022-11-29 12:25] AnHeuermann commented on #9782
Looks like the issue comes from `introduceOutputRealDerivatives`. This was done by @arun3688 for directional derivatives for FMI I think. Basically the output equation

[code]

get's replaced by its differentiated version, so `q` becomes a state. Problem is, that we don't have the derivative of input variable `Tref1`.  Instead of failing we generate the wrong equation
[code]
where the derivative f

[2022-11-29 12:36] perost commented on #9697
I changed it in #9803 so that we do that at the beginning of the frontend instead. Doing it in SimCode means that they're only set if you use one of the API functions that use `translateModel`, and not when using `omc` directly from the command line or calling e.g. `instantiateModel`.

As part of the change I also removed setting the `SCODE_INST` flag, since that's the default anyway. If someone w

[2022-11-29 12:48] casella commented on #5104
Original ticket: https://trac.openmodelica.org/OpenModelica/ticket/5104

[2022-11-29 12:48] casella commented on #9778
Ops, maybe I overlooked something there. I will have a look and report in this ticket. Thanks for pointing that out!

I was testing with 8.1.3, maybe there are some subtle differences that cause the different outcome.

In general, I'd say no. One can try to go ahead with numerical tricks handling 0/0 forms, but the results are typically fragile and may work or not work depending on where the wind

[2022-11-29 13:03] AnHeuermann commented on #9249
@HSchatzTLK and @CSchulzeTLK fixed the issue inside the TILMedia library.
So when the fix get's pushed to TILMedia and ClaRa this should work.

[2022-11-29 13:08] casella commented on #9778
I report the list of simplification rules from the old ticket here, for convenience

1. inStream introduces positiveMax(cref, eps) and positiveMax(-cref, eps)
2. simplify positiveMax in Backend after removeSimpleEquation and EvaluateParameter and before IndexReduction
3. positiveMax(cref, eps) = cref where variable is constant >= 0
4. positiveMax(-cref, eps) = -cref where variable is constant <= 0

[2022-11-29 13:14] casella commented on #9778
I guess I went too far with them.

The first idea is that if a fluid never flows out of a certain port (as guaranteed by min/max flow variable attributes), then it will never influence the mixing quantity, so positiveMax can safely return zero. That's rules 5. and 6. Those rules are OK.

The second idea was to exploit the fact that if the fluid never flows into a certain port, we could get rid of

[2022-11-29 14:14] niklwors commented on #9118
For some reason, this problem has been fixed.

[2022-11-29 14:14] #9118 closed

[2022-11-29 15:02] perost commented on #9380
#9807 implements better dumping of `choices`, but it's not perfect.

An annotation like:
[code]
is dumped as:
[code]
I.e. we merge the choices into an array, while other modifiers like `checkBox` are dumped like normal. Since the `choice` is a modifier rather than a value they're dumped as an `scodeModifier`, i.e. as strings with optional `final` and `each` attributes.

I also added dumping of red

[2022-11-29 15:23] sbaetzing commented on #4346
@casella, i am very sorry for the late response.
Tested it again with nightly build (27.11.2022). Behavior seems to be identical.

value of hideResult annotation is still only evaluated at parameter and variables, not class.
Also it is still not possible to set its value depending on a other parameter.

best regards,

Sven

Note: For us it has more benefits to evaluate the annotation at classes th

[2022-11-29 15:41] arun3688 commented on #9782
@AnHeuermann yes `introduceOutputRealDerivatives` was done to get the first order derivative of Real outputs and set `maxOutputDerivativeOrder = 1` for FMI CoSimulation. But this module has nothing to do with the inputs and according to my knowledge the FMI standard does not say anything about differentiation inputs, Does it works if you disable the `introduceOutputRealDerivatives` and export the

[2022-11-29 15:43] kabdelhak commented on #9782
@arun3688 if the output of which you want the derivative depends on an input you have to differentiate the input. That's the problem here. Running the model without co-simulation (which also deactivates `introduceOutputRealDerivatives`) works fine.

[2022-11-29 15:55] casella commented on #9778
Here is the set of revised rules. I made them conservative, putting a premium on avoiding ill-posed systems over avoiding nonlinear behaviour. If one wants further optimizations, this can always be done by evaluating parameters (see below), or by setting non-zero min or max attributes.

Note that some optimizations are already performed by the frontend for flows that constant evaluate to zero (e.g

[2022-11-29 16:17] perost commented on #9778
`w` would be evaluated due to the `Evaluate` annotation, but the frontend doesn't simplify `positiveMax` calls in any way.

[2022-11-29 18:24] casella commented on #9791
Good that you didn't have to fix the fix for the fix to the beta 😆

All's well that ends well.

[2022-11-29 18:24] casella commented on #9790
Is this issue also fixed in beta4? Couldn't try it yet because I'm travelling today.

[2022-11-29 18:53] adeas31 commented on #9119
@niklwors i new encryption build is available now.

[2022-11-29 19:38] ANaumann85 commented on #9785
Indeed, it is a straightforward state-space model. But at the same time it is a simple differential equation of index one, because we have to differentiate the algebraic equation at least once to get a differential equation for $q$.
If one disables the index reduction, the open-modelica compiler detects this and complains `Structurally singular system detected, but no index reduction method has be

[2022-11-29 20:13] ANaumann85 commented on #9785
Please find the generated FMU using the flag `--indexReductionMethod=dummyDerivatives` with omc version `1.19.2`.
[testModel_cs.zip](https://github.com/OpenModelica/OpenModelica/files/10116913/testModel_cs.zip) (i renamed the suffix to zip to allow uploading)

The model (including the equations) are in the file `sources/testModel_cs.c` lines 92-150. The algebraic equation for $T$ (function `testMo

[2022-11-29 21:25] ceraolo opened #9808 "Impossible to read error message"
### Description
The message browser has not a horizontal scrollbar, and some error messages do not wrap text. The result is that we cannot read these error messages in full

### Steps to Reproduce
1. load Test.mo:   [Test.mo.txt](https://github.com/OpenModelica/OpenModelica/files/10117334/Test.mo.txt)
2. run Id3Pwm1

You'll get the following output on the message browser:
![image](https://user-ima

[2022-11-30 08:01] kabdelhak commented on #9782
@arun3688 the thing is that you force the compiler into index reduction. you are demanding the derivative of the output so it has to come from somewhere.

[code]
with unknowns `der(y)` and `$y_der`. There is no unknown in the second equation so it will be differentiated. If the RHS of that side depends on an unknown it has to be differentiated.

[2022-11-30 08:06] kabdelhak commented on #9697
There is also other behaviour of scalarizing bindings that has changed. I would like to have list/array constructors in expression to stay as they are and not be scalarized so i can extract the iterators and create for-loops from them.

We should really have a meeting to discuss the details!

[2022-11-30 09:00] arun3688 commented on #9782
@kabdelhak how should we proceed with this, because we need the output derivatives to support interpolation of inputs.

[2022-11-30 09:46] phannebohm commented on #8164
Agreed! I'll do that now.

This may not be worth it. We would need to do the tearing, then causalize the torn set to see if there are any algebraic loops. Based on our little thinking session, it seems to be very easy to introduce loops when looking at systems with $cse variables. I would guess it will fail almost always.

[2022-11-30 09:53] lochel commented on #9799
If I remember correctly, the test case had to be big to test the algorithm (back then). However, the algorithm had some bugs and changed quite a bit since then. Maybe it is fine to shrink the test now. However, I wasn't involved in the recent modifications.

[2022-11-30 09:58] ceraolo opened #9811 "Add time to the "Matrix singular!" message"
### Description
Often OM issues a "Matrix singular!" run-time message, which scares users because does not supply any detail on what this might imply.

I understand that it is difficult to find a way to convey to users, possibly newbies, complicated internal issues.
However, a simple improvement is probably possible: _add to the message the simulation time at which the singular matrix  condition o

[2022-11-30 10:48] phannebohm commented on #9778
Okay, I think I got the general idea.

[2022-11-30 11:17] mahge commented on #9799
Would 5 be a reasonable value? or 10? Right now, it is 50.

[2022-11-30 12:20] audrey-jardin commented on #9222
Hi @adrpo, @adeas31 and @casella ,

Thanks for the explanation. This was indeed not so intuitive from the user point of view but it's now clearer to me!

Best regards,
Audrey

[2022-11-30 13:01] annikakuhlmann commented on #7826
Can anyone tell me what the status is on this issue? I have seen that it is not yet included in the latest build.

[2022-11-30 13:04] adeas31 commented on #7826
Yes, this is not yet supported. We are working on it but I can't tell exactly when this will be fixed.

[2022-11-30 15:00] casella commented on #9790
Solved in beta4

[2022-11-30 15:00] #9790 closed

[2022-11-30 15:33] adeas31 commented on #9119
Please upload the library to your dev folder so we can test it.

[2022-11-30 15:39] AnHeuermann opened #9819 "Conditional component with missing variable"
### Description

If a conditional component uses a undefined variable, but the condition is false, is it still an error?

So for
[code]
is it an error if `a` is not declared in the scope of that model?

### Steps to Reproduce

[code]

Simulate `MWE.CondM`:

[code]

### Expected Behavior

The component `M` is not part of the model (because `useM=false`) and therefor omc shouldn't care about `a`.
Of

[2022-11-30 15:55] perost commented on #9819
It's not entirely clear how valid a deleted component actually has to be, but the specification says: "If the Boolean expression is false the component (including its modifier) is removed from the flattened DAE, and connections to/from the component are removed.".

I interpret that to mean that it should be possible to flatten a conditional component even if it's then deleted, although we do allow

[2022-11-30 16:22] AnHeuermann commented on #9249
In `MODELNAME_includes.h` we get
[code]

The problem is, that for OpenModelica `void* TILMedia_createExternalObject` is not declared, so the default `int TILMedia_createExternalObject` is used instead and the C compiler issues a warning.

We need to provide a macro that is always defined when building OMC code and TLK will add it to the `#if defined` line.
We need to add `#include "ModelicaUtiliti

[2022-11-30 16:29] phannebohm commented on #9119
I looked at this MWE:
[code]
With the different flag values I get the following in *bnd.c line 46:

- `--obfuscate=none`
[code]

- `--obfuscate=protected`
[code]

- `--obfuscate=full`
[code]

So it is not about bindings. Perhaps the type is the problem, or detection of encrypted components.

[2022-11-30 16:33] casella commented on #9778
OK, sorry, I misinterpreted your statement in [#3885](https://trac.openmodelica.org/OpenModelica/ticket/3885#comment:23). There you wrote

and so that's the only optimization that is performed by the frontend, everything else is passed down to the backend.

[2022-11-30 16:38] niklwors commented on #9119
Do you still need the library or is the MWE enough for now?

[2022-11-30 17:25] max-privato opened #9821 "Parameter value does not reach target model (regression)"
### Description
This is a regression over 1.18.0.

### Steps to Reproduce
0. Sort1.txt must be in the working directory
1. load Car and EHPTlib
2. run Car
=> the value of drive.limTau.wMax should be 1200, while it is 0 instead.
[Car.mo.txt](https://github.com/OpenModelica/OpenModelica/files/10125651/Car.mo.txt)
[EHPTlib.mo.txt](https://github.com/OpenModelica/OpenModelica/files/10125655/EHPTlib.mo

[2022-11-30 22:55] casella commented on #9697
BTW I think I was advocating for something similar in [#5677](https://trac.openmodelica.org/OpenModelica/ticket/5677). If a certain array connect statement (either involving arrays of ports or with iterators in a for loop) connects two connector arrays _that only show up in that specific array connect statement_ and nowhere else, then the connect equation can be trivially replaced by
- array equat

[2022-11-30 22:59] casella commented on #9802
Isn't this maybe too restrictive? If the input is provided by CSV files, it is interpreted as a piecewise linear function, so we could compute the derivative by looking at the slope of the piecewise-linear function.

We should just generate a runtime error if the input has a step change (i.e., two different values for the same time value).

For FMI, I'm not sure, maybe it would be wiser to avoid t

[2022-11-30 23:18] perost commented on #9697
@casella: Dividing the splitting and scalarization of connectors into two separate phases in #9733 was mainly to allow such an approach. The analysis should as you say be fairly easy once the connectors have been split into connector elements.

I didn't consider using it for the array connection algorithm though, just use it to decide on which connectors to scalarize and which to keep as arrays fo

[2022-11-30 23:21] casella commented on #9782
@arun3688, I read from FMI 2.0.3, Section 4.2.1, page 104:

[code]
As I understand, if the master wants the slave to compute derivatives for interpolation, it should also set the derivatives of inputs, at least for those systems that have direct input-output feedthrough. It will do that using this function, and then the derivative value can be used for `der(Tref1)`.

Do I miss something?

[2022-11-30 23:43] casella commented on #9118
Good to hear 😄

[2022-11-30 23:47] casella commented on #4346
@adeas31 should the NF propagate the annotation from the instantiated object all the way down to individual variable declarations, so they end up in the xml file?

[2022-11-30 23:50] casella commented on #9785
See my [comment in #9782](https://github.com/OpenModelica/OpenModelica/issues/9782#issuecomment-1332865257), could be relevant here also.

[2022-11-30 23:57] casella commented on #8164
Good 😃

Nah, this would really be too much fuss.