[2020-07-13 17:50] adrpo commented on #6676
As far as I know the 1 char strings are mapped to the same constant array element, maybe that is the issue somehow, I'll have a look.

[2020-07-13 23:13] adrpo commented on #6676
This seems to be some weird simplification that I don't know *yet* where it comes from, maybe @sjoelund has some idea.

Basically `(oldSystems, name) := match systemType` is simplified to:  `oldSystems := TSUB(match systemType, 1)` because it detects that name doesn't matter here as is not used after this (just reassigned, and then used nowhere). However, the simplification is only partially appli

[2020-07-13 23:56] adrpo commented on #6676
To reproduce, unpack the zip: [Issue6676.zip](https://github.com/OpenModelica/OpenModelica/files/4915746/Issue6676.zip)
Then just call:

[code]

[2020-07-14 11:03] branch171 commented on #6672
Hi I have now managed to get this running through the frontend and a backend with no errors or warnings. There are a couple of typos in the code that need to be fixed. The issue with the ASUB error is fixed by defining the coefficients you need within the scope of the package and access them directly. As such we don't need to pass the arrays into the functions they are already available. The issue

[2020-07-14 11:08] adrpo commented on #6672
I think we should not close this issue until we properly fix it in the compiler even if you found a work-around.

[2020-07-14 11:12] branch171 commented on #6672
Ok thats fine

[2020-07-16 21:18] bc0n commented on #4540
Link to trac discussion: https://trac.openmodelica.org/OpenModelica/ticket/4540

[2020-08-11 12:30] tinrabuzin opened #6703 "A bug in fmi2Reset?"
Hi,

I was refered to here from [fmpy](https://github.com/CATIA-Systems/FMPy/issues/162).

I was trying to do a parameter sweep with an FMUs generated from OpenModelica (2.0 both me and cs) but whenever I reset the FMU I get the following error:
[code]

This is e.g. one FMU that generates this error: [FMU](https://github.com/OpenModelica/OpenModelica/files/5056919/DynEq.ReferenceModel.1.zip)

And

[2020-08-12 10:57] bvadrian opened #6704 "Buildings Library does not parse correctly in OMEdit"
I was trying to use the Buildings Library with OMeditor. The three way valve model under Fluid>actuators is missing components and all connectors are gone when class is opened.

Opening the same library in Dymola does not cause these problems

Example of error message when class is opened:
Unable to find component res3.y while parsing connection {inv.y,res3.y,}.

I have contacted the library admin

[2020-08-14 09:56] adeas31 commented on #6704
This is because redeclares are not handled properly.

[2020-08-20 09:16] eoli3n opened #6715 "empty packages in ubuntu 20.04 ppa"
All "openmodelica" packages are empty in :
- deb http://build.openmodelica.org/apt focal release
- deb http://build.openmodelica.org/apt focal stable
- deb http://build.openmodelica.org/apt focal nightly

[code]

Is that normal ?
How to install openmodelica on Ubuntu 20.04 ?

[2020-08-20 09:19] sjoelund commented on #6715
I guess `apt remove omc-common`. I think there has been a `dev.03` in `stable` which is considered more recent than this one even though it shouldn't be. @adrpo

[2020-08-20 12:10] eoli3n commented on #6715
Did ``apt remove omc-common``, then
[code]
Still, how do I launch openmodelica ?
I deploy this package on ~800 with ansible, i need to be able to automate this.

[2020-08-20 12:12] sjoelund commented on #6715
`omc --help` or `OMEdit &` (or OMEdit from the GUI launcher)

[2020-08-20 12:14] eoli3n commented on #6715
Thanks

[2020-08-20 12:14] #6715 closed

[2020-09-07 07:52] filip-jezek opened #6732 "New frontend fails to compile (but old works fine)"
Hi,

I came across a strange bug in the new frontend with a multi-inheritance model with some binding text-inputs. I tried to prepare a minimal bug case, but inheritance with inputs did work fine, so I am attaching the isolated model packed with all requirements here https://gist.github.com/filip-jezek/4b45dc71e4a9b345562b49b54535cce9

thanks for your attention.

Best,
F/

[2020-09-07 08:09] perost commented on #6732
Your model uses components from the ADAN_main library that I don't recognize. Please include this package or point us to where it can be downloaded, otherwise it'll be difficult to investigate the issue.

Another option is to use the "Save Total" option in OMEdit to save the complete model with all dependencies to a single file (this will include bits of other libraries though, which could be prob

[2020-09-14 09:05] sanguinariojoe opened #6747 "Incompatibility with gcc > 9.x"
The issue was initially reported here:

https://openmodelica.org/forum/default-topic/3001-installing-openmodelica-on-linux

The suggested solution was upgrading MUMPS. However, for the time being using appropriate flags can do the job. To this end you can merge [this](https://github.com/OpenModelica/OpenModelica/pull/6746), so the following command compiles just fine:

`./configure FCFLAGS="-fallo

[2020-10-03 19:29] Kezii opened #6797 "Spectrum / fft mode for OMEdit plot"
It'll be useful to have a spectrum view on the OMEdit plot, like an oscilloscope

Mockup:
![Screenshot_20201003_212206](https://user-images.githubusercontent.com/3357750/95000256-7ed96180-05bf-11eb-9555-ecfed0c9fe99.png)

[2020-10-04 17:05] Kezii commented on #999
dummy comment

[2020-10-04 22:32] adrpo commented on #999
We want to port all the Trac tickets to github, that's why we have these dummy tickets so that the Trac number and github numbers map one to one. This is work in progress.

[2020-10-07 00:18] hyumo opened #6806 "Incorrect argument type in copy_real_array_data function"
Hi,

I am encountering the issue below, it seems to be a code generation error and I cannot reproduce this issue in a consistent way, unfortunately. I also see similar issues within the 1.17 nightly build version. Thanks in advance if this could be fixed.

[code]

[2020-10-07 08:02] mahge commented on #6806
@hyumo
We need some more info to investigate this.
It is just a warning right now. Right? Or do you actually get an error. Either way we would like to fix it.

If it is a compilation error/warning happens once for a specific model it is going to happen always for that model. It is unusual for this kind of errors to appear inconsistently. Of course if you change your OMC version and/or options/flag

[2020-10-07 12:26] hyumo commented on #6806
Thanks for your quick respond, I will try to come up with an example to recreate the issue.

Meanwhile, here is some additional error info. The executable is generated (with the warning), however, it exited with the following message:
[code]
This error always come along with the warning message I mentioned, and the error seems to be complaining about mismatching memory size.

[2020-10-07 12:39] perost commented on #6806
The warnings might as well be errors, since they say that we're trying to pass something with the wrong type to the function. In this case it seems like we're trying to treat a scalar as an array.

This usually means that something has gotten the wrong type earlier in the compilation process before the code was generated, but we really need an example model to be able to investigate such issues.

[2020-10-07 19:19] hyumo commented on #6806
An example model is attached:
[OMTest.zip](https://github.com/OpenModelica/OpenModelica/files/5343289/OMTest.zip)

The issue could be generated by running `Experiments.Test` with `OpenModelica v1.16.0-dev.03(64-bit)` on windows 10. Please let me know if you are able to see the error or not. Thanks

[2020-10-07 20:51] perost commented on #6806
I was unable to replicate the issue, the model compiles and simulates successfully for me. Since you're using a version that's a couple of months old there's a high probability that the issue has already been fixed. Please try the latest release of OpenModelica (1.16.0-dev.beta1) and let us know if that solves the issue.

[2020-10-07 21:15] hyumo commented on #6806
I happen to have `v1.17.0-dev-19-g1a316ea158 (64-bit)` at hand, I don't know if it is good enough. I was able to generate the issue with the following modifications.

Within the `Contacts.Generic` model, please add a `start` modifier to `delta_0`
[code]

[2020-10-08 11:48] perost commented on #6806
Ok, with the modification I can reproduce the issue. The problem comes from the generated NLS equation:
[code]
This is obviously wrong since `contact.w` is a scalar while the equation results in a `Real[3]` array. I'm not sure where this equation is coming from though, I'll see if any of our backend developers can have a look at this.

As a side-note the old frontend does not encounter the same is

[2020-10-08 12:35] hyumo commented on #6806
Thanks a lot for digging into this, I can try to replicate the road model and add an inline annotation to see if it could help the function to be inlined.

BTW, I am quite new to OM, I am wondering how you were able to see those generated equations or raw `*.c` files? I tried to do such things but I could not find the flag (maybe I should try harder).

[2020-10-08 12:50] perost commented on #6806
I used the omc compiler directly instead of using OMEdit, since I'm an OM developer and that's what I usually use. When using OMEdit I think the files end up in a folder in /tmp in Linux and in the users temporary files folder in Windows.

[2020-10-08 14:10] AnHeuermann commented on #6806
@hyumo
There are a lot of options for debugging this. There is the flattened Modelica code generated by the Frontend. You can view it in OMEdit with the "Instantiate Model" button on the top (left to the simulate button, a green square with some sort of text as icon).
You can view the generated C code by looking at it with your favorite IDE or text editor (location can be found in OMEdit under Too

[2020-10-08 14:16] AnHeuermann commented on #6806
After a bit of searching:

BackendEquation
[code]
from the algebraic loop shown below will be solved for `contact.w`.

[code]

## Why is it solved into this format?

What does function `Test_total.road.position(contact.s, contact.w) ` do?

[code]

So the backend wants to solve for `contact.w`:
[code]
and apparently finds the "solution"
[code]

So now we need to find the dunction that will do this.

[2020-10-08 14:41] mahge commented on #6806
Is it not possible to do

[code]

[2020-10-08 14:55] kabdelhak commented on #6806
That would make the rest underdetermined. You just cannot solve a 3-dimensional equation for a one dimensional variable, you will always lose information.

[2020-10-08 15:01] AnHeuermann commented on #6806
@hyumo
As a workaround for now you can use minimal tearing with translation flag  `--tearingMethod=minimalTearing`. Then the equation in question will not be solved for `contact.w`.

[2020-10-08 15:15] hyumo commented on #6806
@AnHeuermann Awesome, it works now, thanks. I will leave this issue open for now (it seems that the fundamental issue is still there), but feel free to close it anytime you like. Thank you so much! You guys are very helpful.

[2020-10-08 17:36] mahge commented on #6806
@kabdelhak I was just wondering if there was a practical reason that prevented doing it that way. Yes, in theory it is possible but in practice, considering how the backend works, it might happen to be not so easy.

[2020-10-09 08:15] kabdelhak commented on #6806
It is quite easy, i am working on it rn.

The basic idea is that the AdjacencyMatrixEnhanced is a little wrong here. The row is computed from the equation by first collecting all appearing crefs and then checking how they appear. For functions we traverse all body statements. We just have to handle functions differently... if we want to solve for function inputs we have to solve for all of them. F

[2020-10-09 08:44] mahge commented on #6806
I thought the function was inlined by the NF. I guess it is not actually inlined.

Just out of curiosity, do you mean inverting the function symbolically? If you can "invert" the function it can probably be inlined right? It might be better to check why the function is not inlined in the first place. If you mean invert the function numerically (is that what it is called?) as a NLS, how would that

[2020-10-09 09:18] kabdelhak commented on #6806
I am eating my words here a little. It is not as easy as i thought. And yes with inverting i mean what you are describing.
Good question regarding the inlining... but currently the solvability process is fundamentally flawed since it allows some weird stuff. We should have a meeting about that starting next week! The basic problem is that we use differentiation to solve for variables, but we do no

[2020-10-09 09:40] mahge commented on #6806
I know your pain full and well :).

Ya I agree the whole solvability analysis process is a bit flawed. It is also not easy to change or fix. Hopefully we do not encounter the shortcoming you mentioned because of other processing we do.

[2020-10-12 10:07] kabdelhak commented on #6806
My fix works, it is not perfect since it prevents some sensible array cases, but it also prevents bugs like these. I would like postpone better array handling to the new backend, this one even does not seem to be impactful, i did not need to make any changes to the testsuit for my fix.

[2020-10-12 10:07] #6806 closed

[2020-10-12 12:29] kabdelhak commented on #6806
@hyumo It should work now without the tearing method restriction! Feel free to reopen the ticket if something does not work.

[2020-10-29 15:47] kabdelhak opened #6873 "Invoking listed functions only works in tuples"
I am currently working on a smart way to order my modules in the new backend and stumbled upon this bug:

if i have a partial function such as
[code]
And create multiple modules with this wrapper which i want to loop over the `BackendDAE` i can only do so in tuples.

Example that does **not** work:
[code]

Example that does work:
[code]

The Error for the failing one:
[code]

I suppose this never

[2020-10-30 11:54] kabdelhak commented on #6873
@adrpo @sjoelund Do you have any intel on this for me? :)

[2020-10-30 12:00] sjoelund commented on #6873
I guess the automatically generated variable for the iterator has some problem in it. You could perhaps assign it to a declared variable and make it work?

[2020-10-30 12:25] perost commented on #6873
Not just the iterator, the code generated for the for loop seems to be for a Modelica array and not a list. I guess we've never used lists with function pointers before.

[2020-11-02 12:07] thorade commented on #5297
https://trac.openmodelica.org/OpenModelica/ticket/5297

[2020-11-02 15:10] CSchoel opened #6881 "Warning: function Unit.unitString failed for "MASTER()"."
I am in the process of adding support for OpenModelica 1.16.0 (and above) to my library ModelicaScriptingTools.jl. As one of the minor issues that popped up with the new version, I noticed a strange warning message:

[code]

This occurs only for a very convoluted model involving function redeclarations, which I use to make sure that my documentation feature produces readable and unique names for t

[2020-11-02 16:10] CSchoel opened #6882 "Internal error FUnitCheck.checkUnits: unit check module failed"
With OpenModelica 1.16.0 I get an internal error during the unit check of a large electrophysiological model (which can be found here: https://github.com/CSchoel/inamo).

[code]

This occurs for many but not all of the different examples/unit tests in the repository (i.e. the models in `InaMo/Examples`):

[code]

With OpenModelica 1.14.2 the unit checking worked fine for these models.

This issue

[2020-11-02 22:49] phannebohm commented on #6882
Thanks for the example model. I will need to examine it tmrw.

The module for unit checking has been refactored recently, so some bug may have slipped in. In fact there were several modules doing similar things. The flag `--unitChecking` now activates a front-end module, which it didn't do before. What flag did you use on version 1.14.2?
You may want to try the new front-end (`-d=newInst`).

In an

[2020-11-03 09:54] CSchoel commented on #6882
Thanks for the quick reply!

On 1.14.2 I used `--preOptModules+=unitChecking`. I was not aware that `--unitChecking` also existed back then.

Interestingly, `-d=newInst` fixes the issue for `GHKFlux` and `InwardRectifierLin` (both tests run without errors), but gives me a lot of other errors and warnings, many of them related to name resolution and at least some of them are definitely my fault. I

[2020-11-03 14:42] phannebohm commented on #6882
Yea, both of these were pretty old, the front end modules are newer with the version in the new frontend being newest.
I'm not sure if unit checking in the old front end will be fixed at this point.

Please report any remaining bugs :slightly_smiling_face:

[2020-11-03 15:53] CSchoel commented on #6882
I went through all the errors from the new front-end and most if not all of them were indeed errors in my code, including some unit consistency errors that were not picked up by the old version. I also found the error messages quite helpful. Nice work on the improvements!

I have only one issue remaining, but this may very well be just due to a lack of understanding on my end: I need to access som

[2020-11-03 15:59] perost commented on #6882
That seems like a bug in the compiler, functions are supposed to be possible to lookup inside components. I'll check why that's happening.

[2020-11-03 16:00] CSchoel commented on #6882
Wow, you people are lightning quick. :zap: :laughing:  Thanks for looking into this. :smile:

[2020-11-03 16:46] perost commented on #6882
I was wrong, it's actually not allowed. See [5.3.2 in the Modelica specification](https://specification.modelica.org/master/scoping-name-lookup-and-flattening.html#composite-name-lookup), point 3. In a name used as a function call where the first identifier refers to a component the rest of the identifiers must refer to classes. So `om.im.func` is not allowed but `im.func` is, though I'm not sure

[2020-11-03 17:04] CSchoel commented on #6882
Ah, damn. Then I will have to find a workaround. Nevertheless, thank you very much for looking up the specification (I probably should have done this myself :sweat_smile: ).

I think your proposed solution may be the way to go. I will have to think a little bit about it to make sure that the solution does not add too much boilerplate code, but at least I know what the issue is and what can be done

[2020-11-03 17:04] #6882 closed

[2020-11-03 17:15] CSchoel commented on #6881
As with #6882 , the warning disappears when I add the following line to the script:

[code]

I guess this is also just an incompatibility between the new unitChecking module and the old front-end, which can be ignored.

[2020-11-03 17:15] #6881 closed

[2020-11-04 14:17] mahge commented on #6873
#6887 seems to have fixed it. Check it and if all good I will merge it.

[2020-11-09 13:31] kabdelhak commented on #6873
Works as intended, thanks @mahge for the fix! :+1:

[2020-11-09 13:31] #6873 closed

[2020-11-11 14:57] CSchoel opened #6919 "instantiateModel works fine, but dumpXMLDAE fails with stack overflow error"
In my current quest to fully switch to the new OMC front-end using `-d=newInst,nfAPI` I came across a strange error that would only occur in the function `dumpXMLDAE`, which I use to get the model equations as content MathML to generate a HTML documentation.

When I run the following script

[code]

I get this error message from the final `getErrorString()`:

[code]

The models that I used for the

[2020-11-11 15:55] perost commented on #6919
`dumpXMLDAE` uses the old frontend so it should in theory not be affected by `-d=newInst`, but it seems there's some interference anyway. I will take a look.

Unrelated though is that for me your script failed because `loadModel(Modelica)` loaded Modelica 4.0.0 (because that's the latest version I have installed), while your library seems to use Modelica 3.2.x. You can fix that by adding a `uses`

[2020-11-11 16:11] perost commented on #6919
The issue should be fixed in #6921. Eventually we'll want to change `dumpXMLDAE` to use the new frontend, but for now we just disable the new frontend before running `dumpXMLDAE` and then turn it on again after.

[2020-11-11 17:31] CSchoel commented on #6919
Thank you so much for the quick fix! `dumpXMLDAE` is essential for the documentation features of my library and while it would have been possible, it would have been quite cumbersome to internally switch between activating and deactivating the new frontend. I will try out the new version ASAP. :+1:

Also thanks for the heads up on the MSL version conflict! :smile: I was neither aware that there ar

[2020-11-11 17:39] perost commented on #6919
You might also want to add a version-annotation, see [18.8 in the specification](https://specification.modelica.org/master/annotations.html#annotations-for-version-handling) for the annotations relevant to version control of libraries.

[2020-11-12 13:52] CSchoel commented on #6919
I can confirm that with version `OMCompiler v1.17.0-dev.134+gaead3d1077` the stack overflow error does no longer occur. :+1:

However, I still get the errors related to missing `inner` declarations, which is odd, as the simulation of the model runs without errors both with my local OMC version and on Travis CI with the latest Ubuntu package (i think that is version 1.16.0?) and with version 1.14.2

[2020-11-12 14:11] perost commented on #6919
That's odd, neither the old nor the new frontend gives such errors normally, only when using `dumpXMLDAE`. It might be using the frontend wrong or something, I will have a look.

[2020-11-13 14:33] perost commented on #6919
The issue with dumpXMLDAE should be fixed in #6935. I've changed so that we now use the normal "run frontend" function everywhere instead of calling the instantiation directly, which besides fixing the issue you encountered also automatically loads any missing packages and uses the chosen frontend.

Since `dumpXMLDAE` previously always used the old frontend it's a bit uncertain how well it works w

[2020-11-13 14:42] perost commented on #6747
This was fixed by the mentioned #6747 (thanks!) to respect FCFLAGS and #6807 that added `FCFLAGS="-fallow-argument-mismatch"` to `configure.ac`.

[2020-11-13 14:42] #6747 closed

[2020-11-16 14:49] CSchoel opened #6947 "Missing nominal values lead to unexpected use of relative tolerance for DASSL"
### Description

The `tolerance` parameter in the experiment annotation and/or the `simulate()` function in the OpenModelica Scripting API is defined to be a relative tolerance, but at least for DASSL it seems to also be influenced by `nominal` values of variables.
I encountered an example where I had to set the tolerance to 1e-26 in order to get correct simulation results, which is of course not

[2020-11-16 15:10] CSchoel commented on #6919
Nice! :+1:  :1st_place_medal:  Can confirm that the issues is fixed in `OMCompiler v1.17.0-dev.159+gc2ca162139`. Thank you so much for the quick response! :smiley:

I will close this issue and report back, should I encounter any additional issues.

[2020-11-16 15:10] #6919 closed

[2020-11-16 15:16] sjoelund commented on #6947
Considering the precision of double-precision floating point is 1e-16, that is unexpected, yes. The nominal value should really only be used when the value is close to 0. I guess in this case, dassl might consider that as the case given the nominal value...

[2020-11-16 16:13] CSchoel commented on #6947
Yes, this is definitely a corner case. The model describes a diffusion reaction in a cell in a state where there are only a few hundred Ca2+ ions in a compartment. The larger model in which this reaction is used has only a few such areas where the tolerance matters, which made these cases all the more difficult to debug.

Do you think these cases are too hard to detect, or would it be possible to

[2020-11-17 11:40] AnHeuermann commented on #6703
Hey and thanks for your bug report.
I could reproduce your problem with Pendulum from MSL together with OMSimulator. We are testing the fmi2Reset function, but only with a full simulation before the reset is called. So this case slipped through our tests.

The core of the problem: We want to free a linear system and fail while doing so.

----

When running runTest.mos
[code]
with `$omc runTest.mos

[2020-11-17 22:33] AnHeuermann commented on #6703
@tinrabuzin Please check with the next nightly build if this solves your problem.

[2020-11-18 04:05] hyumo opened #6957 "Incorrect function derivative calculation"
### Description
It is found that the time derivatives of the attached function `calc_e_w_0` are incorrectly calculated by OpenModelica.

### Steps to reproduce
- Load the attached package.
- Simulate the `Run` model.
- Plot outputs of `der1` with respect to its inputs.
- It could be visually see that the derivatives are incorrect (der1[3].y vs der1[3].u would be the most obvious one)

### Screensh

[2020-11-18 12:00] AnHeuermann commented on #6947
The absolute tolerances used by DASSL and CVODE are depending of the nominal values set by the model, but should use the nominal values in a similar way, see https://github.com/OpenModelica/OpenModelica/blob/master/OMCompiler/SimulationRuntime/c/simulation/solver/dassl.c#L221 and https://github.com/OpenModelica/OpenModelica/blob/master/OMCompiler/SimulationRuntime/c/simulation/solver/cvode_solver.

[2020-11-19 16:05] CSchoel commented on #6947
I did try IDA, but the solver died with a segmentation fault:

[code]

However, if I understand this correctly this means that the differences in handling nominal values occur *inside* the solver code, which means that the only way to issue helpful warning messages would be to observe the simulation output and to identify variables which remain "close to zero" during the whole simulation, but do n

[2020-11-19 16:33] CSchoel opened #6970 "Nominal value is not used to detect zero crossings"
### Description

In my journey to learn about nominal values and clean up my model code, I found another case where the OMC shows unexpected behavior with variables that have a small order of magnitude: It seems that the nominal value is not taken into consideration when detecting zero crossings.

### Steps to reproduce

Example model:

[code]

Example script:
[code]

### Expected behavior

Since

[2020-11-19 16:35] kabdelhak commented on #6957
Thanks for reporting!

I don't understand the physical details of this, but i can tell you what happens and why.

Originally you define the states `der1[1].u, der1[2].u, der1[3].u`, but all of them have to be changed to dummy states by index reduction. I don't know how familiar you are with this process, but the logical reasoning behind this is the following: You provide an equation for the states

[2020-11-19 16:36] AnHeuermann commented on #6947
That's not good, But for me, with `v1.17.0-dev-116-g4486fa0ea1` on Windows, it is working fine with IDA and giving the same results as with DASSL. On Ubuntu 20.04 with today's master it's running fine as well, so I can't reproduce your error.

You could try `-lv=LOG_SOLVER_V` and search for `The scale factors for all ida states:` and `scaleFactor` when using IDA. But if it segfaults for you you ar

[2020-11-19 18:27] hyumo commented on #6957
Thanks a lot for your detailed explanation! I will be looking forward to a fix in the future.

The physics of this function is a part of a larger function that simulates tire road contact, so please don't try to make sense of it, it is just used for bug demonstration purpose. I'd be happy to report more issues related to `Mechanics` components in the future to make OM better.

[2020-11-23 09:39] CSchoel commented on #6947
Thanks for the hint! I also think that it is very possible that the segfault is an Archlinux-specific issue that could be solved by adjusting the build script of the [openmodelica-git](https://aur.archlinux.org/packages/openmodelica-git/) package in the AUR. However, as I am neither familiar enough with building OpenModelica, nor with AUR packages, I will leave this to somebody else. It is current

[2020-11-23 09:39] #6947 closed

[2020-11-23 17:17] phannebohm commented on #6957
We were able to pinpoint the problem to line 6-7 of `Run.mo`, where you normalize `{sin(time),cos(time),0}` and assign that to  `realExpression.y`. I'm not sure what exactly went wrong here but the normalize breaks differentiation somewhere. I'll investigate further.

In this case the normalization is in fact unnecessary and removing it seems to give the correct result. So I guess you can avoid th

[2020-11-23 17:33] hyumo commented on #6957
the variable in the actual model needs to be normalized tho, but thx again
for looking into it!

On Mon, Nov 23, 2020 at 10:17 AM phannebohm <notifications@github.com>
wrote:

[2020-11-24 09:49] filip-jezek commented on #6732
Unable to reproduce now, as the model as changed. I appreciate your response and apologize for holding this issue for so long.

[2020-11-24 09:49] #6732 closed

[2020-11-24 13:10] filip-jezek opened #6977 "OM fails to compile model with boolean nominals"
### Description
OpenModelica has problems generating equation for complex boolean variables. Here I demonstrate it on a simple circulatory. case

When the ideal diode is extended by chattering protection, then it fails to compile. Remove the chattering protection and it runs fine.

The compilation produces translation error for each of the four valves in the messages browser:

[8] 12:12:21 Transla

[2020-11-24 13:17] mahge commented on #6977
Yes this is the same issue as the one you linked (https://trac.openmodelica.org/OpenModelica/ticket/5783)

You can try compiling your models with the flag `--tearingMethod=minimalTearing` added. That might solve it for now until we put a proper fix for it.

[2020-11-24 18:48] filip-jezek commented on #6977
@mahge Thanks, that seems to do the trick with this issue! However some other problems emerged.

I let to decide yourself, if to close this, or keep it open to fix. The proposed workaround works, although maybe because of that its impossible to finish the simulation.

[2020-11-24 23:11] rodrigodcastro opened #6980 "omc not launching in Ubuntu - missing dependency libModelicaExternalC.so.0"
I can't start OMShell or omc or OMEdit, always get:

error while loading shared libraries: libModelicaExternalC.so.0: cannot open shared object file: No such file or directory

Just installed the latest 1.16.1 version following the steps in
https://www.openmodelica.org/download/download-linux

System:
Distributor ID: Ubuntu
Description:    Ubuntu 18.04 LTS
Release:        18.04
Codename:       bio

[2020-11-25 07:17] sjoelund commented on #6980
We changed omc to use a statically compiled version of ModelicaExternalC some time ago... Are you sure everything was updated? Perhaps `apt dist-upgrade` or `apt install omc` or `apt install libomc` shows some package that was not upgraded. If all else fails, `apt remove libomc` and reinstall to make sure all packages are updated.

[2020-11-25 11:16] AnHeuermann commented on #6977
@filip-jezek If I understand you correctly you did not disable tearing?
Then this would be a problem in the tearing method used.

But this is the exact type of error for which `minimalTearing` was implemented. Whenever someone (or omc itself) disables tearing we have this kind of problems with algebraic loops that contain non-real variables.
We want to have `minimalTearing` to replace no tearing c

[2020-11-25 11:22] filip-jezek commented on #6977
@AnHeuermann Originally I have not disabled tearing, once I use the --tearingMethod=minimalTearing it runs correctly.

Have you used the Physiolibrary version I have linked? It has some new modifications (that is chattering protection) which are causing the problem and which are not present in the Physiolibrary included in the OpenModelica.

Once you confirm you used the updated Physiolibrary, I c

[2020-11-25 11:24] filip-jezek commented on #6977
I have further problems with more complex model, but I was unable to isolate or name it, so I created a forum post instead of a bug report here https://openmodelica.org/forum/default-topic/3148-om-fails-to-run-with-compilation-errors,-dymola-runs-fine#p10372

[2020-11-25 11:32] rodrigodcastro commented on #6980
This **alone** solved the problem: apt dist-upgrade
Thanks for your quick assistance!

[2020-11-25 11:40] #6980 closed

[2020-11-25 12:14] AnHeuermann commented on #6977
My bad, now I'm getting the error as well.

It's an error in Cellier Tearing we need to fix. But the example is a bit to big to debug it.
I tried to come up with a more minimal example but did not succeed yet.

[2020-11-25 12:32] mahge commented on #6977
We should probably close one of the two tickets to keep the discussion in one place. @AnHeuermann which one do you want to keep?

[2020-11-25 13:40] AnHeuermann commented on #6977
I prefer the GitHub issues, so I closed https://trac.openmodelica.org/OpenModelica/ticket/5783.

[2020-11-25 15:09] kabdelhak commented on #6977
@AnHeuermann and I looked at this ticket and have a pretty good idea on how to solve it. I will try to do it this until the end of next week.

[2020-11-25 17:20] kabdelhak commented on #6977
I created a pull request that solves the issue: #6985
Has to be tested with the testsuite though before i can push it.

The basic problem was: In the backend we created the wrong equation size for if equations in enhanced adjacency matrices so it created too many rows for it -> tearing failed -> entirely untorn system was created -> it still has discrete iteration variables -> fail. (minimalTearin

[2020-11-25 17:53] kabdelhak commented on #6977
The PR is pushed and did not cause any new issues. If you pull and build the latest version from source you could test this yourself.

[2020-11-25 19:37] kabdelhak commented on #6977
I also fixed the other problem with the errors in #6988 . We basically did not correctly convert the if-equations to if-expressions.

The warnings are valid though. In your case you are checking a parameter so you know what it is gonna be, but to be sure i would always use `Modelica.Math.isEqual` to compare two Real variables. There might be a case where a user wants to input like `Rpp.Resistance

[2020-11-25 20:27] kabdelhak commented on #6977
Last PR has also been pushed, as i said everything runs smoothly now. You can build from source or pull the latest nightly build to test it.

Feel free to reopen the ticket if anything still does not work.

[2020-11-25 20:27] #6977 closed

[2020-11-30 11:46] tinrabuzin commented on #6703
@AnHeuermann I have tested it now with a nightly build (OpenModelica Compiler OpenModelica 1.17.0~dev-197-g6cf0e30) and something similar happens. The first run of the FMU is ok but on the second attempt fmpy returns a segmentation fault on the call to `fmi2ExitInitializationMode`.

[2020-11-30 13:08] AnHeuermann commented on #6703
Then I'll check again. Maybe our `fmi2ExitInitializationMode` function has an additional bug I didn't test with OMSimulator.

[2020-11-30 13:10] BenjaminRueth opened #6995 "Default name in Dialog "OMEdit - Enter Component Name" can easily cause Errors"
### Description

When importing a Model Exchange FMU whose identifier starts with a lowercase character e.g. `lowerFirstChar.fmu`, OMEdit will create a class `lowerFirstChar_me_FMU`

When instantiating an object of this class, OMEdit suggests the default name as the class name with the first letter turned to lower case. But this leads to a conflict because class and instance carry the same name `l

[2020-11-30 15:19] AnHeuermann commented on #6995
Thanks for reporting this issue. With `v1.17.0-dev-116-g4486fa0ea1` I can't reproduce your error. The generated names are looking fine:
[code]

But the point is we should really remove the FMI import using OMC completely and move on to OMSimulator for all FMI import.

We have a lot of issues with the FMI import. It doesn't work for various reasons, some are:

- It's not maintained and never really

[2020-11-30 15:50] BenjaminRueth commented on #6995
With

(from https://github.com/OpenModelica/OpenModelica/issues/6995#issuecomment-735850575) everything should be fine. However

[code]

and

[code]

are causing trouble on my end.

As far as I understand the problem the name of the class and component cannot be the same. If the class name is `lowerFirstChar_me_FMU` the proposed default name for the component is `lowerFirstChar_me_FMU` which leads

[2020-11-30 15:59] AnHeuermann commented on #6995
Yeah, I can see the problem. But we probably won't fix this issue because we can't invest time into the FMI import with omc, since we want to replace it completely.

[2020-12-02 13:14] pstelzig opened #7005 "FMU export from OMEdit with external "C" shared library dependencies fails"
### Description
Exporting a Modelica block with an "external C" dependency on a shared library `<sharedLibDep>.so` to FMU does not work from OMEdit.
* The compilation process fails with a linker error because the shared library dependency is linked as a static library.
* Even with correct linking of the shared library dependency, the `<modelIdentifier>.so` has the absolute path of the shared libra

[2020-12-02 14:41] #1100 closed

[2020-12-02 14:41] #1126 closed

[2020-12-02 14:41] #1174 closed

[2020-12-02 14:41] #1235 closed

[2020-12-02 14:41] #1256 closed

[2020-12-02 14:42] #1298 closed

[2020-12-02 14:42] #1342 closed

[2020-12-02 14:42] #1416 closed

[2020-12-02 14:42] #1428 closed

[2020-12-02 14:42] #1433 closed

[2020-12-02 14:42] #1447 closed

[2020-12-02 14:42] #1448 closed

[2020-12-02 14:42] #1519 closed

[2020-12-02 14:42] #1573 closed

[2020-12-02 14:42] #1556 closed

[2020-12-02 14:42] #1577 closed

[2020-12-02 14:42] #1597 closed

[2020-12-02 14:42] #1603 closed

[2020-12-02 14:42] #1615 closed

[2020-12-02 14:42] #1636 closed

[2020-12-02 14:42] #1650 closed

[2020-12-02 14:42] #1656 closed

[2020-12-02 14:42] #1686 closed

[2020-12-02 14:42] #1711 closed

[2020-12-02 14:42] #1725 closed

[2020-12-02 14:42] #1729 closed

[2020-12-02 14:42] #1748 closed

[2020-12-02 14:42] #1791 closed

[2020-12-02 14:42] #1919 closed

[2020-12-02 14:42] #1934 closed

[2020-12-02 14:42] #1937 closed

[2020-12-02 14:42] #2023 closed

[2020-12-02 14:42] #2029 closed

[2020-12-02 14:42] #2078 closed

[2020-12-02 14:43] #2084 closed

[2020-12-02 14:43] #2187 closed

[2020-12-02 14:43] #2193 closed

[2020-12-02 14:43] #2201 closed

[2020-12-02 14:43] #2307 closed

[2020-12-02 14:43] #2342 closed

[2020-12-02 14:43] #2351 closed

[2020-12-02 14:43] #2426 closed

[2020-12-02 14:43] #2435 closed

[2020-12-02 14:43] #2446 closed

[2020-12-02 14:43] #2485 closed

[2020-12-02 14:43] #2488 closed

[2020-12-02 14:43] #2608 closed

[2020-12-02 14:43] #2620 closed

[2020-12-02 14:43] #2624 closed

[2020-12-02 14:43] #2672 closed

[2020-12-02 14:43] #2686 closed

[2020-12-02 14:43] #2703 closed

[2020-12-02 14:43] #2712 closed

[2020-12-02 14:43] #2740 closed

[2020-12-02 14:43] #2742 closed

[2020-12-02 14:43] #2735 closed

[2020-12-02 14:43] #2745 closed

[2020-12-02 14:43] #2783 closed

[2020-12-02 14:43] #2800 closed

[2020-12-02 14:43] #2859 closed

[2020-12-02 14:43] #2869 closed

[2020-12-02 14:43] #2902 closed

[2020-12-02 14:43] #2912 closed

[2020-12-02 14:43] #2914 closed

[2020-12-02 14:43] #2936 closed

[2020-12-02 14:44] #2949 closed

[2020-12-02 14:44] #2955 closed

[2020-12-02 14:44] #3000 closed

[2020-12-02 14:44] #3073 closed

[2020-12-02 14:44] #3058 closed

[2020-12-02 14:44] #3059 closed

[2020-12-02 14:44] #2998 closed

[2020-12-02 14:44] #3010 closed

[2020-12-02 14:44] #3030 closed

[2020-12-02 14:44] #3078 closed

[2020-12-02 14:44] #3083 closed

[2020-12-02 14:44] #3088 closed

[2020-12-02 14:44] #3108 closed

[2020-12-02 14:44] #3142 closed

[2020-12-02 14:44] #3146 closed

[2020-12-02 14:44] #3174 closed

[2020-12-02 14:44] #3189 closed

[2020-12-02 14:44] #3237 closed

[2020-12-02 14:44] #3244 closed

[2020-12-02 14:44] #3280 closed

[2020-12-02 14:44] #3300 closed

[2020-12-02 14:44] #3301 closed

[2020-12-02 14:44] #3302 closed

[2020-12-02 14:44] #3029 closed

[2020-12-02 14:44] #3365 closed

[2020-12-02 14:44] #3388 closed

[2020-12-02 14:44] #3394 closed

[2020-12-02 14:44] #3407 closed

[2020-12-02 14:44] #3431 closed

[2020-12-02 14:44] #3438 closed

[2020-12-02 14:44] #3445 closed

[2020-12-02 15:48] pstelzig opened #7006 "FMU export from OMEdit fails with external "C" static library dependencies if additional linker flags are needed"
### Description
OMEdit fails on exporting a FMU for a Modelica model with a static library dependency `<staticLibDep>.a` if `<staticLibDep>.a` requires other libraries to be linked. This is becaues there is no option to set linker flags for the FMU export like there is for building a model in "Simulation Setup->C/C++ Copmiler Flags (Optional)"

### Steps to reproduce
**Reproducing the problem** As

[2020-12-02 16:05] sjoelund commented on #7006
You are required to put all of the libraries in the annotation, like the standard library does:
https://github.com/modelica/ModelicaStandardLibrary/blob/master/Modelica/Blocks/Tables.mo#L973

[2020-12-02 18:13] pstelzig commented on #7006
I see! Thanks for the hint! Indeed it *nearly* works. May I ask another hint: If I do this
[code]
then OMEdit (or omc) will look indeed for `libstdc++.so` and `libstdc++.a` in various standard paths.

Problem: `libstc++.so` carries a version suffix, namely `libstdc++.so.6` and thus cannot be found in these standard paths
[code]

How do I do that? If I give it as a linker flag, gcc knows where to f

[2020-12-02 18:26] pstelzig commented on #7006
Ah, wait. It does work! You're right.

These outputs on omc not being able to find `libstdc++` in the standard paths are warnings, but nevertheless: Apparently OMEdit compiles the above model `ModelWithExternalLib` and also exports to FMU from within OMEdit works without error. I can reimport the FMU and simulate.

Thanks @sjoelund

So the apparently working construction is
[code]
as you suggested

[2020-12-03 12:53] #3476 closed

[2020-12-03 12:53] #3493 closed

[2020-12-03 12:53] #3514 closed

[2020-12-03 12:53] #3516 closed

[2020-12-03 12:53] #3517 closed

[2020-12-03 12:53] #3541 closed

[2020-12-03 12:53] #3546 closed

[2020-12-03 12:53] #3550 closed

[2020-12-03 12:53] #3557 closed

[2020-12-03 12:53] #3562 closed

[2020-12-03 12:53] #3575 closed

[2020-12-03 12:53] #3589 closed

[2020-12-03 12:53] #3595 closed

[2020-12-03 12:53] #3603 closed

[2020-12-03 12:53] #3612 closed

[2020-12-03 12:53] #3622 closed

[2020-12-03 12:53] #3637 closed

[2020-12-03 12:53] #3645 closed

[2020-12-03 12:53] #3734 closed

[2020-12-03 12:53] #3739 closed

[2020-12-03 12:53] #3754 closed

[2020-12-03 12:53] #3833 closed

[2020-12-03 12:53] #4012 closed

[2020-12-03 12:53] #4044 closed

[2020-12-03 12:53] #4142 closed

[2020-12-03 12:53] #3449 closed

[2020-12-03 12:53] #3459 closed

[2020-12-03 12:53] #3469 closed

[2020-12-04 11:55] pstelzig commented on #7006
@sjoelund I can confirm that what I reported as a bug no longer persists if I change the Modelica model as you suggested (see the working Modelica model above in my last comment).

Thanks again for the quick and great answer. It helped me a lot.

I will close the ticket now.

[2020-12-04 11:55] #7006 closed

[2020-12-07 07:18] ThermoSysPro opened #7026 "Icon extraction : color issue"
### Description
I use *generate_icons.py* to generate the icons of ThermoSysPro library. Some extracted icons do not have the same colors as original icons.

### Steps to reproduce
Run *generate_icons.py* (OpenModelica/OMCompiler/Examples/generate_icons.py) on ThermoSysPro library.

### Screenshots
In attachment, two components for which automated extraction of icons is not perfect (left : extract

[2020-12-07 08:21] adeas31 commented on #7026
I will take a look at it as soon as possible.

[2020-12-07 14:10] pstelzig commented on #7005
Can other users reproduce this behavior?

If so, maybe this workaround helps other users with the same problem.
If not, any advice is appreciated on how to prevent the behavior.

For now I am simply using scripts to "automize" my manual workaround.

[2020-12-07 16:28] AnHeuermann commented on #6703
Now I actually tested with fmpy as well. I hope now I got all leftover bugs in fmi2Reset.

[2020-12-07 16:30] #6995 closed

[2020-12-07 18:58] AnHeuermann commented on #6703
@tinrabuzin Can you please check again with the next nightly build (available tomorrow)  if your problem is fixed with the latest commit?

[2020-12-08 13:19] tinrabuzin commented on #6703
@AnHeuermann It seems to be working now! Thanks a lot for fixing it.

[2020-12-08 13:56] tinrabuzin commented on #6703
@AnHeuermann Sorry to disappoint you but there is a new problem appearing. I guess this does not really correspond to the title of this issue but here it goes anyways. When using CVODE with a Co-Simulation, again in a loop, I get an exception on the second run.

Specifically it says `Exception: fmi2DoStep failed with status 4.` and I get the printed output `[CVODE ERROR]  CVodeSetStopTime
  The va

[2020-12-08 14:32] AnHeuermann commented on #6703
Yeah could be. CVODE is kinda new and not tested very well, so it's very good you are finding these bugs.

Bugs with CVODE are on my todo-list any way, so I'll look into this and see what's the problem.

[2020-12-08 14:34] tinrabuzin commented on #6703
@AnHeuermann Btw, are there plans to include the support for more solvers for co-simulation?

[2020-12-08 14:40] AnHeuermann commented on #6703
An implicit Euler method is somewhere on my list so we have an implicit solver independent of 3rdParty libraries. But I wont get to implement it in the near future.
Otherwise, no.

Including the same solver we already have in the C runtime is (more or less) straightforward, but is there really a need to do so?
Is there a specific solver you need? And for what reasons?

[2020-12-08 14:46] AnHeuermann commented on #6703
Related ticket https://trac.openmodelica.org/OpenModelica/ticket/5867

[2020-12-08 14:46] tinrabuzin commented on #6703
I am typically using rungekutta for my power system models. If I use the default for FMUs (Euler) the simulation becomes unstable or I think it's close to being unstable. On the other hand, if I switch to CVODE it takes a lot longer to simulate compared to rungekutta which makes simulating FMUs for what I do unfeasible.

Right now I am bypassing FMUs by directly running executables generated by Op

[2020-12-08 15:32] AnHeuermann commented on #6033
Fixed, see: https://trac.openmodelica.org/OpenModelica/ticket/6033

[2020-12-08 15:32] #6033 closed

[2020-12-08 15:36] AnHeuermann commented on #6035
Fixed, see https://trac.openmodelica.org/OpenModelica/ticket/6035

[2020-12-08 15:36] #6035 closed

[2020-12-09 11:33] #6703 closed

[2020-12-10 13:28] AnHeuermann commented on #6703
@tinrabuzin Do you mind testing it again? The CVODE problem should be fixed now.

[2020-12-23 07:42] stephanfevrier opened #7060 "Latest nightly build"
I am using the latest nightly build of openModelica for Linux AMD64 to work on a modelling project using the Buildings 7.0 library. After the regular update of the nightly build this morning OMEdit messes up component symbols in diagram view. Something with the "annotation(transformation..." seems to have changed?
Interestingly, this problem seems to be limited to Fluid Systems.

See for instance

[2020-12-31 12:37] hoongywan opened #7063 "OpenModelica git"

[2020-12-31 14:04] sjoelund commented on #7063
I guess I'll just close this? No description provided

[2020-12-31 14:04] #7063 closed

[2021-01-04 05:49] yurivict opened #7064 "Build fails: file INSTALL cannot find ... build/lib/libzmq.so.4.2.3"
[code]

The symlink exists with this name:
[code]

I have ```libzmq4-4.3.1_1``` installed. There should be no need to rebuild it. Is there a way to use the externally installed ```libzmq```?

Revision 1.17.0-dev-315-g201edb2eef
OS: FreeBSD 12.2

[2021-01-12 18:48] Faark commented on #7060
Same for me with the Official Release for Windows from openmodelica.org (OpenModelica-v1.16.2-64bit.exe). Can pretty much only work text view. Did not make my first steps in modelica a great experience...

[2021-01-12 19:06] adrpo commented on #7060
Please use 1.16.1 until we find out what the problem is. Unfortunately we cannot reproduce this yet. See ticket:
https://trac.openmodelica.org/OpenModelica/ticket/6307

[2021-01-18 14:34] #5961 closed

[2021-01-21 21:59] bc0n opened #7097 ""NFFlatten.getRecordBindings got non-record binding" when setting MSL.MBD.BodyCylinder.r to a variable"
### Description
In OMEdit 1.16.2-1 on Linux Mint x64 installed from apt,
Setting Modelica.MultiBody.Parts.BodyCylinder.r to a vector involving a variable
```Modelica.Mechanics.MultiBody.Parts.BodyCylinder disc(diameter=radius*2, r={0,0,thick}, lengthDirection=axis);```
gives
[code]
### Steps to reproduce
See attached for mwe; <RunError> produces the error.

### Expected behavior
Expect to be able

[2021-01-21 22:53] perost commented on #7097
I made a workaround that hopefully solves your issue. It's more of a bandaid than a proper fix, but I'm afraid I don't have time to fix it properly right now since it's a rather complicated issue. We can leave this ticket open as a reminder even if it solves your issue.

[2021-01-22 11:55] lochel opened #7102 "Manual connection routing"
### Description
OMEdit freezes and crashes when attempting to manually route connections.

### Steps to reproduce
Create a OMSimulator model and add two components. It doesn't really matter what components, e.g. FMUs of `Modelica.Blocks.Math.Gain`. Add a connection between the components and afterwards try to reroute it by clicking and moving edges (the red boxes).

### Screenshots
![image](https:

[2021-01-22 12:10] lochel opened #7103 "Open the view of the root system instead of the model for new SSP models"
### Description
This is not a bug but an enhancement. It would be nice to open the root system automatically whenever a new SSP model is created. This is what one has to do anyways in order to start modelling.

![image](https://user-images.githubusercontent.com/8457302/105489165-1f5caa00-5cb3-11eb-937c-806b4166dcd8.png)

### Version and OS
- OMCompiler v1.17.0-dev.354+g9220249be4
- OMSimulator v2.

[2021-01-22 12:14] lochel opened #7104 "Highlighting the active tab in the Libraries' browser"
### Description
I usually have several models with the same components or system name open. It woul dmake it easier to see which model I am editing if the active tab is highlighted in the libraries' browser.

![image](https://user-images.githubusercontent.com/8457302/105489584-c0e3fb80-5cb3-11eb-8d7f-6ae8aa289417.png)

### Version and OS
- OMCompiler v1.17.0-dev.354+g9220249be4
- OMSimulator v2.0.

[2021-01-22 14:42] adeas31 commented on #7104
The highlight you see in the `Libraries Browser` is just the item selection highlight regardless of the active tab. I think is also possible to highlight the active tab maybe with some color or border around the item. But I have to warn that this could be annoying to the user as well in a sense that if user has expanded to some item in the libraries hierarchy and then change the active tab then th

[2021-01-22 14:56] adeas31 commented on #7103
Sounds like a simple and good enhancement. Would it make sense to open both model and root system? Of course making root system the active tab.

[2021-01-22 14:57] adeas31 commented on #7103
@AnHeuermann what do you think?

[2021-01-24 07:11] lochel commented on #7104
I agree, I came to the same conclusion after writing the issue. However, highlighting the active tab without changing the view of the libraries browser otherwise would be very nice indeed.

A sort of related idea: it would be good to have a button that reveals the active class in the libraries browser. This is something I usually miss whenever I opened a class using the search bar. Once I found an

[2021-01-25 09:43] #7103 closed

[2021-01-25 15:46] lochel opened #7110 "Renaming of components, i.e., submodels"
### Description
OMEdit doesn't allow renaming submodels.

### Screenshots
![image](https://user-images.githubusercontent.com/8457302/105728559-9781d480-5f2c-11eb-83a1-206a1e68e2f3.png)

### Version and OS
- Connected to OMCompiler v1.17.0-dev.359+ge7fca47128
- Connected to OMSimulator v2.0.0.post285-g7de662d-linux
 - WSL2, 64 bit

[2021-01-25 15:56] lochel opened #7111 "Editing in text view"
### Description
Editing in text view is crucial for any serious modelling application. Right now, it is only possible to do changes in the text view of the entire model. This becomes quickly cumbersome when the model grows in complexity.

Therefore, editing in text view of system and submodel level is very important.

It is also important to get access to all the other files that are part of the S

[2021-01-27 11:27] #7102 closed

[2021-01-28 15:14] adeas31 commented on #7110
While trying to fix this. I got the message `[oms_rename] Only implemented for model identifiers`.

[2021-01-28 17:25] lochel commented on #7110
I didn't notice that even renaming the model itself was not possible. Good that it will be fixed by the same PR 👍

[2021-02-01 10:23] #7104 closed

[2021-02-01 13:29] #7026 closed

[2021-02-01 13:39] adeas31 commented on #7026
Here is how the new icons look like,

![image](https://user-images.githubusercontent.com/4007231/106466001-0dd98600-649b-11eb-94c9-fc3628cd0807.png)
![image](https://user-images.githubusercontent.com/4007231/106466134-3c576100-649b-11eb-871b-50a2ac5356da.png)

[2021-02-01 13:54] ThermoSysPro commented on #7026
Thanks a lot for this work !

Bien cordialement,

Claire-Eleuthèriane Gerrer
Ingénieur d'études et de recherche

18-20, boulevard de Reuilly – 75012 Paris

Tél : 07 70 49 75 74

www.phimeca.com  | LinkedIn

De : Adeel Asghar <notifications@github.com>
Envoyé : lundi 1 février 2021 14:39:48
À : OpenModelica/OpenModelica
Cc : GRP-PHIMECA-THERMOSYSPRO; Author
Objet : Re: [OpenModelica/OpenModelica] I

[2021-02-03 09:08] MGhardallou opened #7128 "Scrolling left and right don't work"
### Description
Scrolling left and right don't work. ( tested on Lubuntu 20.04 )

### Steps to reproduce
create a large model

### Expected behavior
be able to scroll left and right to navigate the model.

### Screenshots
the model :

![image](https://user-images.githubusercontent.com/5903520/106723714-b147a980-6607-11eb-9f8e-809c27b9624e.png)

when zooming :

![image](https://user-images.githubus

[2021-02-03 11:43] adeas31 commented on #7128
@MGhardallou is it possible for you to share the model?

[2021-02-05 06:42] MGhardallou commented on #7128
Please find attached the requested file . I change the extension to txt so i can upload it to github.
[DiffRobotKine.txt](https://github.com/OpenModelica/OpenModelica/files/5930620/DiffRobotKine.txt)

Thank you.

[2021-02-08 12:14] tsnouidui commented on #7005
Yes. I am having a similar issue.

[2021-02-08 13:17] pstelzig commented on #7005
@tsnouidui Thanks for the feedback! I was getting worried that maybe it was just me...

How did you tackle the issue so far? Did you use a similar workaround or can you suggest a nicer solution for the time being?

[2021-02-10 09:56] #7110 closed

[2021-02-11 15:01] adeas31 commented on #7128
Thanks for the model. I don't have a quick fix for it but I will try to fix it asap.

[2021-02-12 10:25] lochel commented on #7111
OMEdit is using the `list` command to query the text for the text view. That command is only returning the `SystemStructure.ssd` file. However, models might be described by many more files. OpenModelica/OMSimulator#945 will provide all the required functionality to handle complete and partial snapshots, and to import/export ssd information for specific systems and components. @adeas31 please comme

[2021-02-12 12:50] lochel opened #7150 "Adding sub-models"
### Description
Adding a sub-model to a SSP-model is a common task. After selecting a FMU in the file-system explorer, a dialog is asking me to specify a name for the new sub-model. Unfortunately, the cursor is positioned in the text box specifying the path. The one I just selected from the file-system explorer. It is basically never needed to change that path.

Instead, tt would be nice to automa

[2021-02-12 15:47] ranjanan opened #7153 "Segfault due to space in resourceLocation URI"
### Description
When trying to simulate an FMU generated by openmodelica, I get a segfault:
[code]

### Steps to reproduce
To reproduce, here's the zip file with the fmu and requisite code. Running python test.py in the openmodelica folder should reproduce it:
[test.zip](https://github.com/OpenModelica/OpenModelica/files/5972825/test.zip)

You will need fmpy 0.2.27 for this. If you change the name

[2021-02-12 17:27] tinrabuzin commented on #6703
@AnHeuermann It's long overdue, but I tested it now and it works. Thanks a lot!

[2021-02-14 08:52] tinrabuzin commented on #6703
I suspect this is more related to my model than OpenModelica, but just in case, during one of the simulation loop I get the following error:
[code]

[2021-02-14 16:15] tinrabuzin opened #7156 "Final Complex parameters not updating after compilation"
### Description
When changing the real and imaginary variables after compilation, the complex number does not change.

### Steps to reproduce
If one compiles the example model below, and after compilation tries to change `a` or  `b`, this change is not reflected in `cplx1`. If I am not mistaken, `cplx1` should be updated accordingly. At least that is what happens with `Real` parameters.

[code]

I

[2021-02-14 21:58] perost commented on #7156
My fix is causing some minor changes in some of our test cases. It's probably fine, but I will do some more testing to make sure before merging the PR.

[2021-02-15 09:53] lochel opened #7159 "Setting temp directory even if exiting the settings with 'cancel'"
### Description
I noticed that OMEdit is showing a notification about setting the temp directory even if I exit the settings dialog with the cancel button. Is that intended and correct? I would expect that no changes will be applied in that case.

![image](https://user-images.githubusercontent.com/8457302/107930463-5012c500-6f7b-11eb-9365-eab251621354.png)

### Version
[code]

[2021-02-15 09:59] lochel opened #7160 "'Collapse all' in the libraries browser"
A button in the libraries browser, next to the search box, that would collapse all items in the tree view would be nice to have.

![image](https://user-images.githubusercontent.com/8457302/107931583-c4019d00-6f7c-11eb-9ffb-b9fcd85d59e3.png)

### Version
[code]

[2021-02-15 10:25] AnHeuermann commented on #6703
You can create a new ticket for this one. I'm not sure what the problem is in this case.

[2021-02-15 11:30] #7156 closed

[2021-02-15 12:59] #5796 closed

[2021-02-16 05:02] lochel opened #7165 "Editing connectors in components"
### Description
As far as I can tell, it is not possible to make any connections in the component view. It can only be used to design the component's appearance and to move the connectors around. However, I always start drawing connections when clicking on a connector.

### Expected behavior
Is it possible to make this a bit more convenient?

### Screenshots
![image](https://user-images.githubuser

[2021-02-16 05:16] lochel opened #7166 "Renaming a component opens the libraries browser's tree view"
### Description
Renaming a component opens the libraries browser's tree view. This is rather inconvenient. I would like to preserve the tree view pretty much how it was right before the rename action.

I think it only happens because I have an open tab for a Modelica model.

### Screenshots
Right before renaming `Sine` to `foo`:
![image](https://user-images.githubusercontent.com/8457302/108021159-

[2021-02-16 05:20] lochel commented on #7165
The highlighted connection is actually going from right-to-left:
![image](https://user-images.githubusercontent.com/8457302/108021528-05e31f80-701f-11eb-8086-72e6538df0e2.png)

[2021-02-16 05:31] lochel opened #7167 "Additional debugging support for ssp models"
### Description
OMSimulator can export dependency graphs for ssp models. It would be nice to make them accessible from within OMEdit. It certainly would be nice to integrate them into the diagram view, but that might be overkill for now. Just generating and displaying them in a new tab would already be very helpful.

[2021-02-16 09:32] AnHeuermann opened #7168 "Automated combability analysis for SSP and FMUs in OMEdit"
## Is your feature request related to a problem? Please describe.
When getting a FMU or SSP I have to ask (or guess) what platform the FMUs can run on. From OMEdit the only way (I could find) is to simply simulate the SSP model and look at the error messages to see that the FMU is missing the binaries for my platform.

That's not very convenient for users who don't know much about FMI.

[code]

##

[2021-02-16 09:33] AnHeuermann commented on #7168
@adeas31 If I add `getSSPinfo` to OMSimulator, would it be much effort to implement this feature in OMEdit?

[2021-02-16 10:11] lochel commented on #7168
@AnHeuermann What do you want to return with `getSSPInfo`?

[2021-02-16 10:16] AnHeuermann commented on #7168
Basically SSPs have multiple FMUs + general stuff, so something like

[code]

[2021-02-16 10:44] AnHeuermann commented on #7168
Also displaying all the information from `getFMUInfo` and `getSSPInfo` in OMEdit would be great. E.g. in the right-click menu in the Libraries Browser where the SSP model is listed. We could add an item `Information` like we have for Modelica models.

[2021-02-16 11:42] lochel commented on #7168
The fmu info is already available in OMEdit. Just double click on an fmu 😊

[2021-02-17 08:58] lochel opened #7170 "Forwarding command line options to simulation server"
### Description
The command line options specified in OMEdit are not forwarded to the simulation server. Do we want to split it up into options for modelling and another one for simulation? I think that would be reasonable - but maybe slightly confusing. But those options are only meant to be used by experts anyways.

### Screenshots
![image](https://user-images.githubusercontent.com/8457302/10817

[2021-02-17 09:17] adeas31 commented on #7170
It seems the simulation server also needs to be extended to support this. We should also handle logging as well, right?

[2021-02-17 09:20] lochel commented on #7170
Yes, that's correct. I am already working on the changes for the simulation server. I will also include the logging.

What do you think about splitting the command line options into two sets of options, one for OMEdit and one for the server?

[2021-02-17 09:39] adeas31 commented on #7170
I am not sure if this really helps. For now we can have just one set of options.

[2021-02-17 09:40] lochel commented on #7170
Using the options to set the work directory or the temp directory might cause problems if we are not separating them.

[2021-02-17 09:46] lochel commented on #7165
Maybe we could just rotate the connectors based on the quadrant they are positioned in. I tried to illustrate the quadrants in the following figure:

![image](https://user-images.githubusercontent.com/8457302/108186019-34d7bf00-710d-11eb-9ceb-e062c26c85b6.png)

[2021-02-17 09:51] adeas31 commented on #7170
How? I don't use the temp argument of simulation server anyway.

[2021-02-17 09:54] lochel commented on #7170
Because we would use the same temp directory for modelling and simulation - two independent processes. I guess it would work fine, but it could result in name clashes.

[2021-02-17 09:59] adeas31 commented on #7165
I will disable making the connections in the component view. Regarding the correct rotation of the connectors is probably possible to flip them based on quadrant they are placed in. Maybe having a different connector shape is slightly easy and straight forward e.g., use square instead of triangle.

[2021-02-17 10:05] lochel commented on #7165
I think rotating/flipping would be much better. A square connector doesn't really indicate the flow. And if we just rotate/flip based on the quadrant, then it will be even straight forward to implement and intuitive to use.

[2021-02-17 11:00] AnHeuermann opened #7173 "GenerateMSLIcons.mos test creating svg's that doesn't look like the ones from OMEdit"
### Description
The test [GenerateMSLIcons.mos
](https://github.com/OpenModelica/OpenModelica/blob/master/testsuite/openmodelica/icon-generator/GenerateMSLIcons.mos) is generating SVG files that look different than the ones inside OMEdit.
I encountered the problem when changing the Modelica Standard Library to 4.0.0 in PR https://github.com/OpenModelica/OpenModelica/pull/7161.

### Steps to reprod

[2021-02-17 12:28] lochel commented on #7170
@adeas31 Now you can forward the command line options (`--option`) and the logging level (`--logLevel`).

[code]

[2021-02-17 12:57] adeas31 commented on #7170
Nice! Is the options argument a space separated list?

[2021-02-17 12:58] #7160 closed

[2021-02-17 13:01] lochel commented on #7170
No, it is just a string like, exactly as in the textbox in OMEdit.

[2021-02-17 17:43] lochel commented on #7170
I was a bit too fast with merging your pull request. It unfortunately doesn't work when using two flags. The python package `argparse` doesn't play well with spaces...

[2021-02-17 17:45] lochel commented on #7170
A workaround is to use comma instead of space to separate the flags and to replace comma with space in the `OMSimulatorServer.py`. But that is not nice 😒

[code]

[2021-02-17 19:07] lochel commented on #7170
I have a better solution for it. Unfortunately, it requires both change in OMEdit and OMSimulatorPython.

[2021-02-17 19:49] jnettels opened #7182 "setElementModifierValue() not working as expected with redeclare statements"
### Description
This is just a copy of my question on StackOverflow:
https://stackoverflow.com/questions/62168453/how-to-modify-a-components-value-within-a-redeclare-statement-via-ompython/62188602

The command `setElementModifierValue()` is not behaving as expected, if a redeclare statement is involved:
Something like this works just fine, to set e.g. component.value:
`setElementModifierValue(Exa

[2021-02-18 14:09] adeas31 commented on #7170
Looking forward to your solution. I will adapt OMEdit accordingly.

[2021-02-18 14:46] lochel commented on #7170
@adeas31 Please have a look and let me know what you think.

[2021-02-18 16:56] adeas31 commented on #7170
Fixed with #7191 and OpenModelica/OMSimulator#956

[2021-02-18 16:56] #7170 closed

[2021-02-18 19:24] lochel opened #7195 "Horizontal scrollbar for simulation output"
### Description
In my opinion, the simulation output would be easier to read with a horizontal scrollbar. @adeas31 what do you think?

### Screenshots
![image](https://user-images.githubusercontent.com/8457302/108410137-5036ed00-7227-11eb-93b1-a2da2562ee45.png)

[2021-02-19 07:01] lochel opened #7196 "Renaming a model in text editing"
### Description
Renaming a SSP model in text editing causes problems. OMEdit doesn't recognize the new model name and still tries to query the model using its old name. As a result, the model is destroyed and cannot be recovered, see the screenshot below.

It is very easy to fix though, becase `oms_loadSnapshot` returns already the new cref which should be used.

### Screenshots
![image](https://u

[2021-02-19 08:32] adeas31 commented on #7195
That basically means not to use word wrap. See [QTextOption::WrapMode](https://doc.qt.io/qt-5/qtextoption.html#WrapMode-enum). Not a very nice option to go with.

BTW, the geometry of the simulation output window is preserved so resize it to a suitable width.

[2021-02-19 08:37] lochel commented on #7195
You could also just add a toggle button to the simulation output window so that anyone get the text displayed how they want it.

[2021-02-19 08:40] adeas31 commented on #7195
You always convinces me to implement something new :)

[2021-02-19 13:20] adrpo commented on #7060
Fixed in PR #7180.

[2021-02-19 13:20] #7060 closed

[2021-02-19 15:06] #5849 closed

[2021-02-22 12:42] tinrabuzin opened #7204 "Error NFCeval.evalBuiltinCosTitle with final complex parameters"
### Description
I am not sure what this error exactly means nor what it implies, but I realized it happens when I define final complex parameters as in the example and when the parameter phi is defined using initial equation.
I haven't noticed anything strange in the simulations, i.e. it seems like the simulation results are correct regardless of the error message.

Specifically, I get the followi

[2021-02-22 12:48] perost commented on #7204
This was fixed by the fix for your previous issue (#7156). I would recommend trying out the latest nightly build of OpenModelica and see if it solves your issues.

[2021-02-22 12:48] #7204 closed

[2021-02-23 09:25] tinrabuzin commented on #7204
@perost I am now at  v1.18.0-dev-66-gcf3a725b80 and as you say the problem from my previous issue and the test model from above is fixed.

However, in my larger model I am still getting the `NFCeval.evalBuiltinCos` error related to the Complex parameters. It is appearing regardless of the `final` keyword. I am trying to recreate the problem in a simpler model but I'm unsuccessful so far. I will re

[2021-02-23 09:44] tinrabuzin commented on #7204
Here is the example that recreates the issue:
[code]
It seems like the introduction of another `final parameter Complex` dependent on the first one causes the error message.

[2021-02-23 09:45] sjoelund commented on #7204
That might be because X.re and X.im are used for something structural. If you have an initial equation, parameters cannot be used in for example array dimensions. I'd recommend creating a new ticket with a model that has this problem.

Does it work if you use fixed=true and a binding instead of the initial equation?

[2021-02-23 09:51] tinrabuzin commented on #7204
I think it was nothing structural. I was just using these parameters to compute start values for other variables.

I do not get an error message with a binding equation. I also get correct results with the example from my last comment, but I get this error message that worries me. Do you have any idea if it could eventually cause issues in more complex models?

[2021-02-23 09:54] sjoelund commented on #7204
OK, I'm not sure why it would need to print the error here since final parameters are not required to be evaluated. @perost ?

[2021-02-23 10:06] tinrabuzin commented on #7156
I found another related problem for the following model

[code]

If `*1` is removed from the binding expression, the change in `phi` is reflected. With `*1` included, `x` is not updated.

[2021-02-23 10:22] perost commented on #7204
The error in this case could safely be ignored. The logic in the flattening was wrong, so the compiler would try to evaluate the binding, fail, and then succeed in splitting the binding anyway. I've fixed this in #7208, but it will likely still happen in some cases when the bindings are more complicated.

We really need to redesign this part, the compiler shouldn't evaluate complex bindings. Unfor

[2021-02-26 10:37] lochel opened #7232 "Auto-layout algorithm"
Both, Modelica and SSP models usually come with graphical annotations for their components. However, sometimes those are missing, partially missing or just bad. Therefore, it would be very much appreciated to provide some auto-layout algorithm for those model components.

OMSimulator came with a dot export in its early days which could be processed by graphviz to generate a component structure ove

[2021-02-26 15:04] #7150 closed

[2021-03-01 07:12] lochel opened #7241 "Monospaced font in simulation output window"
I would prefer a monospaced font in the simulation output window because the simulation output is actually formatted for it.

![image](https://user-images.githubusercontent.com/8457302/109463716-c62c2700-7a65-11eb-9030-1756f2525f3d.png)

[2021-03-01 07:21] lochel opened #7242 "Rearranging tabs"
### Description
I would like to rearrange the tabs in my OMEdit session. Maybe I just didn't figure out how to it, but I think it is actually not possible right now.

### Screenshots
![image](https://user-images.githubusercontent.com/8457302/109464356-d7296800-7a66-11eb-9e94-c4b812afbb56.png)

[2021-03-01 09:49] lochel opened #7245 "Parsing error of simulation output"
### Description
Simulating the example `PNlib.Examples.ConTest.Conflict` with `LOG_NLS` in OMEdit results in a parsing error of the simulation output:

I am not sure if it is a problem in the parser or the simulation executable itself.

![image](https://user-images.githubusercontent.com/8457302/109480235-9556ec80-7a7b-11eb-9ea0-0ba97876607d.png)

[2021-03-02 16:48] lochel opened #7252 "Hide simulation progress bar after simulation"
### Description
The new simulation output tabs are pretty nice. To use the available screen space a little better, I propose to hide the simulation progress bar as soon as the simulation succeeded. It basically doesn't provide any information in that situation and the cancel button is deactivated anyways.

### Screenshots
![image](https://user-images.githubusercontent.com/8457302/109682810-0cc1748

[2021-03-03 10:03] zapplelove opened #7255 "How to access the openmodelica GUI via a web browser?"

[2021-03-03 10:09] adrpo commented on #7255
Is only possible if you install it on some computer and then use some VNC service (for example https://novnc.com/info.html) to connect to that computer via the browser.

We are working on a web GUI for OpenModelica ([OMWebEdit](https://github.com/OpenModelica/OMWebEdit), [OMWebService](https://github.com/OpenModelica/OMWebService)) but it will take some time to have something usable.

[2021-03-03 10:11] adrpo commented on #7255
A web-based text environment for OpenModelica can be found here: http://omwebbook.openmodelica.org/
You can input models in there, simulate and plot, see for example: http://omwebbook.openmodelica.org/static/Variables/VanDerPol.html

[2021-03-03 15:01] adeas31 commented on #7252
I am not sure if this is a good idea. I mean the gain is not too much if we remove the progress bar. On the other hand it will be confusing for the users.

[2021-03-03 15:31] adeas31 commented on #7195
@lochel I guess this is not needed now after the simulation output is integrated more in the GUI.

[2021-03-03 16:13] sayantan-m opened #7259 "Error when trying to build OpenModelica from source on Raspberry PI"
Hello,

I tried to build OpenModelica with cpp runtime from source on a Raspberry PI with OS being Debian Buster. I followed the steps as mentioned here
https://github.com/OpenModelica/OpenModelica/blob/master/OMCompiler/README.Linux.md, under Debian/Ubuntu Compile Cheat Sheet. I got the following errors.
/home/pi/OpenModelica/OMCompiler/SimulationRuntime/OMSICpp/omcWrapper/omcCAPI/src/OMC.cpp: In

[2021-03-03 16:15] lochel commented on #7252
I knew you would say this 😆 I do not think that people would be confused.
And look at the screenshot, the gain is actually pretty significant: The simulation output would expand by almost 50%.

[2021-03-03 17:31] lochel commented on #7195
The output window is now usually wider. However, the same issue still exists for me, even if OMEdit is maximized:

![image](https://user-images.githubusercontent.com/8457302/109846377-6cd31c00-7c4e-11eb-8097-8b8e090d3b84.png)

It has no high priority and I can probably arrange myself with the current situation. However, I am still in favor of an option to disable word wrap.

[2021-03-03 23:53] alexchandel opened #7260 "Replace QTWebKit (aka webkitwidgets) with QtWebEngine"
### Description
QTWebKit was deprecated ~5 years ago and has become abandonware.  It hasn't seen a stable release in [6 years](https://github.com/qt/qtwebkit/releases).  Moreover it has [serious unpatched security vulnerabilities](https://github.com/qtwebkit/qtwebkit/releases).

It was replaced by [QtWebEngine](https://doc.qt.io/qt-5/qtwebenginewidgets-qtwebkitportingguide.html).  OpenModelica nee

[2021-03-04 00:33] zapplelove commented on #7255
I want to drag blocks to build a model via a web browser like doing this locally, but the calculation is done in the server.

[2021-03-04 06:41] sjoelund commented on #7259
I think these things only happen if you abort a build halfway through and end up with a broken/older omc version. Can the omc you ended up with be used to simulate models? If it cannot, remove the build/ directory and run make again.

[2021-03-04 06:47] sjoelund commented on #7260
This might be doable now that MacOS and EL6 support was dropped since those used Qt4 to build.

[2021-03-04 11:20] adrpo commented on #7255
@zapplelove yes, I understand that but is not yet possible.

[2021-03-04 11:37] #7245 closed

[2021-03-04 11:38] adeas31 commented on #7245
@lochel this should be fixed. If it doesn't work feel free to reopen it.

[2021-03-04 11:44] lochel commented on #7245
@adeas31 Is it in the OpenModelica master? I could only find it in your fork.

[2021-03-04 11:45] lochel commented on #7245
Ahh, I guess it is part of #7257

[2021-03-04 11:48] adeas31 commented on #7245
Yes.

[2021-03-04 12:00] #7241 closed

[2021-03-04 12:10] #7242 closed

[2021-03-04 12:18] lochel commented on #7242
Works well, thanks!

[2021-03-04 12:20] lochel commented on #7241
Looks much better now 👍

![image](https://user-images.githubusercontent.com/8457302/109963183-66937d00-7cec-11eb-9962-1d53bd741711.png)

[2021-03-04 12:21] lochel commented on #7245
Works fine, thanks!

[2021-03-04 15:54] #7159 closed

[2021-03-04 17:14] sayantan-m commented on #7259
Thank you very much for your prompt response. I cleaned the build directory and ran make again. This time, OpenModelica with CPP runtime was built without any problems.

[2021-03-04 17:14] #7259 closed

[2021-03-04 20:37] alexchandel commented on #7260
I've got everything except the QTWebKit dependents building on macOS: https://github.com/Homebrew/homebrew-core/pull/72254

[2021-03-04 23:03] alexchandel opened #7272 "OMC segfaults while building omc on ARM platforms"
### Description
`omc` segfaults during the build on ARM systems, when it's invoked to build `OpenModelicaBootstrappingHeader.h`.

The build fails here:
[code]

### Steps to reproduce

For ARM macs (likely occurs on other ARM OSs):

* [Install](https://brew.sh/) Homebrew on a vanilla ARM mac:
[code]
* Checkout [the OpenModelica PR](https://github.com/Homebrew/homebrew-core/pull/72254):
[code]
* `br

[2021-03-06 07:09] lochel commented on #7111
I am testing the new api in OMEdit with #7274.

[2021-03-09 06:03] tinrabuzin opened #7280 "Incorrect parameter sensitivity with IDA"
### Description

I get the  sensitivity of the parameter a to be zero for the following model, while I expect it to be non-zero.

[code]

### Version and OS

 - OpenModelica Version: v1.18.0-dev-131-g1f92f44290
 - OS: [e.g. Windows 10, 64 bit]

[2021-03-11 03:28] zapplelove commented on #7255
In the 'evalnotebook.js' there is a line 'var url = '/evalexpression'', is this an executable file in the server? And I cannot find this file in my computer

[2021-03-11 07:46] sjoelund commented on #7255
Pretty much, yeah. You need to install https://github.com/OpenModelica/OMWebbook to run OpenModelica on your server

[2021-03-12 02:31] zapplelove commented on #7255
I have cloned the `OMWebbook` project and modified the Dockerfile to use the ubuntu 18.04 image. And the docker container is running pretty well.

But when I did the process described in the Dockerfile on my real server, I need to go to `localhost:5000/static/QuickTour/HelloWorld.html` to get the website instead of `localhost/static/QuickTour/HelloWorld.html`, and it cannot run when I click the `E

[2021-03-16 12:36] #5839 closed

[2021-03-17 07:35] lochel commented on #7196
@adeas31 Can you please fix this in OMEdit? The API returns already the new model name and you just need to update your own scope if the new name is different from the old name.

[2021-03-23 08:34] tinrabuzin opened #7319 "Simulation output to memory?"
Is there any way or plans to avoid writing simulation results to a file and instead having it in the memory?

Specifically, I'm using OMPython and noticed that my code spends a lot of time accessing the simulation results file (compared to the simulation time). And that happens even when I use regular expressions to select only two variables to be written to the output.

I realize that having the

[2021-03-23 11:23] lochel commented on #7319
We have such plans for [OMSimulator](https://github.com/OpenModelica/OMSimulator) and OMEdit to connect directly to the simulation via zmq to read and display the simulation results. Maybe you are interested in something similar? You are welcome to provide more input and use-cases.

[2021-03-24 09:37] hkiel opened #7320 "Missing config.guess and config.sub"
### Description
`config.guess` and `config.sub` are missing/not created for the install procedure documented on [README.Linux.md](https://github.com/OpenModelica/OpenModelica/blob/master/OMCompiler/README.Linux.md).

### Steps to Reproduce

Doing a fresh `git clone` then `autoconf` and `./configure` leads to an error:
[code]

You can create them by hand by running `autoreconf --install`

### Expec

[2021-03-24 09:58] sjoelund commented on #7320
For me (autoconf 2.69), autoconf generates a configure script that creates config.guess and config.sub when it is run

[2021-03-24 10:52] hkiel commented on #7320
I'm using `autoconf (GNU Autoconf) 2.71` from macports. I never encountered this problem before. Looks like 2.71 just came in recently.
I reactivated the old 2.69 version of autoconf and now the files are generated again.
I guess I can close this ticket.

[2021-03-24 12:10] sjoelund commented on #7320
2.71 might be the default soon, so I think it's good if we can support both.

https://www.gnu.org/software/gettext/manual/html_node/config_002eguess.html suggests that each distribution should contain these files (but it's the gettext manual; not autoconf). Perhaps we could include the files in git to make things easier or we could simply fetch the config.guess/sub when generating the tarballs to

[2021-03-24 14:46] #5177 closed

[2021-03-24 14:51] adeas31 commented on #7319
Is already possible via interactive simulation. I guess you need to implement a OPC-UA client in python for that and you need to run the simulation in OMPython with [embeddedserver flag](https://openmodelica.org/doc/OpenModelicaUsersGuide/latest/simulationflags.html?highlight=embeddedserver#simflag-embeddedserver).

@arun3688 it is possible to specify simulation flags in OMPython, right?

[2021-03-24 15:10] arun3688 commented on #7319
@adeas31  yes, if you are using `ModelicaSystem`  constructor then you can use simulation flag something like below

[code]
For more information see https://www.openmodelica.org/doc/OpenModelicaUsersGuide/latest/ompython.html#enhancedompython

[2021-03-24 19:11] lochel commented on #7319
There is also an easier tcp-based output for the simulation executable. It send the simulation results as text string via a siple socket connection.

[2021-03-25 07:10] tinrabuzin commented on #7319
Thank you all for the suggestions. I will try them out.

[2021-03-25 07:22] sjoelund commented on #7272
We build on ARM all the time, on systems with much less RAM and CPU power than the Apple M1. So it's no problem to build on ARM. However, OpenModelica uses a lot of third-party libraries and own code that may assume that if you are compiling for MacOS, you are actually compiling for x86-64.

Building on MacOS though... That's a big problem. You'll need to compile with `-g` and run a debugger on th

[2021-03-25 08:11] #7320 closed

[2021-03-26 13:18] jschueller opened #7330 "FTBFS with cmake 3.20"
### Description

The build fails with cmake 3.20 as it no longer accept the "--build" argument in configure mode, it was ok with 3.19.x
IMHO it should only be used in build mode.

### Screenshots

[code]

### Version and OS

 - OpenModelica Version: 1.17.0
 - OS: Linux

[2021-03-26 21:28] matomim opened #7334 "Extra simulation flags to CVODE"
### Description

I am working with a co-simulation and I am experiencing some numerical problems that will certainly require some tweaking in the CVODE options, such as initial step size. Unfortunately, according to AnHeuermann, there is no way to pass any additional arguments to CVODE solver that gets embedded in a co-simulation FMU at the moment. It would really helpful if one could change some

[2021-03-30 07:18] adeas31 commented on #7168
I am not sure if `getSSPInfo` is really needed. Even if we add this the actual problem still remains. I mean we already have `getFMUInfo` but you still end up creating this issue. What we need is that OMSimulator should issue a warning when an FMU is added that is not compatible with the user OS.

[2021-03-30 07:25] AnHeuermann commented on #7168
That's a good idea. Just checking if the binary directory for e.g. Windows is there or trying to load the dll would be enough to see if it can run on your system.

[2021-03-30 12:00] adeas31 commented on #7168
Yes. And we should just issue warning or a notification so that the user knows that.

In case when user loads a SSP with non-compatible FMUs then OMSimulator can also issue a warning/notification just once on loading.

[2021-04-05 17:13] jschoenbohm opened #7354 "Problems with type Integer, values > 2^31 - 1"
This issue belongs to the ticket: [(<https://trac.openmodelica.org/OpenModelica/ticket/6353>)].

Actually I use Version 1.17.0-64bit and 1.18.0-64bit on Windows 10.

Further tests showed, that it is not possible to assign a constant value > 2^31 - 1 to a variable of type Integer.
`Integer z;`
`z := 12147483647`
Results in:
_[C:/problems.mo:50:8-50:19:writable] Warning: OpenModelica (64-bit) only s

[2021-04-05 18:20] adrpo commented on #7354
Yeah, I also noticed that we get the 32 bit integer message on 64 bit systems. I'll have a look.

[2021-04-05 20:08] dariomangoni opened #7355 "Simulation crash with Functional Input Argument"
### Description
A wrapper function `Functions.wrapperFun` has a functional input argument `Functions.subfunTemplate`.
When instantiated, to the `subfunTemplate` argument, a non-partial function `Functions.subfun` is passed (this function, on its own, works perfectly).
However, calling the wrapping function (Functions.wrapperFun) causes a crash with error:

_Process crashed
Simulation process faile

[2021-04-05 21:30] valfaro opened #7356 "Optimica"
OpenModelica v1.17.0

Optimica does not recognise  the "constraint" section of an optimizacion problem

the problem has 1 constraint but optimize command output indicates "number of nonlinear constraints: 0"

[optimization_problem.zip](https://github.com/OpenModelica/OpenModelica/files/6260759/optimization_problem.zip)

This optimization problem works fine with OM v1.16.5

####
Optimica compiler d

[2021-04-06 15:37] valfaro opened #7360 "OMEdit re-simulation"
### Description

Model re-simulation (change a parameter value) does not work properly

### Steps to Reproduce

Change a parameter value in variables browser and re-simulate (using a different output file name, in re-simulate set-up)

### Expected Behavior

New (different) variable plot.  The display variable plot is always the same (regarding the parameter value)

### Version and OS

Windows 10,

[2021-04-07 15:46] #4403 closed

[2021-04-12 06:29] lochel opened #7368 "Simulation fails with Dassl, but succeeds with imprungekutta"
Reported by @AHaumer (https://github.com/OpenModelica/OMSimulator/issues/1004).

Version 1.17 64 bit on Windows 10 64 bit.
During my lectures, I'm working on an averaging model of an H-bridge. Seems to work fine, but:
If you set the enable-input = true during the simulation, the simulation fails with solver = Dassl,
but with solver = imprungekutta you get a plausible result.
I've enclosed an examp

[2021-04-12 17:46] ig-borges opened #7371 "Directional Derivatives - FMUs for Co-Simulation"
Hi all,

I would like to know if there is a possibility to export FMUs, providing directional derivatives, and if possible, how can I enable this option when exporting an FMU.

Thanks!

[2021-04-13 13:14] #4449 closed

[2021-04-14 07:54] lochel commented on #7371
OpenModelica does only support directional derivatives for model exchange FMUs at the moment. But you are asking specifically for co-simulation FMUs, right?

[2021-04-14 10:32] christiankral opened #7376 "Provide OpenModelica system libraries for MSL 3.2.3 and 4.0.0"
I am currently providing some open source libraries which are included as system libraries in OpenModelica. Currently all these libraries are based on the MSL 3.2.3 and stored on a GitHub branch named `release`.

I wonder if there is a way to provide the same library both for the MSL 3.2.3 and 4.0.0. If yes, how are the library files provided (in which branches)?

[2021-04-14 13:29] ig-borges commented on #7371
Yes. I would like to export CS-type FMUs providing directional derivatives. I'm doing some co-simulation tests using PyFMI, and when I use the function 'get_capability_flags ( )' for FMUs, I see 'providesDirectionalDerivatives': False.

[2021-04-14 17:20] adrpo commented on #7376
Should be OK if you have the proper uses annotations to MSL and the libraries have different version numbers.
We start using the Package Manager for libraries but we don't have a GUI yet for it. You can find the index of libraries here:
https://github.com/OpenModelica/OMPackageManager/blob/master/repos.json
@sjoelund how do you add a new library to the package manager index? Open a PR?

[2021-04-14 18:31] lochel commented on #7111
@adeas31 we did good progress on this issue. The remianing task is to provide access to all the resources, e.g. ssv files, from within OMEdit.

[2021-04-14 19:25] sjoelund commented on #7376
Yes, opening a PR. I guess the libraries are already there and there is just the matter of adding the libraries.

If they have the same version number, loadModel will not really know how to load something that has a uses annotation on this library though. But this is something that can be resolved. Of course, we support conversion scripts too with API. So hopefully we can just silently upgrade lib

[2021-04-15 11:35] christiankral opened #7378 "Icon of absolutely referred model is not displayed in Diagram View"
### Description and Steps to Reproduce

Consider the model `Graphics` which is a top hierarchy model:

[code]

Two instances of `Graphics` are used by the model `UseGraphics`:

[code]

**Note the difference:** model `graphics2` uses the absolute path `.Graphics` instead of `Graphics`

![image](https://user-images.githubusercontent.com/4184218/114861560-b5edc280-9ded-11eb-8649-b33351753508.png)

**

[2021-04-15 13:50] max-privato opened #7379 "Simple SSP does not work anymore"
### Description

The attached very simple ssp works with OM 1.17 beta3, does not with 1.18-dev 218.

[Test.zip](https://github.com/OpenModelica/OpenModelica/files/6318460/Test.zip)

### Steps to Reproduce

Load Test.ssp and try to run it. The following message is displayed:

python F:/AllOMs/OM1.18.0-dev-218-64bit/share/OMSimulator/scripts/OMSimulatorServer.py --model=C:/Users/Massimo/AppData/Loca

[2021-04-15 13:52] adrpo commented on #7379
What python are you using? As far as I know you need to install zmq in it:
`python -m pip install zmq`

[2021-04-15 14:05] adrpo commented on #7379
Nevermind, I talked with the OMSimulator guys and it sems we're using the OMDev python which did not had this module intalled.
I now installed it in OMDev and in the next nightly this should work fine.

[2021-04-15 14:05] adrpo commented on #7379
Please test tomorrow and close the ticket if is OK.

[2021-04-15 14:09] adeas31 commented on #7360
This works as expected.

The same variable plot will not be updated to the new value since you set a new output file. Plot the variable from the new result file and you will see the updated value.

[2021-04-15 14:13] lochel commented on #7371
Thanks for requesting this feature. It is on our list now.

[2021-04-15 14:17] christiankral commented on #7376
I am afraid my problem is to properly understand the syntax of [repos.json](https://github.com/OpenModelica/OMPackageManager/blob/master/repos.json).

[code]

1. Does this mean that any version >=2.2.0 is provided through the OM package manager?
2. How are versions =>2.2.0 obtained from Github by the package manager? Example (these tags and branches do not yet exist on the repo, however): I want t

[2021-04-15 14:54] sjoelund commented on #7376
1. All versions are provided, but the best supported version is installed by default.
2. It searches for all tags (and branches explicitly given as "branches": [...] (see other entries)
3. experimental is sorted lower than support, but higher than noSupport and obsolete. Things marked fullSupport have a commitment to work in OM. support means we should answer tickets because most things are expect

[2021-04-15 17:16] casella opened #7380 "Categorization of issues on GitHub and migration from trac tickets"
The management of trac tickets is based on several attributes
- reporter
- owner
- priority
- component
- milestone
- version
 - cc

while GitHub has
- author
- assignees
- labels
- projects
- milestone

Q1: how do we best use GitHub's attributes to manage our development process?

Q2: how do we map existing tickets into that structure?

First of all, the concept of "Milestone" as we had it on tra

[2021-04-15 17:55] adrpo commented on #7380
This doesn't work, we have a one to one mapping for Trac -> Github for now. We can probably move the tickets to the other repositories after the migration: https://docs.github.com/en/github/managing-your-work-on-github/transferring-an-issue-to-another-repository

[2021-04-15 18:01] casella commented on #7380
Sounds good

[2021-04-15 18:04] adrpo commented on #7380
I have a mapping for some usual users, for the others I will add a comment in the ticket description: `reported by: email, cc: @users/emails`

[2021-04-15 18:09] adrpo commented on #7380
This is not possible, only the github user that creates the tickets can be owner for the migrated tickets (@OpenModelica-TracImporter ). For new tickets made by other users, that would happen by default.

[2021-04-15 18:38] casella commented on #7380
Please send me the ones for which you don't have a mapping, maybe I can find out

[2021-04-15 18:39] casella commented on #7380
OK, so I guess you will be the father of countelss tickets, and the former reporter will be reported in a comment?

[2021-04-15 18:41] casella commented on #7380
The question is, I often browse the list of my own tickets, the ones that I opened myself. It's quite long. How do I get that after the migration?

[2021-04-15 19:02] max-privato commented on #7379
Sure. Thank you

Il Gio 15 Apr 2021, 16:06 Adrian Pop ***@***.***> ha scritto:

[2021-04-15 19:13] adrpo commented on #7380
`owner` ends up in assignees and you can search for that.

[2021-04-15 20:16] #5620 closed

[2021-04-15 20:23] casella commented on #7380
ok, so either assignee or owner

[2021-04-15 20:41] #7378 closed

[2021-04-16 06:24] max-privato commented on #7379
I've downloaded today dev 221 and repeated the test. Now I don't have the issue anymore.
Thank you!

[2021-04-16 06:24] #7379 closed

[2021-04-16 09:45] dariomangoni opened #7384 "NFCeval.evalBinaryAdd failed to evaluate"
### Description

The full error code reports:
[code]

where 'degree+dim' is the argument of a function called 'factorial' that basically:
- when called by `getMonomesCount` does work
- when called by `getPowerMatrix` that calls `getMonomesCount` stops working

### Steps to Reproduce
Run `getPowerMatrixTest` to replicate the failure: [PowerMatrixPack.txt](https://github.com/OpenModelica/OpenModelic

[2021-04-16 12:12] dariomangoni opened #7385 "NFCeval.evalBinarySub failed to evaluate"
### Description
The error is really close to #7384 but I'm not sure if it is exactly the same.
[code]

In this case I was able to reduce the minimal example to very few lines of code:
[code]

### Version and OS

 - OpenModelica Version: v1.17.0 (64-bit)
 - OS: Windows 10, 64 bit
 - MSL 3.2.3

[2021-04-16 12:13] dariomangoni commented on #7384
@perost I have opened another ticket #7385 that is really close but different from this; please be aware that a fix to this ticket might solve also the other.

[2021-04-16 12:26] perost commented on #7385
This does seem to be the same issue as #7384, which I've already fixed locally and which works with this example too. I need to test it a bit more before I commit it though. But your previous ticket was actually quite helpful, I was already working on a similar issue and taking both issues into account led me to a better solution.

[2021-04-16 13:08] dariomangoni commented on #7384
Oh, btw, since you are working on this, I could suggest even a third bug trigger if it is of any help.
With the same example, if you go into the `getMonomesCount` function and, instead of `degree+dim` you put a consistent constant value (`7`) like this:
[code]
you should get:
[code]
So now also `evalRangeExp` is covered :-)

[2021-04-16 13:23] perost commented on #7384
Thank you, but failing in NFCeval is in this case just a symptom and not the actual issue. The real issue is that references to input parameters in default arguments are replaced with the actual arguments of the function call, but this is done after the default arguments have already been typed.

So in:
[code]
we type the call to `getMonomesCount` while `degree` and `dim` still points to the input

[2021-04-16 16:33] #7384 closed

[2021-04-16 16:33] #7385 closed

[2021-04-19 07:55] christiankral opened #7388 "Parameters are not located correctly in parameter dialog under"
### Description

Parameters grouped by the `Dialog` annotations `tab` and `group` are not located correctly under some conditions.

### Steps to Reproduce

#### Case 1

Consider the following test package:

[code]

The parameter dialog of the test model `TestDialogGroup` then shows:

![image](https://user-images.githubusercontent.com/4184218/115198973-f81b4a80-a0f2-11eb-8148-a2247385ab5d.png)

Onc

[2021-04-19 07:55] christiankral commented on #7388
Refs #2661

[2021-04-19 08:27] christiankral opened #7389 "Duplicate does not duplicate model code"
### Description

Under certain conditions duplicating a model only duplicates the class name but not the code.

### Steps to Reproduce

- Hit `CTRL+N` to create a new model `Test`
- Switch to **Text View**; OM shows:
[code]
- Insert a line after line 1 and type (do not copy and paste): `parameter Real a;` which results in:
[code]

- Click on the following icon to create a new package `TestPackage`

[2021-04-19 14:33] phannebohm opened #7392 "Logged timings are inconsistent"
### Description
Some models report nonsensical timing information. Timings are subtracted from a total to get the simulation time.
Probably the problem is that the total is measured differently from the other timings so the results are inconsistent and confusing.

### Steps to reproduce
Run the model [ScalableTestSuite.Thermal.Advection.ScaledExperiments.AdvectionReaction_N_3200](https://libraries

[2021-04-20 16:02] dariomangoni opened #7395 "NFEvalFunction.assignArrayElement: unimplemented case for #EMPTY#"
### Description

I get the following error:
[code]
I also got what causes the issue:
[code]
Unfortunately if `coeffs` is a function output (like in the test case from which I extracted this minimal example) it's not possible to move the declaration in this way.

### Steps to Reproduce
Minimal example: [testMulti.txt](https://github.com/OpenModelica/OpenModelica/files/6344964/testMulti.txt)
(please

[2021-04-20 18:59] dariomangoni commented on #7395
Thanks a lot.
Actually I have three different models that trigger this issue. I'll see if I can find a way out for all of them.
If you want to close this ticket I'll eventually open a dedicated one in case I cannot make it to work! (and of course, if too much work is needed it would just serve as memo!)

[2021-04-22 10:01] dariomangoni commented on #7385
@perost, I'm at v1.18.0-dev-233-g07fe8a249c (64-bit) generated at 2021-04-22 03:57 but this issue is still present.
Is this expected? Should I wait more to have the fix integrated in the nightly build?

[2021-04-22 10:05] sjoelund commented on #7385
That version should have the fix from #7387

[2021-04-22 10:06] dariomangoni commented on #7385
All my tests that were hitting that issue are still failing though

[2021-04-22 10:09] perost commented on #7385
Do you have some other test than the one you posted above? That one is definitely working for me at least.

[2021-04-22 10:17] dariomangoni commented on #7385
Am I doing something wrong or have I bad settings?

https://user-images.githubusercontent.com/8025529/115697971-67e43c00-a364-11eb-8f0a-c9b670bc588e.mp4

I have other examples but I cannot share them easily

[2021-04-22 10:27] perost commented on #7385
There aren't any settings that would influence this issue, so the only thing I can think of is that you're still using an old version of omc somehow. Do you have multiple versions of OpenModelica installed? Maybe it's using the wrong omc in that case.

[2021-04-22 10:30] perost commented on #7385
Actually, now that I think about it there is one flag that would cause the same issue: `-d=evaluateAllParameters`. I can't see from your video whether you have it set or not since it's not a simulation flag.

[2021-04-22 12:10] perost commented on #7385
I fixed the issue with using `-d=evaluateAllParameters`, but it seems we have some issues with our CI that's preventing me from merging it at the moment.

[2021-04-22 13:17] ijalab123 opened #7399 "Issue in Curvebend element in fluid Library"
### Description
I have attached 2 simple model  using fluid with a curvedBend fitting and in another case Edgebend fitting. I get an error while using curvedBend fitting. But the error does not occur in Edgebend fitting.

One observation is that

for Edgebend I have used  a record from ==> Modelica.Fluid.Fittings.BaseClasses.Bends.EdgedBend.Geometry for defining Geometry parameter G1.

for Curvebe

[2021-04-22 16:34] adeas31 opened #7402 "Parameters are marked editable in Variables Browser in OMEdit with option Evaluate all parameters enabled"
### Description

Parameters are marked as editable in the Variables Browser in OMEdit when a certain combination of flags are used.

### Steps to Reproduce

#### Case 1

 - Run OMEdit and go to "Tools->Options->Simulation".
 - Check option "Evaluate all parameters (faster simulation, cannot change them at runtime)" and check option "Enable old frontend for code generation".
 - Open the file [Circu

[2021-04-22 16:39] adeas31 commented on #7402
See also #7360

[2021-04-22 16:40] adeas31 commented on #7402
@kabdelhak seems to be some issue with code generation.

[2021-04-22 20:10] dariomangoni commented on #7385
Hi @perost, I usually have `-d=evaluateAllParameters` enabled, but I got rid of them whenever I have to check issues.
I removed them also from Options>Simulation. Is there any other place that I should check?

[2021-04-22 20:13] perost commented on #7385
There's a checkbox in Options->Simulation too, and it's also possible to manually add the flag there. Anyway, it should work now whether you have that flag enabled or not. Let us know if this fixes the issue for you, otherwise we'll have to investigate more.

[2021-04-22 20:22] dariomangoni commented on #7385
Oh you are right, without the checkbox it works. But thanks to have it fixed also for the "evaluateAllParameters=true" case.

[2021-04-23 06:32] kabdelhak commented on #7402
It seems more like a new to old frontend problem to me, but i can check!

[2021-04-24 06:53] max-privato opened #7406 "Use Greek letters in OMEdit plots and diagrams"
### Description

### Steps to Reproduce

This is a follow-up of comment 16 in ticket #5447, where @adeas31 says:
_I believe we should have a different ticket for it._

So here I replicate my comment from there:
_Since Modelica is from its ground-up Unicode compliant, I think time has come to use greek letters when needed: greek-omega fo ohms, greek-mu for micro. I did this on my PlotXY, with Qt, a

[2021-04-26 13:13] perost commented on #7402
The new frontend marks the parameters as final while the old doesn't. I'm not sure what's used to determine if a parameter can be changed or not though, but if a parameter is final it should obviously not be allowed to be modified.

[2021-04-26 13:22] adeas31 commented on #7402
There is an attribute `isValueChangeable` in the `model_init.xml` file that is used by OMEdit.

[2021-04-26 13:53] dariomangoni opened #7409 "Wrong URI expansion with loadResources"
### Description

While using the `modelica://<LibraryName>` syntax the expanded URI
is missing the library name.
e.g. the file `"modelica://polyFit_Pack/Resources/testPoly2D.mat"` gets expanded to
`"C:/workspace/_modelica_temp/Resources/testPoly2D.mat"` instead of
`"C:/workspace/_modelica_temp/polyFit_Pack/Resources/testPoly2D.mat"`

### Steps to Reproduce
Minimal example
[polyFit_Pack.zip](https:

[2021-04-26 14:38] perost commented on #7402
I took a closer look, and I get the exact behaviour mentioned in the description. I.e. the parameters are not editable when using the new frontend and evaluate all parameters, but they are when using the old frontend.

So this is an issue with the old frontend, since the evaluated parameters shouldn't be editable. The old frontend doesn't mark evaluated parameters as final, which might not be so e

[2021-04-26 14:44] kabdelhak commented on #7402
They are marked as editable but it doesn't actually change anything right? Seems bad, but the new frontend should be used anyways.

[2021-04-26 14:49] perost commented on #7402
Not in this case, but the old frontend can be a bit inconsistent about where it evaluates parameters. I.e. it might evaluate a parameter only in some places and leave it in others, which could cause issues if the value of the parameter was later changed. The new frontend makes sure that if a parameter is evaluated anywhere it's also evaluated everywhere.

[2021-04-26 14:49] adeas31 commented on #7402
Yes. I guess the change is ignored and that is what reported in #7360 by @valfaro

[2021-04-26 18:45] casella commented on #7402
If the issue is only present with the old front-end, I guess this ticket can be closed with milestone 1.17.0 (which we still don't have among the tags, I hope Adrian can get through that soon), since the new frontend is used there by default.

Do I miss something?

[2021-04-27 08:26] Arinomo opened #7412 "FMU failed with an external look-up table"
### Description
FMU exported from OMv1.17 failed to look-up an external table using FMUChecker.

Works for FMU exported from v1.14 with out problem.

### Steps to reproduce
Export example model below as a fmu v2.0 co-simulation only with model decsription filter set to none. Test using FMUChecker-2.0.4-win64.

[code]

with following matrix inside a text file located in a folder TutorialPackage/Ext

[2021-04-27 08:32] Arinomo commented on #7412
I think it identical to #7409. should i close it?

[2021-04-27 10:11] adrpo opened #7413 "Record component should be able to take the dimensions from the binding equation"
### Description

Missing type dimensions should be taken from RHS binding if possible.

### Steps to Reproduce

Consider model RecordIssues.M:
[code]

Instantiating the RecordIssues.M should work but it gives an error:
[code]

### Expected Behavior

The model should flatten fine.

### Version and OS

 - OpenModelica v1.18.0-dev-242-g6d0557a077 (64-bit)
 - Windows 10 64bit / msys2/mingw64

[2021-04-27 12:00] adeas31 commented on #7402
But we still have option `Enable old frontend for code generation` in OMEdit. If we are providing a way to use old frontend then it should work as well. What's the point of having an option that is faulty.

Or maybe the option `Evaluate all parameters (faster simulation, cannot change them at runtime)` can be renamed to `"Evaluate all parameters (faster simulation, cannot change them at runtime. D

[2021-04-27 12:20] perost commented on #7402
We generally don't fix issues in the old frontend anymore, it's just provided as a temporary fallback option right now and users can't expect that everything will work with it.

[2021-04-27 12:55] casella commented on #7412
Looks like it, but I'd keep it open anyway with a reference, maybe FMU has something to it

[2021-04-27 13:00] casella commented on #7402
It's meant as a backup option for the (now very rare) casese where the NF fails but the OF works. The chance that the NF fails, the OF works, _and_ we have this issue is very low, and we should accept it. We shouldn't spend any more time maintaining the OF, that decision was taken a long time ago.

Besides, this issue is slightly annoying, but not a critical one. There are hundreds of more pressin

[2021-04-27 13:19] adeas31 commented on #7402
Agree but that is the easiest and quickest solution for now. We anyway I have longer texts than this one in the GUI. Disabling the option when the other option is checked will work but not in the case when we explicitly enable old frontend option when the simulation fails. In that case we need to disable evaluate all parameters and doing things that are not apparent to the user are not nice.

[2021-04-27 14:03] dariomangoni opened #7415 "Cannot resolve matrix product when array dimensions are given by different variables"
### Description

I have this matrix production operation: `monEval*coeffs`
that works fine if the columns of `monEval` and rows of `coeffs` are defined by the same variable, but fails as soon as an alias variable is used.
e.g.
[code]
[code]
[code]

It's not a big deal, but it does make confusion.

### Steps to Reproduce

Minimal example: [productMatrixTest.zip](https://github.com/OpenModelica/Open

[2021-04-27 14:19] casella opened #7416 "Preserve inverse functions in the flat model"
### Description

Inverse functions should be included in the flattened model

### Steps to Reproduce

If I flatten the attached `InverseFlattening.M` model after setting `--showStructuralAnnotations` I get
[code]
### Expected Behavior

The definition of the inverse function `f_inv` should also be included, otherwise it is impossible to use it to solve the model more efficiently

[2021-04-27 14:24] casella commented on #7416
[code]

[2021-04-27 15:32] perost commented on #7416
This is probably a bigger issue than just adding inverse functions to the flat model, because as far as I can determine there's nothing in the compiler that actually uses the inverses. We store information about function derivatives in the DAE, but we have no equivalent for inverse functions.

[2021-04-27 16:04] #7406 closed

[2021-04-27 18:31] hansVIE opened #7419 "Issue with Modelica.ComplexBlocks.ComplexMath"
### Description
Wrong initialization and simulation results when using block `Modelica.ComplexBlocks.ComplexMath.Feedback`

### Steps to reproduce
`buildmodel`  with original MSL 3.2.3 `Feedback`
[code]

output
[code]
initialization: FAILS
simulation: fails

### Expected behavior with modified Feedback block
ignoring `useConjugateInput*`  in block `Modelica.ComplexBlocks.ComplexMath.Feedback`
[cod

[2021-04-28 09:03] AndreaBartolini opened #7421 "OMEdit - bad behaviour of the graph legend when a trace is hidden"
### Description
suppose to plot more than one trace in the same graph, by clicking on a trace name in the legend the trace can be hidden/visualized.
Normally the name of the hidden trace is grayed out in the legend, and this is still true for the first trace that is hidden, but when you hide another trace the previous hidden trace  name in the legend comes back to black, so it is very difficult to

[2021-04-28 09:40] adeas31 commented on #7421
I quickly tested this and I can't reproduce this with the latest version on Windows. I will try to test it on Linux.

Can you make a small screencast that shows the problem.

[2021-04-28 10:14] AndreaBartolini commented on #7421
here a little screencast that shows the problem...

https://user-images.githubusercontent.com/25974985/116387629-462efd00-a81b-11eb-987b-8e9af03d6691.mp4

[2021-04-28 10:20] AndreaBartolini commented on #7421
here a screencast that shown the problem...

https://user-images.githubusercontent.com/25974985/116388367-0caac180-a81c-11eb-8da2-d221f802da31.mp4

[2021-04-28 10:23] AndreaBartolini commented on #7421
Hi Adeel, I've made a screencast but if I upload it here only the audio is reproduced (I don't understand the reason...).
So I send it directly @your email...

[2021-04-28 11:52] adeas31 commented on #7421
Yes, that was a regression introduced in https://github.com/OpenModelica/OpenModelica/commit/0e423e178dc5c96573a0579a2a90c0080424293c. I already fixed it in https://github.com/OpenModelica/OpenModelica/commit/0e423e178dc5c96573a0579a2a90c0080424293c. I guess the Linux build is older than https://github.com/OpenModelica/OpenModelica/commit/0e423e178dc5c96573a0579a2a90c0080424293c

[2021-04-28 12:28] AndreaBartolini commented on #7421
Thanks Adeel,
in fact the linux build is broken since 5 days.... I'll wait that it becomes available yet...

[2021-04-28 12:28] #7421 closed

[2021-04-29 07:02] LukasKoenemann opened #7423 "generate documentation with .mos"
Hello, I want to generate a html-documentation for my library. But I don't know how it works. There is forum entry on the old openmodelica-forum ( https://www.openmodelica.org/forum/default-topic/1524-generate-documentation-with-openmodelica), but I don't understand how I need to manupilate the original GenerateDoc.mos-file for generating the docs for my library (https://build.openmodelica.org/Doc

[2021-04-29 16:56] hansVIE commented on #7419
### minimal example now attached
[ComplexMath.zip](https://github.com/OpenModelica/OpenModelica/files/6400314/ComplexMath.zip)

[2021-04-30 10:56] adrpo commented on #7380
Milestones are now ported:
https://github.com/OpenModelica/OpenModelica/milestones

[2021-04-30 12:27] JothanChanes opened #7425 "CSE variable not initialized in code-generation (Jacobian)"
Hi,

OpenModelica 1.17 with new front-end. The following MWE generates a compiler error because of an undeclared variable:

The generated code is (tanktest_12jac.c)

The error is

`tanktest_12jac.c:31:259: error: use of undeclared identifier '_omcQ_24cse2'`

Thanks for having a look at it. Let me know if additional information is required.

[2021-04-30 13:49] perost commented on #7413
The issue turned out to be that when evaluating `r.n` for the dimension we'd create a component reference for `r` and try to evaluate it to get the binding expression, but since `r` is a continuous variable it would just be skipped. I've changed it so that we now instead fetch the binding of the parent and create the appropriate expression for the field we're looking for, and then try to evaluate

[2021-04-30 14:26] adrpo commented on #7413
Thanks! Very good, I will try this as soon as is merged!

[2021-04-30 14:27] #7413 closed

[2021-04-30 15:44] adrpo opened #7427 "Fixing arrayWithIntegerIndex[IndexByEnumeration] in existing libraries is torture"
### Description

There are a lot of existing libraries that use this pattern which is not Modelica Specification compliant:
[code]

Adding Integer(Enumeration) everywhere manually:
- takes forever
- is error prone
- is ugly code

Same goes for arraysWithIndexEnumeration[IndexByInteger];

### Steps to Reproduce

Flatten the model above.

### Expected Behavior

Add a new permisive flag to just give

[2021-04-30 15:54] perost commented on #7427
In this case it seems like the solution is rather to change:
[code]
to
[code]
I'm not sure why the code jumps through hoops to make sure the dimension is an Integer when the intent clearly is that it should be an enumeration. Perhaps it's trying to work around some old tool issues?

[2021-04-30 16:01] adrpo opened #7428 "Binding a function parameter via constrainedby clause does not work"
### Description

[code]

### Steps to Reproduce

Flatten the model `FunctionWithFormalParamerBoundedInConstrainedBy.M` above.
[code]

### Expected Behavior

The model flattens fine without error.

[2021-04-30 16:03] adrpo commented on #7428
Again, TransiEnt library pushes the testing boundaries further! Very good :)

[2021-04-30 19:27] adrpo commented on #7427
I tried to do that, but it uses a for loop with integer index on it and some other operators and I didn't want to change too much. I also suspect that in some cases nTypes is smaller or bigger than the size of the enumeration.

[2021-05-01 09:45] Arinomo commented on #7412
[FMUs.zip](https://github.com/OpenModelica/OpenModelica/files/6409327/FMUs.zip)
Worked with FMU exported from v1.16 and v1.18 (1.5.2021)

[2021-05-01 15:48] bilderbuchi commented on #7380
All the discussion/description or a backlink seems to be missing from migrated issues. Did something go wrong in the migration, or is this still work-in-progress? I guess it doesn't yet make sense to hunt down my old issues to update/repro/close?

[2021-05-01 16:11] lochel commented on #7380
It is still work-in-progress. You can start to chase your old tickets as soon as this issue is closed :)

[2021-05-03 01:29] githubfrond commented on #5485
progress on this?

[2021-05-03 08:56] max-privato opened #7429 "OM compatibility on a very simple case"
### Description

I have a very simple case for which the FMUs created by OM can be successfully imported into Dymola, but cannot if pedantic mode is selected.
I'm not able to understand whether it is an OM or Dymola issue, and therefore report here. Indeed it could be an issue of the Dymola importing routine, which creates pedantic-incompatible OM code.

The error message I get from Dymola (pedant

[2021-05-03 13:09] #7428 closed

[2021-05-03 14:06] #7389 closed

[2021-05-03 18:16] sjoelund opened #7432 "Matrices.integralExp cannot be instantiated"
[code]
But inside integralExp there is a multiplication with mixed `na` and `size(A,1)` which the frontend chokes on. It should be a runtime check: https://specification.modelica.org/maint/3.5/interface-or-type-relationships.html#type-compatible-expressions

[2021-05-04 07:41] JKRT opened #7433 "Possible to write MetaModelica code without assigning to variables for each branch in the CFG"
### Description
On the following [line](https://github.com/OpenModelica/OpenModelica/blob/master/OMCompiler/Compiler/NFFrontEnd/NFTyping.mo#L1884
)
in the new frontend, e is used even though it is not always defined. No real issue at the time of this writing however, there may be bugs hiding here

Code for context:
[code]

### Expected behavior
A compiler error should be thrown for the case descri

[2021-05-04 11:08] #7432 closed

[2021-05-04 13:46] sjoelund commented on #7429
Have you tried if Dymola allows you to import Dymola-generated FMUs in Dymola with pedantic mode? I suspect you cannot given the error message.

[2021-05-04 13:54] sjoelund commented on #7409
I get `... loading "Y" from "/home/martin/tmp/polyFit_Pack/Resources/testPoly2D.mat"`. Are you sure that the `package.mo` is loaded and not `C:/workspace/_modelica_temp/polyFit_Pack.mo`? You can check in OMEdit or using `getSourceFile(polyFit_Pack)`

[2021-05-04 13:57] #7272 closed

[2021-05-04 14:04] dariomangoni commented on #7409
Hi Martin,
I probably did something strange because it's working also for me now. Sorry, don't know what happened.

[2021-05-04 14:04] #7409 closed

[2021-05-05 17:56] casella opened #7439 "Weird regression of OMC on Apr 29"
### Description

one of the [three commits on Apr 29](https://github.com/OpenModelica/OpenModelica/commits/master?before=877362bf7aaa7be3cb0f28d6b688f20a87586365+35&branch=master) broke some models of the [AES library](https://github.com/looms-polimi/Automation_of_Energy_Systems/tree/main/Modelica/AES), that used to work with the previous nightly build, based on the previous day's commit [355f2a42

[2021-05-05 20:08] max-privato commented on #7429
Dymola imports the FMUs it creates in pedantic mode without any complaint. In the zip enclosed here you find the same firstOrder.mo as in the previous example, along with the FMU Dymola created (and can import in pedantic mode).

[FirstOrderDym.zip](https://github.com/OpenModelica/OpenModelica/files/6429982/FirstOrderDym.zip)

[2021-05-05 20:25] perost commented on #7439
This is actually not true, my record fixes touched a lot of the backend. That commit also broke 2 models in the Buildings library, and I couldn't figure out why. I had given up on fixing that issue myself, but the fact that this model doesn't actually contain any records was the clue I needed since very few of my changes did not concern records.

[2021-05-05 21:45] #7439 closed

[2021-05-06 05:59] sjoelund commented on #7429
Dymola:
[code]
OpenModelica:
[code]
So I don't see any difference except in Dymola it is a constant.

[2021-05-06 09:16] jschueller opened #7444 "Memory leak in modelInfoInit"
the memory allocated in modelInfoInit: https://github.com/OpenModelica/OpenModelica/blob/master/OMCompiler/SimulationRuntime/c/simulation/simulation_info_json.c#L396

leaks from fmi2Instantiate:
https://github.com/OpenModelica/OpenModelica/blob/master/OMCompiler/SimulationRuntime/fmi/export/openmodelica/fmu2_model_interface.c.inc#L549

and also possibly in fmi2Reset where it should be freed before

[2021-05-06 09:20] AnHeuermann commented on #7444
Thanks for finding the potential leaks! That is usually the annoying part.
I'll have a look into it when I have some time.

[2021-05-06 09:22] jschueller commented on #7444
yes, it takes some valgrind-fu, thanks

[2021-05-06 11:07] casella commented on #7402
OK. I'm fine with `Evaluate all parameters (faster simulation, cannot change them at runtime, does not work with old frontend)`.

@adeas31, can you proceed this way and then close this ticket? Thanks!

[2021-05-06 11:11] perost commented on #7415
This was fixed by the same fix as for ##7432.

[2021-05-06 11:11] #7415 closed

[2021-05-06 11:15] casella commented on #7416
Absolutely. But I'd say that passing this information to the backend is the first required step to do that.

The reason I'm asking for this now is that we want to use this information in our new efficient LLVM compiler, which gets the flat, nonscalarized model as an input. So it would be nice to have it right away.

[2021-05-06 11:21] phannebohm commented on #7416
This is also something we want to make use of in the new backend. So please proceed :slightly_smiling_face:

[2021-05-06 11:44] casella commented on #7419
@hansVIE, did you try without `--daeMode`? Does it work in that case?

[2021-05-06 12:46] casella commented on #7423
See [#2157](https://trac.openmodelica.org/OpenModelica/ticket/2157). @adeas31, could you take care of that?

[2021-05-06 12:58] spinnau commented on #7330
This compile error also happens to me on linux for current master v1.18.0-dev.264+g3da13e7ce8

As stated in the cmake-3.20 release notes (https://cmake.org/cmake/help/latest/release/3.20.html#other-changes): "When running cmake to Generate a Project Buildsystem, unknown command-line arguments starting with a hyphen (-) are now rejected with an error. Previously they were silently ignored."

Thus,

[2021-05-06 13:00] jschueller commented on #7330
cool! could you open a pull-request ?

[2021-05-06 13:00] casella commented on #7425
@JothanChanes, thanks for reporting.

@kabdelhak, I tried to inspect the model with the debugger, when I double-click on `$pDERLSJac3`, which is apparently the culprit, no information is displayed. I guess dummy derivatives/ASSC are involved. Would you mind having a look?

[2021-05-06 13:09] casella commented on #5485
Not yet. Do you have any specific test case to report?

[2021-05-06 13:15] spinnau commented on #7330
Sure.

[2021-05-06 14:47] casella commented on #7439
I'll check with the latest nightly build that includes https://github.com/perost/OpenModelica/commit/5d4d8445ae23927b70819ba4ff6bb9c63387cf83, but I'm a bit skeptical. I compared the output of `-d=dumpdaelow` before and after your original changes and they were exactly the same. Unless I messed up somehow with the installations...

[2021-05-06 15:01] perost commented on #7439
The issue was that it just failed during index reduction because it used a function in the old frontend that I had changed, up to that point the behaviour would've been identical and not shown up in dumpdaelow.

[2021-05-06 15:35] casella commented on #7444
If possible, pls. commit to master and then backport to 1.17.1

[2021-05-06 15:38] casella commented on #7439
Aha, that explains it. I was starting to believe ghouls and poltergeists were involved... 😄

[2021-05-06 15:47] hansVIE commented on #7419
### no impact of option: --daemode
Tried both options:  `setCommandLineOptions("--daeMode");`  and  `//setCommandLineOptions("--daeMode");` and get the same warning.

[2021-05-06 15:49] hansVIE commented on #7419
my mistake

[2021-05-06 17:06] #7330 closed

[2021-05-06 17:51] max-privato commented on #7429
yeah, it is rather strange.
Dymola has already shown to be not that good with FMUs recently, since it incorrectly gives zero as nominal value for state variables (ticket #1007).

Maybe this is another example, but I don't have enough FMU knowledge to say anything serious about this.

Just to be sure, I checked again the behaviour of the enclosed two zip files, and I confirm that the OM fmu causes

[2021-05-06 18:22] sjoelund commented on #7429
So I checked in Dymola, and their generated code contains:
[code]

So I guess it would work if OpenModelica would turn that final parameter into a constant, like Dymola does. But otherwise, it simply seems like Dymola cannot handle enumerations in imported FMUs without warnings/errors (pedantic mode).

I'm not sure if OpenModelica should be changed to consider these parameters as constants. It wou

[2021-05-06 23:59] githubfrond commented on #5485
Unfortunately we can't share our test cases outside of Defence in Australia.  However, I did attempt to run the 6dof robot example in the Modelica Standard Library with the Kinsol nls and -noScaling options, and it displays the very large memory usage and significantly slow solution times that we are experiencing with our other models.

Case a)
Running with Default Simulation Settings (dassl selec

[2021-05-07 06:34] lochel commented on #7412
@Arinomo @casella So this is a regression in 1.17, but already fixed for 1.18? Do we have to patch 1.17, or should we just go ahead with 1.18?

[2021-05-07 06:40] casella commented on #5485
@kabdelhak, @AnHeuermann, @phannebohm, we'll have to look again into this.

[2021-05-07 06:42] casella commented on #7412
If we know exactly what is the patch, it would be nice to, but I won't spend much time on this. @Arinomo, if you need this feature for your work, you can rely on the nightly.

We could also make a stable release of what we currently have on master, possibly after @kabdelhak has merged in the reactivation of reshuffle, and possibly after he has taken care of the ThermoPower library issue :)

[2021-05-07 06:50] AnHeuermann commented on #5485
Do I see it correctly that OpenModelica Compiler version 1.13.2 is used?

@githubfrond Have you already tried with the nightly build? We fixed at least some memory issues (but not all).

[2021-05-07 08:12] Arinomo commented on #7412
For me the 1.18 is ok.

thanks.

[2021-05-07 08:13] #7412 closed

[2021-05-07 08:16] casella commented on #5485
Ops, I completely overlooked that. Version 1.13.2 is out of the Jurassic period, there is no reason whatsoever to use it as of today. Please try with 1.17.0, or with the latest 1.18.0-dev nightly build.

[2021-05-07 08:26] sjoelund commented on #5485
(Also, we changed Sundials version, so maybe the bug can be fixed by changing some things now; like free'ing every (configurable) 1000 or so iterations)

[2021-05-07 10:52] AnHeuermann opened #7451 "Segfault when using non-existent result file path (CSV only)"
### Description

When specifying the name of the CSV result file with simulation flag `-r` to a non-existing path the simulation segfaults.

### Steps to Reproduce

Build a simulation executable for some Modelica model, e.g. BouncingBall.mo and then run the executable and change outFormat to csv and use a non-existing directory for the csv file name.
[code]

### Expected Behavior

Exit after the a

[2021-05-10 07:51] #7402 closed

[2021-05-10 08:55] adeas31 commented on #7360
See #7402

[2021-05-10 08:55] #7360 closed

[2021-05-10 09:19] #4469 closed

[2021-05-11 09:17] Arinomo commented on #5604
works in v1.18

*i reported this on trac

[2021-05-11 11:04] casella opened #7456 "Disable old front end upon new installation"
### Description

We have reports of various errors from frustrated users, which turn out to be due to the option "enable old front end" remaining selected whenever a new version is installed, even though it is no longer appropriate, due to the recent progress of the NF.

Until we finally get rid of this option (I'm not sure 1.18.0 will be good enough to say that tere are zero models around still r

[2021-05-11 11:11] adrpo opened #7457 "Porting constrainedby modifiers from the original definition through the redeclare chain does not work"
### Description

While flattening model `TransiEnt.Producer.Gas.Electrolyzer.Check.Test_400A_Espinosa_L2`
you get the error:
[code]
The total model is attached.

### Steps to Reproduce

[code]
### Expected Behavior

Flattens it fine

[Test_400A_Espinosa_L2Total_original.zip](https://github.com/OpenModelica/OpenModelica/files/6458286/Test_400A_Espinosa_L2Total_original.zip)

[2021-05-11 12:36] adeas31 commented on #7456
We can have a popup on startup that is only shown if old frontend is selected in the settings.

`You have enabled old frontend for code generation which is not recommended. Do you want to switch to new frontend?` with buttons `Switch to new frontend` and `keep using old frontend`.

This will be annoying to users who still want to use the old frontend for some reasons.
Also will create a cycle in s

[2021-05-11 12:42] AnHeuermann opened #7458 "Docker build FMUs from Windows not working"
### Description

On native Linux (and from WSL) it is possible to generate a FMU for a different system using Docker images. On Windows it fails because `configure` is missing.

### Steps to Reproduce

Run the following script with omc:
[code]

This works fine on Linux and WSL but not on Windows:
[code]

When running `ls` inside the directory I can see that indeed `configure` is missing. Simply ca

[2021-05-11 18:08] casella commented on #7419
I made some investigations on this test case.

First of all, binding equations for record parameters (such as Complex gains) are moved to initial equations (and the parameter attribute fixed set to false) by the front end for technical reasons, so that is OK.

There is clearly something going wrong with the initialization problem set up in this model. First the backend complains that there are not

[2021-05-12 08:55] rfranke opened #7460 "OMEdit shall support simple creation of connectors"
When building component models graphically, some of the connectors need to be exposed to the outside. As of today, these top level connectors need to be created like component models from the respective model library.

OMEdit should support the creating of top level connectors directly when drawing a connection line. E.g. a right click could open a popup menu with a button to create a connector of

[2021-05-12 11:15] casella commented on #7460
This feature requires OMEdit to fetch the type of the connector to which the connection is made. I guess this feature is already available from the API, in which case this would be quite easy to implement. @adeas31, is this the case?

[2021-05-12 11:20] adeas31 commented on #7460
See #5069.

We already had a ticket about it in our old trac system [#5069](https://trac.openmodelica.org/OpenModelica/ticket/5069).
I will close the old one.

[2021-05-12 11:21] adeas31 commented on #5069
Same as #7460.

[2021-05-12 11:21] #5069 closed

[2021-05-12 11:36] #7456 closed

[2021-05-14 04:09] githubfrond commented on #5485
Finally had a chance to re-execute the simulation with the later OMC, apologies for the delay.
The same model using the kinsol nonlinear solver exhibits the same errors as before with regard to not converging, including the growth in memory usage over time, eventually reaching 60% of all memory before the simulation fails with no further messages.
It solves fine if the nonlinear solver is not kins

[2021-05-14 11:29] AnHeuermann commented on #5485
Okay, I can confirm that running Kinsol on the full robot example with `OMCompiler v1.18.0-dev.269+g83ff1a1bb1` will consume all of my precious memory.
[code]

I'll investigate more.

[2021-05-14 13:03] AnHeuermann commented on #5485
It is like @githubfrond guessed.

Kinsol fails with the default strategy, we change it to something else and before solving again call `nlsKinsolConfigSetup` which will change it back to the default strategy, which will fail, so we change it to something else and so on...

This over and over call of `nlsKinsolConfigSetup` is the reason for the endless loop and the memory leak. I fixed this and now

[2021-05-14 15:20] #5485 closed

[2021-05-14 15:21] AnHeuermann commented on #5485
@githubfrond The next nightly build (tomorrow) will have the fix. Can you check if this solves the issue with your model running with Kinsol or at least gives some error message?

[2021-05-14 16:07] AnHeuermann commented on #7444
I have created a PR with the fix and when all tests are passing it will be in the next nightly build.
I will backport it to 1.17.1 as soon as we are sure it doesn't introduced any strange new bugs.

@jschueller Can you re-run your example and check if that solved the memory leak for you?

[2021-05-14 16:23] jschueller commented on #7444
I can only test this in a few weeks when I get back

[2021-05-14 16:47] #7444 closed

[2021-05-14 16:55] casella opened #7465 "Bad rounding in flat Modelica output"
### Description

Flat Modelica output of constant binding values sometimes leads to bad rounding format

### Steps to Reproduce

Flattening this model
[code]
produces this flat output
[code]

### Expected Behavior

Flat output should preferably be

[code]

I'm not an expert here, but I guess this is a classical CS problem 😄

Reported by @laviniaghilardi

[2021-05-14 17:44] perost commented on #7465
-0.94 can't be represented exactly as a double precision floating point number, the closest seems to be -0.939999999999999946... So in that regard it's correctly rounded since the next digit would be a 4.

But round trip serialization of floating point numbers is really hard to do correctly, enough so that it's been called [C++17's Final Boss](https://www.youtube.com/watch?v=4P_kbF0EbZM). We curre

[2021-05-14 17:44] perost commented on #7465
@adrpo @sjoelund

[2021-05-14 17:52] sjoelund commented on #7465
If we would want to keep the representation the same, we would need to use some arbitrary precision library during the flattening, I suppose.

The output is going to parse to the same value if double precision is used. If you remove a single 9 from that, you will get a different result.

Suppose the code actually was `-0.939999999999999946` - would you then expect `-0.94` to be printed? That's wha

[2021-05-14 17:58] sjoelund commented on #7465
Smaller output files are nicer, I suppose. So it might be "better"

[2021-05-14 18:09] perost commented on #7465
I wonder if it's actually a good idea to always print the same numbers as the user gave though. E.g. `-0.94` can't be represented exactly in IEEE 754 double precision, so pretending that it can might not actually be in the best interest of the users. This might be a case of "ignorance is bliss" though.

[2021-05-14 18:11] casella commented on #7465
Arbitrary precision seems overkill to me. After all, Modelica is used for physical modelling, there's no way you can get physical parameters right with 16 decimal digits. The best known physical constant is the `[electron's magnetic momentum](https://en.wikipedia.org/wiki/Electron_magnetic_moment)`, which is known with an error of 7.6e-13, well above machine-epsilon for double precision, i.e. 2.2e

[2021-05-14 18:12] casella commented on #7465
Remember that our users are engineers, not mathematicians or CS nerds. If you type 0.94 and you get 0.939999999999 you don't learn anything, you just get annoyed.

[2021-05-14 18:15] sjoelund commented on #7465
So what if they type `0.939999999999` and get `0.94`?

[2021-05-14 18:17] casella commented on #7465
They would never type 0.939999999999 in the first place 😄

[2021-05-14 18:18] perost commented on #7465
This is only about how the numbers are printed in the flat model though. If you write e.g. `-0.94` it will still become `0.939999999999...` in the simulation regardless of what print function we use, so printing `-0.94` would hide the issue to the user if the precision actually matters.

[2021-05-14 18:19] casella commented on #7465
Well, I remember doing this with a pocket calculator in the early '80s. I did 1 divided by three, then multiplied by three and got 0.99999999. I was obviously annoyed. [More recent calculators](https://www.calculator.net/) don't do this. Maybe because they are cheating, but what the hell...

[2021-05-14 18:21] perost commented on #7465
Decent calculators use arbitrary precision numbers, since speed isn't usually a major concern for a calculator.

[2021-05-14 18:21] sjoelund commented on #7465
`%.15g` will have the same problem for other numbers.

[2021-05-14 18:22] sjoelund commented on #7465
They might put in pi though.

[2021-05-14 18:23] casella commented on #7465
What happens in the simulation is not really relevant, the result with two values of the parameter differing by 1ppq (1 part per quadrillion) will be the same from all practical purposes.

The point is: what is the purpose of the flat output? At this point, it's mostly for humans to inspect the result of flattening. From this point of view, those roundings would be quite annoying, while the additi

[2021-05-14 18:28] casella commented on #7465
I don't think so. The approximation of IEEE 754 double precision is one part in 2^52, where 52 is the number of bits in the mantissa. This corresponds to 2.2e-16. Hence, if you round to the nearest number with 15 digits of precision, decimal numbers with originally few decimal digits will be rounded to the nearest number with 15 digits, which will be, e.g. 0.9400000000000

True. But in practice, y

[2021-05-14 18:39] casella commented on #7444
@jschueller no problem, in case there are still issues please open a new issue here on Github

[2021-05-14 19:55] sjoelund commented on #7465
Then the following should give you 0, right? It won't.

[code]

The reason is that you assumed because the mantissa is stored in 52 bits, that gives you 52 bits of precision. Actually, you get 53 bits. So we need to use `%.16g` (or some library guaranteeing that the number will parse into the same double precision float). `%.15g` just won't do.

[2021-05-14 20:04] sjoelund commented on #7465
We use Flat Modelica for code generation and the same routines are used to generate C code. It must parse back to exactly the same representation.

[2021-05-15 10:28] casella commented on #7465
Sorry @sjoelund, this is not relevant. Let's try to stay focused on the issue.

We have a (small) problem: some decimal literal values, that look nice in the source code (e.g. -0.94), but look very ugly in the flat output (e.g. -0.939999999999999), because they don't have an exact FP representation.

My suggestion for the flat output is the following: display the maximum number of decimal digits t

[2021-05-15 10:33] casella commented on #7465
I understand we use the same internal representation (AST or something), but we are not using the same textual output that I get when I click on Instantiate Model in OMC to generate the C code. And even if we did, there is no reason why we couldn't have different representations of constants for these two outputs, that have different purposes.

Do I miss something?

[2021-05-15 10:43] sjoelund commented on #7465
We do when we use Flat Modelica as an intermediate stage to send between Modelica tools. And yes, we could have different outputs, but why? You'll just get a lot of people asking us why we're not using the full precision.

Using the Ryu library would probably be OK.  Always output something that makes all bits of double precision the same. And if it has a shorter representation, output that.

[2021-05-15 10:46] casella commented on #7465
To avoid the ugly -0.93999999999 output 😃. That's a user requirement I am getting right now.

If there are other ways to avoid that, e.g. Ryu, I'm fine with it.

[2021-05-15 10:53] sjoelund commented on #7465
Well, that library should print a nice -0.94 which would also parse into exactly the same double precision float. So it should be OK also for the code generation, etc. So no different outputs needed, I hope.

[2021-05-15 11:31] phannebohm commented on #7465
Calculators do fascinating things these days, like [finding rational multiples of pi](https://youtu.be/7LKy3lrkTRA) where they shouldn't.

[2021-05-15 17:31] casella commented on #7465
I love the guy, he's so incredibly witty :)

[2021-05-16 06:53] SudhakarKuma opened #7467 "Error while simulating models with 2D arrays in OpenModelica over OPC-UA server"
### Description

I have an OpenModelica model, which has a few two-dimensional arrays. For my project, I am simulating the model from `OMShell-terminal`. First, I simulate the model with a certain `stopTime` and no simulation flags,  In this case, the simulation runs properly, and I can get the data (`.mat` file) at the end of the simulation. Second, I simulate the same model with a certain `stopT

[2021-05-17 06:01] max-privato opened #7468 "Bad log scale in OMEdit"
### Description

OMEdit chooses as y log scale 1e100 whatever the range is.

### Steps to Reproduce
1) load and run Test in OMEdit
2) plot Cf.abs_v
3) choose Log Y scale: the range is between 1e-100 and 1 instead of 1e-4 and 1 (as can be seen manually scaling the vertical axis).

The same bad scale is chosen also if one clicks on "Fit in view" after manual scaling

### Expected Behavior
The y rang

[2021-05-17 07:56] SudhakarKuma commented on #7467
@sjoelund @arun3688 The attachment (`.zip` file) contains the Modelica model and the Python OPC-UA client. I have saved the Modelica Model by using the `Save Total` feature in `OMEdit`. Thus, this model can only be simulated by `OMShell-terminal`.

[2021-05-17 15:48] GianniFerretti opened #7469 "Is the FMU correct?"
Good afternoon,

we tried to generate an FMU of the model

https://www.dropbox.com/s/caay6ap1o1gyhsb/ADM1_BMP_noinput_monolitico_day.mo?dl=0

to use it for parameter identification with OMSysIdent.
We then tried to simulate the generated FMU:

https://www.dropbox.com/s/5hq6lo69yde1jzg/ADM1_BMP.fmu?dl=0

with SSP but it crashed.
Of course OMSysIdent also crashed.
Are we missing something?

Thank yo

[2021-05-17 15:56] casella commented on #7469
@lochel, it is not 100% clear if the problem is with the FMU generation or with the FMU simulation, but I guess there is something wrong with the FMU generation, since also OMSysIdent fails.

Could you have a look at it?

Thanks!

[2021-05-18 09:45] Arinomo opened #7472 "Missing attribute in modelDescription.xml"
### Description

Variable type input is missing the "variability" attribute in modelDescription.xml when exported using v1.18

[code]

### Steps to Reproduce

Export following model as fmi v2.0 co-simulation with static library and no filter for xml

[code]

### Expected Behavior

input R_in has attribute "variability" like in v1.14

[code]

### Version and OS

Version: OpenModelica-v1.18.0-dev-25

[2021-05-18 09:51] Arinomo opened #7474 "FMU Export Error"
### Description

Exporting model with OpenModelica-v1.18.0-dev-250-g877362bf7a-64bit failed with following error

### Steps to Reproduce

exporting this model works in v1.14
[code]

### Expected Behavior

FMU export sucessfully

### Version and OS

Version: OpenModelica-v1.18.0-dev-250-g877362bf7a-64bit
OS: Windows 10 64bit

[2021-05-18 10:41] adrpo commented on #7474
Is telling you Is not possible to delete the previously build fmu: ​`rm: cannot remove '../RLC_circuit.fmu': Device or resource busy`.
Which probably means you have the fmu file opened in some zip tool or some modeling tool. Close that and try to build again.

[2021-05-18 11:07] #7474 closed

[2021-05-18 12:09] viveklatta opened #7475 "ThermoSysPro control valve model getting crashed under OM-1.16 with OPC-UA server"
I have developed a process model in which I have used control valve from the ThermoSysPro library under ubuntu-20.04 64bit & OM-1.16. For giving real input to the control valve model, I have developed a block (attached file "SetPoint.mo"). This block is behaving differently under two different scenarios (two scenarios are attached as screenshots viz. scenario-1.png and scenario-2.png) and each sce

[2021-05-18 12:29] casella commented on #7475
Please first try a more recent version of OMC, 1.17.0 and the 1.18.0 nightly build. If the problem is solved there, please upgrade. There is no reason why you should use an old version such as 1.16. Otherwise, we can continue the analysis

[2021-05-18 13:17] lochel commented on #7472
The default variability is continuous and therefore skipped according to the FMI specification. You can force all attributes, including default values, with the flag `-d=force-fmi-attributes`.

[code]

[2021-05-18 13:24] #7472 closed

[2021-05-18 21:46] lochel commented on #7469
Good question. I tried to simulate the model on Windows and Linux and can confirm that it doesn't quite work. However, I cannot judge at this point if the fmi export or import is to blame. I'll have to investigate more...

[2021-05-18 21:47] lochel commented on #7458
@AnHeuermann can you take of the issue? I have not much experience with docker.

[2021-05-19 07:49] AnHeuermann commented on #7458
The Docker part itself is not complicated here.
But I don't know how to get the configure stuff running. It would be good to understand how it works on Linux when generating a Windows FMU with a Docker image.

Normally we either run autoconf or generate the Makefile with some guessed configuration I think.

[2021-05-19 09:01] sjoelund commented on #7458
We don't run autoconf in omc. It is done once during `make omc` and the generated configure script is simply copied into the FMU:
[code]

[2021-05-19 09:28] Arinomo commented on #7472
@lochel quick question, this flag is set on Translation Flags right?

[2021-05-19 10:06] adeas31 commented on #7472
Yes, put it in `Additional Translation Flags:`.

[2021-05-19 10:07] lochel commented on #7472
Yes, that's right:
![image](https://user-images.githubusercontent.com/8457302/118795238-aead4f00-b89a-11eb-8e75-886a2c3ce926.png)

[2021-05-19 10:31] Arinomo commented on #7472
Thank you.. Thats why it didn't work, i put the flag in model annotation :p

[2021-05-19 11:14] Arinomo commented on #7472
Yes, i didn't realize i should add the flag from Tools -> Option -> Simulation -> Additional Tranlsation Flags. I thought adding `-d=force-fmi-attributes` in annotation is sufficient.

[code]

[2021-05-19 13:43] lochel commented on #7472
I haven't tested it, but it should also work from the annotation I think. @adeas31 is there anything to fix? Is it a problem to have -d twice in the command line string?

[2021-05-19 13:47] sjoelund commented on #7472
It might be a problem that FMUs don't use the flags perhaps? It's an OMEdit-specific annotation as far as I know

[2021-05-19 17:07] casella commented on #7472
It should be the same. In fact, if you put that flag in the Additional Translation Flag and then check the checkbox to save it in the annotation, it will automatically be written there, so next time you load the model this setting is included.

I'm not 100% sure if having two separate `-d=xxx` annotations would work, though, it may be that the second overrides the first, so you should put all the

[2021-05-19 17:20] sjoelund commented on #7472
Having them separate works just fine. However, like I thought:
[code]
Try that in OMEdit, and press simulate and after Export->FMU. The error-message that `-d=xxx` is an invalid flag is only printed for simulate. So OMEdit doesn't use its own flag. And omc itself doesn't know about the flag.

[2021-05-19 17:35] AnHeuermann commented on #7458
I managed to get a configure from a Linux container and to generate Code that targets Linux, but it seems that `docker cp` is not working they way I think it should. Maybe it is a bug on Windows or I just use it wrong.

We are doing
[code]

First we copy some files into the newly created volume.
Then inside the container that uses the volume we compiled all sources to some Linux binaries which are

[2021-05-19 17:56] sjoelund commented on #7458
https://stackoverflow.com/questions/40313633/how-to-copy-files-from-local-machine-to-docker-container-on-windows

[2021-05-19 18:00] sjoelund commented on #7458
Does `docker ps` list b84cb44ff37f701c8bc630bd33b53d087129ffff9e94719478d3eaac8d2d9c48 ?

[2021-05-19 18:13] AnHeuermann commented on #7458
No. So that's why the `docker cp` is failing.

I removed the `--rm` but that didn't help. Any idea why the container is stopped/removed?

[2021-05-19 18:36] sjoelund commented on #7458
It should remove it unless you remove that part of omc, I guess. But otherwise I have no clue :)
Try to make sure omc does not remove the containers/volumes and check their contents after the failure.

[2021-05-19 18:37] casella commented on #7472
@lochel, what do you think?

[2021-05-20 06:07] lochel commented on #7472
It should be fixed. I opened #7478 which should fix the issue. However, we might want to test it a bit before merging it.

[2021-05-20 07:57] adeas31 commented on #7472
`__OpenModelica_commandLineOptions` is not an OMEdit specific annotation. It is used inside the compiler as well during the translateModel.

#7478 is perfectly fine.

[2021-05-24 13:15] sjoelund commented on #7467
So I can confirm this crashes, and I tried to upgrade open62541 since it seems to be an error in the library and not our code. However, the interface changed substantially and even fixing all compilation warnings does not fix everything. I'm not sure when I would have time to look into this, so I put the work in progress at https://github.com/sjoelund/OpenModelica/tree/open62541-upgrade

[2021-05-24 23:47] SudhakarKuma commented on #7467
@sjoelund Thank you for your response. For your kind information, I have tried simulating these files using `nightly` and `release` builds of OpenModelica. However, the server still crashes. So, we may infer that the library itself needs to be fixed in the OPC-UA server of OpenModelica. Also, I am assuming that my Python OPC-UA client is doing its job properly.

[2021-05-25 18:21] rch2000 opened #7484 "Modelica: assignment of variable within if-statement"
I hope I am doing this correctly ... first time submitting an issue via git.
Ok, so my issue is summarized in this stackoverflow post: [https://stackoverflow.com/questions/67692496/modelica-assignment-of-variable-within-if-statement](url)
To cut a long story short, in the code snippet
`model algorithmTest_25p05p2021

Real x(start=0);
Real y(start=0);
algorithm
y := sin(time);
x := sin(time);

if x

[2021-05-26 05:52] sbaetzing opened #7485 "Internal error function createSimCode failed"
### Description
Translation of the below mentioned models end ups wwith the following error:
`Internal error function createSimCode failed [Transformation from optimised DAE to simulation code structure failed]`
Not sure why this error occurs. Earlier versions were already able to translate the models.

### Steps to Reproduce

Run one of the following testcases in the Bosch Rexroth Simulation Libr

[2021-05-26 06:01] sbaetzing opened #7486 "Assignments to matrices with dimension [:,:,:] is not possible"
### Description
With the old front end it was possible to assign a matrix with given dimensions to a field which dimensions is given with [:,:,:]. Due to parameters the dimensions of variable field might change and can not be defined explicitly. The class Table3D either assign a field within a file (with the readFieldFile function; dimension is given) or assign a parameter table with no dimension

[2021-05-26 07:35] sbaetzing opened #7487 "Replaceable record with choices are not displayed in parameter dialog correctly"
### Description
A definition like
`replaceable record Valve =
        Rexroth_Valves.Internal.Database.DB_43.Rexroth_4WREE10E75_2X
annotation (choices(
choice( redeclare record Valve =
              Rexroth_Valves.Internal.Database.DB_43.Rexroth_4WREE10E75_2X                    "4WREE10E75-2X"),
choice( redeclare record Valve =
              Rexroth_Valves.Internal.Database.DB_43.Rexroth_4WREE10E2

[2021-05-26 07:51] sbaetzing opened #7488 "replaceable instance of a record ends up in a bad parameter dropdown menue"
### Description
A definition like
` replaceable EnchancementDropDown.Database.A  params annotation (choices(
      choice(redeclare
          EnchancementDropDown.Database.A
          params "Dataset A"),
      choice(redeclare
          EnchancementDropDown.Database.B
          params "Dataset B"),
      choice(redeclare
          EnchancementDropDown.Database.C
          params "Dataset C")));`

[2021-05-26 07:58] sbaetzing opened #7489 "No drop down menue in parameter dialog for string choices"
### Description
A definition like
 `parameter String Option = "Option 1" annotation(choices(choice = "Option 1", choice = "Option 2", choice = "Option 3"));`

should end in a parameter dialog with a drop down menue with the entries
"Option 1"
"Option 2"
"Option 3"

but only shows
![grafik](https://user-images.githubusercontent.com/84787397/119623468-7cef3780-be08-11eb-980f-3b53e52c065d.png)

Here

[2021-05-26 07:58] sjoelund opened #7490 "Bitmap does not scale to fit extent"
eFMI.Icons.eFMI has an extent of -90,-90 .. 90,90 with a png that is 522x313 pixels. This is stretched to the extents in OMEdit, but should be scaled https://specification.modelica.org/master/annotations.html#bitmap:

https://github.com/modelica/efmi-testcases

[2021-05-26 08:08] sbaetzing opened #7491 "Default values of parameters which are not displayed in their final unit ends up with rounding problems"
### Description
Default values of parameters which are not displayed in their final unit (display unit differs the final unit) ends up with rounding problems

### Steps to Reproduce

A definition like

`parameter Modelica.SIunits.Length stroke(displayUnit ="mm") = 0.5; `
will end up in
![grafik](https://user-images.githubusercontent.com/84787397/119625035-11a66500-be0a-11eb-818c-9c943ad3729b.png)

[2021-05-26 08:21] sbaetzing opened #7492 "Ports which are disabled via conditions still appears in Icon of the class"
### Description

E.g in
Modelica.Mechanics.Translational.Sources.Force
there is a support flange derived in class
Modelica.Mechanics.Translational.Interfaces.PartialOneFlangeAndSupport
which is disabled by default parametrization. Even so its always displayed when using the force class. Even setting up connections is possible.

![grafik](https://user-images.githubusercontent.com/84787397/119626798

[2021-05-26 08:35] sbaetzing commented on #4346
In that issue it would be nice if protected / hided components / variables((hideResult =true) ) are not displayed in the variable section in Plotting tab. since they are not part of the result file and not available after clicking on them.

[2021-05-26 08:56] sbaetzing opened #7493 "Parameter in icons can only be displayed out of toplevel"
### Description
It's a nice feature to show the current value of parameters in the icon layer (%parameterName) but unfortunately it is not possible to show any values of subclasses or instantiated records (%instanceName.parameterName). Also tried to use brackets or other markers to identify the ending of the to be interpreted string.

### Version and OS

OpenModelica v1.18.0-dev-280-g0b76908279 (6

[2021-05-26 10:01] sbaetzing opened #7494 "Empty tab if all parameters are overwritten with final values"
### Description
If all parameters of an tab in the parameter dialog are overwritten with final values an empty tab is still present in the dialog.

[code]

### Version and OS

OpenModelica v1.18.0-dev-280-g0b76908279 (64-bit)
OMSimulator v2.1.1.post70-gdf73447-mingw
OS: Windows 10, 64 bit
 - Versions of used Modelica libraries if applicable: MSL 3.2.3, Bosch Rexroth Simulation Libraries (1.4)

Bes

[2021-05-26 10:38] skgoswami1 opened #7495 "Reinstalling problem"
I am working in Ubuntu Linux distribution. I tried to upgrade latest stable version of openmodelica. But it is always reporting received fragmented package and failing installation. Request help

[2021-05-26 10:48] adeas31 commented on #7492
Same as #2081.

[2021-05-26 10:48] #7492 closed

[2021-05-26 10:49] adeas31 commented on #2081
See also #5913 and #7492

[2021-05-26 10:49] adeas31 commented on #5913
See #2081

[2021-05-26 10:49] #5913 closed

[2021-05-26 11:44] perost commented on #7485
It fails in `SimCodeUtil.addVarToArrayIndexMapping` on `propValve43_Easy.flowTableAT[2,1]` (after succeeding on `propValve43_Easy.flowTableAT[1,1]`), where `propValve43_Easy.flowTableAT` has not been scalarized in the frontend because it has a binding equation consisting of a function call returning an array.

[2021-05-26 12:08] #7486 closed

[2021-05-26 14:49] casella commented on #7484
I guess we need to overhaul event handling, as there are other known issues there. @kabdelhak, @AnHeuermann, could you comment on this?

[2021-05-26 14:58] casella commented on #7487
I guess the `choicesAllMatching` annotation was implemented, but not the `choices` annotation. @adrpo, can you comment on that?

[2021-05-26 15:00] casella commented on #7489
I guess the reason is the same as in #7487, i.e. `choices()` not (fully?) implemented

[2021-05-26 15:08] #7460 closed

[2021-05-26 16:35] casella commented on #7492
One of the oldest tickets known. I'm trying to prioritize it but it's hard.

[2021-05-26 16:38] casella commented on #7491
See discussion in #7465.

[2021-05-27 09:15] adeas31 commented on #7493
Do not see any such thing in [Modelica specification](https://specification.modelica.org/master/annotations.html#text).

[2021-05-27 11:48] adeas31 commented on #7493
Can you also share the example Modelica code?

[2021-05-27 11:52] sbaetzing commented on #7493
find the example attached (as txt file)

[TestParameteSubLevelrinIcon.txt](https://github.com/OpenModelica/OpenModelica/files/6553734/TestParameteSubLevelrinIcon.txt)

[2021-05-27 12:22] adrpo commented on #7493
Is very annoying that github doesn't allow .mo files to be attached. I think it also works to zip a .mo file and attach the zip.

[2021-05-27 12:43] adeas31 commented on #7493
There was a minor typo in the example code. Here is the updated code,

[code]

[2021-05-27 12:52] #7494 closed

[2021-05-27 13:11] casella commented on #7493
Yeah. I see that also .c or .cpp are not considered. I guess we should just recommend using .zip files and explain this in the template ticket text.

[2021-05-28 09:27] niklwors opened #7500 "OMEncrypted loads and simulate a licensed libray it even though you do not have a valid license"
### Description
It is possible to load and use in OMEncypted a licensed and encrypted library for which you do not have a license.

### Steps to Reproduce

The attached example uses a Protection Annotation with a feature "license-1" for the package "LicenseOption"
[LicenseOption.zip](https://github.com/OpenModelica/OpenModelica/files/6559794/LicenseOption.zip)

If you load the encrypted library:
(

[2021-05-28 12:27] niklwors opened #7501 "OMEncrypted does not release a license"
### Description

OMEncrypted does not return a license for a library feature when the library is unloaded or when OMEdit is closed

### Steps to Reproduce

The attached example uses a Protection Annotation with a feature "license-1" for the package "LicenseOption"

[LicenseOption.zip](https://github.com/OpenModelica/OpenModelica/files/6560795/LicenseOption.zip)

If you load the encrypted library:

[2021-05-28 12:46] niklwors opened #7502 "OMEncrypted does not support licenses features for sub packages"
### Description

If you load an encrypted library that uses the feature annotations for sub packages, OMEdit does not check the license for the sub packages

### Steps to Reproduce
The attached example is using features, also in sub packages:
[LicenseOption.zip](https://github.com/OpenModelica/OpenModelica/files/6560849/LicenseOption.zip)
According to the Modelica specification 3.3 in 18.9.2 you c

[2021-05-28 23:01] casella commented on #7500
@adeas31, @adrpo, I guess this should be fixed ASAP and released in 1.17.1. Can you have a look?

[2021-05-31 12:32] christiankral opened #7506 "Umlaut in directory causes simulation failure if stored on a Windows network drive"
### Description

This issue is a re-open of #4896 (and #[trac/4896](https://trac.openmodelica.org/OpenModelica/ticket/4896), respectively) with some additional specifications. A simple simulation model fails in the following case:
- The Modelica file is stored on a Windows network drive which is mounted as a particular drive letter, e.g., `M:\` (form a Windows file server)
- The Modelica file is s

[2021-05-31 14:03] AnHeuermann commented on #7495
I guess you are having the same problem as the user in this StackOverflow question:
https://stackoverflow.com/questions/66627657/openmodelica-release-in-ubuntu-20-04-focal-e-unable-to-correct-problems
See also https://trac.openmodelica.org/OpenModelica/ticket/6393.

If not please add the error message here.

[2021-05-31 14:35] casella opened #7507 "reshuffleLoops scales very badly in one test case"
### Description

We recently reactivated reshuffleLoops in PR #7454, to solve some high-index problems that are not yet handled well by the ASSC algorithm.

The outcome was good in general, see [regression report](https://libraries.openmodelica.org/branches/history/master/2021-05-25%2022:55:09..2021-05-26%2022:55:09.html),

On the other hand, there is one model from [ScalableTestSuite](https://lib

[2021-05-31 14:35] casella opened #7508 "Regressions due to reshuffleLoops being reactivated again"
### Description

### Steps to Reproduce

### Expected Behavior

### Screenshots

### Version and OS

 - OpenModelica Version: [e.g. `omc --version` or `Help->About OMEdit` from OMEdit]
 - OS: [e.g. Windows 10, 64 bit]
 - Versions of used Modelica libraries if applicable

### Additional Context

[2021-06-01 09:07] adeas31 commented on #7493
#7509 should fix the issue. Now it handle the case `%instanceName.parameterName` as well. There might be more variants of this form but since is not in the specification so the one mentioned in this issue is taken care of.

[2021-06-01 09:27] #7493 closed

[2021-06-01 13:28] AnHeuermann commented on #7484
A thoroughly investigation on what problems we have with event-handling sure is a good idea. There are a number of problems and some are most likely related to each other.

----
### Now to this issue
The strange part here is that is works correctly when using
[code]
 The generated code for the algorithms looks correct and there shouldn't be any differences for using `x` or `y`. I don't see any rea

[2021-06-01 15:04] niklwors commented on #6419
I checked the model again and it has no time events as well as no state events.

[2021-06-01 16:57] jph-tavella opened #7511 "A case in the electrical library PowerSysProcan 2.0.0 cannot be run under OpenModelica"
### Description

I'm improving my open-source electrical library PowerSysPro with a new version 2.0.0 including different breakers, and the possibility to isolate a feeder by cutting the voltage.
New examples are included for this feature. They correctly run under Dymola but not really under OpenModelica.

### Steps to Reproduce

The model to run with OM is named DoubleNetworkWithDisengageableLoad

[2021-06-01 17:09] perost commented on #7511
There's some information missing here. Please provide a link to the library, the [bitbucket](https://bitbucket.org/simulage/powersyspro/src/master/) for PowerSysPro that I found does not contain any `DoubleNetworkWithDisengageableLoads` so I'm not sure if you've forgotten to add it or if the new version is stored somewhere else. It's also good if you describe what goes wrong so we know if we're ab

[2021-06-01 17:23] jph-tavella commented on #7511
I was just uploading the file in bitbucket while you wrote me 😊

I would simply like to run the case under OM as it can be run under Dymola.

JPh Tavella

De : ***@***.*** ***@***.***>
Envoyé : mardi 1 juin 2021 19:10
À : OpenModelica/OpenModelica ***@***.***>
Cc : TAVELLA Jean Philippe ***@***.***>; Author ***@***.***>
Objet : Re: [OpenModelica/OpenModelica] A case in the electrical library Power

[2021-06-01 17:38] perost commented on #7511
Ok, the errors I get suggest that something goes wrong in the backend:
[code]

Btw, you might want to add a [uses-annotation](https://specification.modelica.org/master/annotations.html#version-handling) to your library, you just need to add `uses(Modelica(version="4.0.0")),` to the already existing annotation as far as I can see.

[2021-06-01 17:39] perost commented on #7511
@kabdelhak @mahge

[2021-06-01 17:59] AnHeuermann commented on #7484
I tried debugging the `RELATIONHYSTERESIS` macro and we can differ between three cases: Initialization, Continuous simulation and everything else (a.k.a. events). It seems that for the working `y` version we are way more often in the event case then in the broke `x` version of the model.

So apparently the simulation has less events in the broken `x` version. And yepp, logging confirms that:
[code

[2021-06-01 18:18] AnHeuermann commented on #6419
I'll take a look into this on Friday (after I got the test model).

The event handling is starting to create a massive pile of issues that are more and more complicate to fix. Maybe we need to re-make the whole event handling at some point. But that is not an easy task either. But that we are lacking support for time events is a fundamental flaw. But thinking about events from synchronous, delay a

[2021-06-02 01:30] jph-tavella commented on #7511
I don't think the issue is related to the use(Modelica(version="4.0.0")) as I preload the Modelica 4.0.0/package.mo before running the models. I prefer avoiding any annotation fixing the version of the MSL.

Here are the error messages I got when trying to run:

[1] 03:24:09 Traduction Erreur
Internal error - BackendDAEOptimize.makeEquationToResidualExp failed to transform equation: feeder1.load4.

[2021-06-02 07:53] sjoelund commented on #7511
Modelica 3.2.3 and 4.0.0 are not compatible. It means @perost needs to guess which version to load when testing the library. A `uses(version="4.0.0"))` does not enforce version 4.0.0 - later versions of MSL will have annotations stating they are compatible with 4.0.0 without conversion script so they can be used without changes to the library.

[2021-06-02 09:02] jph-tavella commented on #7511
ok I will add it.

[2021-06-02 09:19] niklwors commented on #6418
@casella  @adrpo I have tested the model and it is working now. So the ticket can be closed. Thank you.

[2021-06-02 09:41] perost commented on #7511
The missing uses-annotation is not the actual issue, I just pointed that out because it's something all libraries should have. I'm not sure why you closed this ticket, but the actual issue does not seem to have been fixed.

[2021-06-02 09:59] jph-tavella commented on #7511
sorry I closed  by mistake only.

[2021-06-02 10:41] lochel opened #7512 "New frontend breaks FMI export"
### Description

Exporting FMUs using the new front end results in wrong model description file.

### Steps to Reproduce

Export `Modelica.Mechanics.MultiBody.Examples.Elementary.Pendulum` as FMU using the new frontend.

The easiest way to detect the corrupted model description file within the FMU is to execute it with OMSimulator:

warning: [fmu: resources/0001_fmu.fmu] The FMU lists 192 initial

[2021-06-02 10:48] lochel opened #7514 "omc doesn't provide the correct version number on linux"
### Description

omc --version doesn't give the correct version number on linux if not running configure each time after fetching new changes.

### Expected Behavior

Give the correct result like on Windows

### Version and OS

 - OS: [Linux, 64 bit]

[2021-06-02 12:34] lochel commented on #7512
Thanks @perost!

[2021-06-02 12:34] #7512 closed

[2021-06-02 12:36] niklwors commented on #6419
@AnHeuermann  @sbaetzing  I have tested the related models.
The model
*Rexroth_Generic_Test.Hydraulics.PressureValves.PressureReducing.PressureReducing_TC04*
 is working fine now
The models
*Rexroth_Generic_Test.Hydraulics.PressureValves.PressureRelief.PressureRelief_TC04*
*Rexroth_Generic_Test.Hydraulics.PressureValves.PressureReducingThreePort.PressureReducingThreePort_TC04*
still have the same

[2021-06-02 15:02] niklwors commented on #6242
This problem is not yet solved

[2021-06-02 15:04] AnHeuermann commented on #6419
Then I need to check the models again and see if I can find a better solution.
Maybe I can figure out why that one variable is jumping between `0.0` and `1e-13` and stop it from doing that.

Also my first attempt in #7515  is doomed, because there are some tests from the testsuite that are failing. I guess they use some assert that check if something is smaller/bigger then something which works fo

[2021-06-02 18:19] mjschuh opened #7517 "Translation flag -d=backenddaeinfo does not generate torn systems output on Windows v1.17.0"
When I add the `-d=backenddaeinfo` flag to `Tools -> Options -> Simulation -> "Additional Translation Flags:"` on Linux with version 1.18.0-dev-252-gd66050b, I see `Non-linear torn systems:` output in the `Message Browser -> Notification` tab after running the simulation.

On my Windows 10 64 bit OMEdit v1.17.0 (64-bit) installation with the same `-d=backenddaeinfo` flag set, I don't see any outpu

[2021-06-02 18:24] adeas31 commented on #7517
The behavior should be same regardless of the operating system.

Note that if you have simulated the model once then you need to add the flag in `Simulation Setup -> Translation Flags`

[2021-06-02 18:54] mjschuh commented on #7517
Thanks.  You are right.  Adding the flag in `Simulation Setup -> Translation Flags` and simulating the model again generated the expected `Non-linear torn systems:` output.  After trying a few things, I now understand that after simulation a model one or more times, flags entered in `Tools -> Options -> Simulation -> "Additional Translation Flags:` are not used for future simulations of that model

[2021-06-02 18:54] #7517 closed

[2021-06-02 18:57] casella commented on #7517
@adeas31, we've discussed this already, but it is still true that the fact that changing Tools|Options is ineffective once you have simulated a system is a bit confusing and not intuitive for many users.

I wonder how we could make this clearer, without adding cumbersome warning messages.

[2021-06-02 19:13] mjschuh commented on #7517
Perhaps it would be helpful to have a `Messages Browser -> Warnings` message like `Warning Tools -> Options -> Simulation -> "Additional Translation Flags" differ from Simulation Setup -> Translation Flags.  The flags set in Simulation Setup -> Translation Flags will be used.  See http://openmodelica.org/help/Tools|Options for more information.` if OMEdit detects a difference in the settings.

[2021-06-02 22:34] mjschuh commented on #7517
Maybe the URL for this GItHub issue, https://github.com/OpenModelica/OpenModelica/issues/7517 , could be used for the URL in the above warning text.

[2021-06-03 07:17] adeas31 commented on #7517
#6062 is still open. I don't know what is the best way to fix this. There are several options,

One idea, as suggested in this issue, is to show a warning to user when local and global flags are different. This is useful for some users but might be annoying for users who really want to have different local flags for different models.

We can popup a dialog that says local and global flags are diff

[2021-06-03 10:26] casella commented on #7517
I think this is the only sensible solution. What is a bit confusing is that one may think changin global flags also affects local flags. This solution makes it explicit.

[2021-06-03 12:12] skgoswami1 commented on #7495
Dear Andreas,
Sorry a bit late in thanking you for the response. Before your suggestion came I reinstalled the OS and next installation of &#39;openmodelica&#39; went smooth. Yes the error was similar to the referred link but I hit that in different sequence. I am very new to openmodelica and felt that simply reinstalling will take to openmodelica 1.17 version. However after that all went awry. I

[2021-06-03 17:51] casella commented on #7506
Thanks @christiankral, this thing is like the Hydra, every time you cut a head, three heads spring off the wounds :)

@adrpo, @mahge, would you mind having a look?

[2021-06-03 17:53] adrpo commented on #7506
@adeas31 fixed most of these things.

[2021-06-03 18:00] casella commented on #7506
@adrpo, do you mean, in the current 1.18.0-dev version?

[2021-06-03 18:04] adrpo commented on #7506
Since 1.16. Adeel fixed it by using short names in NTFS but I don't think that works on network paths.

[2021-06-03 18:47] casella commented on #7506
Do you see any way to fix that without too much effort?

[2021-06-03 19:02] adrpo commented on #7506
Now we generate Makefiles and use make and gcc/clang to compile, then ld to link.
None of these tools like special chars so they will fail miserably.

[2021-06-03 19:10] adrpo commented on #7506
This ticket is a bit strange. It should not really matter where the .mo file is stored as the C files are generated but then they fail to compile.

Ah, the problem is when we specify -L"M:/work/Ã¶" seems clang just doesn't find the libraries after it sees this path.

[2021-06-04 09:36] AnHeuermann opened #7522 "User's guide issuing warning with MSL 4.0.0"
### Description

The user's guide has some problems with MSL 4.0.0 and the examples are broken, see https://www.openmodelica.org/doc/OpenModelicaUsersGuide/latest/introduction.html

[code]

[2021-06-04 09:42] AnHeuermann commented on #7495
If more people encounter this issue we can add it to the install instructions on https://www.openmodelica.org/download/download-linux.

But, if I understand you correct your issue is solved, so I'll close this for now. If you encounter the same problem again please open a new ticket about it.

[2021-06-04 09:42] #7495 closed

[2021-06-04 20:15] casella commented on #7522
@adrpo, who can take care of this?

[2021-06-06 15:09] alkhwarizmi opened #7525 "Receiving error "Process crashed Simulation process failed. Exited with code -1073741511.""
### Description
Trying to simulate models after upgrade to OM v1.17.0 I receive the "Process crashed Simulation process failed. Exited with code -1073741511." before starting simulation.

### Steps to reproduce

This happens also with the following code:

[code]

### Version and OS

 - OpenModelica Version: OpenModelica v1.17.0 (64-bit)
 - Versions of used Modelica libraries: none
 - OS: Windows 1

[2021-06-06 17:48] adrpo commented on #7525
Is this from OMEdit?

[2021-06-07 07:38] alkhwarizmi commented on #7525
Hallo,

yes developed and called via OMedit.

[2021-06-07 07:54] adrpo commented on #7525
Do you have OMDev installed?

[2021-06-07 08:44] alkhwarizmi commented on #7525
Hallo I don't think so, connot see a omdev executalbe in the bin folder.

[2021-06-07 08:45] alkhwarizmi commented on #7525
If I need, I will try to re-install everything.

[2021-06-07 08:46] adrpo commented on #7525
OMDev would be installed in C:\OMDev, if you don't have it there, then you don't have it installed.

Ok. Can i get the complete compilation log for a model and the simulation log for the same model?

[2021-06-07 08:49] adrpo commented on #7525
Let's try first to find out if we can fix it with what you have and if not, then re-install it. Have you restarted the computer since you installed the new OpenModelica? You could try is restart the computer. See if that helps.

[2021-06-07 08:55] alkhwarizmi commented on #7525
Here is my compilation log (from the tab compilation of the Simulation Output window):
[code]
Here is the content of dummy.log file:
[code]

[2021-06-07 09:03] alkhwarizmi commented on #7525
Hallo,

just tried to reboot my PC. Nothing changed.

[2021-06-07 09:31] adrpo commented on #7525
From the error message it seems that somehow the simulation executable picks up a dll from some other place than it should.
I will write a batch script that you can run on your computer to test some things and give me more information.

Until then could you please create a directory c:\temp\ and a file in it script.mos file containing:
[code]
and then run it via omc.exe from command line: Windows

[2021-06-07 10:35] alkhwarizmi commented on #7525
Hallo Adrian,

If I give the command like that there is the issue with spaces in the folder names.
[code]

Solving this made me relise that the OPENMODELICAHOME environmental variable is pointing in the wrong folder (my past version of modelica).

[code]

Give the command:
[code]
it seemed to work (I could ha closed a window too early)
[code]

I had a situation where a `OPENMODELICAHOME` variable

[2021-06-07 11:15] adrpo commented on #7525
So it might be a OPENMODELICAHOME path issue. Try this in cmd.exe:
[code]

If it works you will get a `resultFile="dummy_res.mat"` and `messages=""`

Then we can go in and change OPENMODELICAHOME at the system level or remove it.
I think the 1.17 installer should remove OPENMODELICAHOME as is not needed anymore but it seems it failed to do that.

[2021-06-07 11:37] casella commented on #7525
I checked, and I have `OPENMODELICAHOME=C:\Program Files\OpenModelica1.18.0-dev-64bit\` currently set on my PC. So, it seems to be up-to-date. Are you shoulr it should be removed?

[2021-06-07 11:44] adrpo commented on #7525
@casella the problem is that we don't need it anymore, and if we have it and it points to the correct place then the package manager has issues fetching libraries on Windows. We need to find a good way to deprecate it.

[2021-06-07 12:12] alkhwarizmi commented on #7525
No, this does not work either.

I also tried to remove the system OPENMODELICAHOME variable, but nothing changes. I still have the error with the C++ stringstream if I do:
[code]

[2021-06-07 12:43] perost opened #7526 "Add library dialog in OMEdit is missing a cancel button"
### Description

When adding a system or user library in OMEdit the dialog does not have a cancel button, only an OK button. Since the dialog is modal it doesn't have window buttons either (at least on Linux), so closing the dialog without adding a library is nontrivial (the dialog can still be closed with e.g. Alt+F4, but users might not know that).

### Steps to Reproduce

Open OMEdit, go to Too

[2021-06-07 13:12] #7490 closed

[2021-06-07 14:30] adrpo commented on #7525
Then is time to go for a new command in cmd to see what dlls are used:
[code]

[2021-06-07 14:34] adeas31 commented on #7525
@adrpo the installer does not remove `OPENMODELICAHOME`. We only updated the installer to kill `OPENMODELICALIBRARY`.

[2021-06-07 14:43] adeas31 commented on #7517
Sounds good.
@olivleno what do you think?

[2021-06-07 14:48] #7526 closed

[2021-06-07 14:54] adrpo commented on #7525
@adeas31 ah, yes as we need OPENMODELICAHOME to start omc from other tools such as Python, etc.

[2021-06-07 14:56] adrpo commented on #7525
@adeas31, where is the code in OMEdit that adds stuff to the PATH before running the generated executable? Are our paths added before existing %PATH% or after it?

[2021-06-07 14:59] alkhwarizmi commented on #7525
Still no go:
[code]

Should I re-create the system-wide OPENMODELICAHOME environmental variable?

[2021-06-07 15:00] adrpo commented on #7525
I changed the command, i made a mistake, it should be dummy.exe that you generated:
`"%OPENMODELICAHOME%\tools\msys\mingw64\bin\ntldd.exe" -R dummy.exe`

[2021-06-07 15:01] adrpo commented on #7525
This command will tell you which dlls are need by the exe and where are they found.

[2021-06-07 15:03] adrpo commented on #7525
The answer to this is yes. Set it to: C:\Program Files\OpenModelica1.17.0-64bit

[2021-06-07 15:05] alkhwarizmi commented on #7525
Ah silly me I could have thought about it. Here is the (long) output, it seems that lots of dll are not found:
[code]

[2021-06-07 15:09] adrpo commented on #7525
Those are just false positives this program displays, I just wanted to see from which directory the needed dlls are taken. And they all seem fine.
What happens now if you run dummy.exe?
[code]

[2021-06-07 15:11] alkhwarizmi commented on #7525
This window appears

![image](https://user-images.githubusercontent.com/5898559/121041843-6905e700-c7b3-11eb-988f-f607608e4a5e.png)

[2021-06-07 15:18] alkhwarizmi commented on #7525
[code]

[2021-06-07 15:20] adrpo commented on #7525
Ah, you have `C:\Program Files\OpenModelica1.14.1-64bit\bin;` in the path, remove it and it will just work.

[2021-06-07 15:21] adrpo commented on #7525
I guess I have my answer and we somehow put our OpenModelica paths last in the %PATH% and not first. We should put them first so our dlls are retrieved first.

[2021-06-07 15:26] adrpo commented on #7525
Hm, maybe not fixed yet if there is no such directory as `C:\Program Files\OpenModelica1.14.1-64bit\bin;`. You just left it in the path but you uninstalled it so there are no files left.

Wait, something is strange, in the OMEdit compilation logs I see you're using the `gcc` compiler but in 1.17 `clang` should be used by default.
Can you attach `c:\temp\dummy.makefile` here?
Zip it or rename it to

[2021-06-07 15:38] adrpo commented on #7525
We could also try this, put the OpenModelica paths first in the PATH and then try to run the exe:
[code]

[2021-06-07 20:20] alkhwarizmi commented on #7525
Exactly.

here it is:
[code]

cd c:\temp
set PATH=%OPENMODELICAHOME%\bin;%OPENMODELICAHOME%\tools\msys\mingw64\bin;%OPENMODELICAHOME%\tools\msys\usr\bin;%OPENMODELICAHOME%\lib\omc;%PATH%;
dummy

Same dll error.

Cheers

[2021-06-07 21:03] casella commented on #7525
So, if there is a DLL hell, now I saw it with my own eyes...

[2021-06-07 21:15] adrpo commented on #7525
This is what happens if you don't link statically, you get weird things like these. We changed it from static linking in 1.16 to dynamic linking in 1.17 to have faster builds.

[2021-06-07 21:15] adrpo commented on #7525
I will think a bit about this and will try again tomorrow.

[2021-06-07 21:16] casella commented on #7525
OK, so this is actually DLL paradise, then :)

[2021-06-07 21:19] adrpo commented on #7525
Yes. As far as I can understand this error, we pick up another libstdc++ from somewhere in the path but I don't quite get how that happens if we set our own paths first.

[2021-06-07 21:43] adrpo commented on #7525
@alkhwarizmi please zip the entire c:\temp and attach it here. I want to try the exe on my computer.

[2021-06-08 06:58] adeas31 commented on #7525
Here is the code that sets the environment for the simulation process,
https://github.com/OpenModelica/OpenModelica/blob/master/OMEdit/OMEditLIB/Util/StringHandler.cpp#L1621

The paths are added before existing %PATH%.

[2021-06-08 07:04] alkhwarizmi commented on #7525
Hallo,

here is my C:\Temp folder. [Temp.zip](https://github.com/OpenModelica/OpenModelica/files/6614177/Temp.zip)

Hope this helps

[2021-06-08 07:21] alkhwarizmi commented on #7525
Hallo everybody,

if this is a DLL loading issue, [this page](https://docs.microsoft.com/en-us/windows/win32/dlls/dynamic-link-library-search-order) may help.

Cheers

[2021-06-08 08:38] adrpo commented on #7525
Oh, I know very well how the dll search order goes.
I can run your exe without any issues via:
[code]
![image](https://user-images.githubusercontent.com/4192979/121149275-31e31480-c84b-11eb-9690-82c47adb6014.png)

This basically leaves one thing I can think of: corrupted dll.

Let's try one more thing, copy all the dlls from OM to this directory so PATH settings do not matter:
[code]

[2021-06-08 08:43] adeas31 commented on #7525
I suggest,

- Uninstall OpenModelica.
- Remove all references of `OPENMODELICAHOME` from system and user environment variables.
- Remove OpenModelica path from `PATH` system and user environment variable.
- Restart
- Install OpenModelica
- Restart
- Print `PATH` and `OPENMODELICAHOME` to see everything is correct.
- Simulate the model.

[2021-06-08 10:54] alkhwarizmi commented on #7525
Hallo,

I'm sorry Adrian if I offended you. The advice was not meant for you, I suspected that you are well aware of that. As search DLL search path was mentioned in the thread I though it may be useful for the readers. I spent ours long ago to find a clear description of where Windows looks for DLLs.

  Crazily enough, copying the dll locally results in the example to work, so it seems dll are no

[2021-06-08 11:49] adrpo commented on #7525
Please try the @adeas31 way and if it works we can dismiss this one as a glitch.

[2021-06-08 11:51] adrpo commented on #7525
No worries, is good documentation for anybody to read. I actually re-read some of that and it seems some things have changed since the last time I read it, especially with regards to security.

[2021-06-08 13:17] casella commented on #7525
So, whether this is hell or heavens, the debate is still open.

BTW, I just noticed that they are all 32-bits dlls. Maybe there's something's wrong with them. @alkhwarizmi do you have any reason not to use 64-bit stuff?

[2021-06-08 14:01] adrpo commented on #7525
@casella how are they 32bit dlls? They are copied from `C:\Program Files\OpenModelica1.17.0-64bit\` which is a 64bit installation of OpenModelica :)

[2021-06-08 14:23] AnHeuermann commented on #7522
I'll change it to load MSL 3.2.3 explicitly. I'll fix it for https://www.openmodelica.org/doc/OpenModelicaUsersGuide/latest/omnotebook.html as well.

[2021-06-08 15:08] casella commented on #7525
I'm definitely ignorant about dlls, but is `ext-ms-win-kernel32-localization-l1-1-0.dll` a 64-bit dll?

[2021-06-08 15:09] casella commented on #7522
Thanks!

[2021-06-08 15:17] casella commented on #7507
@kabdelhak, while doing testing on benchmarks for our high-performance LLVM compiler, we stumbled upon another case where resolveLoops scales badly, in this case as O(N^2). With system sizes below 10k equations it doesn't even register, but as you go above 40k equations (which is not too big, yet), it just blows up and becomes the major bottleneck for compilation, particularly because of humongous

[2021-06-08 15:57] alkhwarizmi commented on #7525
I would like and I think I am using 64-bit version of OM.

I have some other development and simulation tools in 32-bit however. I am speaking mainly of LabView. We stick to the 32-bit version at least for a couple of years because NationalInstrument is not supporting all our hardware on the 64-bit version.

[2021-06-08 16:03] adrpo commented on #7525
Ah, those are really weird, I have no idea why they appear in there as they do not really exist. In general I do this:
`ntldd -R dummy.exe | grep -v WINDOWS | grep -v "ext-ms" | grep -v Hvsi`
filter all the dlls that are found in Windows, we don't care about those, filter all `ext-ms` dlls and the Hvsi one.
https://ofekshilon.com/2016/03/27/on-api-ms-win-xxxxx-dll-and-other-dependency-walker-glitc

[2021-06-08 16:04] adrpo commented on #7525
The result is a very clean:
adrpo33@ida-0030 MINGW64 /c/Users/adrpo33/Downloads/Temp
[code]

[2021-06-08 16:09] adrpo commented on #7525
I guess I should not be filtering out the dlls in Windows, one might have a `libstdc++-6.dll` in there copied by some weird software.

[2021-06-09 08:38] alkhwarizmi commented on #7525
Hallo everybody,

I tried what @adeas31 suggested, cleaning variables, reboot, re-installation (which correctly removed the the current installation), reboot.

I think we can draw some conclusions now, that you will find below, just after the information requested by @adeas31, which I include tor the sake of completeness:
1. The current path is
[code]
2. The OPENMODELICAHOME variable
[code]
So, wh

[2021-06-09 09:12] #7522 closed

[2021-06-09 10:10] adrpo commented on #7525
No "sane" software should put these dlls in the system folder. This is because libraries evolve and you get incompatible versions. It may be the case that MDS+ works wit out libstdc++-6.dll as is newer, but it might as well give the same type of error you get now with out built executable.

For the time being you could use v1.16.5 which as static linking by default (no dlls required to run the exe

[2021-06-09 11:00] alkhwarizmi commented on #7525
Thank you again Adrian.

[2021-06-09 11:39] casella opened #7534 "Allow selection of static or dynamic linking of simulation executable in OMEdit"
### Description

In 1.17.0, we introduced dynamic linking of simulation executables under Windows, to reduce the overall time spent from clicking the Simulate button to getting the simulation results. This time was substantially reduced, but some users are reporting DLL hell issue, see e.g. #7525

Although keeping dynamic linking as default makes sense for most users, we should ad an option in OME

[2021-06-09 11:40] casella commented on #7525
I think we can consider this issue closed. I just opened #7534 based on @adrpo's suggestion.

[2021-06-09 11:40] #7525 closed

[2021-06-09 14:48] perost opened #7535 "Cpp runtime handles array constructor incorrectly"
The Cpp runtime generates invalid code for a model such as this:
[code]
where the model flattens to:
[code]
For the `cos({x1, x2}[$i1]` expression it generates a switch that uses an undeclared variable called `_omcQ_24i1_`, but the rest of the code for the array constructor calls the iterator `$i1_loopVar` instead.

The `cos` call should really be flattened by the frontend to `{cos(x1), cos(x2)}`

[2021-06-09 15:12] perost commented on #7535
I forgot to mention that this affects the PowerSystems library, for example `PowerSystems.Examples.AC3ph.Elementary.Source`.

[2021-06-09 16:00] olivleno commented on #7517
Interesting to hear that it was not only me stumbling over the current behavior.

What is the effect of the proposed "overwrite"? - Does it mean the local flags are discarded entirely and replaced with the global ones?

The stumbling block I see that naturally one expectations that the local flags are applied on top of the global flags. This means the global flags are applied unless altered by the

[2021-06-09 17:03] rfranke commented on #7535
`System.unquoteIdentifier(name)` translates `$i1` to `_omcQ_24i1_`. This needs to be fixed in two files: CodegenCppCommonOld.tpl and CodegenCppCommon.tpl, see below.

This was the simple part of the fix. But how to create a pull request and get it merged after having followed the instructions in README.Linux.md to build OpenModelica?

[code]

[2021-06-09 17:10] AHaumer opened #7536 "delay not working correctly"
We're going to implement test models for `Modelica.Electrical.Analog.Lines.TLine` which rely on the delay-operator.
I'm expecting that the output is an exact copy of the input but delayTime later, but in OM it isn't:
The slopes (at the beginning and the end of a pulse) are finite (instead of infinite).
Pls. have a look at the enclosed example.
OM won't be able to reproduce the comaprison signals o

[2021-06-09 17:16] perost commented on #7535
See [how to contribute](https://github.com/OpenModelica/OpenModelica/blob/master/CONTRIBUTING.md). Basically fork the project, push a commit to your fork, then make a pull request.

[2021-06-09 17:22] rfranke commented on #7535
OK, I made an additional fork to create a pull request.

[2021-06-09 20:41] casella commented on #7517
I guess it is fairly commonplace :)

No, I think we should just apply the diff between the previous and the current global flags to the local flags. That's what I would expect.

Yeah, I guess it is not trivial, but it is just a diff patch at the end of the day. @adeas31, what do you think?

Absolutely!

[2021-06-09 20:48] casella commented on #7536
Thanks @AHaumer for pointing this out. We just implemented the spatialDistribution operator, see [trac ticket #5281](https://trac.openmodelica.org/OpenModelica/ticket/5281) which should preserve sharp input changes by triggering events when the changes get to the output.

@AnHeuermann, @kabdelhak, do you think porting that solution to `delay` is a simple task? We could also ask @mahge to take care

[2021-06-09 21:35] casella commented on #7536
This is a test model similar to the one I provided for the `spatialDistribution()` operator. It computes the error, which is quite large.
[code]

[2021-06-09 21:43] casella commented on #7536
In fact, now that we have a good implementation of `spatialDistribution()` including event handling, we can get a better implementation of `delay()` in the case of fixed (parametric) delay out of the box: just set
[code]
I guess we shouldn't care of improving the case of variable time delay. As I understand, in most cases that was used as poor man's version of the `spatialDistribution` operator wi

[2021-06-10 07:05] adeas31 commented on #7517
No. My proposed "overwrite" is to just discard local flags and replace them with the new global ones.

Yes we can apply local flags on top of global ones. But that might have unexpected results e.g., if you set `initialization` flag at global level and don't set it in the local level then still it is applied. Now this results in a confusion for the user, since the user might be seeing in the simul

[2021-06-10 07:14] olivleno commented on #7517
The surprising thing is that the behavior changes after a re-launch. This is suspicious and unexpected.
Overwriting (by discarding all local settings) is a very radical approach. Why not create the same behavior as after a restart?

[2021-06-10 07:18] adeas31 commented on #7517
Local flags are just for one session and they are not preserved across different sessions. Only the global flags are preserved and used across sessions.

[2021-06-10 07:34] olivleno commented on #7517
Well if that's the case then I see no need for too many headaches on the local settings. One can expect that users still know what they have recently changed locally and are in the worst case able to recover what has been overwritten.

A clean concept of global and local settings that are preserved (as in git) would be a nice to have feature. This would probably require to store them as annotation

[2021-06-10 07:38] adeas31 commented on #7517
We have the option to store the flags as annotation in the model, if user does that then they are preserved as part of the model file. Otherwise the flags are just for the current session.

Yes, "Discard" is even better.

[2021-06-10 07:39] adrpo commented on #7534
@casella we can do this via:
1) a new parameter in `buildModel|translateModel(..., linkType="static|dynamic")`
2) a command line config flag `--linkType="static|dynamic"`
which one would be preferable?

The second one doesn't need to be set for each model.
The first one can have a default to "dynamic" and if you want "static" is an explicit user choice which does not remain for the next model. Mys

[2021-06-10 07:40] adeas31 commented on #7517
I will implement my proposal so you can see the thing in action. Then we can have feedback on it.

[2021-06-10 07:43] sjoelund commented on #7534
I think a command-line flag would be preferable. However, there is no static linking on Linux/MacOS, so it might be a bit weird that it does nothing...

[2021-06-10 07:43] adeas31 commented on #7534
The second one has advantage in the case of #7525. Think of a user who always want to use static linking. For such user first option will be annoying to set for each model every time.

[2021-06-10 07:45] adeas31 commented on #7534
We only do it for Windows. I can also make it in OMEdit to only show controls when is running on Windows.

[2021-06-10 07:46] sjoelund commented on #7534
But if you want to hide the flag from `omc --help`, it would need to be an internal flag. But why would we hide such a flag from the documentation, etc?

[2021-06-10 07:53] rfranke opened #7539 "Undeclared identifier __HOM_LAMBDA_ in Cpp runtime"
A couple of examples of the PowerSystems library fail to compile due to use of undeclared `__HOM_LAMBDA_` in the Jacobian code. See e.g. `PowerSystems.Examples.PowerWorld.Test.HydroPlantTest1`
https://libraries.openmodelica.org/branches/master/PowerSystems_cpp/files/PowerSystems_cpp_PowerSystems.Examples.PowerWorld.Test.HydroPlantTest1.err

Where does this come from? Possibly some new homotopy tha

[2021-06-10 07:59] AnHeuermann commented on #7506
How about a test for `loadFile`, or any other function accepting paths, to check if a path has a character we can't handle?
It won't solve the problem but would give a clear error message.

Should be easy to add to CevalScript.mo and CevalScriptBackend.mo.

[2021-06-10 08:38] rfranke commented on #7539
Same with MSL, see ModelicaTest_3.2.3_cpp https://libraries.openmodelica.org/branches/overview-combined.html.

The number of compiled models reduced from 547 to 526 from OpenModelica v1.16 to v1.17!

See e.g. `ModelicaTest.Blocks.LimPID` suffering from the same problem:
https://libraries.openmodelica.org/branches/v1.17/ModelicaTest_3.2.3_cpp/files/ModelicaTest_3.2.3_cpp_ModelicaTest.Blocks.LimPID.

[2021-06-10 09:05] rfranke commented on #7539
Did this commit by @AnHeuermann possibly break the compilation of many models in the Cpp runtime:
Differentiate homotopy operator with lambda (f8ceac8e1cb025f1efdcc5e5bca76e7b3bd283b0)?

[2021-06-10 09:24] AnHeuermann commented on #7539
Could be that it is f8ceac8. @rfranke Did you try with a version of OMC before that commit?

But with that commit it is possible to differentiate the homotopy operator and that is going into the Jacobians of the non-linear system. So it is very likely that commit.

My guess would be that the C++ runtime is using some shared code generation or some code generation from the C runtime templates.
`__H

[2021-06-10 09:35] AnHeuermann commented on #6419
Okay, I think @phannebohm and myself got a lot close to the solution of this one.

We have two observations:
1. The simulation is stuck during initialization because some variables are changing if you call the function DAE `data->callback->functionDAE(data, threadData)` twice in a row.
2. The value of one variable changes ever so slightly in a non-linear system during the solving with Newton
    T