[2021-08-24 14:26] Norman416 commented on #7803
I think so too.
Thanks for your reply, and looking forward to your work.

Best regards

[2021-08-24 14:52] mahge commented on #7803
I have just added a fix. I will merge it in soon after the tests finish running. It will take about 45 mins. After that you can update your OpenModelica and it should fix this issue.

Do not forget to update the submodules.

[code]

If you want to try it out in the meantime you can apply these changes locally and try it out. Do not forget to pull later though.

https://github.com/OpenModelica/OMCo

[2021-08-24 15:21] max-privato commented on #7711
aha.
Ok. For me gridlines now are ok.

Will you please consider also ticket #7712?

[2021-08-24 15:37] mahge commented on #7803
@Norman416 you can now try pulling OpenModelica and recompiling again. Let me know if you run into more issues.

[2021-08-25 02:43] Norman416 commented on #7803
Ipopt-3.13.4 compiled successfully.

But OMSIBaseInstall compile fail.
I check **Makefile.omsi.common**
OMSIBaseInstall: $(SUNDIALS_TARGET) fmil
	cd SimulationRuntime/OMSI; \
	$(foreach PLATFORM, $(PLATFORMS), \
	  mkdir -p Build_$(PLATFORM); \
	  (cd ./Build_$(PLATFORM); echo "change to Build_$(PLATFORM)"; \
		 $(CMAKE_CALL); \
	   $(MAKE) install);)

check **OpenModelica\OMCompiler\SimulationRun

[2021-08-25 04:35] Norman416 commented on #7803
I edit OpenModelica\OMCompiler\SimulationRuntime\OMSI\solver\CMakeLists.txt
FIND_PATH(SUNDIALS_INCLUDE_DIR "sundials/sundials_config.h" ${OMCTRUNCHOME}/build/include/omc/c/sundials NO_DEFAULT_PATH)
it's ok.

[2021-08-25 05:06] Norman416 commented on #7803
New problem is occuring.
Below is my git configuration information，is the code path correct？
Or other questions？

OpenModelica：
# git config -l
http.sslcainfo=C:/Program Files/Git/mingw64/ssl/certs/ca-bundle.crt
http.sslbackend=openssl
diff.astextplain.textconv=astextplain
core.autocrlf=false
core.fscache=true
core.symlinks=false
credential.helper=manager
core.eol=lf
core.autocrlf=input
http.sslve

[2021-08-25 07:29] Norman416 commented on #7803
My solution to the above problem.
cp -rf OMCompiler/omc_config.h OMCompiler/Compiler/runtime/

I suspect omc_config.h is not generated in the folder OMCompiler/Compiler/runtime/

[2021-08-25 08:30] mahge commented on #7803
I think you need to start clean from the beginning. You should not be running into this issues. I am suspecting you are running make from a subdirectory and while that is possible you will have to manually set some more variables for it tow work properly.

I highly recommend you reset your working copy and recompile everything.

First, **make sure you do not have anything you need in the OpenModel

[2021-08-25 09:59] Norman416 commented on #7803
All components passed.
Thanks.

[2021-08-25 10:54] mahge commented on #7803
Great! Glad it all worked out.

I am going to close this ticket. Feel free to open another one if you encounter other problems.

[2021-08-25 10:54] #7803 closed

[2021-08-25 11:19] adeas31 commented on #7711
PR #7810 fixes this one.

Yes, I will take care of it.

[2021-08-25 11:19] casella commented on #7750
I had provided the wrong link, sorry. Now it points where it should.

[2021-08-25 11:22] casella commented on #7776
I'm afraid there's not much we can do about this, the problem is that we have a lot of dependencies on OS libraries (including the whole MinGW thing) and we need to include them in the installer. Linux with APT is a lot smarter

I'm not aware of anything unused in the installer. Can you be more specific?

[2021-08-25 11:28] casella commented on #7772
@adeas31 what do you think? I'd try to avoid having dangling tickets that are not going to be followed up. Of course we can keep it with low priority, but it has to be > 0 :)

[2021-08-25 11:29] casella commented on #7792
@SVVS-KOUNDINYA I understand from @AnHeuermann that 1.18.0 doesn't yet address this. Please monitor #7536 and try the nightly build once it's merged in

[2021-08-25 12:52] adeas31 commented on #7750
If I remember correctly this is because of `updateComponent` api. The interactive environment need to be fixed first.

[2021-08-25 13:02] adeas31 commented on #7772
As a Modeler, in the plotting perspective, it would be useful if only classes that are meaningful for animation open in a diagram view in the plotting perspective, and all others switch to the modelling perspective and display there.
As a simple heuristic, it could be checked if the clicked class occurs in the simulated models/available simulation results (those in the variables browser). I guess

[2021-08-25 13:20] bilderbuchi commented on #7772
you can always schedule it for the "Future" milestone 😆

I agree, uniform behaviour is probably good to preserve. Sounds reasonable!

[2021-08-25 13:38] niklwors commented on #7776
Yes this is correct the whole MinGW is  important and very good that it is installed.

For example the header files and libraries for the different runtimes C,C++,omsic, omsicpp. Maybe by default only C and C++ is installed. Or the user can decide which runtime he want to install. Also the libraries for the Visual Studio compiler can be disabled by default. I think there some other libraries which

[2021-08-27 08:37] rfranke opened #7815 "omc emits trivial algebraic loops"
Translated models contain algebraic loops and respective Jacobian matrices that might better be solved analytically. This would reduce model code and should also speed up simulations. In particular, there are linear equation systems of size 1.

An extreme example: the translated `Modelica.Electrical.Spice3.Examples.Spice3BenchmarkFourBitBinaryAdder` contains 176 algebraic loops from which more tha

[2021-08-28 08:53] rfranke commented on #7794
Here is a good example. The trunk version of `Modelica.Fluid.Examples.PumpingSystem` logs  the below nonlinear equation system with unknowns `der(pumps.medium.T)` and `der(pumps.medium.p)` (with `-d=dumpSimCode`). Both unknowns have nominal value 1. The simulation fails with the Cpp runtime. The simulation succeeds if I manually change the nominal value for `der(pumps.medium.p)` to 1e5.
[code]

[2021-08-28 09:04] rfranke commented on #7794
PR #7817 automates this for the Cpp runtime. Code generation is certainly not the best place for such tweaks. I did also have a look into BackEnd and SimCode, but ... all appears based on crefs that lack variable attributes. And there have been already similar tweaks for min and max attributes in the same Cpp template.

As soon as someone provides an alternative implementation, the added fallback

[2021-08-28 09:28] rfranke opened #7818 "System is structurally singular and cannot be handled because the number of unassigned equations is larger than the number of states."
A couple of PowerSystems examples fail with this message. I just discovered that the `PumpingSystem` example is suffering from the same bug in MSL 3.2.3. Interestingly it works in `OpenModelica/testsuite/simulation/libraries/msl32`.
This might give some hints and it should also raise the importance of a solution.

See https://libraries.openmodelica.org/branches/master/Modelica_3.2.3/files/Modelica

[2021-08-28 15:08] casella commented on #7794
@phannebohm, the case reported by @rfranke makes this small improvement really high priority. It could actually solve a lot of issues in the testsuite.

Can you please take care of that properly?

Thanks!

[2021-08-28 15:15] casella commented on #7683
Adding tweaks that look at specific class names seems to me a bit borderline. We can use this as a temporary hack, but the issue should be resolved properly, otherwise it may not work with other libraries and other conversion scripts.

What is not clear to me is what does the specification say in these two cases? Is it clear what the outcome should be, or is it ambiguous?

[2021-08-28 15:21] casella commented on #7772
Mee too :)

Can we consider this issue closed?

[2021-08-28 15:25] casella commented on #7776
@niklwors, @adrpo could have a further look at this. Back then, it took him a really long time to finally manage to squeeze everything that was needed for the 64 bit Windows version in the installer, I'm not sure it looking into it again is worth the effort.

Maybe the best solution to solve this issue is to use Windows Subsystem for Linux, instead of MinGW & Co. This would make the installation p

[2021-08-28 15:27] casella commented on #7792
@AnHeuermann, @rfranke, what about increasing the default value right away? I'm not sure why 500 was used, but we may as well put 5000, or 10000 there.

[2021-08-28 15:30] casella commented on #7818
Possibly related to [#6200](https://trac.openmodelica.org/OpenModelica/ticket/6200)

[2021-08-28 15:33] casella commented on #7818
Regarding msl 3.2, I guess homotopy was added afterwards, that may explain what goes wrong.

It is possible that the simplifed equation changes the index of the problem. I'm not sure if this can be handled and how, I need to think about it.

[2021-08-28 15:40] perost commented on #7683
The specification says nothing about this. I opened [#2981](https://github.com/modelica/ModelicaSpecification/issues/2981), and from the answers I got from Hans it seems it's not possible to handle this case without name lookup. And that requires using the old version of the library that the conversion script is from, which may not be available.

We could probably handle this better by just applyi

[2021-08-28 16:00] sjoelund commented on #7683
Is this something that can be fixed by changing the conversion script in MSL 4? If so, it might be an appropriate place for it

[2021-08-28 16:04] perost commented on #7683
No, as conversion is specified I don't think it's possible to handle conversion 100% correctly without access to the old library and looking up all names in the library being converted.

[2021-08-28 16:32] rfranke commented on #7792
The reported error is exactly the interval length of 1/500=0.002s -- reduced to 1/5000=0.0002s in my reply. The delay operator would need to replay events to get exact discrete changes out of it.
However, many examples do already increase the number of intervals in their experiment settings -- certainly also for other reasons. Also the daily library tests introduce more intervals in many cases, I

[2021-08-28 17:09] bilderbuchi commented on #7772
I have not checked yet - does ctrl-click already open a model in the modelling perspective? (can't check right now) Then yes 😀

[2021-08-29 12:01] phannebohm commented on #7794
Thanks @rfranke for the investigation. I think I found a better place for the tweak, see #7819. Maybe the min and max attributes should also be moved there.
Anyway, if my PR works, can you revert your changes to Codegen? Sorry for the unnecessary work but I was just too slow due to other work...

[2021-08-29 15:37] rfranke commented on #7794
My fallback in CodegenCpp/Old will become inactive as soon as you introduce nominal values in SimCodeUtil. I don't remember why the special treatment of min/max values had been introduced -- there might have been inappropriate values in an older version of SimCode.

Btw. 13 Cpp test examples improved from Compile to Verify with nominal values for derivatives -- all Fluid, see:
https://libraries.op

[2021-08-30 08:18] AnHeuermann commented on #7792
I don't think changing the number of simulation intervals is a good idea. It will slow down the simulation problems while not improving the plotted solution in OMEdit (outside of this ticket) and the simulation error is not affected by this, but the given tolerance.

Increasing the intervals on a model is a good workaround for this issue, but not the general solution. I have a branch for it and on

[2021-08-30 08:29] #7772 closed

[2021-08-30 08:32] sjoelund commented on #7792
The delay operator doesn't trigger events, so I think we have a correct solution at the moment (according to the language). Dymola has the slope to the left of t=0.6 and we have it to the right.

[2021-08-30 08:40] #7753 closed

[2021-08-30 09:01] adeas31 commented on #7645
As far as I know this is fixed with https://github.com/OpenModelica/OpenModelica/commit/2c55a33cb5d801a3b041468b95f5820ede8c4300. Please reopen if you still have issues.

[2021-08-30 09:01] #7645 closed

[2021-08-30 09:03] adeas31 commented on #7772
@bilderbuchi it is done now. You can test the feature in tomorrow's nightly build. I will port it to 1.18

[2021-08-30 09:03] bilderbuchi commented on #7772
Thanks!

[2021-08-30 09:32] bernhardbachmann commented on #7794
Shall we introduce an annotation (similar to tearingSelect), which
allows for explicitly setting the attributes (min/max/nominal/etc.) for
derivatives. In example:

Real x annotation(derivativeAttributes(nominal=1e5, min=0, max=Inf));

Best
Bernhard

Am 29/08/2021 um 17:37 schrieb rfranke:

--
=============================
Professor Bernhard Bachmann
Dr. phil., Dipl.-Math.

Fachhochschule Bielefel

[2021-08-30 12:21] casella commented on #7683
As agreed during the devmeeting, @perost will implement a solution that assumes no shadowing is taking place, then we see how it goes and possibly continue the discussion in Modelica ticket [#2981](https://github.com/modelica/ModelicaSpecification/issues/2981)

[2021-08-30 12:24] casella commented on #7683
@mahge noticed some shadowing in the MSL that was not fixed in 4.0.0, see https://github.com/modelica/ModelicaStandardLibrary/blob/master/Modelica/Fluid/Dissipation.mo#L471 vs. https://github.com/modelica/ModelicaStandardLibrary/blob/4577c01e1f71fc684c256837250b5adcbf58fd5a/Modelica/Fluid/Dissipation.mo#L500

[2021-08-30 12:32] perost commented on #7683
That won't be an issue since there are no conversion rules for `Modelica.Constants.eps`. If there were we could handle it by ignoring imports shadowed by local elements. It's only an issue if imports are shadowed by inherited names, i.e. names that require lookup to find.

[2021-08-30 12:47] casella commented on #7645
@max-privato the 1.18.0 beta contains the fix

[2021-08-30 12:57] AnHeuermann commented on #7815
This output will hopefully be improved with https://github.com/OpenModelica/OpenModelica/issues/7789.

For `* Linear torn systems: 2 {(1,100.0%) 4,(1,100.0%) 4}` the output means:
We have 2 linear torn systems. System 1 has 1 iteration variable and a dense Jacobian and 4 inner varaibles. System 2 has 1 iteration variable and 4 inner variables as well. So the size of the linear loops are 5.

[2021-08-30 13:05] casella commented on #7815
See also [#6236](https://trac.openmodelica.org/OpenModelica/ticket/6236)

[2021-08-30 13:23] casella commented on #7815
@rfranke I ran the `Modelica.Electrical.Spice3.Examples.Spice3BenchmarkFourBitBinaryAdder` model in Dymola and got the following statistics
[code]
There are 52 linear systems, of which 36 get solved analytically. I guess those correspond to the ones that we reduce to size 1 with tearing. Maybe we could skip using the linear solver in that case and save some time, or possibly go further into analyt

[2021-08-30 13:28] casella commented on #7794
That is one possibility we could discuss withing the MAP-LANG group. On the other hand, I would have some difficulties myself figuring out which numerical values to provide for my cases of interest, so I guess having some reasonable heuristics to set them automatically is required anyway.

BTW, tearingSelect is not a standardized annotation, so we should use a vendor annotation for that. I thought

[2021-08-30 15:15] phannebohm commented on #7794
I guess as soon as we solve #5099 and #5813, we can have the modeler specify an alias for the derivative so they can set a nominal attribute on the alias.
[code]
That doesn't solve @casella's difficulties but it avoids new language constructs. What do you think?

[2021-08-30 15:18] bernhardbachmann commented on #7794
Good idea!

Am 30/08/2021 um 17:15 schrieb phannebohm:

--
=============================
Professor Bernhard Bachmann
Dr. phil., Dipl.-Math.

Fachhochschule Bielefeld
University of Applied Sciences
Fachbereich Ingenieurwissenschaften und Mathematik
Studiengang Angewandte Mathematik

Interaktion 1
D-33609 Bielefeld

Raum FHC, D230

fon: +49 521 106 7407
fax: +49 521 106 7176
email: ***@***.***
www:

[2021-08-30 17:18] rfranke opened #7824 "Model with matrix equations produces wrong results with new frontend"
See e.g. `PowerSystems.Examples.AC3ph.Elementary.Line`. The model places a T-line between two voltage sources, initializes in steady state and then adapts the phase angle of `voltage1` during transient simulation.

![Screenshot from 2021-08-30 14-35-50](https://user-images.githubusercontent.com/4224368/131373648-17a77fee-b458-4934-b57c-1e40c7f94756.png)

The line model might be special by using ma

[2021-08-30 17:22] mahge commented on #7815
Can someone try running this model through the backend and interpret the results of `-d=backenddaeinfo` and `-d=tearingdump`

[code]
This is similar to the case here and to #6236. Just more variables and a toy system instead.

_The `sin(time)` call is there just to avoid simplification of the model otherwise it has no relevance here._

The backend choses `b` as an iteration/tearing variable and eq

[2021-08-30 22:43] casella commented on #7794
Yeah, good idea! It is always best if we can avoid changing the language, for two reasons:
- it normally takes _a lot_ of discussion and time to get anything through
- the language spec is quite bloated already, we shoud try as much as we can to avoid inflating it further

[2021-08-30 22:53] casella commented on #7815
As far as I understand, there is nothing wrong with that. The residual equation does not dependon on `b` _explicitly_, but of course it does depend on `b` implicitly, if you follow the chain of torn equation. So, by adjusting the value of `b` you can indeed make the residual go to zero. Of course if you compute the Jacobian properly, you can do it in one shot.

This is potentially an issue if the

[2021-08-31 05:58] rfranke commented on #7824
There seems to be a problem with the generation of equation systems. Here are the results of steady state initialization, setting Stop Time to 0, with old frontend and new frontend, respectively!
<div>
<img height="500" src="https://user-images.githubusercontent.com/4224368/131448043-dab59ec7-de80-4464-beb3-0baf006f88b3.png">
<img height="500" src="https://user-images.githubusercontent.com/4224368

[2021-08-31 06:41] sbaetzing opened #7826 "Modifier of redeclared classes should be available through parameter dialog"
### Description
Having a replaceable class inside a model should produce an possibility to change modifiers through the parameter dialog of the redeclared one. Same behavior expected having record parameters. Without its not possible to modify selected instance

Since i cant upload any file i will send some screenshots to adeel.

### Steps to Reproduce

Open parameter dialog of class "classwithRep

[2021-08-31 07:36] mahge commented on #7815
Yes. Of course. It is numerically okay. I do not know enough to speculate about the convergence properties but it should definitely work either way.

Numerical Singularity is of course dependent on the values. I was just wondering about if this will lead to actual structural singularities afterwards, i.e., a system that can not be completely matched afterwards. The more I think about though, it mi

[2021-08-31 08:22] kabdelhak commented on #7815
You can have local (analytical) singularity by accident if you divide by a parameter that turns out to be zero after initialization. As you said: with very strict tearing that can be avoided at all times. But structural singularity can never be created by tearing. If the underlying full system is structurally regular, all possible torn subsystem also are structurally regular.

[2021-08-31 08:31] kabdelhak commented on #7815
As i said, you do not need to worry about creating structural singularities.

I don't really understand what you mean... just after matching and tearing we realize that it only has one iteration variable left. The matching is a byproduct from matching the entire system for BLT so it does not yield any extra costs. I get what you mean that we could resolve the system entirely if tearing a linear sy

[2021-08-31 09:16] mahge commented on #7815
If matching is done on the whole system then that is alright. But it does not look like that is what is happening. Here we seem to identify that we have an SCC so we first pick a tearing var/equation and then do matching on the rest. Just for this linear system. Right? That is what I understood from it.

If the matching is done on the whole system then how do we end up picking a tearing variable/e

[2021-08-31 10:55] casella commented on #7815
Regarding the symbolic solution, I guess that is indeed possible, and in this case it would generate a very compact code that avoids all the hassle of linear solvers (memory allocation etc.). However, in general, if you apply full symbolic substitution to the residual equation, you may end up with a very complex expression.

This doesn't happen here because each torn variable depends only on one o

[2021-08-31 10:56] casella commented on #7815
I checked what Dymola does in this case
[code]
so it seems they are not going all the way through with the symbolic manipulation, but at least they avoid using the linear solver on the residual equation, as proposed by @mahge

[2021-08-31 11:01] casella commented on #7815
Well, because solving a system of one equation in one unknown is faster than solving a system in N > 1 unknowns :)

However, I fully agree that the overhead of using LAPACK in this case is not justified, the scalar linear residual equation should be solved symbolically and code generated for that. See what Dymola did in the Heat1D test case I posted above.

[2021-08-31 11:10] casella commented on #7826
@sbaetzing, this feature is planned to be introduced ASAP. It's not trivial, so we can't promise anything regarding the delivery date. I set it tentatively for 1.19.0

[2021-08-31 11:11] sjoelund commented on #7815
They are not necessarily equivalent. A linear equation is an SCC. But you can solve it without a loop (since it is linear), so I wouldn't necessarily say it's an algebraic loop. A SCC means that the graph has a cycle. An algebraic loop also has a cycle which means it is an SCC.

Don't we have special cases for solving N=2 also? Anyway, yes... Linear size=1 should have a separate code path in the c

[2021-08-31 11:11] mahge commented on #7815
Definitely, I think I went overboard there. We do it because we do not know a priori how many tearing variables we will end up with. I agree.

[2021-08-31 11:20] casella commented on #7815
Not sure what you mean by `N` here. Do you mean the size of the residual equation system?

I agree with that.

[2021-08-31 11:21] mahge commented on #7815
We really needed to get these terminologies consistent. At least for us.

The problem is not how we solve the system. It is how we define it and also consider it as an SCC. Kind of.  how many SCCs does the example above has?

If we consider directed graphs: an SCC will always have **at least one cycle** but it can also have multiple cycles. That is why you need a heuristic to pick as few nodes as

[2021-08-31 11:25] sjoelund commented on #7815
I meant for the linear solver. I think I have seen some code in there that doesn't start lapack for small systems

[2021-08-31 11:27] sjoelund commented on #7815
We only break loops during tearing. I haven't looked at that code though, so I'm unsure how it's structured. From the rest of the compiler's point of view, we only look for SCCs and find the largest ones (those are the equations that need to be solved at the same time).

[2021-08-31 12:02] casella commented on #7815
Could be, but I never saw it running in practice.

[2021-08-31 12:08] mahge commented on #7815
I think the case here might be different than small non-linear systems. This only becomes "small" after tearing is applied to it. I guess by that point we are already past the "deal with small linear systems" part of the processing and started treating it as big. Because it can actually can be very big before tearing.

[2021-08-31 12:13] sjoelund commented on #7815
So would it help to have some transform at the end of or after tearing that simplified this? It's only going to be happening for tearing, right? Hopefully it could use some of the same functions to simplify the systems and we could in some cases output some nicer structure than the torn system (solved as NLS). Perhaps a sequence of regular equations?

[2021-08-31 14:42] casella opened #7832 "Incorrect handling of algorithms with arrays by the backend"
@kabdelhak, while investigating [#6199](https://trac.openmodelica.org/OpenModelica/ticket/6199) and [#6207](https://trac.openmodelica.org/OpenModelica/ticket/6207), I stumbled upon something weird related to how algorithm sections involving arrays are handled by the backend.

I could reproduce the issue (or a related one) with a much simpler model in the context of #7815. Consider this test packag

[2021-08-31 16:13] casella opened #7833 "Issue with expandable connectors in Buildings 7.0.1"
Please check

[Buildings.Applications.DataCenters.ChillerCooled.Examples.IntegratedPrimaryLoadSideEconomizer](https://libraries.openmodelica.org/branches/master/Buildings_7.0.0/files/Buildings_7.0.0_Buildings.Applications.DataCenters.ChillerCooled.Examples.IntegratedPrimaryLoadSideEconomizer.err
)

The NF complains that
[code]
@perost, is this an NF bug or are there problems with the validity of t

[2021-08-31 17:09] casella opened #7834 "Issue with variability in Buildings 7.0.1"
Please check [Buildings.Controls.Predictors.Examples.BESTEST](https://libraries.openmodelica.org/branches/master/Buildings_7.0.0/files/Buildings_7.0.0_Buildings.Controls.Predictors.Examples.BESTEST.err). The NF reports
[code]
@perost, is this a NF bug or an issue with the source code?

[2021-08-31 17:18] casella opened #7835 "Issue with dimensions of NF.typeBinding in Buildings 7.0.1"
Please check [Buildings.Examples.HydronicHeating.TwoRoomsWithStorage](https://libraries.openmodelica.org/branches/master/Buildings_7.0.0/files/Buildings_7.0.0_Buildings.Examples.HydronicHeating.TwoRoomsWithStorage.err). The NF reports
[code]
Previously it reported
[code]
I'm not sure if that is related or not.

[2021-08-31 17:22] casella opened #7836 "Wrong number of dimension reported by NF.constantEvaluate in Buildings 7.0.1"
Please check [Buildings.Examples.ScalableBenchmarks.BuildingVAV.Examples.TwoFloor_TwoZone](https://libraries.openmodelica.org/branches/master/Buildings_7.0.0/files/Buildings_7.0.0_Buildings.Examples.ScalableBenchmarks.BuildingVAV.Examples.TwoFloor_TwoZone.err). NF.constantEvaluate reports
[code]
Previously it reported
[code]
I'm not sure if this is related or not.

[2021-08-31 17:29] casella opened #7837 "NFInst.instExpressions fails because of scoping issue in Buildings 7.0.1"
Please check [Buildings.ThermalZones.Detailed.Constructions.Examples.ExteriorWallTwoWindows](https://libraries.openmodelica.org/branches/master/Buildings_7.0.0/files/Buildings_7.0.0_Buildings.ThermalZones.Detailed.Constructions.Examples.ExteriorWallTwoWindows.err). NFInst.instExpressions fails with
[code]

[2021-08-31 17:33] casella opened #7838 "Issue with NFTyping.typeBindings in Buildings 7.0.1"
Please check [Buildings.ThermalZones.Detailed.Examples.ElectroChromicWindow](https://libraries.openmodelica.org/branches/master/Buildings_7.0.0/files/Buildings_7.0.0_Buildings.ThermalZones.Detailed.Examples.ElectroChromicWindow.err). NFTyping.typeBindings fails with
[code]

[2021-08-31 17:36] casella opened #7839 "Variability issues in Buildings 7.0.1"
Please check [Buildings.ThermalZones.Detailed.Examples.FFD.ForcedConvection](https://libraries.openmodelica.org/branches/master/Buildings_7.0.0/files/Buildings_7.0.0_Buildings.ThermalZones.Detailed.Examples.FFD.ForcedConvection.err). The NF reports
[code]
@perost is this a NF bug or an issue with the source code?

Same issue with [Buildings.ThermalZones.Detailed.Examples.FFD.NaturalConvectionWithC

[2021-09-01 09:37] adeas31 commented on #7765
I though the same but that was not the case. The first thing that took some time to find is that I used `displaytUnit` in the code instead of `displayUnit`, stupid mistake. And then I realized there is one case that was not handled. Anyways the fix is on its way.

[2021-09-01 09:54] #7765 closed

[2021-09-01 10:06] casella opened #7842 "Ensure proper implementation of Clocked variable semantics"
### Description

The current implementation of Clocked variables semantics is incorrect. As a result, many test cases produce wrong results, see e.g. the verification results of the following libraries

- [MSL 4.0.0](https://libraries.openmodelica.org/branches/master/Modelica_4.0.0/Modelica_4.0.0.html), Modelica.Clocked.Examples.*
- [Modelica_Synchronous](https://libraries.openmodelica.org/branche

[2021-09-01 12:42] max-privato commented on #7645
great

[2021-09-01 18:12] casella commented on #7815
@sjoelund, as I understand it, if tearing a linear systems brings it to the form of N-1 torn equations + 1 residual equation, then a code that directly solves the residual equation and then goes through the torn equations to compute the remaining variables would be would be quite efficient. In fact, if the Jacobian can be computed symbolically without too much work, it will be a exactly a sequence

[2021-09-01 18:13] casella commented on #7765
Great, thanks!

[2021-09-01 18:54] casella opened #7845 "Properly display unit informations in graphs"
The International Bureau of Weights and Measures (BIPM) makes the following recommendation for displaying unit information in graphs and tables (see [SI Brochure](https://www.bipm.org/documents/20126/41483022/SI-Brochure-9-EN.pdf/2d2b50bf-f2b4-9661-f402-5f9d66e4b507?version=1.9&download=true), pag. 148-149):

For example, the caption for a lenght l would be l/m, while the caption for a current i w

[2021-09-01 23:55] casella opened #7848 "Automatic selection of sparse solver doesn't work in all cases"
### Description

PR #7695 fixed the selection logic of the sparse solver, and was also ported to the 1.18 maintenance branch. I am currently testing 1.18.0-beta.2 for this feature, that was cherry picked into the [maintenance branch](https://github.com/OpenModelica/OpenModelica/commits/maintenance/v1.18) as well.

If I run some of the models whose changed test results were reported in the commit (

[2021-09-02 04:49] rfranke commented on #7842
@casella: the Cpp runtime uses the same frontend and produces correct results in all except one questionable case (https://github.com/modelica/ModelicaStandardLibrary/issues/3858).
This is why this appears not to be an issue of the frontend, but of the C runtime.

[2021-09-02 09:43] adeas31 commented on #7578
It is clear from the above example that our implementation of `Access.hide` is correct. @niklwors shall we close this issue then?

[2021-09-02 09:50] casella opened #7849 "Unreported results in the testsuite regression report"
### Description

The [latest regression report](https://libraries.openmodelica.org/branches/history/master/2021-08-31%2023:16:46..2021-09-01%2022:54:52.html) on the master branch lacks a result for 23 test cases in different versions of the Buildings library.

All those cases fail for the same reason
[code]
I guess there are at least two, possibly three problems here

- @perost's commit probably b

[2021-09-02 09:54] kabdelhak commented on #7832
On first glance i see a major error. The adjacency rows for the algorithm seem to be faulty. I made an even smaller example:
[code]
The adjacency matrix entry for the algorithm block in `arr_eq_test.arr` only shows entries for `T[1]` and not `T[2]`, it seems like the iterator `i+1` is not parsed correctly.

Seems like a crucial error and i don't know how that one slipped by for so long. I will see

[2021-09-02 09:59] adeas31 commented on #7768
We recently changed to use high dpi pixmaps in OMEdit that causes the layout size issue in this case. PR #7850 fixes the issue and shows the image in a proper size.

However, the issue of handling the big pictures is still there. I think OMEdit is doing a pretty good job right now. OMEdit ensures that the parameters dialog gets all the available space on the screen but still be inside the screen a

[2021-09-02 10:02] casella commented on #7794
@phannebohm, I checked the [regression report](https://libraries.openmodelica.org/branches/history/master/2021-08-31%2023:16:46..2021-09-01%2022:54:52.html). There are several improvement, but I understand they are all due to @perost's fixes of previous NF commits that broke some stuff, see the [previous regression report](https://libraries.openmodelica.org/branches/history/master/2021-08-31%2012:

[2021-09-02 10:03] abuntrock commented on #7768
Thank you very much for the information.

Mit freundlichen Grüßen / Best regards

Aaron Buntrock
DC/ESS12

Tel. +49 731 49373-443
​
Von: Adeel Asghar ***@***.***>
Gesendet: Donnerstag, 2. September 2021 12:00
An: OpenModelica/OpenModelica ***@***.***>
Cc: Buntrock Aaron (DC/ESS12) ***@***.***>; Author ***@***.***>
Betreff: Re: [OpenModelica/OpenModelica] Bad placement of big pictures in parameter

[2021-09-02 10:07] #7768 closed

[2021-09-02 10:49] casella commented on #7842
@rfranke, I guess I made some mistakes reading the reports, sorry.

Regarding `Modelica.Clocked` we can compare the [Modelica_trunk](https://libraries.openmodelica.org/branches/master/Modelica_trunk/Modelica_trunk.html) and [Modelica_trunk_cpp](https://libraries.openmodelica.org/branches/master/Modelica_trunk_cpp/Modelica_trunk_cpp.html) reports. There are 17 models failing verification with the C

[2021-09-02 10:49] #7842 closed

[2021-09-02 11:16] phannebohm commented on #7848
Looks like there is no sparsity pattern available. I'll investigate. This is urgent I guess?

[2021-09-02 11:20] casella opened #7852 "Small additional delay in Modelica.Clocked.Examples.CascadeControlledDrive.SubClocked model"
Please check the verification results of `Modelica.Clocked.Examples.CascadeControlledDrive.SubClocked` with the [C runtime](https://libraries.openmodelica.org/branches/master/Modelica_trunk/files/Modelica_trunk_Modelica.Clocked.Examples.CascadeControlledDrive.SubClocked.diff.html) and [cpp runtime](https://libraries.openmodelica.org/branches/master/Modelica_trunk_cpp/files/Modelica_trunk_cpp_Model

[2021-09-02 11:39] casella commented on #7842
Regarding the issue with Modelica.Clocks, it seems a problem with the testing environment, see #7852.

Regarding the issues with Modelica_Synchronous, the reference results appear to be completely wrong, also compared to a simulation I just ran in Dymola. I'll check with @GallLeo

[2021-09-02 11:53] casella commented on #7832
Good that we caught it, eventually, and good that you have hopefully fixed it already. Let's see what happens with the testsuites.

[2021-09-02 12:19] kabdelhak commented on #7832
There is only one model failing, but while analyzing it i just realized that there could be something way more basic wrong here.

We talked about arrays in algorithms once and as far as i remember we came to following conclusion: If one element of an array is assigned in an algorithm, the whole array is assumed to be. Is that correct or does this only hold for initialization @casella ?

If that is

[2021-09-02 12:58] casella opened #7854 "Incorrect behavior of Clocked models"
Clocked variable models in the testsuite are contained in `Modelica.Clocked` (using MSL 4.0.0) and in `Modelica_Synchronous` (using MSL 3.2.3).

Regarding `Modelica.Clocked` we can compare the [Modelica_trunk](https://libraries.openmodelica.org/branches/master/Modelica_trunk/Modelica_trunk.html) and [Modelica_trunk_cpp](https://libraries.openmodelica.org/branches/master/Modelica_trunk_cpp/Modelica

[2021-09-02 16:43] rfranke commented on #7852
It was me who introduced this with commit 573e955a083648a2c96dbb3635d280d22ca12d96 after I had solved a bug with subclock dependencies defined with clock variables with commit 6284e4c227605e0338dc613c36760bb49f2ee0ac.
By chance my simple resolution of a circular subclock relationship lead to the wrong evaluation order for this example ...

[2021-09-02 17:05] phannebohm commented on #7849
I guess there is a small chance that my cleaning up of `calculateSimulationSettings` did that. I would be very surprised if that's the case, since that code looked as if it served no purpose. But I will revert that and see.

[2021-09-02 17:21] anargam opened #7857 "Help missing (OMEditor, official repo distribution)"
### Description

Pressing F1 yields file missing-errors under Ubuntu.

The Help menu in OMEditor has entries to open help files both in PDF and HTML formats. It appears that these files are not provided, at least not under these names, in the .deb package versions from the official repository (or from source-builds).

### Steps to Reproduce

Follow the instructions on [the openmodelica.org instruc

[2021-09-02 17:59] perost commented on #7849
The regressions where due to my changes. They should already be fixed, but I will wait for the regression report before I close this.

I have no clue why the models even show up in the regression report though, they failed in the backend both before and after so it shouldn't technically be counted as a regression (it's good that it was caught though).

[2021-09-02 20:17] #7852 closed

[2021-09-02 21:12] phannebohm commented on #7734
I ran the model with `__OpenModelica_simulationFlags(lv="LOG_SOLVER")` and observed an assertion triggering towards the end:
[code]
This assert originates from the function `Modelica.Media.Water.IF97_Utilities.waterBaseProp_pT`. This looks to me like some error with the domain of that function or something. But I don't really know what to make of that. I find this line particularly interesting:
[c

[2021-09-03 00:22] casella commented on #7832
It is correct. Modelica Specification [Section 11.1.2](https://specification.modelica.org/maint/3.5/statements-and-algorithm-sections.html#execution-of-an-algorithm-in-a-model):

This means that any given array must be completely handled in one algorithm section. You can't have two separate algorithm sections assigning values to different elements of an array. And if you only assign one (or a few)

[2021-09-03 00:29] casella commented on #7852
@rfranke, you commit came after branching 1.18.0 and was not cherry-picked, so there's no need to port it to 1.18 maintenance, right?

[2021-09-03 00:54] casella commented on #7824
@kabdelhak, @AnHeuermann, @phannebohm, is it possible that there is some issue with the handling of the array, e.g. rows and columns are swapped or something?

[2021-09-03 01:00] casella commented on #7824
What is most striking to me is that, after stead-state initialization, you get der(i[1,1]) = 2.8e7. That's quite large for being zero :)

@rfranke I'm not familiar with the details of the library. Does this circuit induce some constraints among the three currents due to some delta or wye connection? In that case we may have a problem with Pantelides and/or with redundant consistent initial equatio

[2021-09-03 05:04] rfranke commented on #7852
Right. The two commits mentioned above and #7858 basically fix sub-clock relations for event clocks, along with fixes to their treatment in the Cpp runtime. This makes one more example verify, compared to 1.18: `Modelica.Clocked.Examples.Elementary.ClockSignals.RotationalSample`.

Unfortunately the similar `Modelica.Clocked.Examples.Elementary.ClockSignals.LogicalSample` is still open. With cos()

[2021-09-03 05:28] rfranke commented on #7824
There should be nothing special with this example, except the matrix equations. The example just places a line model as sketched above between two voltage sources.

First I thought it would be due to wrong matrix ordering in the Cpp runtime, similar to #7820. But then it should work with the C runtime. Maybe this issue is closer to #7818.

Btw. the output of omc's `instantiateModel` is identical f

[2021-09-03 06:27] max-privato commented on #7845
If I remember well we discussed this already a few yeas ago. At that time the legend of names in Openmodelica carried square brackets, e.g.:
diode.i [A]

I did not like the square brackets since CGPM requires a different use for them, indicating the units of measure of a quantity:
[diode.i]=A

If I remember well I mentioned that the CGPM required to write
diode.i/A

but I did not dare to ask to ma

[2021-09-03 06:36] AnHeuermann commented on #7854
Yeah, the handling of clocked variables is in some cases simply wrong. Even very easy toy examples are not handled as I would expect them to be.

I think the problem is here:
https://github.com/OpenModelica/OpenModelica/blob/master/OMCompiler/SimulationRuntime/c/simulation/solver/synchronous.c#L175

[code]

I would need to search a bit, but had some tiny examples where this error became clear.

[2021-09-03 08:10] casella commented on #7852
It seems the discussion on that ticket has stalled, and I'm afraid it won't go anywhere. Is there anything I can do to revive it?

[2021-09-03 08:12] kabdelhak commented on #7832
This only refers to initialization right? Or does this still hold for simulation?

[2021-09-03 08:28] mahge opened #7860 "Annotation simulation flags are ignored when running executables directly."
### Description

Annotation experiment options and simulation flags are ignored when running executables directly.

### Steps to Reproduce
Consider this model in file `Flags.mo`

[code]

Try simulating the model from the command line

[code]

### Expected Behavior

The simulation should use the annotation specifications. Even the experiment annotation is not used. The experiment annotation should

[2021-09-03 08:37] mahge opened #7861 "Script simFlags override all annotation flags/options"
### Description

A single simFlag specified in a script overrides ALL simFlags specified in the annotation of the model.

### Steps to Reproduce

Consider this model in `Flags.mo`

[code]
and a simple script, `Flags.mos`

[code]

At the moment, the simFlag specified in the script disables/overrides all the simFlags in the annotations. This is, the current invocation is

[code]

### Expected Behavi

[2021-09-03 09:13] #7849 closed

[2021-09-03 09:43] max-privato opened #7862 "Impossibile to run OMEdit 1.8.0-beta1"
### Description
On a PC I've uninstalled, trhough uninstall.exe, a previous OM installation, and installed a neq one in the following location:
E:\OM\OM1.18.0-beta1-64bit
So no spaces, no special characters in thepath..
When I try to run any model I get:
[code]

So I cannot run any model.

### Steps to Reproduce
I don't know. On my work PC the steps are just as explained above; in another one I di

[2021-09-03 10:16] mahge commented on #7862
It seems OMEdit is trying to use the _Microsoft C++ compiler_ by default. `cl.exe` is the MSVC compiler. For now, as a workaround, you can change it to use the `MinGW g++` version that comes with OMEdit.

I think the option is at _Options->Simulation_, then change Target Build to `MinGW` from the dropdown menu. Hopefully it fixes it until @adeas31 gets here.

[2021-09-03 10:32] kabdelhak commented on #7832
This particular problem is solved with #7853 but i will wait for the regression reports if it breaks anything.

Hopefully it also fixed something for the other issues.

[2021-09-03 11:31] perost commented on #7824
Looking at how the backend handles the initial equations I spotted an odd thing the new frontend does. It flattens the function
[code]
into
[code]
Notice that `-xx[2, :]` was turned into `xx[2, :]`. I can't imagine why that would happen, but I will do some debugging. The old frontend flattens it correctly, so that could account for the difference we're seeing.

[2021-09-03 12:11] perost commented on #7824
The issue I mentioned above has been fixed in #7863. The issue was that the NF tried to expand `xx[2, :]`, and when it failed it returned only the operand instead of the whole non-expanded expression.

I think the simulation results might be even worse with that fix though, but I guess you should check yourself and see how it looks.

[2021-09-03 12:26] max-privato commented on #7862
It worked, thank you!
I don't know when and how I did change the compiler (and settings are retained between different installations): this is a PC I've not used for months.
In fact, the PC with the issue does have visual studio, but not exactly in the default place: it is on disk E: instead of C:.

Your suggestion did solve the issue for me.
I' don't close the ticket right now, so you can evaluat

[2021-09-03 14:18] rfranke commented on #7824
@perost: this appears to fix the transient simulation, e.g. when starting from given initial values. That's a first achievement for this issue!

The steady-state initialization still produces the same wrong results though.

[2021-09-03 22:23] casella commented on #7845
Absolutely.

[2021-09-03 22:24] casella commented on #7845
@max-privato I remember we had this discussion some time ago but couldn't trace it online. I got definitely hooked by this formalism in the meantime.

Maybe we should hear other opinions. @rfranke, @niklwors, @dietmarw, what do you think?

[2021-09-03 22:28] casella commented on #7832
I understand this always applies. There is no mention in the specification of the initialization phase. BTW, the reason why the non-discrete variables are always initialized to their start attribute also during simulation is precisely to avoid introducing some kind of "memory" that would not be appropriate, as explained in the spec.

[2021-09-03 22:30] casella commented on #7832
It passed the compiler testuite. Let's see what happens to the [library testsuite](https://libraries.openmodelica.org/branches/history/master/).

[2021-09-03 22:48] casella commented on #7862
@max-privato, when in doubt, you can reset all the options to factory settings: Tools | Options menu, then hit the "Reset" button and confirm in the dialog window.

[2021-09-04 05:30] rfranke commented on #7845
Fine with me. I would just add spaces to better separate the name from the unit, e.g.:
 diode.i / A
 diode.j / (A/mm2)

[2021-09-04 05:55] rfranke commented on #7824
The more sophisticated `PowerSystems.Examples.AC3ph.Transmission.Tline` and `PowerSystems.Examples.AC3ph.Transmission.FaultTline` work now, including also steady-state initialization, even though they add breakers and a fault on top of the simpler `PowerSystems.Examples.AC3ph.Elementary.Line` that still fails with steady-state initialization!?

 ![Screenshot from 2021-09-04 07-50-17](https://user-

[2021-09-04 13:34] sergniko opened #7865 "Download link from openmodelica.org for windows is broken"
### Description

Download link for new release on https://openmodelica.org/download/download-windows points to https://build.openmodelica.org/omc/builds/windows/releases/1.18/0/ and results in 404 error - not found.

https://build.openmodelica.org/omc/builds/windows/releases/1.18/ has no "final" directory.

### Steps to Reproduce

Go to https://openmodelica.org/download/download-windows and click

[2021-09-04 18:57] adrpo commented on #7865
The builds were ongoing, now they are there already.

[2021-09-04 18:57] #7865 closed

[2021-09-04 19:58] rfranke commented on #7852
I'm afraid you can't do much. MA has stalled as a whole. See also:
- const qualifiers for inputs to external functions https://github.com/modelica/ModelicaStandardLibrary/issues/3839
- max of nothing (ModelicaTest.Math.TestMatrices3) https://github.com/modelica/ModelicaStandardLibrary/issues/3849
- verified result violating specified variable bounds https://github.com/modelica/ModelicaStandardLibr

[2021-09-04 21:57] casella commented on #7832
We did get some improvements in Buildings, see [report](https://libraries.openmodelica.org/branches/history/master/2021-09-03%2012:09:04..2021-09-03%2022:56:45.html), but not in the models reported in [#6199](https://trac.openmodelica.org/OpenModelica/ticket/6199) and [6207](https://trac.openmodelica.org/OpenModelica/ticket/6207), I guess you need to dig more.

There were also some regressions in

[2021-09-04 22:00] casella commented on #7824
Are the simulation results correct? @rfranke, maybe you could provide reference result files, so we can also perform the verification stage.

[2021-09-06 07:57] VictorNine opened #7868 "Issues with simulation of Fluid-based models with NF"
As I can't find the old issue on github I'll open one here.

Tested on OpenModelica v1.18.0 (64-bit) windows

Old issue https://trac.openmodelica.org/OpenModelica/ticket/6410

Detailed information about the bug and history: https://www.openmodelica.org/forum/default-topic/3166-fluid-library-to-complicated-for-omc

[2021-09-06 09:52] adeas31 commented on #4346
The MWE provided in [Ticket#4346](https://trac.openmodelica.org/OpenModelica/ticket/4346) is bit wrong. Here is the updated MWE,

[code]

Anything marked `protected` gets `hideResult = "true"` in the `model_init.xml` file. If the we remove `protected` then `ground` should still get `hideResult = "true"` due to `HideResult` annotation but that is not the case.

[code]

We handle the `HideResult` an

[2021-09-06 12:25] casella commented on #7832
See comment [here](https://github.com/OpenModelica/OpenModelica/pull/7853#issuecomment-912848421)

[2021-09-06 12:50] SVVS-KOUNDINYA commented on #7792
The reported code is just a sample to explain the issue I'm facing with the operator.
I have to use this operator to catch the delay of the variable while keeping the interval length at 5 (requirement of the code).
The variable is discontinuous and I need this discontinuity to be caught to make the results viable.
I have attached my actual code for reference.

model Pop_GDPp_ODE_M9

  Real Pop;
pr

[2021-09-06 12:57] SVVS-KOUNDINYA commented on #7792
The attached example is just a sample to explain my issue with the delay operator.
My code actually requires the interval length to be exactly 5 and the variables that I use in my code are discontinuous and I need this discontinuity to be caught by the delay operator to get viable results.

[2021-09-06 13:00] casella commented on #7832
@kabdelhak you can use this MWE as a reference:

[code]
According to the Modelica Specification [Section 11.1.2](https://specification.modelica.org/maint/3.5/statements-and-algorithm-sections.html#execution-of-an-algorithm-in-a-model), I understand this is how this means.

- the algorithm assigns 3 to x[1] because of the start value rule
- the algorithm assigns x[2] to y + z, and then reassign 2*x

[2021-09-06 13:27] perost commented on #7868
I noticed that the OF did some simplification of noEvent that the NF didn't do, and ported them to the NF in #7871. But that made no difference unfortunately.

@kabdelhak: You might want to take another look at this issue, I have no clue what's going wrong.

[2021-09-06 14:50] perost commented on #7824
With the OF it seems the tearing is discarded, with `-d=tearingdump` I get several messages saying:
[code]
This seems to lead to the backend creating some Jacobians and the simulation then spends a lot of time on initialization and solving non-linear systems, but it seems the simulation is correct.

With the NF the tearing is not discarded, but then for some reason the initialization is wrong. If

[2021-09-06 15:26] rfranke commented on #7824
Thank you for the analysis. Then it appears to be an issue with bad tearing in the backend.

[2021-09-06 17:27] max-privato commented on #7862
Thanks.
Maybe I could have tried this, but I, instead thought the issue was coming from an incorrect previous uninstallation.

[2021-09-06 22:24] phannebohm commented on #7832
What about the following model:
[code]
As I understand, `y` can take any value. Does that make the model singular? Do we need to detect that?

[2021-09-07 09:02] #7773 closed

[2021-09-07 09:15] kabdelhak commented on #7832
The problem with the regressions was as follows. We have a tensor variable which gets assigned in a for loop, see small example:
[code]

[2021-09-07 11:31] kabdelhak commented on #7818
This issue seems to be resolved with PRs #7853 and #7875:
[code]
Can someone verify the results?

[2021-09-07 13:10] rfranke commented on #7818
The current trunk version shows no improvement for me. Your logs says MSL 4.0.0. There it is working in the nightly tests too. Please try MSL 3.2.3.

[2021-09-07 13:14] #7775 closed

[2021-09-07 13:50] adeas31 commented on #7501
I tested this and I confirm that when OMEdit dies the LVE also dies.

[2021-09-07 18:34] casella commented on #7868
I had a look at the test model. The simulation with the NF fails at time = 0.37 in a nonlinear system of equations with three tearing variables, while it succeeds with the OF. I compared the expressions of the torn and residual equations, and they look pretty the same to me, except for cosmetic changes. Unfortunately they depend on other variables and I have no idea what values they get, maybe som

[2021-09-07 18:35] casella commented on #7868
@perost, I am intrigued by the NF's simplifications of noEvent, what are they?

[2021-09-07 18:40] casella commented on #7832
@kabdelhak, I'm not aware of the details of how code generation works when algorithms are involved. I suspect there may be something fishy, but you need to explain to me how it works. Maybe we can set up a short meeting for that?

[2021-09-07 18:53] casella commented on #7832
@phannebohm

That's correct.

Definitely.

I don't think so. According to my previous comment, this model will have to be solved numerically. A Jacobian will be computed, either numerically or symbolically by means of AD, and alas it will turn out to be singular at runtime. That's none of our business, if a modeller writes implicit algorithms in models and they turn out to be singular, that's his

[2021-09-07 20:55] perost commented on #7868
The OF checks if the argument of noEvent is an event-triggering expression, like a relation or certain function calls. If it's not, then it removes all noEvent calls in the expression, and then adds them only where necessary. So e.g. `noEvent(if b then x else y)` might become `if b then noEvent(x) else noEvent(y)`.

I implemented the same transformations for the NF, but this caused some regression

[2021-09-07 21:20] yildirimilh opened #7878 "Can't plot a variable along pipe component"
### Description
It is not possible to plot a variable(ex: Reynolds Number) along a pipe element for each calculation node. There was an empty tick box nest to the variable name in Plotting window in previous versions of OMEdit. When you check that box, it was possible to plot the variable with indices as x-variable in the plot. I have installed OM v1.18.0 today and run some test cases. I realized

[2021-09-07 22:03] casella commented on #7824
I really find it quite odd that the application of tearing can increase the simulation time by one or two orders of magnitude. Why should that be the case? Is it because of some overhead caused by inefficient code generation?

[2021-09-07 22:13] casella commented on #7878
@adeas31, is there any reason why this feature was removed?

[2021-09-08 06:17] dietmarw commented on #7845
My personal preference is still `[unit]` since this way it is hard to confuse equations with quantities and their units. As far as I can see the BIPM does not demand the quotient notation but is simply recommending a convention. In this case I think they are recommending something that makes the interpretation harder to read for end users.

[2021-09-08 06:33] max-privato commented on #7845
As I said in my previous comment [unit] is against BIPM, even though very common.
I like the vocation of OM to never go against standards.  So, as I said, I'm not in favour nor against adopting the BIPM convention proposed in this ticket in OM, but I'm strongly against getting back to [unit].

[2021-09-08 06:36] dietmarw commented on #7845
Well in this case it is not a violation but simply not following a suggested convention. There is a difference between standards and recommendation. And in this case I think making it more user friendly and less confusing might be enough reason to not follow the recommendation.  But that's just my opinion which I was asked for by @casella , so here it is ;-)

[2021-09-08 06:43] max-privato commented on #7845
Yes, sure, @dietmarw . In my previous comment I just discussed the use of square brackets instead of round ones.

[2021-09-08 07:04] phannebohm commented on #7832
Good point!

Sorry I wasn't clear. I just mean the second assignment in the algorithm block  `x[2] := 5*z;` together with the equations
[code]
If they are conflicting, this would be detected at runtime because the solver can't converge. But if the equations are in agreement, as they are in this example, any value of `y` is accepted without ever iterating, which I guess happens with Dymola.
Of cour

[2021-09-08 07:38] adeas31 commented on #7878
This feature is not removed. I didn't handle it well when I changed to read variables from `model_init.xml` and then comparing variables against the result file. This should work fine again after #7879.

[2021-09-08 08:06] kabdelhak commented on #7832
Looks like i was able to fix the FFT regressions: [regression report](https://libraries.openmodelica.org/branches/history/master/2021-09-07%2012:07:54..2021-09-07%2022:55:21.html) Not quite sure if the speedups are also my merit.

Maybe we should still have a meeting about some general stuff @casella @phannebohm (@AnHeuermann ?).
My points to discuss are:
  - What kind of singularities do we need

[2021-09-08 08:33] yildirimilh opened #7880 "Empty result arrays in pipe simulation with heat transfer"
### Description
There are some empty result variables in Plotting perspective Variables Browser. These variable names, such as **Nu_1, Nu_2, Nus_lam, Nus_turb, Xis**, were not available in previous versions of the OMEdit. They became available with v1.18.0 but without any value.

### Steps to Reproduce
Any simple simulation of Modelica.Fluid pipe element with heat transfer and LocalPipeFlowHeatTra

[2021-09-08 09:14] casella commented on #7845
I agree with the comments, I guess providing both options would be the optimal solution, what do you think? Then of course we can fight over which should be the default one :P

[2021-09-08 14:08] perost commented on #7683
I have now implemented a new solution in #7881 that takes imports into account and also handles shadowing by local elements (but not inherited), and the OpenIPSL model now works without any manual hacks.

@sjoelund: Can you run the conversion job again?

[2021-09-08 14:11] sjoelund commented on #7683
https://test.openmodelica.org/jenkins/job/LibraryTesting/job/LibraryTest/3845/parameters/ - I guess it's ready tomorrow morning at latest.

[2021-09-08 17:52] rfranke commented on #7824
For some reason OpenModelica does not identify an explicit ODE with the old frontend. This makes the simulation comparably slow.
The simulation results look good with the new frontend and `--tearingMethod=omcTearing`.
The default `--tearingMethod=cellier` appears too aggressive for the initialization problem.

[2021-09-08 20:55] casella commented on #7832
OK, now I get it, sorry. Singular square problems can have either infinitely many solutions (with `x[2] := 5*x`) or no solution at all (e.g. with `x[2] := 4*x`).

As a modeller, I think singular models are not well posed, even more so if they have infinitely many solutions, so they should be reported as flawed and abort the simulation. Apparently DS has other opinions.

Yes. I guess they are using

[2021-09-08 21:04] casella commented on #7878
@adeas31, could you also port this to maintenance/v.18, so we have it in 1.18.1?

Thanks!

[2021-09-08 21:09] casella commented on #7824
@rfranke, I'm not sure what do you mean by "explicit ODE". Could you elaborate a bit?

[2021-09-08 21:12] casella commented on #7683
[This page](https://test.openmodelica.org/jenkins/job/LibraryTesting/job/LibraryTest/3845/) tells me the job is finished, but the [report](https://libraries.openmodelica.org/branches/overview-special-jobs.html) still shows OpenIPSL with only 20 models passing the frontend after conversion.

Do I miss something?

[2021-09-08 21:17] perost commented on #7683
It reports that `OpenIPSL.Examples.Controls.PSSE.ES.EXNI` still has conversion issues, but that model is definitely working for me. So I'm not sure what's going on either, did it miss my changes somehow? I don't know how to see which commit the job is testing.

[2021-09-09 04:54] rfranke commented on #7824
I mean that the model can be translated to the form
[code]
where `f(x)` contains no algebraic loops. This only works with the new frontend and the result is correct since #7863. Just the steady-state initialization does not work with `--tearingMethod=cellier`.

[2021-09-09 04:58] sjoelund commented on #7683
c4c85238ef according to the OMC version on the library page

[2021-09-09 05:00] sjoelund commented on #7683
Although... I'm wondering if it does the conversion with the compiled omc or the saved omc. I might need to change something in the testing script

[2021-09-09 06:55] adeas31 commented on #7880
Can you provide a model with example? I am guessing these are string type variables/arrays that are not possible to plot but is useful for re-simulation with modified value.

[2021-09-09 09:02] casella commented on #7824
OK.

BTW, I understand that in case explicit ODEs are obtained (i.e. all regular equations are turned into assignments) what tearing algorithm is selected is irrelevant, right?

[2021-09-09 09:49] casella commented on #7832
Some more thoughts about the case of when statements. Simple example case:
[code]
How do we turn this into an equation section? One option is to define a boolean variable (or array if there are multiple conditions) for each condition, bring them out in the equation section, and substitute them with if-statements in the algorithm, e.g.:
[code]

[2021-09-09 09:49] kabdelhak commented on #7824
Although the simulation is an explicit ODE, the initialization might still contain algebraic loops, which is the case here. Those are torn in a bad way apparently.

[2021-09-09 10:29] casella commented on #7832
Updated version of proposal to handle algorithm sections in the NF

- For each when-statement in an algorithm section, auxiliary boolean variable definitions (or arrays in case of multiple conditions) `Boolean | Boolean[:] $cond_n = edge(<condition_n>);` are added to the variable definitions section
- For each if-statement in an algorithm section, auxiliary boolean variable definitions `Boolean $c

[2021-09-09 10:38] adrpo commented on #7832
I guess you would also need to pass package constants as inputs.

[2021-09-09 11:04] perost commented on #7834
This was fixed in the library in lbl-srg/modelica-buildings#2555, but we need a new release of Buildings to pick up the fix in our testing. With the fix the model passes the frontend, but fails in the backend with the `Internal error function createSimCode failed` error.

[2021-09-09 11:07] perost commented on #7837
This was fixed in the library in lbl-srg/modelica-buildings#2558

[2021-09-09 12:11] casella commented on #7832
In fact, the function is defined locally in the model, so it "sees" the package constants exactly as the algorithm section does. The NF just needs to constant evaluate them before transforming the algorithm in a function.

Ditto.

@adrpo, in fact I understand the main consequence of your remark is that we shouldn't perform this transformation as the last step of NF or first step of BE, i.e., after

[2021-09-09 12:33] casella commented on #7683
@sjoelund, did you check in the meantime?

[2021-09-09 12:39] casella commented on #7824
OK. I'm a bit confused though, a "too aggressive" tearing may end up with a singular problem, or with convergence failure. In this case, instead, we do get a solution, though it is not the expected one.

A priori, this can only be possible in one of two cases

1. There are multiple solutions of the problem, and the sover converges to the wrong one
2. There are bugs in the equation manipulation/cod

[2021-09-09 12:49] sjoelund commented on #7683
Yes. It seems omc now crashes somewhere during conversions...

[2021-09-09 12:59] casella commented on #7837
@perost, I added a comment on the LBL ticket regarding porting the fix to 7.0.1 and including it in our tests. I'd close this ticket when this is resolved and we get successful output on the [CI report](https://libraries.openmodelica.org/branches/master/Buildings_7.0.0/files/Buildings_7.0.0_Buildings.ThermalZones.Detailed.Constructions.Examples.ExteriorWallTwoWindows.err).

[2021-09-09 15:45] phannebohm commented on #7832
Why the double edge, is that on purpose? The defining equation for `$cond1` already has that.

I like the approach. But one problem I see is if you have a when condition that depends on a LHS of the algorithm:
[code]
In this case it could be difficult to extract the condition. We could substitute the LHS with its RHS and continue with your approach, but that could lead to extremely long expression

[2021-09-10 07:38] kyak opened #7884 "Error building OpenModelica 1.8.0"
There is an error building OpenModelica version 1.8.0 (git tag v1.18.0)

Here is the beginning of error output:

[code]

[2021-09-10 07:51] kabdelhak commented on #7832
We have a bunch of general problems when converting algorithms to functions ([Modelica Spec v3.6-dev 12.2 ](https://specification.modelica.org/master/functions.html)):

I don't know if it is really beneficial to convert algorithms to functions because there are so many special cases to handle. On the new backend branch we added Input/Output lists to the algorithm record, maybe that suffices for ef

[2021-09-10 08:05] yildirimilh commented on #7880
model singlePipeHT
  replaceable package Medium = Modelica.Media.Water.StandardWater;

  inner Modelica.Fluid.System system(energyDynamics = Modelica.Fluid.Types.Dynamics.SteadyState, p_ambient(displayUnit = "Pa")) annotation(
    Placement(visible = true, transformation(origin = {-180, 180}, extent = {{-10, -10}, {10, 10}}, rotation = 0)));

  Modelica.Fluid.Pipes.DynamicPipe pipe1a(redeclare mod

[2021-09-10 08:07] yildirimilh commented on #7880
Hi, I just copied the simple model that I used to check. I don't why I coudln't upload the *.mo file. Below is the screen shot of the location where the mentioned variables are described.
Regards,

![image](https://user-images.githubusercontent.com/90286126/132821490-f811c06e-85c3-4ff9-ad3b-252dcdfba8f2.png)

[2021-09-10 08:58] casella commented on #7884
Could you give some more context information? What operating system are you using? How did you get the source code and started the compilation process?

[2021-09-10 11:54] kyak commented on #7884
I'm running Arch Linux and using this PKGBUILD:

[code]

Basically I'm trying to update AUR package from 1.17 to 1.18: https://aur.archlinux.org/packages/openmodelica/

[2021-09-10 12:34] perost commented on #7884
Do you have an old `omc` in your path? In that case you need to configure with `--without-omc` to make sure that bootstrapping is used instead of building with an already existing incompatible `omc`.

[2021-09-10 13:07] casella commented on #7880
@yildirimilh GitHub does not accept attachments that [it doesn't recognize](https://docs.github.com/en/github/writing-on-github/working-with-advanced-formatting/attaching-files). You can change the extension from `.mo` to `.txt`

[2021-09-10 14:02] casella commented on #7832
More specifically, I checked again the three test cases that are reported as exemplary of the 52 Buildings 7.0.1 models failing in the backend:
- [Buildings.Fluid.HeatExchangers.ActiveBeams.Examples.CoolingAndHeating](https://libraries.openmodelica.org/branches/master/Buildings_7.0.0/files/Buildings_7.0.0_Buildings.Fluid.HeatExchangers.ActiveBeams.Examples.CoolingAndHeating.err), ticket [#6207](ht

[2021-09-10 16:38] kyak commented on #7884
Yes, I have `omc` in path, since openmodelica 1.17 is still installed. After I've uninstalled openmodelica 1.17, the build now proceeds.

Thanks a lot for your help!

I'll try to figure out how to fix that for other users building from AUR - perhaps by adding openmodelica=1.17 to conflicts, so that users are forced to uninstall it first.

[2021-09-10 16:38] #7884 closed

[2021-09-10 17:08] adrpo commented on #7884
I would suggest to not uninstall, just run configure with flag: --without-omc

[2021-09-10 17:14] kyak commented on #7884
Yep, I figured the same upon reading this more carefully. Thanks!

[2021-09-11 13:29] rfranke commented on #7884
Possibly `--without-omc` should become standard, so that checkout and compile works, whereas cracks who know what they do can speed up bootstrapping by specifying `--with-omc`?

[2021-09-11 13:33] kyak commented on #7884
Well, renaming this option to something less ambiguous would also help. Something like `--with/without-omc-bootstrap` is more clear.

[2021-09-13 07:50] casella commented on #7683
The conversion test job was finally reported successfully, see [report](https://libraries.openmodelica.org/branches/overview-special-jobs.html). The situation has vastly improved, but there are still some issues, mostly with imports and SIunits lookup, e.g.:

- [PowerGrids](https://libraries.openmodelica.org/branches/conversion/PowerGrids/PowerGrids.html), most test cases failing with `Error: Func

[2021-09-13 10:16] perost commented on #7683
As sjoelund mentioned there's still some issue with omc crashing or something, so the results are still without my fixes unfortunately.

[2021-09-13 10:27] adeas31 commented on #7880
Thanks for the test model. I looked in the code and these variables are marked protected so is not possible to plot them. That is why you don't see a checkbox next to them. In the previous versions so simply hide such variables but in the latest version these variables are shown but without the possibility to plot them.

[2021-09-13 10:27] #7880 closed

[2021-09-13 11:51] casella commented on #7683
Ah, OK. There was already a marked improvement, so I thought they were the ones.

@perost, can you please confirm that those models work fine on your own branch?

BTW, how could I run them on my nighlty build, is there an API to call already?

[2021-09-13 13:42] casella commented on #7832
Further analysis of [#6207](https://trac.openmodelica.org/OpenModelica/ticket/6207) reveals that we have the following code:
[code]
so the algorithm first computes and index and then uses it to access some data in order to compute some other output. You need to scalarize variable subscripts on the RHS

[2021-09-13 13:49] casella commented on #7832
The other two test cases only have initial algorithms, but they only contain asserts, so the root cause must be different.

[2021-09-13 14:55] casella commented on #7832
Further analysis of the other two cases reveals that in both ones it involves redundant initial equations on the air side of heat exchangers, which features volumes that are directly connected to the atmosphere (fixed pressure sinks). This is particularly clear in model HeatingCoolingHotWaterSmall, where if `-d=bltdump` is turned on, a singularity involving only two equations is spotted, where the

[2021-09-13 14:56] casella commented on #7832
Plan: @kabdelhak tries to fix #6207, @casella tries to see if setting p_start to constant is enough for the redundant initial equation algorithm to work.

[2021-09-13 21:39] Kjaldyo opened #7888 "InitImpureRandom: passing ID isn't working properly in discrete step"
### Description
We currently have a problem with initializing ImpureRandom when passing the ID into another model/function etc.

Assumption: Init isn't recocknized within discrete step.

We try to initializeImpureRandom and give the resulting ID into a function in which we are calling impureRandom/impureRandomInteger. When doing so following error will raise as soon as impureRandom is executed:
![

[2021-09-14 06:13] sjoelund commented on #7888
`initializeImpureRandom` is an impure function. When you call it, it sets the random seed for all `impureRandom` calls. For each sample, you are setting the random seed to be `1`, which means you will always get the same number returned.
What you want is
[code]

Or using the pure random functions instead (Modelica.Math.Random.Generators).

[2021-09-14 06:13] #7888 closed

[2021-09-14 11:45] max-privato commented on #7468
Just to prompt about this ticket.
I see that OM re. 1.18.0 is issued. In case this requires a little work, maybe can it go into 1.18.1?
Thank you.

[2021-09-14 14:19] arun3688 opened #7892 "OMEdit integration for Data Reconciliation Boundary conditions"
Currently `OMEdit` supports running data Reconciliation of constrained equation. This must be extended to compute data Reconciliation for Boundary conditions.

The following labels should be added in the `Simulation setup` window
[code]
A new radio box must be added to perform `data Reconciliation boundary conditions.`

[code]
We must enable new flags to compute the boundary conditions
[code]
An e

[2021-09-14 16:52] adrpo opened #7893 "Windows builds are broken due to MSVC build issues"
We get this when building the CPP runtime with MSVC:

[code]

[2021-09-14 18:04] casella commented on #7468
I guess so, it shouldn't be hard to fix.

[2021-09-15 04:44] rfranke commented on #7893
Appears to work again after commit 12eb8cfedad6a4ae97fa1e8923c784441dda3283. Reminding me, why these `BOOST_*IMPORT/EXPORT*` decorations are there.

[2021-09-15 04:44] #7893 closed

[2021-09-15 07:05] casella commented on #7893
Thanks @rfranke!

[2021-09-15 07:41] BjorHart opened #7895 "Exported FMU with linux subsystem for Win has link issues"
### Description

I have exported an FMU from a linux subsystem for windows. Trying to run the FMU in a clean virtual environment using fmpy  the fmu throws error

[code]

I am able to remove the error by ni installing libatlas-base-dev with sudo:
[code]
Why does the fmu have a dependency on an external library? How can I get around this?

### Steps to Reproduce
change extension of below zipped fmu

[2021-09-15 08:06] sjoelund commented on #7895
This seems to be due to configure not checking for static linking of lapack (configure.ac RT_LDFLAGS_GENERATED_CODE_SOURCE_FMU).

The work-around is simple: compile for the platform directly instead of using the default, faster method:
[code]

I'll assign this to myself (I'm too busy to fix it now) and Mahder (who hates autoconf and FMI, but perhaps is interested in the bug).

[2021-09-15 08:13] mahge commented on #7895
I do not hate autoconf 😊 Let alone FMI.

@BjorHart Can you please check and tell us what version of `gfortran` and `gcc` you have on WSL.

[2021-09-15 08:19] sjoelund commented on #7895
This shouldn't matter. But the Linux installation package needs to depend on the static version of lapack/blas so it is installed and can be linked. The autoconf needs to look for static lapack/blas at compile-time of the deb-package and change that RT_LDFLAGS_GENERATED_CODE_SOURCE_FMU to link it. Otherwise we could end up with someone installing omc but not able to link FMUs... It's more involved

[2021-09-15 10:03] mahge commented on #7895
It was just a blind guess to eliminate possibilities. I have seen FMUs linking to two different `liblapack` versions on Ubuntu 18.04 on WSL1. Old `gfortran` versions depend on `liblapack.so.3` or something like that. While Ipopt/suitesparse and others (?) pull in `liblapack.so.5`. I am not sure if I am remembering this correctly but it is along these lines. We might be linking one statically as in

[2021-09-15 10:13] BjorHart commented on #7895
Hi! Thank you for getting back to me!

I was running the GUI using XLaunch. Where do you run these API commands?

GNU Fortran==7.5.0
gcc==7.5.0

[2021-09-15 10:33] sjoelund commented on #7895
If you are using OMEdit, you can make the changes under Tools->Options->FMI->Platforms.
Use none in the drop-down and check x86_64-linux-gnu.

I was using a mos-script (can input the commands in OMShell / OMNotebook / OMPython as well).

[2021-09-15 11:23] perost opened #7899 "Wrong code generated for match returning tuple of qualified names"
### Description

A match that returns a tuple using qualified names like this:
[code]
generates C-code that stores the output values in temporary variables, which are then not used and the output variables are instead assigned using other uninitialized variables.

### Steps to Reproduce

The following script crashes when executed. If the call to `test()` is removed then the `test2()` call succeeds

[2021-09-15 11:25] perost commented on #7683
@sjoelund found out that the conversion crashed on the SolarTherm library, which turned out to be due to a bug in MetaModelica. I opened #7898 which works around the bug, and have also reported the bug itself in #7899.

[2021-09-15 12:16] mwetter commented on #5631
The model `Buildings.Fluid.FixedResistances.Examples.FlowJunction` should look like this:
![Screenshot from 2021-09-15 05-16-13](https://user-images.githubusercontent.com/1329080/133431690-a37409f3-fa69-4f06-9a82-98774ac41d1c.png)

In OMEdit, this model looks like this:
![Screenshot from 2021-09-15 05-11-41](https://user-images.githubusercontent.com/1329080/133431037-b5a53e19-3c2e-4b2d-b6bc-54e10b

[2021-09-15 12:47] casella commented on #5631
@mwetter, thanks for the report. @perost will investigate and try to fix this.

[2021-09-15 12:50] perost commented on #5631
The issue with FlowJunction is that is uses `DynamicSelect("", String((if use_T_in then T_in else T) - 273.15, format = ".1f"))`, and we only kind of handle the other overload of `String(Real)`.

So this is mostly an OMEdit issue, the frontend can return whatever format we want but OMEdit needs to handle it somehow. @adeas31, any comments?

[2021-09-15 12:55] cmosercm opened #7900 "OMEdit crashes when loading Air library (Modelica.Media)"
When loading the Air library (Modelica.Media)  OMEdit gets stuck at Modelica.Media.Air.ReferenceMoistAir and crashes afterwards

![omedit_load_air_error](https://user-images.githubusercontent.com/90772718/133436370-6ea673c4-85a0-47e8-881e-d009736ee4a4.PNG)

Windows Event log viewer (sorry it is in german):

Name der fehlerhaften Anwendung: OMEdit.exe, Version: 0.0.0.0, Zeitstempel: 0x61337b76
Name

[2021-09-15 12:57] cmosercm commented on #7900
Sorry, i forgot:   Openmodelica 1.18.0 (64-bit)

[2021-09-15 13:09] casella commented on #7900
Unfortunately this a known issue, see [#5669](https://trac.openmodelica.org/OpenModelica/ticket/5669) we haven't been able to fix it so far. I'll try to increase its priority.

[2021-09-15 13:09] #7900 closed

[2021-09-15 13:45] casella commented on #5631
That is?

I'm not sure I understood what the problem is.

[2021-09-15 13:48] perost commented on #5631
There are two overloads for `String(Real)`:
[code]
We only kind of handle `DynamicSelect` with the first overload (we use `significantDigits` but ignore the other options), but not the second overload.

There's also the added issue that the first argument in the `String` call is an expression and not just a variable name, which I don't know how OMEdit should handle. Since the frontend doesn't know

[2021-09-15 14:09] adrpo commented on #5631
To properly fix this we need an expression parser/evaluator in OMEdit. We already have the ANTLR4 Modelica parser linked with OMEdit. I have started working on the evaluator but had no time to finish it. I'll see if I can dig out the code.

Basically OMEdit should be able to evaluate the Dynamic select expression by looking up the component names in the result file (or the model init file for para

[2021-09-15 14:18] casella commented on #5631
This would also finally resolve the long-standing issues [#2081](https://trac.openmodelica.org/OpenModelica/ticket/2081) and [#2661](https://trac.openmodelica.org/OpenModelica/ticket/2661), which would be really good. The first in particular is a major obstacle to proper usability of OMEdit with libraries that use the construct, first of all MSL that usese them extensively since version 3.0.

Alth

[2021-09-15 14:19] casella commented on #5631
In any case, it would probably be good to support [all five variants of Strings()](https://specification.modelica.org/maint/3.5/operators-and-expressions.html#numeric-functions-and-conversion-functions), eventually.

[2021-09-15 14:27] perost commented on #5631
That would be solved if OMEdit could evaluate expressions. The arguments of each String overload uniquely identify which overload it is though, so if we need it sooner we can just pass the arguments as a list and let OMEdit figure out what to do. I was going to implement that when I realised it wouldn't help since the first argument is an expression that OMEdit can't evaluate.

[2021-09-15 15:04] perost commented on #7900
I can't replicate the crash, but opening Air is really slow. I've fixed it locally by implementing `getInheritedClasses` in the new API, which should fix the crash that some people are encountering too.

I need to push in another fix first though, and it seems our CI is having some issues at the moment. But this issue should hopefully be resolved soon.

[2021-09-15 17:28] casella commented on #5631
OK. The question then is what is the status of @adrpo's code and if it can be taken over easily by someone else.

A possible workaround on the library side is that we define additional variables/parameters to compute those expressions, and then just use their names in the dynamicSelect annotations, Dialog annotations, and conditional component activation conditions, so that evaluating them would b

[2021-09-15 17:31] casella commented on #7900
Great! 😄

[2021-09-15 20:43] perost commented on #5631
It would be trivial if we only had to change the flattened model, but I'm not sure how it would work in the API. We'd have to change the Absyn, which I guess means changing the user's model too?

[2021-09-16 10:00] perost commented on #7900
Fixed in #7905, so the fix should be in the next nightly build.

[2021-09-16 10:03] perost commented on #5669
Fixed in #7905.

[2021-09-16 10:03] #5669 closed

[2021-09-16 10:03] perost commented on #5575
Fixed in #7905.

[2021-09-16 10:03] #5575 closed

[2021-09-16 11:56] #7892 closed

[2021-09-16 12:20] adeas31 commented on #7878
Ported to maintenance/v.1.18

[2021-09-16 12:20] #7878 closed

[2021-09-16 12:27] adeas31 commented on #7857
OMEdit will look for users guide files in `OpenModelicaInstallationDir/share/doc/omc/OpenModelicaUsersGuide/index.html`.
@sjoelund is something changed or are these files not included in the debian packages?

[2021-09-16 12:32] sjoelund commented on #7857
omc-doc is an optional package. It seems the documentation for it hasn't been updated since 2019 either...

[2021-09-16 12:36] adeas31 commented on #7857
It should be installed with the openmodelica package or at least we should have some instructions about it on the download page.

[2021-09-16 21:31] casella commented on #5631
@perost, sorry but I don't get your point. I understand the currently available implementation of dynamicSelect works if the quantity to be displayed is given by a variable or parameter, but it doesn't if it is given by an expression, because OMEdit cannot evaluate it. Is that correct?

In that case, we simply define an additional variable or parameter bound to the original expression, that will b

[2021-09-16 21:40] casella commented on #7900
@cmosercm, when you install the nightly please check that the build date is 17 Sep or later.

[2021-09-16 21:42] casella commented on #7878
@yildirimilh you can get this fix either on the nightly build, or in the forthcoming 1.18.1 stable release, due later this year.

[2021-09-16 21:51] perost commented on #5631
Yes

Because the annotations are not in the flat model, they're in the parsed Absyn. OMEdit fetches the annotations by using the API to query the Absyn model, so we would need to actually change the user's model to make it work.

[2021-09-16 23:34] casella commented on #7834
See https://github.com/lbl-srg/modelica-buildings/issues/2555#issuecomment-921332654

[2021-09-16 23:40] casella commented on #5631
I'm sorry, I'm still not sure I get it. If the NF defined additonal variables bound to the original expressions, and then uses then in the annotations instead of the original expressions, in a sense we are changing the user's model.

So be it, as long as we do that automatically and without changing the model source code on mass storage. Is that a problem?

[2021-09-17 09:27] perost commented on #5631
The issue is that the NF is not really involved. When using the nfAPI we instantiate the annotations using the NF, but only the annotations. For this to work we'd have to change the Absyn after parsing the model, which will also change what OMEdit shows to the user unless we try to hide it somehow.

I don't really see how to implement that in a sane way, so I will just implement some expression ev

[2021-09-17 11:15] casella commented on #5631
OK. So you just get the expression and that's it. I thought that in these particular cases (dynamicSelect, conditional connectors) we could instantiate the entire model - I thought this was not particularly efficient, but it is already implemented. In fact, it's not really implemented either.

LGTM. I just wanted to avoid duplicate work, possibly at the cost of slower performance. That can be impr

[2021-09-18 15:58] casella commented on #7839
@JayHuLBL, @mwetter, I had a closer look at this issue, which is breaking several Buildings model with OMC.

Function [assignSurfaceIdentifier](https://github.com/lbl-srg/modelica-buildings/blob/983943166acf64b31fa0a5c4693c630272b9bfe3/Buildings/ThermalZones/Detailed/BaseClasses/CFDAirHeatMassBalance.mo#L264) has an [input String nameConExt[nConExt]](https://github.com/lbl-srg/modelica-buildings/b

[2021-09-18 16:02] perost commented on #7839
This is actually fine, because the variability prefixes should be removed when constructing the record constructor. OMC does not currently do that because it causes some issues, which I'm currently working on solving.

[2021-09-18 16:08] casella commented on #7839
In any case, I opened three PR's on LBL's repo to remove it from the library, a quick check with Dymola showed no difference, though @JayHuLBL may want to double-check. If that fixes the problem, we should focus on other NF issues first.

[2021-09-18 16:18] perost commented on #7839
It shouldn't break the examples in Buildings itself, since the record is only used as a parameter anyway. It could break user models though if they use the record differently, but I don't know if that's a valid concern or not.

[2021-09-18 18:17] casella commented on #7485
@sbaetzing, please check with the next nightly build if this issue is solved for you, and in that case please close the ticket.

[2021-09-18 18:25] casella commented on #7683
OK, now we have the [test results](https://libraries.openmodelica.org/branches/overview-special-jobs.html) with the latest commits by @perost.

They are quite good but not yet perfect, we have about 200 failures out of 11000 models, 2/3 of which are in EDF libraries, probably because of some common pattern. I'll investigate and report.

[2021-09-18 18:37] casella commented on #7683
One common issue is shown, e.g., in [AixLib.Media.Examples.AirProperties](https://libraries.openmodelica.org/branches/conversion/AixLib_latest/files/AixLib_latest_AixLib.Media.Examples.AirProperties.err):
[code]
In the original library, package Air extends `Modelica.Media.Interfaces.PartialCondensingGases`, and expects to find the package constant R there, which is defined in the base package. App

[2021-09-18 18:39] casella commented on #7683
Another issue is found in [HanserModelica.Electrical.RLSeriesFrequencySweep](https://libraries.openmodelica.org/branches/conversion/HanserModelica/files/HanserModelica_HanserModelica.Electrical.RLSeriesFrequencySweep.err):
[code]
This is actually quite strange, unfortunately I can't see the converted library easily, so I don't know what's in the converted class. @perost, please check.

[2021-09-18 18:42] casella commented on #7683
Model [OpenHydraulics.Circuits.OpenCenter](https://libraries.openmodelica.org/branches/conversion/OpenHydraulics/files/OpenHydraulics_OpenHydraulics.Circuits.OpenCenter.err) fails because  of:
[code]
Maybe the ObsoleteModelica4 library is not correctly loaded for some reason?

[2021-09-18 18:45] casella commented on #7683
Most models in TAeZoSysPro fail because of
[code]

[2021-09-18 18:46] sjoelund commented on #7683
That's quite likely. I didn't add it to the uses-annotation of converted libraries. I suppose that should always be done. Unless Per could somehow update the AST automatically when the conversion script runs? (Updating both the Modelica uses-annotation I am already updating in my script, and when another library is being added... I suppose use the package manager to set it to whatever version is c

[2021-09-18 18:47] casella commented on #7683
Last, but not least, the entire PowerSysPro library is broken because of
[this issue](https://libraries.openmodelica.org/branches/conversion/ThermoSysPro/files/ThermoSysPro_ThermoSysPro.Examples.Book.SimpleExamples.PressureLoss.TestBend.err):
[code]
`R` is a constant, so maybe it's similar to the issue in AixLib

[2021-09-18 18:52] casella commented on #7683
Not really, only if there are actually some ObsoleteModelica4 models in the converted library. Otherwise we introduce a lot of totally bogus dependencies.

Not sure what is the proper way to handle this, I guess there should be a provision for this in the specification of the conversion script, i.e. if this clause is ever triggered, do add uses(XXX) to the converted package. What do you think?

In

[2021-09-18 19:12] sjoelund commented on #7683
Yes, but that's sort of fine for the testing...

The problem is what version to add... The conversion script doesn't have this information. I think it's somewhat obvious that adding the uses is a good thing to do.

One easy way of doing this is to add the version of the loaded ObsoleteModelica4 version and failing if it isn't loaded (forcing the user to choose a version). Another would be simply q

[2021-09-18 20:11] casella commented on #7839
But it does, see the [report](https://libraries.openmodelica.org/branches/master/Buildings_7.0.0/files/Buildings_7.0.0_Buildings.ThermalZones.Detailed.Examples.FFD.ForcedConvection.err). Do I miss something?

[2021-09-18 20:15] perost commented on #7839
No, I mean that your proposed change wouldn't break the examples. Since the record is always used like
[code]
all the fields become parameters anyway.

[2021-09-18 20:43] casella commented on #7839
Aha, OK, sure. That's actually what I thought, but I couldn't find those declarations myself.

According to LBL's Travis reports, [it didn't break 8.0.x](https://github.com/lbl-srg/modelica-buildings/pull/2619). The 7.0.x version is not tested. The version on master [gave some errors](https://github.com/lbl-srg/modelica-buildings/pull/2618), but I guess my PR is not the culprit.

[2021-09-20 07:48] paultjevdh opened #7914 "Support for msvc19 missing in omedit"
Hi,

According to the openmodelica user manual section 27.1, the compiler supports MS visual studio 19. However, the option for this is missing in the target build drop down list in the options of OMedit.

### Screenshots
![image](https://user-images.githubusercontent.com/59084059/133970464-f0298f8e-d589-4a80-b909-601a515bb02d.png)

![image](https://user-images.githubusercontent.com/59084059/13397

[2021-09-20 12:01] mwetter commented on #7839
@casella : I understand that String are discrete variables, but once a string is declared as parameter, shouldn't the parameter variability be a stronger constraint? Also, here parameters are assigned to parameters via a function call, so I am not sure I understand where the possible language violation arises.

For this class, I am fine to merge the PR's as a user is not expected to use `CFDSurfac

[2021-09-20 20:38] casella commented on #7839
Yes, but this declaration is outside the body of the function `assignSurfaceIdentifier`, and I think the compiler checks variability locally based on the function input declaration, not only based on what you actually pass it when you call it.

On the other hand, @perost wrote that in fact the parameter prefixes should be ignored in the constructor, that he was fixing it, but had some difficulties

[2021-09-20 21:58] casella opened #7917 "FlexibleBeam models in ScalableTestSuite fail with --daeMode"
The FlexibleBeam models of the ScalableTestSuite library are currently broken when ran with `--daeMode`, see e.g. [FlexibleBeamModelica_N_2](https://libraries.openmodelica.org/branches/newInst-daeMode/ScalableTestSuite_noopt/files/ScalableTestSuite_noopt_ScalableTestSuite.Mechanical.FlexibleBeam.ScaledExperiments.FlexibleBeamModelica_N_2.sim):
[code]

They once used to work, as reported in [this p

[2021-09-21 08:52] AnHeuermann commented on #7917
I updated SUNDIALS and therefor how we use IDA. I'll debug a bit and check what's going wrong here.

[2021-09-21 09:26] casella commented on #7917
Aha, sure. Can you please remind me when you did the commit, so I can check the regression reports?

I guess this should go in 1.18.1, because otherwise we have regressions in 1.18.0

Thanks!

[2021-09-21 09:37] AnHeuermann commented on #7917
That was in https://github.com/OpenModelica/OpenModelica/commit/ba83d81e5f1f132591524d50d9e5c8af5043168e.

[2021-09-21 10:05] AnHeuermann commented on #7917
Function `IDACalcIC` is returning the error code `IDA_LSETUP_FAIL`  which means that the linear solver’s setup function failed in an unrecoverable manner.

Not sure what we are missing. We set up KLU as linear solver and the initialization is done successfully and it fails at the first time step during the setup with `SUNLinSolSetup`.

[2021-09-21 10:23] casella commented on #7917
That doesn't seem to be the culprit, no such [regressions back then](https://libraries.openmodelica.org/branches/history/master/2020-11-10%2011:59:47..2020-11-11%2008:31:55.html).

[2021-09-21 10:30] casella commented on #7917
I tried to figure out from [this plot](https://libraries.openmodelica.org/branches/history/master/ScalableTestSuite_noopt.svg), but it's hard, also because some tests are randomly succeeding or failing based on timeouts.

Too bad we don't have regression reports tracking individual models.

I could manually search for `FlexibleBeamModelica_N_2` in all the .html reports [here](https://libraries.ope

[2021-09-21 10:31] casella commented on #7917
As far as I understand, normally "solver setup failed" really means "singular model". Possibly because of some error in computing the sparse Jacobian, e.g. missing some elements of it.

[2021-09-21 10:44] sjoelund commented on #7917
[code]

[2021-09-21 10:46] casella commented on #7917
@sjoelund, we need you to grep newInst-daemode, though 😄

[2021-09-21 10:46] perost commented on #7917
It seems like it started working in [this report](https://libraries.openmodelica.org/branches/history/newInst-daemode/2018-10-19%2007:50:59..2018-10-21%2007:53:56.html) where I made the NF expand function arguments, and then broke in [the next report](https://libraries.openmodelica.org/branches/history/newInst-daemode/2018-10-21%2007:53:56..2018-10-25%2007:29:36.html) when I disabled it again beca

[2021-09-21 10:48] sjoelund commented on #7917
[code]

[2021-09-21 10:49] sjoelund commented on #7917
You can also search your mailbox :)

[2021-09-21 10:51] perost commented on #7917
I just wget:et the whole index instead :P

[2021-09-21 11:17] AnHeuermann opened #7920 "Setting to export CVODE CS FMU in OMEdit"
### Description

I would like to have an option to export CS FMUs with CVODE to make it more straight forward to use this feature from OMEdit.
Something like a checkbox added to FMI options in OMEdit would be enough. So when that checkbox is active all CS FMUs exported will use compiler flag `--fmiFlags=s:cvode`.

### Screenshots

![image](https://user-images.githubusercontent.com/38031952/1341608

[2021-09-21 11:43] AnHeuermann commented on #7917
Could be. I looked into the sparse Jacobian and it had some values, but I didn't check if they made sense.
It's a 47x47 sparse Jacobian with 207 non-zero elements. Not sure how the Jacobian should look like for this example.

@peros What did https://github.com/OpenModelica/OMCompiler/commit/75c4b3eca change? Expand arrays given to functions?

[2021-09-21 11:47] perost commented on #7917
Yes, a function call like:
[code]
will normally flatten to `f(x)` with the NF, but with `-d=nfExpandFuncArgs` or the OF it flattens to `f({x[1], x[2], x[3]})`.

[2021-09-21 13:13] wischhusen opened #7921 "Global name lookup fails to display class in diagram"
Class references with a dot notation according to Modelica Spec. chap. 5.3.3 are not displayed.

model GlobalLookup

  .Modelica.Blocks.Examples.PID_Controller pID_Controller annotation(
    Placement(visible = true, transformation(origin = {-2, 0}, extent = {{-10, -10}, {10, 10}}, rotation = 0)));
equation

annotation(
    uses(Modelica(version = "3.2.3")));
end GlobalLookup;

### Expected behavi

[2021-09-21 13:17] jschueller opened #7922 "[v1.18.0] FTBFS: libOpenModelicaCompiler.so: undefined reference to `NFType_NFType_ENUMERATION__ANY(double,...)(short, char)'"
### Description

libOpenModelicaCompiler.so fails to build

### Steps to Reproduce

[code]

### Expected Behavior

make command succeeds

### Screenshots

[code]

### Version and OS

- openmodelica v1.18.0
- centos 7 (gcc 8.x from devtoolset 8)

### Additional Context

It is a regression from openmodelica 1.17.0, so I tried git bisect:

[code]

indeed https://github.com/OpenModelica/OpenModelica/p

[2021-09-21 13:21] sjoelund commented on #7922
Use `./configure ... --without-omc`

[2021-09-21 13:22] jschueller commented on #7922
but I need the omc compiler utility...

[2021-09-21 13:40] sjoelund commented on #7922
`--without-omc` compiles a new `omc` without using the old one. If you have an old one, not compatible with the new one, it will fail.

[2021-09-21 13:41] jschueller commented on #7922
oh, I did not have an old one, so its not likely to change the result

[2021-09-21 15:18] jschueller commented on #7922
I can totally reproduce with this minimal centos docker image:
[code]
Maybe its due to the rpm compilation flags of yours ?

[2021-09-21 20:13] casella commented on #7917
That's 40 GB and growing 😭

[2021-09-21 20:24] casella commented on #7917
@sjoelund, I checked your last grep output, but it seems that as we go back in time, the newInst module was really not up to the task of handling complicated multibody models.

Could you also please grep me /var/www/branches/history/daemode/*.html?

I am sure that those examples worked once upon a time, because we published results in [this paper](http://dx.doi.org/10.3384/ecp17132557) in 2017.

[2021-09-21 20:26] casella commented on #7920
Good point. @adeas31, can we do this for 1.19.0?

[2021-09-21 20:27] casella commented on #7921
@sjoelund.se, this is simply unforgivable 😄

Any idea what's going wrong? I guess the interactive API was not updated to allow this?

[2021-09-22 04:18] sjoelund commented on #7921
Yeah, @adeas31 can find out where it goes wrong. But it might be problematic in several places of the API

[2021-09-22 06:08] rfranke commented on #7922
Might be a duplicate of #7884 that was closed without action. It's unfortunate that OpenModelica doesn't compile "out-of-the-box" with default settings, i.e. requires a flag named `--without-omc` for any existing user that just wants to try a new version.

[2021-09-22 06:12] Arinomo commented on #7920
@AnHeuermann Thank you for the ticket.

Maybe i might add one point, analog to #7472, could the translation flag for cvode solver in model annotation automatically implemented when the user export the model as an fmu regardless of the golbal settings?

[2021-09-22 07:18] AnHeuermann commented on #7920
I think it would be best to use flags as sparse as possible in the GUI. If possible we should hide all needed flags in some menu or option. The debug, compiler and runtime flags are hard to find for a lot of users and the differences between them are not always obvious.
But I don't have a strong opinion on this.

Also we might need to make omc use the flags used in the Simulation Setup dialog from

[2021-09-22 07:31] jschueller commented on #7922
turns out it was my cflags

[2021-09-22 07:31] #7922 closed

[2021-09-22 07:34] sjoelund commented on #7922
Fun... Disabling optimization flags makes things stop working? Nice one, GCC...

[2021-09-22 08:18] adrpo commented on #7922
@sjoelund I think we should make the --without-omc the default configure flag. It might take a while longer to compile but at least it does.

[2021-09-22 09:08] casella commented on #7921
@wischhusen is this important for the support of your libraries?

[2021-09-22 09:31] wischhusen commented on #7921
The funny thing was, that the models can be compiled. It just looks odd in some of the libraries examples, were red crosses appear.
Nevertheless, I believe that users of HumanComfort might not proceed to use these examples. From a commercial point of view it looks like a quality flaw although it is not relevant for simulation. Thus, I would say: yes it is important.

[2021-09-22 09:45] casella commented on #7921
OK. @adeas31 can you provide a quick assessment of the required effort?

[2021-09-22 10:24] adrpo commented on #7921
I will also have a quick look a this, maybe I can find the issue quickly.

[2021-09-22 11:17] AnHeuermann commented on #7917
We could also do a [git bisection](https://git-scm.com/docs/git-bisect) to find the commit which broke this. With a fast PC (to recompile omc and run the model) should be possible to find it in about 30 minutes. @casella can you tell me a version of OMC where this did work?

[2021-09-22 11:23] sjoelund commented on #7917
[code]

[2021-09-22 12:44] mahge commented on #7917
Here is a simple python script that can scan the regression reports. We can use this  when we do not have access to the actual filesystem.

Save this model as find_regs.py or something and you can call it as follows:

[code]

You need to specify the branch name (defaults to `master` if missing) and the model name (required always) you want to search for.

**Note that this will search for the speci

[2021-09-22 13:32] mahge commented on #7917
I think the model progressed from Simulate -> Verify -> Compile in this two reports

**Simulate -> Verify**
https://libraries.openmodelica.org/branches/history/newInst-daemode/2018-10-19%2007:50:59..2018-10-21%2007:53:56.html
**Verify -> Compile**
https://libraries.openmodelica.org/branches/history/newInst-daemode/2018-10-21%2007:53:56..2018-10-25%2007:29:36.html

So the culprit might be one of th

[2021-09-22 13:52] adeas31 commented on #7921
We should update `getComponents` API or OMEdit accordingly. I am not sure what happens in the case of relative paths. I will investigate it.

[2021-09-22 14:31] mahge commented on #7917
@casella
Can this be the cause?

https://github.com/casella/ScalableTestSuite/commit/18838b56973d9bd293f2adcc7b1f1ff6754b7ab9

It is part of of the changes in the offending regression report.

[2021-09-22 15:04] pierre-haessig commented on #5523
Dear OM devs,
While searching for another issue, I came across this issue (see original on [Trac #5523](https://trac.openmodelica.org/OpenModelica/ticket/5523)) by @christiankral. Regarding the initial report "When trying to simulate the model `PhotoVoltaics.Examples.SimpleModuleMP3` an error occurs during compilation.", I've run this model in OM 1.18 beta2 and I didn't get a compilation error. I'

[2021-09-22 15:14] perost commented on #5523
Thanks, our library testing confirms that the model is indeed working.

[2021-09-22 15:14] #5523 closed

[2021-09-22 15:27] pierre-haessig opened #7923 "Suggestion: enable display of module and phase of Complex numbers in OMPlot"
Dear OM devs,

I started exploring the `PowerGrids` for a potential use in course. This library makes intensive use of `ComplexVoltage`, `ComplexCurrent`… records which extends the base `Complex` record. They all provide `re` and `im` fields which are then displayed in the Variable browser of OMPlot. However, for many of these variables, having access to the module and the phase would be equally u

[2021-09-22 15:31] pierre-haessig commented on #5523
Also for the reference, the issue on Trac has a comment saying #4611 (Processing arrays of records fails) may be related or even duplicate. I have not looked in that one.

[2021-09-22 15:32] mahge commented on #5523
It was _fixed_ when we Switched to the new Front End.
https://libraries.openmodelica.org/branches/history/master/2020-12-14%2003:04:35..2020-12-14%2022:49:53.html

[2021-09-23 05:04] rfranke commented on #7818
Here is another example that works with a slight variation:
[code]
raises the same error [System is structurally singular and cannot be handled because the number of unassigned equations is larger than the number of states.](https://libraries.openmodelica.org/branches/master/PowerSystems_latest/files/PowerSystems_latest_PowerSystems.Examples.Introductory.SimulationSteadyInitial.err)

The same exam

[2021-09-23 05:34] rfranke commented on #7818
Here are examples from [Buildings 7.0](https://libraries.openmodelica.org/branches/master/Buildings_maint.7.0.x/Buildings_maint.7.0.x.html) suffering from the same problem. These are 18 out of 76 Buildings models currently failing in the backend:
[code]
Overall it appears that only few backend errors repeat again and again for the 76 failing models.

[2021-09-23 06:41] christiankral commented on #5523
I just tested `PhotoVoltaics.Examples.SimpleModuleMP3` with OM 1.18.0. The simulation result is correct, the steady state result of the electric power approx. 185W after 200s.

![image](https://user-images.githubusercontent.com/4184218/134464393-857842ea-bed0-47d0-ac54-928ce91f79b6.png)

[2021-09-23 07:41] pierre-haessig commented on #5523
Yes, exactly the curve shape I got.

[2021-09-23 08:07] max-privato opened #7925 "OMedit message browser z-position"
### Description
The message browser, when docked, for me, spoils too of precious desktop space. Therefore, after any simulation, I close it. This behaviour is a bit annoying.
I tried using that window undocked. In this case, however, the message browser window is in front of any other (and this is correct), but stays in that position even after I click on the main OMEdit window, i.e. in the plotti

[2021-09-23 08:25] adeas31 commented on #7920
@AnHeuermann I looked at [--fmiflags](https://openmodelica.org/doc/OpenModelicaUsersGuide/latest/omchelptext.html#omcflag-fmiflags) are there are several possible options for it. Do you just want to support `s:cvode` for now or do you want to support all possible options? If yes, then what are the possible options? Is there a list of them somewhere?

[2021-09-23 08:44] AnHeuermann commented on #7920
The initial idea was to pass several options to FMUs, but currently only the solver can be changed. So I guess it would be enough to just support this one for now.

[2021-09-23 09:34] AnHeuermann commented on #7920
Now that I think about it again a drop-down menu would be best to set the CS FMU solver. There are already two options (explicit Euler = no flag, CVODE=--fmiFlags=s:cvode) and we might want to add more solvers, like an implicit Euler.

[2021-09-23 09:58] adeas31 commented on #7920
OK. I will make a PR and let you review it.

[2021-09-23 12:46] adeas31 commented on #7712
The fix is one its way. Here is the comparison,

Old:
![image](https://user-images.githubusercontent.com/4007231/134509000-a3a4cd22-2f1f-4b82-83b3-46f7e3309c7a.png)

New:
![image](https://user-images.githubusercontent.com/4007231/134509027-5c4942c4-7a40-497e-8b1f-5bd567561e83.png)

[2021-09-23 12:47] #7712 closed

[2021-09-23 14:32] max-privato commented on #7712
I think it is a good result.
This may be not apparent with plots this size, but the modification was proposed to enhance the usability of very small plot windows, and I’m sure it will.

[2021-09-23 18:37] christiankral commented on #7376
I managed to use the OM PackageManager in OM 1.18.0 to install different versions of some system libraries. I understand, that one day a GUI will be available to manage such Modelica packages.

Particularly now, as the MSL 3.2.3 and 4.0.0 are often used one after the other in different projects, I wonder if it were also possible to include all the installed versions in the "Systems Library" Menu s

[2021-09-23 19:28] christiankral commented on #7388
In the current OMEdit 1.18.0 the following dialog is show without having the parameter `dummy` explicitly defined:

![image](https://user-images.githubusercontent.com/4184218/134571164-4cb6f03a-9f18-48bc-8399-d3780d6b06c5.png)

Observing this behavior this issue seems to be fixed. Is this the case? Can the ticket be closed?

[2021-09-23 22:47] casella opened #7928 "PowerGrids regression due to initialization issue"
All models in PowerGrids simulated correctly with v 1.18.0, one model now fails on master, see [overview report](https://libraries.openmodelica.org/branches/overview-combined.html).

The culprit is [PowerGrids.Examples.Tutorial.GridOperation.Controlled.ControlledGridWithReferenceCalculationSat](https://libraries.openmodelica.org/branches/master/PowerGrids/files/PowerGrids_PowerGrids.Examples.Tutor

[2021-09-23 23:08] casella commented on #7917
Thanks @mahge, you nailed it 😄

@AnHeuermann, I don't remember why I changed that precision in the library three years ago. But at least now we have a nice repeatable test case. BTW, also the other cases were more or less randomly succeeding or failing, so I guess these models are borderline in terms of numerical robustness.

Anyway, if you run the `FlexibleBeamModelica_N_2` example with `tol = 1e

[2021-09-23 23:17] casella commented on #7923
Plot expression could be nice, maybe not completely trivial. As to specialized plots for Complex numbers, bear in mind that OMEdit knows nothing about the semantics of those records, it only sees x.re and x.im. The semantics is accessible to the front-end.

In any case, at least for the port variables, we do compute argument (both physical and PU) and phase, if you set the appropriate parameter to

[2021-09-23 23:20] casella commented on #5523
That issue is still there, I just checked the test case a the beginning.

[2021-09-23 23:24] casella commented on #7818
@rfranke, we may have a solution in the pipeline as discussed in [#6200](https://trac.openmodelica.org/OpenModelica/ticket/6200), see PR #7903. Please follow that.

[2021-09-23 23:33] casella commented on #7376
@christiankral, yes, we're trying to have a GUI for the next version, though it turns out getting a good specification for it is far from trivial.

See also the discussion in [MSL #3003](https://github.com/modelica/ModelicaSpecification/issues/3003)

@sjoelund, can we start improving the loader logic of OMC so that it looks ahead for dependencies and tries to avoid this kind of situations?

[2021-09-23 23:39] casella commented on #7388
@christiankral I'm not sure if this fix is definitive or just due to random causes.

@perost is going to write a simple expression evaluator to solve the problems releated to parameters that influence the visualization (e.g. conditional connectors) and the dialog annotations, see #5631. Once that is done, we should have all the OMEdit features depending on parameters updated automatically. This ev

[2021-09-23 23:43] casella commented on #7839
[Problem solved](https://libraries.openmodelica.org/branches/master/Buildings_maint.7.0.x/files/Buildings_maint.7.0.x_Buildings.ThermalZones.Detailed.Examples.FFD.ForcedConvection.err) after the 7.0.x branch was updated.

Now the model fails in the backend, but that is another story.

[2021-09-23 23:43] #7839 closed

[2021-09-24 05:16] lochel commented on #7923
Plot expression would indeed be very nice and useful. Good proposal, not only for complex numbers.

[2021-09-24 05:33] sjoelund commented on #7376
We could if someone has the time for it. The same logic could be used to improve the installation of packages. It is using a greedy algorithm right now, choosing the latest packages of libraries one by one.

[2021-09-24 06:09] mahge commented on #7928
Some of the PowerGrids models stopped simulating here
https://libraries.openmodelica.org/branches/history/master/2021-07-18%2022:50:57..2021-08-12%2019:12:22.html

and all of them except the one in this ticket started working again here
https://libraries.openmodelica.org/branches/history/master/2021-08-19%2012:17:07..2021-08-19%2022:55:54.html

The fact that they started working here implies that

[2021-09-24 08:31] pierre-haessig commented on #7923
OK, but it is still imagineable that some "pattern matching" algorithm could recognize the pair `x.re`, `x.im` to apply the specialized display. Then, as I said, this introduce some complexity which may not be desirable.

Good to know, thanks!

[2021-09-24 10:52] Arinomo opened #7929 "Support cvode for CS-FMU with source file out of the box"
### Description
When implementing cs-fmu from OpenModelica in rt-env, the source code of the fmu is used by the importer tool when building the rt-application. This has been successfuly implemented for fmu using euler solver but failed when the model is expected to use cvode solver.

### Expected Behavior
CS_FMU could be implemented from source code regardless the solver choise.

### Additional Co

[2021-09-24 10:52] Arinomo commented on #7929
@AnHeuermann

[2021-09-24 10:53] Arinomo commented on #7929
@AnHeuermann

[2021-09-24 11:47] adrpo commented on #7923
We would anyway need to add an expression evaluator to OMEdit to handle DynamicSelect, and it could be reused here.

[2021-09-24 12:15] casella commented on #7928
Uh-oh.

I just tried this manually on `v1.19.0-dev-187-g12eb8cf` with some more logging, and indeed it fails during initialization. The lambda = 0 step is successful, then the next step at lambda = 0.3333 fails.

I haven't tried this with OMC 1.18.0, because uninstalling and reinstalling it takes quite some time, but I'm afraid @mahge's diagnostic is probably right, i.e., this model has probably b

[2021-09-24 12:59] #7920 closed

[2021-09-24 13:00] mahge commented on #7928
For what it is worth, this are the only changes for this model in the reports

http://libraries.openmodelica.org/branches/history/master/2020-07-03%2023:04:09..2020-07-07%2005:22:51.html
http://libraries.openmodelica.org/branches/history/master/2020-12-14%2003:04:35..2020-12-14%2022:49:53.html
http://libraries.openmodelica.org/branches/history/master/2021-07-18%2022:50:57..2021-08-12%2019:12:22.ht

[2021-09-24 14:56] casella commented on #7928
Not much relevant information there IMO.

That's one point for checking. I would also try it out with a much earlier version, much closer to the point the library was first rolled out. I would try 1.13.1 for example, it should have been working back then. If it did, then I would do bisection over [homotopy-related PRs](https://github.com/OpenModelica/OpenModelica/pulls?page=1&q=is%3Apr+is%3Aclosed

[2021-09-24 15:11] casella commented on #7928
Some more intel on this issue. I ran `ControlledGridWithReferenceCalculationSat` with the latest nigtly, turning on LOG_NLS_V, LOG_INIT, and LOG_INIT_HOMOTOPY. Here is what I get:
[code]
So, the initialization works at lambda = 0, when there are no control saturations. As soon as they are introduced in the first nonzero-lambda homotopy step, there is something wrong with the system, probably some

[2021-09-24 15:55] niklwors commented on #7485
@kabdelhak @casella Hello, unfortunately I still got the same errors for these models.

[2021-09-24 16:18] casella commented on #7485
@niklwors are you sure that @kabdelhak's commit is in the build you are using?

[2021-09-24 17:01] perost commented on #5631
To keep you up to date I've now implemented an expression class that can parse and evaluate flat modelica expressions and supports most of the builtin operators and functions. There are a few gotchas due to flat modelica lacking type information and all variables are treated as Real, but hopefully that won't cause too many issues. My code is currently written as a standalone program to make it eas

[2021-09-24 18:03] adrpo commented on #5631
What I understand is:
- the first is used when showing and editing the diagram and it needs to be constant evaluated to a literal (Modeling perspective, diagram)
- the second will apply dynamic changes on the non-editable diagram (Plotting perspective, diagram)

[2021-09-24 18:16] adrpo commented on #5631
Basically OMEdit will get the entire annotation as it is but with all the names prefixed properly:

original annotation:
[code]

prefixed annotation:
[code]

When displaying the diagram in the Modeling perspective it will use the first argument of DynamicSelect.
When displaying the diagram in the Plotting perspective will evaluate the second argument of DynamicSelect and change the diagram accordi

[2021-09-24 23:01] r-a-c opened #7930 "Problems installing in Ubuntu Focal"
### Description

When I install openmodelica, dependency problems occur

### Steps to Reproduce
Create the repo file with the line according docs

[code]

Then, just launch the installation
[code]

### Expected Behavior

A clean install?

### Screenshots

### Version and OS

Ubuntu Focal, up to date.

[2021-09-25 19:06] sjoelund commented on #7930
You will need to try installing one of the other packages (like omc) to see which dependencies will not be satisfied.

[2021-09-25 19:53] r-a-c commented on #7930
Hello,

I have been following the dependency chain, and looks like this one causes the problem:

[code]

The chain:

omc -> clang -> clang-10 -> libclang-common-10-dev -> This one has 3 dependencies

[code]

The last one is dependency for the first two too. Full log:

[code]

So it looks like in the repos 0ubuntu9.3 is present when that package needs 0ubuntu9.2
Mmmm.  Bad problem. This box has no

[2021-09-25 20:06] sjoelund commented on #7930
Are you running a 32-bit Ubuntu Focal? It's not even supported by Canonical, right? I suspect you need to `apt dist-upgrade` though, because we compile against the most recent Ubuntu versions (like 20.04.3 instead of 20.04.0)

[2021-09-25 20:14] r-a-c commented on #7930
Hello,

No, it's x86_64, updated.

uname -a
Linux xxxxxx 5.4.0-86-generic #97-Ubuntu SMP Fri Sep 17 19:19:40 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

(Last kernel)

As far as I know there are no 32 bit releases anymore for Ubuntu. But you can find i386 libraries for development purposes.

[2021-09-26 08:21] max-privato opened #7934 "CombiTables with Dynamical optimisation"
### Description
This is a companion of #4979.
I know that dynamical optimization is only partially supported. However, I guess that it is useful to report a simple issue I've seen, when dynamical optimisation with annotations is used. It is not related to the optimisation algorithm, but is a clear bug related to how CombiTables are managed.

### Steps to Reproduce
-  load TicketCombi
- run TestDO

[2021-09-27 08:21] adeas31 commented on #7925
This is not possible. The Messages Browser is a QDockWidget that is part of QMainWindow. Since the Messages Browser is a child of MainWindow so its not possible to put it under.

[2021-09-27 08:21] #7925 closed

[2021-09-27 08:26] adeas31 commented on #5631
And in the non-editing state i.e., diagram in plotting perspective, you can animate the diagram using the slider and the play controls above the variables browser.

[2021-09-27 08:46] max-privato commented on #7925
...unless it is changed into an independent window (inherited from QWidget). But in this case it would lose the capability of being docked. Maybe it used to be an independent window and you switched to docked recently? I don't remember to have hated the Message Browser during the past!

The thing is that when programmers design enhancements or new features, they look at things trying to envisage h

[2021-09-27 11:55] adeas31 commented on #7925
Yes it is changed recently from independent window to dock window. I don't remember if there was any specific issue reported about it perhaps @lochel does.

[2021-09-27 12:22] AnHeuermann commented on #7929
CC @mahge Is this relevant for what you are currently doing for source code FMUs?

[2021-09-27 12:41] mahge commented on #7929
I am not sure. It depends on what exactly is the issue here. I am not sure if I understand clearly where the issue exactly lies.

@Arinomo Can you tell us what errors you are seeing? Is it a build error or runtime error?

[2021-09-27 13:08] Arinomo commented on #7929
I think it was a build error.
At first there was all kind of missing files error, since the header files are including sundial header files using <> such as `#include <cvode/cvode.h>`  and not relative path `"../../sundials/cvode/cvode.h"`. After that i declare some macros( OMC_FMI_RUNTIME =1 and LINK_SUNDIAL_STATIC=1) and the fmu can be successfully compiled but i've got a missing reference error

[2021-09-27 13:12] mahge commented on #7929
Perfect.

We can start with the missing files and the include directory. It is more or less what I am trying to improve for all source code FMUs right now. I will have to finish what I have started now and then I will test this.

[2021-09-27 13:21] #7914 closed

[2021-09-27 14:16] r-a-c commented on #7930
Hello,

If anyone reaches this issue, probably  it's a problem with the repos

https://askubuntu.com/questions/1315906/unmet-dependencies-libc6-the-package-system-is-broken
https://bugs.launchpad.net/ubuntu/+source/glibc/+bug/1926918

If you properly update your system, you'll find yourself with this issue, since the 0ubuntu9.3 was removed from the repos.

Than

[2021-09-28 09:22] Midren opened #7939 "canGetAndSetFMUstate support for exported FMU"
### Description

Currently is it is not possible to FMU with enabled canGetAndSetFMUstate flag, by exporting from OpenModelica.

### Expected Behavior

Some possibility to export FMU with enabled canGetAndSetFMUstate.

[2021-09-28 10:54] mahge commented on #7929
Hi @Arinomo
I am not able to duplicate the errors. The testcase in the ticket can not be compiled due to missing Modelica libraries. Is it possible to get a minimal working example that shows the problem?

You can also give us the model with all the needed libraries using a script as follows

[code]

and attach the generated file `ticket_7929.mo` to the ticket.

[2021-09-28 12:53] Arinomo commented on #7929
Hi @mahge
i've updated the example above. it should be working straight away (using MSL3.2.3)

[2021-09-28 13:52] AnHeuermann opened #7945 "Segmentation fault with wrong use of variableFilter"
### Description

A wrong use of `variableFilter` will result in a segmentation fault.

### Steps to Reproduce

[code]

[code]

Output from gdb:
[code]

### Expected Behavior

Even though `-override=variableFilter=x|y` using a regex would be the correct input the simulation shouldn't crash for wrong input, but tell the user to use a regex.

### Version and OS

 - OpenModelica Version: OMCompiler v1

[2021-09-28 14:34] perost commented on #5631
I've now made PR #7946 that implements expression parsing/evaluation for handling DynamicSelect. There are still some issues, see my comment in that PR, but I can now simulate Buildings.Fluid.FixedResistances.Examples.FlowJunction and the values in the diagram window will then update as I move the time slider.

[2021-09-28 15:45] casella commented on #7945
@mahge, could you please check?

[2021-09-28 15:46] casella commented on #5631
Great! As soon as we have it in the nightly we'll ask for feedback from LBL

[2021-09-29 08:00] mahge commented on #7945
#7948 should fix the segmentation fault.

Idk if we should try to recover or ignore the error and continue. The fix just exits if it can not recognize the flags formatting.

[2021-09-29 09:51] casella commented on #7945
Thanks @mahge!

IMO if there are wrong flags an error message should be issued and the executable should exit with an error code, so that CI scripts would see that something went wrong.  Is that the current behaviour once #7948 is merged in?

The rationale is that an end user should receive clear feedback about his input. If there is something wrong he should get clear indication of what is wrong;

[2021-09-29 10:27] mahge commented on #7945
I agree.

Yes that would be the expected behavior. Right now it terminates with error code 255 which will be failure for anything that checks for success.

I will merge the PR then.

[2021-09-29 10:28] #7945 closed

[2021-09-29 10:58] perost commented on #5631
The PR is now merged in, so it should be in tomorrow's nightly build. There are still some issues to resolve so I will continue working on it a bit more, but the basic functionality should be there at least.

[2021-09-29 14:42] casella commented on #5631
@mwetter, can you try this out on the nightly build starting tomorrow and report?

Thanks!

[2021-09-29 14:44] mwetter commented on #5631
@casella : Yes, I will do tomorrow Thursday.

[2021-09-30 07:55] adeas31 commented on #7921
This is working as expected. I tested with the latest version and then noticed that @wischhusen reported version 1.7.0 which was released in 2017. Maybe he meant 1.17.0

This is the same issue that is reported in #7378 and is already fixed.

[2021-09-30 07:56] #7921 closed

[2021-09-30 13:14] niklwors commented on #7485
@casella  @kabdelhak yes, i used the version from 24.09.21

[2021-09-30 13:38] mwetter commented on #5631
I don't see any changes to what is reported in the figure of https://github.com/OpenModelica/OpenModelica/issues/5631#issuecomment-919967144.
This is with 1.19.0~dev-232-g2af9139 on Ubuntu 18.04.

[2021-09-30 13:41] perost commented on #5631
Did you try to simulate the model and open a diagram window in the plotting view? The normal diagram view won't change since those values are defined as `DynamicSelect("", ...)", i.e. an empty string for the editing state.

[2021-09-30 13:56] mwetter commented on #5631
@perost : Yes, I seem to be in the right mode:
![image](https://user-images.githubusercontent.com/1329080/135468804-85891175-3cd0-48d5-b4ad-955ad19f0604.png)

[2021-09-30 14:06] perost commented on #5631
Yes, it seems the reason is that our Linux nightly builds are broken for some reason. I will investigate.

[2021-09-30 14:10] perost commented on #5631
The Windows nightly builds are still working though, if someone wants to test it out.

[2021-09-30 15:25] perost commented on #5631
The root cause of the issues with the nightly builds is that I updated OMEdit to use C++17, but that broke the job on some of the oldest distros we build for (which made everything fail). We probably only need C++14 for now, but now we're having certification issues on Jenkins instead so I can't push that in. So it seems like it's going to take a while before we get the situation sorted.

[2021-09-30 22:05] casella commented on #5631
@perost, could you quantify "a while?". One day, one week, one month? Who's responsible for the fix?

[2021-10-01 06:14] sjoelund commented on #5631
It should be fixed today, probably. We communicate mostly via slack and it also went down around the same time. https://github.com/OpenModelica/OpenModelica/pull/7957 will be merged soon and then it's possible to build with the disable cmake label.

[2021-10-01 08:14] niklwors commented on #7578
@adeas31 we also have the problem that for some components the diagram is not completely shown,  although the package has the access annotation Access.nonPackageText and all used components in the diagram have the access annotation Access.icon. I will provide you the encrypted version of our BRSL

[2021-10-01 09:12] mahge opened #7959 "Do not use internal headers of Kinsol"
### Description

The CPP runtime uses the header `kinsol_impl.h` in [KinsolLapack.h](https://github.com/OpenModelica/OpenModelica/blob/7b42f0ac3e92fc25caf75079b180c165d7720e36/OMCompiler/SimulationRuntime/cpp/Solver/Kinsol/KinsolLapack.h#L8)

_kinsol_impl.h_ is an internal header and is not installed by sundials. We are installing it manually. While this should work fine for now it is better to fi

[2021-10-01 09:30] perost commented on #5631
#7956 is also merged now, hopefully that fixes the Linux nightly builds.

[2021-10-01 09:51] niklwors opened #7960 "Array interpolation method does not work anymore"
### Description
In our BRSL library we use an own interpolation method for 3D array interpolation which does not work any more since OpenModelica version 1.19

### Steps to Reproduce

Load from BRLS v2.0 RC2  the package Rexroth_Generic_Test\package.mo
Open test model Rexroth_Generic_Test.SignalBlocks.Tables.Table3D.Table3D_TC4 and start  simulation

### Expected Behavior

For the correct simulati

[2021-10-01 12:39] mahge commented on #5631
There were still certificate related issues. I think the certificate for _build.openmodelica.org_ did not get renewed until a few hours ago. It shows me that it is issued today and valid until 2021-12-31. Something is not right there.

I have restarted the nightly builds again. Hopefully this time there will be no more issues.

[2021-10-01 12:54] sjoelund commented on #5631
I guess the Debian stretch image just needs to be upgraded. I'll look into that

[2021-10-01 13:38] niklwors commented on #7578
@adeas31 you can use the model BRSL.Rexroth_Generic.Hydraul….Cylinders.SingleRodCylinder. The annoations are as in the picture I sent you

[2021-10-01 14:19] felix-marsollier2 opened #7962 "Issue with edge of booleans"
### Description

The built-in "edge" function seems to not work properly. The output of components "Edge" and "FallingEdge" from the Modelica.Blocks.Logical package and the components "RisingEdge" and "FallingEdge" from from the Modelica.Blocks.MathBoolean package remain to its start value even if the input receive an edge.

It does seems to be a plotting effect that would hide the pic. I have tri

[2021-10-01 15:20] casella commented on #5631
Been running for 2hrs now. I hope it gets until the end, previous runs were terminated earlier

[2021-10-01 15:44] sjoelund commented on #5631
[code]

@perost OMEdit/OMEditLIB/Debugger/Parser uses its own Makefile and not the one from qmake. I suppose we need to change `AX_CXX_COMPILE_STDCXX_11` to a newer STDCXX_14 or 17.

[2021-10-01 15:47] sjoelund commented on #5631
I'll try to fix that error

[2021-10-01 15:48] perost commented on #5631
I fixed it in #7964. There's no real reason to use emplace_back instead of push_back there anyway.

[2021-10-01 17:18] casella commented on #5631
On Windows now it looks like this
![immagine](https://user-images.githubusercontent.com/4233148/135661130-dcec08c2-88cf-46f3-b7d7-888fa14ccd71.png)

The icons with the DynamicSelect annotations are pitch black. @adeas31, @perost, any idea what is still missing?

[2021-10-01 17:47] casella commented on #7561
1.18.0 was released on Sep 4 2021

[2021-10-01 17:47] #7561 closed

[2021-10-01 17:52] casella commented on #7960
@niklwors this is strange, since the external C code that I assume you developed is not affected by OMC. I could understand if it stopped to compiler or simulate because of some broken library dependencies or compiler settings, but how could work and yet give wrong results?

[2021-10-01 18:36] casella commented on #7962
@felix-marsollier2, `edge(b)` is defined as `b and not pre(b)`, and as such can only remain true for an infintesimally short amount of time during event iteration. Consider this example
[code]
The simulation starts, `b` and `pre(b)` are both false , so `e` is also false until the event is triggered at time = 0.5.

When the event is triggered, the when equation is activated and the whole system is

[2021-10-01 18:42] sjoelund commented on #7962
I thought we did save the event iterations in the result-file. It's just not possible to plot them. If we don't store all of them out should be possible to do so on a flag. We still wouldn't be able to plot the values though.

[2021-10-01 18:46] casella opened #7966 "Use the HEAD revision of MSL maintenance version instead of the official release"
In [#6200 comment:19](https://trac.openmodelica.org/OpenModelica/ticket/6200#comment:19), @kabdelhak reports an issue with `Modelica.Mechanics.MultiBody.Examples.Constraints.PrismaticConstraint`, namely a singular initialization problem.

Following the discussion in MSL [#3875](https://github.com/modelica/ModelicaStandardLibrary/issues/3875), the issue has already been identified and fixed on the

[2021-10-01 19:54] perost commented on #5631
I've only implemented it for textString so far, I will change the rest of the annotation attributes to handle DynamicSelect next week.

[2021-10-01 20:00] adeas31 commented on #5631
That is because we now return DynamicSelect as it is and that is only handled for `textString` attribute yet. The ellipse icons are black since the `fillColor` attribute has DynamicSelect in the the annotation and there is no support for it yet so the default black color is color.

[2021-10-01 20:25] perost commented on #5631
On second thought it's easy to just remove the DynamicSelect calls and use the first argument for annotations that don't yet support it, so I did that in #7967. That way we at least don't break annotations until we implement full support for DynamicSelect.

[2021-10-01 21:57] casella commented on #7962
Why not? We already plot the values immediately before the event is processed and at the end of it - both have the same time, and a vertical line ensues if they are different. If we have more than than two ordered values at the same time event, we can just plot them in the same way.

This at least would make the glitch of `edge()` visible.

Of course that wouldn't help sorting out what happens dur

[2021-10-01 21:59] casella commented on #5631
OK, thanks!

[2021-10-02 10:13] felix-marsollier2 commented on #7962
Ok I see. My apologize because my RsFlipFlop, to check whether edge had
been true during the simulation, wasn't set properly.
Maybe a small explaination in the component information could help in
components using the edge function.

With your explainations how sample function does work to be visible in the
result file ? From what I understand the output is true only during the
event and remains fa

[2021-10-02 11:56] perost commented on #5631
It looks like the Linux nightly builds are working again, and the latest one should be up to date with the DynamicSelect improvements.

[2021-10-03 16:44] casella commented on #7962
You would get three rows with the same time value in the first column and with three different values of the edge() output: one false, one true, and then another one false.

[2021-10-03 17:42] casella commented on #5631
OK, with the latest nightly the right static icons are back:
![immagine](https://user-images.githubusercontent.com/4233148/135765314-67e3b26a-a1ab-473f-9de8-e794f1c8f246.png)

I stand by for the complete implementation, then.

[2021-10-04 07:43] niklwors commented on #7960
@casella the interpolation code is not external C code, it's Modelica code

[2021-10-04 09:26] casella commented on #7960
Ah, ok.

@niklswors, I would suggest to prepare and attach a small test case with a 2x2x2 or 3x3x2 table, to keep the number of equations low, and check if the flattened code differs between 1.18.0 and 1.19.0. That would tell us if the problem is likely due to the frontend or backend. Can you do that?

[2021-10-04 09:30] niklwors commented on #7960
@casella yes no problem

[2021-10-04 13:53] perost commented on #5631
I found an issue that I feared might show up, which is that some parameters used in the annotation does not show up in the result file (in this case `bouX.use_T_in`). OMEdit just returns 0.0 if it can't find a variable, which is bad since it means it works but can give the wrong result (it's happens to be correct for FlowJunction though since `use_T_in` is always false, which is what 0.0 is interp

[2021-10-04 14:10] casella commented on #5631
I guess it should give NaN instead, unless there are good reasons to use this default value. It seems a bit dangerous to me.

See above.

Certainly, it is set [in here](https://github.com/lbl-srg/modelica-buildings/blob/c10d15de853e42c6af194727b975e82be12f9019/Buildings/Fluid/Sources/Boundary_pT.mo#L15). By default also protected variables are not saved, but there is a flag [-emit-protected](https

[2021-10-04 14:14] casella commented on #7966
@sjoelund, how is the package manager currently configured?

In fact, using maint/4.0.1 instead of 4.0.1 could be slightly problematic, because it has a version("4.0.1") annotation. No conversion required, but one may be puzzled why 4.0.1 is used if it hasn't been released yet...

[2021-10-04 14:53] beutlich commented on #7966
I'd claim the issue could be resolved upstream-wise if MAP-Lib sticks to its own [recommended release schedule](https://github.com/modelica/MAP-LIB_ProjectRules/blob/master/MAP-LIB_ProjectRules.md#annex-6-recommendation-for-a-release-process-for-libraries) with two releases per year, one (main) in March and one (maintenance) in September.

[2021-10-04 17:13] casella commented on #7928
OK, I had a look at the issue, also using Dymola, and it looks like the root cause is in a bad formulation of the initialization problem, rather than in the solver, see [PowerGrids #40](https://github.com/PowerGrids/PowerGrids/issues/40).

We can now close this issue for good, 1.18.0 should be good enough to simulate this model, once it's been fixed.

[2021-10-04 17:13] #7928 closed

[2021-10-04 17:49] casella commented on #7966
I agree, but that is not currently in my power. Also, I think it would be nice to be able to see the positive influence of bugfixes, particularly those that fix models that are found to be invalid (e.g. because of language non-compliance, wrong initial equations, etc.), without a delay of up to 6 months.

[2021-10-05 06:58] sjoelund commented on #7966
It uses the HEAD revisions of branches. For example:
https://github.com/OpenModelica/OpenModelica-ModelicaStandardLibrary/tree/OM/maint%2F4.0.x
https://github.com/modelica/ModelicaStandardLibrary/tree/maint/4.0.x

[2021-10-05 13:51] niklwors commented on #7960
@casella I tested the test model Rexroth_Generic_Test.SignalBlocks.Tables.Table3D.Table3D_TC4 with version 1.17, 1.18 and 1.19 and the flat model does not differ and also the results are the same for all versions. Therefore, unfortunately we were wrong and the problem has always existed and not only since version 1.19.

[2021-10-05 14:41] mimeissner commented on #7692
@casella thanks for reporting and the minimal example. I did some debugging today and found the difference being that in our "DropOfCommons" the assertionLevel is a parameter.
When I remove the "parameter" keyword from the assertionLevel in the DropOfCommons the tested model runs as expected.

Similarly, adding parameter to your test cases lets them fail on my current OMEdit install.

[TestOuterAs

[2021-10-05 14:52] perost commented on #7692
There seems to be a few issues here:
* `assertionLevel` must be a parameter expression according to the specification, so casellas example is actually not legal. It seems we don't currently check that, but that's easy to fix.
* The `assertionLevel` is not printed in the flat model. That's mostly just a cosmetic issue, but confusing.
* It seems the backend doesn't handle `assertionLevel` given by a

[2021-10-05 17:08] casella commented on #7692
Oops, sorry about that. Blame the compiler for not complaining about it 😝

I re-attach the correct code. Now both examples fail at time = 0.5 instead of giving a warning and then continuing to the end, hence something must be done.

[TestOuterAssertionLevel.txt](https://github.com/OpenModelica/OpenModelica/files/7287798/TestOuterAssertionLevel.txt)

Yep. Would be nice to have.

No idea.

@kabdelha

[2021-10-05 17:11] casella commented on #7966
OK, maybe it's just @kabdelhak using the official release?

[2021-10-05 17:29] sjoelund commented on #7966
Or maybe he installed 4.0.x at some point and didn't upgrade.

[2021-10-05 18:16] max-privato opened #7969 "Issues with DO on a simple toy model (ticket 1 of some)"
### Description
I'm trying to use the Dynamic Optimisation feature of OpenModelica.

In doing so I came across a few issues, that make it very difficult to use it. Nevertheless, I'm convinced that the feature in principle is fantastic, and once it is made manageable it will enhance OM considerably (and Dymola has not it). Therefore I'll open a few tickets on the issues I found on this toy model.

[2021-10-05 20:52] casella commented on #7966
I guess he was using MSL 3.2, as he wrote. No idea why, though.

[2021-10-05 22:18] casella commented on #7960
Ouch. It seems there is something wrong in the first part of the simulation. If you can privately send an MWE as specified above, we can give a look.

[2021-10-06 05:27] SKittan opened #7970 "Test of Records with external C Code"
### Description
I've created a small example to test records with external "C" code. Therefor I create a simple record with three Real values in Modelica. The external C function is getting this Record and adding a two on each value.

### Steps to Reproduce

Just run the attached example.

#### Code to reproduce:

Modelica Model:
[code]

C-File:
[code]

### Expected Behavior
I would expect, that t

[2021-10-06 06:55] max-privato opened #7971 "Issues with DO on a simple toy model (ticket 2 of some)"
### Description
This is a follow-up of ticket #7969
In the model of ticket #7969 we used a battery having some losses as a function of the flowing power.
In case we put losses to zero, the optimal solution of the issue is pretty much the same. However, if I put losses to zero, OM converges to a very wrong solution, as described by the following picture, containing the comparison between the expect

[2021-10-06 07:31] niklwors commented on #7960
@casella sorry, can you tell me what a MWE is? The test model I have already uploaded, @adrpo  knows.

[2021-10-06 07:31] max-privato opened #7972 "Issues with DO on a simple toy model (ticket 3 of some)"
### Description
This ticket is the continuation of #7969 and #7961
The models proposed in those tickets had a small conceptual problem from an engineering point of view: the variable storage.energy was intended to be the energy stored in the storage while actually is the opposite of this.

To fix this issue I just changed the sign of the signal inputted into the storage, giving a new model with th

[2021-10-06 07:35] sjoelund commented on #7960
Minimal Working Example (non-working in this case)

[2021-10-06 08:15] beutlich commented on #7960
MWE = [SSCCE](http://sscce.org/)

[2021-10-06 08:27] max-privato opened #7973 "Issues with DO on a simple toy model (ticket 4 of some)"
### Description
This ticket is the continuation of #7969, #7961 and #7972.
The models proposed in those tickets had as a constraint that storage.energy must have at the final time the same value it had at the initial time.
In all the proposed simulations DO of Modelica was able to reach that goal, and this is one of the most important successes I had with my toy model, with DO of OM.

If I remove

[2021-10-06 09:11] perost commented on #7970
12.9.3 in the specification says:

The specification does say that the record is passed by reference, but that doesn't say anything about the lifetime of the record that is passed to the function.

If you need to store internal memory between calls to the external function you might instead want to use an [external object](https://specification.modelica.org/master/functions.html#external-objects).

[2021-10-06 09:39] sjoelund commented on #7970
This is an output though. So it is returned. The problem is outputs are not initialized even if you add an initialization to the record:
[code]

[2021-10-06 09:52] SKittan commented on #7970
I had problems returning the data. My solution for now is to manage my data in the C functions via malloc and pointer.

[code]

[2021-10-06 13:23] casella commented on #7970
This could cause huge memory leaks if the memory for the new record is malloc'd each time the function is called.

My understanding from the old days when we wrote ExternalMedia is that record (and array) external function outputs are passed by reference, meaning that _the simulation runtime allocates the memory_ and passes a pointer to the function, that uses the pointer to fill it in.

The only

[2021-10-06 13:32] casella commented on #7970
@SKittan, in your example, the Modelica function `add()` has only an output, no inputs. So, you can't pass any value to it, to increase them by some amounts. Modelica functions are memoryless. If you want to achieve that semantics, you need to write something like
[code]
and the C code should be something like
[code]

[2021-10-06 15:45] perost commented on #7692
I noticed that the specification says:

So I've now added a check that the level is a parameter expression, and also mark it as structural so that it's evaluated. This also fixes the issue with the level not being output in the flat model since the level is now evaluated to an AssertionLevel value which is handled correctly.

[2021-10-06 17:57] SKittan commented on #7970
Thank you for your remark. For now I use the malloc only in the init function. This is invoked only once during initialization phase of a simulation. So from my understanding there should be no memory leak:
[code]

But I prefer a solution, where Modelica manages the memory. Hence, I will try your recommendation.

[2021-10-06 18:04] sjoelund commented on #7970
You shouldn't need to have a malloc in the unit function either. Just pass the output by reference as an input argument to the function and fill in the values.

[2021-10-06 18:15] SKittan commented on #7970
I have now this variant:
[code]
 With the C-Code:
[code]

The Simulation result (1s with 500 steps):
![grafik](https://user-images.githubusercontent.com/36617169/136260052-e16449b2-1547-4ae8-ba90-bcf42e51670e.png)

[2021-10-07 08:44] casella commented on #7970
@SKittan, this result is expected. Remember that Modelica is a _declarative equation-based modelling language_, not an imperative language like C or Python. A continuous-time Modelica model (with no events) as the one you wrote is conceptually equivalent to a bunch of equations. Even algorithms in models are [conceptually equivalent to equations](https://specification.modelica.org/maint/3.5/statem

[2021-10-07 08:44] #7970 closed

[2021-10-07 09:52] casella commented on #7692
Tested with the latest nightly, I confirm we now get the expected behaviour on the corrected examples.

[2021-10-08 05:15] sjoelund commented on #7930
Yes it's an upstream bug, so I'll close this

[2021-10-08 05:15] #7930 closed

[2021-10-08 13:41] perost commented on #7683
The PR is now improved such that it only loads things once (previously it didn't add loaded classes to the global cache and didn't add libraries loaded due to uses-annotation to the top scope). I also added a message so that it says e.g.:
[code]
when loading a package during name lookup. If it fails to find a library with the given name it will just silently fail and print the usual lookup error m

[2021-10-08 14:15] perost commented on #7683
I added a test case that just uses the MSL without loading it first. It'll probably break any time we change the default MSL version, but I guess that doesn't happen often enough that it's an issue.

[2021-10-09 12:15] mwetter commented on #5631
The time series are corrected when plotted as a graph in OMEdit, just the schematic model view shows these wrong results.

[2021-10-11 16:00] mwetter commented on #5631
@perost : With
[code]
I get the correct display.

(Tested using OpenModelica 1.19.0~dev-271-gb6f3a96 which also reproduces the wrong display reported in https://github.com/OpenModelica/OpenModelica/issues/5631#issuecomment-939143157)

[2021-10-11 21:39] casella commented on #5631
Is it perhaps a Fahrenheit reading? 😄

@mwetter this is really strange, any of your collegues reporting the same issue?

[2021-10-12 08:23] casella opened #7990 "The NF does not handle correctly Modelica.Math.Nonlinear.SolveOneNonlinearEquation"
### Description

Please consider the following model

[code]
The OF handles it nicely. The NF gives:
[code]
### Expected Behavior

The NF should also handle this model with the same results.

[2021-10-12 08:48] casella opened #7992 "Bad code generation involving Modelica.Math.Nonlinear.solveOneNonlinearEquation"
### Description

Try to simulate the following model
[code]
Invalid C-code is generated
[code]
there is no declaration of tmpMeta in the generated C code
[code]
### Expected Behavior

Correct C code should be generated

[2021-10-12 12:37] #7578 closed

[2021-10-12 13:41] niklwors commented on #7578
@adeas31 do you know why the text of the SingleRodCylinder is visible but not the diagram?

[2021-10-12 14:05] perost commented on #5631
The issue with the old API is solved in #7995, and with that I think we can finally close this issue.

The problem was that e.g. `T - 273.15` was "simplified" by the old frontend to `-273.15 - T`, which due to a mistake in the Expression class was parsed as `-(273.15 - T)`.

[2021-10-12 14:05] #5631 closed

[2021-10-12 15:15] casella opened #7996 "Support vectorization of delay() operator"
### Description

As per the Modelica Specification [Section 3.7.4](https://specification.modelica.org/maint/3.5/operators-and-expressions.html#derivative-and-special-purpose-operators-with-function-syntax), the `delay()` operator is vectorizable.

Hence, these two test models should run
[code]

As @alirezamasoom reported, this is very convenient for the modelling of three-phase transmission lines.

[2021-10-12 17:50] casella commented on #7992
Great! We'll check how it goes with the next nightly build.

[2021-10-12 18:49] mahge commented on #7992
I am going to open this because I actually want to do some more clean up for it.

[2021-10-12 19:26] valfaro commented on #7356
Optimization still not working (OpenModelica v18..0)

[2021-10-12 19:26] #7356 closed

[2021-10-12 21:54] casella commented on #7992
Yeah, the same mechanism was implemented with a package that had a replaceable function, if I understand it correctly.

[2021-10-12 22:05] casella opened #7998 "Report backend and code generation bottlenecks in a friendly way"
Some models turn out to be incredibly slow to compile in OpenModelica, oftentimes due to some methods in the backend that scale up badly and act as bottlenecks. Expert users know how to turn on `-d=exectstat` and read the output, but most "normal" users will just accept the slow performance as a fact of life, drag along, and possibly give up with OpenModelica at some point because it is simply too

[2021-10-12 23:01] casella opened #7999 "createSimCode fails in Buildings models"
There are many models in the Buildings library that currently fail with
[code]
for example:

- [Buildings.ThermalZones.Detailed.Validation.BESTEST.Cases6xx.Case620](https://libraries.openmodelica.org/branches/master/Buildings_maint.7.0.x/files/Buildings_maint.7.0.x_Buildings.ThermalZones.Detailed.Validation.BESTEST.Cases6xx.Case620.err)
- [Buildings.HeatTransfer.Windows.BaseClasses.Examples.Absorb

[2021-10-12 23:05] casella opened #8000 "Buildings models fail during analyzeInitialSystem"
There are many models in the Buildings library that fail during the analyzeInitialSystem phase, see e.g. [Buildings.ThermalZones.Detailed.Examples.FFD.ForcedConvection](https://libraries.openmodelica.org/branches/master/Buildings_maint.7.0.x/files/Buildings_maint.7.0.x_Buildings.ThermalZones.Detailed.Examples.FFD.ForcedConvection.err)

@kabdelhak could you please have a look and report if this is

[2021-10-13 09:23] adeas31 commented on #7578
`SingleRodCylinder` uses the access annotation from parent package i.e., `access.nonPackagetext` so you can't see the text but you should be able to see the diagram if there is any. The reason you don't see the diagram is because `SingleRodCylinder` doesn't have any diagram, the diagram is extended from `BaseCylinder` which uses `access.icon` so you can't see the diagram.

Consider the actual case

[2021-10-13 10:46] sjoelund commented on #7356
I am guessing it might work if you disable the new front-end (which doesn't support most of the old research prototypes).

[2021-10-15 11:43] casella commented on #7683
I had a quick look at the latest [conversion script report](https://libraries.openmodelica.org/branches/overview-special-jobs.html). The situation is now pretty good and it makes me confident we can release this feature in version 1.19.0

There are only a handful of remaining issues.

- Five models fail in Buildings_latest after conversion, and they are more or less the same in previous versions o

[2021-10-15 11:57] sjoelund commented on #7683
ThermoSysPro also failed a lot

[2021-10-15 12:38] adeas31 commented on #7468
I guess the absolute value in this case becomes zero so we are in dealing with point 2 here. Note that the tool doesn't consider the actual value for finding the range but it actually takes a slightly higher and lower value which is the bounding rectangle of the plot.

I am fine with 1e-20 and 1e20. This is how the plot will look like in this case,

![plot](https://user-images.githubusercontent.co

[2021-10-16 10:27] rfranke opened #8005 "Numerical overflow due to replacement of 1/tanh with cosh/sinh"
Some load models of the PowerSystems library adapt the load to make it independent of voltage. For instance `PowerSystems.AC3ph.Loads.PQindLoad` states:
[code]
Only `Z` and `v2` are time varying, whereas all other variables are parameters. OpenModelica replaces this with:
[code]
During the solution of the example `PowerSystems.Examples.AC3ph.Inverters.InverterToLoad` with DASSL it happens that `v2

[2021-10-16 10:36] perost commented on #8005
The code responsible for this is (note that the comment on the first line is wrong compared with what the code actually does):
https://github.com/OpenModelica/OpenModelica/blob/28cd7de5b1108da344dde3697bc2c70fcfeb490c/OMCompiler/Compiler/FrontEnd/ExpressionSimplify.mo#L4786-L4792

I'm not sure what the purpose of this simplification rule is since it makes the expression bigger. Perhaps it enables

[2021-10-16 10:50] rfranke commented on #8005
This appears to go back to work by @vruge in 2014 first introducing `e1/tanh(e2) => e1*coth(e2)`
(https://github.com/OpenModelica/OMCompiler/commit/aa6621ccb638e3f44f15927ec3b6813f74677e14#diff-ba1b057b0ef11a721e80efc8709c6292974534491031177e8146309998c52648)
and then changing to `e1/tanh(e2) => e1*cosh(e2)/sinh(e2)`
(https://github.com/OpenModelica/OMCompiler/commit/269a95a6989f32b5a4cd28fde97ecd

[2021-10-16 12:23] sjoelund commented on #8005
The first two make a lot of sense though. You remove divisions by zero at least

[2021-10-16 13:05] rfranke commented on #8005
Commit a2907a19b0be5636771efc31f10a1950c1977c77 fixes the first two.

[2021-10-16 14:26] perost commented on #7837
Fixed, [see report](https://libraries.openmodelica.org/branches/master/Buildings_maint.7.0.x/files/Buildings_maint.7.0.x_Buildings.ThermalZones.Detailed.Constructions.Examples.ExteriorWallTwoWindows.err).

[2021-10-16 14:26] #7837 closed

[2021-10-16 14:27] perost commented on #7834
Fixed, [see report](https://libraries.openmodelica.org/branches/master/Buildings_maint.7.0.x/files/Buildings_maint.7.0.x_Buildings.Controls.Predictors.Examples.BESTEST.err). The model now fails due to #7999 instead.

[2021-10-16 14:27] #7834 closed

[2021-10-16 14:46] casella commented on #8005
I completely agree that the simplification rule` tanh(x) -> sinh(x)/cosh(x)` is not a good idea, because of overflow. sinh(x) and cosh(x) grow exponentialy, while tanh(x) doesn't. Furthermore, tanh(x) is often used as a way to approximate step(x) with a smooth, analytic function, so it is quite likely that its arguments becomes quite large.

I would definitely suggest to remove that rule. @rfranke

[2021-10-17 22:11] #8005 closed

[2021-10-17 22:46] rfranke opened #8008 "OMEdit crashes if a simulation fails or is canceled"
### Description

It can be frustrating if a model fails numerically; it's really bad if additionally the whole simulation tool crashes in such a case.
Recent versions of OMEdit tend to crash more often, not even asking if a crash report should be sent anymore. Unfortunately it's not deterministic.

I took some time to drill this down to the function `omc_new_matlab4_reader` and then saw commit 815

[2021-10-18 06:20] rfranke opened #8009 "Bad presentation of results in Variables Browser"
### Description

OMEdit does not allow to plot protected variables even upon selection of the simulation option "Output->Protected Variables". This is considered a bug. Moreover, the presentation of derivatives of arrays is bad. See the following example:
[code]
This gives in the Variables Browser:
<img src="https://user-images.githubusercontent.com/4224368/137677047-ebdc1dd6-66dc-44b1-ab24-f61bbd

[2021-10-18 10:37] perost commented on #7683
Four of the five models in Buildings fail because the conversion script is missing the rule:
[code]
I will report it once I've gone through the other libraries to check if there are more missing rules. The last one, `Buildings.Media.Examples.SteamProperties`, fails because we fail to convert `g.R` to `g.R_s` for some reason (but at least the conversion script is correct for that case).

[2021-10-18 10:57] perost commented on #7683
For the other libraries:
* HanserModelica: Seems to be same issue as the one Buildings model.
* HelmholtzMedia: Fails because it uses `Modelica.Media.Examples.Tests.Components.PartialTestModel` for which there are no conversion rules (because it's an example model and not meant for other libraries to use). So that's a library issue.
* TAeZoSysPro_testsuite: `TAeZoSysPro.Media.Air` contains:
[code]

[2021-10-18 11:04] sjoelund commented on #7683
Or you could treat it as a conversion script issue and detect if you end up with duplicate imports. You could simplify imports like `X = A.B.C.X` = `A.B.C.X` and then filtering out duplicate imports.

[2021-10-18 13:16] casella opened #8012 "Wind turbine models in Power Systems not running or producing the wrong results"
After @kabelhad merged in the new balanced initialization algorithms (see [report](https://libraries.openmodelica.org/branches/history/master/2021-10-05%2023:15:43..2021-10-11%2016:25:20.html)), two models pass the backend phase:

- PowerSystems.Examples.Wind.WindTurbine_DFIG ([C runtime](http://libraries.openmodelica.org/branches/master/PowerSystems/files/PowerSystems_PowerSystems.Examples.Wind.W

[2021-10-18 18:14] casella opened #8014 "arrayConnect in the NF may give wrong results depending on the order of arguments in connect() equations"
Consider this test package
[code]
Running `instantiateModel` with `-d=nonfScalarize,arrayConnect` produces the following output
[code]
Unfortunately this is still not correct, the connection equations are wrong. In particular, the connection set includes `s.c, a[1].c, a[2].c, a[3].c`, so I would expect to see a flow equation such as
[code]
or, even better
[code]
Also, I expect to see a chain of eq

[2021-10-18 21:17] max-privato commented on #7468
I'm always surprised at know how these so-called professional tools like Qwt (and, as you say, even Dymola) manage things!

Along recent years I continuously come across limitations that my amateur PlotXY (http://ceraolo-plotxy.ing.unipi.it/default.htm) does not have.
Also in this case: PlotXY manages the log scale of sample of this ticket very smoothly (see png below).

To put it simple, what I b

[2021-10-19 08:39] mahge commented on #8008
I agreed to remove the throw here.

https://github.com/OpenModelica/OpenModelica/issues/8008#issuecomment-945654638

Then again we also discussed it in the meeting and I said I will remove the throw and instead return the actual error code.

I am sorry that this affected you. But I am not sure what more I can do.

I will answer most of your questions in another comment.

[2021-10-19 09:50] mahge commented on #8008
https://github.com/OpenModelica/OpenModelica/blob/81537a472c9f54ea14ecf335343005f18f4e83af/OMCompiler/Compiler/runtime/systemimpl.c#L428-L438

Error message changed from "Failed to read the entire file" to a more descriptive error telling you why it failed, i.e., not enough data in the file or some other error. I do not see what the problem is here. It continues to throw.

[2021-10-19 09:52] rfranke commented on #8008
OMEdit used to generate a message like -- File -> Open Results File(s):
[code]
A user might ask a developer who then knows that the first read operation for a matrix in the results file `LightningLosslessTransmissionLine_res.mat` failed.

With your commit the message for the same error changed to
[code]
Not even a developer can infer the circumstances of the error anymore!!!

Here is the code for

[2021-10-19 10:37] rfranke commented on #8008
I took a lot of time to find the code causing the new crashes and the reason is exactly that it throws because "**you wanted to read strictly n bytes**". The proposed replacement of a thrown error with assert would change from long jump to abort -- not solving the issue at hand "OMEdit crashes if a simulation fails or is canceled".
Yes, I'm determined if it comes to crashes and memory leaks -- and

[2021-10-19 16:03] max-privato commented on #7969
aha, well spotted!
Thank you Vitalij for sorting this out.
In addition to the missing limits on outBatPower, the ticket has something more to say: my point 2 of the list in the ticket description. Even though this is a limited issue, it seems strange that the expected solution is not found with larger precision.

[2021-10-19 21:35] mwetter opened #8020 "Icon not rendered in diagram view"
Most of the icons in `Buildings.Controls.OBC.CDL.Continuous.Examples` are not rendered in the Diagram view of OMEdit. See for example `Buildings.Controls.OBC.CDL.Continuous.Examples.Abs` (https://github.com/lbl-srg/modelica-buildings/blob/3ee0f00912d3990849f0949928705476344b1a71/Buildings/Controls/OBC/CDL/Continuous/Abs.mo) which renders as follows:

![image](https://user-images.githubusercontent.

[2021-10-19 22:43] casella commented on #7969
@max-privato should we improve something in the documentation, GUI or error messages to avoid such situations in the future?

[2021-10-20 07:30] AnHeuermann commented on #7959
When I updated Kinsol I did not find a good replacement for this function that uses `kinsol_impl.h`. But I didn't search for long.

I can check again, maybe next week.

[2021-10-20 09:22] casella opened #8022 "Diagram and Icon annotations are ignored in 1.19.0-dev"
### Description

Diagrams and icons annotations are ignored with the current dev-master version of omc

### Steps to Reproduce

- Load the attached model
- Open with OMEdit
- Show the diagram and icon layers: they should be rectangles, but they are not

### Expected Behavior

The annotations should be considered

### Additional Context

I guess something went wrong with the API recently, probably

[2021-10-20 09:35] casella opened #8024 "Non-partial models which are not locally balanced should generate an error in the NF when checking and trying to simulate"
Consider the following MWE
[code]
If I check the model, I get
[code]
In fact, this model is not partial, so it should be balanced. If it isn't, that is for sure an error. This is currently reported by the backend later on when trying to simulate
[code]
but in fact, this information is already available to the NF, which should report it.

Proposed output when checking:
[code]

[2021-10-20 11:52] casella opened #8026 "Variables only depending on parameters and constants should only be evaluated during initialization"
Consider the following MWE;
[code]
Variables x and y only depend on parameters, so they could be computed once and for all during initialization. If you check with the debugger, you see:
[code]
which is not particularly smart, since the result is always the same - this can substantially slow down the simulation of some models, if the parameter-depending equations are difficult to solve. Doing this

[2021-10-20 11:54] casella commented on #8026
I thought we already had a ticket open on this issue but could not find it. If you can, please report.

[2021-10-20 12:44] adeas31 commented on #8022
Yes that is right. I think with your changes to `getStrings` the last empty part is not considered.

[2021-10-20 13:32] #8022 closed

[2021-10-20 16:33] #8008 closed, assigned to rfranke

[2021-10-20 22:29] casella commented on #8024
My point is that, since the model is not partial, in this case the outcome should _not_ be "Check of M completed successfully" but rather "Model M is not balanced". Which is an error, not a notification.

[2021-10-20 22:54] vruge commented on #7969
it seems the inputs are excluded from the processing [here](https://github.com/OpenModelica/OpenModelica/blob/a1b18e11a79b12af0775042cf92b6c8a86da3175/OMCompiler/Compiler/SimCode/SimCodeUtil.mo#L7086), because the inputs are part of the know variables.

[2021-10-21 07:38] adeas31 commented on #8009
#8031 fixes the display of protected variables. By default the protected variables are hidden. Protected variables are only shown when `Output->Protected Variables` is true OR if the protected variable has annotation `HideResult=false`. Note that the first case i.e., protected variables are only shown when `Output->Protected Variables` is true, is not working yet because we set `HideResult=true` b

[2021-10-21 13:24] adeas31 commented on #8024
The simplest fix is to remove the message "Check of M completed successfully" from the output of `checkModel` and simply show the rest of the result i.e.,

[code]

[2021-10-25 06:45] sbaetzing opened #8044 "Not possible to read file only partialy with new frontend"
### Description

New frontend fails when number of lines to read does not match with number of lines in txt file.

### Steps to Reproduce

Using the Table1D component from our BRSL (Rexroth_Generic.SignalBlocks.Tables.Table1D) and enable the option so that the file is read from a file (tableOnFile = true). (Testcase (Rexroth_Generic_Test.SignalBlocks.Tables.Table1D.Table1D_TC3) is already included

[2021-10-26 12:42] #8044 closed, assigned to mahge

[2021-10-26 17:12] MarcoRizz opened #8050 "Enumeration declaration in protected section. Different output in versions 1.17 and 1.18"
In **version 1.17** I used to create enumeration types and call them for declaring parameters to have multiple choices in input with a single parameter (instead of many booleans). Also, with the aim to hide the types from the _**Libraries Browser**_, i used to put the declaration of the enumeration in **_protected_** section. Something like
[code]
and then calling it in external models, like
[code

[2021-10-26 18:14] #8050 closed, assigned to nobody

[2021-10-26 18:15] perost opened #8051 "OMEdit ignores Access.hide annotation"
### Description

OMEdit ignores Access.hide annotations and shows classes with such annotations in the library browser, as well as allowing them to be opened and inspected.

### Steps to Reproduce

Open this model in OMEdit:
[code]

### Expected Behavior
`example.InputChoice` should not be visible in the library browser (unless the option to display hidden classes is enabled in the options).

###

[2021-10-27 06:26] Claire-Eleutheriane opened #8052 "OMEdit library browser does not immediately update with the CLI"
### Description

When I load libraries using the CLI, the library is loaded but does not appear in the Library Browser. I have to perform the Check Model of an empty model, or load a system library from the *File* menu, to make ThermoSysPro visible in the Library Browser.

### Expected Behavior

The library instantly appears in the Library browser :woman_shrugging:

### Screenshots

![cli_delay](h

[2021-10-27 12:58] flreinhard opened #8054 "Wrong code generation when using records in external "C" with cpp runtime"
### Description

Consider a model with an external "C" element that returns a record. C-runtime works fine. Cpp-runtime fails with a build error.
[code]
### Steps to Reproduce
- Switch to cpp runtime
- open the model below
- run simulation
[code]
### Expected Behavior

Just works(tm) :) Should compile and run fine.

### Version and OS

 - OpenModelica Version:  v1.19.0-dev-322-g7e091bb317 (64-bit)

[2021-10-28 17:39] casella opened #8060 "Update the class loader to use the package manager correctly"
We have now introduced GUI support for the package manager, which thus stop being a geek thing and will become mainstream from 1.19.0. We need to make sure that the class loader works consistently with it, otherwise we'll be in a mess.

As discussed with @sjoelund, the rationale of the package manager is described by the following points:
- We (the OSMC) select the OS libraries we want to support,

[2021-10-28 22:43] casella opened #8061 "Implement basic support for conversion scripts in OMEdit"
The implementation of conversion scripts is nearly complete and performing very well in tests. This means we should actually provide access to it via the OMEdit GUI, at least in some basic form, with the next 1.19.0 release. This would actually allow OMC users to switch to MSL 4.0.0, after more than a year from its release.

For the time being, I think we should address the two basic end-user case

[2021-10-29 06:34] max-privato opened #8062 "OM autonomously creates integers from reals"
### Description
When using PowerGrids models, which allow displaying powers in MVA, one can enter them in MVA, using real numbers (having the dot). OM inserts them in the code as integers, then complains that integer numbers are used instead of real's!

### Steps to Reproduce
- Create a new model
- drag on it a component  Electrical.Buses.EquivalentGrid from PowerGrids library
- change SNom into 2

[2021-10-29 18:02] MarcoRizz commented on #8050
With "hide" I meant in the library browser of OMEdit GUI, it wasn't from a "coding" poin of view.
The final goal of libraries is the simulation itselfe, not the code. I imagine to be a user of the library and physically see a folder that cointain all possible 'choices' of models, quite useless. I have to manage models, but I don't care about what compose them.
On the contrary, from a code point of

[2021-10-29 18:58] rfranke commented on #8054
PR #8065 appends `Type` to the type name. It also removes `struct`, as this appears obsolete indeed.
However, why do you define
[code]
instead of
[code]
(single `void*`)?

See Modelica spec, section 12.9.1.3 Records:
[Records are passed by reference (i.e. a pointer to the record is being passed).](https://specification.modelica.org/master/functions.html#records)
followed by section 12.9.2 Return T

[2021-10-29 20:23] casella commented on #8060
If that is the case, then maybe @mahge can have a look?

[2021-10-29 20:34] casella opened #8066 "Allow to modify parameters and replaceable classes of the model itself in OMEdit"
### Description

When visualizing a model's diagram, OMEdit allows to modify the parameter values of models instantiated within it, by double-clicking on their icons and showing parameter input masks. However, it does not allow to change the default values of the parameters of the model itself, which will also come in handy in many cases.

### Steps to Reproduce

Open the following model
[code]
in

[2021-10-29 21:14] casella opened #8067 "New feature: obfuscated Save Total"
We need to support the following use-case, which is going to show up more and more in the future.

Company A is a member of OSMC. Company B is a customer of company A and develops confidential systems models with the help of A. At some point something goes wrong with the compilation or simulation of some of B's confidential models in OpenModelica, and we need OSMC affiliated personnel to look into

[2021-10-29 22:18] perost commented on #8067
It wouldn't be particularly hard to implement. Stripping things is pretty trivial, and replacing names is easy as long as you don't require that elements with the same name are mapped to different obfuscated identifiers (which would only make it a tiny bit harder to reverse-engineer anyway).

[2021-10-30 08:15] AndreaBartolini commented on #8067
I think that in order to increase the data protection during the model transfer from/to A/B and OSMC developers it can be useful to provide encription methods to be applied to the files that have to be transmitted.
It has to be investigated how manage the encription keys in a safe way.

[2021-10-30 08:23] flreinhard commented on #8054
Thank you for the quick bugfix!

Sorry for the "pointer of pointer" confusion. I wrote that example from scratch and by heart and obviously made a mistake.

[2021-10-30 09:05] rfranke commented on #8054
OK, then it should be fixed now. Thank you for providing the simple example.

[2021-10-30 09:05] #8054 closed

[2021-10-30 11:34] perost commented on #8067
We have instructions on how to encrypt using PGP [here](https://trac.openmodelica.org/OpenModelica/wiki/PgpInstructions). But I think the issue here is more about possibly avoiding having to sign an NDA rather than the safe transfer of confidential models.

[2021-10-30 15:43] max-privato commented on #8062
If to reduce the complexity, we should relax some requirement, this could be, for me, getting back exactly our text.
I mean, if I enter a power of 2500 MVA, I would not be too disappointed to get back 2.5e9 VA. or 2500.0 MVA.
Much worse are the two issues I listed in the ticket's description.

This for ordinary quantities. For degrees, the situation more involute.

[2021-10-30 16:01] sjoelund commented on #8062
The problem with putting 2500 MVA into the code is that MSL is SI-units only, and changing units in the code doesn't work.
Regardless, only reals have a unit so it shouldn't be hard to force printing as a real in some way if there is a conversation factor.

[2021-10-30 16:25] max-privato commented on #7971
AHA, I understand that **that keyword is something only you can manage**. (As I said, just adding `final` and not making the other changes made disasters, but adding it along with the other changes solves the issue. And this before seeing PR #8030 merged).

You know, I would like to write an internal "list of rules" to make DO easier to use for ordinary people (i.e. anyone but Vitalij Ruge :-))

S

[2021-10-30 16:28] vruge commented on #7969
We get now

[code]

// I relaxe the limit `outBatPow.min`. Otherwise the alogorithmen stuck in local infeasibility point.

fixed with #8030

[2021-10-30 16:28] #7969 closed

[2021-10-30 16:30] vruge commented on #4979
fixed with #8036

[2021-10-30 16:30] #4979 closed

[2021-10-30 17:12] casella commented on #8067
That's not required. In fact, we could probably implement this in Python as a post-processing step to be applied to the Save Total model. However, that would require to implement a (tiny) parser, maybe it's faster if you do it on the NF side?

Regarding encryption, I also think this is an orthogonal functionality, there is no need to embed this in OMC.

[2021-10-30 18:38] vruge commented on #7971
I started with #8068 maybe we will need some more iterration over the text.

The core meaning is the same as in simluation.
The start value using as initial guess for the  unknows , here the controls are unknow.
The nominal for scaling. The big difference, in the optimization it is used for the whole interval.

scaling/nromalize the equation, variables which are handling by the optimization algori

[2021-10-30 21:11] mahge commented on #8060
I am also not 100% sure but I did not want to pollute the discussion too much .

I am guessing the issue is that 'uses' libraries are loaded immediately as they are seen. Instead what we probably want is to collect all 'uses' libraries recursively and load the versions we want after resolving the 'conflicts'.

@casella Is this what we want?

[2021-10-30 23:15] casella commented on #7971
As I also discussed a long time ago with Johan Åkesson, scaling is _essential_ for robust and reliable performance of numerical solvers applied to optimal control problems. All variables, once scaled with their nominal attribute, should have order of magnitude of unity. Of course if they are about 10 or 1/10 it's not big deal, but put just one variable with values such as 1e6 (a pressure in Pascal

[2021-10-30 23:23] casella commented on #8060
Yes. I guess we could do that using the information collected by the package manager.

[2021-10-31 07:11] max-privato commented on #7969
good!
I'll check tomorrow.

[2021-10-31 09:14] sjoelund commented on #8060
The package manager installs a metadata file for each package, so we can get the uses of all installed packages (there may be versions not in the current package index). This+the index could be cached as a dependency graph if it needs to be done faster (not sure how long creating the graph takes if it needs to load and parse potentially hundreds of json-files). Using this graph, for all uses annot

[2021-10-31 11:34] max-privato commented on #7971
Just to be sure I understand well, I repeat what I got from your explanation.

You changed ipcp from 1 o 1e-4. What I understand is:
- you internally use ipcp to change the internally evaluated value ipcp*toIcePow.y to make sure toIcePow.y is within its constraints
- you would like to have  ipcp * toIcePow.y to be not far from one.

So is this the general rule?
**We must give (the auxiliary parame

[2021-10-31 12:53] max-privato commented on #7973
This ticket's model removes the final constraint on storge.energy.  This should bring to the solution toIcePower.y=0.

In the package above (ToyModelTicket4,txt->ToyModelTicket4,mo) you have re-introduced
the row:
`    Real energyFinConstr(min = energyIni, max = energyIni) = fecp * storage.energy "Storage energy final contraint" annotation( isFinalConstraint = true);`

and so changed the problem.

[2021-10-31 12:54] max-privato commented on #7973
This ticket's model removes the final constraint on storge.energy.  This should bring to the solution toIcePower.y=0.

In the package above (ToyModelTicket4,txt->ToyModelTicket4,mo) you have re-introduced
the row:
`    Real energyFinConstr(min = energyIni, max = energyIni) = fecp * storage.energy "Storage energy final contraint" annotation( isFinalConstraint = true);`

and so changed the problem.

[2021-10-31 13:22] max-privato commented on #8062
Yes, sure. I intended that OMEdit, when the number 2.5e9 read from the mo, can show it in Electrical.Buses.EquivalentGrid as 2500 MVA, since its dialog box already has MVA as units of measure (SSC has Types,ApparentPower as type)

[2021-10-31 13:50] sjoelund commented on #8062
It would only know the unit if you put the displayUnit as MVA and it wouldn't know you input it as an integer and might display it as 2.5e3 MVA

[2021-10-31 16:12] AJamesPhillips commented on #7962
@felix-marsollier2 are you happy with closing this now?  (I can't do it for you, but I'm asking incase this issue is now resolved for you).

[2021-10-31 17:19] max-privato commented on #8062
I agree: the simplest way for OMEdit is show 2.5e3 MVA.
It would not be impossible to show 2500 MVA, but this requires some analysis on the number, similar to what is done by good plotting programs for axes: the best of them avoid showing e3 (or whatever exponent is needed))  on every number on tic marks.  Recently also OMEdit has reached this level, and therefore already knows how to do these thi

[2021-11-01 12:14] max-privato commented on #7973
Good news!
to have a reasonable result from this ticket's model, we have just to put the tolerance to 1e-7.
Only the first point appears to be out, but maybe this is due to the implicit euler algorithm.

I have the following conclusions:

1) before starting this ticket I did not know the effects of tolerance on the quality of the result and the simulation time. Now I realize that it has a tremendo

[2021-11-01 14:21] max-privato commented on #7969
ok, I checked this ticket's models, and others deriving from them, on OM 1.19.0-dev-336.

Now the given limits on the input power are taken into account, but the resulting model does not converge.
The following package contains updated motels: EConst, without battery limits. and EConstLimPbat, with battery limits:

[ToyModelTicket1Upd.txt](https://github.com/OpenModelica/OpenModelica/files/7453856

[2021-11-01 16:09] vruge commented on #7971
We must give (the auxiliary parameters needed to apply constraints) numerical values such that when they are multiplied to their constrained quantity the resulting values are not far from one

I would say yes. The cost, equality and inquality should be have the same dimension wich match the tolerance.
So that all equations are equally important. It is worth deviating from this rule if the equation

[2021-11-01 16:26] perost commented on #7838
Duplicate of #7835.

[2021-11-01 16:26] #7838 closed

[2021-11-01 17:19] #7835 closed

[2021-11-01 19:24] vruge commented on #7973
That's right.

I don't know.

It is very welcome :)
There is work from others in the [userguide](https://www.openmodelica.org/doc/OpenModelicaUsersGuide/latest/optimization.html)
This can be done by editing the [file](https://github.com/OpenModelica/OpenModelica/blob/master/doc/UsersGuide/source/optimization.rst)
That was the intention with PullRequest #8068.

[2021-11-02 09:48] max-privato commented on #7969
I checked #8030 with good results.
This is real advancement!

Looking back at this ticket, I see that, except for the fact that input limits were not taken into account, the issues I found came from my inability to manage a few characteristics of this "no-optimica Dynamical optimisation" (NOODO).

Summarising how to turn my faulty model into a good one, one has to
1. use a much lower tolerance (in

[2021-11-02 10:15] max-privato commented on #7971
Not this ticket can be closed.
I think the same final comment applies, as the final comment of #7969 .

[2021-11-02 10:15] #7971 closed

[2021-11-02 10:16] max-privato commented on #7972
Not this ticket can be closed.
I think the same final comment applies, as the final comment of #7969 .

[2021-11-02 10:16] #7972 closed

[2021-11-02 10:24] max-privato commented on #7973
Yes, but this is related to Optimica-based optimisation. The way of creating cases with annotations, I think, is totally missing.

Maybe I could first send my proposal to you, so that we can together reach a good level of clarity. Then you or I could update the docu file

That was the intention with PullRequest #8068.

Good!

[2021-11-02 12:38] paultjevdh opened #8075 "combiTable2Ds1 extrapolation"
### Description
'Hold last point' extrapolation of the 2D table is not implemented as described in the 2Dtable documentation. More specifically: no matter the extrapolation setting, the behaviour is always extrapolation by last slope (LastTwoPoints)

### Steps to reproduce
Below is code for an MWE. Plot combiTable2Ds1.u1, combiTable2Ds1.u2 and combiTable2Ds1y.
The table is only 10x10, where first

[2021-11-02 12:40] #8020 closed

[2021-11-02 13:53] BasilioPV opened #8076 "MSL Surface on animation window in OMEdit"
### Description
Modelica.Mechanics.MultiBody.Visualizers.Advanced.Surface does not appear on animation window on OMEdit

### Steps to reproduce
Modelica.Mechanics.MultiBody.Examples.Elementary.Surfaces this example does not show any component that uses surface.

### Expected behavior
Surfaces must appear on animation window.

### Screenshots
Only wheel pipe part appears (not the surface external p

[2021-11-02 15:03] adeas31 commented on #8062
The actual value is always stored in unit regardless of whatever display unit it has. In this case the value is always stored in `V.A`. When you enter a value of `2500.0` in `MVA` then OMEdit call,

[code]

First it will check if the units are compatible and what offset and scale factor has to be used to convert the value.

The unit conversion is done as,

`(value - offset) / scaleFactor`

which i

[2021-11-02 16:28] casella commented on #7962
@AJamesPhillips we could still change the runtime so that the spike in `e` is visible, so I left this open

[2021-11-02 21:59] max-privato commented on #8062
I don't want to enter into details of your number-converting code, but I think that being able to write on the code 2.5e09 instead of 2500000000.0 is a sign of good quality software. After all, the exponential form has been invented exactly to ease reading numbers; it is especially useful in cases like this.

[2021-11-02 22:12] casella commented on #7969
@max-privato having a short tutorial with this model of yours in the documentation would be really nice!

[2021-11-02 22:13] casella commented on #8075
@mahge maybe you could have a look?

[2021-11-02 22:22] casella commented on #7800
@phannebohm, thanks for #8049! Apparently, it had a [quite positive impact](https://libraries.openmodelica.org/branches/history/master/2021-10-30%2004:09:07..2021-10-31%2010:14:17.html) on the library testsuite. There are some regressions, but I understand you already know the cause of at least some of them.

@AndreaBartolini, #8049 partially addresses the issue you raised originally. Can you plea

[2021-11-02 22:26] casella commented on #7833
@perost, this is the last pending NF issue of the Buildings library, with three failing models.

Very good job so far!

[2021-11-02 22:30] casella commented on #8000
This issue was apparently solved in the meantime, the reported model now fails during C compilation due to type issues. I checked briefly the test report, and it seems this error never pops up again.

[2021-11-02 22:30] #8000 closed

[2021-11-02 22:41] casella commented on #7833
Possibly addressed by @mwetter in Buildings [ticket #2706](https://github.com/lbl-srg/modelica-buildings/issues/2706)

[2021-11-03 02:21] lucas-luo opened #8080 "Matlab mingw fmu not work in OpenModelica"
I get a Matlab mingw fmu，and import to OpenModelica，but it's wrong in output:
The message:
Process crashed
Simulation process failed. Exited with code 0xffffffffc0000005.

[2021-11-03 06:59] sjoelund commented on #8075
This seems to be because upstream MSL has:
[code]

https://github.com/modelica/ModelicaStandardLibrary/blob/master/Modelica/Resources/C-Sources/ModelicaStandardTables.c#L2891

Probably some copy-paste error when init3 was introduced?

[2021-11-03 07:12] beutlich commented on #8075
No, this is just for backward-compatibility. ModelicaStandardTables_CombiTable2D_init2 is nowhere called in MSL.

[2021-11-03 08:26] sjoelund commented on #8075
MSL 4.0.0 uses it, and we use the latest external C library with it for some bug fixes. The backwards compatibility is broken is the point. Anyway, I opened a PR to MSL master.

[2021-11-03 10:35] AndreaBartolini commented on #7800
I've tested the models for that the previous nightly build generated $cse as iteration variables and (in the same models) the current nightly build calculate all the $cse variables as assignments or torn variables.

Thanks :)

[2021-11-03 10:39] phannebohm commented on #7800
Seems so. But I have become hesitant since we found those inconsistencies in the reports. :sweat_smile:

I have no clue what causes the regressions, except the obvious: randomly bad or missing nominal values for the newly chosen tearing variables. We often have `$cse1 = sin(x)` so the default nominal value of `1.0` is reasonable, that may have helped in some cases.

[2021-11-03 10:44] phannebohm commented on #7800
Some things are not done yet:
1. minimalTearing still operates as before, ignoring $cse variables. I will work on that now so that they will be treated like discrete variables.
2. Array- or record-cse are not touched by this. The reason is the following situation
(see ThermoSysPro.Examples.SimpleExamples.TestStaticCondenser.mos)
[code]
I suppose choosing `condenseur.Hex` and `condenseur.Pex` would

[2021-11-03 10:52] AnHeuermann commented on #7959
It seems that `KINLapackCompletePivoting` is not used by anything.
I could only find a section in [Kinsol.cpp#L492-L527](https://github.com/OpenModelica/OpenModelica/blob/master/OMCompiler/SimulationRuntime/OMSICpp/runtime/src/Solver/Kinsol/Kinsol.cpp#L492-L527) where it is commented out.

So my suggestion would be to just remove the unused parts and then revert [5e5e4c2f1f24d99822defaf7b1da995b7e

[2021-11-03 12:00] casella commented on #8080
Can you attach the FMU and be more precise so we can reproduce the issue?

[2021-11-03 12:07] AnHeuermann commented on #8080
Check out my [post on the forum](https://openmodelica.org/forum/default-topic/3374-matlab-mingw-fmu-not-work-in-openmodelica#p11181) where you asked this question as well. We'll need the same information here to investigate the issue.

In short, add the following information to your issue:
- What does your Matlab model look like? Or add the FMU to this issue.
- How did you export the FMU (which se

[2021-11-03 12:23] #8075 closed

[2021-11-03 14:36] casella commented on #7800
OK, but this shouldn't be a cause to reject the commit - we should rather improve the nominal attribute propagation, see [#4515](https://trac.openmodelica.org/OpenModelica/ticket/4515).

However, using as intermediate value a periodic function of some other unknowns is probably not such a good idea :)

[2021-11-03 14:49] casella commented on #7800
Looking forward to it.

Absolutely! Using the whole record as iteration variable is really terrible from the point of view of efficiency.

I guess so. I understand the underlying problem is that you have some kind of Schroedinger's indetermination between a record as an atomic input or output of functions and the same record as a container of related quantities. I'm not sure how you deal with it i

[2021-11-03 14:52] casella commented on #7800
No, I think in this case we should infer the nominal value. In this case Hex has a defined start attribute, which is not the default of zero. This means the library developer clearly has some definite idea about the order of magnitude of that variable. If it is not possible to infer the nominal attributes from other sources (e.g. from some alias variable), than we should definitely infer it from t

[2021-11-03 14:56] adeas31 commented on #7501
@niklwors I remember you mentioned that this is not a valid problem anymore. In that case can this issue be closed?

[2021-11-03 15:00] niklwors commented on #7501
@adeas31  yes the issue can be closed.

[2021-11-03 15:00] #7501 closed

[2021-11-03 15:08] casella opened #8084 "Infer missing nominal attribute from start value"
### Description

It is well-known that providing appropriate scaling values improves the robustness of iterative nonlinear solvers, see [paper](http://dx.doi.org/10.1145/3158191.3158192). Well-designed libraries should address this issue by providing appropriate nominal attributes wherever needed. However, this is sometimes difficult, inconvenient, or simply overlooked.

Suppose that, after nomina

[2021-11-03 18:21] casella opened #8086 "Error in OMEdit while opening IntegratedPrimaryLoadSideEconomizer from Buildings library"
**Describe the bug**
Open `Buildings.Applications.DataCenters.ChillerCooled.Examples.IntegratedPrimaryLoadSideEconomizer` with OMEdit. The following errors are reported:
[code]
I guess this is due to the interactive environment still using the OF to do stuff.

@perost, @adrpo, can we fix this easily?

[2021-11-04 05:55] lucas-luo commented on #8080
Sorry, I read the FMIKit again, and it's not support mingw on windows, so i have to export fmu again in maltlab by set
"CMake generator" to "Visual Stuido 14 2015 Win64", this is my fmu, [csthl20_trim.fmu](https://github.com/OpenModelica/OpenModelica/files/7472557/csthl20_trim.zip). I can't attach fmu file, so rename to zip.

when i set Target Build to  MinGW, the error is
`Process crashed Simulat

[2021-11-04 06:02] lucas-luo commented on #8080
What does your Matlab model look like?
My Matlab model is csthl20_trim，you can type "open_system('csthl20_trim')" in matlab to open the model, or download the attach which i upload in my reply to @casella

How did you export the FMU (which settings, which target, what FMI version, ME or CS, ....)?
I try another way to export FMU by FMIKit-simulink-3.0-alpha.2，ME，CMake generator: Visual Studio 14 2

[2021-11-04 08:16] max-privato opened #8087 "OM creates FMU converting parameters into constants"
### Description

When we create an FMU from a model containing conditional models inside, and the actual model depends on a parameter value, OM (Dymola does the same) creates the FMU in the actual configuration related to the default parameter value, which is converted into a constant **And does this silently.**
I understand that FMUs do not support conditional components, and therefore OM is obli

[2021-11-04 09:07] AnHeuermann commented on #8080
Not sure how you imported the FMU, the setting in Tools->Options->Simulations is for the generated code for modelica models and has nothing to do with FMUs.

But the recomended way would be via a new SSP model (File->New->New SSP Model; Then add FMU as SubModule).

Doing so gives the following error in OMEdit:
[code]

Running the same FMU with [FMPy](https://github.com/CATIA-Systems/FMPy) gives a

[2021-11-04 09:07] #8080 closed

[2021-11-04 10:13] paultjevdh opened #8090 "a - floor(a) <0 on a step in a"
Hello,

### Description
The problem is that I calculate a - floor(a) when a is the result of a modulo operation. a therefore has steps. On a step, floor(a) does not match the actual a value and the difference a - floor(a) is negative. This is mathematically impossible.

### Steps to reproduce
Plot signals b, c, and d generated with the model below:
Example :
[code]
The result is:
![image](https://

[2021-11-04 11:12] casella opened #8092 "Unrecognized redeclared partial classes in Buildings"
The issue is described in detail in [Buildings ticket #2714](https://github.com/lbl-srg/modelica-buildings/issues/2714).

This MWE should apparently be valid
[code]
but currently isn't.
[code]

[2021-11-04 11:27] casella commented on #8087
@max-privato, this is true not only for parameters that influence the activation of conditional components, but for all kinds of so-called _structural parameters_, i.e. parameters that influence the structure of the mathematical model, such as its size or its incidence matrices. For example:
- parameters that influence the activation of conditional components
- parameters that determine the size o

[2021-11-04 13:27] #7862 closed

[2021-11-04 14:26] arouhan opened #8094 "Internal error: NFConnection.split got unbalanced connection"
Hello,
while building models with nested Buses (expandable connectors), I often get the following message:
[C:/OM118/OM64bit/OMCompiler/Compiler/NFFrontEnd/NFConnection.mo:57:7-58:91:writable] Error: Internal error NFConnection.split got unbalanced connection.

Attached is a package example "internalError" with a model called "OpPro" which reproduces the error, using OME 1.18.0 and MSL 3.2.3. The

[2021-11-04 15:48] casella commented on #8094
@arouhan I can't see the attachment, did it get lost somehow?

[2021-11-04 15:50] perost commented on #8094
@casella: It was accidentally part of the code block, I fixed it.

[2021-11-04 17:03] perost commented on #8094
The issue could be simplified to this:
[code]
At first I wasn't sure if connecting two expandable connectors should be considered also connecting the expandable connectors in them, but after some debugging I realized we already handled exactly that case.

The actual issue was that we only did it one level instead of recursively, so it didn't work properly when having more than two levels of nested

[2021-11-04 17:23] #8094 closed

[2021-11-04 18:33] casella commented on #8094
@arouhan could you elaborate on the rationale of having expandable connectors within expandable connectors?

A flat expandable connector to me is a good metaphor for the signal database of a DCS system, which can easily accommodate thousands of signals in real life. Are you trying to go beyond that, so you really need expandability on multiple levels to manage complexity?

[2021-11-05 06:54] arouhan commented on #8094
@casella sure.  We are building a library of components able to handle complex systems, such a complete ship, including all its systems onboard. We could have used a flat expandable connector (i.e. all signals are all at the same level), then it would have been a mess to find the signals we are looking for, including potential naming conflicts. Using nested expandable connectors, allows to group s

[2021-11-05 08:59] casella commented on #8094
Interesting.

Sounds perfectly reasonable.

If this is a requirement for some users of OMC, and since this is allowed by the specification, then we should make sure that we support this feature correctly. If you could supply some simple test cases that we could add to our testsuite, that would be welcome. Both working and problematic test cases are welcome: the former are useful to make sure they

[2021-11-05 09:05] max-privato commented on #8087
AHA, I did not realize this!
So every model containing structural parameters unavoidably gets limited when converted into FMUs: the FMU flexibility is that of a "re-simulation" in OMEdit.

In the case of conditional components, the modeller may take steps to use different techniques to obtain the same behaviour. In the example of FirstOrder, one could add a switch to change its behaviour depending

[2021-11-05 09:06] #8087 closed

[2021-11-05 10:31] perost commented on #8094
The MWE is one of several new test cases I added.

[2021-11-05 10:51] perost commented on #8087
As casella already mentioned it's just a normal part of Modelica that some parameters are evaluated during the compilation.

We already had a debug flag (`-d=printStructuralParameters`) for the purpose of printing out which parameters where determined to be structural, but it was only implemented for the old frontend. I'm not sure how useful it really is, but I implemented it also for the new fron

[2021-11-05 15:15] perost commented on #8067
I'm working on implementing this, but I wonder whether we should whitelist or blacklist annotations. I'm currently blacklisting, and this is what I have so far:
[code]
The issue with blacklisting is that models might contain proprietary annotations that will not be removed if they're not in the list. Whitelisting instead has the opposite problem that we might remove something that's needed to repl

[2021-11-05 15:34] adrpo commented on #8067
Just blacklist any annotation starting with "__".

[2021-11-05 17:33] max-privato commented on #8087
I think this could be useful for people (like me) that create FMUs from Modelica, just to understand the usage limits of the created FMUs.

BTW, it seems to me that the very concept of "structural parameter" is not absolute: what is structural for a tool can not be such for another.
Up to some time ago, for instance, the filename of inputs of CombiTables could not be changed for re-simulations. I