[2022-04-12 09:33] #3304 closed

[2022-04-12 09:43] casella commented on #8805
@mahge, apparently this regression creeped in some time after 1.18.1, see [regression report](https://libraries.openmodelica.org/branches/overview-combined-fmi.html), e.g. for the Buildings_latest Library
![immagine](https://user-images.githubusercontent.com/4233148/162930941-8cf51295-f704-4a79-9c42-a348d9dd5cf6.png)

The C runtime has no such problem, see [regression report](https://libraries.ope

[2022-04-12 09:49] casella commented on #8060
My requirement is very simply stated:
- the _package manager_ uses some sophisticated logic to determine what are the most up-to-date backwards-compatible versions of a library dependencies and installs them
- once those libraries are installed, the _package loader_ should use _exactly the same logic_ to load the most up-to-date backwards-compatible installed library.

Is that what happens now? If

[2022-04-12 10:12] perost commented on #8060
I broke a lot of test cases, probably because they use libraries not managed by the package manager. I changed the logic to not replace requested versions for which the package manager returns an empty list, let's see if that works.

[2022-04-12 10:41] adeas31 commented on #5297
The drop down is populated based on [getAvailablePackageConversionsFrom(Modelica, 3.2.3)](https://build.openmodelica.org/Documentation/OpenModelica.Scripting.getAvailablePackageConversionsFrom.html) which lists all the versions that you can possibly convert to according to the package manager regardless if they are already installed or not. OMEdit checks if the requested package is not installed t

[2022-04-12 10:50] perost commented on #5297
It might be a good idea to sort the list so that already installed versions are listed first, since the first version in the list is selected as the default in the drop-down list.

[2022-04-12 10:56] perost commented on #8060
My PR works fine with the changes I made, so I merged it. Please try it out and see if it fixes the issue.

[2022-04-12 11:21] phannebohm commented on #8539
The failing stage is analyzeInitialSystem, which is also responsible for balancing the initial system.
@kabdelhak did some improvements to the algorithm, I guess there is something missing, might be small but I can't tell. It looks like it is somewhere in step 6. of function balanceInitialSystem, `scal_to_arr` is problematic I guess:
https://github.com/OpenModelica/OpenModelica/blob/67d7e86f7287fa

[2022-04-12 11:24] adeas31 commented on #8783
This is indeed related to the fix for #4232. I have adjusted the tolerance and the above example works fine. I also tested that all the examples in #4232 works with the new changes.

Previously we had,

`(qAbs(p1 - p2) <= qMax(1e-4 * qMin(qAbs(p1), qAbs(p2)),1e-5))`

and the new code is,

`(qAbs(p1 - p2) <= qMax(1e-5 * qMin(qAbs(p1), qAbs(p2)),1e-6))`

[2022-04-12 11:25] adeas31 commented on #8783
@lochel this might also fix the issues that you are having.

[2022-04-12 11:49] adeas31 commented on #5297
Sometime back I removed the text that shows if the version is installed or not. Maybe that was not a good idea. Perhaps the drop down can be listed like this,

- (installed) 4.0.0+maint.om
- (not installed) 4.0.0-master
- (not installed) trunk

What do you think @perost ? Will this be good info for the user?

[2022-04-12 12:22] perost commented on #3944
I'm not convinced that's a good idea. Whenever I reduce models to create MWE and need to replace a binding with something simpler I usually choose 1 rather than 0, because using 0 often creates problem like creating empty arrays where it's not expected.

I implemened the same behaviour we have in the old frontend instead, which is to consider dimensions to be unknown if they can't be evaluated dur

[2022-04-12 13:44] bilderbuchi commented on #5297
When, exactly? After start, I already did (and this works):

[2022-04-12 13:56] bilderbuchi commented on #5297
I also have to admit, as (apparently) a non-expert, I am confused by these version identifiers: "trunk", "4.0.0-master" and "4.0.0+maint.om".
* I'm guessing "trunk" is the current master HEAD of https://github.com/modelica/ModelicaStandardLibrary.`
* I'm guessing "4.0.0+maint.om" is release 4.0.0 with OM-specific maintenance fixes? Or is it https://github.com/modelica/ModelicaStandardLibrary/tree/

[2022-04-12 14:12] mhamadAlloush opened #8827 "Converting a running Dymola model to OpenModelica"
Hi Everyone,

I am trying to run a relatively large Dymola model in OpenModelica  (in-house developed model - fluid/thermo). The model runs successfully in Dymola without any warnings. However, in OpenModelica, it shows a translation error which I am not able to locate in the model nor understand:

Internal error Selection of DummyDerivatives failed due to negative system rank of -1!
           Th

[2022-04-12 14:41] casella commented on #8060
OK. I need to figure out a meaningful test case...

[2022-04-12 14:56] casella commented on #8539
Thanks @phannebohm!

@kabdelhak this would be good to get this fixed in 1.19.0. It is an old regression, and it's a shame that @christiankral cannot use OMC for teaching with his library without compromises, using a recent version of OMC. He may still be using 1.16.5 for that reason.

`HanserModelica.Machines.TestDoubleLayer7over9` did work in [v. 1.16.5](https://libraries.openmodelica.org/branche

[2022-04-12 15:13] perost commented on #8539
It got broken when switching to the new frontend, that model works with the old. The difference is a declaration in `TestSingleLayer12over12`:
[code]
The old frontend evaluates the function call in this case while the new one doesn't (because `N` is neither structural nor `final`), so the new frontend creates an initial equation for the binding equation that the backend can't handle (might be beca

[2022-04-12 15:33] #3944 closed

[2022-04-12 15:53] casella commented on #5297
So, what we need to have is a uniform mechanism for selecting libraries
- for the package manager GUI
- for the library conversion GUI
- for the Welcome | System Libraries button

that is consistent, intuitive and easy to use. Currently, what we have is not consistent and not particularly intuitive.

[2022-04-12 15:56] bilderbuchi commented on #5297
Ah thanks, didn't have the right search terms to find _that_ page, apparently. I'll read through it again tomorrow. Thank you for the detailed explanation!

Clearly defined precedence rules can be very helpful as you illustrate, I suspected something like this.
From the linked page (and the semver rules) I conclude
* "4.0.0+maint.om" is actually 4.0.0 release, with the patching hidden as additiona

[2022-04-12 16:02] casella commented on #5297
The Welcome | System libraries shows the installed libraries (including the ones installed by default in the installation directory outside the package manager, this will go away in 1.20.0)
![immagine](https://user-images.githubusercontent.com/4233148/163005205-02512784-d51d-4bc9-a466-07d19fd6927b.png)

[2022-04-12 16:05] casella commented on #5297
The conversion script GUI shows me all the possible libraries I can convert to, including the ones that currently have no level of support, like trunk and 4.0.0-master
![immagine](https://user-images.githubusercontent.com/4233148/163005685-a1757778-7a70-4c61-9806-321cd83932c5.png)

[2022-04-12 16:42] casella commented on #8671
This is now resolved.

[2022-04-12 16:45] casella commented on #8784
@adeas31, in fact there is another small issue here. As we know, arrays indeces in Modelica start from one, not from zero. The plot should actually reflect this. For example, in the MWE shown above, the indeces should go from 1 to 10, not from 0 to 9.

[2022-04-12 16:50] casella commented on #8827
@mhamadAlloush apparently there is some problem with state selection/index reduction.

1. Can you post a minimal working example here that reproduces the problem? You can use File|Save Total, possibly with the Obfuscate option if the model is confidential and you don't want other to reuse it, then zip it and attach it here
2. Did you try running it with the latest 1.19.0 nightly build?

Regarding

[2022-04-12 16:53] casella commented on #8539
Aha! Thanks @perost!

In this case, there's no point wasting time to fix the old backend for that. I assume the new one will be able to handle this kind of things. @kabdelhak can you confirm?

[2022-04-12 17:02] casella commented on #8539
@christiankral, please see https://github.com/christiankral/HanserModelica/pull/13

[2022-04-12 19:39] adeas31 commented on #8783
Yes the largest absolute value works better. Thanks!

[2022-04-12 20:28] #8784 closed

[2022-04-13 07:11] bilderbuchi commented on #5297
Sure, this sounds like a good improvement (although I guess this is not the most pressing issue :-P)
If the re-parsing of the version string into something user-friendly is too difficult, maybe a prominent link to the definition for the strings will already help a lot?

[2022-04-13 09:31] casella commented on #5297
For me, it is. If people do not understand how to deal with the MSL, we're in trouble. @bilderbuchi, what else do you have in mind?

I don't think so. According to semver metadata semantics, "+" translates into "post-release build" and "-" translates into "pre-release build". Piece of cake.

The problem is, no everybody knows what semver metadata sematics is, nor they need to, in order to use OMEd

[2022-04-13 11:03] bilderbuchi commented on #5297
Nothing specific at this point, I meant that generally I try to prioritize bugs & regressions (but I'm not the release planner, here).
Getting unit checking fully functional (#8179) would be nice (it [saves lives](https://github.com/OpenModelica/OpenModelica/issues/8179#issuecomment-985511115), after all 😁 ) although I'm comfortable with running a nightly, so I can also easily grab that later if i

[2022-04-13 11:43] dietmarw commented on #8168
I did some more tests with the latest `OpenModelica 1.19.0~dev-778-g9596bfc`

 1. `Native` vs selecting the platform that my machine is running on `(x86_64-linux-gnu (autodetected)`:
    - Here it is still not clear an neither documented what native vs platform means. The generated FMUs differ in:
        -  size
        - GLIBC dependencies
     - ''Verdict:** I consider this still as  **not fixe

[2022-04-13 13:39] casella commented on #5297
I'm starting to work on it now.

[2022-04-13 13:54] perost commented on #7990
Test cases where added in #8311, but seems I forgot to close this.

[2022-04-13 13:54] #7990 closed

[2022-04-13 15:22] casella commented on #5726
@dietmarw, I just updated the [readme.md](https://github.com/casella/OMPackageManager/blob/master/README.md) file with some information about that. Please have a look and comment if needed.

[2022-04-13 16:09] casella commented on #8165
@adrpo, can you make sure that omc-doc is a dependency on omc, so it is installed automatically?

[2022-04-13 16:10] casella commented on #8236
@adeas31 any chance we can get this in 1.19.0? If so, we can cheery-pick it after we branch off beta.1

[2022-04-13 16:12] casella commented on #8168
@mahge, @AnHeuermann any ideas on how to accomplish this?

[2022-04-13 16:19] casella commented on #8381
@kabdelhak, last ditch reminder, could you have a look before 1.19.0 is released. @perost gave some hints in his comment.

[2022-04-13 16:21] casella commented on #7612
We should probably add a pointer with an URL, so it's easier to keep this up to date

[2022-04-13 16:26] casella commented on #8163
@adrpo can you also give a look?

[2022-04-13 16:32] casella commented on #2447
This is not completely trivial, better to try it out in 1.20.0

And, possibly, introduce the concept of "project".

[2022-04-13 16:39] casella commented on #8805
@adrpo thinks that `Buildings_ThermalZones_Detailed_Validation_BESTEST_Cases6xx_Case600FF_updateBoundParameters` is split into multiple functions, which are handled correctly for the C runtime, but not for FMI.

Please check!

[2022-04-13 16:55] casella commented on #8349
I'm moving this to 1.20.0, unless this is urgently needed by somebody.

[2022-04-13 16:57] casella commented on #5297
I've started a nightly build, I'll check this myself and then close this.

[2022-04-13 18:17] casella commented on #8179
@adrpo, is there a reason why one cannot see PR results without being logged in?

[2022-04-13 18:20] adrpo commented on #8179
@sjoelund updated Jenkins to a newer version that changed the way anonymous users are handled. This was fixed a couple of days ago when we gave read rights to the anonymous user. It should work now.

[2022-04-14 06:48] sjoelund commented on #5297
It really should be "none". It's an MSL version where the version annotation has been replaced with "trunk" instead of containing a version number.

[2022-04-14 07:39] bilderbuchi opened #8834 "Crash when disabling Log plotting"
### Description

When disabling the "Log X" or "Log Y" box in the plotting perspective, OMEdit crashes every time.
Sometimes I get a crash report dialog, sometimes not.

### Steps to Reproduce
* Open  OMEdit
* Switch to the plotting perspective
* Check the "Log Y" box, or the "Log X" box, or both
* Uncheck any checked "Log" box.
* OMEdit crashes

### Version and OS
OpenModelica v1.19.0-dev-770-g67

[2022-04-14 08:19] christiankral commented on #8539
@casella Thanks for your support.

Created new bug fix version [v1.1.2](https://github.com/christiankral/HanserModelica/tree/v1.1.2) of HanserModelica.

[2022-04-14 08:40] AnHeuermann commented on #8168
I'm not sure what the problem is we want to solve in this ticket.

I guess we should open issues for each of these points and discuss them separately and close this issue. This issue did go a bit haywire.

Our compile process of FMUs is not very straight forward and therefore it is hard to figure out what we are actually doing. Maybe @mahge and myself could spend some time to improve CMake FMUs to

[2022-04-14 10:56] bilderbuchi opened #8835 ""Call function" GUI dialog does not take inheritance into account"
### Description

When using the "Call function" dialog in OMEdit, (input) parameters obtained by inheritance are not displayed, and not populated in the call.

### Steps to Reproduce
Use Call function on `Modelica.Fluid.Valves.BaseClasses.ValveCharacteristics.linear`, which accepts one argument `pos` that it inherits from `Modelica.Fluid.Valves.BaseClasses.ValveCharacteristics.baseFun`:
![image](h

[2022-04-14 11:34] #8805 closed

[2022-04-14 14:19] AnHeuermann opened #8838 "Template error for to long file names on Windows"
### Description

When exportin a FMU for Modelica.Mechanics.MultiBody.Examples.Systems.RobotR3.FullRobot in OMEdit I'm getting scripting and translation errors.
Doing "the same" with a mos script only fails when I change into the OMEdit working directory.

The path to the created files in the OMEdit working directory is quiet long, my test directory I started from has a way shorter name.
The file

[2022-04-14 14:48] adeas31 commented on #8834
I encountered this few days ago. This is now already fixed via PR #8823

[2022-04-14 15:05] bilderbuchi commented on #8834
Cook, thanks!

[2022-04-14 15:05] sergniko commented on #8766
I don't know how this feature works. Can't find it in User Manual. Is it working same as filter in variable browser?

[2022-04-14 15:30] casella commented on #5297
do you mean "noSupport"?

[2022-04-14 16:38] casella commented on #8539
As the change makes its way through the pipeline, we should eventually see [this report](https://libraries.openmodelica.org/branches/master/HanserModelica/HanserModelica.html) mentioning 1.1.2 and going all green. Then, we can close the ticket.

[2022-04-14 16:41] casella commented on #8168
I agree it's too late to get this into 1.19.0, since we'll branch off tomorrow. 1.20.0 is more like it.

@AnHeuermann would you mind opening the three separate tickets and mention them here? Thanks!

[2022-04-14 16:43] casella commented on #8805
Thanks @mahge!

[2022-04-14 16:47] casella commented on #8641
This should now be fixed by #8836. Let's wait a few days until 1d7fb13 gets in the FMItest pipeline and then check the [overview-fmi](https://libraries.openmodelica.org/branches/overview-fmi.html) report to confirm. Thanks @mahge for the fix!

[2022-04-14 17:07] sergniko commented on #8766
I've tried, but it didn't work for me.

For example I've opened `Modelica.Mechanics.Translational.Examples.Damper `  and in  `Simulation Setup->Output`, set the `Variable Filter` to `mass.*`.  I expect in results to get only mass1 mass2 mass3.  But I got all variables as for not setting filter at all.

[2022-04-14 17:26] dhblum commented on #8805
Thank you @mahge and @casella for addressing so quickly!

[2022-04-15 08:41] adrpo commented on #8641
[master-fmi 2022-04-14 01:43:05..2022-04-15 01:41:19.html](https://libraries.openmodelica.org/branches/history/master-fmi/2022-04-14%2001:43:05..2022-04-15%2001:41:19.html) 584 improved, 41 regressions; performance 79 improved, 112 regressions

[2022-04-15 09:25] #8641 closed

[2022-04-15 09:31] adrpo commented on #8165
I had a talk with @sjoelund and it seems the omc-doc package was not updated since 1.12. We need to change the way we build and ship documentation inside the source tarballs. I will see if I can manage to fix this.

[2022-04-15 09:58] casella commented on #8766
It seems that the variable filter option of the interactive environment is broken. I tried this test script:
[code]
I would expect only the results of the Bessel filter to be included in the .mat file, but when I load it with OMEdit, I get the full set of variables.

[2022-04-15 11:35] adeas31 commented on #8766
See what is the value of `variableFilter` in the `model_init.xml` file.

[2022-04-15 11:51] adeas31 commented on #8766
I just tested this. `variableFilter` is working fine. The reason you see all the variables listed in Variables Browser is because they are read from `model_init.xml` file. Note that you will only see the checkbox next to the parameters or filtered variables. The rest of them are there so they can be possibly used for re-simulation. This is the intended behavior.

[2022-04-15 11:52] adeas31 commented on #8766
@sergniko if you test this on your model you will note that the size of the result file is a lot smaller.

[2022-04-15 14:38] dhblum commented on #8805
I've updated my nightly build today to OpenModelica 1.19.0~dev-765-g5b322f1 and I'm still getting the same error when exporting from OMEdit.  Would this fix have made it into that build yet?

[2022-04-15 14:41] casella opened #8839 "Add documentation and examples to variable filter options"
The "Variable filter" option is not really documented in the [user's guide](https://openmodelica.org/doc/OpenModelicaUsersGuide/latest/omedit.html#output); we don't even say that a regexp is expected there. Ditto for the variableFilter inputs in several API functions that accept it, e.g. [simulate](https://openmodelica.org/doc/OpenModelicaUsersGuide/latest/scripting_api.html#simulate).

This infor

[2022-04-15 14:41] casella commented on #8766
Aha, I missed that. Now that you mention it, I have a sense of dejà-vù, see [#4898](https://trac.openmodelica.org/OpenModelica/ticket/4898)

I should have also noticed, that, but the file explore window was clipped, so I couldn't see the file size.

The original issue (file size limited to 2 GB) is still valid, but not that urgent. However, the documentation of this feature is really poor, see #88

[2022-04-15 14:57] casella commented on #8839
Adding @sergniko to the loop

[2022-04-15 16:07] casella opened #8841 "Scripting API documentation formatting is questionable"
### Description

In the [documentation of the scripting API](https://openmodelica.org/doc/OpenModelicaUsersGuide/latest/scripting_api.html), the description of each function is formatted as Modelica code, which looks a bit weird, e.g.:

![immagine](https://user-images.githubusercontent.com/4233148/163593790-ceb873c7-e248-4b72-8c2c-1355262631a6.png)

### Expected Behavior

The descriptions should b

[2022-04-15 18:10] sergniko commented on #8766
Yes, it really helps.  Thank you for your help.
I think adding simple warning message in case of results file bigger that 2Gb will be fine.

[2022-04-17 08:52] mhamadAlloush commented on #8827
Hi, thanks.

A total saved file is attached. Please let me know if it sufficient to infer useful information about it. Please note the following:

1) We use OpenModelica v1.19.0 Nightly build
2) The specific model we try to run within this large package is Modell_Katarakt_V07.Setup.Setup_inkl_Handstueck_V17, I hope with the Total package I provided this can be seen on your side, otherwise, can you

[2022-04-19 08:06] AnHeuermann commented on #8168
@dietmarw Did you encounter a compatibility problem with this dynamic linked system libraries?

Until there is an issue I wouldn't change the way we link these libraries.

[2022-04-19 08:19] dietmarw commented on #8168
@AnHeuermann  No not an issue as such just a question as to what OM regards as static since clearly there is still some dependency which might be important to know, i.e., should be documented.

[2022-04-19 08:24] AnHeuermann opened #8842 "Document FMU compilation process in User's Guide"
### Description

The process how the OpenModelica Compiler (omc) is compiling FMUs is not clear or documented in the User's Guide.

The behavior is depending on `platforms`, the used Co-Simulation solver and available software and versions on the user's system and FMI flags.

Re-compilation and cross-compilation of FMUs is not documented and different to the way omc compiles the FMUs. We don't con

[2022-04-19 08:34] AnHeuermann opened #8843 "Disallow inconsistent choices for FMU export settings"
### Description

It is possible to use several different `platforms` that have the same FMU binary target resulting in unpredictable behavior or compilation and linking errors.

### Steps to Reproduce

On an 64bit Linux system running `buildModelFMU` with
[code]
will result in OpenModelica recompiling and overwriting binaries in the `binaries/linux64` directory.

### Expected Behavior

Return a er

[2022-04-20 06:29] dietmarw commented on #5726
@casella This looks very good. However it would also be good to have the documentation of what "release identifiers" are allowed. The code example uses `prerelease`, `>=...`,`*`. Now what else is legal here? Would `>` be allowed and how about `<` and are there other terms than `prerelease` that can be used.  To make it really clear you should list the allowed release identifiers.

[2022-04-20 07:52] sjoelund commented on #5726
https://github.com/OpenModelica/OMPackageManager/blob/master/common.py#L16

`>` and `<` are not allowed.

Entries beginning with a `+` are allowed (to mark certain branches unsupported):
[code]

Other entries match verbatim.

[2022-04-20 09:05] AnHeuermann commented on #8838
We could return a error message that the maximum path length (`MAX_PATH=256`) will be reached when trying to write to a file. A possible solution for the user would be to change the maximum path length limitation.

Basically run powershell with
[code]
on a Windows 10, version 1607 or newer.
Of course many users would not want to do this or aren't allowed to do so.

We would need to count the path

[2022-04-20 09:46] bilderbuchi commented on #8838
Indeed! The prefix approach is probably much more useful.

While you're in there, it might make sense to also take care of the presence of UNC paths. I hit this previously when working on a DFS network share.
See [here](https://github.com/gabrielcnr/pytest-datadir/issues/33#issue-661856259) for additional context (in a Python package, but the mechanism is the same) and [here](https://github.com/ga

[2022-04-20 14:36] mmalloush opened #8844 "How to make use of -d=bltdump for very large models"
Hi,

I have a very large modelica model, which was successfully running on dymola, and now I am trying openmodelica but not successful yet. The error is showing up at translation stage. Among the list of flags, the translation flag -d=bltdump can print useful information, but I kindly ask if anyone can give me a hint on what to look at exactly after the info gets printed. The number of variables i

[2022-04-20 21:50] casella commented on #8805
No, it's not, as you can see from the [commit history](https://github.com/OpenModelica/OpenModelica/commits/master) ecf58a9 came much later than 5b322f1. You can try the latest nightly build, or the 1.19.0-beta.1 release.

[2022-04-20 21:54] dhblum commented on #8805
@casella Ohh, now I see how the nightly build suffix "g5b322f1" is linked to the latest commit number.  Sounds good, thank you for the clarification!

[2022-04-20 21:55] casella commented on #8766
@AnHeuermann, @sjoelund, @adrpo are we keeping track of the size of the .mat file as we write data into it? In that case, this would be doable.

[2022-04-20 21:58] casella commented on #8168
I agree, if there are some shared libraries that are expected to be found on _every_ system, there's no point in statically linking them; I also agree this should be properly documented.

And, I hate dll hell :)

[2022-04-20 22:03] casella commented on #8838
@AnHeuermann, in your example of file name, the full path of the Modelica model is repeated three times. The first time is necessary, to keep uniqueness of simulation results in the working directory. However, for the other two times, this is not really necessary, only the name of the model would suffice. In your example case, we'd get this path:
[code]
which is way below 254 characters and is eas

[2022-04-20 22:07] #8844 closed, assigned to kabdelhak

[2022-04-21 09:43] AnHeuermann commented on #8838
I don't think this is the best solution. Next time someone creates a library with longer names we have the same issue.

Using  he `\\?\` prefix is the saver one. I only have to check how to do it.
For the template generation we could change `System.writeFile` to check the path length and either issue a warning or add the string `"\\\\\?\\"` or go one level deeper and change the C functions that ac

[2022-04-21 14:48] AnHeuermann commented on #8838
I could add that to the error message.

But I don't like, that users have to change the names of the models/fmus or the working directory to be able to use one of the core features for a MSL model.
And this won't solve my issue with profiling the FullRobot example.

[2022-04-21 14:49] AnHeuermann commented on #8838
@bilderbuchi Please open a feature request in a new issue for this. I can't test UNC paths on my machine. The change itself wouldn't be difficult. Just adding `"\\\\\?\\UNC\\"` to the front of the filenames. But I wouldn't be surprised if the compiler chain can't handle these paths.

[2022-04-21 14:52] adrpo commented on #8838
Make for sure cannot handle these paths. Gcc and Clang might work directly

[2022-04-21 16:26] dhblum commented on #8805
Indeed, this is fixed, tested with OpenModelica 1.20.0~dev.

[2022-04-21 21:36] mwetter opened #8849 "Record seem to be not fully copied when passed to external C function"
### Description

The model below uses a C function to print the value of a record. The first element of the record is printed correctly, but the second element is incorrectly 0. It looks like the value is not set when passing the record to the C function.

### Steps to Reproduce

Run the model:
[code]
using the C function
[code]
### Expected Behavior

`i` and `j` should each have the same value, b

[2022-04-21 21:38] perost commented on #8849
Probably a duplicate of #8591.

[2022-04-22 08:40] bilderbuchi opened #8850 "Support UNC paths on Windows"
Split out of #8838 as requested by @AnHeuermann

While/if support for Windows "long paths" is being added, it might make sense to also allow for the presence of [UNC paths](https://en.wikipedia.org/wiki/Path_(computing)#Universal_Naming_Convention) (e.g. `\\ComputerName\SharedFolder\Resource`). I hit this previously (with Python/non-Modelica code) when working on a DFS network share, so it might b

[2022-04-22 09:12] bilderbuchi commented on #8244
What would also be awesome in this connection, if in the text view I could hover over a class name and right-click "Open class", just like it works in the diagram view. This is especially useful when inheriting models don't use the diagram view.
For example, derive a class from `Modelica.Fluid.Vessels.ClosedVolume` and then find out where/how its `T_start` is defined.

The current workaround is to

[2022-04-22 09:14] AnHeuermann commented on #8850
It seems we are able to use Windows long paths (probably UNC as well) for file generation. But the compiler tools we are using (gcc, make, ld, ...) to compile are not working on long paths.

[code]

Maybe the Visual Studio compiler can handle these paths. So one would need to work with them.
I never used them in OpenModelica / never got them working.

[2022-04-22 09:22] bilderbuchi commented on #8850
I suspect one of the path conversion techniques need to be used. As this is mingw (but not msys?) I think there are ways to translate paths to unix-style, maybe those already in place are failing.
(I haven't run into the issue with OM yet, in any case)

[2022-04-22 10:22] casella commented on #8591
@perost we need to sort this out to support ExternalMedia in OMC, which is something many people are asking (including myself). Are you now working on this? It would be good to have at least a workaround to make some progress.

Thanks!

[2022-04-22 10:33] perost commented on #8591
No, I assumed @mahge would look into it since he's worked on the code generation for records in the past.

[2022-04-22 11:17] BasilioPV commented on #8211
Dear all, any progress on this issue?

[2022-04-22 13:05] fedetft commented on #8738
I've prepared a minimum non working example that will hopefully simplify the debugging. I only tested it on Linux, but the Resources/Source directory contains a CMakeLists.txt that should also work on Windows.
Just checking the TestFoo model makes OMEdit crash, and recompiling the library without the cout makes it work.
[mnwe.tar.gz](https://github.com/OpenModelica/OpenModelica/files/8541217/mnwe.

[2022-04-22 16:00] fedetft commented on #8738
I checked as well, and I confirm that with the release 1.18.1 the minimum non-working example runs, so it appears the cout bug is a regression introduced in 1.19

[2022-04-22 17:31] casella commented on #8838
@AnHeuermann, it may not be the ultimate solution, but in any case I don't really see a point at having these ultra-long file names, when there is absolutely no need to have them that long. The ambiguity with model names can only happen at the level of working directory. In fact, everywhere else we could even get rid of the model name entirely. Incidentally, that's what Dymola does, if I am not mi

[2022-04-22 17:33] AndreaBartolini opened #8852 "Model check fails is stream variables are used in Hierarchical connectors"
### Description

Consider the following package `TestHierarchicalConnector` (also attached):

[code]

- the connector `C1` is balanced and contains a flow variable plus a stream variable
- the connector `C2` is balanced and contains a flow variable
- the connector `HC` is hierarchical and contains `C1` and `C2`

The model `Test` instantiates a connector `HC`

If you check the model `Test` the omc

[2022-04-22 17:35] casella commented on #8591
@mahge can you do that? It turns out this is also needed to run Buildings, so it is really top priority. Thanks!

[2022-04-22 17:37] casella commented on #8850
Maybe @adrpo can give some advice.

[2022-04-22 17:39] casella commented on #8244
Definitely worth a separate ticket. Sorry for being a bit pedantic, but having hundreds of partially finished tickets because of issues that are loosely related to the title and remain open forever is really a no-no for good project management :)

[2022-04-22 18:01] perost commented on #8852
Should be fixed in #8853, but our servers are a bit wonky at the moment so it might be a while before I can get the PR merged.

[2022-04-22 18:43] bilderbuchi commented on #8244
Hey, I definitely hear you, I was just not sure. I'll do that.

[2022-04-22 18:47] bilderbuchi opened #8854 "Right-click Open class in text view"
What would also be awesome in connection to library/component browsing (#8244), is if in the text view I could hover over a class name and right-click "Open class" (or even better press a shortcut), just like it works in the diagram view.
This is especially useful when inheriting models that don't use the diagram view.
For example, derive a class from `Modelica.Fluid.Vessels.ClosedVolume` and then

[2022-04-23 08:33] #8852 closed

[2022-04-23 09:25] bilderbuchi commented on #8244
Btw, regarding PM, have you considered establishing that people leave a :+1: reaction on an issue's top post as a way to indicate interest/affectedness, as a way to help prioritise community needs without people leaving "+1" comments or somesuch? Nowadays you can even [sort issues by this](https://github.com/OpenModelica/OpenModelica/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc), so it

[2022-04-23 23:37] adrpo commented on #8163
Tested this on my WSL by modifying the installed /usr/lib/OMSimulator/capi.py with the modifications from: https://github.com/OpenModelica/OMSimulator/pull/1156/commits/c2b5c446ef8f4510f12f197d2ea7c553c6e14338.
We will close this when we update the OMSimulator submodule in the OpenModelica project.

[2022-04-24 01:35] #8163 closed

[2022-04-25 08:56] bilderbuchi commented on #8635
This is especially annoying when one tries to get good indentation of parameters to avoid exorbitant line lengths, and adds comments to those parameters, as the pretty-printing algorithm puts all those comments after the component definition.

[2022-04-25 11:49] phannebohm commented on #8539
All green.

[2022-04-25 11:49] #8539 closed

[2022-04-25 12:37] bilderbuchi opened #8859 "Pretty-printing algorithm mangles comments/linebreaks"
### Description
The pretty-printer destroys attempts to structure component definitions with the aim to avoid needlessly long lines. It removes (intentionally inserted) linebreaks, and puts source comments into a different order, which is quite undesirable.
The impact of this is increased because currently (#8635) the pretty printer runs after deleting components.

I have resorted to watching my G

[2022-04-25 12:51] bilderbuchi opened #8860 "displayUnit conversion results in many trailing zeros"
### Description
Using displayUnit on component parameters sometimes results in values with a large number of trailing zeros and a 1 in the last digit.
This reduces readability of the code, and maybe just stems from a string formatting problem

### Steps to Reproduce
* Open this model, where we added a display unit to `rod.L`:
[code]
* Switch to the diagram view
* Open the properties dialog of `rod

[2022-04-25 12:57] casella commented on #8738
The issue is only present in OMEdit, not with OMShell, so it's some issue with OMEdit or QT. Maybe QT is redirecting some stuff and messing with them. Could be OMSimulator, which is also linked to OMEdit. The bug is present both with gcc and clang, so it's not a compiler issue.

@mahge can try compiling without OMSimulator and see what happens

[2022-04-25 13:24] casella opened #8861 "Reduce timeout for interaction with the package manager server"
The current timeout when trying to communicate with the package manager server is set to the default of libcurl, which is 300 s (!!). Waiting for 5 minutes for a connection to estabish makes no practical sense, this should be reduced to something that a normal user is willing to wait without getting annoyed. I would suggest 8 s.

There is very little chance that if a connection cannot be establish

[2022-04-25 13:31] casella opened #8862 "Communication issues with package manager at startup after new installation (proxy?)"
@rfranke experienced some problems related to package management communication when installing 1.19.0. He installed 1.19.0-beta.1 from a previous installation where he selected MSL 3.2.3 to be loaded by default.

Despite having internet connection, OMEdit gave scripting errors upon starting, because it could not locate MSL 3.2.3 nor download it. This raises several potential issues
- [x] we should

[2022-04-25 13:34] casella commented on #8852
@AndreaBartolini thanks for reporting! Please try out with the latest nightly and report if this works for you now as well.

[2022-04-25 13:38] casella commented on #8244
Sounds like a good idea, the problem is how to make this widely known, any suggestion?

[2022-04-25 13:44] casella commented on #8635
@mjschuh unfortunately there is no way to disable the pretty-printing algorithm. The models with which you interact in the GUI are contained in OMC's memory as abstract syntax trees, without any formatting. Whenever you add or remove some stuff, a diff algorithm is run to figure out what changed, and then the original source code is only changed where it really matters, while leaving all the exist

[2022-04-25 13:46] casella commented on #8539
One more library with 100% OMC support :)

Thanks to @christiankral for the quick reaction on the library side.

[2022-04-25 13:48] casella commented on #8859
@bilderbuchi see [my comment in #8635](https://github.com/OpenModelica/OpenModelica/issues/8635#issuecomment-1108596109).

@sjoelund, another test case for the diff algorithm, can you please have a look?

[2022-04-25 14:42] mjschuh commented on #8635
Thank you @casella for explaining why pretty-printing is called.

From trial and error testing, I have found that pretty-printing is triggered by what look like innocuous comments in my code.  Is there any logging that shows what triggered the pretty-printing?  If so, perhaps I could use the logging output to figure out how to write comments that work better with pretty-printing.

Thanks, Michael

[2022-04-25 16:51] bilderbuchi commented on #8860
Oops, yeah, this indeed looks like a dupe, sorry about that!

[2022-04-25 17:31] casella commented on #8635
@mjschuh, go to Tools | Open Temporary Directory, then open the `omeditcommunication.log` file, where all communication between OMEdit and OMC is logged.

On Windows unfortunately there is a significant time delay before the communication buffer is flushed to the file, so you may need to do something extra to eventually see what you are interested into in the file. Anyway, every API call is timest

[2022-04-25 17:43] casella opened #8865 "Handle decimals in correctly and consistently in all contexts"
On several occasions, OMC returns outputs with badly rounded decimals, whenever the float representation of the decimal number is not exact, for example
- [x] when returning flat Modelica output (see MWE in #7465)
- [x] when converting non-SI displayUnit parameter inputs to SI-units values in OMEdit (see #8860, #8062, and #12003)
- [x] when converting default SI parameter values in non-SI display

[2022-04-25 17:44] casella commented on #8860
In fact, good that you raised this issue, that was left stranded as many others. I opened #8865 on this topic.

[2022-04-25 20:48] AndreaBartolini commented on #8852
Already tried, and it works fine.
Thanks for the quick fix.

[2022-04-25 22:35] mjschuh commented on #8635
Thank you @casella for your help with the log files.  I will give what you said a try.

[2022-04-26 07:01] christiankral commented on #8539
Thanks to the great OpenModelica team @casella @phannebohm @perost @kabdelhak for making this possible!

[2022-04-26 07:56] casella commented on #8539
@christiankral, this is only the beginning :)

[2022-04-26 08:43] broisZhang opened #8867 "the results of the api (getElements) is not correct"
When i use the api(getElements) for getting info of model,the result is not correct.

omc.sendExpression("getElements(Modelica.Media.Interfaces.PartialMedium, useQuotes = true)")

the results:
(('co', '-', 'Modelica.Media.Interfaces.Choices.IndependentVariables', 'ThermoStates', 'Enumeration type for independent variables', 'public', 'false', 'false', 'false', 'false', 'constant', 'none', 'unspeci

[2022-04-26 11:18] thorade commented on #5602
https://trac.openmodelica.org/OpenModelica/ticket/5602
https://doi.org/10.1016/j.amc.2021.125991

[2022-04-26 13:53] casella commented on #8867
If you check the [definition of PartialMedium](https://github.com/modelica/ModelicaStandardLibrary/blob/94f2be9f84e4056acbb6210cd48cca2054ae23c4/Modelica/Media/package.mo#L4956), you'll see:
[code]
hence, all types defined in `Modelica.Media.Interfaces.Types` are also defined within each medium model. This allows to use those type definitions directly when declaring all medium properties, without

[2022-04-26 13:53] #8867 closed

[2022-04-27 01:17] broisZhang commented on #8867
Thank you for your reply。
You mean the result (Modelica.Media.Interfaces.PartialMedium.AbsolutePressure) of the api is right?
Is it not this (Modelica.Media.Interfaces.Types.AbsolutePressure)?
![image](https://user-images.githubusercontent.com/87741169/165418869-08925f5d-0889-4e80-95b1-d7dbb0341a26.png)

[2022-04-27 07:58] casella commented on #4586
Original ticket: https://trac.openmodelica.org/OpenModelica/ticket/4586

[2022-04-27 07:59] casella commented on #4586
@perost, once the new instantiation-based API for OMEdit is rolled out, it would be nice to discuss this feature. It would be really nice to have, also for teaching purposes.

[2022-04-27 08:02] casella commented on #8867
`PartialMedium` extends `Modelica.Media.Interfaces.Types`, hence it incorporates everything that is defined there, including the definition of the `AbsolutePressure` type, which becomes part of `PartialMedium`. So, when used within the scope of `PartialMedium`, that type definition is correctly referred to as `Modelica.Media.Interfaces.PartialMedium.AbsolutePressure`, even though it was _originall

[2022-04-27 08:13] casella commented on #8758
@adeas31 could you take care of this before the final release? This should be fairly straightforward to implement. Thanks!

[2022-04-27 09:15] broisZhang commented on #8867
Thanks a lot. 👍

[2022-04-27 21:30] Arinomo opened #8873 "Failed to auto-load MSL after fresh install"
### Description

I re-installed OM and every time i open OMEdit, it failed to load MSL automatically

![Capture](https://user-images.githubusercontent.com/52284681/165634041-f3536743-c7cc-4200-9a7c-24116900c464.JPG)

[code]

### Steps to Reproduce

Install current nightly build (22/4/2022)
Open OMEdit

### Expected Behavior

MSL is found in installation dir and automatically loaded

### Version an

[2022-04-27 22:13] Arinomo commented on #8806
@casella sorry for the very late answer. Sadly i still cant update a package that using my library via GUI.

The test packages are [here](https://github.com/OpenModelica/OpenModelica/files/8578065/ConversionTest.zip).

I manually copied ```myLib``` to ```~//AppData/Roaming/.openmodelica/libraries/``` and set OMEdit to automatically load it at start.

I the load ```myBib``` and right-click on it to

[2022-04-27 23:30] casella commented on #8244
@bilderbuchi, I put the info in this file https://github.com/OpenModelica/OpenModelica/blob/master/BUGREPORTING.md and linked it fro the USERS | Report Bugs and DEVELOPERS | Report Bugs menu of https://openmodelica.org/

[2022-04-27 23:39] casella commented on #8873
Yes, we already got reports of this issue from @rfranke and @AndreaBartolini, we'll fix it for 1.19.0-beta.2 ASAP.

[2022-04-27 23:46] casella commented on #8806
I'll double-check. It could be that copying your library to the package manager directory is not enough, because it is not indexed, so that this feature only works for libraries that are actually managed by the package manager.

@sjoelund, @adeas31, can you please confirm?

[2022-04-28 03:58] mjschuh commented on #8635
I took another look at my test case and I found that the <code>// 72000 seconds</code> comment following the <code>connect(DepositionHeatExchanger.port_tubes_a, flowResDepChamOut.port_b)</code> statement and before the <code>annotation</code> statement is causing the Pretty Printing algorithm to be called after the FlowResDepChamIn and FlowResPreChamOut models in [PrettyPrintingTest.mo.txt](https:

[2022-04-28 05:11] bilderbuchi commented on #8244
I think CONTRIBUTING.md is sort of a "standardised" file on github, so would have added a section there. I don't know if the same can be said for BUGREPORTING.md, but it's probably going to work out visibility-wise. If not, you'll notice anyway 😃

[2022-04-28 05:15] bilderbuchi commented on #8635
For this, I recommend having your project under version control, and having a good handle on its status. It's probably going to be easier to git-revert a change than digging through log files. 😃

[2022-04-28 08:06] casella opened #8874 "OMEdit should open the HTML User's Guide corresponding to the installed version"
When selecting Help | Open Modelica User's Guide, this link is opened in the browser: https://openmodelica.org/doc/OpenModelicaUsersGuide/latest/

This is not a good idea, because we will be showing new features as we are developing and documenting them on master, that are actually not available on official release installations.

The pdf version of the documentation instead refers correctly to th

[2022-04-28 08:08] casella commented on #8839
@sergniko, please check https://openmodelica.org/doc/OpenModelicaUsersGuide/latest/omedit.html#output

[2022-04-28 16:57] max-privato opened #8877 "Toggling sign should not un-zoom"
### Description

Toggling sign should not un-zoom

### Steps to Reproduce
1. show a plot
2. 2. zoom on part of it
3. toggle sign: the curve is toggled but it is also unzoomed

### Expected Behavior
Toggling sign should just toggle sign.
When we are looking at a part of a plot, we expect the same part of the plot to be shown, with sign toggled.
For instance, in a ten-second simulation, we are just

[2022-04-28 17:12] max-privato opened #8878 "Unloading an output file should not unfold other output files"
### Description

In Omedit, plotting perspective, if we have several output files, we may want to unload one of them. When we do this, all output files are folded, which is not the expected behaviour

### Steps to Reproduce
1. run two different models, so that two output files are present in Plotting perspective
2. open one of them, so that the list of its variables is shown; the second file remai

[2022-04-28 17:29] max-privato opened #8879 "Bad behaviour of text completion"
### Description

### Steps to Reproduce
paste the following code into OMEdit:

[code]
Imagine we note that the word `IdealGTOThyWithBadText` is badly written.
We go with the cursor immediately after 'y' meaning that the text should continue as "thyristor"; we just write 'r' and OMEdit brilliantly proposes "IdealGTOThyristor" At this point, to accept the suggested completion, one clicks tab, expect

[2022-04-28 23:39] casella commented on #8635
@sjoelund any idea why that comment should cause the diff algorithm to fail?

[2022-04-28 23:41] casella commented on #8244
We do have [CONTRIBUTING.md](https://github.com/OpenModelica/OpenModelica/blob/master/CONTRIBUTING.md) but it's meant for developers, not for end users.

[2022-04-28 23:42] casella commented on #8877
Most definitely!

[2022-04-29 07:17] kabdelhak commented on #8772
@bernhardbachmann

[2022-04-29 13:31] fedetft commented on #8738
The cout object may be corrupted in some way, if someone can attach to OMEdit with GDB, it may be possible to dump the cout object bytes right at the beginning of main() and after OMEdit has started to see if there is any obvious corruption, such as the memory area being zeroed out.

[2022-04-29 13:35] casella commented on #8738
@mahge, did it work without OMSimulator?

I will do some bisection with the nightly builds and try to figure out when things got wrong

[2022-04-29 14:43] mahge commented on #8738
Not so easy as it happens. I was hoping I could comment out some parts and compile. But I need to stub some things out to get it working. I left it for a while to do other things mostly because the more I realized how much I need to do the more I convinced myself OMSimulator is probably not the root cause 🙂. But I will get it sorted out. No worries.

This is correct. It will actually not work unti

[2022-04-29 15:31] adeas31 commented on #8738
If you create a dummy OMSProxy.cpp then you perhaps don't need to change everywhere.

[2022-04-29 17:36] sergniko commented on #8839
I think this is good.
Maybe worth adding a note that all of variables are still be in Variables browser. So filter effect you can observe with absence of checkbox next to variable.

[2022-05-02 11:41] casella opened #8881 "1.19.0-beta.1 loads the wrong pre-installed MSL version on Windows"
I just installed 1.19.0-beta.1 on Windows, after deleting all installation files, so it should work as a first installation.

If I start OMEdit and load a library using MSL 3.2.3 (e.g. PowerGrids), I get these scripting notifications
[code]
and then of course nothing works because the wrong MSL is loaded.

I tried to figure out why this happens by looking at omcommunication.log but I got a bit los

[2022-05-02 11:47] sjoelund commented on #8881
Is 3.2.3 installed?

[2022-05-02 12:02] casella commented on #8881
Of course it is :)

[2022-05-02 12:04] casella commented on #8881
[code]

[2022-05-02 12:04] casella commented on #8881
@perost, I guess [loadFile()](url) loads the wrong MSL

[2022-05-02 12:11] casella commented on #8555
@kabdelhak will have a look

[2022-05-02 12:19] casella commented on #8881
Small MWE attached, [TestMSL.zip](https://github.com/OpenModelica/OpenModelica/files/8602716/TestMSL.zip).

Just unzip it and run omc test.mos. You get
[code]

[2022-05-02 12:38] sjoelund commented on #8881
On Linux with Modelica 3.2.3 and 4.0.0 in /usr/lib/omlibrary (but not Complex/Services):
[code]

[2022-05-02 13:31] casella commented on #8881
Looks good. As I understand, this error message is then caught by OMEdit to cancel loading the library, or to unload everything and reload the offending library from start, @adeas31 can you please confirm?

How does this work for libraries which are not under package management, but just happen to be located somewhere in the MODELICAPATH? As I understood from today's discussion, different builds o

[2022-05-02 13:43] casella opened #8882 "OMEdit 1.19.0-beta.1 can't pre-load the preinstalled MSL versions on Windows"
### Steps to Reproduce

- Delete the AppData `AppData\Roaming\.openmodelica` and `AppData\Roaming\openmodelica` directories, to start with a fresh, clean installation.
- Install 1.19.0-beta.1, including both versions of the MSL (default choice)
- Start OMEdit, go to Options | Libraries and add Modelica 4.0.0 to the list
- Close OMEdit
- Open OMEdit
- The following error message is displayed
[code]

[2022-05-02 13:47] casella commented on #8882
As noticed by @adeas31, if you edit the MODELICAPATH in Options | Libraries and remove the path of the package manager, leaving only `C:/Users/Francesco Casella/AppData/Roaming/.openmodelica/libraries/;`, then the libraries are loaded correctly.

[2022-05-02 13:48] perost commented on #8881
It tries to load an exact version first, and otherwise some greater version (the greatest?).

Yes, pretty much.

[2022-05-02 14:34] casella commented on #8881
Loading the exact version first is not necessarily a good idea, if there are newer ones that are backwards-compatible in the same path. Even more importantly, loading the greatest one next is not in general a good idea either, since it may not be backwards-compatible, and then you would run into problem when trying to run actual stuff after loading.

Assuming that libraries outside the library man

[2022-05-02 14:49] perost commented on #8881
Implementing that might be quite a lot of work. As Martin hinted at during the meeting we should probably reimplement the external C part in MetaModelica so we can integrate it better with the ClassLoader and the package manager. Right now it's quite messy since we basically have two systems that don't interact well.

[2022-05-02 15:00] sjoelund commented on #8881
The package manager also does not do dependency resolution, but it could in the future and then it would improve both systems.

And yes, it can be done. But would be better to skip the external C stuff. That's just putting lipstick on a pig. At least in MetaModelica we can parse semver and make some assumptions. If we have write access to the directory, we could also parse the library and add meta

[2022-05-02 15:28] casella opened #8883 "Integrate the package manager and the ClassLoader in MetaModelica"
The ClassLoader currently uses external C code to accomplish the task (see [this comment](https://github.com/OpenModelica/OpenModelica/issues/8881#issuecomment-1114834238)), and is not well integrated with the package manager.

The loadModel() API uses the package manager API to load the most recent backwards-compatible installed version using [getAvailablePackageVersions()](https://openmodelica.o

[2022-05-02 15:29] casella commented on #8060
Based on @perost [previous comment](https://github.com/OpenModelica/OpenModelica/issues/8060#issuecomment-1096446592), I understand the class loader should work fine, as long as it is requested to load libraries that are indeed managed by the package manager, because it uses the package manager API to figure out the most recently installed library which is backwards-compatible with the requested o

[2022-05-02 15:29] #8060 closed

[2022-05-02 20:03] casella opened #8885 "Ensure that the class loader automatically loads the best version of non-packaged-managed libraries"
The MODELICAPATH contains an ordered list of paths where to look for libraries when loading them, either explicitly (`loadFile()` API call or File | Open Model/Library files in OMEdit), or automatically, due to `uses()` annotations.

If the path is the package manager directory, it holds an index file with metadata that can be processed by the package manager. The currently implemented logic (see

[2022-05-02 20:35] casella commented on #8881
Gotcha! Yet another case of trouble caused by Bill Gate's brilliant idea to use slashes for options and backslashes for directories in MS-DOS, may God bless him 👿

- Case 1: immediately after installation, the MODELICAPATH string in Tools | Options | Libraries is `C:/Users/Francesco Casella/AppData/Roaming/.openmodelica/libraries/;C:/Program Files/OpenModelica1.19.0-dev.beta1-64bit/lib/omlibrary`.

[2022-05-02 20:39] casella commented on #8882
The root cause is the same as in #8881, if the slashes in the package manager are turned into backslashes, everything works fine.

Once #8881 is fixed properly, this issue should be resolved automatically.

[2022-05-02 20:40] casella commented on #8881
Please make sure that both forward and backward slashes in MODELICAPATH work on Windows, one never knows if a tool working on multiple platforms expects one or the other, so supporting both seems the best option.

[2022-05-02 21:02] casella commented on #8881
One more important remark: setting MODELICAPATH with backward slashes in the package manager path allows the other path (i.e. the one with the program files directory) to be actually used to load the default MSL.

However, it actually prevents the package manager to run, I guess because it was written by @sjoelund to use Unix-style directory names. If I set MODELICAPATH to `C:\Users\Francesco Case

[2022-05-02 21:36] casella opened #8886 "The package manager doesn't work with Buildings 8.1.0 on Windows"
I just tried to use the package manager with OMEdit under Windows to install Buildings 8.1.0, using 1.19.0-beta.1, but I failed. I then reproduced the issue with a simple `install.mos` file containing the following line:
[code]
Running `omc install.mos` produces the following output:
[code]
However, if I do the same on Linux with OpenModelica 1.20.0~dev-4-g9b510d8, I get
[code]
This may be due to

[2022-05-02 22:58] casella commented on #8873
This should be the same issue as #8881. @Arinomo please check once that is fixed.

[2022-05-02 22:59] casella commented on #8671
All tasks done.

[2022-05-02 22:59] #8671 closed

[2022-05-02 23:17] casella commented on #8777
Short directory names seem to be used now, since the error I get with 1.19.0-beta.1 uses them. However, the issue is not yet fixed. Please unzip the [TestAccentedLetterDir.zip](https://github.com/OpenModelica/OpenModelica/files/8606514/TestAccentedLetterDir.zip).

If you attempt to load TestLibrary/package.mo from OMEdit under Windows, you get
[code]
while if you run omc test.mos, you get
[code]
@

[2022-05-02 23:17] casella commented on #8236
@adeas31, can we get this in 1.19.0?

[2022-05-02 23:20] casella commented on #8839
@adeas31 can you take care of task item number 3?

[2022-05-03 00:03] casella commented on #8839
Done in #8887 and #8888.

[2022-05-03 06:30] bilderbuchi commented on #8859
@casella Is it possible that the MSL conversion script machinery uses this pretty printer in the background?
I have just attempted to convert a package, and the git diff shows me that some comments (both at the end of lines, and comments on a line by themselves!) are moved downward, sometimes by tens of lines! They get bunched together near the end of the model. This totally destroys the context t

[2022-05-03 07:03] casella commented on #8859
It uses it in the same way OMEdit does: every time a change is made to the code in the API, it has to be merged into the old formatted source code. If this fails, the pretty-printer kicks in as a fall-back, and since it doesn't know about comments, they are pretty much destroyed.

@sjoelund is working on that.

Agreed.

This is something that shouldn't happen anyway.

That would be very useful ind

[2022-05-03 10:49] bilderbuchi commented on #8859
I was imprecise, I meant "annotated" in the sense of "further explained by comments", not in the Modelica `annotation` sense.

[2022-05-03 11:17] bilderbuchi commented on #8859
Creating a model and paste this code:
[code]
Pressing Save results in this code:

[code]
Note how all comment slipped to a separate line, and especially that all comments _within_ the `with` statement were ejected from the `with`, destroying the context/connection to the code they were commenting on.

Now, I found a trigger for this. Note how in the last-but-one comment line `//      end if; // `,

[2022-05-03 11:20] bilderbuchi commented on #8859
Now, if I remove that trailing space to avoid _that_ trigger, and put this block into a package
[code]
and run the conversion to MSL4, I end up with clustered and appended comments as before, so the pretty printer gets triggered in another way:
[code]

[2022-05-03 11:32] bilderbuchi commented on #8859
Fun fact about the conversion process I just noticed, apparently it removes newlines at the end of files for no reason I can discern (even if nothing else in that file is changed), which my Git complains about with "\ No newline at end of file" in the diff.
I don't know if that stems from the pretty printer or something else.

[2022-05-03 12:27] casella commented on #8859
@sjoelund, any explanation for that, and any hope for it to be fixed, eventually?

[2022-05-03 12:40] phannebohm opened #8890 "Using `der` on parameters"
### Description

When using the derivative operator on a parameter, the model fails in the runtime.

### MWE

[code]

### Expected Behavior

The model should do one of two things:
* set `x = 0` and run without error, perhaps emit a warning.
* fail with a good error message, probably in the backend.

[2022-05-03 14:49] casella commented on #8890
Although I can't find any useful use case for such a construct, from a mathematical standpoint the derivative of a parameter is zero by definition. I can't see why this should be an error.

A warning could be justified by the fact that der(p) plays no useful role, so it's probably a mistake, and it is good reporting that. But I'm not sure about this, I guess we could skip that.

Hence, I would sug

[2022-05-03 14:54] perost commented on #8890
The [specification](https://specification.modelica.org/master/operators-and-expressions.html#modelica:der) says:

[2022-05-03 14:57] phannebohm commented on #8890
Should the frontend already do that substitution?

[2022-05-03 14:59] perost commented on #8890
It could easily do that if we want, during simplification perhaps?

[2022-05-03 15:07] perost commented on #8890
Something like #8892 perhaps?

[2022-05-03 15:20] casella opened #8893 "Add a (structural) variable filter to the backend for efficient simulation"
The current runtime allows to select which variables to write to the simulation result file, by selecting [Simulation Setup | Output | Variable filter in OMEdit](https://www.openmodelica.org/doc/OpenModelicaUsersGuide/latest/omedit.html#output), or by providing a variableFilter input to the [simulate()](https://openmodelica.org/doc/OpenModelicaUsersGuide/latest/scripting_api.html#simulate) API fun

[2022-05-03 16:43] casella opened #8894 "Make --generateSymbolicJacobian true by default"
Since a while ago, the backend has been capable to generate symbolic Jacobians for the RHS of the causalized ODE equations. The option is activated with the flag [--generateSymbolicJacobian](https://openmodelica.org/doc/OpenModelicaUsersGuide/latest/omchelptext.html#omcflag-generatesymbolicjacobian), which is currently false by default. As long as we keep it like that, nobody will actually use it,

[2022-05-04 08:24] AnHeuermann commented on #8886
I bet its the good old path limit on Windows, see also https://github.com/OpenModelica/OpenModelica/issues/8838.

`C:/Users/Francesco Casella/AppData/Roaming/.openmodelica/libraries/Buildings 8.1.0/Resources/ReferenceResults/Dymola/Buildings_Fluid_Geothermal_Borefields_BaseClasses_Boreholes_BaseClasses_Functions_Validation_InternalResistancesTwoUTube_NegativeResistance.txt` is 260 (>256) charcters

[2022-05-04 08:31] sjoelund commented on #8886
So fopen here needs to be changed for Windows? https://github.com/OpenModelica/OpenModelica/blob/master/OMCompiler/Compiler/runtime/om_unzip.c#L101

[2022-05-04 08:38] AnHeuermann commented on #8886
I'm creating a function `System_longpath` in PR #8848 that translates a path `some\path` to the equivalent `\\?\C:\some\path` and used it in some places during template generation with
[code]

[2022-05-04 08:39] AnHeuermann commented on #8886
But maybe we should just integrate that into `omc_fopen` and never use `fopen` anywhere. Samoe for the other file functions (check for existence, check mode, whatever...)

[2022-05-04 09:22] perost commented on #8890
Fixed with #8892.

[2022-05-04 09:22] #8890 closed

[2022-05-04 14:03] Arinomo commented on #8873
Similar to issue #8882

[2022-05-04 14:20] adrpo commented on #8882
What OPENMODELICAHOME is set to:
[code]

Script:
[code]

Result:
[code]

This however does not work:
`loadModel(Modelica, {"3.2.3"}); getErrorString();`

We get:
[code]

Debugging now ...

[2022-05-04 15:45] adrpo commented on #8882
I compiled your branch and I get this:
[code]

I will debug why we get the "Requested package Modelica of version 4.0.0" if we asked for "3.2.3".

[2022-05-04 18:22] casella commented on #8890
Shame on me, I should have checked 😄

[2022-05-04 18:26] casella commented on #8886
Bill Gates again. God bless him.

@adrpo figured a solution using short windows path names (which also covered weird characters), could it be used here?

[2022-05-04 22:41] adeas31 commented on #8886
AFAIR if you just use `omc_fopen` then you don't need to worry about MAX_PATH.

[2022-05-05 08:55] kabdelhak commented on #8381
@casella Looking into it this week.

[2022-05-06 08:01] kabdelhak commented on #8590
We now do have a test job for the NB so i will close this.

[2022-05-06 08:01] #8590 closed

[2022-05-06 08:44] kabdelhak commented on #8381
I looked at `PNlib.Examples.ExtTest.ArcswithPCtoTC3` and realized that after frontend there is the equation
[code]
Which mathematically makes no sense due to `min({})`. The minimum element of an empty set is not defined. I looked into the specification and it does not say anything about that as far as i can see. I think we should issue an error in the frontend though.

I adapted the PNLib (`PNlib.

[2022-05-06 08:50] kabdelhak commented on #8381
Using a dense solver instead of a sparse solver works for the initialization (`simflags="-nlssMaxDensity=0.05"` suffices).

I don't really know much about this kinsol sparse solver and why it fails here...

[2022-05-06 08:54] sjoelund commented on #8381
https://specification.modelica.org/master/arrays.html#reduction-expressions says the result is defined as the "Greatest value of type".

[2022-05-06 08:54] perost commented on #8381
The specification is a bit weird in this regard, because it does define `min(... for e in {})` to be the largest value of the type ([10.3.4.1](https://specification.modelica.org/master/arrays.html#reduction-expressions)). However, it does not define that `min(A)` is equivalent to `min(A[j, k, …] for j, k, …)` like it does for `sum` and `product`, so the value of `min({})` is technically undefined.

[2022-05-06 08:56] kabdelhak commented on #8381
So should we do it in the Frontend? Since when you evaluate the array to be empty the type also vanishes right? We would need to do it at that point to know what the return type is.

[2022-05-06 08:57] perost commented on #8381
Yes, I will add a simplification rule or something for it.

[2022-05-06 09:12] fedetft commented on #8738
Any updates on this bug? We have downgraded to OpenModelica 1.18 but we're hitting other issues, as some models we are building with ThermoPower generate C code that doesn't compile with that version. @casella suggests these bugs have been fixed in later versions, but the cout bug prevents us from upgrading.

[2022-05-06 10:30] perost commented on #8738
I don't think we've found any solution yet unfortunately. And the solution to the generation of invalid C code in 1.18 is likely the cause of this issue,

I can confirm that the `maintenance/v.1.18` branch actually works fine, so it seems I was wrong saying that the issue was introduced when implementing external function evaluation. Unfortunately I'm having a lot of issues building older versions

[2022-05-06 11:15] casella commented on #8738
@fedetft attached gdb to the external function and monitored &cout, with 1.18.1 you get a certain memory address (that works), with 1.19.0 the first half of the address is replaced by zeros (or otherwise corrupted, I can't remember the detail). That explains why OMEdit hangs, and also confirms that something bad happens to the cout object in later versions of OMEdit.

[2022-05-06 12:17] fedetft commented on #8738
Here's what I discovered by putting a breakpoint in the foo() function of the mnwe and printing the address of cout with gdb
`OMEdit 1.18.1 (Works)
=====================

Thread 1 "OMEdit" hit Breakpoint 1, foo ()
    at /home/fede/Documents/Modelica/other/mnwe/Resources/Source/mnwe.cpp:7
7       {
(gdb) p /x &cout
$1 = 0x7ffff0d3d480
(gdb) where
#0  foo () at /home/fede/Documents/Modelica/other/m

[2022-05-06 12:23] bilderbuchi commented on #8738
You are probably aware of this, but if you suspect that the memory location of course gets corrupted: with gdb you can watch variables for changes (presumably also memory locations), so it will break on a change. Maybe this could be used to find out what corrupts couts memory address...

[2022-05-06 12:26] fedetft commented on #8738
But cout is not a pointer to a global object. It *is* a global object. So the only component that could move around references to its address is the dynamic linker, that when loading a shared object has to do the right GOT/PLT magic to make sure the newly loaded shared object references it at the correct address in memory.

It no longer appears to me as a memory corruption, but an improperly loade

[2022-05-06 12:29] perost commented on #8738
It's libffi that loads the shared library, and we haven't changed libffi since it was added as a third party library. So it seems something is interfering with how libffi loads libraries somehow.

[2022-05-06 12:34] fedetft commented on #8738
I think libffi can call a function pointer provided by you, so I thought you did dlopen/dlsym yourself.
Since it is not the case, the question becomes: did you upgrade libffi from 1.18 / 1.19?
Or did you change in the build system of OMEdit anything related to `RTLD_` flags, such as `RTLD_GLOBAL` etc. ?

Also, can you point us to the code that loads the shared object with libffi?

[2022-05-06 12:57] perost commented on #8738
Bisect points to a499198e as the culprit. Any ideas on what might be the issue @adrpo?

[2022-05-06 13:03] perost commented on #8738
Yeah, it's definitely a499198. Just to be sure I checked out the commit before that one and it works fine, and there doesn't seem to have been any changes in any of our submodules at that time either.

[2022-05-06 13:06] fedetft commented on #8738
Just by having a very quick look I see a `-Wl,-Bstatic` in `OMEdit/OMEditGUI/OMEditGUI.unix.config.pri.in` that look suspicious.

[2022-05-06 13:10] perost commented on #8738
Yes, but it was removed in #8782.

[2022-05-06 13:46] AnHeuermann commented on #8459
Using the internal difference quotient for Jacobian of the linear system and disabeling scaling when using KINSOL is working as well.
We are using the Jacobian to calculate scaling factors for F.

Maybe `nlsSparseJac` from kinsolSolver.c is wrong or the sparsity pattern is wrong.
It also seems there is an error in `nlsSparseSymJac`. I'm getting a segmentation fault when calling it (needs `--genera

[2022-05-06 14:19] AnHeuermann commented on #8459
The sparsity pattern for the 11x11 Jacobian is very wrong. @kabdelhak suspects that this is because we have functions returning tuples inside the Jacobian.

From `-d=dumpLoops`
[code]

we can see, that there are a lot of residual equations are missing.

[2022-05-06 14:20] perost commented on #8738
The issue is this line of code:
https://github.com/OpenModelica/OpenModelica/blob/07dc981b121de31ffbf9725304fe438c20be78ef/OMEdit/OMEditLIB/Util/StringHandler.cpp#L1991

Even if the method this line is declared in isn't called it still causes the issue...

[2022-05-06 14:24] adrpo commented on #8738
Geez, the antlr4 OM parser does this?!

[2022-05-06 14:26] perost commented on #8738
Yeah, and it doesn't even seem to be anything wrong with code as such, merely using `openmodelica::modelicaParser` anywhere causes the issue even if the code isn't actually executed. `openmodelica::modelicaLexer` is fine though for some reason.

[2022-05-06 14:27] adrpo commented on #8738
Is this maybe because we blend static -static-libstdc++ with the dynamic one. Is this happening in Linux as well?

[2022-05-06 14:28] perost commented on #8738
Yes, it happens on both Windows and Linux.

[2022-05-06 14:28] fedetft commented on #8738
Aha, mixing libstdc++ (or libc) statically and dynamically sounds like a good way to mess up.

It does happen on Linux, by the way.

[2022-05-06 14:42] adrpo commented on #8738
@perost can you apply this patch and see if is working with it?
[OMParser-dynamic.zip](https://github.com/OpenModelica/OpenModelica/files/8641508/OMParser-dynamic.zip)
Until I set my environment to handle the example it will take forever.

[2022-05-06 14:42] fedetft commented on #8738
For each process, there has to be one and only one instance of each global variable and/or function declared in a shared library. The dynamic linker does its magic to make sure it is so, but it can't alter something that's statically linked. If you had linked statically libc, you would get similar issues when referencing `errno` for example.

[2022-05-06 14:54] perost commented on #8738
I'm using the cmake build, so we need to fix that one too. Unfortunately I'm not sure how to do that. I tried changing `antlr_static` to `antlr_shared` in `OMParser/CMakeLists.txt`, but then the build breaks because it can't find some antlr headers. So I guess something more is needed. Maybe @mahge can have a look at it?

We should probably also remove `#define ANTLR4CPP_STATIC` at the top of `OME

[2022-05-06 14:59] adrpo commented on #8738
Yes. According to the last comment here:
https://stackoverflow.com/questions/13636513/linking-libstdc-statically-any-gotchas
it might be enough to link stdc++ dynamically with the libOpenModelicaCompiler and omc (not sure if that is not already the case on Linux).

[2022-05-06 15:03] mahge commented on #8738
We can fix this. I updated the CMake file for antlr itslef and added extra things for the static version here
https://github.com/OpenModelica/OpenModelica/blob/07dc981b121de31ffbf9725304fe438c20be78ef/OMParser/3rdParty/antlr4/runtime/Cpp/runtime/CMakeLists.txt#L29-L35

We just need to duplicate those for the shared version. Except the last line (define `ANTLR4CPP_STATIC`) which should only be done

[2022-05-06 15:27] mahge commented on #8738
The shared version works fine. No crashes. So problem is solved. Now on to why it happens...

[2022-05-06 15:53] perost commented on #8381
I changed the NF to evaluate min/max of empty arrays in #8904. I think we avoided doing that on purpose earlier because that's what the OF did, so I'm not entirely sure if this is a good idea. But I guess we'll see.

[2022-05-06 16:04] AnHeuermann commented on #8459
I've implemented a simple workaround for the time beeing. Test if the sparsity pattern has not enough non-zero elements. If so remove it fall back to the internal difference quotient for the Jacobian instead of the sparse one.

I'll open a PR. When @kabdelhak and @phannebohm fix the issue in the (new) backend we can remove the sanity check (or keep it).

[2022-05-06 16:10] AnHeuermann opened #8906 "nlsKinsolFScaling allcoating and freeing memory each call"
### Description

In function `nlsKinsolFScaling` from [kinsolSolver.c](https://github.com/OpenModelica/OpenModelica/blob/master/OMCompiler/SimulationRuntime/c/simulation/solver/kinsolSolver.c#L894-L918) we allocate and free a Jacobian every call (so each time the non-linear system get's solved) to do the scaling. This is slow.

[code]

We can allocate once and only evalute the Jacobian on each cal

[2022-05-06 17:09] fedetft commented on #8738
It's not a problem to build an executable with some libraries linked statically, and some dynamically, until that executable does a `dlopen` of a library that depends on the same library that has been linked statically in the executable. At that point you're asking the linker to do something impossible: guarantee that there has to be only one instance of global variables and functions that are lin

[2022-05-06 17:15] mahge commented on #8738
It seems the issue is that the static library is not built with position independent code. Building it as position independent code (with `-fPIC`) solves the issue.  However, I am still not sure what difference that makes in this use case. The library is directly linked to OMEdit.exe, i.e., it is not part of any shared lib on the way to OMEdit.exe.

As you said it is probably an issue with global

[2022-05-06 17:25] fedetft commented on #8738
Don't know the exact details, but the fact that the address of `cout` in the build causing problems is `0xcfee80` (which looks like a relative address needing relocation) and the one working is `0x7ffff0d3d480` which seems a correctly relocated address, I'm not surprised the dynamic linker does something along the line of "Ah, I see you linked libstdc++ statically, so I don't need to do relocation

[2022-05-09 08:01] kabdelhak commented on #8381
Thank you! For now i cannot see any disadvantage of evaluating this but time will tell i guess.

We already found the problem for the remaining issue of the sparse solver failing. Apparently functions cannot be partially differentiated and therefore any jacobian containing a function is computed numerically (i did not know that, in the NB it aready should be possible), That would not be much of an

[2022-05-09 08:23] kabdelhak commented on #8381
Nono it gets removed, i guess the underscore is the real problem:
[code]

By the way, are you sure your evaluation thing for empty arrays works? It did not work for the PNLib model and i tried this minimal model:
[code]
It did not seem to work, maybe i am missing something? Or maybe it does not work for nested calls?

[2022-05-09 08:39] perost commented on #8381
Ah, sorry. I didn't consider that we replace 0-sized variables with `{}` quite late in the frontend, so my fix doesn't work in that case. I'll add a proper simplification rule for it, and maybe I'll even consider checking that it actually works with the PNlib model too :neutral_face:

[2022-05-09 09:23] perost commented on #8381
The simplification of `min({})` and `max({})` should be fixed properly in #8909.

[2022-05-09 09:30] casella commented on #8590
I would have just called it newBackend, since the old FE is now obsolete (except for bootstrapping).

[2022-05-09 10:13] casella commented on #8738
Good that you found out what the problem is. Never underestimate the power of bisection. Sectumsempra! 😄

[2022-05-09 10:17] casella commented on #8381
@perost, @kabdelhak, thanks for the good work!

Once we see proof that the problem is resolved on master, please cherry-pick it to maintenance/v1.19, so we avoid the regression in the upcoming release.

[2022-05-09 10:22] perost commented on #8590
Don't know, but all library testing has been broken for two weeks now.

Because it uses `-d=-nfScalarize,arrayConnect`. Turning of scalarization doesn't work in many cases, and the array connection handling scales very badly and causes some models to timeout. I'm actually surprised that so many models work with those flags.

[2022-05-09 11:36] casella commented on #8459
Do you mean, e.g., getting rows without any non-zero elements?

[2022-05-09 12:15] AnHeuermann commented on #8459
Ecactly. I'm testing if nnz (number of non-zeros) is larger than the size of the loop and if each row has at least one non-zero element.

[2022-05-09 12:17] AnHeuermann commented on #8459
I think our sparsity pattern is in a lot of cases very wrong, see [this PR run from Jenkins](https://test.openmodelica.org/jenkins/blue/organizations/jenkins/OpenModelica/detail/PR-8907/1/tests).  That would explain our problems when using kinsol for more systems / when chaning the default size when to switch from a dense solver to a sparse one.

[2022-05-09 13:25] kabdelhak commented on #8381
PR #8913 should fix the problem. I expanded the module `evalFunctions` to also remove these wildcard outputs. As a result they can be properly reformed to residuals and are not omitted from the loop equations. The jacobian module detects the function calls and decides to compute it numerically.

[2022-05-09 15:18] casella commented on #8459
@AnHeuermann I'm a bit confused. I understood PR #8970 contained workarounds to make broken examples to work, not the other way round...

[2022-05-09 15:21] perost commented on #8459
The reason for the `{}` is that `xi` is an empty array (at least that's what the NF thinks), and as such doesn't exist in the flat model. So we replace any uses of it with an empty array expression to avoid having references to non-existent variables which causes compilation issues.

[2022-05-09 15:45] casella commented on #8459
I am not an expert in the TILMedia package (so I'd also add @AlesVojacek to the loop) but I can't see why having empty `xi` would be an error. `xi` is the array of independent mass fractions in the fluid. If you have a pure or pseudo-pure fluid, the size of that array is zero, and this should be fully supported by the toolchain

[2022-05-09 15:46] casella commented on #8459
Of course the external functions need to manage that, but that's none of our business, as long as the Jacobian sparsity pattern detection is concerned.

[2022-05-09 15:47] casella commented on #8381
Yes, I definitely suggest that.

[2022-05-10 07:08] kabdelhak commented on #8459
Maybe i am just doing something wrong on my machine and don't have it properly set up. Can someone confirm with the current master?

[2022-05-10 09:55] AnHeuermann commented on #8459
The first example `ClaRa.Basics.ControlVolumes.FluidVolumes.Check.Validation_VolumeVLE_L2_HeatTransfer_1ph_shell` is simulating for me with `omc v1.20.0-dev-41-g8529da7901` and the solution is correct (according to diffSimulationResults).

[2022-05-10 10:07] AnHeuermann commented on #8459
The other examples are failing at initialization:

[code]
[Test_HEXvle2vle_L3_1ph_BU_simple_res.log](https://github.com/OpenModelica/OpenModelica/files/8660562/Test_HEXvle2vle_L3_1ph_BU_simple_res.log)
[Test_HEXvle2vle_L3_1ph_kA.log](https://github.com/OpenModelica/OpenModelica/files/8660563/Test_HEXvle2vle_L3_1ph_kA.log)
[TestPump_L2_OffDesign.log](https://github.com/OpenModelica/OpenModelica/fil

[2022-05-10 11:55] AnHeuermann commented on #8838
Now users should get a warning when using to long paths in all locations that use `omc_fopen`. That's good enough for the moment, so I'm closing this.

When we get reports about errors with too long path names we can try to change the default locations for OMEdit in Windows. But that should be a new ticket.

[2022-05-10 11:55] #8838 closed

[2022-05-10 11:57] AnHeuermann commented on #8886
@casella With 6cbe43712ea68e85a8e4e3ce046b657c520a74df omc_fopen is used, which should
a) Issue a warning that your path is longer then PATH_MAX and how to change it on your Windows system
and
b) just work

Can you test again?

[2022-05-10 12:28] casella commented on #7560
@adeas31 please ask @adrpo about details, I guess you can take care of the implementation. This is needed anytime soon

[2022-05-10 12:53] casella commented on #8738
Discussion at devmeeting. Remove flags to link libstdc++ from all over the place (including OMEdit!), so it's linked dynamically.

@mahge will try this out and test.

[2022-05-10 13:45] rosiereflo opened #8920 "Simple testcase does not simulate properly in DAEMode (v1.19.0-dev)"
### Description
With OMEdit v1.19.0-dev the simple model provided below does not generate the correct curves when daeMode is activated. in ode the simulation is correct.

### Steps to reproduce

Create the following model in OMEdit, simulate and plot the curves.
[code]

When daeMode is enabled, we get i1 = i2 = 0 for any time.
When daeMode is disabled, we get the correct curves.

### Version and O

[2022-05-10 15:47] perost commented on #8882
This should now hopefully be fixed with #8897 and #8921.

The issue that adrpo found was because we loaded ModelicaServices 4.0.0 when loading Modelica 3.2.3, and because ModelicaServices for some reason has a uses-annotation for Modelica we then tried to load Modelica 4.0.0. I didn't get the same issue since I used the ModelicaServices installed by the package loader, which has been patched to no

[2022-05-10 16:00] casella commented on #8886
Sure, as soon as I get a new nightly build, just started one now.

[2022-05-10 16:06] casella commented on #8920
This issue was very likely fixed by pull request #8655, which was merged in on Mar 8. If your 1.19.0-dev is earlier than that, you should get it to run with either a new 1.20.0 nightly build or with the 1.19.0-beta.1.

Please repen or comment here if that is not the case. Thanks!

[2022-05-10 16:06] #8920 closed

[2022-05-10 16:20] casella commented on #8882
@perost, @adrpo, thanks for figuring this out!

This may be good enough for 1.19.0, but we have to solve this properly for 1.20.0. Consider what will happen when (eventually) MSL 4.0.1 and/or 4.1.0 will be released. If you have already installed 4.0.0, you'll get the new ones via the package manager, but the "old" 4.0.0 won't go away, so any model with uses(Modelica(version="4.0.0")) will continue

[2022-05-10 16:27] perost commented on #8882
@casella: Ok, I can revert #8921 in that case. Even if the user has an unpatched version of ModelicaServices it will only give a warning anyway.

[2022-05-10 16:28] perost commented on #8882
Reverting #8921 in #8922.

[2022-05-10 16:29] adrpo commented on #8882
Yeah, we can patch ModelicaServices that we install in the "Program Files".

[2022-05-10 17:39] adrpo commented on #8882
Now the question is: how do we patch the ModelicaServices that we put in build/omlibrary?!

[2022-05-11 00:00] adrpo commented on #8882
My fix in #8924 does not work yet which means the nightly-builds do not work either.
I only updated the repos.json and Makefile.libs should have been updated automatically by a Jenkins job but it failed.

[2022-05-11 08:09] casella commented on #8882
OK, please let me know when the libraries are updated and start a Windows nightly so I can try it ASAP. Thanks!

[2022-05-11 14:52] AnHeuermann commented on #8459
@kabdelhak and myself tried to figure out why `ClaRa.Basics.ControlVolumes.FluidVolumes.Check.Validation_VolumeVLE_L2_HeatTransfer_2ph_shell` isn't working.

In non-linear system 131 we have equations involving `homotopy`, `noEvent`, `actualStream` and `inStream`.
The replacement for `actualStream` looks good. We can't tell if `inStream` is replaced correctly.

When using only the simplified versi

[2022-05-11 17:11] adrpo commented on #8882
An entire story, but let's skip it. I now updated the libraries Makefiles.libs to install the latest from OM/maint/.
In OMEdit when I go via: System Libraries -> Modelica -> 3.2.3 i get this message:

[code]

And the correct MSL 3.2.3 is loaded. The messages are weird as they load 4.0.0 version from the uses. I will put this in a PR.

[2022-05-11 17:30] adrpo commented on #8882
PR #8934 should properly update the Modelica libraries to updated ones that have ModelicaServices without the uses annotation.

[2022-05-11 18:04] kabdelhak commented on #8772
solved with #8933.

The problem was incorrect typing of equations in the backend, now they are correctly parsed as array equations.

I did not test the corresponding real models from BR though. @niklwors @mahge could you do that?

[2022-05-11 18:34] adrpo commented on #8882
I started a nightly-build.

[2022-05-11 18:43] christiankral opened #8935 "Solving linear system of equations"
### Description

I have a a couple simulation models that -- under some circumstances -- fails when simulating or causes wrong simulation results.

### Steps to Reproduce

Please consider the [linked Modelica package](https://gist.github.com/christiankral/72645586c2a92ec10a8f914359d3e235). The starting point is the following model:

![image](https://user-images.githubusercontent.com/4184218/167918

[2022-05-11 20:47] casella commented on #8459
If the simplified system can be solved, then the homotopy transformation should start, and eventually fail for some value of lambda, since the system is not solved, eventually. Have you tried to log the homotopy transformation to see what happens, and possibly to change the number of steps or switch to the adaptive homotopy solver?

[2022-05-11 20:56] casella commented on #8882
Thank you @adrpo for the perseverance and the patience 😃

As I understand, "Automatically loaded package Complex 4.0.0 due to uses annotation" means that MSL 3.2.3 actually uses Complex 3.2.3, but since we have Complex 4.0.0 installed and that is known to be backwards compatible with 3.2.3, it is automatically loaded instead. Ditto for ModelicaServices. Do I get it right?

In the past, when we had

[2022-05-11 20:56] casella commented on #8882
Thank you @adrpo for the perseverance and the patience 😃

As I understand, "Automatically loaded package Complex 4.0.0 due to uses annotation" means that MSL 3.2.3 actually uses Complex 3.2.3, but since we have Complex 4.0.0 installed and that is known to be backwards compatible with 3.2.3, it is automatically loaded instead. Ditto for ModelicaServices. Do I get it right?

In the past, when we had

[2022-05-11 20:56] casella commented on #8882
Thank you @adrpo for the perseverance and the patience 😃

As I understand, "Automatically loaded package Complex 4.0.0 due to uses annotation" means that MSL 3.2.3 actually uses Complex 3.2.3, but since we have Complex 4.0.0 installed and that is known to be backwards compatible with 3.2.3, it is automatically loaded instead. Ditto for ModelicaServices. Do I get it right?

In the past, when we had

[2022-05-11 20:58] casella commented on #8882
Unfortunately it broke because of communication issues. I restarted it again. @sjoelund I guess we should try to fix this issue, the windows nightly is very fragile, fails 50% of the time because of that.

[2022-05-11 21:01] casella commented on #8935
@christiankral are you sure that 0 and 90° do not lead to singular initialization problems? Have you tried this model with other Modelica tools?

[2022-05-11 22:33] casella commented on #8590
Sure, that is implicitly turned on by --newBackend, I only realized it now.

[2022-05-12 07:22] kabdelhak commented on #8459
Yea we changed the number of homotopy steps and we raised the number of steps that the solver is allowed to take. It always resulted in convergence up until just before `lambda = 1`. So every step before that was fine, but the last one seemed to be singular. We looked into the definition on `stream` and the corresponding functions `actualStream()` and `inStream()` and noticed some things that migh

[2022-05-12 08:03] adeas31 commented on #8882
I tested the latest nightly build and can load both MSL 3.2.3 and 4.0.0 without any issues.

[2022-05-12 08:19] adrpo commented on #8882
@adeas31 please cherry pick all the needed commits to maintenance/v1.19. I will tag a dev.beta2 later today and get it rolling.

[2022-05-12 10:28] AnHeuermann commented on #8463
Problem is the `FuelTypes` record has constant binding equations and a function accepts the FuelType as input with a default value.

Here is a minimal working excample:
[code]

@perost Could you have a look into this? Using the old frontend somewhat works.

Also changing the above example a bit results in the wrong value for `i`.

[code]

[2022-05-12 10:30] quorx opened #8938 "Problem with PlanarLoops_analytic model in 1.19.0-dev.beta1"
### Description
Running `Modelica.Mechanics.MultiBody.Examples.Loops.PlanarLoops_analytic` with `1.19.0-dev.beta1` on Windows 10 64bit. In the animation, some of the cylinders representing revolute joints within the compound `JointRRR` joints are not correctly aligned. This is because the `shape_rev2` and `shape_rev3` have null vectors `{0,0,0}` for the `lengthDirection`.

The animation is fine in

[2022-05-12 10:31] AnHeuermann commented on #8463
Also `R` and `R_extended` are different types. Shouldn't it be needed to have some sort of replacable records in here?

[code]

[2022-05-12 10:40] adeas31 commented on #8882
See #8939

[2022-05-12 10:50] perost commented on #8463
Or wait, there's only one record in that model. So I'm not sure why the OF generates a cast in that case, since it's just casting to the same type that it already is.

[2022-05-12 11:13] AnHeuermann commented on #8463
I guess we need to change the generated constructor function (in C) to have an input for each record element.

So in
[code]

we should also have inputs for `modelica_integer N_c`, `modelica_integer N_e`, `modelica_integer T_ref `. The arrays could be an issue, but we'll see.

 The Frontend will replace the values given to the constructor, so the Backend doens't need to change them and we hope that

[2022-05-12 11:23] perost commented on #8463
To me it seems like we should do the opposite and not add those arguments to the record constructor call. They're supposed to be protected components in the record constructor, so passing them to the constructor seems like unnecessary work since they're not used in the constructor anyway.

[2022-05-12 12:20] kabdelhak commented on #8463
Is the user not allowed to call a constructor on that record and change these values? Or are they actually static? If the record is extended you can change these values so i thought you could change them anywhere else also.

[2022-05-12 12:28] adeas31 opened #8940 "Class annotation is missing in getModelInstance API"
### Description

The whole class annotation is missing from `getModelInstance` api.

### Steps to Reproduce

Run

[code]

### Expected Behavior

The result should contain the class annotation.

[2022-05-12 12:33] perost commented on #8463
Maybe, like I said I'm not sure how the casting actually works. I don't think the old frontend actually does anything other than say "this is actually an R", but maybe the code generation handles that. I can try to add the casts and see what happens.

[2022-05-12 12:50] perost commented on #8463
I added type cast of records in #8941. The model still fails for the same reason, but now there are casts in there for whatever good they may do at least.

I'm not sure if I want to merge that right now or not, maybe at least wait until the library testing works again. But at least you can see how to do it if you want to play around with it.

[2022-05-12 13:05] phannebohm commented on #8459
Is it not possible for the system to be structurally singular? I don't see why it can't. The homotopy expressions might hide the singularity until `lambda=1`. That would also fit to your observation 1 and Andreas' comment:

I think we should investigate this. If the system is singular, this would be another reason to introduce a lambda_1 system, analogous to the lambda_0 system. Then we could find

[2022-05-12 13:09] AnHeuermann commented on #8343
We have a function that returns a 0-dimensional array and save that in `cse5`.

[code]

The equation 355 get's removed and then `$cse5` is undefined. When removing the function we need to replace it with an empty array/list `{}`.

[2022-05-12 13:41] LukasKoenemann opened #8943 "displayUnit export to FMU"
If I export a modelica model to FMU (with translateModelFMU) the displayUnits are empty. Is it possible to attach not only the units, but also the displayUnits?

[2022-05-12 14:11] kabdelhak commented on #8343
Solved with #8942 .

Library tests will show if the results are also correct.

[2022-05-12 15:05] phannebohm commented on #8893
No. Let's use the `-override=variableFilter` to find the variables of interest at runtime and rewrite the whole `functionAlgebraic()` to only compute those and the algebraic variables they depend on. I have a truly marvelous concept on how to do it which this comment is too narrow to contain. But basically I propose to move the BLT-graph structure into the C runtime and do a graph traversal at eac

[2022-05-12 15:50] AnHeuermann commented on #8463
Next issue from the mwe:

[code]

`i` will be `5` and not `7`, because `myFunc(myR)` is calling the constructor and not using the already existing `myR`.

[2022-05-12 16:54] phannebohm commented on #8193
Some failing models might already be fixed by #8907. Basically, #7848 was too eager to activate kinsol, without checking if there is a reasonable sparsity pattern available. This issue remains, but is probably less frequent. If we can find an MWE I will work on it.

[2022-05-12 17:11] phannebohm commented on #8658
Absolutely, I would argue that a state cannot be the result of a discontinuous calculation, meaning as soon as the `mod` operation triggers an event, the model should fail and report that the choice of `y` as state variable was bad. Perhaps already at index reduction we should prevent this choice. But I'm still confused about how to formalize this reasoning.

[2022-05-12 17:56] casella commented on #8873
@Arinomo, this is now fixed in the latest 1.20.0 nightly build. As soon as 1.19.0-beta.2 is released, we'll test it there as well and then close the ticket

[2022-05-12 18:16] casella commented on #8886
@AnHeuermann, I tried with the latest nightly 0e39c77, which includes 6cbe437, but I still have the same issue
[code]

[2022-05-12 18:23] casella commented on #8381
Just tried the ArcswithPCtoTC3 model on the latest 1.20.0-dev nightly build on my PC and it works fine.

@kabdelhak if you can take care of the cherry-picking into maintenance, I can then test it with the 1.19.0-beta.2, and then close the ticket if all's fine there. Thank!

[2022-05-13 07:28] niklwors commented on #8772
I have tested test models from ticket [#7485](https://github.com/OpenModelica/OpenModelica/issues/7485). There is now a new error for all models. "No system for the symbolic initialization was generated"

[2022-05-13 09:14] AnHeuermann commented on #8501
@adrpo Can we do this after the release is done?

Updating OMDev on a different machine takes forever and new Windows users can't compile OpenModelica with cmake.

[2022-05-13 09:31] adrpo commented on #8501
Yeah, we should try to update OMDev, maybe make a new report as the old one is already huge

[2022-05-13 09:33] AnHeuermann opened #8945 "Setting for package manager home dir"
### Description

Add a persistent setting to the package manager to change the home directory to a user supplied location.
Currently the diretory used is  `~/.openmodelica/libraries` under Linux and `%AppData%\.openmodelica\libraries` on Windows.

For example a file could be in the default location that can be read by `Settings_getHomeDir` and that points to the new location.

[2022-05-13 10:18] mahge commented on #8738
Alright so after a long campaign of compiling and recompiling and pulling hair we have almost found what causes these segfaults and how we can possibly avoid them.

Spoiler alert: it is two different segfaults. Two different segfaults for two different reasons on Windows vs Linux.

The linux one is due to `std::cout` as we have already found out with possible explanation given by @fedetft above. T

[2022-05-13 10:50] perost commented on #8940
Fixed in #8947.

Right now we dump the annotations as strings though. Would it perhaps be better to dump them as JSON structures instead?

[2022-05-13 11:42] AnHeuermann commented on #8886
I'm able to reproduce the issue after hacking `settingsimpl.c` to use

[code]

(An option to change the directory would be nice, see #8945)

`omc_fopen` is failing to open `D:/Users/Francesco Casella/AppData/Roaming/.openmodelica/libraries/Buildings 8.1.0/Resources/ReferenceResults/Dymola/Buildings_Fluid_Geothermal_Borefields_BaseClasses_Boreholes_BaseClasses_Functions_Validation_InternalResistanc

[2022-05-13 12:20] fedetft commented on #8738
Looks like you keep hitting the same problem of mixing static and dynamic linking, expecting the magic underneath to do more than it actually can do.

By linking the same library statically in multiple shared libraries, the functions will be duplicated, and even a slight misalignment between the two version will cause problems, and that is without considering that now the global variables will sud

[2022-05-13 13:01] adeas31 commented on #8940
JSON structures would be nice!

[2022-05-13 13:27] adeas31 opened #8950 "How to handle modification from top level"
One of the things we want to achieve with the new `getModelInstance` api is to be able to handle conditional connectors. Right now its is very unclear how to manage this. Lets say we have the following package,
[code]

Now if we use `getModelInstance(ConditionalConnector.M, prettyPrint=true)`,
[code]

And `getModelInstance(ConditionalConnector.ConditionalPort, prettyPrint=true)` gives,
[code]

Not

[2022-05-13 13:54] AnHeuermann commented on #8886
@casella Please verify with the next nightly build, but I'm very sure the problem should be solved.

[2022-05-13 14:00] phannebohm opened #8953 "Integers are silently converted to Reals"
### Description

The model below compiles and runs without complaint. Silently, in the C code, the doubles are converted to ints.

### MWE

[code]

### Expected Behavior

This model should not compile. There are two issues here:
1. `m` is of discrete variability but gets assigned to a continuous value. The [MLS section 3.8](https://specification.modelica.org/master/operators-and-expressions.html#v

[2022-05-13 14:12] fedetft commented on #8738
I'll open another ticket for the issue with linking statically in the general case, but for the sake of solving the specific issue of externalmedia segfaulting, should it be possible to start doing the right thing and building `libantlr4` dynamically, or at least building it statically, but without any `-Wl,-Bstatic -lstdc++ -Wl,-Bdynamic` nor `-static-libstdc++`?
That should be the simplest first

[2022-05-13 14:17] perost commented on #8953
I think the first issue should be checked by the frontend, though I'm not sure about the second. The specification just says that they must be type compatible, but it's not like we can convert `n` to be Real.

[2022-05-13 14:21] phannebohm commented on #8953
You can't really do that before causalizing the system.

[2022-05-13 14:22] perost commented on #8953
Sorry, it seems I might have misinterpreted 3.8, it was a bit weird before but has been improved in [master](https://specification.modelica.org/master/operators-and-expressions.html#variability-of-expressions). I first thought it was talking about regular equations, but it seems it was binding equations. So carry on I guess :smile:

[2022-05-13 14:35] fedetft opened #8955 "Problems related to mixing static and dynamic linking"
As suggested by @casella, starting from the discussion in  #8738, I'm opening a ticket about issues that are popping up having as root cause the mixing of static and dynamic linking.

My way to see the problem, is to imagine a process in memory as a graph, where the root node is the executable, and all other nodes are libraries. Each arc in the graph is a linking operation, that can either be stat

[2022-05-13 14:43] hkiel commented on #8861
@casella I set the connection timeout of curl to 8s as suggested. How can I test the new behaviour?
I tried to execute OMEdit "Update Library index", but whatever I do (on macOS) I immediately get `Failed to update the library index. This could be because of bad internet connection.`.
I tried to switch off internet connection, put a bad url (either inexistant server name or file path) for the pack

[2022-05-13 14:48] phannebohm commented on #8953
@perost you could check algorithm assignments in the frontend! :slightly_smiling_face:

[2022-05-13 14:51] mahge commented on #8955
Spoken like a true linux user :). There is Windows and there is the lack of `rpath` which I think is the reason why most of this static stuff exists. To avoid having DLLs and having to move them around for each simulation executable. Luckily that has been practically solved with #8572 and follow up fixes in a way that can work well with OMEdit.

Luckily there is an ideal solution. It is to use a b

[2022-05-13 14:55] mahge commented on #8955
I forgot that we have so many 3rdParty libraries that we build as well. Most of them are static. We can attempt to change them but that is a monumental undertaking.

[2022-05-13 15:01] fedetft commented on #8955
CMake is indeed wonderful and if you're in the process of switching to it, by all means do. You won't regret it.

But it won't deduplicate at runtime global variables of statically linked libraries, so the root cause of those segfaults will still be there lurking.

[2022-05-13 15:55] adeas31 commented on #8950
Had a meeting with @adrpo about it. We need to give everything in one call. So `getModelInstance(ConditionalConnector.M)` needs to returns everything that is needed by OMEdit for drawing and this way the modification from the top level are applied.

[2022-05-13 16:08] adrpo commented on #8950
So `getModelInstance(ConditionalConnector.M)` should give you ***all*** the needed info:
- the entire hierarchy of components (and replaceable classes) and their annotation (to populate the Dialog annotations and the Diagram)
- connect equations and their annotation (to populate the Diagram)

This way OMEdit does not do its own flattening, doesn't try to apply any modifiers by itself.  OMEdit:
- t

[2022-05-13 22:33] casella commented on #8938
I tried to reproduce this issue by running that model on version v1.20.0-dev-59-g0e39c77344 (64-bit) that I currently have installed, but it actually broke during C compilation:
[code]
I have no special setting, just deleted them all recently. Unfortunately the most recent test report is three weeks old, so I can't say if this is a recent regression, I'll check when the library test has been run a

[2022-05-13 22:37] casella commented on #8459
I'll do that asap.

True, but that would make code generation even slower than it already is.

[2022-05-13 22:38] casella commented on #8943
@arun3688 could you comment on that? Thanks!

[2022-05-13 22:41] casella commented on #8893
@phannebohm this was mentioned today by @kabdelhak during a meeting. Looks good because of extreme flexibility, I'm only a bit worried about performance.

BTW, @mahge mentioned that he had perform such kind of analysis for the parmodauto module, and he had to implemented from scratch in C. If this functionality gets implemented, I understand it could also be used there.

[2022-05-13 22:43] casella commented on #8658
Formally, we need to avoid differentiating discontinuous functions. However, a discontinuous function can still be continuous over a certain domain, so we differ this avoidance to runtime, triggering an exception when the function inputs get out of that domain. Is this what you were looking for?

[2022-05-13 22:46] casella commented on #8886
Will do. But then you need to cherry-pick this commit into maintenance/v1.19, otherwise the fix will only be available with 1.20.

[2022-05-13 22:50] casella commented on #8950
@adrpo's suggestion looks good to me. BTW, once we have that, it seems to me that implementing 8-yrs-old [#2891](https://trac.openmodelica.org/OpenModelica/ticket/2891) would be straightforward, you just need to take sub-trees of that instantiation tree, right?

[2022-05-13 22:53] casella commented on #8861
Not entirely sure, maybe there are different ways the connection can fail. @adeas31 can you comment on that?

Also, if this fix is eventually good, it should be cherry-picked into maintenance/v1.19 before closing this ticket. Thanks!

[2022-05-13 23:22] casella commented on #8893
@phannebohm there still could be a good reason to also have a backend variable filter: for large systems, it would eliminate a lot of code generation in case you're interested in a few outputs only, which is normally the case for very large models. On the other hand, those large models (with many repeated components or arrays) will eventually be handled by the new backend without being unrolled, s

[2022-05-13 23:27] casella opened #8957 "Regression in 1.20.0-dev with Modelica.Mechanics.MultiBody.Examples.Loops.PlanarLoops_analytic"
### Description

Modelica.Mechanics.MultiBody.Examples.Loops.PlanarLoops_analytic worked in 1.19.0-beta.1. In the current 1.20.0-dev nightly, it breaks during C compilation with

[code]
Unfortunately the library testsuite has been broken for a while, so it won't be trival to figure out the root cause.

[2022-05-13 23:41] casella commented on #8938
Are you testing MSL 3.2.3 or MSL 4.0.0?

[2022-05-14 09:07] quorx commented on #8938
I'm not too sure. It looks like 4.0.0
![image](https://user-images.githubusercontent.com/22444994/168418739-6a34c90d-314b-4d0a-a893-5efdcc1404ec.png)

But then when it runs, it fails
![image](https://user-images.githubusercontent.com/22444994/168418787-03cdc099-a674-485e-9810-3ba053febbfc.png)

... so on selecting try with old frontend once
![image](https://user-images.githubusercontent.com/224449

[2022-05-14 10:13] phannebohm commented on #8893
True, it will probably introduce a small overhead to build the graph and analyze it. But we can keep it to a minimum by doing the graph analysis once at the beginning of simulation and then writing the ordering into a function pointer array that can be used to evaluate `functionAlgebraic()`. At a later stage that array can be rebuilt if needed, but it won't be necessary to do the graph analysis at

[2022-05-14 10:19] arun3688 commented on #8943
@LukasKoenemann Currently we are not exporting display units, as there are some issues with  `FMI2XML`, see the below comments in `codegeneration`

`//'<%unitString%><%displayUnitString%>' skip displayUnit because FMI2XML fails for e.g. bar
`

[2022-05-14 10:22] phannebohm commented on #8893
True, also @bernhardbachmann pointed out that it should be easy to implement this in the backend, so maybe we can do both.

Also true, but I suppose simulation time would still improve by a backend filter if we can throw away some states, which my approach cannot do I think, at least for the integrator. We could omit calculating `der(x)` and just get bogus results which we throw away , but `x` wou

[2022-05-14 11:34] casella opened #8958 "Regression on Buildings due to unbalanced equations or initial equations"
### Description

There are many regressions from the last time the library test ran, see [report](https://libraries.openmodelica.org/branches/history/master/2022-04-24%2011:23:12..2022-05-14%2000:36:35.html). Many of them in Buildings fail with
[code]
while many others fail with
[code]
@kabdelhak there are about 60 commits in that report, but maybe you have a clue, and/or you can do some bisection

[2022-05-14 11:58] casella opened #8959 "Issue with protected parts in records in Buildings"
@perost, among the various issues in the latest [regression report](https://libraries.openmodelica.org/branches/history/master/2022-04-24%2011:23:12..2022-05-14%2000:36:35.html), there are Buildings models such as [Buildings.Fluid.HeatPumps.BaseClasses.Validation.EquationFitReversible](https://libraries.openmodelica.org/branches/master/Buildings_latest/files/Buildings_latest_Buildings.Fluid.HeatPu

[2022-05-14 12:14] casella opened #8960 "Regression in IndustrialControlSystems due to alleged non-differentiable variable"
### Description

In the [bunch of regressions since Apr 24](https://libraries.openmodelica.org/branches/history/master/2022-04-24%2011:23:12..2022-05-14%2000:36:35.html), there are some regarding the IndustrialControlSystem library, where many examples (e.g. [TestI_bias](https://libraries.openmodelica.org/branches/master/IndustrialControlSystems/files/IndustrialControlSystems_IndustrialControlSyst

[2022-05-14 13:04] perost commented on #8959
[4.6](https://specification.modelica.org/master/class-predefined-types-and-declarations.html#specialized-classes) states that records have the following restriction:

This has been the case since Modelica 3.0, but I only just added that check to the new frontend. I'm not sure if we should keep the error message as it is or change it to just be a warning, but the library should be fixed regardless

[2022-05-14 13:09] sjoelund commented on #8959
I guess one problem with that pattern is that you cannot create temporary variables of the protected class, for example in a function. Not sure why it would be forbidden, but it seems it is.

[2022-05-14 13:23] perost commented on #8960
This is kind of caused by #8895, where I fixed the error check for `der` to also include implicitly discrete and not just explicitly discrete. I say kind of, because the issue isn't really the check itself but that the NF considers `Iout` to be `discrete` since it's assigned in a `when` equation.

Handling conditionally discrete variables might be a bit tricky in the NF because we can only really

[2022-05-15 10:58] LukasKoenemann commented on #8943
Is it planed to fix this bug? Otherwise I have to search for a different solution to export the displayUnits and the conversion factors for my Modelica-Model.

[2022-05-15 20:22] arun3688 commented on #8943
@LukasKoenemann the conversion `factor` is exported in `BaseUnit`  see below

[code]

[2022-05-16 09:13] mahge commented on #8738
The Windows issue should be fixed with #8961. We now build both `libOpenModelicaCompiler` and `libomcgc` as DLLs on Windows (they are already shared objects on Linux). Both the ExternalMedia `ExternalMedia.Test.CoolProp.CO2.TestStatesSatSubcritical` model and the MWE pass the `checkModel` successfully.

[2022-05-16 09:15] #8738 closed

[2022-05-16 09:17] fedetft commented on #8738
Thanks!
Since I reverted back to the nightly builds, I guess I just need to wait for the next update for the problem to be fixed, right?

[2022-05-16 09:17] mahge commented on #8955
Yes in this case we have now gone with building the libraries as shared since that is the right thing to do and there seems to be no reason to do so otherwise.

In cases where some libraries have to be static then we can rely on the build system generator to minimize duplicate instances and hope that people avoid global variables 🤞

[2022-05-16 09:29] fedetft commented on #8955
As I said in the other bug report, thanks a lot for fixing the immediate issue with externalmedia.
If I were you, I'd also try to avoid linking `libstdc++` statically to prevent future issues.
If you want to keep linking `antlr` statically, that doesn't seem too bad to me, as it does not seem a likely library someone would want to use in an external function or in an FMU.

[2022-05-16 09:32] mahge commented on #8955
Absolutely. That is next. I could not put it with these fixes since if something goes wrong it will be difficult to hunt down. It is better to separate them. I am going to try and remove the static linking and the manual `libstdc+`+ linkages as well.

[2022-05-16 11:11] casella commented on #8938
Complex and ModelicaServices 4.0.0 are always loaded, since they are backwards-compatible. You can double-click on Modelica in the package browser and then look at the Documentation window to see which version you have loaded, or just hover with the pointer on the Modelica package icon.

BTW, you can decide which version to load by clicking on the System Libraries button in the Welcome Screen, or

[2022-05-16 11:14] casella commented on #8938
@quorx however I don't get the translation errors you are reporting, nor I get the option of using the old front-end in case of errors, which I understand we have removed because the new front end is now much better than the old one in virtually all cases.

Are you sure you are running 1.19.0-beta.1?

[2022-05-16 11:45] casella commented on #8893
I understood @mahge had to do something similar, not sure if he did it in C or metamodelica, for details you need to talk to him.

[2022-05-16 11:49] casella commented on #8959
@mwetter is it a problem to remove the protected sections of those records in the branch and maintenance version of Buildings that we are supporting? Otherwise, we can make it a warning, and then start the discussion with the MAP-Lang group, but we need a good motivation for that.

If the motivation was to reduce the amount of displayed stuff in the simulation results, you can use the [HideResult]

[2022-05-16 11:53] casella commented on #8960
@perost I see your point, but nevertheless that model seems to me to be 100% legal, so we shouldn't fail during flattening because we over-check it.

Can't we check this feature after branch-selection?

[2022-05-16 11:55] perost commented on #8959
I don't think that applies here, the protected element in this case is a record and not a component. I.e.:
[code]

[2022-05-16 12:05] perost commented on #8960
Not without significant redesign of the NF I think, because we detect implicitly discrete variables before the typing phase. So we would have to move all variability checking from the typing phase to until after the flattening phase in that case.

[2022-05-16 13:14] casella commented on #8738
Thanks @mahge :)

[2022-05-16 13:18] casella commented on #8960
Then I guess the check that implicitly discrete variables are not differentiated should be done by the backend, since the NF check is overly restrictive. @phannebohm what do you think?

[2022-05-16 13:34] mwetter commented on #8959
I will remove the `protected` keyword in this record definition through https://github.com/lbl-srg/modelica-buildings/issues/3009

[2022-05-16 13:37] casella commented on #8938
The flattened model contains the equation
[code]
However, in the simulation results we see jointRRR2.e_b = {0, 0, 0}, even though  jointRRR2.jointUSR.revolute.e = {0, 0, 1}. Apparently, there is something wrong with how dependent parameters are computed.

Most likely this has the same root cause as #8772. We are investigating the issue and will solve it ASAP. @quorx thanks for reporting!

[2022-05-16 13:38] casella commented on #8772
Another likely instance of the same issue is discussed in #8938.

[2022-05-16 13:41] perost commented on #8940
Implemented in #8963. It's a bit weird though, since e.g.:
[code]
is now dumped as:
[code]
So most of it is still dumped as a string because it's an expression rather than part of the modifier structure.

[2022-05-16 14:06] casella commented on #8938
@kabdelhak, I ran this case in 1.19.0-dev.beta1 (before your 7227538 commit) with `-d=optdaedump`. I noticed that the parameter getting assigned the wrong value initially shows up as
[code]
from a certain point onwards it is reported as
[code]
still with a binding equation but with fixed = false; the corresponding equation starts appearing
[code]
I'm not 100% sure this is the expected behaviour

[2022-05-16 16:24] casella commented on #8381
PNLib is now [back at 100%](https://libraries.openmodelica.org/branches/master/PNlib/PNlib.html) also on the CI test results. All's well that ends well 😃

@kabdelhak can you please cherry-pick your fixes into `maintenance/v1.19` ASAP? We need to go ahead with the release. Thanks!

[2022-05-16 16:26] casella commented on #8839
@adeas31, could you please add a link to the user's guide in the Simulation Setup | Output window, both on master and on maintenance/1.19?

[2022-05-16 16:27] sjoelund commented on #8940
Couldn't we dump the expression as JSON?

[2022-05-16 16:29] perost commented on #8940
We've discussed it a bit but have so far preferred to keep it as a string, but it's still very much work in progress.

[2022-05-16 16:37] casella commented on #8862
The pre-installed versions work fine without internet connection. 1.19.0-dev.beta1 cannot load them properly, but this has been fixed in the meantime. We'll check again with beta2

[2022-05-16 16:38] casella commented on #8874
@adeas31 can you take care of this in time for the 1.19.0 release? Thanks!

[2022-05-16 17:44] quorx commented on #8938
@casella Thanks very much for the tips and your endeavors in finding the error source. I had indeed switched back to v 1.18.1, which generated the messages above and can confirm the MSL is 4.0.0. Cheers, quorx

[2022-05-16 18:29] mwetter commented on #8958
In case it helps with isolating it, a simple test case is
`Buildings.HeatTransfer.Windows.BaseClasses.Examples.AbsorbedRadiation`. If the instance `winAbs` is deleted, the model works. The problematic constructs therefore seem to be present in `Buildings.HeatTransfer.Windows.BaseClasses.AbsorbedRadiation`.

[2022-05-16 18:31] AnHeuermann commented on #8639
We could try the sanity check of the jacobian / sparsity pattern in this one.

[2022-05-16 18:33] perost commented on #8958
I forgot to update the issue, but I did a bisect earlier and found that it was caused by #8933. @kabdelhak is already aware of that.

[2022-05-16 19:02] christiankral opened #8966 "Display of parameters in Diagram View"
Consider the following model, where the local parameter `R` is used to modify `resistor(R = R)`:

[code]

The Diagram View the shows `R=0 Ω`:

![image](https://user-images.githubusercontent.com/4184218/168663154-52e33a50-f059-4ecb-987d-864fb00e3d1c.png)

This is **misleading**, as `R` is not set to zero.

### Expected Behavior

The correct expression -- here `R=R` shall be shown. If for any reason

[2022-05-16 19:02] christiankral commented on #8966
I think it were good to include the fix of this issue in the stable release.

[2022-05-16 22:23] casella commented on #8938
@quorx thank you for reporting. We'll try to get this fixed in 1.19.0, though it may be a nontrivial issue.

[2022-05-16 22:25] casella commented on #8639
Sounds like a good idea! if the sparsity pattern is wrong, small wonder sparse solvers fail.

[2022-05-16 22:26] casella commented on #8966
@christiankral are you sure this also happens with 1.19.0-dev.beta1?

[2022-05-17 05:31] christiankral commented on #8966
I noticed this issue for quite some time in the nightly build version, but did not check it with 1.19.0-bev.beta1. Possibly someone else with the beta version installed can answer this question.

[2022-05-17 07:05] casella opened #8967 "Weird NF diagnostic when declaring variables with incomplete type specification"
### Description

If you check or try to run the following model
[code]
you get a weird error message:
[code]
### Expected Behavior

One would expect an error message such as "The type for L cannot be a package" or something.

[2022-05-17 07:41] casella opened #8968 "Conversions scripts in OMEdit do not work with preinstalled MSL on Windows"
### Description

If one tries to convert a MSL 3.2.3 library to MSL 4.0.0 and only has the preinstalled MSL 4.0.0, the "Convert to newer version of used libraries" option doesn't show any version of Modelica for upgrade.

I am seeing this behaviour with 1.20.0-dev, I'm not sure what happens with 1.19.0-dev.beta1, also because it has issues with modelicapath handling, but I'm pretty confident the i

[2022-05-17 08:32] perost commented on #8967
I tried to look it up in the specification to see which classes are actually allowed to be instantiated, but couldn't find anything. [4.6](https://specification.modelica.org/master/class-predefined-types-and-declarations.html#specialized-classes) restricts the allowed component types in e.g. records, connectors, etc, but doesn't restrict the allowed component types in e.g. models and blocks. I als

[2022-05-17 09:33] bilderbuchi commented on #8966
Yes, the diagram view also shows R=0 Ω on 1.19.0-dev.beta1.

[2022-05-17 10:56] AnHeuermann opened #8970 "Current step size inf for large stop time in experiment annotation"
### Description

The current step size computed in [perform_simulation.c.inc](https://github.com/OpenModelica/OpenModelica/blob/master/OMCompiler/SimulationRuntime/c/simulation/solver/perform_simulation.c.inc#L508-L510) is `Inf` if the stop time is very lage.

DASSL and other solvers are using that to do steps until the end time is reached and are doing way to many steps.

### Steps to Reproduce

[2022-05-17 12:00] AnHeuermann commented on #8970
`stepSize=200` is read from the initialization XML file. Only if it is not specified the default value `(stopTime-startTime)/500` is used.

So when using override we need also to override `stepSize`.  I'm not sure if this is clear to users. But if `stepSize` is specified in the default experiment we should use that, unless told otherwise by `override`.

I could add a warning if override with `star

[2022-05-17 13:08] AnHeuermann commented on #8777
I changed `omc_fopen`. Do we need to use it in OMEdit as well? I did not change it there, because it uses different stuff around `fopen`.

@adeas31 Should we check wat OMEdit is using and if `omc_fopen` is usable there?

[2022-05-17 13:12] casella commented on #8861
@mahge points out that this affects every use of curl, not just that. Maybe we could make the timeout settable.

[2022-05-17 13:15] casella commented on #8874
KISS, never mind specific 1.19.x versions :)

[2022-05-17 13:41] casella commented on #8938
It seems quite likely that the root cause of this is the same as #8772, which is non-trivial. I'll mark this for 1.19.1, if we manage to solve it in time for 1.19.0, that would be even better.

[2022-05-17 13:43] christiankral commented on #8935
The variable voltage source is operatated with variable magnitude, starting with magnitude 0. For the initialization magnitude = 0 is used.

When I remove the varibale voltage source from the model `LoadFlow`, all three models produce correct simulation results. In the modified models only the initialization case is evaluated through the entire simulation time -- without any dynamics.

![image](ht

[2022-05-17 14:01] casella commented on #8967
For sure is seems quite weird that you have a binding equation trying to make a  package equal to an integer. That does't make much sense to me. The error message is technically correct but looks a bit like the tail wagging the dog. If one forgot the last part of `Modelica.Units.SI.Length` in the declaration, an error message that complains because it found an integer instead doesn't help much.

[2022-05-17 14:02] phannebohm commented on #8893
I opened a discussion #8973 for my idea. The filter in the backend is still something we should do here.

[2022-05-17 14:05] phannebohm commented on #8953
As suggested by @mahge in today's meeting, we could at least check the equations found by `RemoveSimpleEquations` with relative ease.

[2022-05-17 14:55] casella commented on #5297
@adeas31 I went through repos.json once and updated it. I guess there is some ambiguity between "support" and "noSupport", please let me know what tags are you using for the library support selection, I'm not sure where to look at in the source code. Thanks!

[2022-05-17 15:03] casella commented on #8935
@AnHeuermann @phannebohm would you mind having a look? Thanks!

[2022-05-17 15:34] casella commented on #8967
What is certain is that you can't do much with it. For example:
[code]
gives
[code]
while
[code]
gives
[code]
I guess you should only be able to access constants and functions. But why do that in the first place?

[2022-05-17 18:26] kabdelhak commented on #8381
Cerry-Pick PR: #8974

[2022-05-17 18:46] christiankral commented on #8966
@bilderbuchi Thanks for reporting your result.

@casella I cannot tell if it is a regression or if a new feature caused this issue. In version 1.17.0 (Windows 10) the Diagram View appears as:

![image](https://user-images.githubusercontent.com/4184218/168887576-3f1570ad-c6cf-476d-8e87-afe9f057b184.png)

[2022-05-18 07:20] casella commented on #8966
That's better than 0, but not very informative either. I think trying to patch this thing now makes no sense, we should fix it in the context of #8425, which is currently work in progress and that we hope to roll out, at least partially, in 1.20.0.

[2022-05-18 07:31] bilderbuchi commented on #8966
well, you showed that by definition it is a regression (it was working before), only it regressed earlier than required for a quick fix...
Speaking of which, shouldn't this have the "regression" label?

[2022-05-18 07:33] quorx commented on #8938
@casella Okay, thanks for the update. Good luck!

[2022-05-18 07:39] casella commented on #8966
Technically it is a regression, though the previous result "R = R" did not convey much information.

The question is: in cases such as this one should we show "R = R", or rather "R = 1 Ohm"?

I have a preference on the second option, since the point of this visualization is probably to show actual values, not the parameter-passing structure - for that, we have the parameter menu.

@bilderbuchi, @c

[2022-05-18 08:08] bilderbuchi commented on #8966
Well, the information mirrored what is defined in the text layer, which is more useful (and correct) than "0 Ohm".

The second option sure sounds useful, but for that I guess we'll definitely need #8425 as you'll need to evaluate the expression in some way. Is the evaluation "cheap" enough to do every time the diagram view is rendered?

What do you propose to do in case the parameter value has not

[2022-05-18 08:15] casella commented on #8966
Sure. Probably not worth the effort to restore it.

Yes, the idea will be that every time we render the diagram view, and every time we open a parameter dialog, the essential parts of the model, i.e. the graphical annotations and the parameter bindings are flattened and evalutated. That's the only way, e.g., to get the right rendering of parameter-depending features such as conditional connectors

[2022-05-18 08:17] max-privato commented on #8303
Has anyone had a look at this?
I use this feature every day, many times per day, and I must continuously recompile the same model (without any modification) just to run it...

[2022-05-18 08:49] bilderbuchi commented on #8966
Leaving it blank if unavailable also sounds alright to me. I assumed from the fact that "R=R" worked before that this would not be complicated.

[2022-05-18 10:32] casella commented on #8873
Successfully tested in 1.19.0-dev.beta3.

[2022-05-18 10:32] #8873 closed

[2022-05-18 10:43] max-privato opened #8978 "Impossible to read partial results when execution is stopped"
### Description
When a lengthy execution is stopped, it is very it should be possible to read the signals, up to the stop time. Instead, the output file is not shown and no quantity can be plotted.

### Steps to Reproduce
Basic sequence:
- Launch OMEdit
- Launch the file Test.mo from OMEdit.
[Test.mo.txt](https://github.com/OpenModelica/OpenModelica/files/8715488/Test.mo.txt)
- After a few seconds

[2022-05-18 11:35] casella commented on #8862
I checked with 1.19.0-dev.beta3 without any internet connection, one gets a warning but then the preinstalled MSL is loaded.

We should probably check what happens if you do have an internet connection, but you can't go though it, e.g. because of firewalls. I can't do that right now, mayb @rfranke can test with 1.19.0-dev.beta3 and reopen if he still has issues.

The proper solution will have to b

[2022-05-18 11:35] #8862 closed

[2022-05-18 11:45] casella commented on #8886
@AnHeuermann: this is still not working:
[code]

[2022-05-18 11:46] casella commented on #8881
This now works fine in 1.19.0-dev.beta3

[2022-05-18 11:46] #8881 closed

[2022-05-18 11:47] casella commented on #8882
This now works fine in 1.19.0-dev.beta3

[2022-05-18 12:01] anotheruserofgithub opened #8979 "MultiBody visualizers not drawn"
### Description

Some visualizers (surfaces) are not drawn in simulation, in particular the `Modelica.Mechanics.MultiBody.Visualizers.Torus` which would be very useful since it could be used to display bodies with spherical geometry.

For months now, as an alternative I draw 3D circular arcs by concatenating multiple `Modelica.Mechanics.MultiBody.Parts.BodyBox` at varying angles, but with very lar

[2022-05-18 12:19] AnHeuermann commented on #8886
Will do

[2022-05-18 15:27] AnHeuermann commented on #8886
I can't reproduce the issue with my self-build omc from `maintenance/v1.19`, but 3de805117068f1a85b4bb138c510120055829013 is not in the [tag for beta3](https://github.com/OpenModelica/OpenModelica/commits/v1.19.0-dev.beta3), so it is missing from that beta version.

@adrpo Can you create a new tag / add it to the next beta version?

[2022-05-18 20:31] adeas31 commented on #8777
The library loading error is from compiler so if you have changed the compiler to use `omc_fopen` then it should be good enough. OMEdit only uses `fopen` for its own log files.

[2022-05-18 22:52] adrpo commented on #8886
dev.beta4 is building now.

[2022-05-19 07:56] casella commented on #8303
@adeas31 can you please have a look once the 1.19.0 release is done? Thanks!

[2022-05-19 07:59] casella commented on #5926
Original ticket: https://trac.openmodelica.org/OpenModelica/ticket/5926

[2022-05-19 08:05] casella commented on #5926
@max-privato, in the meantime the quick-and-dirty solution is to use csv output, possibly cleaning the last line manually.

[2022-05-19 08:08] casella commented on #8967
Thanks!

[2022-05-19 08:24] casella commented on #8777
@AnHeuermann, @adeas31 please agree on who can take care of this and please make sure it is also cherry-picked to maintenance/v1.19, so it will go into 1.19.0 as well. Thanks!

[2022-05-19 08:27] casella commented on #8211
No, sorry, we are trying to release 1.19.0 and currently have other higher-priority tasks in the pipeline. The problem is, we currently do not have extra manpower to assign to this task, besides the original developer @vwaurich. Do you think you could contribute, or know someone who could? In that case we could provide you support.

[2022-05-19 08:29] casella commented on #8979
@anotheruserofgithub the problem is, the original developer @vwaurich most likely doesn't have time to work on this anymore, and we are short of manpower to carry on this task. Would you like to contribute, or know someone who could? In that case, we would give you support.

[2022-05-19 08:57] perost commented on #8211
If needed I can probably take care of the compiler parts of it. It doesn't look like it would be much effort, but it might be hard for someone not familiar with MetaModelica and Susan to do.

[2022-05-19 09:02] casella commented on #8211
Great! If it's not much work, feel free to do it as soon as you want.

[2022-05-19 09:04] AnHeuermann commented on #8777
I'll give it a go today.

[2022-05-19 09:15] xning opened #8982 "No RPM ready for Fedora 36"
### Description

YUM repo for Fedora 36 is not ready, and I tried to compile openmodelica from source, to rebuild src.rpm, and to install rpm directly, openmodelica not works

### Steps to Reproduce

To install and run openmodelica  on Fedora 36

### Expected Behavior

First, we can compile openmodelica from source. `configure && make && make install` or rebuilding from src.rpm.

### Version and O

[2022-05-19 10:00] AnHeuermann commented on #8777
First issue is, that function `getProgramFromStrategy` is able to fail silently when getting a file name from a hash table. I re-actiavted the error message in that function:

[code]

But the root problem is, that the string for the directory path  changes from `Lib èèè` to  `Lib ├¿├¿├¿`. Could be an encoding issue.

---------------------

On Ubuntu `unzip` did extract the directory to `.../Lib KK

[2022-05-19 10:20] anotheruserofgithub commented on #8979
Hi @casella, thank you for your reply.

For sure I can give it a try if you guys can give me some pointers, although I am not familiar with the OpenModelica code/workflow.

In fact my issue is a duplicate of #8076, I did not see it previously, sorry.
Apparently, drawing surfaces is not implemented at all...
@vwaurich gave some hints [here](https://github.com/OpenModelica/OpenModelica/issues/8076#i

[2022-05-19 10:42] perost commented on #8950
#8984 changes the API so that the whole instance tree is now dumped recursively. A component's type will now be either a string if it's a builtin type or a class structure if it's not.

I also made the connector and replaceable information optional so that it's only dumped when there's something to dump, to keep the amount of data down a bit. But I'm not sure if we need this information for each c

[2022-05-19 11:11] AnHeuermann opened #8986 "Strings with special characters not correct on Windows"
### Description

The character `è` is not printed correctly in omc. It will be displayed as `├¿`.
I'm not sure if the internal binary data saving the string is wrong, or the place where the string is converted and given to omc or the place where omc is printing to my MINGW64 shell.

### Steps to Reproduce

When creating a mos script mwe.mos

[code]

in Windows I will get

[code]

On Ubuntu Focal t

[2022-05-19 11:12] AnHeuermann commented on #8777
Okay, the issue goes way deeper than what I could change quickly.

When creating a mos script test.mos
[code]
in Windows I get
[code]

I can add the error message https://github.com/OpenModelica/OpenModelica/pull/8985 to the master.
@casella Do you want the error message in maintenance/v.19 as well?

But I don't think we can solve this issue fast.
I opened a new ticket for this: https://github.com

[2022-05-19 11:17] #8970 closed

[2022-05-19 13:11] perost commented on #8211
#8987 adds dumping of Vector visualizers to the XML visualization file. I'm not sure if there are any more visualizers we want to dump, but it should be easy to add more if we need now.

[2022-05-19 14:24] mahge commented on #8986
It is something we have not handled with Windows console mode. [This wide char print](https://stackoverflow.com/a/12652946/6271971) implementation seems to correctly set the console mode. I tested it and it does work fine as far as I can tell. I am not sure what the rest of the code does. We can figure out out I guess.

The question is if can we cleanly replace the `fputs` (what we use now for `pr

[2022-05-19 15:36] max-privato commented on #5926
Aha, I'll try

[2022-05-19 18:23] casella commented on #8777
Is this just a problem of graphical rendering of the output on the Windows terminal? In that case, I wouldn't bother.

OK. Can be helpful for debugging.

I don't think getting an Internal Error on getProgramFromStrategy (BTW, what the hell does that function name mean?) helps end-user much.

I'm still not convinced that this is the issue. Getting a bad rendering of pathnames with accented letters

[2022-05-19 18:24] casella commented on #8777
I mean, the package manager and the linker work fine in that case. We just need to use the same mechanism for the package loader.

[2022-05-19 18:26] casella commented on #8982
@sjoelund can you help with that? Thanks!

[2022-05-19 18:32] perost commented on #8777
It loads a file (as an `Absyn.Program`) using a given strategy: on-demand (loads directly from filesystem) or hashtable (loads from a hash table of pre-loaded files). It actually makes sense in context.

[2022-05-19 18:35] sjoelund commented on #8777
I wonder if ANTLR internally loads things fine. Does loadFile work with accents in paths? https://github.com/OpenModelica/OpenModelica/blob/934e1493a0f39f6dbc26c92ebb2df981e65612ea/OMCompiler/Parser/parse.c#L457

It might also exist other functions that do not support this as Windows is a mess.

[2022-05-20 07:46] AnHeuermann commented on #8777
`loadFile` is working correctly in the case below:

[code]

What is the difference in running the original problem? We do stuff differently for files named `package.mo`.

But I can't debug this without #8986 being fixed because my prints won't show the right stuff and I don't have Eclipse with MDT set up on my Windows system.

[2022-05-20 08:23] AnHeuermann commented on #8986
`print` is generated in [CodegenCFunctions.tpl#L6244](https://github.com/OpenModelica/OpenModelica/blob/master/OMCompiler/Compiler/Template/CodegenCFunctions.tpl#L6242-L6244). We would need to call a different function that handles wide character prints on Windows.

Also the struct
[code]
may needs wide chars instead of `char` on Windows.

[2022-05-20 08:44] christiankral commented on #8966
From my point of view it makes a difference if I am looking at a simulation model or a component as a library developer.

- Being a user working on a simulation model I will most likely prefer the numeric value `R = 1 Ohm`.
- As a library developer where have to focus the model structure and its parameters, the symbolic parameter passing structure might be preferred. Consider the following DC mach

[2022-05-20 11:27] AnHeuermann commented on #8777
@mahge and myself tracked it down to `void* System_moFiles(const char *directory)`. Using [FindFirstFileW](https://docs.microsoft.com/en-us/windows/win32/api/fileapi/nf-fileapi-findfirstfilew) on unicode string `pattern`. will solve the issue. I'll create a PR for it.

[2022-05-20 12:27] LukasKoenemann opened #8991 "-csvInput with constant segments"
I'm using OMPython to simulate OpenModelica models within python. Therefore I use the flag "-csvInput" to specify the values of the input variables for my model. Is it possible to give omc the information how to interpolate the values of the csv-file (like in the CombiTimeTables)? Currently they will be connected piecewise linear, but I want constant segments.

[2022-05-20 19:08] AnHeuermann commented on #8777
I'll create the cherry pick for maintenance/v1. 19 on Monday.

[2022-05-20 19:11] adeas31 commented on #8874
Getting `x.y` from `getVersion()` output is not an issue. The only problem is that for nightly builds we should use `latest` instead of `x.y` and there is no such information that the specific version is a release or a nightly.

[2022-05-20 20:15] casella commented on #8957
The commit that broke this test case was made between Apr 24 and May 14, see [regression report](https://libraries.openmodelica.org/branches/history/master/2022-04-24%2011:23:12..2022-05-14%2000:36:35.html).

@mahge, would you mind having a look?

[2022-05-20 20:26] casella opened #8995 "Problems with code generation in ExternalMedia"
### Description

I hoped that the solution of #8738 would finally allow us to run ExternalMedia in OMC. Unfortunately, when I tried to run some examples with the latest nightly build, that includes those fixes, I got errors because of invalid generated C code. This is clearly a regression, because with earlier versions we could at least get to runtime.

@mahge, it would be good if you could have a

[2022-05-20 20:31] casella commented on #8777
I'd keep this open until we've actually tested it on 1.19.0-dev.beta5 😅

[2022-05-20 20:34] perost commented on #8957
I get some earlier error messages from the backend:
[code]
These messages do not show up in the error logs from the library testing, possibly because they are not proper error messages and just regular print statements for some reason.

[2022-05-20 21:06] casella commented on #8886
Works in 1.19.0-dev.beta4.

I am getting this warning:
[code]
which is not really very useful, since the end-user has no clue how to change the package manager working directory - in fact, that's not even possible, unless the username is changed.

Anyway, I can live with that.

[2022-05-20 21:06] #8886 closed

[2022-05-20 21:08] casella commented on #8381
Works fine in 1.19.0-dev.beta4

[2022-05-20 21:14] casella commented on #8979
@anotheruserofgithub, let's continue the discussion in #8076, otherwise this becomes messy.

Also related to #8211.

[2022-05-20 21:14] #8979 closed

[2022-05-20 21:21] casella commented on #8076
@anotheruserofgithub we currently miss implementation of Surface and of Vector (see #8211), whose use was introduced in MSL 4.0.0. There is also some information in #8211. I will ask @perost to do all the frontend work for Surface as well in that ticket, then you could try to figure out how the current visualisers are implemented in OMEdit and extend them to support Surface (and also maybe Vector)

[2022-05-20 21:23] casella commented on #8211
@perost, see #8076, we also miss Surface, can you please add that to the XML visualization file? Then hopefully someone can pick up the implementation in OMEdit.

Thanks!

[2022-05-20 22:09] casella commented on #8991
@LukasKoenemann good question. We may add some options to the runtime to change the interpretation of the input variable table. I guess this should be done in general, not only for python.

@AnHeuermann what do you think?

[2022-05-20 22:12] casella commented on #8874
The current nightly build has version number 1.20.0. I guess we simply need to stop calling the master version `latest` on the webserver, and just call it with its version number, i.e. 1.20 in the current case. I'm not sure exactly how this can be done, but it seems to me not such a big deal. Do I miss something?

[2022-05-20 22:18] casella commented on #8957
Aha, I didn't notice that. I guess this is on @kabdelhak then.

@perost, do you have some time to try some bisection and narrow down the search of the offending commit?

[2022-05-21 00:29] casella commented on #5297
repos.json update finalized, removed `partialSupport` in favour of `support`, which is recognized by OMEdit

[2022-05-21 00:29] #5297 closed

[2022-05-21 00:51] casella commented on #5726
-[X] Updated [OMPackageManager README](https://github.com/OpenModelica/OMPackageManager/blob/master/README.md) with the latest comment by @sjoelund.
-[X] Update support tags to reflect the current status more accurately.

[2022-05-21 00:51] #5726 closed

[2022-05-21 06:25] christiankral commented on #8966
@casella I agree with your point of view. The operation of OMEdit would become very difficult to users if we add an option for every use case. So I am fine with having the numeric values displayed, as this is of importance for most users.

[2022-05-21 06:33] AnHeuermann commented on #8991
Does a csv table like

[code]

already work?

Basically this should trigger an event at `time=0.5` where constant `x` changes from `1` to `2`.

If this is not already working we could make it work in the runtime.

[2022-05-23 06:22] LukasKoenemann commented on #8991
Ah, okay this one works already. Thank you for the information!

[2022-05-23 07:06] AnHeuermann commented on #8991
For higher order interpolation I would suggest to use Modelica models/blocks (maybe exported to FMUs) instead of CSV files.
I don't think adding this to a Modelica tool is the right approach, when it can be modelled by Modelica itself.

Closing this issue. If someone wants spline interpolation for CSV we can open a new ticket about that.

[2022-05-23 07:06] #8991 closed

[2022-05-23 07:10] AnHeuermann commented on #8886
Yeah the warning isn't really helpful in this case. Actually there is an additional line on how to resolve the problem:
[code]

But we can change the message for 1.20 or think about a more holistic approach.

[2022-05-23 09:19] adeas31 commented on #8874
For now I made a symlink (1.20 -> latest) on the server. We should automate this somehow.

[2022-05-23 09:42] perost commented on #8957
The issue is #8933, so the same commit that's responsible for most of the other regressions.

The problem seems to be that the `BackendEquation.solveEquation` gets e.g. the array equation `jointRRR1.n_b = some array expression` and then fails to solve for `jointRRR1.n_b[3]`. I tried adding a case to `ExpressionSolve.solveSimple` to handle that case:
[code]
That fixed the error messages from `Backe

[2022-05-23 10:44] perost commented on #8211
Added in #9000, but there's an issue. Unlike the other visualizers `PartialSurface` contains a replaceable function:
[code]
The current visualization implementation only looks at the model's variables, and this is obviously not a variable. The function isn't even part of the flat model since it's not called anywhere in the model, so we'll have to somehow instantiate it and pass it to the backend i

[2022-05-23 12:40] #8940 closed

[2022-05-23 13:05] casella commented on #8991
@AnHeuermann I agree with you in general, but if there are many such inputs, this could still be problematic: if you add many blocks each generating one variable, there may be a lot of duplicate code in the simulation executable, and additionally the runtime will have to figure out somehow that all these blocks generate events exactly at the same time.

On the other hand, adding only one big data

[2022-05-23 13:08] casella commented on #8886
Unfortunately the Microsoft webpage can't tell me how to reduce the length of this path, because obviously it has no idea how OMC generates it in the first place. That's the problem with this error message, it tells me something about the root cause, but not enough to allow me to solve it. :)

The question is, now that we have 8.3 paths implemented, is this really still an issue, or can we just st

[2022-05-23 13:09] casella commented on #8874
@adeas31, @adrpo, do we have a check-list of stuff to do when doing a release? I'd add a line there, before we forget

[2022-05-23 13:13] casella opened #9004 "Automatically update the link to the latest version of the User's Guide for dev versions"
Currently, https://openmodelica.org/doc/OpenModelicaUsersGuide/latest/ has a symbolic link to https://openmodelica.org/doc/OpenModelicaUsersGuide/1.20/.

We need to make sure that this link is updated when a new release comes.

[2022-05-23 13:16] casella commented on #8211
I thing implementing Vector is quite high priority, because without it we are missing a key part of 3D multibody animations, i.e.  applied forces.

Surface is more like an enhancement, but that's another ticket #8076. Sorry for starting a sub-thread in the wrong place 😄

[2022-05-23 13:20] casella commented on #8839
@adeas31 please cherry-pick into maintenance/v1.19

[2022-05-23 13:23] casella commented on #8874
I'll check this with the final beta, just in case.

[2022-05-23 13:25] casella commented on #8758
Agreed with @adeas31 to put this in the final 1.19.0-beta.5

[2022-05-23 13:26] casella commented on #8968
Agreed with @adeas31 to add extra text to the dialog

[2022-05-23 13:53] BasilioPV commented on #8211
I totally agree with @casella . Forces, arrows, etc... are key features of multibody animation. Thanks for your support!

[2022-05-23 13:55] AnHeuermann commented on #8886
Basically it tells you to run
[code]

[2022-05-23 14:00] AnHeuermann commented on #8886
There is no issue with loading / writing to files that have long names. But compiling (make, gcc, ld) will not work when the path limit is reached.

[2022-05-23 19:47] perost commented on #8076
Yes, we could probably evaluate the functions and put the resulting arrays in the xml file instead of the functions themselves. That's still quite a lot of work though probably, so I don't know when I'll get around to looking into that. But if there's interest in it we might of course raise the priority.

[2022-05-23 21:37] casella opened #9009 "Out-of-memory issue during instantiation in IDEAS library"
Some models of the IDEAS library, e.g. [IDEAS.Examples.PPD12.Heating](https://libraries.openmodelica.org/branches/master/IDEAS/files/IDEAS_IDEAS.Examples.PPD12.Heating.err) fail with

[code]
@perost I'm not sure if this is an easy fix, but it would be worth having a look. Most other issues with the IDEAS library are due to not compliant Modelica code and will be fixed soon by @Mathadon, so I think

[2022-05-23 21:40] casella opened #9010 "Variable not found during instantiation of an IDEAS model"
Please check [IDEAS.LIDEAS.Validation.Case900ValidationLinear](https://libraries.openmodelica.org/branches/master/IDEAS/files/IDEAS_IDEAS.LIDEAS.Validation.Case900ValidationLinear.err). The following error is reported:
[code]
I understand the model otherwise works in Dymola, so it may be an instantiation issue of the NF?

Keeping @Mathadon in the loop.

[2022-05-23 21:50] perost commented on #9010
There are only two mentions of `fraB` in the whole library:
[code]
The first line is the modifier the error points to, the second line is from the changelog of another model with a similar name.

[2022-05-23 21:55] casella opened #9011 "NF complains about missing 'each' while the prefix is actually there"
Please check [IDEAS.Buildings.Components.Examples.BuildingShadeExample](https://libraries.openmodelica.org/branches/master/IDEAS_dev/files/IDEAS_dev_IDEAS.Buildings.Components.Examples.BuildingShadeExample.err). The NF complains:
[code]
but it turns out that [line 30 of Overhang.mo](https://github.com/open-ideas/IDEAS/blob/77e78819a87f5a029171b6db9d28befbcd12daf5/IDEAS/Buildings/Components/Shading

[2022-05-23 21:56] casella commented on #9010
@Mathadon, maybe that model didn't work in Dymola as well...

[2022-05-23 22:00] casella commented on #8211
@anotheruserofgithub, would you like to take over this task? The XML file has been fixed already, you need to add some stuff to the OMEdit source code similar to what is already there, in order to support Vector.

[2022-05-23 22:01] casella commented on #8886
I'm a bit puzzled, do you mean running this from the DOS cmd prompt?

[2022-05-23 22:02] casella commented on #8886
I understood from @adrpo that he had fixed that. Do I miss something?

[2022-05-23 22:06] casella commented on #8076
Excellent, that would be great!

Of course. You just risk wasting your time 😄. If you need assistance on OMEdit programming you can ask @adeas31. You need to fork the https://github.com/OpenModelica/OpenModelica repo and eventually open a PR on master.

[2022-05-23 22:08] casella commented on #8076
For the time being @perost's top priority is to help getting #8425 done. I'd suggest to start with Vector first.

[2022-05-23 22:20] anotheruserofgithub commented on #8211
@casella Yes I will try to do that ;)

[2022-05-24 07:37] bilderbuchi commented on #9011
That `each` was only added 10 hours ago, though: https://github.com/open-ideas/IDEAS/commit/0519fd289ae8c1f1058f35e0ee10001245469ff0#diff-050b10bb46fd2e1530a14911ae7627a1903484c61ecaa63f0d41823404395fa7R30

[2022-05-24 07:41] Mathadon commented on #9011
@bilderbuchi @casella I'm sorry it seems that the each was no there indeed.. I must have added it and then forgot that I added it :s

[2022-05-24 08:22] AnHeuermann commented on #8886
Sorry. I was a bit to brief. The Microsoft help page tells you what the issue is and how to solve it by fiddling with the registry to increase the maximum path length. At the end of the page is code for CMD and PowerShell to do that. The code I posted is the PowerShell version. But I would not recommend changing stuff in the registry, since I don't know what the code exactly does.

[2022-05-24 08:26] Mathadon commented on #9010
@casella the bug is in IDEAS. The parameter is not declared (should be fracB instead of fraB). The model does work in Dymola since the parameter is assigned to a model that is conditional and disabled.

See https://github.com/open-ideas/IDEAS/pull/1276/files

[2022-05-24 08:29] Mathadon commented on #9009
@casella it would be interesting to check further what the scaling limits are of OM. A good goal would be to support ~100 zones: 5000 state variables and 40k algebraic variables.

[2022-05-24 09:37] AnHeuermann commented on #8463
We need to mark variables that are constant and are equation bound.

For my MWE we can test the binding, but in the ClaRa model we lost the `binding = DAE.EQBOUND()` somewhere:

I get
[code]

but it should be
[code]

[2022-05-24 09:48] perost commented on #9009
The model works fine on my machine and uses about 11 GB of RAM to flatten, so there's at least no other issue than using a lot of memory and presumably hitting the limit we set in the library testing environment. Unfortunately it's really hard to reason about memory usage in MetaModelica, but I will see if I can maybe figure out where all the memory is going.

[2022-05-24 11:10] Mathadon commented on #9009
@perost this model uses the `RectangularZoneTemplate`, which includes many conditional components. If they are parsed then that could be part of the explanation. I've also seen a significant reduction in performance in Dymola for that model once we added support for interzonal airflow. That feature required that our `PropsBus` connectors include a Medium declaration. A Medium is a package and cons

[2022-05-24 13:57] casella opened #9012 "Improve file selection tool"
The current handling of loadSelector parameter input strings could be further improved. Consider the following MWE package.

[TestFileName.zip](https://github.com/OpenModelica/OpenModelica/files/8765036/TestFileName.zip)

When I open M and double-click on table, the filename string parameter has a button for file selection, because of the loadSelector annotation. The most portable way to store dat

[2022-05-24 16:00] AnHeuermann opened #9014 "Record constant variables not public input in generated constructor function"
### Description

For the record

[code]

the Frontend will generate the record constructor

[code]

According to the [Modelica Spec 3.5 section 12.6 Record Constructor Functions](https://specification.modelica.org/maint/3.5/functions.html)

• Prefixes (constant, parameter, final, discrete, …) of the remaining record components are removed.
• The prefix input is added to the public components of th

[2022-05-24 16:04] AnHeuermann commented on #9014
Strangely the flat Modelica code for the example `package Demo`  from 12.6 of the spec, which has a similar structure, is generated correctly:

[code]

[code]

[2022-05-24 17:32] casella commented on #8839
Looks good on master. One last check due in 1.19.0-dev.beta5

[2022-05-24 17:47] casella commented on #8758
I'll check this in 1.19.0-dev.beta5 when available

[2022-05-24 17:53] adrpo commented on #8165
I have read this ticket again and I realized I was talking about the way we handle the Windows documentation.
I have talked with  @sjoelund and we know how to properly fix this by putting the documentation together with the various packages we have and not separately. But building that stage and fixing all the bugs will take time so for 1.19 I will see how I can generate omc-doc-1.19 package on th

[2022-05-24 18:19] casella commented on #9011
Success https://libraries.openmodelica.org/branches/history/master/2022-05-23%2022:44:41..2022-05-24%2011:46:14.html 😃

[2022-05-24 18:19] #9011 closed

[2022-05-24 18:19] casella commented on #8886
Me neither 😄

[2022-05-24 18:21] casella commented on #9010
OK, sorry but I understand that is not allowed. The only ways to interact with conditional components is via connects (which are implicitly removed if the connected object is not active), or via binding equations in the conditional variable declaration.

Let's wait for the pipeline to get through.

[2022-05-24 18:24] casella commented on #9009
11 GB these days is not such a big deal. For testing, though, we need to limit the memory footprint because we are running many simulation in parallel and we must be careful not to run out of memory.

From my experience 40k variables is no big deal, while 5000 states could be the problem.

@Mathadon you can turn on the -d=execstat compiler flag and see the memory allocation of each step in code ge

[2022-05-24 18:58] Mathadon commented on #9009
@casella are those states a problem for the compiler or for the time integrator? We tend to use Euler integration to cope with the large number of state variables so if there is no bottleneck in the compiler then it sounds like we're ok since Euler scales linearly.

[2022-05-24 20:28] casella commented on #9009
Currently it is a problem with the compiler, but it could also be for the runtime simulator.

I'm not sure if those systems are stiff or not. For sure DASSL with dense solver is a no-no for such large number of states: just holding the dense Jacobian would need about 200 MB, and inverting it would take forever. You can try the `ida` solver, that uses the sparse Kinsol/KLU solvers to solve the BDF

[2022-05-24 20:31] casella commented on #9009
As I understand, this shouldn't be a problem for the new frontend, which has been optimized to avoid such kind of overhead. @perost, can you comment on that.

Yeah, it would be nice to have some clue if there is some bottleneck that can be removed with a more efficient implementation.

[2022-05-24 21:50] perost commented on #9009
We instantiate conditional components and remove them during the flattening phase, since that's the first place where we can do it. So if there are a lot of conditional components that are deleted that could be a problem. I had a quick look and out of about 50000 components that had a condition only about 2000 were deleted, but that doesn't say anything about the size of the components.

Ideally w

[2022-05-25 03:12] xning commented on #8982
@sjoelund
/
Do we have yum repo for modelica-nightly-debuginfo RPM?

[2022-05-25 04:54] sjoelund commented on #8982
We do not. I'm not sure it would cause a problem either because we need non-stripped binaries by default in order to produce some of the error-messages in omc.

[2022-05-25 08:18] AnHeuermann commented on #9014
Fixed with #9016

![image](https://user-images.githubusercontent.com/38031952/170215484-02414f79-dca1-441c-8318-57dffdea523c.png)

[2022-05-25 08:18] #9014 closed

[2022-05-25 08:27] AnHeuermann opened #9017 "ClaRa: Array dimensions not equal"
### Description

For the developer version of ClaRa the model `ClaRa.Components.Furnace.Check.Test_CombustionChamber` fails at simulation during initialization while copying an array, because of unequal dimension sizes.

### Steps to Reproduce

Load TILMedia and ClaRa dev version and simulate `ClaRa.Components.Furnace.Check.Test_CombustionChamber`
[code]

[code]

### Expected Behavior

The dimensi

[2022-05-25 08:27] AnHeuermann commented on #8463
This specific issue is solved by #9041 and creates a new issue:  #9017

[code]

[2022-05-25 08:27] #8463 closed

[2022-05-25 09:26] mahge commented on #8995
Some clarification needed here. The [ExternalMedia 3.3.1](https://github.com/modelica-3rdparty/ExternalMedia/releases/tag/v3.3.1) linked in the issue does not have shared versions of ExternalMediaLib available. This means the FronEnd is not able to evaluate some function calls when needs to do so.

Can you please check if the issue is still there with a shared version ExternalMediaLib available fo

[2022-05-25 12:24] sjoelund opened #9019 "Reduction does not work"
The following does not pass the front-end:
[code]
It is equivalent to:
[code]

[2022-05-25 12:26] perost commented on #9009
I had a closer look at the conditional components, and if I set the compiler to ignore the conditions the flat model becomes 5 times larger. So that's quite a lot more than I imagined and obviously something we need to fix.

I've started to change the way we handle conditional components so that we delay instantiating them until we can evaluate the conditions. Flattening the Heating model from IDE

[2022-05-25 12:40] AnHeuermann commented on #9017
We are failing in function `omc_ClaRa_Basics_Media_FuelFunctions_massFraction__i__xi` when doing

[code]

The Modelica function is `ClaRa.Basics.Media.FuelFunctions.massFraction_i_xi`.

`tmp2` has the correct size 4, coming from `fuelType.N_e - 1`, but `_xi_elements` has always 6 elements, but should have `fuelType.N_e - 1` elements.

[2022-05-25 12:47] AnHeuermann commented on #9017
An MWE

[code]

[2022-05-25 12:47] Mathadon commented on #9009
@perost to clarify, the RectangularZoneTemplate is something we do not intend to use much in the future and other models don't have as many conditions components. So for IDEAS I wouldn't consider this as high priority but improvements are always welcome of course.

[2022-05-25 12:59] AnHeuermann commented on #9017
It seems that the frontend replaces `protected Real x[r.nx-1]` with `protected Real[5] x`, probably because `r.nx` is `constant`.

Flat Modelica:

[code]

@perost Could you have a look?

[2022-05-25 13:16] AnHeuermann opened #9021 "ClaRa: Undeclared identifier at C compilation"
### Description

When compiling `ClaRa.Components.Mills.HardCoalMills.Check.combineMillandFurnace` there are a bunch of undelcated identifiers in the C code, see error log [ClaRa.Components.Mills.HardCoalMills.Check.combineMillandFurnace.err](https://libraries.openmodelica.org/branches/master/ClaRa_dev/files/ClaRa_dev_ClaRa.Components.Mills.HardCoalMills.Check.combineMillandFurnace.err).

[code]

[2022-05-25 14:07] perost commented on #9017
Fixed in #9023 by making sure we don't evaluate dimensions that contain references to function inputs. I guess we might still get issues if someone mixes function inputs and package constants in a dimension expression, so don't do that :sweat:

[2022-05-25 14:27] AnHeuermann commented on #9021
Variable `mills1.coalIn.fuelModel.xi_e_waf` is defined in `ClaRa.Basics.Media.FuelTypes.BaseFuel`:

[code]

and in this case has size `0x0` in the generated code.

For fuel `ClaRa.Basics.Media.FuelTypes.Fuel_verbandsformel_v1` (as well as v2 and v3) this is defined as `zeros(0,0)`.
I guess in that case we should just pass `NULL` to the record constructor.

But after doing that I'm getting
[code]

[2022-05-25 14:30] #9017 closed

[2022-05-25 15:02] AnHeuermann commented on #9017
One issue is solved and I can directly open the next one. But this time a minimal working example could be harder to create.

[2022-05-25 15:03] AnHeuermann opened #9024 "ClaRa: Constant array variables not equal in connect equation"
### Description

For some array the dimension is wrong and omc fails when copying an array into another one at simulation time. This is related to #9017, but a different cause.

The problematic part could be related to `inStream`, but I have to debug more.

[code]

### Steps to Reproduce

[code]

[code]

### Expected Behavior

The dimensions of the arrays should align.

### Version and OS

OpenMod

[2022-05-25 17:55] AHaumer opened #9026 "bug: redeclare final is ignored"
### Description
1. Implement a partial model with a replaceable component.
2. Implement a model, extending from the partial model, and redeclare final the replaceable component.
3. Use the model from step 2. in an experiment: The menu of this model still offers the final redeclared component for redeclaration!

### Steps to Reproduce
see above.

### Expected Behavior
Prevent finally redeclared mod

[2022-05-25 18:16] casella commented on #9009
@perost we are planning to build a library to support boiler design, to be used with OMC. The heat exchangers models in that library can be either 1D or 2D. The 1D model is small, the 2D model contains _a lot_ of equations. The way we'd like to design the library is to have both as conditionally activated sub-models - note that if we use the 2D model, we also need the 1D model to get good start va

[2022-05-25 18:27] casella commented on #9026
BTW, I understand there is no reason to use redeclare final. Only if you do redeclare replaceable should the redeclared class be further redeclared.

[2022-05-25 19:39] mwetter commented on #8958
I further isolated the case, as this causes many models to no longer translate. See https://github.com/lbl-srg/modelica-buildings/issues/3044

Essentially, in the section at
https://github.com/lbl-srg/modelica-buildings/blob/0960b8c691bbd61c19d0245d1995099e5ee6507c/Buildings/HeatTransfer/Windows/BaseClasses/RadiationData.mo#L26
there are two formulations of a parameter assignment. The first (comme

[2022-05-26 07:39] casella opened #9027 "The NF doesn't get the right dimension of parameter binding upon redeclare"
### Description

see [IDEAS #1254](https://github.com/open-ideas/IDEAS/issues/1254#issuecomment-1138237335)

Keeping @Mathadon in the loop.

[2022-05-26 07:59] casella opened #9028 "Some models in IDEAS silently fail during C compilation"
### Description

Some models in the IDEAS_dev library silently fail during C compilation, see, e.g., [IDEAS.Examples.TwinHouses.BuildingN2_Exp1](https://libraries.openmodelica.org/branches/master/IDEAS_dev/files/IDEAS_dev_IDEAS.Examples.TwinHouses.BuildingN2_Exp1.err).

The models have 30000 equation, 400 continuous states and 300 discrete states. They are definitely non-trivial, but their size sh

[2022-05-26 08:10] casella commented on #8772
Yet another probable instance in #8958.

[2022-05-26 08:11] casella commented on #8958
@mwetter, the root problem here is most likely the one described in #8772: there is some bug that causes parameter binding equations not to be sorted correctly in the BLT in some cases, which leads to wrong results because some parameters are actually used in expressions before having been assigned a value.

This is of course quite bad, because you silently get badly wrong results, without any kin

[2022-05-27 09:46] casella commented on #9028
@Mathadon, I guess there is a historical reason to this. Dymola started to be developed in the early '90s, for commercial purposes, I guess using C++. Back then, typical computers had a few MB of RAM. When I started using Dymola for power plant modelling, circa 2002, typical computers had 64 to 250 MB of RAM. Clearly, Dymola had to be memory-efficient to be usable. I don't know how much their core

[2022-05-27 14:08] casella commented on #8995
@mahge, sorry, you are right. I tried the experimental version in the `v4-dev` branch and indeed it worked fine. I'm struggling a bit to cope with this thing, because there are so many things that can go wrong, but I hope we are near the end :)

[2022-05-27 14:08] #8995 closed

[2022-05-27 14:13] mahge commented on #8995
No worries. To be fair we should find a way to detect those function evaluations that would, on failure, end up causing an error in code generation. I have no idea now how we would go about doing that but we can think about it at least. Plus I think @perost is already overloaded with things to fix. So this one can be left for later.

[2022-05-27 18:15] fedetftpolimi opened #9029 "Export Modelica utility functions symbols on Windows from executables generated by omc, and in OMEdit as well"
Hello,
in an attempt to fix error handling in ExternalMedia built as a shared library, I encountered the long standing issue of calling ModelicaError from a DLL (https://github.com/modelica/ModelicaSpecification/issues/2191), and I think I found a general solution, which relies on shared libraries calling symbols exported by the executable.

I tested my solution with OpenModelica (and Dymola by th

[2022-05-28 16:56] max-privato opened #9030 "Powergrids library coverage"
### Description
From this link:
https://libraries.openmodelica.org/branches/overview.html
I read that OM 1.18.0 should be able to run all the PowerGrids 1.0.2 models.
However this happens not to be the case, at least for model
Examples.Tutorial.IslandOperation.TwoGeneratorsLocalInitialization

### Steps to Reproduce
1. download and unzip PowerGrids 1.0.2 zip file
2. load PowerGrids onto OMEdit and

[2022-05-29 21:02] Mathadon commented on #9028
@casella thanks for taking the time to provide that feedback! I can understand the analysis about C++ and java being an important difference. I presume that this introduces a 'fixed' penalty on the memory requirements and not something that scales non-linearly with model size. In that case I agree that we can simply throw a bit more memory at the compiler. I've even used (SSD) cache to overcome me

[2022-05-29 21:22] casella commented on #9028
A pleasure 😄

That's the idea. The [ScalableTestSuite](https://libraries.openmodelica.org/branches/newInst-daemode/ScalableTestSuite_noopt/ScalableTestSuite_noopt.html) library is a nice tool to check that code generation time and memory requirements are scaling as O(N). When we started checking about 7 years ago, there were many methods in the OMC frontend and backend with naive implementations t

[2022-05-29 21:36] casella commented on #8777
@mahge, @AnHeuermann, we are almost there, but not yet. Try the attached [TestAccentedLetterDir.zip](https://github.com/OpenModelica/OpenModelica/files/8794349/TestAccentedLetterDir.zip) with v1.19.0-dev.beta5 (64-bit). TestPackage is loaded fine, but when I try to load ExernalMedia, I get:
[code]
and the Media package is actually not loaded at all.

[2022-05-29 21:37] casella commented on #8874
Both 1.19.0-dev.beta5 and 1.20.0-dev load the correct HTML version now.

[2022-05-29 21:37] #8874 closed

[2022-05-29 21:39] casella commented on #8839
Works fine also in 1.19.0-dev.beta5

[2022-05-29 21:39] #8839 closed

[2022-05-29 21:40] casella commented on #8758
Looks good also in 1.19.0-dev.beta5

[2022-05-29 21:40] #8758 closed

[2022-05-29 21:41] casella commented on #8968
Looks good also in 1.19.0-dev.beta5

[2022-05-29 21:41] #8968 closed

[2022-05-29 23:27] casella commented on #9030
@max-privato this is a known issue, see PowerGrids/PowerGrids#40. I'm still not sure if the model is structurally bad, or if it is just OpenModelica that is not good enough to solve it.

Have you tried running the same model with Dymola?

[2022-05-30 05:48] max-privato commented on #9030
I just wanted to show inconsistency between the coverage report and what rrally happens, not the fact that this model is not run.
Dymola is not able to run any of the three transient Tutorial.IslandOperation models, but this is another story.

[2022-05-30 07:35] bilderbuchi commented on #9030
AFAICT, this model is not included in the coverage testing at all. I [noticed](https://github.com/PowerGrids/PowerGrids/blob/master/PowerGrids/Examples/Tutorial/IslandOperation/TwoGeneratorsLocalInitialization.mo) that the model does not have an `experiment` annotation, the presence of which I think OM testing uses to pick up models to run.
Note that the model it *extends from* does have that anno

[2022-05-30 08:10] perost commented on #9030
We do indeed use the `experiment` annotation to decide which models to test, but we only check the annotations directly in a model. How to test libraries is not currently part of the specification, so that's just how we've chosen to do it.

It would be considerably more expensive and complicated to have to look up every base class of every class in a library to check if they have `experiment` anno

[2022-05-30 09:26] bilderbuchi commented on #9030
I agree, that's also something I was wondering about.

[2022-05-30 09:28] mahge commented on #8777
@AnHeuermann this mos script reports the error for me

[code]

[2022-05-30 09:35] AnHeuermann commented on #8777
Works for me.
[code]

Are we on the same omc version?
I'm on maintenance/v1.19 (1b635573bf0f9557562cb50d94b26573b4b3f3c3) and have build with CMake and am running the test in the MINGW64 shell from OMDev.

[2022-05-30 09:42] mahge commented on #8777
I am on d51b93f84b (tip of master) and also with CMake and OMDev/MINGW64. Something is not right here.

Unfortunately, eclipse is refusing to recognize any breakpoints. It just woke up today and decided not to. I am trying to figure out what is behind that.

[2022-05-30 09:44] perost commented on #8777
Did you build omc as Release instead of Debug perhaps?

[2022-05-30 09:46] mahge commented on #8777
It is a debug build. The odd thing is that me and @AnHeuermann used it just a few days ago and since then it has not even been opened 🙂. Maybe something got updated.

[2022-05-30 10:18] mahge commented on #8777
@AnHeuermann I think `SystemImpl__directoryExists` needs the wide character treatment just like `SystemImpl__regularFileExists`

https://github.com/OpenModelica/OpenModelica/blob/d51b93f84bc922c557d88d2bb925f31ec6627788/OMCompiler/Compiler/runtime/systemimpl.c#L913-L939

[2022-05-30 10:23] AnHeuermann commented on #8777
Could be, but I can't test if it works since for me it is still working. Even with the installed OpenModelica v1.19.0-dev.beta5.

I guess in the end we need to modify nearly all functions in systemimpl.c.

[2022-05-30 11:04] casella commented on #9030
In fact, the problem I mentioned in PowerGrids/PowerGrids/#40 is not the same that @max-privato mentioned, it is rather a regression, since the model simulated successfully in 1.18.0, though I'm not 100% sure that the result was correct. This is also something we should look into, if we had enough time 😅

[2022-05-30 11:09] perost commented on #9030
There's some discussion in the ticket I mentioned above for allowing non-simulation models to have `experiment` annotations in order to provide e.g. recommended settings, so in that case it would be inherited. But I think in that case an extending model should still have its own `experiment` annotation, even if it's empty, just to mark that the intent is indeed to use it for testing.

[2022-05-30 11:09] casella commented on #8777
@AnHeuermann here is a step-by-step guide to reproduce the issue that does not involve the zip file
- create a directory with spaces and accented letters
- download [ExternalMedia 3.3.1.zip](https://github.com/modelica-3rdparty/ExternalMedia/releases/download/v3.3.1/ExternalMedia_v3.3.1.zip) from github and unpack it in there
- open the ExternalMedia library with OMEdit 1.19.0-dev.beta5 and check

[2022-05-30 11:15] casella opened #9033 "TwoGeneratorsLocalInitialization model in PowerGrids fails at initialization"
### Description

The `PowerGrids.Examples.Tutorial.IslandOperation.TwoGeneratorsLocalInitialization` in PowerGrids 1.0.2 fails at initialization during the homotopy process while `lambda = 0`, using the 1.19.0-dev.beta5 version of OMC. This issue should be investigated and fixed, and then the model should get an experiment annotation, so it is also added to the library testsuite.

[2022-05-30 11:17] casella commented on #9030
So I guess the bottom line is:
- we should make sure that the TwoGeneratorsLocalInitialization model works fine, see #9033
- once that is done, we should add an experiment annotation to it, so that it is added to the library testsuite

Then we can close this ticket 😄

[2022-05-30 11:45] AnHeuermann commented on #9021
Turns out my fix should be okay, but there are more issues.
For some reason we have `data->localData[0]->integerVars[122]/* mills1.coalIn.fuelModel.waterIndex CONST */ = 0`, but it should be `7`.

Problem is, we never set the constant `data->localData[0]->integerVars[122]`.

Here is an mwe:

[code]

[2022-05-30 11:54] AnHeuermann commented on #8777
I created `D:\workspace\Testitesttest\issue-8777\dir w äöüéè\` and unziped `ExternalMedia 3.3.1` into it.

Then I'm starting OMEdit 1.19.0-dev.beta5, unloading all standard libraries (I have MSL 4.0.0 loaded on startup) and then open the `package.mo` with `File->Open Model/Library Files`.

![image](https://user-images.githubusercontent.com/38031952/170986684-cda3b60b-0ec0-489e-9a02-4c9a1d44417b.pn

[2022-05-30 12:46] perost opened #9035 "GCC 12 warns about MetaModelica's use of `strcmp`"
GCC has started to complain about how MetaModelica uses `strcmp` when matching strings, producing a ton of messages like this:
[code]
I guess the issue might be that `MMC_DEFSTRINGLIST` defines a new struct with a data member of the appropriate size, which `MMC_STRINGDATA` then cast to a `mmc_string` that's defined as:
[code]
I'm not sure how that even works but apparently it does. I'm also not su

[2022-05-30 13:18] phannebohm commented on #6108
Thanks @AnHeuermann for porting so quickly!

After a quick look at `BackEnd/Tearing.mo`, I think we distinguish linear/nonlinear **equations**, but not variables. I remember a time when I understood tearing a lot better than I do now and there were reasons for why we do things from a certain perspective, e.g. equations instead of variables.
@kabdelhak how do you feel about tearing in the new backe

[2022-05-30 13:31] AnHeuermann opened #9036 "Constant var in record not initialized"
### Description

A constant variable from a record is not initialized with a start value.

### Steps to Reproduce

Run

[code]

### Expected Behavior

Generate a equation for the constant `r.m = 7`.

For parameters

[code]

we get the start value from the init file (?).

### Version and OS

 - OpenModelica Version: v1.20.0-dev-106-gd31fbb2d46
 - OS: Ubuntu Focal

### Additional Context

From #9021

[2022-05-30 14:21] #9021 closed

[2022-05-30 19:18] casella commented on #8772
This should be fixed by #8981, I'll check this with the next nightly build

[2022-05-30 19:19] casella commented on #8938
This is likely to be fixed by #8938, I'll check with the next nightly build.

[2022-05-30 19:45] casella commented on #8958
@mwetter, #8981 has improved the situation significantly, see [regression report](https://libraries.openmodelica.org/branches/history/master/2022-05-29%2022:30:42..2022-05-30%2011:35:57.html). In particular, the AbsorbedRadiation case that you isolated now runs correctly again.

@kabelhak this might still be not good enough, if you count the [models in Buildings 8 that stopped simulating successfu

[2022-05-30 19:53] casella commented on #8957
After #8981 PlanarLoops_analytic [runs again](https://libraries.openmodelica.org/branches/master/Modelica_4.0.0/files/Modelica_4.0.0_Modelica.Mechanics.MultiBody.Examples.Loops.PlanarLoops_analytic.sim) and [verifies correctly](https://libraries.openmodelica.org/branches/master/Modelica_4.0.0/Modelica_4.0.0.html).

We need to check that the values of the shape vectors are now fine, but that is alr

[2022-05-30 19:53] #8957 closed

[2022-05-30 20:51] casella opened #9038 "Allow testing bigger models in selected libraries"
As discussed [here](https://github.com/OpenModelica/OpenModelica/issues/9028#issue-1249234961), most of the 10000+ models we test as of today in the library testsuite are toy-sized models. Only testing them is not good enough, people now often use models with 40.000 or 80.000 variables for everyday use, which can still be handled within reasonable amounts of time, so we should actually test them.

[2022-05-31 09:09] casella opened #9039 "Finalize the 1.19.0 release"
- [X] Finalize the release notes on trac https://trac.openmodelica.org/OpenModelica/wiki/ReleaseNotes/1.19.0
- [X] Move open issues to 1.19.1 and 1.20.0 release
- [x] Tag the 1.19.0 (and also the previous 1.18.1) releases on GitHub https://github.com/OpenModelica/OpenModelica/releases
- [x] Build the release for Windows
- [x] Build the release for Linux
- [x] Update the download pages on https://o

[2022-05-31 10:45] AnHeuermann opened #9041 "Disallow constant without binding in record"
### Description

A record with a constant variable without a binding equation should not be allowed.

### Steps to Reproduce

[code]

### Expected Behavior

Issue an error.

### Version and OS

 - OpenModelica Version: v1.20.0-dev-106-gd31fbb2d46
 - OS: Ubuntu Focal

### Additional Context

Dymola will report:
[code]

[2022-05-31 10:58] #9027 closed

[2022-05-31 11:49] Mathadon opened #9042 "support for OSX , M1 , Arm64."
Based on this comment https://github.com/OpenModelica/OpenModelica/issues/7272#issuecomment-806424533 and the readme (https://github.com/OpenModelica/OpenModelica/blob/master/OMCompiler/README.Linux.md) I believe that there is currently no support for Arm64, which is needed for Macbooks with M1 chip.

Would it be hard and/or a lot of work to add such support? If manageable I could spend time on it

[2022-05-31 11:51] JavierArroyoBastida commented on #9042
Thanks @Mathadon! I'm also interested in this issue and willing to contribute. I have an M1 Macbook that can use for testing.

[2022-05-31 11:54] AnHeuermann opened #9043 "ClaRa: replaceHomotopyWithSimplified failing"
### Description

The following models

  - [ClaRa.Components.Control.PredictorModels_3508.Check.TestPredictor](https://libraries.openmodelica.org/branches/master/ClaRa_dev/files/ClaRa_dev_ClaRa.Components.Control.PredictorModels_3508.Check.TestPredictor.err)
  - [ClaRa.Components.VolumesValvesFittings.Pipes.Check.FlowReversal.Test_Pipe_L4_Advanced](https://libraries.openmodelica.org/branches/maste

[2022-05-31 13:16] AnHeuermann commented on #9036
During removeSimpleEquations we replace
[code]
with
[code]

We need to do the same for constants in `replaceExp`.

https://github.com/OpenModelica/OpenModelica/blob/a906e3affaa7b1b2dd855cd9f17bede6a0442737/OMCompiler/Compiler/BackEnd/BackendVarTransform.mo#L988-L1250

But the binding equations are missing from `t = DAE.T_COMPLEX(varLst = varLst)` in case `case (DAE.RECORD(path, expl, fields, t), r

[2022-05-31 13:54] casella commented on #9027
Thanks @perost, let's see the impact on the testsuite

[2022-05-31 13:56] casella commented on #9042
@Javier ArroyoBastida do you mean ARM running OSX, or ARM running Linux in a virtual machine?

[2022-05-31 14:15] casella commented on #9043
@AnHeuermann, Dymola always tries to initialize models without using homotopy by default, unless you set `Advanced.OnlyUseHomotopyMethod = true`. The rationale is that if it works, it's faster than with homotopy.

I argued with them in the past that it would be much safer to use homotopy by default (as we do in OMC), because if the modeller put homotopy there, he/she probably had good reasons for

[2022-05-31 14:37] perost commented on #9036
Which expression are you referring to? We have `r` in `foo(r)`, but that's not in itself a constant (I guess `r` could be expanded to `R(r.m) => R(7)`, but I'm not sure that's a good idea). And inside the function we have `r.m` which is a constant, but that's an input so it's only constant while the function is executed.

[2022-05-31 14:52] AnHeuermann commented on #9043
I'm not super sure,  but I think I activated `Advanced.OnlyUseHomotopyMethod = true` and most of the models are simulating in Dymola.
For `ClaRa.Components.VolumesValvesFittings.Valves.Check.Test_GasValves` I get a bunch of warnings and errors:
[code]

The other issues could also be because of #9036 or another issue with wrong variables.

[2022-05-31 15:02] JavierArroyoBastida commented on #9042
I have ARM running on OSX

[2022-05-31 15:40] Mathadon commented on #9042
What are the main challenges for adding such support?

[2022-05-31 15:57] casella commented on #9036
Hmm, I checked the specification,[ Section 12.6](https://specification.modelica.org/maint/3.5/functions.html#record-constructor-functions). It says

So it seems that the flat Test model should be something like
[code]
I guess before removing the prefix, the frontend should check that the modifying expression doesn't have higher variability than the corresponding element, but then it would be up to

[2022-05-31 16:15] sjoelund commented on #9042
The main problem with supporting OSX is that it changes every single OS release. It's not source-to-source compatible. There's two different C++ implementations. And especially things like Qt take a while before Macports supports new operating systems.

So it's difficult to have code that works for all OSX users.

Adding support for aarch64 was very simple in comparison.

[2022-05-31 16:17] sjoelund commented on #9042
#7538 #7540 I think is all that was needed to port omc to aarch64.

[2022-05-31 18:54] mahge commented on #8777
[This](https://github.com/OpenModelica/OpenModelica/issues/8777#issuecomment-1140528948) should be now fixed with #9044. We probably need to do more of these adjustments in more places. For now we can take them as they occure.

Please reopen if the issue is still there.

[2022-05-31 19:10] mahge commented on #9042
@Mathadon @JavierArroyoBastida if you have the machine with the relevant architecture and are willing to put some effort into it I can help you move it along.

There is a new experimental CMake build configuration for omc. That is probably the way to go here.  For starters you can go ahead and try building OpenModelica when you can and see what happens. There is a documentation for the CMake build

[2022-05-31 19:30] casella commented on #8777
I'll test it tomorrow with the nightly build and re-close if it is fine. If it works for me, then it would be nice to backport the fix to maintenance/v1.19, so we get it in 1.19.1. Thanks!

[2022-05-31 22:03] perost commented on #9036
Yes, we recently changed this, see #9014. That change has not been ported to 1.19, and I'm not sure if it should be.

[2022-06-01 09:43] bilderbuchi commented on #9039
FYI, the "stable development" link is the new one, but the "official release" one still points to 1.18.1 (despite the link text claiming otherwise)

[2022-06-01 09:47] adrpo commented on #9039
Thanks for that! I actually thought I updated it but you need to push the update button. It should be fixed now.

[2022-06-01 09:54] perost opened #9045 "JSON structure for annotations in instance API"
The current format for an annotation such as:
[code]
is
[code]
@niklwors suggested that it might be better with a format such as this instead:
[code]
The reason the format looks like it does right now is that annotations are dumped as modifiers, where every part may have both a value and submodifiers (`x(start = 1.0) = 2.0`). I don't think this ever happens with annotations though, so we could sim

[2022-06-01 10:14] perost opened #9046 "JSON structure for components in instance API"
@niklwors suggested that the JSON structure for components for e.g.:
[code]
might be changed to something like:
[code]
For the current structure, see e.g. [GetModelInstanceAttributes1.mos](https://github.com/OpenModelica/OpenModelica/blob/master/testsuite/openmodelica/instance-API/GetModelInstanceAttributes1.mos)

There are two significant changes here. The first is to dump the components as array

[2022-06-01 10:43] adeas31 commented on #9045
I like the suggestion. I also noticed that `modifiers` and `value` is all over in the JSON output.

Yes. That would be great.

The example above only shows the strings. What would be output format for `Real` and `Boolean` modifiers?

[2022-06-01 10:50] adeas31 commented on #9046
The order is important for OMEdit. I like the current structure. We can of course skip the default prefixes and just dump the ones that are different.

[2022-06-01 11:30] Mathadon commented on #9042
Sounds like we should give it a shot! I can only look into it once I get a new Mac but Javier might make time for it sooner.

[2022-06-01 13:51] JavierArroyoBastida commented on #9042
Thanks a lot @mahge! I'll try it out as soon as I can and come back to you with the outcome.

[2022-06-01 14:08] AnHeuermann commented on #9024
Pretty sure the underlying problem is https://github.com/OpenModelica/OpenModelica/issues/9036.

[2022-06-01 15:20] AnHeuermann commented on #9036
For
[code]

we can dump the simCode and get:
[code]

So in the algebraicEquations the replacement is done correctly, but in the initial equaton we should have the same?

[2022-06-01 21:57] casella commented on #8958
Great! I'll check with regression testing results tomorrow

[2022-06-01 21:59] casella commented on #9036
I guess so, why not?

[2022-06-02 06:44] christiankral commented on #8935
@casella This seems to be more than an initialization issue. In my investigations I introduced a transfromer with variable trasmission ratio, which can be [downloaded](https://gist.github.com/christiankral/252b8ba32e80e339a9fd35ced6ae3ac2).

![image](https://user-images.githubusercontent.com/4184218/171565713-ef5f833a-93eb-4266-98b4-ae09fcf41439.png)

The simulation result of OpenModelica show:

!

[2022-06-02 08:36] perost commented on #8958
The [report](https://libraries.openmodelica.org/branches/history/master/2022-05-31%2011:23:14..2022-06-02%2002:19:55.html) says that 16 models were improved. I went through all the Buildings 8 models that were broken and they are all now working as well as they did before, so I think we can close this now.

[2022-06-02 08:36] #8958 closed

[2022-06-02 10:29] perost commented on #9045
#9051 implements the JSON structure mentioned above for annotations, and we've also decided to start dumping all expressions as JSON instead of strings. The dumping of expressions is still work in progress though.

[2022-06-02 13:52] casella commented on #9027
The Case610 model now works fine, see [regression report](https://libraries.openmodelica.org/branches/history/master/2022-05-31%2011:23:14..2022-06-02%2002:19:55.html).

[2022-06-02 14:51] mwetter commented on #8958
Great to see them working again. Note however that with OpenModelica 1.20.0~dev-114-g9ac2542, `Buildings.ThermalZones.Detailed.Examples.MixedAirFreeResponse` has about 11,000 lines of the form
[code]
This may indicate an issue, or you may want to suppress them after reporting them a few times?

[2022-06-02 15:26] arouhan opened #9052 "CCCV_Stack in Modelica.Electrical.Batteries.Examples fails"
Hello,
the Modelica.Electrical.Batteries.Examples.CCCV_Stack model of MSL 4.0.0 fails to run under OME v1.19.0 winx64

result is:
[code]

The issue has already been reported in v1.18 version: https://github.com/OpenModelica/OpenModelica/issues/7793#issue-976191023

[2022-06-02 16:28] paultjevdh commented on #8860
Hi,

The reverse also seems to be true: the text model has a neat rounded value whereas the graphical view shows superfluous digits.
When I edit the value of a resistor which has displayUnit set to mOhm, the value is correctly stored in the text model, but the value in the graphical model and the parameter edit dialog has irrelevant digits.
For example setting a value of 1mOhm in the parameter edi

[2022-06-02 16:41] casella commented on #8958
Suppressing warnings about singular systems is maybe not a good idea. The warnings [posted by the CI](https://libraries.openmodelica.org/branches/master/Buildings_latest/files/Buildings_latest_Buildings.ThermalZones.Detailed.Examples.MixedAirFreeResponse.sim) are much less than 11K, but yet we should look into this.

[2022-06-02 16:43] casella opened #9053 "Linear solver failures in Buildings model because of bad tearing"
### Description

As reported by @mwetter, model [Buildings.ThermalZones.Detailed.Examples.MixedAirFreeResponse](https://libraries.openmodelica.org/branches/master/Buildings_latest/files/Buildings_latest_Buildings.ThermalZones.Detailed.Examples.MixedAirFreeResponse.sim) generates a lot of warnings about linear solver failures.

@AnHeuermann could you please have a look and report?

[2022-06-02 16:44] casella commented on #8958
See #9053.

[2022-06-02 16:46] casella commented on #8860
It's already mentioned there, thanks!

[2022-06-02 16:49] casella commented on #9052
@arouhan thanks for reporting, we'll look into that ASAP.

[2022-06-03 13:05] AnHeuermann commented on #8555
The algorithm seems to get stuck in step 6 of `balanceInitialSystem`
[code]

The equation
[code]
gets stuck during ExpressionSimplify.simplify.

Here is the stack trace
[code]

[2022-06-03 13:28] AnHeuermann commented on #8555
@phannebohm and myself found a minimal working example to reproduce the issue (or actually the point is, that it is not minimal):

[code]

I think we need a upper bound for number of elements in expression or maximum depth of expression for simplify.

[2022-06-03 13:42] casella commented on #8555
I would suggest if possible to implement something quick-and-dirty, i.e. skip simplify completely if there are more than N elements in the expression, with N = 15 or something. This could and should be implemented right away with a minimal effort.

A better implementation should be though in the context of the new backend, where many of these problems shouldn't pop up at all in the first place, be

[2022-06-03 14:07] perost commented on #8555
`ExpressionSimplify.simplifyAddJoinTerms` could be improved, right now it's it's checking every combination of terms for equality. You can use a hashtable to keep track of the coefficients instead (i.e. `UnorderedMap<DAE.Exp, Real> with Expression.hashExp), that should be closer to O(n) rather than O(n²).

[2022-06-03 14:12] perost commented on #8555
Although I guess the current method might be faster when there are few terms, so an option is to have both methods and select one based on how many terms there are. It would need some testing to figure out an appropriate limit though.

[2022-06-03 15:06] AnHeuermann commented on #8555
Our mwe can be solved by using a simple maximum number of crefs in an equation and only simplifies if it's below the threshold.
But we are still differentiating each equations a thousand times to create the enhanced adjacency matrix.

And the original `TestMillBox_1` is still not finishing.

[2022-06-03 15:08] casella opened #9056 "Calling external functions from the frontend"
When constant evaluation of parameters and constants is required, the front-end may need to call some external functions. I understand this is currently made possible by `libffi`, _provided the external function is made available in some dll/so library and gets called directly_, e.g.
[code]
Is that correct?

Suppose now that the external function is provided directly as C source code inside the in

[2022-06-03 15:16] perost commented on #9056
No, it might work with the old frontend, I'm not sure if it handles that specific case. For the new frontend we decided we didn't want to generate C-code during flattening like the old frontend, so we went with FFI instead. So for this to work we'd have to generate a shared library from the given code that we can then call via FFI.

[2022-06-03 15:19] phannebohm commented on #8555
@linuslangenkamp this looks like a good challenge for our egraphs! The old implementation simplifies the same expression over and over. Our idea about saving the egraph and doing a lookup before simplifying would probably solve this instantly. :sweat_smile:

[2022-06-03 15:20] casella commented on #9056
OK, thanks! We are evaluating different options to handle ModelicaError (and also potentially other ModelicaUtilities functions) inside ExternalMedia, if this doesn't work we should not go this way. Unless at some point other libraries need that, in which case we'd have to implement it.

[2022-06-03 15:23] max-privato opened #9057 "Library manager issues"
### Description
I've just downloaded tOM 1.19.0, ant tried the new library manager. I find it two issues:
1) no uninstall is provided
2) meaning of "upgrade"e confusing

**Regarding point 1.**
the available options to manage libraries are
- install
- upgrade
- update.

I think it should be possible also to uninstall some library.
I imagine it is very common just to have a try at a library, to see

[2022-06-03 15:27] fedetft commented on #9056
Even if you try to handle inline code by producing a temporary shared library on the fly, exactly because the code will be called from within a shared library, it doesn't by itself fix the issue of calling ModelicaError.
The only true solution will be to allow all shared libraries to call ModelicaError, and for this, OMEdit, omc and the produced executables need to export symbols, see #9029

[2022-06-03 16:06] phannebohm commented on #8555
The equation in residual form (neglecting the `max()`) looks like
[code]

It is differentiated w.r.t all x[i], each giving
[code]
which then is simplified to
[code]
so there are some reasonable simplifications.

We're still not sure why that takes so long, i.e. if it's just the sheer number of differentiated expressions that need to be simplified...
If we exchange the equation with
[code]
the resp

[2022-06-03 16:24] max-privato commented on #7712
I've started using OM 1.19.0.
I would like to suggest a minimal, yet useful fine tuning of this ticket.
In the Grid combo box, the two items are :
detailed Grid
no Grid.

I would suggest to change into:
_detailed
none_
or, if you prefer:
_detailed
no grid._

This will allow the combo to become smaller.
Thank you.

[2022-06-03 19:55] mahge commented on #9029
I am not sure if I completely understood what the expectations are when you compile your shared library. If it needs to be compiled by itself with no expectations that omc is available at compile time then your approach might be something to consider (we had actually thought about that a while back).

However, for the linux case in your tests, I see that you are including OpenModelica's `ModelicaU

[2022-06-03 21:41] casella opened #9059 "Introduce flag to allow accessing protected variables in models"
@Mathadon has an interesting use case discusse [here](https://github.com/open-ideas/IDEAS/issues/1254#issuecomment-1146089018), where he needs to re-use models that have protected variables to hide the inner details in a different context, where he actually needs to access all their state variables.

Although this is technically forbidden, I see the point of the use case - asking to change the ori

[2022-06-03 23:42] casella commented on #9029
Absolutely. On the other hand, it is working on Linux, so apparently the omc executable in Linux actually exports them.

@mahge, our high-level requirement stems from the use-case of ExternalMedia, and can be stated in very simple terms: Modelica libraries that use pre-compiled external functions should work out of the box with all Modelica tools and all operating systems. This has been the Holy G