[2022-01-26 17:22] casella commented on #8463
@mahge, would you mind having a look? The library can be cloned from https://www.xrg-server.de/gitlab/Vojacek/clara_om.git

[2022-01-26 17:51] casella commented on #8464
I also think model `M` is not legal. I opened a request for clarification in ticket [#3103](https://github.com/modelica/ModelicaSpecification/issues/3103) of the Modelica Specification, please follow the discussion there.

[2022-01-26 19:31] kabdelhak commented on #8469
Yes, it was only the size check that failed. Ship it! :)

[2022-01-26 20:31] nift-d opened #8474 "dropdown for replaceable functions not shown in parameter window"
the parameter window is supposed to let me choose replaceable functions and packages - but it dos not.

Modelica.Fluid.Examples.PumpingSystem
parameter window for pump:
![grafik](https://user-images.githubusercontent.com/88383796/151238885-b09871eb-1327-4623-9930-ed31ceb3a5cb.png)

the group "Characteristics" should show the parameters:
- nParallel
- flowCharacteristic
- N_nominal
- rho_nominal
-

[2022-01-27 09:13] AlesVojacek opened #8475 "ClaRa: Is connect-equation: RealOuput connected with output variable of a connector legal?"
### Description

Is connect-equation: RealOuput connected with output variable of a connector legal?
In Dymola, the example ClaRa.Visualisation.Check.TestQuadruple, where this is used, is working. But in but OpenModelica not. It says in OM eyeOut.m_flow is not a valid connector.

### Steps to Reproduce

See [example](https://libraries.openmodelica.org/branches/master/ClaRa_dev/files/ClaRa_dev_ClaR

[2022-01-27 09:54] perost commented on #8475
`connect` takes two references to connectors, and `m_flow` is not a connector. I don't know why Dymola allows that, but I can't find anything in the specification that would allow using `connect` on something that's not a connector.

Note that `Modelica.Blocks.Interfaces.RealOutput` _is_ a connector, i.e. it's declared as:
[code]
But in the model and your example you're not using `RealOutput`, jus

[2022-01-27 11:26] AlesVojacek commented on #8475
You are right. Hence I just omit the connect-equation and just write an equation:
[code]
Then i works in OM as well.

[2022-01-27 11:30] sjoelund commented on #8475
Wouldn't it be better to declare the output Real as connector instead?

[2022-01-27 11:35] AlesVojacek commented on #8475
I have actually more variables then just m_flow (also p, h, T and s) so I do not want to have each of this variable to be a connector.

[2022-01-27 14:25] casella commented on #8475
I checked the original model `ClaRa.Visualisation.Check.TestQuadruple`. Indeed, the connect statements are invalid (the arguments need to be connectors), and substituting the connect statements such as `connect(m.y, eyeOut.m_flow)` with `m.y = eyeOut.m_flow` is indeed one way to fix the problem.

@AlesVojacek, what @sjoelund means is that if you want to be able to connect to individual variables i

[2022-01-27 15:48] nift-d opened #8478 "displayUnits as axis labels"
### Description

I can define a displayUnit for parameters and they are shown in the plot tab in the variables browser (at least sometimes) as expected. It would be nice if those defined units would show up as axis labels too (or an option to select them). Now the labels are set to the default unit
another problem is the play button in the variables browser: it does not do anything. I expected the

[2022-01-27 16:49] AlesVojacek commented on #8475
I see your point now @sjoelund and @casella . I was not aware of the hierarchical connector. This allows the eyeOut connector, using the GUI, connect to individual variables, indeed. For clarity, should not then also the connector, which is used in quadruple, be rewritten as a hierarchical connector? That means:

``
connector EyeIn "Signal bus featuring pressure, specific enthalpy, temperature, sp

[2022-01-27 17:01] sjoelund commented on #8475
I think the existing is correct. It has units. I'm not sure if adding connector inside the connector matters. I would make them both declared in the analogous way though.

[2022-01-27 17:08] AlesVojacek commented on #8475
Now I am confused with what you @sjoelund  mean by existing and make them both in analogous way. Can you for clarity write how you think the EyeIn and Eyeout connectors could look like?

[2022-01-27 17:11] sjoelund commented on #8475
If EyeOut uses Modelica.Blocks use the same for EyeIn. If it uses output Real, use input Real for EyeIn. Then it looks consistent.

[2022-01-27 17:32] AlesVojacek commented on #8475
Right. The way how it was implemented was consistent, i.e. it used output Real for EyeOut connector and input Real for EyeIn connectrr. But then only way to make the ClaRa.Visualisation.Check.TestQuadruple works is to get rid off the connect equations:
[code]
etc.
and write this instead:
[code]
etc.
which is fine for me. But then you (@sjoelund) and @casella came up with the hierarchical connector

[2022-01-27 19:43] perost commented on #8475
I'm closing this it's not an issue with OpenModelica that needs to be fixed, but feel free to continue the discussion if you want to.

[2022-01-27 19:43] #8475 closed

[2022-01-27 19:51] casella commented on #8475
@AlesVojacek, I'm not sure why @sjoelund brought up using input Real variables instead of RealInput connectors inside the connector, since he actually proposed the opposite in a previous comment 😄

Anyway, I myself have a slight preference for not mixing up textual equations and graphical connections in the same model, but it's a matter of style and taste, it's not forbidden by the specification,

[2022-01-27 23:01] nift-d commented on #8478
I have the feeling I need to specify the issue:
### Description
I have this hydraulic pump characteristic of a known pump I want to model. Resulting in a graph with flow on the horizontal and differential pressure on the vertical axis.
<details><summary>pump characteristic of manufacturer</summary>
    <pre>
<img src = "https://user-images.githubusercontent.com/88383796/151448087-c33487ec-3a92-487

[2022-01-28 12:23] casella commented on #8478
@nift-d, thanks for your feedback; there is something wrong with the management of display units that we need to fix, see next comment.

Regarding the guidelines, the requirement is that you provide **either** a list of actions or a Modelica script file to reproduce the issue. The script has the advantage of being 100% foolprof, because we get exactly the same output as you do, without issues of i

[2022-01-28 13:04] nift-d commented on #8478
@casella thx for your answer! is my approach to modeling the pump characteristics okay so far? I can not asses if it is due to my modeling or modelica that  the results are that far from the original curve.

[2022-01-28 15:12] perost commented on #3678
Original ticket: https://trac.openmodelica.org/OpenModelica/ticket/3678

[2022-01-28 15:26] perost commented on #3678
@casella

I've got something that's kind of working now in my [mergescalars branch](https://github.com/perost/OpenModelica/tree/mergescalars), but there's still some work left. The current implementation merges components in the model being instantiated if they:
* have the same scalar type (with the exact same name)
* are not themselves arrays (could probably be handled if we want)
* are not repla

[2022-01-28 17:52] casella commented on #8478
@adeas31 please run model S in this MWE package
[code]
If you make a parametric plot of m.h vs. m.q, you get:
![immagine](https://user-images.githubusercontent.com/4233148/151596145-025aa296-5dd8-48f3-bedc-33b8f7c09dda.png)
where the unit on the x-axis is reported to be m3/h (as mandated by the displayUnit attribute), but is actually plotted in m3/s. I guess this is a bug of parametric plots not d

[2022-01-28 17:53] casella commented on #8478
Yes. Please check the results in SI units. We still have some issues with unit handling in plots, I guess.

[2022-01-28 18:03] casella opened #8487 "Incorrect behaviour of drop-down unit menus for parameter inputs"
### Description

Please load the following MWE package
[code]
When I double-click on `m,` I get a parameter window, where the unit menus do not behave as I'd expect.

1. The menu for `q0` allows me to change the unit from l/s to m3/s (which is the SI unit) but not to other units, such as m3/h.
2. The menu for  `q1` allows me to change the unit from m3/h to m3/s (which is the SI unit) but not to ot

[2022-01-28 18:20] casella commented on #8487
@adeas31 can we manage this for 1.19.0?

[2022-01-28 18:21] casella opened #8488 "Unit multiples in plots should not be used when powers are involved"
Please run model S from the following MWE package
[code]
Plot variable `q`, which oscillates between 0 and 7200 m3/h. The values are reported in a derived unit (km3/h), which is of course wrong, as a flow rate of 7200 cubic meters per hour (a small creek or canal) is obviously not equivalent to 7.2 cubic kilometers per hour (maybe the Amazon river during the rain season...).

On the other hand, 79

[2022-01-28 18:21] casella commented on #8478
See also #8487 and #8488, which I found out while analyzing this test case.

[2022-01-28 19:02] casella commented on #3678
Very good. This looks perfect for the application of large power grids. @adriguir, do you agree?

Just to make sure I understand this correctly, consider this exemplary case
[code]
I understand what you mean is that `gc1`, `gc2`, `gc3` etc will be collected in an array `$merged[N]` (or `$ControlledGenerator[N]` according to my proposal), but you won't be doing the same for `f1` and `f2`. In other

[2022-01-28 19:32] casella commented on #5447
Original ticket https://trac.openmodelica.org/OpenModelica/ticket/5447.

We forgot points 5. and 6., which were due for the DFD a long time ago.
- For angular speeds always add in the menu in the unit column, in addition to the standard “rad/s” also “rpm”
- For energies always add in the menu in the Display Unit column, in addition to standard “J”, also “Wh” (prefixes such as kWh, MWh, GWh will be

[2022-01-28 20:34] perost commented on #3678
Correct. Otherwise we could have references to `f1` and `f2` in `Grid`, and then the renaming becomes far more complicated. If we restrict it to top-level instances it's trivial, since we know that e.g. the name `gc1` can only refer to the component `gc1`.

That's the flat output from the compiler, not how it looks like after the transformation. Currently I do the transformation between looking up

[2022-01-28 21:07] casella commented on #3678
Deal. Maybe in the future we could extend it slightly, like, instead of only merging top level instances, do merge instances within certain instantiated models that are listed somewhere (e.g. in an annotation9.

Sounds good. I guess 5000 instances is good enough already, even though very large EU-level models could have some components reaching the 10000 or even 20000 mark. That would be a huge im

[2022-01-28 21:13] casella commented on #3678
Here it is, no need to keep it confidential

[TestArray.mo.txt](https://github.com/OpenModelica/OpenModelica/files/7961854/TestArray.mo.txt)

See sub-package Vectorizable. We currently flatten with flags
[code]

[2022-01-31 12:31] perost commented on #3678
I've now changed the grouping of components such that only components with the same modifiers are merged together. So for e.g.:
[code]
we get:
[code]
This gets rid of the need to have "empty" expressions in the arrays, which solves the issues we had with nonfScalarize, bad typing of binding arrays, and overwriting modifiers with missing modifiers. We get potentially less merging if there are many

[2022-01-31 18:03] perost commented on #3678
Here are some performance numbers using the `SystemLarge` model from the original ticket with varying amounts of resistor instances. `-d=nonfScalarize` was used in all the cases.

| Instances | No merging | Merging | Merging + arrayConnect |
| --------: | ---------: | ------: | ---------------------: |
| 50        | 0.04s       | 0.007s    | 35s                    |
| 5,000     | 4.4s       | 1.1s

[2022-01-31 19:02] casella commented on #3678
@perost, I don't get why merging takes less time than no mergin, could you explain?

[2022-01-31 19:08] casella commented on #3678
In fact, I think we really don't care. The example in the original ticket (and also the examples in the ScalablePowerGrids benchmark) is somewhat artificial, because it has a very regular connection structure. In real power systems this is not the case, there are no rectangular connection patterns, so there is no chance (hence no need) of collecting connect statements in for loops. So, you can jus

[2022-01-31 19:59] perost commented on #3678
The time is the total time to flatten the model, so merging scalars into arrays is faster in this case since it makes the later phases faster when using `-d=nonfScalarize`. Which is exactly what we're aiming for after all.

The merging itself takes about 6s for the 500,000 case and seems to scale pretty much linearly.

[2022-01-31 21:55] casella commented on #3678
OK. It seems that if you forgo useless connection merging we get the perfect combination.

[2022-02-01 08:27] lochel commented on #8441
There is a docker option in OMEdit for the FMI export. This should also be available from the scripting interface I guess. I know that @AnHeuermann is using it a bit. Maybe he can comment too.

[2022-02-01 08:56] vince-ice commented on #8379
By the way, the following complains seem to be related to `bootstrap-sources` (see below):

Look, for instance at `OMCompiler/Compiler/boot/bootstrap-sources/build/_main.c`:
[code]
Why reference a file on your local machine?

If you then look at the error message, you see that filename is truncated: `NFModelicaBuiltin.m` is not found, but indeed it should look for `NFModelicaBuiltin.mo`, which is

[2022-02-01 09:21] AnHeuermann commented on #8441
Something like this should work:
[code]

But maybe use OMEdit and
![image](https://user-images.githubusercontent.com/38031952/151942354-17af1ef6-dcd9-47ca-add7-c5d7399ad908.png)
instead.

[2022-02-01 10:26] mahge commented on #8379
You have to tell us what you were doing or what changes you have made when the error happened. We build OpenModelica multiple times every day on multiple platforms. So there is no reason why it should suddenly fail to find a file because the file extension is truncated.

This is unfortunate but perfectly normal at the moment. It should not affect your compilation process in any way as far as I can

[2022-02-01 11:01] vince-ice commented on #8379
Well I am changing all the hardcoded references to `lib`.

Today build was successful for omc, OMEdit, OMSimulator, OMPlot.
I'll update the issue and give you all the info you requested as soon as I get everything else to build successfully.

[2022-02-01 14:55] perost commented on #3678
I've now opened #8490 that adds the `-d=mergeComponents` flag to enable this feature, please try it out and check how it works for you.

And just to summarize: the feature should be used with `-d=nonfScalarize` but not `-d=arrayConnect`, otherwise you'll get scaling issues with large models. Other flags shouldn't matter.

[2022-02-01 16:21] dag7dev commented on #7619
Not related to this issue, but thank you so much @kyak , after something like one hour of building, I've successfully installed OMC on my machine. Many, many thanks!!!

[2022-02-02 00:40] casella commented on #3678
OK, I'll try it tomorrow morning

I'm a bit confused by this. The idea of -d=arrayConnect was to keep equations coming from array (or for-loop) connect statements together as array (or for-loop) equations. This is different from collecting scalar connection equations into arrays. Can't we have both?

This is actually no big deal, because depending on the type of model, you either need one feature

[2022-02-02 09:49] perost commented on #3678
I'm not sure what you mean, but the issue is that `-d=arrayConnect` can't handle large amounts of connect equations (or possibly it's the structure in the `SystemLarge` model that causes issues for the algorithm). And the only feature we have that potentially collects scalar connect equations into arrays is `-d=arrayConnect`.

[2022-02-02 11:10] perost commented on #8469
#8473 fixed the issue, and all the mentioned models at least pass the frontend now.

[2022-02-02 11:10] #8469 closed

[2022-02-02 11:30] casella commented on #3678
@perost, I guess I got lost in the story of non-scalarized connect support in the NF. Let me try to summarize the story, to see if we're on the same page.

In the beginning there was darkness, i.e., connect statements in for loops were simply ignored when the system was flattened with `-d=nonfScalarize`, see [#5643](https://trac.openmodelica.org/OpenModelica/ticket/5643). Then came some light with

[2022-02-02 11:50] perost commented on #3678
#6848 and #6863 have nothing to do with `-d=nonfScalarize`, they are just some bug fixes for `-d=arrayConnect`. The issue with connect equations when using `d=nonfScalarize` that I mention in [my comment on #5643](https://trac.openmodelica.org/OpenModelica/ticket/5643#comment:5) is still a problem, i.e. array connectors are not scalarized properly which causes issues for the normal connection hand

[2022-02-02 14:26] casella commented on #3678
OK, sorry, now I'm even more confused about what -d=arrayConnect does. The [documentation](https://openmodelica.org/doc/OpenModelicaUsersGuide/latest/omchelptext.html#omcflag-debug-arrayconnect) is a classic tautology and doesn't help much:

@perost, could you explain what this module does in one or two lines, and add them to the documentation.

[2022-02-02 14:28] casella commented on #3678
I understand you have a bunch of scalar connect equations, involving connector names. Some of them can be recognized as coming from the array-fication of bunches of independent instances of the same class, because of their prefix or something. Can't you just preliminarly remove them from the set to which the graph algorithm is applied?

[2022-02-02 14:48] perost commented on #3678
`-d=arrayConnect` is an alternative connection handler based on the set-based graphs algorithm from Ernesto Kofman's group. I could add that it's based on set-based graphs to the flag description, but I'm not sure that clarifies much.

I'm not sure I follow, you want to use the normal connection handling on connect equations involving merged components and the array connection handling on other co

[2022-02-02 16:22] adrpo opened #8492 "Array element assign in when algorithm does not work"
## Description

All `tick` elements are -1.

### Steps to Reproduce

Simulate model:
[code]

### Expected Behavior

[code]

### Version and OS

All.

[2022-02-02 19:27] casella commented on #3678
What is not clear to me is what it does (how it does it, i.e. usig set-based graphs is also interesting, but that's not my point). I reckon it does something with arrays of connect statements, but what is it? Try to process the without unrolling them as much as possible? Unrolling them first, and then trying to merge them back? Something like this.

Yes, that's the idea. At least optionally (yes,

[2022-02-02 19:30] casella commented on #8492
Adding @AnHeuermann, since he was involved in most clocked bug fixing recently, so he may have a clue.

[2022-02-02 19:56] perost commented on #3678
The algorithm is based on ranges, so if you have two connector arrays c1[100] and c2[50] they'll be represented as e.g. 1:100 and 101:150. Then the algorithm splits and merges algorithms based on the connections somehow, and you end up with the sets of ranges that are connected. I don't know the details, but there's a [paper on it](https://arxiv.org/abs/2008.04183) if you're interested.

And the r

[2022-02-02 22:58] casella commented on #3678
@perost, I tried the models in `TestArray`, attached in a previous comment, with flags `-f -d=nonfScalarize,mergeComponents`. Model `TestArray.Vectorizable.B` was flattened as expected, but `TestArray.Vectorizable.C` gave:

I guess there is still something going wrong with the mergin. Can you please check?

[2022-02-02 23:03] perost commented on #3678
Seems the merging is fine, but `nonfScalarize` has some issues with the resulting model. I'll check it out tomorrow.

[2022-02-03 10:06] perost commented on #3678
The issue with `TestArray.Vectorizable.C` should be fixed in #8495. It was a general issue with `nonfScalarize` that just happened to show up when introducing arrays in certain contexts.

[2022-02-04 01:05] casella commented on #3678
I just tried it, looks good 😃.

Only one issue remains: the merged model is equivalent to the original one, except for the variable names, that are losing information because meaningful names are replaced by dummy identifiers build with the class name and an integer. Complex models will become tricky to understand by the user.

It would be nice if we could also get some kind of Rosetta stone, whic

[2022-02-04 08:52] perost commented on #3678
I already create a name map in order to replace the names everywhere in the model, so it's just a matter of deciding on what format we want it in.

[2022-02-04 11:28] casella opened #8500 "Implement Dirk Zimmer's Theta method"
The paper _Handling infinitely fast processes in continuous-time modelling_ by @dzimmer, presented at EOOLT '14 ([DOI:10.1145/2666202.2666206](https://doi.org/10.1145/2666202.2666206)), introduces a very nice and powerful concept to handle fast dynamic phenomena in equation-based, object-oriented models, so that the fast dynamics is exploited to ease the solution of the equations via a continuatio

[2022-02-04 13:10] AnHeuermann opened #8501 "Update keyring and add ccache to OMDev MSYS2"
### Description

There is a new msys2-keyring package. The old one is no longer usable and gives errors like
[code]

Also the CMake build needs ccache.

### How to update

I tried following https://www.msys2.org/news/#2020-06-29-new-packagers
and https://unix.stackexchange.com/questions/314698/pacman-error-duplicated-database-entry and did something like below.
But currently I'm still failing to u

[2022-02-04 13:11] AnHeuermann commented on #8501
@adrpo I have a branch with these changes, so I can upload it to somewhere.

[2022-02-04 13:13] AnHeuermann commented on #8501
Oh and to test that OMDev is actually usable:

Run MINGW64 shell
[code]

[2022-02-06 17:25] AnHeuermann commented on #8500
I think I got the idea of the paper, but not sure if I completely understood it in every detail.
Unfortunately Dirk Zimmer doesn't provide an example in his paper. I guess I need to check his other paper [Using Artificial States in Modeling Dynamic Systems: Turning Malpractice into Good Practice](https://ep.liu.se/ecp/084/009/ecp13084009.pdf) to find one.
But the idea to automatically handle ideal

[2022-02-06 21:10] casella commented on #8500
Yes. I can try to provide some simple examples myself. Maybe @dzimmer has some non-confidential example cases that he can provide.

Definitely.

No, that's the key point. You only have to use theta for those parameters that define the mass/momentum/energy/charge storage in that system. That's what makes it so powerful.

For example, an environmental control system such as the one described in the

[2022-02-06 22:18] dzimmer commented on #8500
Hi
First of all, thanks for showing interest in the idea.

In the meantime, I've spent some time with these pseudo-dynamics and I found out that if you allow it in general, you can open up the gate to hell :-)

Anyway, let me show one way, so that you still have a useful solution but avoid hell. Allow Theta and perform index-reduction as usual. If after index-reduction, theta can be extracted as l

[2022-02-07 11:57] perost commented on #3678
@casella: #8505 adds dumping of the name map using the same JSON format as the model obfuscation feature. Though looking at it now I realize it's reversed compared to what you suggested, i.e. `"oneInstance": "$Model[1]"` instead of `"$Model[1]": "oneInstance"`. It wouldn't be hard to add an option to swap the key and value to the dumping function, but maybe it doesn't really matter?

We now also d

[2022-02-07 13:55] mahge commented on #8416
This has been fixed as part of #8429.

[2022-02-07 13:55] #8416 closed

[2022-02-07 13:56] phannebohm commented on #8492
This is not about clocked partitions, it is the normal [operator 3.23](https://modelica.org/documents/MLS.pdf#operatordefinition.3.23) right?

The problem is it's an algorithm where you set part of an array, so according to the [MLS](https://modelica.org/documents/MLS.pdf#subsection.11.1.2) the whole array gets set to its start value on each evaluation. If you want to keep the old values from the

[2022-02-07 14:38] casella opened #8507 "Check behaviour of omc linker when using libraries sitting in paths with accented letters"
Most issues with compiling models sitting in paths with spaces or accented letters have been solved a few years ago. However, we should check what happens when omc needs to link binaries in some package resource directory, which is located in a path with accented letters. This is particularly important to guarantee the proper functioning of the new package manager under Windows, since the librarie

[2022-02-07 14:59] casella commented on #8184
@niklwors reports that this is a regression for them, they had models that worked in 1.18.0 and now fail because of this. We should solve the issue in 1.19.0, or at least provide them with some workaround.

[2022-02-07 15:41] adrpo commented on #8184
Should be fixed with #8506.

[2022-02-07 19:48] casella commented on #8416
Confirmed, thanks!

[2022-02-07 22:34] casella commented on #8492
@phannebohm, the story is a bit more complicated. [Section 11.1.2](https://specification.modelica.org/maint/3.5/statements-and-algorithm-sections.html#execution-of-an-algorithm-in-a-model) states that continuous-time variables are initialized at their start values (to avoid unwanted memory effects), while discrete-time variables are initialized with their pre-values. However, according to [Section

[2022-02-07 22:55] casella commented on #3678
Sounds good.

It really doesn't. In the other order the file will probably look tidier to a human eye, because all the $Model[xx] will be aligned, but who cares, this is not meant to be read by humans.

Well, this file is integral part of the information about the flat model, so I don't see why it shouldn't be generated all the time a model is flattened. In fact, our LLVM compiler uses the output

[2022-02-08 08:42] sbaetzing opened #8510 "Extends clause under protected scope"
### Description

Currently it is not possible to use extends clauses in protected scope. This should set scope from all elements to protected but its original scope is kept (See modelica specification section 7.1.2 "Inheritance of Protected and Public Elements").

Actual Result :
Original scope is kept

### Expected Behavior

All inherited elements should be protected

### Screenshots

### Version

[2022-02-08 09:47] perost commented on #8510
If I flatten your example I get:
[code]
Is this not correct?

[2022-02-08 10:10] sbaetzing commented on #8510
That's correct, but why parameter a (protectedExtends.a) is visible on parameter dialog and modification is valid

[2022-02-08 11:09] AnHeuermann opened #8511 "Searching in wrong directory for external library"
### Description

I'n loading two libraries: `ClaRa` and `TILMediaClaRa`.
In TILMedia an external library `TILMedia170ClaRa` is used.

For example in
[code]

`omc` is searching in `ClaRa/Resources/Library/` but not in `TILMedia/Resources/Library/`.

See also the test output: https://libraries.openmodelica.org/branches/master/ClaRa_dev/files/ClaRa_dev_ClaRa.Components.TurboMachines.Pumps.Check.TestP

[2022-02-08 11:30] perost commented on #8510
There's are two issues here. What you're seeing is that OMEdit doesn't know that an element is protected if it became protected due to an extends clause. This is the old issue that the API only operates on declarations and not the instance hierarchy, see #8425.

The other issue is that the compiler doesn't actually forbid modifying protected elements. This might be solved by #8512, but that will o

[2022-02-08 11:35] dietmarw commented on #8163
Any update on this, OMSimulator still fails with the latest nightly: OpenModelica 1.19.0~dev-564-g9489298

[2022-02-08 12:25] sbaetzing commented on #8510
ok thanks so i will go with the given tickets to follow this issue.

[2022-02-08 12:28] Artur-debug opened #8513 "FMU Crosscheck in Matlab failed since OM1.18.1"
### Description

Since OM 1.18.1, OM-FMUs can no longer be imported into Matlab (DLL file not found ). Error message:

Error in supplied FMU: Unable to load dynamic library 'C:\Users\A\Documents\MATLAB\slprj\_fmu\b26f65985e6aa186b7e6ea855cd7f34a\fmuTestExportOM181\binaries\win64\fmuTestExportOM181.dll': Das angegebene Modul wurde nicht gefunden.

### Steps to Reproduce

Export e.g CombiTimeTable w

[2022-02-08 12:36] Artur-debug commented on #8513
ME and CS  both  are affectet.

[2022-02-08 12:48] sjoelund commented on #8511
This is an error in the library. If there is ClaRa code that links to a library in TILMedia, then there must be a `LibraryDirectory` annotation: `LibraryDirectory="modelica://TILMedia/Resources/Library"` on each such function.
Note that in this case, the library is found later anyway (because `-L` flags were added for TILMedia as well), but to suppress the notifications, the library should be fixe

[2022-02-08 16:01] casella commented on #8511
In any case, referring to binaries of another libraries seems a questionable style for me. It would be much better if ClaRa only used Modelica stuff from TILMedia, and then the calls to external code would be confined to TILMedia itself.

[2022-02-08 16:02] #8510 closed

[2022-02-08 16:05] casella commented on #8513
@Artur-debug can you also try this with the latest nightly build?

[2022-02-08 16:19] Artur-debug commented on #8513
I will try it tomorrow.

[2022-02-08 17:17] phannebohm commented on #8492
And here I was thinking I understand what's going on, sorry :sweat_smile:

The problem was in the backend. Right after lowering we detect implicit discrete variables but if it's an array we only set the last element as discrete which is complete nonsense. In fact, if you simulate the original `SaveTime` for longer, the variable `tick[10]` gets the correct value.

[2022-02-08 18:17] casella commented on #8492
Never mind, I wholeheartedly agree with you that algorithms in models are diabolic 😄

Indeed.

Patience and persistence always pay out 😄

Looking forward to a PR fixing this.

[2022-02-08 18:48] #8492 closed

[2022-02-09 12:58] Artur-debug commented on #8513
With OpenModelica v1.19.0-dev-567-g4a43dbcc57 (64-bit) the FMU export works fine. Matlab has no problems with these FMUs.

[2022-02-09 15:48] AnHeuermann opened #8521 "Translation Error class not found in scope for package within"
### Description

When loading ClaRa (dev version) in OMEdit I get the following error:
[code]

### Steps to Reproduce

The problem looks something like this:

[code]

[code]

Here is a minimal working example:
[myLib.zip](https://github.com/OpenModelica/OpenModelica/files/8033999/myLib.zip)

### Expected Behavior

Find `myLib.A.Icon1` in scope.

### Screenshots

![image](https://user-images.github

[2022-02-09 15:54] casella commented on #8513
@Artur-debug we are planning to release 1.19.0 in a few weeks, there's no chance we can fix it in 1.18.x, so you can use the nightly for the time being and the next release will be fine.

[2022-02-09 15:58] AnHeuermann commented on #8461
Dymola is reporting issues for this model as well:

[code]

![image](https://user-images.githubusercontent.com/38031952/153239085-93ce2f72-8cf8-4fbb-b5ef-9cca227ad3cc.png)

`pump.Delta_p` is getting bigger and comes very close to `pump.Delta_p_max`. When changing that parameter to something smaller (`3.6e+7` instead of `3.8+e7` ) Dymola reports an error that get's very close to what we say chatter

[2022-02-09 16:03] AnHeuermann commented on #8461
So I would argue it is a problem with the model and not OpenModelica/Dymola.

It just happens, that OpenModelica reaches `Delta_p_max` a bit faster then Dymola.
![image](https://user-images.githubusercontent.com/38031952/153239953-948c38e0-adf7-443c-9bbc-5f802c70e011.png)

[2022-02-09 17:16] casella commented on #8466
Did you try setting `-d=initialization`, to see if OMC sets some default initial equations?

[2022-02-09 17:33] Shalom6624 opened #8522 "Thermocycle library"
Please I am new to openmodelica. Can the thermocycle library (an opensource library) also be used in openmodelica?

[2022-02-09 18:51] casella commented on #8522
Why not? It may need some small fixes, and/or openmodelica may need some bugfixes as well.

@jowr, @squoilin, did you ever try Thermocycle with OpenModelica? We can add it to our [testsuite](https://libraries.openmodelica.org/branches/master/) and see what happens.

[2022-02-09 20:04] Amuri44 commented on #8441
How can I add a docker in OMEdit?

[2022-02-10 09:55] valentindrou opened #8523 "Libraries not available on Debian"
### Description
I am trying to install OpenModelica (nightly release) on Debian 11. I followed the instructions of https://www.openmodelica.org/download/download-linux. I managed to install OpenModelica but cannot install any library, including Modelica Standard Library.

The command `apt-cache search "omlib-.*"` yields nothing, even after running `sudo apt update` and checking my internet connect

[2022-02-10 10:01] sjoelund commented on #8523
Those instructions are for the release. You installed the nightly build, which has instructions:

[2022-02-10 11:15] AnHeuermann opened #8524 "Source files missing from modelDescription.xml <SourceFiles> section"
### Description

When generating a source-code FMU not all source files in FMU/sources/ are listed in the appropriate section in the modelDescription.xml.

This can be a problem for FMU Importing tools that can automatically rebuild the FMU. The depend on the correctness of this information.

### Steps to Reproduce

Build a source-code FMU for
[code]

This model has a non-linear loop, so sources l

[2022-02-10 11:16] AnHeuermann commented on #8524
@mahge We could have a meeting to decide how to do this. I stumbled across this as well as you did previously.

Uncommenting the lines creates some issues, so we need to fix the copy files stuff above first.

[2022-02-10 13:35] AnHeuermann commented on #8283
In the Makefile we are linking to many locations outside of the FMU `binaries/` or `resources/`.

The linker flags are generated into `Makefile.in` by the Templates and can't be changed by configure. We need to change that.

For example we have

- `-L/path/to/OpenModelica/lib`
- `-L~/.openmodelica/binaries/Modelica`
- `-L~/.openmodelica/libraries/Modelica 4.0.0/Resources/Library/x86_64-linux`

To

[2022-02-10 13:41] AnHeuermann commented on #8283
@mahge Should we do this together with #8524 ?

We need to do add these sources to the modelDescription.xml anyway.

[2022-02-10 13:43] AnHeuermann commented on #8524
Maybe waiting for the CMake build to be used for FMUs would be good. No point in fixing it now when we have to re-do it for the CMakeLists.txt anyway.

[2022-02-10 14:13] mahge commented on #8283
Sounds good. This source code FMU support is a messy concept and is expanding so much bit by bit :).

[2022-02-10 14:15] mahge commented on #8524
Uncommenting the lines creates some issues, so we need to fix the copy files stuff above first.

You are right I was not able to figure out what they were for. We can probably fix it easily. Meeting sounds better.

[2022-02-10 14:18] mahge commented on #8524
I think apart from "possible" bugs or overlooked stuff, the CMake build should support FMUs just as good as the normal one. In some rare cases you might get different text output printed but you should not care about that unless you are doing the diff (e.g. rtest or jenkins). for those we need to updated the expected outputs. Other than that it should be good to go.

However, if we find out how to

[2022-02-10 15:44] AnHeuermann commented on #8466
There isn't any output from `-d=initialization`.

----------------

We have some alias conflicts:
[code]

But changing the nominal value of `pump.Delta_p_max_var` to `100000.0` doesn't improve the initial solution.

------------

I'm not sure how to debug the initialization system and figure out what went wrong.

[2022-02-10 15:53] phannebohm commented on #8466
How about changing the nominal value of `pump.Delta_p` to `0.0` for the second alias conflict?

[2022-02-10 18:55] casella commented on #8466
@phannebohm a nominal value of zero is really a bad idea. The nominal value gives a a-priori order of magnitude of the variable for proper scaling, so zero is not a good value, even if the solution turns out to be zero. I see that for a number of variables, and IMHO this is a bad library design and should be fixed upstream in ClaRa.

OpenModelica actually does use nominal values for scaling (see [

[2022-02-10 19:41] vruge commented on #7973
since #8068 is merge I will close the issue. Please feel free to reopen the issue if something is missing.

[2022-02-10 19:41] #7973 closed

[2022-02-10 22:40] #8455 closed

[2022-02-10 22:40] #8456 closed

[2022-02-11 01:39] ManuelZ commented on #4559
Isn't starting in Windows either.

[2022-02-11 09:07] adrpo commented on #4559
OMOptim is not supported anymore and we do not have the resources to fix it. If anybody wants to take the task of reviving and maintaining OMOptim, please let us know.

[2022-02-11 11:25] AnHeuermann commented on #8441
You can use the virtualization software [Docker](https://www.docker.com/) from OMEdit, but only if you have it installed on your machine.

To build an FMU from OMEdit inside a docker container, in this case [multiarch/crossbuild](https://hub.docker.com/r/multiarch/crossbuild), you can go to Tools->options->FMI and under `Platforms` you can choose different types of docker platforms. The first argu

[2022-02-11 11:58] #8523 closed

[2022-02-11 12:33] AnHeuermann commented on #8501
I think it is also needed to update the keyring, see https://stackoverflow.com/questions/68669920/invalid-pgp-signature-when-updating-packages-in-msys2-despite-fixes

[code]

[2022-02-11 13:14] AnHeuermann commented on #8501
@mahge I got it running without updating everything.
So no changes to OpenModelica are needed (`libszip*.dll` replaced by `libsz*.dll`).

I think one needs to do the following. But I tried a lot of different stuff, so maybe there is still something missing...

Reset pacman key store:
[code]

pacman-key was changed to to keyserver.ubuntu.com:
[code]

Update keyring:
[code]

Install ccache:
[code]

[2022-02-11 13:41] adeas31 commented on #8521
The problem comes from `getInheritedClasses` API call.

[code]

[2022-02-11 14:03] mahge commented on #8501
I guess this was missing. I have not seen this before.

I am going get a new OMDev and try it out.

[2022-02-11 15:12] #8521 closed

[2022-02-11 15:15] AnHeuermann commented on #7458
So I got something to run.

We need to copy files from `OpenModelica/common` (containing some `.m4` files and `install-sh`, as well as `OpenModelica/OMCompiler/m4` into the FMU.

The FMI headers should already be available in `fmu/fmiInclude`.

Then we can configure with
[code]

Next I need to figure out how to compile the sources. We have some problems with the Makefile as it wants to use `-Wl,--

[2022-02-11 15:57] perost commented on #8454
Minimal example:
[code]
There's a cycle between `size(cooBor, 1)`, nBor, and `size(borFieDat.conDat.cooBor, 1)` that arises due to needing to type `borFieDat.conDat` in order to look up the value of `borFieDat.conDat.nBor` needed for the dimension of `cooBor`.

To handle this we'd have to look up the value of `borFieDat.conDat.nBor` without typing `borFieDat.conDat` or only typing it partially, wh

[2022-02-11 17:24] phannebohm commented on #8262
Thanks to the MWE by @AnHeuermann I was able to identify the problem.
The operators `div`, `mod` and `rem` were falsely categorized as returning discrete values. That means any relation like `mod(x,const) < const` was regarded as not being able to produce an event. This is obviously wrong behavior, so I opened #8537 to address this.

[2022-02-11 18:14] #8262 closed

[2022-02-11 20:11] mahge commented on #8184
This should finally be fixed by #8506 (assisted by #8531 and #8533). The model in the ticket is translates and simulates successfully on Windows.

The libffi tests pass on Windows now. The Jenkins Windows build is also functional again. So I am going to close this for now. Please reopen if the issue is still there.

[2022-02-11 20:11] #8184 closed

[2022-02-11 20:18] mahge commented on #6242
I can not verify it but this might be fixed by #8506. However omc should now look in the correct places when looking for libraries for loading on Windows after 4717759fc5a28a0b60f9d7b1519f262c7b70f3ad.

This seems to me a mix of linking and loading so I am not sure if there are more issues. @niklwors please check again and update the ticket accordingly.

[2022-02-12 00:14] casella commented on #8454
@mwetter I'm wondering if it is really necessary to support such a convolute construct. If there is no easy way to change the library design to avoid this loop, then I guess @perost should implement what he suggested in the previous comment.

[2022-02-12 00:16] casella commented on #8262
Very good, nice job!

I guess this may also fix some pending issues with MSL verification. We'll see tomorrows regression report.

[2022-02-12 00:21] casella commented on #8184
Great, thanks @mahge!

We had similar problems with ExternalMedia, that needs to evaluate external functions with statically linked binary code at compile time to get package constants values. Are they also resolved now thanks to libffi?

[2022-02-12 08:47] max-privato opened #8538 "OMEdit does not save experiment annotation"
### Description
I already posted this issue some time ago, without a procedure to reproduce it, and at that time it seemed invalid. Now I have that procedure.
The issue is that  OMEdit does not save experiment annotation if "simulate" check box is not checked

### Steps to Reproduce
[RL.mo.txt](https://github.com/OpenModelica/OpenModelica/files/8053071/RL.mo.txt)
1. Run the enclosed RL.mo and plot

[2022-02-12 10:11] mahge commented on #8184
If the issue was with finding the libraries and loading for the purpose of constant evaluation by libffi, then it might be fixed now. 96be606e5f425a1924ac05ccc0907cbb69ce4fd8 has updated how the FFI implementation looks for libraries to cover more directories and name variations.

I think you mean dynamically linked (DLLs) the ffi approach would not if your libraries are not dynamic ones. If they

[2022-02-12 17:42] casella commented on #8262
Hmm, [not really](https://libraries.openmodelica.org/branches/history/master/2022-02-11%2011:23:50..2022-02-11%2022:23:29.html). Anyway, it needed to be fixed.

[2022-02-12 17:51] casella opened #8539 "Backend issue in HanserModelica"
@perost, there are three models failing in HanserModelica as [HanserModelica.Machines.TestDoubleLayer7over9](https://libraries.openmodelica.org/branches/master/HanserModelica/files/HanserModelica_HanserModelica.Machines.TestDoubleLayer7over9.err). There is one NF error reported
[code]
and then the NF finishes with
[code]
which is kind of weird, because the whole model went AWOL. Looking at the ove

[2022-02-12 18:10] perost commented on #8539
`NFAlgorithm.getInputsOutputs` was added by #8520, so that's something for @kabdelhak to look at.

The 0 equations and 0 variables seems to be correct though, the model only contains parameters and an initial equation as far as I can see. But that in itself shouldn't cause any issues, so there much be something else going wrong in the backend.

[2022-02-12 18:53] casella commented on #8184
At the moment we compile the ExternalMedia binaries as statically linked libraries, but this creates a number of issues (including this one, I understand), so we'll soon switch to dynamically linked libraries.

[2022-02-12 19:00] casella commented on #8539
In any case, the problem was there also in 1.18.0 and 1.17.0.

You're right, I hadn't looked into it.

Yes. @kabdelhak, this model involves scalar functions handling arrays of operator records, so there are quite many things that can go wrong there 😄

Can you please have a look?

[2022-02-12 19:31] casella opened #8540 "Is a record of parameters a parameter itself?"
Model [Buildings.Fluid.Geothermal.BuriedPipes.Validation.GroundCouplingAIT](https://libraries.openmodelica.org/branches/master/Buildings_latest/files/Buildings_latest_Buildings.Fluid.Geothermal.BuriedPipes.Validation.GroundCouplingAIT.err) fails with
[code]
where `cliCon` is defined as
[code]
and `BoundaryConditions.GroundTemperature.ClimaticConstants.Generic` is defined as
[code]
@perost, is a re

[2022-02-12 19:38] perost commented on #8540
A component is only a parameter if it's defined as a parameter. There's a specification ticket about it somewhere, but that was the conclusion and there was no need to add anything to the specification since that is what's already specified. The Buildings library has had several such issues in the past that were fixed, but it seems another one has snuck in that needs to be fixed.

[2022-02-13 13:51] mwetter commented on #8540
This will be corrected in the Buildings library through https://github.com/lbl-srg/modelica-buildings/pull/2888

[2022-02-13 13:58] mwetter commented on #8454
Let me have a look into it next week. I tried some other formulations, but didn't succeed yet.

[2022-02-13 15:08] #8540 closed, assigned to perost

[2022-02-13 20:48] casella commented on #8540
Thanks @mwetter!

For the record, the issue was discussed in [MLS #1832](https://github.com/modelica/ModelicaSpecification/issues/1832).

[2022-02-14 12:05] perost commented on #8454
I played around a bit and found a solution that seems to work. We could actually handle this already since the dimension triggering the error isn't actually used, the issue was just how to allow it without breaking the detection of actual cycles.

[2022-02-14 12:30] #8454 closed

[2022-02-14 13:44] mwetter commented on #8454
Great, thanks for fixing it.

[2022-02-15 10:11] AnHeuermann opened #8545 "Display all available libraries per default in OMEdit package manager dialog"
### Description

I can't download TILMedia with the package manager from OMEdit. The `OK` button is greyed out.
I can't choose a version, but the repository on GitHub has a release tagged.

### Steps to Reproduce

Start OMEdit.
File->Install Library
Name: TILMedia

### Expected Behavior

Install the library or tell me why I can't press okay.

### Screenshots

![image](https://user-images.githubuse

[2022-02-15 10:43] HSchatzTLK opened #8546 "TILMedia simulation process crashes"
### Description
Simulation process of TILMedia testers crashes.

### Steps to reproduce
Start OMEdit (Windows 64-bit)
Open TILMedia (https://github.com/TLK-Thermo/TILMediaClaRa)
Simulate one of the models in the "Testers" package (e.g. TILMedia.Testers.TestLiquid, default simulation setup was used)

### Expected behavior
Successful simulation. According to the [OM tests](https://libraries.openmode

[2022-02-15 10:44] sjoelund commented on #8545
You need to enable installing pre-releases with no support (since there is no tagged release).

[2022-02-15 11:28] dietmarw opened #8548 "Generated FMU points to undefined symbol "hybrj_" or "enorm_""
### Description
When generating an FMU from a simple heatflow system the generated model is pointing to an undefined symbol and hence can not be run.

### Steps to Reproduce

1. Open `Modelica.Thermal.FluidHeatFlow.Examples.SimpleCooling` in OMEdit and export as FMU (I had the settings blackbox and Euler solver)

Running the resultant FMU in FMPy will result in an error message:

[code]

In a diff

[2022-02-15 12:19] AnHeuermann commented on #8545
Ah I see. How can we make this obvious to the user?

Maybe use a table with all available libraries and some filter options to only show the ones with a specific version or support level?
In that I would see something like this

| Version     | Release type      | Support Level |
|-------------|-------------------|---------------|
| 1.7.0-ClaRa | Pre release build | None          |
| 1.7.0-main  |

[2022-02-15 12:30] arun3688 commented on #8548
@dietmarw I build the fmu with same settings in windows and tested with OMSimulator it works for me

[code]

[2022-02-15 12:30] AnHeuermann commented on #8548
`hybrj_` is from CMinpack and used for the default non-linear solver the runtime uses.

For source-code FMUs the sources were not added to the FMU. I fixed that in https://github.com/OpenModelica/OpenModelica/commit/ed1e04280491a3d5f33a5c71b08f884cc26381be and improved it in https://github.com/OpenModelica/OpenModelica/commit/eb0ed2668e8ad5d14df27fbb1c66d1585beb18c3.

[2022-02-15 12:33] sjoelund commented on #8548
Does the XML-file contain the correct files after this update? (For the source-code FMU importers out there relying on it)

[2022-02-15 12:34] AnHeuermann commented on #8548
No, the modelDescription.xml is missing these CMinpack source file information. See https://github.com/OpenModelica/OpenModelica/issues/8524

[2022-02-15 12:39] dietmarw commented on #8548
@arun3688 Unfortunately I can not test it with OMSimulator because of #8163. But it is not really relevant since it need to be able to run in an independent tool like FMPy where there is no openmodelica installed.

[2022-02-15 12:47] arun3688 commented on #8548
@dietmarw you can install OMSimulator using `pip3 install OMSimulator`, but as you said it should work in `FMPY` as well, I guess the issue is related with linux, because the windows generated fmu worked in FMPY as well for me.

[code]

[2022-02-15 13:03] AnHeuermann commented on #8548
I can't reproduce the error on Linux 20.04 with omc v1.19.0-dev-587-g8d0b1ce875 (but I'm on a CMake build which could be slightly different to the one installed via `apt`).

@dietmarw You don't have https://github.com/OpenModelica/OpenModelica/commit/eb0ed2668e8ad5d14df27fbb1c66d1585beb18c3. Could you try again with todays master?

This is the script I'm running:
[code]

[code]

[2022-02-15 13:05] dietmarw commented on #8548
Yes looks like it is an OS issue but probably on the OM side since the same model exported by Dymola works fine.
OMC export:
[code]
Dymola export:
[code]

[2022-02-15 13:12] sjoelund commented on #8548
Your OMC version is from February 10. Andreas fixed something February 11.

[2022-02-15 13:29] dietmarw commented on #8548
OK that was the problem. Everything is fine with the latest nightly:
`1.19.0~dev-586-gbf2fb17`
Sorry about the noise.

[2022-02-15 13:29] #8548 closed

[2022-02-15 14:04] adeas31 commented on #8538
This should work fine now. Thanks @max-privato for excellent description of the issue. That helped a lot.

[2022-02-15 14:18] #8538 closed

[2022-02-15 14:47] casella opened #8550 "Filter libraries in drop-down menus based on support level selection"
When installing a new library from the package manager OMEdit GUI, the drop-down list of libraries always shows the complete list of libraries taken from the OSMC server. However, the OK button is greyed out if there is no match for the currently version filter and support level.

This is really not intuitive at all, and leaves the end user wondering why he can't install the library (see #8545).

[2022-02-15 14:49] casella commented on #8545
@AnHeuermann that's precisely what we're trying to avoid: having people try all kind of experimental, obsolete and unsupported libraries, and then complain they don't work, as if it were our fault.

I would rather not do that. The idea was to only show those libraries that reasonably can work out of the box by default. If you are daring to go further, that's your choice :)

However, I recognize no

[2022-02-15 14:49] #8545 closed

[2022-02-15 20:33] #6242 closed

[2022-02-15 20:35] mahge commented on #8546
This has now been fixed with #8552. The model in the ticket compiles and simulates successfully. Please check and reopen if it is not working on your side.

[2022-02-15 22:49] Shalom6624 commented on #8522
Great! Please I would love if I could be assisted with this as I am seriously needing to do a simulation that requires the thermocycle library.

[2022-02-16 00:34] casella opened #8553 "Wrong handling of arrays in records"
I have one case of bad handling of arrays in arrays of records by omc-generated C code, reported by @carlods.

The model of a gas turbine contains an array `propInStageCooled[4]` of `BaseProperties` medium models. Each of them contains several scalar thermodynamic properties, as well as an array `Real X[4]` of mass fractions. The following equation is then used to compute the temperatures as a fun

[2022-02-16 09:01] squoilin commented on #8522
Some small models were successfully tested with externalmedia + coolprop some years ago, but all the complex models did not work and would require individual troubleshooting to operate in OM. Unfortunately, we do not have the resources to go through this at the moment, but any help is welcome!

[2022-02-16 09:26] casella commented on #8466
@AlesVojacek reports that they improved the model and it now runs fine, let's wait for the CI report to confirm that.

The zero nominal values are an omc bug because they are not set in the library, we should open another ticket for that.

[2022-02-16 09:45] AnHeuermann commented on #8546
Still not solved in OMEdit.

I will have a look and try @adrpo's solution.

[2022-02-16 10:06] mahge commented on #8546
Yes unfortunately it is not solved in OMEdit. However, #8552 has fixed the API functions `simulate`, `linearize` and `optimize`. They should work just fine now.

I considered writing a script that is generic and accepts parameters (similar to `compile.bat`) OR generating one on a model per model basis (similar to how the CPP runtime launches simulation). They both have their advantages. In the end

[2022-02-16 10:11] AnHeuermann opened #8555 "Backend module analyzeInitialSystem gets stuck in ClaRa models"
### Description

Some models from ClaRa_new are failing in the interactive environment in `translateModel`
- [ClaRa.Components.Mills.PhysicalMills.Check.TestMillBox_1](https://libraries.openmodelica.org/branches/master/ClaRa_dev/files/ClaRa_dev_ClaRa.Components.Mills.PhysicalMills.Check.TestMillBox_1.err)
- [ClaRa.Components.Mills.PhysicalMills.Check.TestMillBox_1_measurementInput](https://librari

[2022-02-16 10:20] perost commented on #8464
This seems to have been fixed in the library a week ago (commit 8baa8a1b), and all the models mentioned now pass the frontend.

[2022-02-16 10:20] #8464 closed

[2022-02-16 10:20] AnHeuermann commented on #8546
Do we have any name clashes in the libraries?
Otherwise we could try to always have all loaded Modelica libraries inside `PATH`.

Then it should just be adding
[code]
for all libraries in OMEdit to `PATH` environment variable and then call the executable in a shell with that updated variable.

[2022-02-16 10:30] perost commented on #8555
#8464 was fixed in the library, so the models at least pass the frontend now. But the `TestMillBox_1` model seems to get stuck on `analyzeInitialSystem` in the backend, or at least it's taking a very long time, so it might have been killed. I assume the other models are the same, but I haven't checked them.

[2022-02-16 10:35] AnHeuermann commented on #8464
Very nice. This was committed yesterday, so we will see if the next nightly test will show any improvements.

[2022-02-16 10:40] mahge commented on #8546
Might work but note that the paths come from annotations. They are not computed automatically by omc. right?

We need to add any paths users have added in there. It might not always be these "standard" paths.

[2022-02-16 10:43] casella commented on #8522
@squoilin, we are now reviewing and updating externalmedia+coolprop together with @jowr to get it to work without compromises in omc. Once that is done, we can tentatively add both libraries to the omc testsuite and see what happens. If there are changes need in your library because of the use of some non-standard Modelica code that Dymola accepts, we can open PRs for that, everything else is on o

[2022-02-16 10:44] perost commented on #8464
The [report for ClaRa](https://libraries.openmodelica.org/branches/master/ClaRa_dev/ClaRa_dev.html) already seem to include the fix, there aren't any models that fail in the frontend due to this error at least. Many of the models now time out in the backend instead though, which causes issues with the reporting.

[2022-02-16 10:45] perost commented on #8555
I let the compilation run for a while, but after 30 min it was still stuck in `analyzeInitialSystem`. So the issue with Jenkins is most likely that the models take too long and time out.

[2022-02-16 10:47] casella commented on #8464
@perost, I guess we missed that during today's meeting with XRG/TLK, that's why I pinged the MLS ticket again. Too many issues flying around in all directions 😄.

In any case, I think it's good to have that issue clarified.

[2022-02-16 10:51] casella commented on #8555
@kabdelhak would you mind having a look?

[2022-02-16 12:23] mahge commented on #8553
At this point you could just go ahead and start fixing codegen issues :).

This is because we treat them as if all dimensions are at the end (Similar to one of the NF flags Per implemented for you). This allows us to make sure there are no non-array elements interleaved with array elements. Essentially we "convert an array of records to a record of arrays". Something like this

[code]

Then we alw

[2022-02-16 14:00] adrpo opened #8560 "Add testing of Linux installation"
### Description

We never test the actual installation on an Linux/Windows machine.
We should automatically install at least the nightly and run some models to check.

### Steps to Reproduce

Testsuite and Library coverage works fine but user is missing some libraries in the install.

[2022-02-16 14:05] adrpo commented on #8560
From @sjoelund: "if you do it from a clean docker image, it wants to fetch the packages from some online location. If you dpkg -i *.deb it will fail because you lack the dependencies. You also have the problem of needing to download and install the dependencies on a clean image (the build-deps are cached)"

[2022-02-16 14:59] adeas31 commented on #8550
PR #8563 does what you want. The only thing is that we need to go through all the libraries and their available versions. That basically means calling `getAvailablePackageVersions` api on each of the library. With the latest libraries json it resulted in 160 calls. That went pretty fast on my machine and one can hardly notice it. But of course it depends on how many libraries we support in the fut

[2022-02-16 15:20] casella commented on #8553
I guess you underestimate your expertise quite heavily :)

I went as far as I could, but no further.

OK, I was not aware of that. In this case you end up with `Real a.h[2]` and `Real a.x[2,2]`. And I guess you can still pass the whole thing around to functions taking the whole array as input or output, since the variables are reordered, but still kept together.

This much I understood. So, in pri

[2022-02-16 15:23] casella commented on #8550
Good.

But I guess you did that anyway, right? The OK button was greyed or not depending on which checkboxes were clicked and on which library was selected, so the information was there already before #8563.

Well, if you want to install libraries, you may have to wait for a while. If the waiting becomes noticeable, we'll add some "loading library info, please wait" message somewhere.

LGTM.

Than

[2022-02-16 15:37] casella opened #8564 "ClaRa model fails shortly after initialization"
Many models involving pipe fail after a short simulation time span, because the solver cannot make progress. For example, [ClaRa.Components.VolumesValvesFittings.Pipes.Check.FlowReversal.Test_Pipe_L4_Simple](https://libraries.openmodelica.org/branches/master/ClaRa_dev/files/ClaRa_dev_ClaRa.Components.VolumesValvesFittings.Pipes.Check.FlowReversal.Test_Pipe_L4_Simple.sim) fails after 2.47e-2 s.

We

[2022-02-16 15:41] adeas31 commented on #8550
No, before #8563 the versions are fetched when user selects a library. Now its driven by filters instead of the library. Now we fetch versions of all libraries and then apply the filter.

[2022-02-16 15:53] casella opened #8565 "Problems with XRGDelay functions"
Some models in ClaRa, e.g. [ClaRa.Components.VolumesValvesFittings.Pipes.Check.OnePhaseFlow.Test_Pipe_L1_TML_LongDistanceAndGravitationalPressureDrop](https://libraries.openmodelica.org/branches/master/ClaRa_dev/files/ClaRa_dev_ClaRa.Components.VolumesValvesFittings.Pipes.Check.OnePhaseFlow.Test_Pipe_L1_TML_LongDistanceAndGravitationalPressureDrop.sim) use a custom delay function developed by XRG,

[2022-02-16 16:11] sjoelund commented on #8550
I've been thinking about the UI and I believe it's a bit redundant. In the JSON we change the support level based on if it's pre-release or not. So I think it would be simpler to only select support level.

[2022-02-16 18:59] casella commented on #8550
@sjoelund, I'm not sure I get it. Do you mean that the support level is not defined for a library as such, but it is defined for each version, and pre-release get only get experimental?

[2022-02-16 19:05] sjoelund commented on #8550
Look at https://github.com/OpenModelica/OMPackageManager/blob/3927acb33d9965998dbb3aa5d3ab7f59cbb362e9/repos.json#L7

Why filter on pre-release when you can just filter on supported/partially supported, etc? It will mostly be the same after all.

[2022-02-16 22:58] casella commented on #8550
OK, understood. I totally agree with that.

@adeas31, if you don't mind I would remove the Versions Filters checkboxes. This definitely makes the interface much neater and easy to understand without reading the manuals :)

OK, I see.

Looks much better to me anyway. If the waiting time is more than a few seconds, we can add a "please wait, loading libraries" message somewhere.

[2022-02-17 07:48] bilderbuchi commented on #8488
Do you propose to scope this

to only apply to the portions/dimensions that actually _have powers_ in the displayUnit string?
Put differently, would e.g. volumetric quantities like "72000 J/m^3" still (usefully) become "72 kJ/m^3"?

[2022-02-17 11:34] adeas31 commented on #8550
I can make that change but still the user will see filtered libraries based on the support level selection. @AnHeuermann is not satisfied with that approach.

[2022-02-17 11:59] adeas31 commented on #8550
PR #8550 is updated now.

![image](https://user-images.githubusercontent.com/4007231/154477297-ca819a5b-e311-4ab5-aa00-d6fe820046e2.png)

[2022-02-17 12:26] AnHeuermann commented on #8550
The current version is much better then the previous version of that PR.
But I'm still not sure if that is improved enough compared to the master.

A first time user has to know (or try at random) that the library in question has a specific support level.
So we assume that the user knows what we mean by support level i.e. how well OpenModelica supports the library, not how well the library is supp

[2022-02-17 20:34] max-privato commented on #8488
It is not difficult to make a good job:
1) single out the first unit of measure in 72000 J/m^3 it is J, in 7200 m^3/h it is m
2) see if immediately after it we have the "^" symbol (or a digit if m3/h is preferred)
3) use differently the prefix in the two cases. In case we don't have powers, prefixes are used ordinarily; otherwise they are adapted. So 7.2 kJ/m^3. But if, for instance, I have to put

[2022-02-18 00:10] casella commented on #8488
My proposal:
- short term: disable unit prefixes if there are powers (i.e. numbers) in the unit string, _to avoid getting plain wrong units_. This is easy and should be done at once.
- medium term: re-enable them properly (requires parsing the unit and figuring out if the powers are at the numerator or denominator)

BTW, there are other cases that should be handled. For example, yesterday I simula

[2022-02-18 00:18] casella commented on #8550
If you desperately need library XYZ, and you don't find it in the drop-down menu with full or partial level, then you can check Experimental, Obsolete or None, but then you know you are walking a tight rope, and you can't complain if nothing ever works.

We have to write this in the documentation. That's on my todo list.

OK, now I see what you mean. If this is not 100% clear, then we should write

[2022-02-18 11:22] casella opened #8577 "Missing support for record (e.g. Complex) assignment in when equations"
Consider the following test cases:
[code]
When trying to run them, I get
[code]
and
[code]
The workaround of course is to assign the real and imaginary parts separately, but that's not really nice, we should support Complex numbers in this case also.

@mahge, could you give it a look?

Keeping @bernhardbachmann in the loop.

[2022-02-18 11:36] casella opened #8578 "Error: use of undeclared identifier 'equationIndexes' in generated code"
Please consider the attached test case [GridBaseBreakers.mo.txt](https://github.com/OpenModelica/OpenModelica/files/8096743/GridBaseBreakers.mo.txt).

The generated C code is invalid and produces a number of errors during compilation, e.g.
[code]

[code]
@mahge, could you give it a look?

Keeping @bernhardbachmann mann in the loop.

[2022-02-18 11:48] mahge commented on #8546
This should now be (this time for real) fixed in #8572. If you pick up tomorrow's nightly build, the model should work fine from OMEdit as well. I am going to close this again. Please open it if there are more issues.

[2022-02-18 11:49] #8546 closed

[2022-02-18 11:51] mahge commented on #6242
#8552 (fixes for the APIs) has been followed up by #8572 which should fix the problem for OMEdit as well. If the issue was not resolved yet it should probably be now.

[2022-02-18 13:37] mahge commented on #8578
It should be fixed with #8583. The model compiles and simulates successfully with the changes there.

[2022-02-18 14:09] casella opened #8584 "Unit prefixes in OMEdit plots should be used carefully"
@adeas31, as we go along I am discovering many use cases of automatic unit prefixing which are highly questionable, if not plain wrong.

1. We get wrong multiples in case of powers at the numerator (1000 m2 is not 1 km2), see #8488

2. We get weird multiples k°C, which are not really used in practice, see
[code]
![immagine](https://user-images.githubusercontent.com/4233148/154697124-a9ff0bbd-0d04-

[2022-02-18 14:14] casella commented on #4232
Original trac ticket: https://trac.openmodelica.org/OpenModelica/ticket/4232

[2022-02-18 14:37] casella commented on #4232
Today I stumbled again on this problem.
![immagine](https://user-images.githubusercontent.com/4233148/154698740-528557ef-f441-49df-9871-3facf97be65b.png)
This plot makes no sense al all. Those six variables are all 1 +/- 1e-12. They should be displayed as constants equal to one. As @jph-tavella commented in the original ticket, these plots are meant to show physical results, not to debug the solve

[2022-02-18 21:29] sjoelund commented on #8584
kK would make more sense than k°C. I've never heard anyone say the latter, butI have heard the former.

[2022-02-18 21:38] max-privato commented on #8488
Exactly so: there are non-IEC units that are widespread and that nobody would give them up. Other examples are  minutes, hours, days. Who talks about Ms?

So we could say that 1.1k°C is a legitimate as 1°C. I' strongly in favour of using it.

[2022-02-18 21:58] max-privato commented on #8488
BTW the medium term is more complicated than what I mentioned in my previous comment.

Consider a y axis having a span between 10 000 m^3 and 1000 000 m^3. How can one solve This?  Using as unit km^3 is out of the question since 10 000 m^3 is 0.00001  m^3. To make a very good job, in these cases one should use the prefix "da" so if dam^3 is used, the axes labels in these examples would be 10 and 1

[2022-02-19 00:32] casella commented on #8584
I'm fine with T(kK) and I can leave with T(k°C), but I would be very confused by y(k) or y(m) or y(M). I mean, prefixes are prefixes, they cannot be used alone. We seriously risk that people misunderstand results by orders of magnitude, and/or get angry at us.

[2022-02-21 06:52] lochel commented on #8584
I can sort of agree with both @max-privato and @casella. There is no problem and the graphs get actually improved as long as the user is aware of the prefixes. So in case we go down the route with prefixes like y(k) we have to make it cristal clear to all users. Or we could have this as an option feature in the settings. In this case we can assume that people are aware of it if they actively enabl

[2022-02-21 08:14] phannebohm commented on #8565
Why do we need to change the semantics of `delay(x, t)`? We could just improve the implementation to find all `delay`s of a variable `x` and create one buffer with buffer size = maximum of all delays, and then sample from that buffer.
A model could still use arrays in the following way:
[code]
Of course, writing ` d = delay(x, t)` instead of the for-loop would be convenient, but not crucial.

Or d

[2022-02-21 10:25] bernhardbachmann opened #8587 "Wrong simulation results when using simflags -nls="hybrid" or -nls="kinsol""
### Description

Please consider the attached test case [GridBaseBreakers.mo.txt](https://github.com/OpenModelica/OpenModelica/files/8108273/GridBaseBreakers.mo.txt)

Running this model with the default non-linear solver "hybrid" produces errors at time 83.093 and later as well as the simulation results are not as expected. . Running the same model with Kinsol produces even worse results.  Running

[2022-02-21 10:50] casella commented on #8565
@phannebohm, in a sense you are right. The current implementations of delay is such that your example creates N separate buffers, but nothing prevents tools to be smart, recognize that the first input is the same, and optimize the generated code to only have one buffer.

In the same way, we could argue that [function vectorization rules of 12.4.6](https://specification.modelica.org/maint/3.5/funct

[2022-02-21 10:53] casella commented on #8587
A similar behaviour took place with models from the PowerGrids library. In fact, all these models are best solved with daeMode for efficiency reasons (the jacobian in daeMode is sparse, while it becomes dense in odeMode).

In any case, there is no reason why odeMode simulation should produce wrong results, and this bug could also affect models where there is no advantage in using daeMode, so we ne

[2022-02-21 13:43] casella opened #8590 "Make a new test job for the new backend"
@kabdelhak requests a testing job for the new backend. For the time being it should only test MSL and ScalableTestSuite.

It's not necessary that it runs every day, once or twice per week is enough.

It would also be very nice to test ScalableTestGrids, to see if and to which extent it can benefit from the array-preserving frontend and backend. This requires to activate the `-d=mergeComponents,non

[2022-02-21 13:43] casella commented on #8590
@kabdelhak maybe you can also comment about which flags you actually need, is it just `--newBackend`?

[2022-02-21 14:26] casella commented on #5860
@adriguir, I've started working with @bernhardbachmann on this topic.

I have prepared a much simplified version of ScalableTestGrids with a square grid of alternating (idealized) synchronous generators and PQ loads, connected to the grid nodes by transfomers. I put current limiters on the vertical transmission lines, and then gradually increase all the loads until some of them are triggered, caus

[2022-02-21 18:28] bernhardbachmann commented on #8587
I made further test with the basic model of the PowerGridDae library GridBase.mo model. See attached file
[GridBase.mo.txt](https://github.com/OpenModelica/OpenModelica/files/8111413/GridBase.mo.txt)

The solution of the problem highly depends on the tearing method used.
Please look at the attached scripting file for the exact settings:
[GridBase.mos.txt](https://github.com/OpenModelica/OpenModeli

[2022-02-21 22:12] casella opened #8591 "State record with integer variable is not handled correctly in external function"
Download the ExternalMedia 3.3.1 library from the Github release page: https://github.com/modelica-3rdparty/ExternalMedia/releases/download/v3.3.1/ExternalMedia_v3.3.1.zip

If I run `ExternalMedia.Test.TestMedium.TestState` with the latest nightly build on Windows, I get this warning
[code]
The simulation runs successfully, but the result displayed in OMEdit for `state.phase`, which is supposed to

[2022-02-21 22:19] casella opened #8592 "Record constructors not generated correctly in ExternalMedia library"
Download the ExternalMedia 3.3.1 library from the Github release page: https://github.com/modelica-3rdparty/ExternalMedia/releases/download/v3.3.1/ExternalMedia_v3.3.1.zip

If I run `ExternalMedia.Test.TestMedium.TestStatesSat` with the latest nightly build on Windows, there are several warnings such as
[code]
and then several errors such as:
[code]
and
[code]
@mahge, could you please have a look?

[2022-02-21 23:46] casella commented on #8587
Well, these plots are really awful. Apparently, tearing picks some iteration variables that have a low sensitivity on the solution.

However, all this noise has a visible influence on the state variables, and those have error control. I find it really weird that such solutions, with completely bogus oscillations on the omega and theta states, are accepted.

[2022-02-22 10:13] bilderbuchi commented on #3675
Effectively duplicate of #5631?

[2022-02-22 10:21] perost commented on #3675
Original ticket: https://trac.openmodelica.org/OpenModelica/ticket/3675

[2022-02-22 11:00] bilderbuchi opened #8593 "Resizing a Text annotation in the Icon view removes DynamicSelect in textString"
### Description

When resizing a Text annotation in the icon view, DynamicSelect used in the textString disappears, and only its first argument (the "static" entry) remains.

### Steps to Reproduce
Use this model that I had investigating issues with DynamicSelect (#5631)
[code]
* Note that `TestDynamicText` has a Text annotation with DynamicSelect
* Simulate `test_OM_5631`
* observe in the plottin

[2022-02-22 11:56] adeas31 commented on #3675
This is already done as part of #5631.

[2022-02-22 11:59] adeas31 commented on #3675
Reopen if you still have issues with DynamicSelect.

[2022-02-22 12:16] bilderbuchi commented on #8593
I just realised that this also happens when I add _another_ annotation to the icon -- possibly on every update?

[2022-02-22 12:19] bilderbuchi commented on #3675
Thank you, please reopen then:

I see that DynamicSelect does not survive inheritance apparently - maybe the variable lookup fails in an inherited class.
Simulate the following model:
[code]
Observe in the plotting perspective, diagram view, that the text of `dSBase` changes with time as expected, but `dSDerived` erroneously shows `static`.
* OpenModelica Version: OpenModelica v1.19.0-dev-613-gd6e

[2022-02-22 12:55] dietmarw commented on #3675
I just tried it and I could not get DynamicSelect to work. Also tried the example from #5631 which does not display anything except:
![image](https://user-images.githubusercontent.com/9332/155136429-faf02de0-64b9-4284-a61f-840b7603b352.png)

So am I missing some settings that need to get done in OMEdit in order to get DynamicSelect to display?  I did try to compile with 3D with no difference and a

[2022-02-22 13:01] bilderbuchi commented on #3675
Just to double-check - you were looking at this in the plotting perspective - diagram view, and using the scruber/play button?
![image](https://user-images.githubusercontent.com/327442/155137463-a227811f-714b-4f8c-b49b-6193b2b677d2.png)

[2022-02-22 13:03] dietmarw commented on #3675
Thanks, I'll check as soon as OMEdit becomes responsive again after trying to open a parameter dialogue. 10 mins and counting ;-)

[2022-02-22 13:04] phannebohm commented on #8539
I think that was me actually, way back in 2019. Let's see :smile:

[2022-02-22 13:09] adrpo commented on #3675
Just kill it, most likely you have the old frontend as default. See Options/Simulation/use the old frontend. It should be off.
Check Options/General/bottom, use the new API. It should be on.

[2022-02-22 13:19] dietmarw commented on #3675
@adrpo if only. Had to do now 2 hard reset of my machine due to OMEdit completely hogging the system. Looks like some regression in the latest nightlies. Have not experienced this before.

Anyway:
I got the example from Buildings working now but testing it on `OpenIPSL.Examples.Machines.PSSE.GEN` I can make the following observations:
 -  DynamicSelect does work for if enabled/disabled via `visibl

[2022-02-22 13:23] adrpo commented on #3675
We don't support functions in DynamicSelect yet. You can use expressions but no function calls as the evaluation is done in OMEdit based on the simulation results and an expression evaluator.

[2022-02-22 13:25] dietmarw commented on #3675
What about Polygons which are also not displayed?
[code]

[2022-02-22 13:27] adrpo commented on #3675
I think we always consider visible as true, no matter the value it has. There is a bug open for that.

We started planning the work to fix these things, it requires some major changes to the omc API, but it will fix the long lasting bugs with conditional connectors, annotation and dialog display when based on parameters,  etc.

[2022-02-22 13:31] dietmarw commented on #3675
But the DynamicSelect part should normally work in his case right? I mean here it is only switching between point values. No function call.

[2022-02-22 13:31] adrpo commented on #3675
This should probably work fine.

[2022-02-22 13:36] dietmarw commented on #3675
Only it does not :-(
Dymola:
![image](https://user-images.githubusercontent.com/9332/155142990-2dd6c338-4214-49fc-80d7-1c32d9261224.png)

OMEdit:
![image](https://user-images.githubusercontent.com/9332/155143028-b8eb8b33-cfd6-47d6-a1cc-246875563683.png)

(No idea why OMC calculates different values here but that is a whole different issue)

[2022-02-22 13:37] dietmarw commented on #3675
Hard to see, but the green arrows should be pointing the opposite direction.

[2022-02-22 13:39] adrpo commented on #3675
Seems like a bug, @adeas31, can you have a look and see if this is an OMEdit thing or OMC problem?

[2022-02-22 13:43] perost commented on #3675
Looks like we haven't implemented `DynamicSelect` for points yet. We do support it for extent though, which is pretty much the same thing except limited to two points. So it shouldn't be much work to implement I think.

[2022-02-22 14:10] bilderbuchi commented on #3675
* [ ] Support inheritance as in my comment above: https://github.com/OpenModelica/OpenModelica/issues/3675#issuecomment-1047739506 (or should I open a separate issue for that?

[2022-02-22 16:25] bilderbuchi opened #8595 "OMC should search more directories for dlls"
OMC is not finding a dll for ExternalMedia on Windows, because it is looking inside `ExternalMedia 4.0.0/Resources/Library/` and inside `ExternalMedia 4.0.0/Resources/Library/win64`, but not inside `ExternalMedia 4.0.0/Resources/Library/mingw64`, which is where the .dll file is actually located.

Reported here on @casella's request, cf. https://github.com/modelica-3rdparty/ExternalMedia/issues/54#

[2022-02-23 11:35] kabdelhak commented on #8590
I would like to only test with `--newBackend` actually. It already also activates `-d=-nfScalarize,arrayConnect` by default because it should never be run without. What exactly does `-d=mergeComponents` do?

[2022-02-23 11:36] #8009 closed

[2022-02-23 11:39] kabdelhak commented on #8539
Yea we can have a look together at it. Unfortunately it is still not really tested since i did not implement algorithms in the new backend yet.

[2022-02-23 11:41] kabdelhak commented on #7507
I will try to have a look at this in the next weeks. I am not really sure what could actually iterate for that long.

[2022-02-23 16:46] adrpo commented on #8425
# Design

When queried, OMC will return a JSON of the instantiated tree including:
- parameter, constants and replaceable components
- replaceable classes
- unevaluated graphical and dialog annotations
- inherited class hierarchy (?)

## Retrieving a model instance: getModelInstance(Path.To.Model): JSON
Calling this API will return the instance tree of the model.
Possible optimization:
- do partia

[2022-02-23 16:49] adrpo commented on #8425
@adeas31, @perost, @casella: please read and give feedback on the Design above.

[2022-02-23 16:50] sjoelund commented on #8425
There is JSON.mo file that could be used and passed to OMEdit that it could possibly transform to QVariant or work with directly. I would avoid passing large strings

[2022-02-23 16:56] perost commented on #8425
Yeah, I'm using the existing JSON structures, but dumping it to a string to pass to OMEdit. We'll see how well that works, but dumping the JSON to a string is trivial anyway and something we likely need for OMWebEdit anyway.

[2022-02-23 17:00] sjoelund commented on #8425
Sure, dumping to string is fine for the scripting API. But for OMEdit there's a potentially faster way. And you'd get the same data types if you parse JSON to QVariant so you could just add the shortcut later and prototype this way.

[2022-02-24 11:03] bernhardbachmann opened #8604 "Incorrect specification of the simulation effort"
### Description

Consider the following model:

[code]

Since the state `x` is not depending on the discrete changes of z, `dassl` does not need to restart the integration after the event was processed.

Therefore, one can simulate the model with the option `-noRestart`!

Looking at the statistics reveals that this would be even worse in performance?!

### Steps to Reproduce

Running the example w

[2022-02-24 11:43] perost commented on #3303
Fixed, see https://trac.openmodelica.org/OpenModelica/ticket/3303

[2022-02-24 11:43] #3303 closed

[2022-02-24 15:55] #8604 closed

[2022-02-24 16:22] #8593 closed

[2022-02-25 08:47] bilderbuchi commented on #8593
Thank you for the quick fix!

[2022-02-25 09:09] bilderbuchi opened #8607 "DynamicSelect does not survive inheritance"
I see that DynamicSelect does not survive inheritance apparently - maybe the variable lookup fails in an inherited class?
Simulate the following model:
[code]
Observe in the plotting perspective, diagram view, that the text of `dSBase` changes with time as expected, but `dSDerived` erroneously shows `static`.
* OpenModelica Version: OpenModelica v1.19.0-dev-624-g164b90d287 (64-bit)
* OS: Windows 1

[2022-02-25 09:09] bilderbuchi commented on #3675
To separate bugs and feature requests, I reported the inheritance issue separately - #8607

[2022-02-25 12:53] bilderbuchi opened #8608 "Running Built-in Dynamic Optimization using Optimica language extensions example emits a scripting error"
Following the Built-in Dynamic Optimization using Optimica language extensions [example](https://www.openmodelica.org/doc/OpenModelicaUsersGuide/latest/optimization.html#an-example), upon running the optimization, I get an error in the console
[code]

I have visually compared the results with what is in the guide, and they seem to agree, so I don't know what the impact of that error is, but I thou

[2022-02-25 14:21] vruge commented on #8608
Hallo @bilderbuchi,

thank you for reporting your observation!
We have a [test](https://github.com/OpenModelica/OpenModelica/blob/master/testsuite/openmodelica/cruntime/optimization/basic/BR.mos)
for the example. The error does not occur in the test, so it may depend on the environment you are using. Can you share some information here?

The formulation with annotations is more recommended because

[2022-02-25 14:56] bilderbuchi commented on #8608
Sure, what information are you looking for?

I've now read through the guide for the annotation-based approach, this looks quite nifty!
I'm having trouble to see how to apply this to a parameter optimisation (since OMOptim is broken/non-functional I can't use that), I'll go to the discussions for this kind of question. May I ping you there?

[2022-02-25 15:33] vruge opened #8610 "OMPython ignore extensions Optimica by generate UsersGuide"
### Description

[the plot](https://openmodelica.org/doc/OpenModelicaUsersGuide/latest/optimization.html#an-example) in the documenation is wrong, because the cost term from the optimization is lost.

### Steps to Reproduce

comapre with the soluation for test: [mat ref file](https://github.com/OpenModelica/OpenModelica/blob/master/testsuite/openmodelica/cruntime/optimization/basic/ReferenceFiles/

[2022-02-25 16:09] vruge commented on #8608
Are using OMEdit or mos-script from commandline?

the dynamic optimization not support paraemeter estimation.  only optimize the top level inputs

maybe [OMSens](https://openmodelica.org/doc/OpenModelicaUsersGuide/latest/parametersensitivity.html?highlight=omsens) is intressting for you. but I am not familiar with it.

[2022-02-25 16:18] bilderbuchi commented on #8608
I am using OMedit.

Ok, bummer, i had hoped that subcase is covered, too. Thanks for the clarification!

I have already made first contact with OMSens 😁
https://github.com/OpenModelica/OMSens/issues/19
I will investigate more

[2022-02-25 16:25] adrpo commented on #8610
The plots are based on the results generated by running the mos file:
https://github.com/OpenModelica/OpenModelica/blob/master/doc/UsersGuide/source/optimization.rst#L106

There is a difference, in the file from the testsuite:

[code]

vs the model from the user documentation:

[code]

Could this be the problem?

[2022-02-25 16:35] vruge commented on #8610
I try to rebuild/debuge the html build with
[code]
the `object` term was always zero in the iterrations and has no effect.
Addational I play with the box constraints/start values like
[code]
with some impact of results.  (the constarint  are differten too from test).
So the problem is partial correct but the object is missing wich is part of optimica extensions.

[2022-02-25 16:51] vruge commented on #8608
@adeas31 is OMEdit drop support for Optimica extensions.
![image](https://user-images.githubusercontent.com/12233943/155753978-dc5db082-d040-49aa-a119-da0f3ae83299.png)

when I try to add a cost term I get
[code]

Should I include it in the documentation? I mean OMEdit is for Modelica and not for Optimica I was anyway fascinated that it used to work? Since the Annotion approach is preferable I don

[2022-02-25 16:53] vruge commented on #8610
In Omedit I get
[code]
 if I try to run optimization with Optimica.

realted too: https://github.com/OpenModelica/OpenModelica/issues/8608#issuecomment-1051020883

[2022-02-28 11:22] Artur-debug opened #8615 "Dymola and Matlab crashes with CVODE-FMU exported from OMedit"
### Description
This simple FMU below (exported from OMedit) crashes Matlab and Dymola. This FMU was exported with the CVode solver for co-simulation. Matlab Crash Report:
[MatlabCrash_OMsimulator190FMU.txt](https://github.com/OpenModelica/OpenModelica/files/8152778/MatlabCrash_OMsimulator190FMU.txt)

In FMU log you can see that all values are calculated up to Sim-StopTime: 10s after that matlab c

[2022-02-28 16:11] #5838 closed

[2022-02-28 16:15] casella commented on #8607
I guess this case will be handled correctly once #8425 is implemented.

[2022-02-28 19:18] casella opened #8617 "State-less models do not generate events correctly in daeMode"
### Description

The [results](https://libraries.openmodelica.org/branches/newInst-daeMode/ModelicaTest_4.0.0/ModelicaTest_4.0.0.html) of running ModelicaTest 4.0.0 with `--daeMode` show that models such as `ModelicaTest.Blocks.BooleanTable`, `ModelicaTest.Tables.CombiTable1Ds.TestXX` or `ModelicaTest.Fluid.TestComponents.Valves.TestValveLinear` without continuous-time variables do not generate th

[2022-02-28 19:26] casella opened #8618 "Unbalanced system erroneusly generated in --daeMode"
### Description
Please check [Modelica_4.0.0_Modelica.Mechanics.MultiBody.Examples.Elementary.HeatLosses](https://libraries.openmodelica.org/branches/newInst-daeMode/Modelica_4.0.0/files/Modelica_4.0.0_Modelica.Mechanics.MultiBody.Examples.Elementary.HeatLosses.err), run with `--daeMode`. The backend fails with
[code]
Note that the same system [runs fine](https://libraries.openmodelica.org/branche

[2022-02-28 19:32] casella opened #8619 "Bad generated code in in clocked systems with --daeMode"
### Description

Clocked systems compiled with --daeMode lead to wrong generated code. One such case is [Modelica.Clocked.Examples.Elementary.BooleanSignals.TimeBasedPulse](https://libraries.openmodelica.org/branches/newInst-daeMode/Modelica_4.0.0/files/Modelica_4.0.0_Modelica.Clocked.Examples.Elementary.BooleanSignals.TimeBasedPulse.err), but there are many others visible in the [MSL 4.0.0 daeMod

[2022-02-28 19:38] casella opened #8620 "Clocked models segfault at run time in --daeMode"
### Description

Most clocked examples in the MSL 4.0.0 segfault at run time, see e.g. Modelica.Clocked.Examples.Elementary.IntegerSignals.Hold](https://libraries.openmodelica.org/branches/newInst-daeMode/Modelica_4.0.0/files/Modelica_4.0.0_Modelica.Clocked.Examples.Elementary.IntegerSignals.Hold.sim):
[code]

### Steps to Reproduce

Run `Modelica.Clocked.Examples.Elementary.IntegerSignals.Hold` w

[2022-03-01 07:40] adeas31 commented on #8607
Not really. I am working on a fix. Hope to get it done today.

[2022-03-01 13:35] #8607 closed

[2022-03-01 14:00] adeas31 commented on #8425
This is needed in order to draw the complete elements.

We don't need to worry about that part. Since in a normal work flow OMEdit will only ask the JSON once in the beginning and then send back the edited parts to OMC. The only other case when the whole JSON is needed is when user edits the Modelica text manually.

I didn't get that part. Maybe you can elaborate more with some examples.

[2022-03-01 14:02] adeas31 commented on #8425
Even if we transform to Qt data structures we still have to somehow pass them to OMEdit.

[2022-03-01 14:11] sjoelund commented on #8425
By MetaModelica `void*` :)

[2022-03-01 15:16] max3359 opened #8624 "CurvedBend of the Modelica standard library not working properly"
### Description
Trying to model an hydraulic network with a curved bend between two pipes.
The geometry declaration of the  Modelica.Fluid.Fittings.Bends.CurvedBend doesn't seem to work.

### Steps to reproduce
You can find the script below and the error message in the picture attached to this message.

[code]

### Expected behavior
I expect the file to finish the compilation

### Version and OS

[2022-03-01 22:08] casella commented on #8607
Very good, thanks!

[2022-03-01 22:11] casella commented on #8425
I have one comment, based on our past discussion. When editing a model with modifiers, OMC should not only return the actually modified values, but also the default values those parameters would have, in case one deletes the modifed value and wants to see the underlying default. I'm not sure if this feature is already included in @adrpo's proposal.

[2022-03-01 22:18] casella commented on #8624
@mahge, we get this error here
[code]
Yet another issue with records in generated code. @mahge, would you mind having a look?

[2022-03-02 07:46] adeas31 commented on #8608
The error only means that the diff algorithm that is used to preserve text formatting failed and pretty-printing algorithm is used. Optimica extensions still might work.

[2022-03-02 08:16] bilderbuchi commented on #8607
Thanks for the fix, confirmed working!

[2022-03-02 14:18] bilderbuchi commented on #7939
Cross-ref where lack of this is relevant when using FMPy: https://github.com/CATIA-Systems/FMPy/issues/303#issuecomment-891043884

[2022-03-02 15:58] vruge commented on #8608
Thank you for the explanation. I was somewhat lost after the store parts of the definition had disappeared.
`optimization nmpcBatchReactor(objective = cost)` -> `optimization nmpcBatchReactor`.

The buttons are grayed out for start. So I would be overwhelmed with start the program :smile:

[2022-03-02 18:23] adrpo commented on #8425
This is not part of my proposal yet. But it should be easy to have.

[code]

Then one could have a JSON looking like:
[code]

[2022-03-02 18:27] adrpo commented on #8425
What Martin says is that we could write a walker that directly walks MetaModelica structures and gives you a Qt tree in OMEdit. That might be problematic with the instance tree as it has cycles.

[2022-03-02 18:35] casella commented on #8584
OK. Although someone said "ignorance is strenght" (that was Orwell's 1984), I guess we should improve this :)

LGTM, I'll make a proposal on this ticket.

Would be nice to have, but doesn't solve the problem. If you activate this, you expect to get "good" units with prefixes, not bogus stuff.

[2022-03-02 18:37] sjoelund commented on #8425
If you have a JSON.mo structure with cycles and try to convert to string, you'll have the same problem.

[2022-03-02 20:20] adrpo commented on #8425
Maybe we should also make an exercise and see how each existing interactive API would be supported with the new one.

[2022-03-03 06:37] jph-tavella opened #8630 "Testing FMUs exported with capability “canInterpolateInputs" from OMEdit 1.19.0-dev gives unexpected results"
### Description

I attach to this mail the very simple model I used to test the feature. The case is composed of two FMUs named A & B:
1.	model A has a RealOutput y governed by the equation  y = time;
2.	model B has a RealInput u  connected to A.y and also an internal variable Real t that normally is set to the instant where u is exceeding a threshold s (which is a parameter initialized to 2.5)

W

[2022-03-03 07:35] bilderbuchi commented on #8608
No, that was not it, this was surely set -- without it, the example does not even open because the `optimization` triggers a syntax error.

[2022-03-03 09:08] casella commented on #8584
I scanned Modelica.Units.SI, thought of typical applications of Modelica I've seen through the years, and came up with this list of units for which prefixes definitely make sense, are immediately clear and can be quite useful in real life:

s, m, m/s, m/s2, rad, rad/s, rad/s2, Hz, N, N.m, Pa, Pa.s, J, J/kg, J/(kg.K), K, V, V/m, A, C, F, T, Wb, Wb/m, H, Ohm, S, W, W/m W/m2, var

If there are others

[2022-03-03 10:36] adeas31 commented on #8584
What I meant is that we already have that option but is not on by default. As I remember we decided to have it off by default.
https://openmodelica.org/doc/OpenModelicaUsersGuide/latest/omedit.html#plot-window-menu

Right now we have this,

- Prefix units is applied only if there is a unit (doesn't matter what the unit is).
- Prefix units feature can be enabled/disabled.

What we want to have,

-

[2022-03-03 11:56] jph-tavella opened #8632 "Make OpenModelica FMUs thread-safe to be able to run several logical instances of the same FMU in parallel"
### Description

The flag _canBeInstantiatedOnlyOncePerProcess=false_ should imply that the code is thread-safe so that, whatever the compiled model in FMUs, this code can be perfectly run in parallel, without any serialization.

This is the behavior we now have with Dymola FMUs, after several issues (SRs) that were pushed by EDF to the Dymola team during the last 2 years.
This feature is importan

[2022-03-03 15:07] max-privato commented on #8584
Obviously I would like to have it on by default. It is so useful!

I'm _strongly_ in favor of it. I have experience of this solution usage for several years. One is just a bit confused the first hour; later, it apprieciates the compactneess and expressivity of numarical labels writing.

BTW, there is an open ticket which requests to have for rotational speeds automatically both rpm and rad/s, and

[2022-03-03 15:39] adeas31 commented on #8584
OK.

Then this is what we need,

- List of units.
- Prefix units is applied if unit matches one of the units listed above and if there is no unit at all. Do not add prefix in case of non-listed units.
- Prefix units feature can be enabled/disabled.

@casella do you agree?

Can you please mention the ticket number?

[2022-03-03 15:54] max-privato commented on #8584
#5447, points 5 and 6

[2022-03-03 18:03] jph-tavella opened #8633 "Accept zero as stopTime value in the configuration window dedicated to .ssp files"
### Description

Testing some .ssp files with OMSimulator launched via the SSP menu, I get a small issue related to the configuration of the stopTime with value 0 as the tool reports a fatal error (a division by zero).
This issue should be avoided as in some particular cases, calculation is to be done without any time-dependent variables. Example is given by power flow in the electrical domain.

#

[2022-03-03 18:51] jph-tavella opened #8634 "Some relatively large model cannot be exported as CS FMU from OpenModelica"
### Description

I give you here the 4 parts of a large electrical model we would like to export as 4 FMUs to cosimulate them in OMSimulator.
The 4 parts are named MaintNtwk,  MVBB1, MVBB2 & MVBB3.
On my computer I can only export MaintNtwk & MVBB3 (small components) as FMUs but I cannot export MVBB1 & MVBB2 (larger models).

Perhaps a question of configuration somewhere in the tool?

### Steps to

[2022-03-03 21:06] mjschuh opened #8635 "Pretty-Printing algorithm being called after deleting components in OMEdit v1.18.1"
### Description
Pretty Printing is triggered by deleting two components which causes unwanted loss of code formatting.

### Steps to reproduce
Delete FlowResDepChamIn and FlowResPreChamOut in the attached [PrettyPrintingTest.mo.txt](https://github.com/OpenModelica/OpenModelica/files/8181089/PrettyPrintingTest.mo.txt) model to trigger OMEdit calling the Pretty Printing algorithm which reformats the

[2022-03-04 01:55] casella commented on #8617
@bernhardbachmann, although Modelica.Blocks.BooleanTable now works, most other models involved in this ticket are still broken, see e.g. all the CombiTable tests.

[2022-03-04 11:01] casella commented on #8584
I am also in favour to have this feature on by default, _as long as the functionality is not experimental anymore_, but is guaranteed to always produce correct, meaningful, and well understood results (i.e. only apply prefixes to the list of units where that is correct and makes sense). In that case, it can only do good, and if we turn it off by default, almost nobody will use it.

On the other ha

[2022-03-04 11:16] casella commented on #8632
@jph-tavella, I understand there are two issues here.

One is the ability to run simulations in parallel on many-core CPUs, like in Monte-Carlo studies or genetic optimization. In this case the requirement is that there are no conflicts between the different instances, which are expected to run on different cores under a multi-tasking OS. However, as the number will be limited to a few dozens at m

[2022-03-04 13:25] casella commented on #8634
@jph-tavella do you get any warning or error message while trying to do so?

[2022-03-04 17:10] jph-tavella commented on #8632
@casella : I see here only one issue.
The use case we have is a model combining a random calculation (based on the efficient xorshift number generator from MSL) and a classic physical equation-based calculation (with two pumps, one valve, one tank and a fluid). This case is the "heated tank" benchmark which is more detailled in the attached paper written by a colleague of mine and Lena Buffoni fro

[2022-03-04 17:33] jph-tavella commented on #8634
@casella: here is a copy of the All tab after an attempt to export MVVB2 as an FMU

[OMlog.docx](https://github.com/OpenModelica/OpenModelica/files/8187779/OMlog.docx)
.

[2022-03-04 18:29] casella opened #8639 "Simulations in -daeMode fails with IDA error -6"
### Description

There are many models in the [newInst-daeMode testsuite](https://libraries.openmodelica.org/branches/newInst-daeMode), e.g. [Modelica.Fluid.Examples.AST_BatchPlant.Test.OneTank](https://libraries.openmodelica.org/branches/newInst-daeMode/Modelica_4.0.0/files/Modelica_4.0.0_Modelica.Fluid.Examples.AST_BatchPlant.Test.OneTank.sim) or [ModelicaTest.Fluid.TestExamplesVariants.Incompre

[2022-03-05 00:11] adrpo opened #8640 "ModelicaUtilities.h not found when building FMUs"
### Description

See:
https://openmodelica.org/forum/default-topic/3422-how-to-solve-modelicautilities-h-file-not-found

### Steps to Reproduce

Build an FMU out of a model that includes C code which includes "ModelicaUtilities.h"

[2022-03-05 00:34] adrpo commented on #8640
`ModelicaUtilities.h` is copied in `include/omc/c` but it seems the FMU build only includes `include/omc/fmi`.

[2022-03-05 07:59] lochel commented on #7939
We started with a first prototype implementation in #8638.

[2022-03-05 12:10] adrpo commented on #7488
I cannot reproduce this (\" in comments), @casella can you check again with the latest nightly and update the code you use if it has changed.

[2022-03-05 12:12] adrpo commented on #7488
Never mind, I could reproduce it by adding a comment in the modifier when redeclaring.

![image](https://user-images.githubusercontent.com/4192979/156882430-0bba9a28-23e3-4b54-8c61-9139f6359c09.png)

[2022-03-05 12:41] adrpo opened #8641 "FMI coverage regressions in master"
### Description

See: https://libraries.openmodelica.org/branches/overview-fmi.html

BuildingSystems
![image](https://user-images.githubusercontent.com/4192979/156883305-aee4d2b0-1ff8-49e5-b45a-3cae36c62925.png)

Buildings_maint.7.0.x
![image](https://user-images.githubusercontent.com/4192979/156883336-3f706685-1180-4310-a581-d5e3ee5d7683.png)

As far as I can tell some of the failures are with th

[2022-03-05 12:49] adrpo opened #8642 "OMEdit dies on Mac after simulation is finished and results are loaded"
### Description

Backtrace:
[code]

After some investigation with @lenaRB we found that it dies in: `StringHandler::naturalSortForResultVariables` while calling `StringHandler::cleanResultVariable`. After we replaced `StringHandler::cleanResultVariable` with:
[code]
It still died!?!
After changing `StringHandler::naturalSortForResultVariables` with:
[code]
the crash does not happen anymore.

@adea

[2022-03-05 12:53] adrpo commented on #8642
Strangely if you use open result from OMEdit to load the result generated right before the crash, it works fine.

[2022-03-07 08:47] adeas31 commented on #8642
No idea. The only difference is that when reading the result file the variables are read from the result file and after simulation they are read from the model_init.xml file. Maybe we generate some strange variables in the xml file on MAC.

Have you tried to print s1 & s2 before and after `StringHandler::cleanResultVariable`? Maybe we can get some hint where is goes wrong.

[2022-03-07 11:12] AnHeuermann commented on #8620
Seems to be related to #8619. We should a test case that covers both cases in https://github.com/OpenModelica/OpenModelica/tree/master/testsuite/simulation/modelica/synchronous_c.

[2022-03-07 13:29] casella commented on #8418
For 1.19.0 we can just change the order of reading the two data_1 and data_2 variables, so that the right results are not overwritten by the bogus one. We can do it on the 1.19.0 branch, and leave the thing on master so it's not lost.

[2022-03-07 14:03] casella opened #8648 "Large regression on cpp version of library testsuite"
### Description

Please check this regression report https://libraries.openmodelica.org/branches/history/cpp/2022-02-15%2020:59:29..2022-02-16%2020:59:19.html. There are almost 500 models breaking.

Unfortunately there are many commits in there
<html><body>

 git hash | author | description
-- | -- | --
~~9bca51e40d~~ | ~~phannebohm~~ | ~~[janitor] Remove unnecessary wrapper (#8566)~~
**_2590823b6

[2022-03-07 21:43] casella commented on #8634
[code]
@kabdelhak, looks like you could have a look?

@jph-tavella can this FMU export be done with Dymola?

[2022-03-07 21:45] casella commented on #8641
@adrpo, any idea when this regression was actually generated?

[2022-03-07 21:47] casella commented on #8539
I have no strong opinions on that :)

[2022-03-08 08:23] jph-tavella commented on #8634
@casella: yes sure the 4 models composing this case (MaintNtwk, MVBB1, MVBB2 & MVBB3) can be exported in a relatively short time, about a few seconds.
And then after that the cosimulation of the 4 Dymola FMUs is done for a power flow calculation (stopTime=0) in 230 ms without Jacobian calculation and in 1.22 s with Jacobian calculation.

[2022-03-08 08:57] jph-tavella commented on #8634
@casella: I think this is a regression as with previous OM release, it was working with these flags & options:
annotation (experiment(
      StopTime=0,
      Tolerance=1e-06),
    __OpenModelica_simulationFlags(ls = "klu", lv = "LOG_STATS", nls = "kinsol", s = "dassl"),
    __OpenModelica_commandLineOptions = "--matchingAlgorithm=PFPlusExt --indexReductionMethod=dynamicStateSelection -d=initializ

[2022-03-08 17:47] christiankral opened #8656 "Problem with mean block"
### Description

I am investigating a model based on the PhotoVoltaics and PhotoVoltaics_TGM library. I am enhancing the model using a mean block from the MSL.

![image](https://user-images.githubusercontent.com/4184218/157293320-9de1f920-e9ee-4377-9683-cd3c178d1cc5.png)

Depending on the parameter `f` processed in the mean block, the simulationg might fail.

### Steps to Reproduce

Load the follo

[2022-03-08 19:14] casella opened #8658 "Invalid models due to non-differentiable functions"
I recently saw commit 39088fb by @phannebohm, which introduced the derivatives of mod and rem. I am not sure what is the point of providing derivatives of functions that cannot be differentiated. This may lead to bogus results. For example, consider this MWE

[code]
The result that we obtain currently makes no sense:

![immagine](https://user-images.githubusercontent.com/4233148/157291602-7475cb14

[2022-03-08 22:16] phannebohm commented on #8539
Thanks @perost, I also found the issue with `HashSet.add` but had no clue what it was about. I suppose we didn't have `UnorderedSet` back then, I changed it to use them now.

In fact I don't exactly remember what this was about, but we wanted to have the iterators for something, maybe for shadowing, I don't know.

Anyhow, my changes seem to fix the frontend issue, but the backend issue remains for

[2022-03-08 22:27] casella commented on #8634
@jph-tavella,the flag  `--TearingMethod` is wrong, it should be `--tearingMethod`. Could that be the case of the regression?

[2022-03-08 23:41] phannebohm commented on #8658
We differentiate to get Jacobians of nonlinear systems. There the derivative is useful outside of events. Or am I missing something?
We also differentiate in the new Solve module, in fact that might be a bit careless, @kabdelhak we should discuss this.

I was about to agree and be very confused by this plot, but on my machine the model produces the correct results using the current master. I only

[2022-03-09 07:34] casella commented on #8658
Sorry, I copied a wrong variant of the model. See the edited text.

[2022-03-09 07:36] casella commented on #8658
As a further comment, I guess it makes sense to have those derivatives when those functions are involved in the RHS of ODEs. But it's definitely dangerous if they are involved in index reduction, as the edited example clearly demonstrates.

[2022-03-09 07:40] casella commented on #8658
BTW, but this is off-topic for this ticket, I still believe that a model where we must select a state that has StateSelect.never (as in my previously wrong MWE) should lead to an error, not to a warning. Never means never, no if's or but's 😃. I think we already had this discussion with @kabdelhak, I'm not sure what was the outcome.

[2022-03-09 08:40] jph-tavella commented on #8634
@casella: strange the flag changed its name with new release... Nevertheless I tested it and the result is the same, export fails as shown by the screenshot here:

![Capture](https://user-images.githubusercontent.com/32952030/157404281-b01fb197-08cb-4a15-9e45-3060bee01c05.PNG)

[2022-03-09 08:55] casella commented on #8617
#8655 had a huge positive impact on the success of daeMode library testing, see [report](https://libraries.openmodelica.org/branches/history/newInst-daemode/2022-03-05%2015:52:03..2022-03-09%2001:47:54.html).

I think we can close this ticket, if there are remaining specific issues we'll open a new one.

[2022-03-09 10:23] jph-tavella opened #8661 "Is there a pssibility to have several release of OpenModelica on a computer?"
Should be easier to compare results or behaviors and check non-regressions.

[2022-03-09 12:29] #8617 closed

[2022-03-09 15:26] TMitard opened #8667 "Instanciation issue when using inner/outer connectors"
Hey, I just encountered a problem when using the inner/outer keywords with connectors.

I have written two simple models involving a connector on one side and a Real parameter on the other.
![Models](https://user-images.githubusercontent.com/101272756/157471212-bdb445b4-4f73-4187-ace5-bf4c7e288051.png)

The one with the Real parameter is instanciated correctly (compiles and simulates as well) wher

[2022-03-09 16:02] perost commented on #8667
Fixed in #8668, the `outer` attribute was mistakenly overwritten on components in some specific cases.

[2022-03-09 16:17] TMitard commented on #8667
Nice! When will an OpenModelica version resolving this issue be available? Should I download the next nightly build?

[2022-03-09 16:24] perost commented on #8667
Yes, my PR should be merged in 20-30 min unless something goes wrong, in which case it will be in the next nightly build. This issue will be closed automatically when my PR is merged.

[2022-03-09 16:29] #8667 closed

[2022-03-09 23:30] casella commented on #8667
@TMitard, please note that according to the rules of [Section 4.7](https://specification.modelica.org/maint/3.5/class-predefined-types-and-declarations.html#balanced-models) of the Modelica specification, the RealConn connector is not balanced. OMC currently does not check that, but in general unbalanced connectors can easily lead to unbalanced system models.

[2022-03-09 23:32] casella commented on #5809
Original ticket: https://trac.openmodelica.org/OpenModelica/ticket/5809

[2022-03-09 23:33] casella commented on #8661
Duplicate of #5809

[2022-03-09 23:33] #8661 closed

[2022-03-09 23:41] casella commented on #2584
Original ticket: https://trac.openmodelica.org/OpenModelica/ticket/2584

[2022-03-09 23:48] casella commented on #2584
@kabdelhak, the following MWE
[code]
runs with this warning:
[code]
IMHO, this should be an error, not a warning. The definition of StateSelect.never in the [Modelica Specification](https://specification.modelica.org/maint/3.5/class-predefined-types-and-declarations.html#stateselect) is "Do not use as state at all.". So, if there is no way to avoid making a variable with StateSelect.never a state,

[2022-03-10 08:42] casella commented on #8656
This post is probably related: https://arbitrary-but-fixed.net/modelica/2020/11/26/modelica-noise-synchronization.html

[2022-03-10 09:22] casella opened #8670 "Remove "Keep using new front-end" dialog when the flattening fails"
### Description

Currently, when the flattening of a model fails, we open a dialog asking the user if he wants to try with the old front-end. This was introduced in 1.16.0 when the new front-end was good enough (and much faster) in most cases, but still failed in a significant number of cases. This is now completely obsolete, as the new front-end performs much better than the old one in all cases.

[2022-03-10 09:23] casella opened #8671 "Finalize library handling in 1.19.0"
- [x] For Windows: remove all optional libraries from the installer, since they will be obtained via the package manager
- [x] For Windows: leave MSL 3.2.3 and MSL 4.0.0 in the installer, on by default but with possibility to deactivate, if one wants. Install them in the Program Files directory. This ensures that OMEdit includes the MSL out of the box without the need of further actions, also in t

[2022-03-10 09:23] #8550 closed

[2022-03-10 09:35] adeas31 commented on #8670
See #8663

[2022-03-10 09:35] #8670 closed

[2022-03-10 09:45] casella commented on #8143
@sjoelund, I just tried to run File | Upgrade packages in the latest nightly build of OMEdit. I got some proper messages such as
[code]
but then I got this in red:
[code]
I guess there's still something wrong with the way Modelica Reference is handled.

[2022-03-10 10:10] TMitard commented on #8667
@casella, after having read the provided section of the Modelica specification, I am not sure to understand your point, could you clarify please? Does it mean that I am missing an equation or something? Is it because I didn't include neither the 'input' or 'output' keywords? Thanks.

[2022-03-10 13:20] perost commented on #8425
I've now opened #8676 with a first draft that implements `getModelInstance`, but there are a few issues that we need to solve:
- [ ] Classes instanced by `getModelInstance` are currently not cached, not clear if they need to be. We'll need an instance to evaluate expressions passed from OMEdit, and having to instantiate the class all over again for every expression would not be performant. On the

[2022-03-10 16:38] AnHeuermann commented on #8639
The function returning this error code is
[code]
and will indeed return `IDA_LSETUP_FAIL` as you already noticed.
See [ida_solver.c#L759-L780](https://github.com/OpenModelica/OpenModelica/blob/master/OMCompiler/SimulationRuntime/c/simulation/solver/ida_solver.c#L759-L780)

The first call of `IDANlsIC` is failing. Its task is to solves a nonlinear system for consistent initial conditions using `IDA

[2022-03-10 17:40] #8640 closed

[2022-03-10 23:17] casella commented on #8667
Exactly. The complete rules for balanced connectors are quite involved, but basically every variable which is not input, output, or flow must have a corresponding flow variable, which is not the case in your example.

[2022-03-10 23:55] casella commented on #5297
This is the workflow that I envision for the handling of conversion scripts in OMEdit.

If I am a user developing a package `MyPackage` that uses `LibraryXYZ` from some other vendor or developer, which in turn uses libraries `PackageA` and `PackageB`. These are the requirements for the GUI
- I must have the option of upgrading `MyPackage` to use a new version of `LibraryXYZ`, which is not backward

[2022-03-11 06:56] naibafomsare opened #8679 "The function linearize() does not work when doing symbolic linearization."
### Description

Although numerical linearization seems to be working as expected, the symbolic one yields an incorrect result. There is a collections of reports on this matter reported by the OpenModelica-TracImporter, however, there is no description added to any of them and they were immediately closed: #5761, #5223, #4289, #3632, #2839.

### Steps to Reproduce

The model file and script to rep

[2022-03-11 08:40] TMitard commented on #8667
@casella, I see. How would be the proper way to define a bi-directional real connector then?

[2022-03-11 10:54] bilderbuchi commented on #8143
I just installed MSL3.2.+maint.om via the package manager, but after unloading `Modelica` and opening MSL3.2.+maint.om via the System libraries menu, I get
[code]
and it does not open successfully. Is that only happening for me? Should I report this as a separate issue or could it be connected to this?
(I tried this upgrading step, and get similar/identical output to Francesco's.)

[2022-03-11 11:54] #8584 closed

[2022-03-11 11:54] #8488 closed

[2022-03-11 12:36] perost commented on #8425
#8683 fixes the issue with EngineV6 that adrpo mentioned in [#8676](https://github.com/OpenModelica/OpenModelica/pull/8676#issuecomment-1064650557). BatchPlant_StandardWater still doesn't work though, for some reason we get some untyped type attributes in it.

[2022-03-11 14:21] perost commented on #8425
The issue with BatchPlant_StandardWater is that we don't type deleted components since that they'll just be removed anyway, so we get issues when we try to dump them. We might not actually need to type those since we should never need to evaluate a conditional component, but I'll have to look into that.

[2022-03-11 14:25] adrpo commented on #8425
But i guess OMEdit doesn't need to see them, so e might as well not dump any of them in the JSON.

[2022-03-11 14:29] perost commented on #8425
I thought being able to handle conditional connectors was a big part of what we're trying to fix?

[2022-03-11 14:43] olivleno opened #8686 "OMShell crashes on setTempDirectoryPath()"
### Description
OMShell crashes when trying to set the TempDirectoryPath

### Steps to reproduce
In OMShell run:
[code]

### Expected behavior
OMShell returns true.

Instead OMShell crashes.

### Version and OS
 - OpenModelica Version OpenModelica v1.19.0-dev-613-gd6e04c0efc (64-bit)
 - Versions of used Modelica libraries if applicable MSL 3.2.3
 - OS: Windows 10, 64 bit

### Additional context
Us

[2022-03-11 18:37] adrpo commented on #8425
Of course but at the level of the Dialog you would modify the condition, send the modification to OMC and get back an activated connector component and annotation in the JSON tree.
I don't think we need a solution where we give back all the different non activated trees in JSON so that OMEdit can activate it without asking OMC for help.

Currently OMEdit does something totally wrong basically gets

[2022-03-12 03:47] naibafomsare opened #8687 "The function linearize() produces a Python file not written in a valid Python format."
### Description

The `linearize()` function produces a file with information about the linearized model, that can be written in either Modelica, Python, Julia or Matlab format. In the case of Python, the file generated has errors.

The file is called  `linearized_model.py` and contains a function. The fist error is that a semicolon is missing at the end of the first line. It should be `def lineari

[2022-03-12 15:27] adrpo opened #8690 "Simulation crashes with 0xffffffffffffffff when it should not"
### Description

https://www.openmodelica.org/forum/default-topic/3430-code-0xffffffffffffffff

### Steps to Reproduce

See the model in the post above.

[2022-03-14 08:46] sjoelund opened #8692 "makeSubscriptedExp fails for flatModelica"
### Description

### Steps to Reproduce

[code]

[code]

[2022-03-14 12:00] casella commented on #5761
Original trac ticket: https://trac.openmodelica.org/OpenModelica/ticket/5761

[2022-03-14 12:02] casella commented on #4289
Original trac ticket: https://trac.openmodelica.org/OpenModelica/ticket/4289

[2022-03-14 12:02] casella commented on #3632
Original trac ticket: https://trac.openmodelica.org/OpenModelica/ticket/3632

[2022-03-14 12:20] casella commented on #2839
Original trac ticket: https://trac.openmodelica.org/OpenModelica/ticket/2839

[2022-03-14 12:22] casella commented on #8679
@naibafomsare, we starte migrating issue tracking from trac to GitHub issues a couple of years ago. Apparently the history of closed tickets was not copied in some cases. I added the relevant links FYI.

[2022-03-14 12:24] casella commented on #8679
@kabdelhak, @AnHeuermann, @phannebohm, would you mind having a look? Apparently there is something wrong with the indeces of the output equations in the symbolic case.

[2022-03-14 13:07] casella commented on #8667
I'm not sure what you mean by bi-directional Real connector. I guess you may define something like:
[code]
and use them wherevere appropriate. When checking for balancedness, the input variable counts as an extra equation. The rule is that there must be exactly one output variable in each connection set.

[2022-03-14 13:30] TMitard commented on #8667
Yes, sure. On my side I would like to have a behavior similar to physical connectors (those used in the common electrical, mechanical, etx. libraries) where there is a couple across + through variables. What I mean by bi-directional connector would then correspond to a physical connector with an across variable only, neither involving the 'input' nor 'ouput' keywords.

Nonetheless, I totally get t

[2022-03-14 13:53] rfranke opened #8699 "Wrong display unit conversion for angles in OMEdit"
### Description

### Steps to Reproduce

Run this model in OMEdit:
[code]

### Expected Behavior

The variable browser should show 90 deg. It shows -1.6766.

### Screenshots

![image](https://user-images.githubusercontent.com/4224368/158185722-f1adf9e0-0fbf-4573-ab1b-cde302a5e7db.png)

### Version and OS

Windows, recent nightly build of 1.19, 32bit.

[2022-03-14 15:58] adeas31 commented on #8699
Bit more debugging shows that its the problem related to `convertUnits` API.

32bit
[code]

64bit
[code]

[2022-03-14 16:11] AnHeuermann opened #8701 "ClaRa translateModel thread dying"
### Description

For some models the test pipeline fails during `translateModel` and reports:
[code]

These are

- [ClaRa.Components.Mills.PhysicalMills.Check.TestMillBox_1](https://libraries.openmodelica.org/branches/master/ClaRa_dev/files/ClaRa_dev_ClaRa.Components.Mills.PhysicalMills.Check.TestMillBox_1.err)
- [ClaRa.Components.Mills.PhysicalMills.Check.TestMillBox_1_measurementInput](https://l

[2022-03-14 16:16] AnHeuermann commented on #8701
Duplicate of #8555

[2022-03-14 21:32] casella commented on #8687
@arun3688, you are familiar with Python. Could you please ask @kabdelhak where the code for this feature is, and try to fix it according to @naibafomsare's suggestions?

[2022-03-14 21:35] casella commented on #8687
The orientation of a rigid body in space is an SU(3) group. It cannot be fully represented by a fixed set of three variables (e.g. Euler's angles), because no matte how you choose them, there will always be a singular orientation. What OMC does is then to use dynamic state selection: it picks three potential states as actual states, but when they get close to singularity, it switches to some other

[2022-03-14 23:32] ajdnanthakumar opened #8702 "I have Debian 11.2 in my computer. When I install openmodelica, the following issue arises:"
The following packages have unmet dependencies:
 libexpat1-dev : Depends: libexpat1 (= 2.2.10-2) but 2.2.10-2+deb11u2 is to be installed
E: Unable to correct problems, you have held broken packages.

[2022-03-15 07:29] sjoelund commented on #8702
This looks like a problem with your Debian installation. Try `apt dist-upgrade` before installing omc. The only dependencies OpenModelica has on expat are:
[code]

[2022-03-15 08:36] TMitard commented on #8667
You may view it as a thought experiment. Actually a use case could be a model linking its connectors through equations but the resolving of each connector being whether an input or an output will be defined by its context, that is, by the models connected to it in this very implementation. Also meaning that in a different context, a connector which was resolved to an input, may now be resolved to

[2022-03-15 10:30] #8686 closed

[2022-03-15 10:31] rahulp13 opened #8704 "Cannot update boolean variables through OPC UA"
### Description

The boolean variables, even though declared as `input`, cannot be modified through OPC UA. The variables get broadcasted through the interface and there is also no error thrown on writing to it. But, the value do not get updated and it keeps on using the old value from the initialization.

### Steps to Reproduce
Following is the minimal model (`booleanTest.mo`) on which I'm gettin

[2022-03-15 11:23] rahulp13 opened #8705 "Issue with updating Real variables through OPC UA"
### Description

The real variable, being declared as `input`, does not get updated on writing to it from an OPC UA client. It happens when other variables of `input Boolean` are declared in the same model. The variable keeps using the old value from the initialization.

Also, if the variable of `input Boolean` type is written as `True`, then the real variable gets modified as `1.0`.

The variable

[2022-03-15 12:23] perost commented on #8692
MWE, flattening this model fails if the package `T` has a name that starts with [T-Za-z], but works if the name starts with [A-S] :dizzy_face:
[code]

[2022-03-15 14:01] #7458 closed

[2022-03-15 14:03] AnHeuermann commented on #7929
Now CMake source-code FMUs are available, see https://github.com/OpenModelica/OpenModelica/commit/d30cc419c542e228aa75dbe85e4f3483bb7bdda6).

Adding SUNDIALS CVODE to such FMUs should be doable.

[2022-03-15 15:36] ajdnanthakumar commented on #8702
Finally got it solved. I reinstalled libexpat1. Now working...
Thnx...

On Tue, Mar 15, 2022 at 1:00 PM Martin Sjölund ***@***.***>
wrote:

[2022-03-15 17:19] casella commented on #8667
The problem with such models is that in general you won't be able to guarantee that the overall system will be balanced. Hence, they were forbidden since Modelica 3.0, which introduced the concept of balanced components. The idea of balanced components is that no matter how you connect them, you always get a balanced system, which is of course a very nice property to avoid headaches, such as findi

[2022-03-15 17:42] casella commented on #8692
@perost, are you kidding me? 😄

[2022-03-15 17:44] casella commented on #8692
Something dealing with ASCII codes? S is 101 0011, T is 101 0100.

[2022-03-15 17:45] casella commented on #7929
@AnHeuermann what should actually be done to get it?

[2022-03-15 17:47] perost commented on #8692
More likely just a binary search tree influencing the order of something.

[2022-03-15 22:10] hkiel commented on #7507
I fixed the issue in #8680. Benchmark is fine again.

I think that someone (@kabdelhak ?) should have a look at the code again. `ResolveLoops.removeEqualPaths()` seems to be there to remove candidates, but instead it spawned duplicates of them. I suppressed the generation of duplicates with my fix, but it should be checked that the function indeed can "remove equal paths".

[2022-03-16 08:28] TMitard commented on #8667
I see, this links your previous answers with one another. And all of this is perfectly clear now. It is true that this is a great feature and I'll try to leverage it from now on. Anyway, thanks for your time and your detailed answers !

[2022-03-16 09:14] casella commented on #7929
I'm not sure I understand what is the plan to finalize this ticket. Are these steps on us, or are they on the end user?

[2022-03-16 09:18] #4232 closed

[2022-03-16 09:33] AnHeuermann commented on #7929
We should do it. And it is not too much work.

It would of course be possible for a user to do it without waiting for us, but one needs to know how to compile cvode and what is the magic flag that the FMU executable uses cvode instead of Euler.

[2022-03-16 10:00] mahge commented on #7929
A contender for famous last words :)

I guess we should go ahead and do this but only for the CMake configured approach (at least to start with). CVODE comes as a standalone library (not as part of sundials suite) and we need that. So we might need to make changes to our 3rdParty libraries structure to have CVODE separate from the rest of sundials or make sure the CVODE we have in there is fixed s

[2022-03-16 11:27] BjorHart opened #8709 "fmi2DoStep failed with status 3 (error) - Simulating with output-interval = None"
### Description
I am having issues simulating an FMU created in OM, as soon as the output interval is not set or is larger than a certain value (iteratively found to be ~53)

The FMU is of type co-simulation.
The following works fine, but output-interval 54 does not:
[code]

The error thrown is
[code]

In such a co-simulation, the communication steps-size or output-interval is just a "recording" o

[2022-03-16 11:29] perost commented on #8425
Some meeting notes:

* Dump the components as an inheritance tree instead of as a flat array so OMEdit knows which components are inherited from where. Maybe add `DAE.ElementSource` to components to keep track of the origin of duplicated components?
* For components we need the original dimensions from the declaration as well as the evaluated dimensions. The evaluated dimensions may include dimens

[2022-03-16 11:41] lochel commented on #8709
Can you share the model? That would help us to reproduce and investigate the issue.

[2022-03-16 16:49] max-privato commented on #7468
@adeas31 , have you seen my comment above dated Oct, 18?

[2022-03-16 17:48] casella commented on #5345
Summary of previous discussion:
- enabling full-fledged FMI import into Modelica models in OMEdit would require extra work, and may actually not be technically possible in some cases
- FMI import can nevertheless be very useful in many cases that are indeed supported by the current implementation
- there is definitely an end-user requirement for that, see, e.g., the discussion in  [#5621](https://

[2022-03-16 17:51] adrpo commented on #8699
Funny one, we have these things in there:
https://github.com/OpenModelica/OpenModelica/blob/master/OMCompiler/Compiler/runtime/unitparser.cpp#L1163
We have:
[code]
And then we use it like this:
`Rational(31415926535897932, 1800000000000000000), Rational(0), true);`
and of course we get negative numbers as those huge numbers do not fit in a 32bit long.

Unfortunately I have *no idea* how to fix thi

[2022-03-16 17:55] adrpo commented on #8699
We even get warnings from the compiler:

[code]

[2022-03-16 17:55] casella commented on #7507
Let's see when we get the results on the [test suite report](https://libraries.openmodelica.org/branches/master/ScalableTestSuite_noopt/ScalableTestSuite_noopt.html), the one I see now was run before #8680 was merged in.

If the test suite report shows good scaling tomorrow, we can close this ticket.

@hkiel would you mind opening a separate issue describing this last problem? I understand there's

[2022-03-16 18:04] casella commented on #8699
[code]
Piece of cake 😄

I'd say 32-bit systems are progressively being retired, so we can leave with conversions having only 9 significant digits instead of 16 on them. For sure it's much better than the nonsense we get now.

[2022-03-16 18:11] adrpo commented on #8699
Ok then, we can do that. I will fix it.

[2022-03-16 18:38] adrpo commented on #8699
Victory :)

[code]

[2022-03-16 18:55] vruge commented on #8687
related issue: https://trac.openmodelica.org/OpenModelica/ticket/6424

[2022-03-16 19:16] adrpo commented on #8687
I remember we fixed the syntax issue for linearization but maybe we didn't or is an PR that was not merged?! Maybe Python 3 vs Python 2 issue?

I will check if I can reproduce this.

[2022-03-16 19:22] adrpo commented on #8699
This is not really correct :)

`31415926535897932/1800000000000000000` is not even ~ `314159265/180000000`.
One needs to keep fraction constant while shrinking the numbers until they are less than 31 bit.

So the correct one is `Rational(3141592, 180000000)`.
With this one it works fine:
[code]

[2022-03-17 06:10] bilderbuchi commented on #8687
All of the syntax problems reported here or in the trac issue would also be present in Python 2.

[2022-03-17 07:17] hkiel opened #8713 "check/fix ResolveLoops.removeEqualPaths()"
### Description
Someone should have a look at `ResolveLoops.removeEqualPaths()`. It seems to be there to remove loop candidates, but instead it spawned duplicates of the incoming candidates. I suppressed the generation of duplicates with #8680 , but the functionality should be checked so that the function indeed can "remove equal paths" and produce sensible output.

[2022-03-17 08:49] casella commented on #8699
Of course, sorry, the correct ratio is 3.1415.../180°, so the second number need to have two more digits than the first one :)

[2022-03-17 08:52] casella commented on #8687
The Matlab output, which was mentioned as broken in #6424 is fine, I used it in one of my courses and it worked fine. In fact, I also suggested the students that they could use Python, but nobody complained, so I guess all went with Matlab. We start feeding them Matlab when they are still toddlers, and that's the result :)

@arun3688, would you mind having a look?

[2022-03-17 08:53] arun3688 commented on #8687
@casella yes i will have a look into this

[2022-03-17 08:55] casella commented on #6424
The Matlab issue has been resolved in the meantime. The Python issue is probably a duplicate of #8687.

[2022-03-17 08:59] casella commented on #4829
We now have a CS certificate that was used successfully to sign the installer. @adrpo and @adeas31 will look into automating the process for the nightly builds.

[2022-03-17 09:19] BorisMichaelsen opened #8716 "HumanComfortLib Error sqrt(x) for x<0"
### Description
With the Test1 of the attached example file I get the following error message:
[code]
### Steps to reproduce
I can solve the problem by writing sqrt(abs(v_air_in)) instead of sqrt(v_air_in) (see Test2 of the attached example). But this should not be necessary because v_air_in is constant 0.1.

### Expected behavior
The Test1 example should be executable and produce the same results

[2022-03-17 09:51] casella commented on #8291
After some discussion, we figured out that most new users are on Windows, and they should get MSL out of the box without the need of additional installation processes, also in case of off-line or behind-a-firewall/proxy industrial installations

We may consider doing this in a future release if we manage to make the process straightforward, but it's too late to get it in 1.19.0

[2022-03-17 10:16] AnHeuermann commented on #8716
Some functions are missing an equation index in the generated code.  We use it for error messages to tell the user what equation causes a problem.

I'll see if I can find the correct location during code generation to add the index or add a dummy index if that is not possible.

[2022-03-17 10:18] AnHeuermann commented on #8716
Oh... it seems that this was not fixed in v1.19.0-dev-569-g4dbf5668cf (Windows) but is already running on v1.19.0-dev-689-g37eb8d967f (Ubuntu).

@BorisMichaelsen Can you try again with the latest nightly build?

[2022-03-17 11:21] BorisMichaelsen commented on #8716
Correct, in version v1.19.0-dev-689-g37eb8d967f the problem no longer occurs

[2022-03-17 11:21] #8716 closed

[2022-03-17 12:02] arun3688 opened #8717 "Linearize API() not working in windows"
### Description

Linearize() API is not working in windows when running with a mos script. We need explicitly use the `simulation executable` at runtime with the flag `-L` to generate the` linear_model.mo `   `(e.g)  ./vanderpol.exe -l 0`

### Version
`OpenModelica v1.19.0-dev-689-g37eb8d967f (64-bit)`

### Steps to Reproduce
[code]
The above mos script does not generate the `linear_model.mo` , ho

[2022-03-17 12:05] arun3688 commented on #8687
@casella I could reproduce the error, and also i found that `linearize()` API is not working in `windows` , i have created a ticket https://github.com/OpenModelica/OpenModelica/issues/8717

[2022-03-17 12:23] casella commented on #8687
OK, do you think you can fix the syntax? That would be good already.

[2022-03-17 12:54] lochel commented on #8630
We found the following problems when running your example:

- [ ] output derivatives are not generated when selecting "me&cs" as export target
- [ ] output derivatives are not updated correctly for initialization (or first simulation step)

We will fix the issues and investigate the example more.

[2022-03-17 13:03] adeas31 commented on #7468
Yes I saw your comment. I didn't get much time to look into this issue.
I will see what we can do to get this working.

[2022-03-17 13:09] arun3688 commented on #8687
@casella I am currently working on the exporting `unitDefinitions`  to `ssp` for `OMSimulator`, I will try to fix this as early as possible

[2022-03-17 13:51] jph-tavella commented on #8634
Can you reproduce my issue or not?

[2022-03-17 13:53] jph-tavella commented on #8632
Are my explanations clear enough? Do you share the requirement?

[2022-03-17 23:29] mahge commented on #8717
I think this has to do with the batch script I added. I am not sure what exactly is going wrong but it seems it is running simulation instead of linearization. I will see if I can fix it quickly.

[2022-03-17 23:53] mahge commented on #8717
Well that was quick. If nothing else goes wrong it should be fixed by #8721.

[2022-03-18 00:17] #8717 closed

[2022-03-18 00:19] arun3688 commented on #8717
thanks madher

[2022-03-18 09:03] sergniko opened #8723 "OMEdit not responding if info documentation editor has unsaved document"
### Description

If you edit info documentation in Document browser and didn't save you data OMedit  stops responding and eventually consumes all available RAM.

### Steps to Reproduce

1. Create new model.
2. Place some block (I used **Modelica.Mechanics.Translational.Components.Mass** **mass**)
3. In Document browser press Edit info documentation button.
4. Add some text to info. Do not press Sa

[2022-03-18 10:20] hkiel commented on #7507
@casella The last run of the test suite was on 2022-03-15. Does it need to be started by hand?

[2022-03-18 10:36] casella commented on #7468
@max-privato we need to finalize the library handling ASAP, we can look into this once we've branched off 1.19.0-beta.1

[2022-03-18 10:40] casella commented on #4829
Unfortunately it [failed](https://test.openmodelica.org/jenkins/job/Windows/job/OM_Win_NIGHTLY_BUILD_64bit/1140/). Not sure if the signature is the problem.

Yes, please do.

[2022-03-18 10:58] casella commented on #7507
No, it runs daily, see the [job report](https://test.openmodelica.org/jenkins/job/LibraryTesting/job/LibraryTest/).

@sjoelund, @adrpo, it looks like there is something wrong with the reporting, the test on master has run several times since Mar 15. Can you please check?

[2022-03-18 12:02] casella commented on #8723
@adeas31 I guess we should save it as soon as we switch the context, what do you think?

[2022-03-18 15:12] #8692 closed

[2022-03-19 06:47] rahulp13 commented on #8704
@sjoelund The value of the variable `y`, set from the OPC UA client, correctly writes to the [`intputVars`](https://github.com/OpenModelica/OpenModelica/blob/master/OMCompiler/SimulationRuntime/opc/ua/omc_opc_ua.c#L669-L672). But, the [`booleanVars`](https://github.com/OpenModelica/OpenModelica/blob/master/OMCompiler/SimulationRuntime/opc/ua/omc_opc_ua.c#L659-L661) doesn't get updated even after h

[2022-03-19 12:41] adrpo commented on #4829
Last night the 64bit version got signed:
![image](https://user-images.githubusercontent.com/4192979/159121446-29240b0b-0f26-4c35-8c27-8dd57042e2db.png)
but then the program did a login timeout (whatever that means, it could be you need to manually re-login with a new token each NN hours) and the 32bit did not get signed.

[2022-03-20 08:04] sergniko opened #8729 "Editing Revisions documentation produces Scripting error"
### Description

If you edit **Revisions Documentation** or **__OpenModelica_infoHeader Documentation** without previously adding **Info Documention** with pressing **Save** you get a scripting error and changes are lost.

### Steps to Reproduce

1. Create new model
2. Save your model
3. In Documentation Browser press **Edit Revisions Documentation** button
4. Add some text
5. Press **Save** butto

[2022-03-21 09:52] perost opened #8731 "Converting a user model in OMEdit changes it to a system model"
### Steps to Reproduce

* Create a new model.
* Open the text view and add `annotation(uses(Modelica(version="3.2.3")));` to the model.
* Right-click on the model in the libraries browser and select "Convert to newer versions of used libraries".
* Choose to convert to Modelica 4.0.0 (in my case `4.0.0+maint.om`).
* Double-click on the model in the libraries browser to open it again, since OMEdit c

[2022-03-21 10:34] #8723 closed

[2022-03-21 12:23] adeas31 commented on #8445
See PR #8720

[2022-03-21 12:23] #8445 closed

[2022-03-21 13:32] #8418 closed

[2022-03-21 13:49] casella commented on #8648
Notsure if #8649 is relevant, in fact 11b99d95] generated an additional [73 regressions](https://libraries.openmodelica.org/branches/history/cpp/2022-02-16%2020:59:19..2022-02-17%2020:55:08.html).

[2022-03-21 13:51] casella commented on #8648
@adrpo, can you check them one by one? I guess the ones by @lochel are the most probable candidates.

[2022-03-21 14:17] #7507 closed

[2022-03-21 21:09] casella commented on #4829
Maybe you could ask to the signature software providers how to deal with this. After all, it's not cheap software by any means...

[2022-03-21 21:17] casella commented on #8713
Note that reshuffleLoops still scales with O(N^3). In
[ScalableTestSuite.Electrical.TransmissionLine.ScaledExperiments.TransmissionLineModelica_N_640](https://libraries.openmodelica.org/branches/master/ScalableTestSuite_noopt/files/ScalableTestSuite_noopt_ScalableTestSuite.Electrical.TransmissionLine.ScaledExperiments.TransmissionLineModelica_N_640.err), resolveLoops takes 0.7 s, while in [Scalabl

[2022-03-21 22:14] casella opened #8738 "Writing to cout in external functions called to compute package constants crashes OMEdit"
We are experiencing a weird but fatal bug with ExternalMedia in OpenModelica. The bug is present both in the Linux and Windows versions, but is more easily reproduced under Windows.

### Steps to Reproduce

- Download the latest development version of ExternalMedia [here](https://github.com/modelica-3rdparty/ExternalMedia/suites/5360572261/artifacts/167984900).
- Move the libExternalMediaLib.so an

[2022-03-21 22:56] casella commented on #8183
As of v1.19.0-dev-697-gfa7189b918, if first load MSL 4.0.0 and then I open the following package
[code]
I get the following notification:
[code]
This is not correct and misleading for multiple reasons:
- OpenModelica actually does support conversion scripts (or at least claims to...)
- In any case there is no conversion script to downgrade from MSL 4.0.0 to MSL 3.2.3
- "Potential issues" are actua

[2022-03-21 23:06] casella commented on #8474
Works for me using version v1.19.0-dev-697-gfa7189b918:
![immagine](https://user-images.githubusercontent.com/4233148/159377460-17d37709-35ad-4956-92d2-170982b38162.png)

[2022-03-21 23:06] #8474 closed

[2022-03-21 23:49] casella commented on #5427
Original ticket: https://trac.openmodelica.org/OpenModelica/ticket/5427

We'll have most of the required features implemented in version 1.19.0

[2022-03-22 08:58] HSchatzTLK opened #8739 "Translation error caused by wrapper around homotopy function"
### Description
TIL uses a wrapper around the Modelica homotopy function to enable conditional use of homotopy initialization. This wrapper seems to cause problems compiling the models if used inside an equation. Interestingly, the model can be compiled and simulated as long as the output of the wrapper is simply assigned to a variable (without further statements inside the equation, see MWE).

##

[2022-03-22 09:44] adrpo commented on #8648
Commit 0897872ac1 works fine.

[2022-03-22 09:56] adrpo commented on #8648
Commit b1522d89fc works fine.

[2022-03-22 10:02] adrpo commented on #8648
Commit 75c31ea6cd works fine.

[2022-03-22 10:05] adeas31 commented on #8738
I guess the binaries copy step is not required for Windows, right?

For me it crashes inside the GC in function `GC_acquire_mark_lock`. Here is the complete [backtrace.txt](https://github.com/OpenModelica/OpenModelica/files/8323196/backtrace.txt)

[2022-03-22 10:07] AnHeuermann commented on #8739
Discussion about homotopy operator used in function algorithms: https://github.com/modelica/ModelicaSpecification/issues/3137

[2022-03-22 10:09] casella commented on #8739
I just opened [MLS #3137](https://github.com/modelica/ModelicaSpecification/issues/3137) on this topic, please follow the discussion there.

In the meantime, a possible workaround is to turn the algorithm into a single assignment with conditional expression, e.g.:
[code]
This should be inlined and work out of the box.

[2022-03-22 10:24] HSchatzTLK commented on #8739
Yes, the workaround fixes the problem in OM. Thanks a lot.

[2022-03-22 10:27] adrpo commented on #8648
Commit 2590823b62 is the bad one!

[2022-03-22 10:30] casella commented on #8565
See [MLS #3138](https://github.com/modelica/ModelicaSpecification/issues/3138).

[2022-03-22 10:36] perost commented on #8738
Doesn't seem necessary on Linux either, I guess we've fixed that.

Looks more like `SystemImpl__freeLibrary` if you look at the trace for thread 1, or am I missing something?

On Linux I get:
<details>
<summary>Click to expand</summary>

[code]

</details>

I have no clue why that happens though, something to do with how OMEdit captures stdout maybe? I wonder if the same thing happens if `printf`

[2022-03-22 10:52] perost commented on #8738
It does not, using `printf` seems to work just fine and the output ends up in omeditoutput.txt. So the issue is specifically with `std::cout` and not with `stdout`, but I don't really have any clue what it might be.

[2022-03-22 11:05] fedetft commented on #8738
Here's a stacktrace where it crashes instantly, instead of corrupting memory and crashing after a while. I was debugging yesterday with @casella and it was repeatable most of the time on Linux with 1.19.0~dev-697-gfa7189b

[openmodelica.stacktrace.OMEdit.txt](https://github.com/OpenModelica/OpenModelica/files/8323568/openmodelica.stacktrace.OMEdit.txt)

As I was set up for recompiling the shared o

[2022-03-22 11:06] adeas31 commented on #8738
https://github.com/OpenModelica/OpenModelica/blob/master/OMEdit/OMEditLIB/MainWindow.cpp#L141

[2022-03-22 11:09] mahge commented on #8738
If you do not copy the binaries then we will not find them. It should print warnings saying that the library is not found in any of the searched directories.  However, `checkModel` seems to pass and the model reaches all the way to codegen (if you try to simulate) without having to evaluate the external function. So maybe the evaluation is not strictly necessary? is that possible @perost? Also I w

[2022-03-22 11:13] perost commented on #8738
The reason why the NF calls the external functions is because e.g. `ExternalTwoPhaseMedium.molarMass` uses `fluidConstants[1].molarMass`, and if it doesn't evaluate that we can't generate valid code for it since the code generator doesn't handle package constants in functions well. As pointed out by @mahge the NF itself doesn't actually need to evaluate those functions, but then we can't actually

[2022-03-22 11:13] fedetft commented on #8738
If you are on Linux building ExternalMedia is relatively easy.
Clone the externalMedia repository and in the top level directory do a
[code]
(ExternalMedia documentation says to run the first command twice, no idea why though)

[2022-03-22 11:18] mahge commented on #8738
Clone the externalMedia repository and in the top level directory do a

This will only build a static library. I am guessing this is not how the libraries in the distribution were generated. Maybe I am missing something else.

[2022-03-22 11:20] lochel commented on #8648
Thanks @adrpo. I'll look into it.

[2022-03-22 11:21] #8729 closed

[2022-03-22 11:23] perost commented on #8738
Removing that made no difference either, so OMEdit capturing stdout does not seem to be the issue.

[2022-03-22 11:39] fedetft commented on #8738
Yes I forgot that you also have to checkout v4-dev, thanks @perost

[2022-03-22 11:47] lochel commented on #8648
I hope that #8649 fixes the issue for the cpp runtime. It is, however, a bit odd to handle these things differently for the c and cpp runtimes. I would expect that the modelDescription.xml should be identical for both targets.

[2022-03-22 13:43] adrpo commented on #4829
We did. Is not possible. However from the information they gave us we have some idea on how it could work (I will not write about that here).

[2022-03-22 13:55] fedetft commented on #8738
By the way, I tried adding a cout in a C++ function of another Modelica library we have in development, call that function in a package constant, and OMedit crashes with a similar stacktrace. So the bug is not specific to ExternalMedia

[2022-03-22 21:08] lochel opened #8743 "Start values of enumeration with new front end"
The model [simulation/modelica/initialization/parameters.mos](https://github.com/OpenModelica/OpenModelica/blob/master/testsuite/simulation/modelica/initialization/parameters.mos) from the testsuite produces wrong start values for enumerations with the new frontend. @perost, I am rather certain that it isn't directly a problem with the frontend itself. It probably just generates slightly different

[2022-03-22 21:12] lochel commented on #8709
I close the issue due to lack of information. @BjorHart we will reopen the issue if you can provide further information.

[2022-03-22 21:12] #8709 closed

[2022-03-23 08:28] BjorHart commented on #8709
yeah sorry for the long response time, We are not able to share the model at this stage.

[2022-03-23 09:06] adeas31 commented on #8183
A lot of time the library XXX uses more than one libraries. So if a library XXX that uses a version of some library YYY and another library ZZZ. A non-backwards compatible version of YYY (e.g. MSL 4.0.0) is already loaded but ZZZ is not loaded. In that case when XXX is loaded then ZZZ is also loaded automatically. So if we are to cancel the operation then shall we also unload ZZZ?

That is what we

[2022-03-23 09:51] adeas31 commented on #8147
I don't think there is any need to add the mos-script back. The latest documentation by @casella doesn't use any API call so setting the environment is not needed.

Done.

[2022-03-23 10:17] #8147 closed

[2022-03-23 11:35] perost commented on #8743
The difference was that the OF always creates `DAE.VariableAttributes` for variables even if they have no attributes, while the NF just sets it to `NONE()` in that case to save memory. `DAEUtil.getStartAttr` didn't take that into account and just returned `0.0` for any variable lacking attributes.

[2022-03-23 12:15] #8743 closed

[2022-03-23 15:43] mahge commented on #8591
This probably a result of a package constant not being evaluated by the external function handling. See this [comment ](https://github.com/OpenModelica/OpenModelica/issues/8738#issuecomment-1075040224) from @perost in #8738.

I guess. in this specific case, your library (the dll) was not found by `omc` (maybe you did not copy it to the right place as discussed in #8738). In which case the model wo

[2022-03-23 15:46] bilderbuchi commented on #8687
If such code is expected to be integrated into other Python code bases: One thing I noticed is that it's _very_ customary to have scope-defining [indentation levels](https://peps.python.org/pep-0008/#indentation) be a multiple of **4 spaces** (not 1), i.e. this way:
[code]
There are some other linter-level inconsistencies that are probably too much effort to fix consistenly, but that one should be

[2022-03-23 16:29] arun3688 commented on #8687
@bilderbuchi that is true the python codes have default 4 spaces, but i see the current generated code has 2 spaces and not 1

[2022-03-23 16:44] perost commented on #8591
No, `state` is an output parameter of the function and not a package constant.

The issue seems to be two things. The first is that the names don't match, i.e. we generate a struct called `ExternalMedia_Test_TestMedium_TestState_Medium_ThermodynamicState` while the library uses `ExternalThermodynamicState`, and it seems this alone is enough to make the compiler say they are incompatible.

The othe

[2022-03-23 17:14] lochel commented on #8743
@perost thanks for the quick fix 👍

[2022-03-23 17:16] mahge commented on #8591
Ahh. I saw the same error message when the dll was not found in #8738 and together with you comment assumed it was caused by it. It is too much to hope for :(.

Now that I read the description properly I can see that I was way off since the message I got was not just a warning but an actual error as well.  Thanks for taking the time to check.

I guess this is something to be discussed properly bec

[2022-03-23 17:24] perost commented on #8591
Yeah, the only practical solution I can think of would be to generate separate declarations for external structs and convert them when passing them back and forth.

It's odd that no one has noticed this before but I guess external records aren't that common, and padding sometimes hides the issue too (the reason why the record has two integers in my example).

[2022-03-23 17:32] bilderbuchi commented on #8687
Ah, I misread the diff, then, thought it was 1.

[2022-03-23 22:16] adrpo commented on #7598
See also: #8507.

[2022-03-24 09:16] adeas31 commented on #8671
@casella I am done with the tasks that I can handle.

Adding a help button just for recent files window is probably not very helpful. It might create more confusion rather than helping the users. My suggestion is to not add a Help button.

[2022-03-24 23:02] casella commented on #8739
Of course we should never generate invalid C code that cannot be compiled later, so the ticket remains open.

[2022-03-24 23:22] casella commented on #8648
@lochel I checked #8649 but it is not clear to me what the difference in the two .xml file would be. Could you briefly comment on that and/or add a simple example here? Thanks!

[2022-03-24 23:33] casella commented on #8738
BTW, evaluating this constant takes quite some time, so it is also essential for efficiency that this is done at compile time.

[2022-03-24 23:38] casella commented on #8591
@mahge do you think you can handle this?

Indeed, I'm only aware of this happening in ExternalMedia. Which has ben around for 15 yrs, but we've not been able to deal with it in omc until recently.

This is really diabolic :)

[2022-03-25 00:02] casella opened #8757 "Fix upgrade/update library menu"
@adeas31, regarding #8724 I am really sorry, I misunderstood the upgrade/update issue completely.

I previously understood there were just two actions (update index and install newest version), but now I understand there are _three_ possible actions:
- updatePackageIndex() just updates the index, syncing with the OSMC server, but does not download (install) anything
- upgradeInstalledPackages(inst

[2022-03-25 00:16] casella commented on #8183
I guess so. We attempted to load a certain version of XXX that was not valid (because it is not compatible with YYY). So one should assume that also its automatically loaded dependencies (ZZZ) would in general not be valid. If you cancel, you should gt rid of all the them.

OK, good. Then, let's just keep options 1. and 2., if possible.

Option 1 brings me back to the status where I was before att

[2022-03-25 00:22] #5447 closed

[2022-03-25 00:53] casella opened #8758 "Add more units to parameter input drop-down menus"
The current behaviour of unit drop-down menus in parameter editing windows is the following
- if only the unit attribute is specified, that unit only is made available
- if also a displayUnit attribute is specified, then the drop-down menu allows to chose between that and the unit attribute

This is unnecessarily restrictive. In particular, it prevents using multiples of SI units if a displayUnit

[2022-03-25 00:59] casella commented on #8671
Good. I'll check everything ASAP and report.

OK. Let's see what is the feedback (if any) from users.

[2022-03-25 01:02] casella commented on #8671
@adeas31 regarding #8183, currently you get a (wrong) scripting warning, that should of course be fixed. But then, OMEdit needs to pick it up and proceed [as I suggested](https://github.com/OpenModelica/OpenModelica/issues/8183#issuecomment-1078524550), if you think this makes sense.

How should we proceed?

[2022-03-25 01:04] casella commented on #8539
@phannebohm any cluse why we still have a backend issue here?

[2022-03-25 08:10] adeas31 commented on #8757
I believe we need a new API for this.  Alternatively I can check the index.json file to look for new versions but then this is only possible from OMEdit and not from command line interface.

[2022-03-25 12:25] bilderbuchi commented on #5610
FYI, this ticket has actually been reopened: https://trac.openmodelica.org/OpenModelica/ticket/5610

[2022-03-25 13:26] bilderbuchi commented on #5610
Also, this does not seem to work correctly afaict. Using a recent nightly, the model
[code]
looks like this:
![image](https://user-images.githubusercontent.com/327442/160128647-6d68dae5-4208-43e0-91cf-c0340753c66a.png)

But extending from it like this
[code]
looks like this:
![image](https://user-images.githubusercontent.com/327442/160128750-2e90f1a2-7b60-4b2d-921b-e36ecb4b4aee.png)

It seems that

[2022-03-27 07:38] sergniko opened #8765 "Simulation process failed if an initialization file specified"
### Description

If you set an **Equation System Initialization File** with Browse... button in **Simulation Flags** tab an "unable to read input-file" error is produced and simulation process failed.

### Steps to Reproduce
1. Open Simulation Flags tab and press Browse... button
2. Select a file - notice a full path is shown
3. Start simulation
4. After compilation a model *.exe starts with -iif=

[2022-03-27 12:04] sergniko opened #8766 "OMEdit cannot load large result file"
### Description

It seems that OMEdit cannot load a result file with size over ~2Gb. It produces `Corrupt header: data_2 matrix` error.

### Steps to Reproduce

1. Create some model with many variables. Easiest way is to use Modelica.Fluid.Pipes.DynamicPipe and increase a number of nNodes.
2. Simulate with small interval (1e-5 for example).
3. The simulation finished successfully.
4. Ensure that r

[2022-03-27 20:22] casella commented on #8648
It seems that most (if not all) regressions were fixed, see [the regression report](https://libraries.openmodelica.org/branches/history/cpp/2022-03-24%2020:55:16..2022-03-25%2020:54:50.html).

@rfranke, the comparison of cpp runtime performance on the library testsuite between [master and v. 1.18.1](https://libraries.openmodelica.org/branches/overview-c++.html) is now largely positive, there are a

[2022-03-27 20:22] #8648 closed

[2022-03-27 20:26] casella commented on #8757
That would be fine. From the CLI one should directly use the package manager API functions.

[2022-03-27 20:33] casella commented on #8765
@sergniko, are you sure the *** path does not contain non-ASCII characters?

[2022-03-27 20:36] casella commented on #8766
Maybe a problem with the .mat format itself? See https://www.google.com/search?client=firefox-b-d&q=.mat+file+matlab+max+size

[2022-03-28 00:43] naibafomsare commented on #8687
Thank you very much!

With the changes to the syntax in the `linearized_model.py` function, Python does not complain, and the matrices can be used with the `control` package to define a LTI system.

These changes are already useful. However, for larger systems, with several inputs, outputs and state variables, it would be good to provide the names of the variables in dictionaries, together with th

[2022-03-28 06:18] olivleno commented on #8692
Can confirm it works for my model now. Thanks for fixing this so quickly!

[2022-03-28 06:29] arun3688 commented on #8687
@naibafomsare  The current generated python code structure looks like this

[code]
here
[code]
the way to interpret, the comments `# x_num_x(1)` is the variables starting with

1. ` x_` represents `states`
2. ` u_` represents `inputs`
3. ` y_` represents `outputs`

So in the current python generated code , we can generate new variables which contains the stateNames, InputNames and output names som

[2022-03-28 07:04] naibafomsare commented on #8687
@arun3688 The solution that you propose seems fine, and it's simpler: the indices, corresponding to each variable, are indicated by the place of the variable name within the list.

However, your example seems confusing, maybe because there's only one input and one output in the example:
[code]
Shouldn't the `inputNames` and `outputNames` lists be
[code]
instead?

[2022-03-28 07:10] arun3688 commented on #8687
@naibafomsare , you are correct, That was an typing mistake

[2022-03-28 11:11] casella opened #8770 "Add dictionary of variable names to output of linearize() function when using Python"
The current implementation of linearize() when using Python output only provides the ABCD matrices.

@naibafomsare proposed [here](https://github.com/OpenModelica/OpenModelica/issues/8687#issuecomment-1080252796) to add a dictionary with names for inputs, outputs, and states. This should be done to get the same functionality as in the Matlab output

[2022-03-28 11:12] casella commented on #8687
@naibafomsare, the issue of this ticket is fixed, so I'm closing it now. See #8770 for the new feature.

[2022-03-28 11:12] #8687 closed

[2022-03-28 11:15] HSchatzTLK opened #8771 "Frontend compilation error"
### Description
Compilation of heat exchanger models using a specific fluid cell model fails. The error seems to be a frontend error (see screenshot). The fluid cell model itself (not instantiated inside a heat exchanger model) compiles and simulates successfully. Heat exchanger models using different combinations of fluid cells also work.

### Steps to reproduce
Since the models are part of a com

[2022-03-28 11:38] mahge opened #8772 "Parameters with bindings are not sorted/ordered correctly."
### Description

Parameters with bindings that depend on other parameters are sometimes not handled correctly. The dependencies of the parameters are evaluated after the them.

### Steps to Reproduce
test.mo

[code]

test.mos

[code]

output
[code]
### Expected Behavior
[code]

The values of the array `d` should be set to values of `b` ( = {1.0,1.0}) which is computed by function `f2`. However the

[2022-03-28 11:39] mahge commented on #8772
@niklwors This test model duplicates your issue. We will continue investigating.

[2022-03-28 11:40] perost commented on #8771
This is an error that is not meant to occur, so it's a bug in the compiler. Unfortunately it's not a known issue to us and doesn't happen in any of the libraries we test as far as I know, so an example model will be necessary in order to debug the issue.

Two ways to create an MWE are:
* Use File->Save Total to save the model and its dependencies to one file and then remove as much as possible fro

[2022-03-28 11:58] AnHeuermann commented on #8771
@HSchatzTLK and myself will try to create a MWE tomorrow.

[2022-03-28 12:15] casella commented on #6282
Original ticket: https://trac.openmodelica.org/OpenModelica/ticket/6282

[2022-03-28 15:05] arun3688 commented on #8770
@casella the feature is implemented with this commit https://github.com/OpenModelica/OpenModelica/commit/62abb405183a9464a3ad5443db36c243e40a6731

[2022-03-28 15:05] #8770 closed

[2022-03-28 16:13] sergniko commented on #8766
Other option doesn't work well for me:
plt - Process crashed
csv - almost 3 times bigger file (863M vs 352M *.mat) and OMEdit very slow on csv - several seconds (with "not responding" in window header) to plot one variable.

[2022-03-28 16:23] perost commented on #3678
Some more benchmarking using `ScalableTestGrids`:
| Model                    |       Variables | Without Merging (s) | With Merging (s) |
| :----------------------- | -----------------:| --------------: | -----------: |
| Type1_N_1_M_1   |             1920 |          0.31  |         0.24 |
| Type1_N_1_M_2   |             2196 |          0.29  |         0.17 |
| Type1_N_2_M_2   |             9966 |

[2022-03-28 20:57] casella commented on #6282
According to @mahge, setting the [--parmodauto](https://openmodelica.org/doc/OpenModelicaUsersGuide/latest/omchelptext.html#omcflag-parmodauto) should now be sufficient, for sure under Linux, possibly also under Windows.

Significant performance gains can be observed for long simulations, where the time saved by parallelization more than offsets the initial overhead. -lv=LOG_STATS shows the setup

[2022-03-28 21:12] casella opened #8776 "Missing library prevents using --parmodauto under Windows"
I tried to run a test case with the latest nightly build of OMC/OMEdit under Windows, setting the <--parmodauto> in the Simulation window. I get the following linker error:
[code]
@adrpo, can you fix that?

Thanks

[2022-03-28 21:12] casella commented on #6282
See #8776 for use under Windows

[2022-03-28 21:55] casella commented on #6282
@mahge, I just tried to run this script on Linux, using OpenModelica 1.19.0~dev-721-g726097a
[code]
I got this two linker errors:
[code]
Do I miss something?

[2022-03-28 21:59] mahge commented on #6282
I test just the build from source and as usual I forgot to update the Windows installers and Linux packages. I will update them tomorrow.

[2022-03-28 22:16] casella opened #8777 "Cannot load library in OMEdit from a directory with accented letters"
Unpack the attached zip file, that contains two libararies in an accented letter directory.

When trying to open TestPackage/package.mo, I get:
[code]
When I try to open ExternalMedia 3.3.0/package.mo instead, I get
[code]
and an empty ExternalMedia package is shown in the Libraries Browser.

[2022-03-28 22:17] casella commented on #7598
See #8777, that problem is still unsolved. Maybe accented letters _and_ whitespace are even worse?

[2022-03-28 22:35] casella commented on #8641
@lochel, on top of the issue reported by @adrpo in the description (which I was unable to link to any specific commit), there is another issue that popped up in this [regression report](https://libraries.openmodelica.org/branches/history/master-fmi/2022-02-17%2001:51:48..2022-02-19%2001:39:48.html), which caused 287 regressions.

All the models that stopped simulating in that report apparently did

[2022-03-28 22:39] casella commented on #8770
@naibafomsare, would you mind testing it with the next nigthly build and report? Thanks!

[2022-03-28 22:48] casella commented on #3678
@perost I guess you are reporting the frontend time only, right?

When doing merging, it is very clear there is something in there (probably NFEvalConstants) that scales as O(N^2) and dominates the time spent in the FE when there are significantly more than 200.000 equations. Without that, the N_32_M_4 model would probably take around 300 s. I guess that would be a trifle too much, since the whole

[2022-03-28 22:49] casella commented on #6282
I figured something like that :)

Thanks!

[2022-03-28 23:06] adrpo commented on #8641
Also this one:
https://libraries.openmodelica.org/branches/master-fmi/ModelicaTest_trunk/files/ModelicaTest_trunk_ModelicaTest.Blocks.FilterTests.AllOptions.err

[code]

[2022-03-29 06:17] arun3688 commented on #8641
@casella I found the problem,  this is related with `--fmiFilter=protected` and reading the `simulation_info.json` from source folder, it seems the json file is exported to both resource and source folder.

[2022-03-29 06:19] lochel commented on #8641
Thanks @arun3688, that's a good starting point 👍

[2022-03-29 09:07] perost commented on #3678
Yes

1705s is spent on NFEvalConstants, 797s on NFFlatten. So there's certainly a lot of room for improvements there.

[2022-03-29 09:16] #8183 closed

[2022-03-29 11:49] AnHeuermann commented on #7960
`xIn < rowX[i]` get's compiled into C code to
[code]
and is stored in `tmp1`.
This generated part looks correct.

In the `relationhysteresis` function we are in continuous simulation mode and return the pre-value of the corresponding relation.

So we should have a relation for each `xIn < rowX[i]` and have events every time one of these relation changes.
I'll check them next.

[2022-03-29 12:19] lochel commented on #8772
Is this a specific issue for array assignments?

[2022-03-29 13:05] mahge commented on #8772
I think so but I am not 100% sure. If you simplify this model further the issue will be hidden in most cases. So I am not sure if there is a way to duplicate this using just scalar variables.

I think it might have to do with the fact that we do not expand arrays with function call bindings (`a[:] = f()`) in the NF.

[2022-03-29 13:58] perost commented on #8772
I see everything anyway. It's not a frontend issue, the only reason the frontend doesn't expand such calls is because we explicitly tell it not to. We added that to avoid the performance issues with your models, since otherwise the function is evaluated once for every array element during simulation. It's not fully supported by the old backend yet though.

[2022-03-29 13:59] mahge commented on #6282
The debian packages should be improved with https://github.com/OpenModelica/OpenModelicaBuildScripts/pull/26. We have to wait until tomorrow and we will see if we have more issues.

[2022-03-29 14:04] mahge commented on #8776
This was an issue with the linker command line arguments missing a space when concatenated.  `-lboost_system-fopenmp` should have been `-lboost_system -fopenmp` with a space in between.  It only affects Windows versions.

It is now fixed with #8780.

[2022-03-29 15:22] AnHeuermann commented on #7960
We do find a state event at `time=1.24999999938` and update the relations:
[code]
but `relation2` is still `true` at this time. The next time the relations are updated is at the next event location (again found a tiny bit to early).

I tried to change the bisection method to always return a solution greater then the root, but this didn't solve the problem.

[2022-03-29 17:24] HSchatzTLK commented on #8771
Thanks to the help of @AnHeuermann the models are working now. The problem seems to consist of three parts:

1) The fluid cell has an inner parameter record containing information about the fluid, e.g. number of components, called _fluidType_. The fluid cell model is declared as a replaceable model constrained by its partial base class. While declaring this replaceable model, the parameter record

[2022-03-29 21:37] casella commented on #3678
@perost, is there any debugging technique out there to identify double nested loops (hence scaling as O(N^2)) at runtime?

[2022-03-29 21:46] casella commented on #8757
LGTM, I'll try this out tomorrow with the next nightly build.

One question only: I assume that the updatePackageIndex automatic action is carried out by a non-blocking thread, much as, e.g., the update of the New Item. Otherwise it could be very annoying if one had to wait for that to take place if you don't have the intention of updating/installing any library (which is the case 99.9% of the tim

[2022-03-29 21:56] casella opened #8783 "Autoscale of OMEdit plots doesn't work correctly in some cases."
### Steps to Reproduce

Run the following model in OMEdit:
[code]
then plot x1_error. The following plot is obtained:
![immagine](https://user-images.githubusercontent.com/4233148/160713494-d46e56f7-daa4-46e5-8149-f5c8e36c9987.png)

which is clipped badly.

### Expected Behavior

I'd expect to see something like this:
![immagine](https://user-images.githubusercontent.com/4233148/160713739-1ecb91bb

[2022-03-29 22:01] casella commented on #8772
@mahge, I tried to reproduce this with OMEdit, latest nightly, but I get the correct results:
![immagine](https://user-images.githubusercontent.com/4233148/160714415-3fae29f7-89f3-49a0-bc2c-e278b05106cf.png)

Is it perhaps a problem with the scripting environment?

[2022-03-29 22:05] perost commented on #3678
Not that I'm aware of. Finding nested for-loops would be quite easy, but performance issues are almost never that obvious in my experience but rather linear functions calling other linear functions (often indirectly).

But anyway, I've already fixed the worst performance issues for this case. The N_11_M_4 model now takes 27s while the N_23_M_4 model takes 123s, so much better scaling. But I'm stil

[2022-03-29 22:09] casella opened #8784 "Incorrect x-axis label when plotting arrays"
### Steps to Reproduce

Run the following model
[code]
in OMEdit, then plot the whole `x` array.
![immagine](https://user-images.githubusercontent.com/4233148/160714944-cd9b9061-9bac-4f1b-aa1c-eed38b4cfd5b.png)

The label on the x-axis is `index (s)`, which is quite confusing, since the unit (s) is completely wrong.

### Expected Result

I would suggest to write `array element index` instead.

[2022-03-29 22:11] casella commented on #8776
OK, I'll check with tomorrow's nightly build. Thanks!

[2022-03-29 22:14] casella commented on #6282
OK, will check tomorrow, thanks!

[2022-03-29 22:25] casella commented on #3678
Sure, that's what I meant for runtime double-nested loops :)

Maybe looking at the stack trace after a few hundred seconds of running and trying to find patterns among the function calls could help?

Yes, that looks pretty linear, which is already much better than O(N^2). However, I wonder, are you doing the constant evaluation and the flattening before or after merging? In the former case, should

[2022-03-29 22:31] perost commented on #3678
This is with scalarization, turning off scalarization doesn't work for these models for some reason. I will see if I can fix that too.

[2022-03-29 22:34] casella commented on #3678
Aha, of course we should have turned that off :)

Good luck with that also. I really expect those times to go down substantially once you have -nonfScalarize working.

[2022-03-30 06:27] sjoelund commented on #8757
That's not the case if you use the API :)

[2022-03-30 06:34] dietmarw commented on #8165
I've just revisited the menu again with `1.19.0~dev-737-gc242d85` and updated the [original list of issues](https://github.com/OpenModelica/OpenModelica/issues/8165#issue-1057181694).

[2022-03-30 06:59] #8757 closed

[2022-03-30 07:01] adeas31 commented on #8757
It will only be called if you want to update/install the library.

[2022-03-30 07:56] adeas31 commented on #8165
Isn't this the [original list of issues](https://github.com/OpenModelica/OpenModelica/issues/8165#issuecomment-976512476)?

See #8785.
- Fixed the typos.
- Changed `OpenModelica User's Guide F1` to point to the online documentation. The offline can be accessed via the pdf `OpenModelica UsersGuide (PDF)`.

The open issues now are,

- [ ] Install `omc-doc` together with OMEdit.
- [ ] Install TLM Sim

[2022-03-30 08:03] dietmarw commented on #8165
It looks like #8785 will replace pointing to the locally installed (and outdated) version to the online version. But as we have discussed before, it would be better to fix the locally installed version with an up to date one.
So my updated test was after installation of omc-doc and I thought it better to update the top-most ticket comment.

[2022-03-30 09:19] adeas31 commented on #8765
git blame says,

[code]

@AnHeuermann I think you assume the `FLAG_IIF` path is relative. It could be relative and in that case your code is correct. But at the same time it could be absolute path as well. So you need to check for both.

[2022-03-30 09:30] adeas31 commented on #8165
Yes we need to fix the locally installed. But we were always pointing to the locally installed ones. #8785 gives access to both i.e., online version and locally installed pdf version.

I think we should consider the case with installation of omc-doc. The only thing is to get it installed automatically with OMEdit.

[2022-03-30 09:33] dietmarw commented on #8165
Yes, and that is what I have done :-)

[2022-03-30 10:44] AnHeuermann commented on #7960
I found the problem 🎉
Our generated code isn't correct:

[code]

We should have a `storedRelations` for each relation.
When fixing the indices of `data->simulationInfo->storedRelations[]` to be `0, 1, 2, 3, 4` the simulation is working.

![image](https://user-images.githubusercontent.com/38031952/160813798-e005d1ce-2893-418c-bda7-88d7db8fea16.png)

[2022-03-30 10:50] mahge commented on #8772
@casella I just tried this now and you are right. The NF constant evaluates the function `f`. We had marked the function impure to disable that behavior. I missed that in the test case here. It is now fixed..

For OMEdit, you can use this

[code]

Simulated P.M and plot d[1] and d[2].

[2022-03-30 10:51] hkiel commented on #7260
I'm building with qt5 on macOS (compile from git using macports stuff, but not as macports port) and OMEdit was usable few weeks ago. I use OMNotebook for teaching, which works like a charm.

[2022-03-30 13:50] naibafomsare commented on #8770
@casella and @arun3688, I have tested the new code, and it seems to be working very well, thank  you very much! I can simplify my code now.

The only observation I have is about the description of the new feature. @arun3688 did not add a dictionary, but just a list with the names of the variables in the appropriate order. Such a solution is better than the one I had proposed.

[2022-03-30 14:33] AnHeuermann commented on #7960
After a long debug session with @kabdelhak we came to the conclusion that the error is somewhere deep in the backend.
Fixing it is by no means trivial and the best approach would to re-write the zero-crossing generation. And because the new backend is making progress it would be better to include the changes there.

But there is a workaround available.
When replacing the relation from the if condi

[2022-03-30 14:46] AnHeuermann commented on #8765
Yeah, we should use a function to convert the flag value into an absolute path and then check if that file does exist. So we ware independent of relative or absolute paths.

[2022-03-30 16:19] mahge commented on #8776
There is still one more issue to solve for Windows. The boost-system library on OMDev/MinGW is named `boost-system-mt`. We can manually add the -mt suffix for Windows but I am trying to make it more responsive by taking whatever name the boost library has from the OpenModelica configuration and use that instead.

If you rename the file or the adjust the link command accordingly, simulation seems t

[2022-03-30 18:29] adrpo commented on #7260
@alexchandel maybe you could begin the porting and make a PR and we could help on it too.

[2022-03-31 07:14] bilderbuchi commented on #8758
What do you think about also showing compatible imperial units? This would be useful if your model parameters are in SI (e.g. meters), but you are in the unfortunate situation that your data is imperial (e.g. dimensions in inch).

[2022-03-31 07:18] arun3688 commented on #8641
@casella the regressions which failed due to assertion error
[code]
should be fixed with this commit https://github.com/OpenModelica/OpenModelica/commit/46915e1539e67a4adfa5aefefe62dba15e31cd7d

I do not know what is causing the linking issue for `Model_updateBoundParameters_0`

[2022-03-31 13:47] AnHeuermann commented on #7960
We should keep the ticket open. The underlying problem in the backend is not fixed.
Maybe @kabdelhak can include it in the new backend.

[2022-04-01 07:53] jph-tavella opened #8795 "Impossible to run a very simple .ssp case based on Dymola FMUs"
### Description

It is impossible to run a very simple .ssp case based on Dymola FMUs. The same case only involving OM FMUs is perfectly runnable with correct results.

### Steps to Reproduce

Easy to reproduce with the attached .ssp file.

### Expected Behavior

Same results as for the pure OM FMUs case.

### Screenshots
![image](https://user-images.githubusercontent.com/32952030/161217942-e9709c

[2022-04-01 13:01] bilderbuchi commented on #8487
would that be dependent on ` --unitChecking` being active, and show during unit checking? Ot do you mean in the plot perspective, even if unit checking is disabled?

[2022-04-01 13:03] bilderbuchi commented on #8478
I'm seeing this using the current nightly (FYI, meaning it hasn't been accidentally fixed in the meantime).

[2022-04-01 17:23] max-privato opened #8796 "Constant values not plotted"
### Description
In this tiny example T[1],Tp[2], Tp[3] are not plotted: the plot area is blank

### Steps to Reproduce
Consider this piece of code in OMEdit:
[code]
It compiles and runs, but when we try to plot Tp[1], or Tp[2], or Tp[3], they do not appear in the plot: the plot area remains blank.

### Expected Behavior
Horizontal lines should shown with values 1.0, 5.5, 10.0.

### Screenshots
![i

[2022-04-01 19:03] casella commented on #8757
OK, looks good. Will test it ASAP.

[2022-04-01 20:25] casella opened #8797 "Only show most recent compatible versions in System Libraries menu"
I just installed the latest 1.19.0 nightly build. When I start it and click on System Libaries, I get the following menu

![immagine](https://user-images.githubusercontent.com/4233148/161326674-e7d7e1be-3d49-4698-992f-ce21efee2679.png)

This is quite confusing for a user that has not been initiated to the cult of the package manager. If I want MSL 4.0.0 should I pick `4.0.0+maint.om` or `4.0.0`?

[2022-04-01 20:43] casella commented on #8758
That would be possible, but it may have some pitfalls. I'd keep it for 1.20.0

[2022-04-01 20:48] casella commented on #8487
`--unitChecking` runs dimensional checks on _units_ of variables _in equations_. AFAIK it has nothing to do with displayUnit.

[2022-04-01 21:46] casella commented on #8796
Tried this with the latest 1.19.0 nightly build. This is the result:
![immagine](https://user-images.githubusercontent.com/4233148/161345518-1eee0865-506e-4d7d-b468-eacfa2b1e3a6.png)

Whatever caused this issue was fixed in the meantime.

[2022-04-01 21:46] #8796 closed

[2022-04-01 21:54] casella commented on #8776
OK. Unfortunately I have no idea where that library is, so I can't rename the file. If you help me with that, I can start doing some testing.

In any case we still have missing libraries under Windows when using --parmodauto.

[2022-04-02 05:52] arun3688 commented on #8795
@jph-tavella I could able to reproduce the issue, from the initial debugging it seems the dymola fmus have problems with exporting the results in `.csv` format, I set the result file to `.mat ` and it worked from command Line

[code]
Can you change the result file to `".mat" `and see if this works

[2022-04-02 07:16] arun3688 commented on #8795
@jph-tavella I debugged the ssp little more and found that the issue is not related to `Dymola` fmus or `OpenModelica` fmus, it is rather related to path of the `csv file and permission error`, in your Dymola generated ssp file, if you change the path of the csv file from` C:\tankBarrelDymola_res.csv` to `tankBarrelDymola_res.csv` this should work, it is a bug and we will fix it soon

[2022-04-02 09:58] bilderbuchi commented on #8487
Ah ok, I thought you might need that to determine *If an incompatible displayUnit is set*

[2022-04-02 13:19] max-privato opened #8799 "Constant values not shown when time is negative"
### Description
I thought I had posted this yesterday, but I cannot find it anymore

Constant-valued plots are not shown by OMEdit when time is negative
### Steps to Reproduce
Run this piece of code:
`model TestBug5
  parameter Real p=1;
  Real t=time;
equation
  annotation(experiment(StartTime = -1, StopTime = 0));
end TestBug5;`

variable t is plotted correctly, p is not.

### Expected Behavior

[2022-04-02 13:23] perost commented on #8799
You did report it yesterday, see #8796, but that issue was closed since it seems the issue is already fixed in newer versions of OM. Please continue the discussion in that ticket instead if you find that the issue is not in fact already fixed.

[2022-04-02 13:24] perost commented on #8799
Sorry, it seems I mistook your reports since they're rather similar, but this one seems to be different to #8796.

[2022-04-02 17:08] jph-tavella commented on #8795
@arun3688 You are partly right.
When I try the pure OM FMUs case it is successful with this result file C:\Temp\tankBarrel_res.csv and it crashes with C:\tankBarrel_res.csv (permission error).
But with the pure Dymola FMUs case, it always fails, whatever the fullname result file used. And also with .mat extension.
Using the name C:\Temp\tankBarrel_res.csv, the error messages are clearer and it app

[2022-04-02 18:13] casella commented on #8487
Yes, that is the idea. But we need to check if the displayUnit is dimensionally compatible with the unit. That's not what --unitchecking does, that feature checks for dimensional consistency of units in equations.

[2022-04-02 18:14] casella commented on #8799
@max-privato, @adeas31 made lots of improvements to plotting in 1.19.0, please always check the nightly build for all such issues.

Thanks!

[2022-04-02 18:49] casella opened #8800 "Package-Managed MSL 3.2.3 doesn't work under Linux"
### Steps to Reproduce

1. Start with a fresh Linux user with empty .openmodelica directory, or delete the contents thereof.

2. Run the following script
[code]
I get this output
[code]
I have no idea why ModelicaServices 4.0.0 and Complex 4.0.0 are installed first, while their 3.2.3 counterparts aren't, but for sure this causes trouble, see next point.

3. Run the following script
[code]
The foll

[2022-04-02 21:53] max-privato commented on #8799
Just checked.
The issue is still there with today's nightly.

My fault was that yesterday, while progressively simplifying the test case I had, to create a MWE, I simpliifed it too much :-)

[2022-04-02 22:05] casella commented on #8799
Confirmed. @adeas31 can you please have a look?

[2022-04-03 05:42] sjoelund commented on #8800
It's not a problem with the package manager. Services 4.0.0 is compatible with MSL 3.2.3. However, the default language standard set when loading MSL 3.2.3 possibly prevents impure from being used.

[2022-04-03 20:52] casella commented on #8800
Except that it uses language features that were not defined when MSL 3.2.3 was issued 😃

Is there any compelling reason to set that standard when loading MSL 3.2.3?
- If the answer is yes, then Services 4.0.0 is not compatible with MSL 3.2.3 and we should act accordingly
- Otherwise, we should avoid setting that language standard

@sjoelund, @adrpo, what do you think?

[2022-04-04 05:44] sjoelund commented on #8800
The problem might be that some variable called impure might be used. It is compatible with all models in MSL 3.2.3 though. There would be no problem parsing it regardless.

[2022-04-04 07:24] max-privato commented on #8303
Any news on this?
Probably it would require just removing a couple of rows of code, the rows that intercept pressing the re-simulate button when doing interactive simulations, and block everything.
In this case, it is just a matter of minutes to fix it.
Thank you!

[2022-04-04 17:25] dmillard commented on #7260
Hi @hkiel, are you running on arm64 or x86_64? I'm hitting compile issues on my Apple Silicon chip and was curious if I should open an issue to track. I'm not really even sure what the status of OpenModelica-on-arm is. Thanks!

[2022-04-04 19:48] hkiel commented on #7260
I'm still running on x86_64.

[2022-04-04 22:09] casella commented on #8800
After discussion during the webmeeting, it looks like the best way to handle this issue is to have the parser (or lexer?) consider `impure` also for versions of Modelica < 3.4, possibly only if `--strict=false`.

This fix is slightly hackish, but it only affects old models using MSL 3.2.3, which are going to be obsolete in the long term, so that's no big deal.

@perost offered to take care of that

[2022-04-04 22:14] casella commented on #8797
Discussion during devmeeting. This happens because I have previously installed MSL via the package manager, so I get both that and the version installed in the `C:\Program Files` directory.

"Normal" users won't have done it, so they should only see MSL 3.2.3 and MSL 4.0.0 from the preinstalled versions. I checked that and it works fine.
![immagine](https://user-images.githubusercontent.com/423314

[2022-04-04 22:14] #8797 closed

[2022-04-05 10:00] perost commented on #8800
This should be fixed in #8803. Passing the `strict` flag to the parser was a bit more complicated than anticipated since changing the parser interface caused the bootstrapping to break, but I think it should work now.

[2022-04-05 10:24] #8800 closed

[2022-04-05 13:34] #8765 closed

[2022-04-05 13:37] #8799 closed

[2022-04-05 14:02] #7173 closed

[2022-04-05 15:25] dhblum opened #8805 "Model-Exchange FMU 2.0 Export fails for Modelica Buildings Library model"
### Description
Model-Exchange FMU 2.0 Export fails for Modelica Buildings Library model ``Buildings.ThermalZones.Detailed.Validation.BESTEST.Cases6xx.Case600FF``.

### Steps to reproduce
- Open OMEdit
- Load MSL
- Load Modelica Buildings Library
- Open Model ``Buildings.ThermalZones.Detailed.Validation.BESTEST.Cases6xx.Case600FF``
- In Tools > Options > FMI, set Type=Model Exchange.  Keep version

[2022-04-06 07:51] Arinomo opened #8806 "Enhancement request: update model bindings after using conversion script"
### Description
Using the MWE in the comment [here](https://github.com/OpenModelica/OpenModelica/discussions/8726#discussioncomment-2410475) with a little modification, I tried to use MSL converting script using CLI. The conversion went ok, since i can simulate the converted model 'M', but the source code `TestConversion` itself does not change. Only after I manually update the model bindings, the

[2022-04-06 08:43] lochel commented on #8805
There is some problem with the generated code:
[code]

[2022-04-06 11:12] lochel commented on #8641
The same issue is also reported by @dhblum: #8805

[2022-04-08 10:04] Artur-debug opened #8811 "Implement oms.copySystem(source, target)"
### Description

When I try to copy a system via Python API, an error message appears: error:   [oms_copySystem] Not implemented

### Steps to Reproduce
[code]
Am I doing something wrong or is the function not yet available?

### Version and OS

 - OpenModelica Version: OMSimulator v2.1.1.post151-gef2ca75-mingw

 - OS: [e.g. Windows 10, 64 bit]

[2022-04-08 11:26] bilderbuchi commented on #3304
[Original issue](https://trac.openmodelica.org/OpenModelica/ticket/3304) description:
When building and debugging models it's quite handy to also be able to check partial models that have parameters without any binding equation. Dymola normally assigns either 0 or the min value if present. This is quite handy it would be nice to have.

[2022-04-08 11:31] bilderbuchi commented on #3944
Original issue: [link](https://trac.openmodelica.org/OpenModelica/ticket/3944)

With the mentioned simple model
[code]
this issue is still valid, although the error message has changed again:

[Modelica.Media: 4476:7-4479:18]: [Called function ‘check.free_volume.Medium.temperature‘ is partial.]

[2022-04-08 13:37] Artur-debug commented on #8811
Oh .. not implemented yet.

[2022-04-08 14:59] #4876 closed

[2022-04-08 17:11] casella commented on #8800
I tried my tests again and everything works fine now. Thanks!

[2022-04-11 06:04] bilderbuchi commented on #3944
Related to this: #3304?

[2022-04-11 06:44] bilderbuchi commented on #8179
I have found out that unit problems in `connect` statements are not found by the unit checking, and that comparing Reals with non-SI to SI units does not work, while SI-to-SI works. MWE:
[code]

I tried to check if those are already covered by the unit checking tests mentioned above, but the [Jenkins server](https://test.openmodelica.org/jenkins) seems to have disappeared behind a login wall?! Is

[2022-04-11 11:54] casella commented on #8811
@lochel, @arun3688, I'm not sure if this is an OMSimulator problem, or an OMPython problem, or both. Can you please comment on that? Thanks!

[2022-04-11 11:56] casella commented on #4687
Original ticket: https://trac.openmodelica.org/OpenModelica/ticket/4876

[2022-04-11 11:56] casella commented on #4687
Closed by #8814

[2022-04-11 11:56] #4687 closed

[2022-04-11 11:58] arun3688 commented on #8811
@Artur-debug  @casella  there is no such API `copySystem` and this should be a new feature request to `OMSimulator`

[2022-04-11 21:16] casella commented on #5297
The GUI to conversion scripts is now implemented, see #8061.

The idea is that the upgrade of libraries to newer versions of used libraries is triggered by the context menu "Convert to newer version of used libraries". This pops up a window to select the new versions, then the conversion script are run, the converted library is saved, and finally reloaded together with the new used libraries.

[2022-04-11 21:19] casella commented on #5297
@adeas31, I just tried the GUI with the attached example.
[TestPackage 1.0.0.zip](https://github.com/OpenModelica/OpenModelica/files/8467665/TestPackage.1.0.0.zip)
When I select "Convert to newer version of used libraries" I get this window

![immagine](https://user-images.githubusercontent.com/4233148/162830893-76e46e39-72b7-4f70-b4d5-b3dd38b47b8f.png)

I would have expected to see "4.0.0", inste

[2022-04-11 21:26] casella commented on #8777
@adrpo has already implemented this feature using short directory names in #8573, for use by the package manager and linker/compiler. This also needs to be done when loading libraries in OMEdit.

[2022-04-11 21:48] casella commented on #2447
@adrpo, here are two simple MWEs, where a Test model uses a bogus version of the MSL. In one case the libraries are contained in a file, in the other case they are contained in a directory.

[DirTest.zip](https://github.com/OpenModelica/OpenModelica/files/8467982/DirTest.zip)
[NoDirTest.zip](https://github.com/OpenModelica/OpenModelica/files/8467990/NoDirTest.zip)

In both cases, if I open the Tes

[2022-04-11 21:55] casella commented on #8143
This issue should now be resolved both in Windows and in Linux. Version 4.0.0 of Complex and ModelicaServices are loaded, which are backwards compatible.

[2022-04-11 21:55] #8143 closed

[2022-04-11 22:11] casella commented on #8487
See #8758.

[2022-04-11 22:11] #8487 closed

[2022-04-11 22:12] casella commented on #8758
@adeas31 could you have a look at this by the end of this week? Thanks!

[2022-04-11 22:14] casella commented on #8268
This issue is now fixed. Unless ModelicaServices and Complex 3.2.3 are explicily loaded with exactMatch=true, versions 4.0.0, which are backwards-compatible, are loaded instead and work normally after #8800 was fixed.

[2022-04-11 22:14] #8268 closed

[2022-04-11 22:15] casella commented on #8163
@arun3688, @lochel, any chance of fixing this by the end of this week in time for 1.19.0-beta.1?

Thanks!

[2022-04-11 22:21] casella commented on #8507
According to @adrpo, this issue is now fixed for libraries installed through the package manager, see #8753. There are still some issues for libraries opened with loadFile, see #8777.

[2022-04-11 22:21] #8507 closed

[2022-04-11 22:29] casella commented on #8641
The situation has slightly improved

![immagine](https://user-images.githubusercontent.com/4233148/162843505-8efff2ba-8d6c-4a28-bcb6-ee38f263b037.png)
![immagine](https://user-images.githubusercontent.com/4233148/162843575-5b663802-1035-4c43-96ac-34dc78c94b74.png)

but there are still a large number of regressions in those two libraries (and others).

@arun3688, @lochel, is this just due to #8805?

[2022-04-11 22:33] casella commented on #8060
@perost, can you handle that in time for the 1.19.0 release?

[2022-04-11 22:41] casella commented on #5427
Version 1.19.0 handles libraries in a much better way than previous versions:

- the package manager is fully integrated in the GUI and helps installing and updating system libraries
- if a library is opened that is not compatible with already loaded ones, there are options to either cancel the operation or to reload that library from scratch with its dependencies
- upgrading existing libraries to

[2022-04-11 22:41] #5427 closed

[2022-04-11 22:42] casella commented on #8539
@phannebohm one more call if you can figure out what went wrong here, before we branch off 1.19.0-beta.1

Thanks!

[2022-04-11 22:43] casella commented on #8168
@dietmarw, I think some of these last three issues may have been solved in the meantime. Would you mind to check? Thanks!

[2022-04-11 23:09] casella commented on #5297
@bilderbuchi, would you be interesting at testing the conversion scripts with the latest nightly and/or with 1.19.0-beta.1 as soon as it is released?

[2022-04-11 23:12] casella commented on #3304
@bilderbuchi this ticket is quite old, maybe it is a bit outdated.

I checked these two models in OMEdit and they checked successfully
[code]
Do you have any specific model that doesn't check because of this issue?

[2022-04-11 23:13] casella commented on #8143
@bilderbuchi would you mind trying out the package manager once more? We fixed several issues in the last few weeks.

You can use the nighly build until we release 1.19.0-beta.1 later this week, then you can use the beta for testing.

[2022-04-11 23:15] casella commented on #7612
I understand this issue was fixed. @bilderbuchi if that is not the case, please comment here.

[2022-04-11 23:15] #7612 closed

[2022-04-11 23:26] casella commented on #8806
@Arinomo, if you are using OMEdit the idea is not to use the CLI, but to use the GUI instead. Otherwise, the GUI may find itself in an inconsistent state, e.g. because of caching, but it's not its fault.

The workflow to do that is the following:
- open the TestLibrary using MSL 3.2.3
- right-click on it and select "Convert to newer version of used libraries"
- select version 4.0.0 of Modelica
- r

[2022-04-11 23:27] casella commented on #8303
@adeas31 is this an easy fix? Thanks!

[2022-04-12 06:16] bilderbuchi commented on #7612
@casella that is unfortunately incorrect, please reopen.

* [x] What has been fixed is the RT license text on [the homepage](https://openmodelica.org/osmc-pl/osmc-pl-1.2-runtime.txt).
* [ ] The license headers of relevant files in the codebase have not been corrected afaict, see e.g. [the file mentioned ](https://github.com/OpenModelica/OpenModelica/blob/81066b9ee3f51c11336db4569e6f5e16fe9a4126/OM

[2022-04-12 07:20] bilderbuchi commented on #8143
Yes, this works correctly now, thank you!

[2022-04-12 08:45] bilderbuchi commented on #3304
Yes, in #3944 ([link](https://github.com/OpenModelica/OpenModelica/issues/3944#issuecomment-1092766217)), which now exhibits a new error "Constant free_volume.Medium.singleState is used *without having been given a value*." (emphasis mine), hence the cross-reference to here.

I tried to break this further down into a smaller MWE with simpler models, but could not find a better repro.

[2022-04-12 09:08] lochel commented on #8163
I don't know how we build the Linux packages. @sjoelund can you help out?

[2022-04-12 09:29] casella commented on #5297
@bilderbuchi what if you select 4.0.0-main.om instead?

[2022-04-12 09:32] perost commented on #8060
I made an attempt in #8821. Since the actual logic for loading libraries is done in external C code that I don't want to touch I changed the class loader to replace the requested versions with versions from the package manager.

So if you do e.g. `loadModel(Buildings, {"7.0.0"})` it will basically replace it with e.g. `loadModel(Buildings, {"7.0.2", "7.0.1", "7.0.0", "7.0.3-maint.7.0.x"}`. This se

[2022-04-12 09:33] casella commented on #3304
free_volume.Medium.singleState is a _package constant_, not a _parameter_. I guess we should close this issue and continue the discussion about the binding-less constant in #3944.