[2021-11-05 17:44] perost commented on #8087
Yes, structural parameter is not something that's currently standardized. There's been some effort on trying to standardize it, but that effort has been more towards specifying what can be evaluated rather than what should be evaluated. So there will likely always be some tool differences in that regard.

[2021-11-05 17:53] casella commented on #8067
I agree with @adrpo, blacklist everything you wrote in [your comment](https://github.com/OpenModelica/OpenModelica/issues/8067#issuecomment-961981273), plus all annotations starting with `__`.

If anybody uses nonstandard annotations without the __ prefix, that's their problem 😄

Thanks!

[2021-11-05 18:11] sjoelund commented on #8067
Also blacklist __OpenModelica?

[2021-11-05 18:18] casella commented on #8067
Of course 😄

[2021-11-05 18:22] casella commented on #8067
Seriously, it depends. It could be annotations that influence the solution process...

[2021-11-05 19:17] casella opened #8097 "Homotopy is broken"
### Description

When initializing models using `homotopy()`, all lambda-steps except the first, which is carried out with the separate, `initial-lambda0` set of equations, actually use `lambda = 1`. This means that the first step already corresponds to the last step, and then all subsequent steps are trivial, since nothing changes w.r.t. the previous step and the solver converges immediately.

Mo

[2021-11-05 20:01] sjoelund commented on #8097
Are we sure that it's solving it wrong or could it just be a printing error? 77658af1e232fee1421134e5c78fb2cbeb87c329 was my commit and hopefully should not affect this in a negative way. It should actually have fixed some potential problems for non-linear systems which would be forced into lambda=1. Would be easy to verify with a little time (just revert it and test).

[2021-11-05 20:12] casella commented on #8097
I am 100% sure. Just check the `LOG_NLS_V` output at each lambda step.

[2021-11-05 21:22] casella commented on #8087
In fact, the reason why we have structural parameters is that our code generation methods are not flexible enough to handle structural changes at runtime, possibly even during the simulation (i.e., variable-structure systems). We're doing research on that topic, though, see e.g. @JKRT's PhD work.

[2021-11-05 22:32] casella commented on #8090
I tried to run the same model but switching off the equidistant time grid output flag
[code]
This is the result:
![immagine](https://user-images.githubusercontent.com/4233148/140585045-ec3896e5-bb79-4988-a917-6a26801636a9.png)

The fact that a data point for `b` at 0.3 is not generated by the equidistant time grid output communication makes it clearer what the problem is: one would expect to see `

[2021-11-05 23:04] perost commented on #7833
Fixed in the library, and the affected models now simulate successfully.

The actual issue was that we don't support adding new expandable connectors via connections, e.g. `connect(ec.ec2.x, x)` where `ec` is an expandable connector and `ec2` is undeclared. Since this only occurred in the library by mistake I won't open a new ticket for it, since it likely won't be implemented until someone asks f

[2021-11-05 23:04] #7833 closed

[2021-11-06 13:06] casella commented on #8094
@arouhan please check the last comment in #7833

[2021-11-08 08:56] Arinomo opened #8099 "Extrapolation on CombiTable1Dx broken"
### Description

CombiTable1Ds and CombiTable1Dv could not extrapolate table as periodic

### Steps to Reproduce
MWE below shows that CombiTable1Ds and CombiTable1Dv failed to exrapolate table as periodic function compare to CombiTimeTable

[code]

### Expected Behavior

CombiTable1Ds and CombiTable1Dv outputs work when set to extrapoalte (i.e. the output start from begining when t > tmax table)

[2021-11-08 09:03] Arinomo commented on #8099
modified the table to

`parameter Real table[:,:] = [0, 0; 0.002, 3.56; 0.15, 1.85; 0.344, 1.85; 0.346, 0; 0.688, 0];`

makes it more clear that CombiTable1Ds and CombiTable1Dv always use `Modelica.Blocks.Types.Extrapolation.HoldLastPoint` regardless what user set on Text View or Schematic view

[code]

[2021-11-08 09:33] sjoelund commented on #8099
Please update to a nightly that includes #8075 #8081 - those should have fixed the problem

[2021-11-08 10:51] casella commented on #8097
Would you mind trying that out? Thanks!

[2021-11-08 10:55] casella commented on #6195
Opened duplicate of original trac ticket for the [Buildings project](https://github.com/OpenModelica/OpenModelica/projects/1).

[2021-11-08 10:56] casella commented on #6196
Opened duplicate of original trac ticket for the [Buildings project](https://github.com/OpenModelica/OpenModelica/projects/1).

[2021-11-08 11:54] #8052 closed

[2021-11-08 12:06] casella commented on #6196
Summary: `Buildings.Electrical.AC.ThreePhasesUnbalanced.Validation.IEEETests` contains a number of similar test cases, involving two connections of Delta or Wye type, that induce implicit constraints among the current states of the inductors.

All models ending with a Delta connection (i.e. those having a D at the end of their name), e.g. [Test4NodesFeeder.BalancedStepDown.DD](https://libraries.op

[2021-11-08 12:20] casella commented on #6196
I am attaching a stripped-down version of one of those failing models with less equations.

As I understand, the problem is with the transformer model, that contains models with equations such as
[code]
The flattened model shows the definition of the function:
[code]
My guess is that these functions are not inlined properly or something, so that reshuffleLoops and ASSC lose track of the dependenci

[2021-11-08 12:55] AnHeuermann commented on #7959
OpenModelica should not longer be using internal Sundials headers. So now it should be possible to use the systems Sundials.

[2021-11-08 13:08] #7959 closed

[2021-11-08 14:26] dietmarw opened #8102 "Missing or incomplete documentation of FMI export options in OMEdit"
### Description

When working with the FMU export from within OMEdit the options given "Tools -> Options -> FMI" are lacking some documentation in order to understand their meaning.

Looking at the documentation from https://openmodelica.org/doc/OpenModelicaUsersGuide/latest/omedit.html at the same time I came across the following issues:
 1. Platforms:
   - On Linux I get the correct "x86_64-linu

[2021-11-08 16:51] casella commented on #7800
I'm even more convinced that this heuristic could be useful in many cases, and I'd definitely try it out.

[2021-11-08 16:56] casella commented on #6196
Indeed, by turning on -d=optdaedump, one first finds:
[code]
and then regRoot is carried on until the end. I guess this breaks the ASSC analysis because it doesn't get inside equations (does it?).

[2021-11-08 17:15] casella commented on #6196
Hmm. I tweaked my local copy of `Buildings.Electrical.PhaseSystems.OnePhase` to add `Inline=true` to the `systemCurrent` function:
[code]
Indeed the systemCurrent function call is now gone from the daedump log, but Pantelides still fails.

[2021-11-08 17:48] perost commented on #8067
The initial implementation is now done, see #8103. It might need some tweaking, but the basic functionality should be done at least.

I implemented it by adding a new option `obfuscate` to saveTotalModel, so it can be called like for example:
[code]
This will save the obfuscated model to the given filename, `BranchingDynamicPipes.mo` in this case, and the mapping from original names to obfuscated

[2021-11-08 17:49] perost commented on #8067
@adeas31: I guess we should also add support for this in OMEdit. One option is to add another menu option to the File menu, "Save Obfuscated" or something.

Another would be to change "Save Total" from a simple file dialog to a dialog where the user can select the options to use. Besides the new `obfuscate` option we also have `stripAnnotation` and `stripComments`, but I'm not sure how useful thos

[2021-11-08 18:41] casella commented on #6196
I went even further, adding Inline = true also to the differentiated function, but no no avail:
[code]
@kabdelhak, maybe you can think about something. There are other regRoot function called, but they don't involve currents, so I don't think they should be involved in the high-index problem. Maybe there are some other function calls that I am missing.

[2021-11-08 21:46] casella commented on #8097
@sjoelund, @adrpo, never mind that. I just tried with 1.16.3, released on Feb 2021, and the situation was exactly the same. I will continue the bisection search further backwards.

[2021-11-08 22:31] casella opened #8104 "Homotopy CSV files should always be saved in the working directory"
### Description

After [66c2e0c](https://github.com/OpenModelica/OpenModelica/pull/6814/commits/66c2e0c93126baa105d2f8d3ccd9c581adcad4b5), the CSV file with the homotopy trajectory dump is saved correctly to the working directory when `--homotopyApproach=globalEquidistant` (the default) is selected.

The same fix should be also applied to the other modes of [--homotopyApproach](https://openmodelic

[2021-11-08 22:41] casella commented on #8097
This is a slightly improved MWE, where the effects of changing lambda should be clearly visible also on y (hence in the LOG_NLS_V output), not only on x.
[code]

[2021-11-08 22:43] casella commented on #8097
Also 1.13.2 has the same behaviour: four homotopy steps, many iterations on the first, none on the subsequent ones.

[2021-11-08 22:53] casella commented on #8067
@perost, stripping comments is essential, but I understand this was already supported. What about stripping annotations? We already discussed that we need to get rid of documentation and graphical annotation, but not of experiment or OMC vendor-specific ones. Is that implemented like that already?

In any case, if you really want to obfuscate, you also need to strip annotations and comments, so I

[2021-11-08 23:09] casella commented on #8097
OK, we got a bracket. Version 1.9.4 (@lochel's original implementation) works as expected. Back then we didn't have the initial-lambda0 equations, so the lambda iteration is performed on the full homotopy equations with these results for TestTornHomotopy2:
- lambda = 0.000, y  =  2.3076923,
- lambda = 0.333, y  =  2.2689885,
- lambda = 0.667, y = 2.2327123,
- lambda = 1.000, y = 2.1985951.

Someth

[2021-11-08 23:22] perost commented on #8067
@casella: Sorry if I was unclear, `stripAnnotations` and `stripComments` are old options for `saveTotalModel` that we've had for years (though I'm probably the only one using them for the purpose of creating MWEs). The `obfuscate` option on the other hand always removes all comments and specific annotations (`stripAnnotations` removes all annotations).

So the obfuscation already does point 1 to 5

[2021-11-08 23:24] perost commented on #8067
Also, my PR is not yet merged due to what seems to be some bootstrapping issue. I'll fix it tomorrow.

[2021-11-09 06:56] sjoelund commented on #8097
I'm wondering if during initialization, nonlinear systems with local homotopy should perhaps just use the global homotopy instead and that would solve it?

[2021-11-09 10:36] AnHeuermann commented on #8104
I'll fix it.

[2021-11-09 11:16] paultjevdh opened #8105 "shiftSample(u,shiftCounter) does not shift"
Hello

### Description
I try to shift a clocked (sampled) signal with shiftSample, and the output is the same as the clocked input signal, although it should be shifted 4 samples.
I also try to shift a clock signal, which is not calculated at all.

### Steps to reproduce
Simulated the model below

[code]
Plot signals u, u1, y1.
Notice that y2 does not appear in the output list.
Notice also that y1

[2021-11-09 11:23] casella commented on #8097
I guess we need to establish some notation first, so we get ourselves understood, otherwise "nonlinear systems with local homotopy should use the global homotopy instead" is a bit too fuzzy to me 😃

The initialization problem _with global homotopy_ can be formulated as
[code]
where `z` collects all the unknowns of the initialization problem, i.e. the initial values of states, derivatives, algebrai

[2021-11-09 12:34] AnHeuermann commented on #8104
As far as I can see we simply don't generate a CSV file for other types of `--homotopyApproach`, only for equidistant global homotopy.

I'll add a pull request where whenever `LOG_INIT_HOMOTOPY` is activated a CSV file for homotopy will be generated.

[2021-11-09 16:10] AnHeuermann commented on #8104
Okay, apparently we do generate CSV files for the different approaches, but apparently in a completely different location.

I started unifying the code that generates the CSV files but in the end it takes to much time and just using the correct folder is only a tiny change.

@casella Are you able to test my branch? Otherwise we can merge the PR and if there are still CSV files missing in the worki

[2021-11-09 16:57] casella commented on #8067
OK, all clear now.

Good.

Sounds reasonable. In fact, we are not try to defend ourselves from sophisticated attacks (we're not talking about nuclear secrets or anything like that), just to provide a reasonable amount of confidentiality and of protection against reverse-engineering.

I'm fine with a separate dialog for Save Total, with three checkboxes (all unchecked by default):
- obfuscate outpu

[2021-11-09 17:03] casella commented on #8104
Indeed, yesterday I got `TestTornHomotopy_nonlinsys0_adaptive_global_homotopy_pos.csv` in the main working directory.

Yeah, don't waste too much time on this.

Not really. Please go ahead with merging the PR.

[2021-11-09 20:48] casella commented on #8097
Here is what I understood so far by looking at the LOG_NLS_V output of `TestTornHomotopy2` in version 1.11.0 (released Feb 2017), and 1.12.0 (released Oct 2017). The former works fine, the latter was broken already. Note that in both cases, the `initial-lambda0` equations were not yet generated, so the same general formulation is used for all homotopy steps, including the first at `lambda = 0`.

W

[2021-11-09 22:49] casella commented on #8092
@perost, technically speaking this issue is not part of the LBL agreement, which focused on Buildings 7.0.x to avoid fighting a moving target. That said, we'll have to solve this problem anyway sooner or later to provide support to later versions of Buildings, so the earlier this gets done, the better.

Is this an easy fix?

[2021-11-09 23:10] perost commented on #8092
I don't know yet, but I was planning on taking a look at it tomorrow.

[2021-11-10 10:19] AnHeuermann commented on #8097
Okay, commenting out [nonlinearSystem.c#L1077](https://github.com/OpenModelica/OpenModelica/blob/master/OMCompiler/SimulationRuntime/c/simulation/solver/nonlinearSystem.c#L1077)

[code]
seems to give the correct solutions for y:

[code]

I'll create a PR, together with this test case and let's see how much of the test suite we will break.

[2021-11-10 13:04] perost opened #8111 "Implement API for getting conversion script information"
OMEdit needs information about the available conversions in order to use `convertPackage` to convert user models. One suggestion is to implement something like `getConversionScripts(Modelica, "3.2.3")` (or maybe `getAvailableConversions` is a better name?) that returns a list of compatible versions of that library that the user has installed and the conversion scripts associated with them.

One po

[2021-11-10 13:14] adeas31 commented on #8111
One basic use case that we discussed is lets say the user wants to convert the following model,

[code]

In that case OMEdit can read the uses annotation of the user model and call the new api to get the versions and path to conversion scripts. Something like,  `getConversionScripts(Modelica, "3.2.3")` (or whatever the name of the new api is) and get back `{"4.0.0", "path to conversion script"}`

[2021-11-10 14:04] sjoelund commented on #8111
There is an openmodelica metadata JSON file for libraries installed by the package manager which contains the information you need.

[2021-11-10 14:08] sjoelund commented on #8111
If you need the functionality, I think extending `getAvailablePackageVersions` to return a list of packages that have conversion scripts as a second output.

[2021-11-10 14:10] perost commented on #8111
It doesn't contain the path to the conversion script though, right?

[2021-11-10 14:18] sjoelund commented on #8111
It could perhaps be added, but would require changing the format of the package index or adding redundant information.
I think loading the library itself before starting conversion script isn't too bad of a requirement. Once it's loaded, the regular API to get string annotations probably work.

[2021-11-10 14:27] perost commented on #8111
I guess we can use the package manager to get a list of only the libraries that are compatible with conversion. But then we need to get the path to the conversion script for each of those, since we want to allow the user to choose which version to upgrade to in case there's multiple.

But for libraries split into multiple files it should be sufficient to just parse the `package.mo` file in order t

[2021-11-10 14:38] sjoelund commented on #8111
You don't need to get the path to each of those. You only need to make the user choose version from the list and then convert based on this (load package.mo, parse annotations, find the correct script).

[2021-11-10 14:52] perost commented on #8111
That's true, I was stuck on our original plan. So we make `getAvailablePackageVersions` also return a list of packages that are compatible with conversion, then we just need some API for fetching the conversion script for a single library version.

I like to at least pretend :) There's not much we can do in that case anyway, we need to parse at least the main file of the library regardless of how

[2021-11-10 16:21] perost commented on #8092
The fix turned out to be fairly easy, we didn't apply the original modifier when redeclaring a class. However, while it fixes your example it does not fix the Buildings models, where we instead get the issue that we try to apply a modifier twice on a component (which fails because it's marked final). I don't know if that's related to my fix or just a different issue, but I will continue to investi

[2021-11-10 21:04] casella commented on #4236
See original trac [ticket #4236](https://trac.openmodelica.org/OpenModelica/ticket/4236)

[2021-11-10 21:46] casella commented on #4346
@sbaetzing, is the behaviour in the current nighly build acceptable for you?

[2021-11-10 21:51] casella commented on #7774
@niklwors, it seems that there is disagreement on what is the root cause of the one-minute-long wait. If the problem is with SEMLA, there's not much we can do at the moment. Also, I agree with @adeas31 that relying on the existence of the unpacked directory is not robust against changes in the directory itself.

@niklwors can you please double-check how much of that minute is actually spent unpack

[2021-11-10 22:03] casella commented on #6242
@niklwors I re-read the original [ticket #6242](https://trac.openmodelica.org/OpenModelica/ticket/6242). I see two separate issues there.

[2021-11-10 22:06] casella commented on #6242
Issue 1: OMEdit fails to load a certain dll and other stuff which is required to run external C functions. I understand if everything is copied into the working directory of the model, everything works fine. The question is: where is all this stuff going to be found? Is it somewhere in the Resources folder?

The external function interface provide annotations to specify that, see [Section 12.9.4](

[2021-11-10 22:09] casella commented on #6242
Issue 2: when dlls are not found, the simulation executable terminates with error message` Exited with code -1073741515`, which is not really understandable. We should at least print that number as unsigned int in hex code ( 0xC0000135 in this case) possibly adding a link to the [list of all error codes](https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-erref/596a1078-e883-4972-9bbc-

[2021-11-10 22:11] perost commented on #6242
This was fixed in #7316, so the error code should be printed using hexadecimal format on Windows now.

[2021-11-10 22:13] casella commented on #6242
Nice, thanks @perost for reporting!

[2021-11-10 22:21] casella commented on #7560
- Regarding Modelica code obfuscation, @perost just implemented that for NDA-free Save Totals in #8067. I guess this could be easily adapted to encrypted libraries
- Regarding removing comments from C code, we could do the same as in #7643

@adrpo's comment on 30 Jun is a good summary of the requirements, but we need to turn that into an actual work plan. @niklwors, we can discuss this in detail i

[2021-11-10 22:35] casella commented on #7826
@adrpo has been working on this feature for a while, and I understand it is nearly finished. It should be definitely available in 1.19.0

[2021-11-10 22:39] casella commented on #7960
@niklwors, could you provide a simple 2x2x2 or 3x3x2 test case for debuggin?

[2021-11-10 23:56] casella commented on #2081
@adrpo, I'm trying to figure out myself why this is so difficult. I tried a simple example case, see
[TestConditionalConnectors.txt](https://github.com/OpenModelica/OpenModelica/files/7516576/TestConditionalConnectors.txt); I opened TestConditionalConnectors.Test1 and checked omedicommunication.log.

As I understand the problem is that currently OMEdit fetches display information from the class de

[2021-11-11 07:01] niklwors commented on #6242
yes, this would be fine.

[2021-11-11 07:06] niklwors commented on #6242
<3ed
-k,mjnhgbvfc mknjhbgftdrsewaq^w345

Yes we are using the annotation from Section 12.9.4 already

[2021-11-11 09:33] #7999 closed

[2021-11-11 09:38] mahge commented on #7959
Thanks. This is good. While we will not remove sundials anytime soon at least we can (maybe?) start thinking about source code FMUs with sundials with a lot less of a complication.

[2021-11-11 09:51] niklwors commented on #7960
The example Rexroth_Generic_Test.SignalBlocks.Tables.Table3D.Table3D_TC4 is a small example. It needs the library Rexroth_Generic  because the 3D interpolation is implemented in it. Is the example good for you?

[2021-11-11 10:01] niklwors commented on #7959
I think we do not need it.

[2021-11-11 10:20] casella commented on #6111
@adrpo has a PR that solves this with the NF, so he should just dig it out

[2021-11-11 10:23] casella commented on #7488
This is hopefully addressed by PR #7652

[2021-11-11 10:24] casella commented on #7489
PR #7652 should fix this

[2021-11-11 10:27] casella commented on #7826
@perost, can you please take care of this? @adrpo has ideas how to do it, please discuss them with him.

The question is if we should do it as we do it now for parameter modifiers (which has limitations) or redo the whole thing right, so that we also solve other problems like #2081.

[2021-11-11 10:29] casella commented on #7960
@adrpo, please send me a Save Total model with a encrypted zip, so I can have a look at it myself.

[2021-11-11 10:43] casella commented on #7560
Additional info:
- SEMLA and OMC bugs should be fixed now.
- Remove comments from C, same as @rfranke's -> @perost
- Obfuscation should only be applied to instances of encrypted models, check with @perost
- FMU export should not have source code, only the binaries -> @mahder can take care of this
- Debugger will become "useless" on the obfuscated parts

Distribution:
- have a form to fill in under

[2021-11-11 10:47] casella commented on #2081
We need a plan to implement an "instance-based" mechanism in place of the current one, which will also solve other long-standing issues. @perost and @adeas31 will work on that, with input from @adrpo that has ideas how to do this.

[2021-11-11 12:45] robertoalbanese opened #8116 "Internal error for overconstrained stewart platform model"
OpenModelica v1.18.0 (64-bit)
OMSimulator v2.1.1.post80-g1bf17f4-mingw
Modelica Standard Library 4.0.0
Hello, I'm currently working on the implementation of a dynamic model of a Stewart Platform in OpenModelica similar to the one in https://www.xarg.org/paper/inverse-kinematics-of-a-stewart-platform/ (6RSS parallel robot) and apparently, I'm not able to connect multiple legs to the same platform d

[2021-11-11 13:24] perost commented on #8067
It took a while due to lots of things going wrong at the same time, but #8103 is now finally merged.

[2021-11-11 13:31] Arinomo commented on #8099
@sjoelund Thanks, Martin... it works now..

[2021-11-11 13:31] #8099 closed

[2021-11-11 15:43] AnHeuermann commented on #6195
Here is a minimal working example:

[code]

The assert is it's own equation and is checked each time `mwe_functionDAE()` is called. This happens before the zero-crossing function is called, so the solver doesn't know yet that there is an event to happen.
So I don't see an easy way to suppress asserts, because here we are in continuous time mode and don't know of any events yet.

Maybe we can save

[2021-11-11 15:48] casella commented on #6242
OK.

@adeas31 could you please implement @adrpo's suggestion ""We need to add the LIBS directories to the PATH variable when we run the executables so that DLLs in the library resources can be found."?

[2021-11-11 15:56] casella commented on #8116
@robertoalbanese this is non-trivial. I tentatively assign it to @kabdelhak, maybe he could also try it with his new backend under development.

@kabdelhak do you have any clue here?

[2021-11-11 15:56] casella commented on #8067
Great!

@AndreaBartolini please try out and report.

[2021-11-11 15:59] casella commented on #8067
@perost, we will probably also need this feature in relation to the use of encrypted models. If a model M includes instances of encryped classes, could you selectively obfuscate them during flattening, so that it is not possible to reverse-engineer the models with the debugger or by looking at the C source code?

[2021-11-11 16:12] casella commented on #6195
We can leave with "non-fatal" assert statements popping up here and there, because the solver is somehow too bold and ventures in places which are verboten. What is essential, though, is that these statements should not abort the simulation. They should simply prevent the current step from being accepted. In this specific case, it won't be accepted anyway because the zero-crossing function would r

[2021-11-11 16:13] perost commented on #8067
We can easily obfuscate selected models, the tricky bit is changing the references to those models in the rest of the model. That can't be done with a simple string->string table like the obfuscation is using right now, since you typically have elements with the same name in many different scopes. I guess the NF would need to keep a translation table for each encrypted class in order to transform

[2021-11-11 16:16] casella commented on #8067
Yes, that was more or less what I had in mind 😃

[2021-11-11 16:21] AnHeuermann commented on #6195
I have some idea on how to get around this while suppressing the assert text as well. Maybe we should keep it as a info, though.

Basically I'm introducing an information if we are in a mode where it is allowed to ignore asserts. We switch that on at the beginning of the "find-events" function and switch it off at the end of it. If an assert should have been thrown (is this actually a sensible Eng

[2021-11-11 16:47] casella commented on #6195
I'm still not 100% sure. Consider this model
[code]
The derivative gets very abruptly (but smoothly) from 1 to zero when x gets close to 0.5. If we simulate with noEquidistantTimeGrid, the first steps are taken at time 0, 0.0035, 0.0075, 0.0315, 0.0635, 0.2555, 0.4455. Then, I see steps at 0.4635, 0.4955, 0.5, 0.500996, 0.503996, 0.507996, 0.515996, 0.531996, 0.0564996, etc.

Clearly, after 0.4455

[2021-11-11 17:33] perost opened #8120 "Arrays with 0-dimensions still sometimes referenced in flat model"
We currently remove arrays with 0-dimensions during scalarization, but this causes issues since they can still be referenced in the model. For example:
[code]
is flattened to (notice the missing declaration for `x`):
[code]
This affects e.g. [ClientLBNL90](https://libraries.openmodelica.org/branches/master/Buildings_maint.7.0.x/files/Buildings_maint.7.0.x_Buildings.Controls.DemandResponse.Examples

[2021-11-11 17:33] perost commented on #8120
@kabdelhak

[2021-11-11 17:43] AnHeuermann commented on #6195
The function `M_functionDAE()` gets only called at initialization and at the terminal event. There are no other events, so the assert won't get checked at `time=0.5`. Maybe that could be an issue, but I was not able to change your example to something that should trigger an assert but won't.

[2021-11-12 00:14] casella commented on #6195
LGTM

[2021-11-12 00:16] casella commented on #6195
Yet I cannot understand why this function got called called in the mwe example - when it failed it was not doing initialization or terminal event handling. Why was it ever called? I'm a bit confused.

[2021-11-12 00:29] casella commented on #8120
Hmm. [Section 10.7](https://specification.modelica.org/maint/3.5/arrays.html#empty-arrays) states:

To me your MWE looks invalid because of this. And I guess also the Buildings models may be. What do you think?

[2021-11-12 00:39] perost commented on #8120
`x[m - 1]` will never be evaluated in my example, so that should be fine. But we generally can't know that until we actually simulate the model, so we have to handle it somehow.

[2021-11-12 00:48] robryk opened #8122 "omc ignores experiment annotation"
### Description
`experiment` annotation seems to be ignored by `omc`. Regardless of its contents, the `stopTime` in the `foo_init.xml` file is set to 1, and the simulation terminates by default after 1 second.

### Steps to reproduce

Create `A.mo` with the following contents:

[code]

Run: `omc -s A.mo && make -f A.makefile && ./A`

Observe that:
 - `A_init.xml` specifies `stopTime` of 1,
 - `OMP

[2021-11-12 01:06] casella commented on #8120
This is a bit borderline. Looks to me like accessing a conditional connector which may not be there, which is actually illegal.
[code]
Why should we use different criteria for arrays with zero elements and disabled conditional connectors? In both cases, they actually don't exist.

[2021-11-12 10:36] mahge commented on #8122
Hi @robryk. thank you for the report.

We are aware of this issue and have plans to fix it. There is a bit more to it though. You can see #7860 (and #7861) for more information.

If you want a quick workaround to avoid specifying the stop times on the command line, you can use a mos script. Something like

`A.mos`
[code]
Then compile and simulate it in one go as
[code]
----------------------------

[2021-11-12 10:39] mahge commented on #8122
Duplicate of #7860.

[2021-11-12 10:39] #8122 closed

[2021-11-12 10:44] sjoelund commented on #8122
You need to either use have git installed to get the version info from the tree, or a source tarball with the additional file REVISION: https://build.openmodelica.org/apt/pool/contrib/openmodelica_1.18.0.orig.tar.xz

[2021-11-12 12:13] perost commented on #8120
Note that it's not the fact that an empty array is subscripted that is the issue, but that it's used at all (and remain in the flat model). We can't forbid empty arrays completely, that would break a lot of things.

[2021-11-12 12:18] sjoelund commented on #8120
An empty array does exist :) If you do in a function `arr := fill(N,M);`, should the code stop working if N or M is equals to 0? You could even create an array with multiple dimensions and do calculations based on its sizes by playing with `size(arr)`

[2021-11-12 12:41] mahge commented on #7999
Okay the [results](https://libraries.openmodelica.org/branches/history/master/2021-11-10%2023:06:29..2021-11-11%2011:51:16.html) are in.

Unfortunately, Buildings got updated at the same time. So it is not clear from the report which is fixed by which. However, the models listed in this ticket (and others which used to have the same issue) are now simulating mostly albeit some of them seem to trig

[2021-11-12 12:45] sjoelund commented on #7999
Not much changes:
https://github.com/lbl-srg/modelica-buildings/compare/c5ed6ce5e0a7c39859e3167432a7ecab6940397c..80529aa6db22f7aed9df1a38e700b481166ee2bc
https://github.com/lbl-srg/modelica-buildings/compare/4c4e229325c30a47d2f202f183c04170404f9bf9..f9749494688e94ea05924ddb1aaa8bece74f1b9a

[2021-11-12 12:55] perost commented on #7999
`Buildings.Controls.DemandResponse.Examples.ClientLBNL90` and `Buildings.Controls.Predictors.Examples.BESTEST` are due to #8120, which are only ones that currently fail at C compilation in 7.0.x.

[2021-11-12 14:52] perost commented on #8120
There seems to be a lot of issues with getting this to work with the current backend, some modules seems to remove empty array variables while others have various issues with variable counting. I think I'll just merge #8117 instead for now since that works around the issue for the Buildings models, and then we can revisit this when we have the new backend which might handle this better.

[2021-11-12 15:56] AnHeuermann commented on #8104
Can we close this issue?

[2021-11-12 15:59] mahge commented on #7999
@perost I guess it is a bit tricky to handle the 0 size arrays in practice.

I have attempted to add a bit more to what you started. The example in this ticket now passes Backend and Codegen but fails at compilation time because `x` is not found, of course.

We need to think about it a bit more.

[2021-11-12 16:02] perost commented on #7999
Yeah, I could easily get it to pass the backend, but then the 0-size array variables were just removed and we got the same issue anyway. The new backend is supposed to handle arrays better, and I don't think a general fix for this issue is urgent right now.

[2021-11-12 16:02] mahge commented on #8120
I have added
[code]
to the example since it was missing one equation even without the zero dim issue.

[2021-11-12 16:04] perost commented on #8120
Sure, it was just to demonstrate the issue. I was using `ClientLBNL90` when I actually tried to make it work.

[2021-11-12 19:41] mahge commented on #7999
Ohh. I thought this was needed to simulate the Buildings models. I just checked `Buildings.Controls.DemandResponse.Examples.ClientLBNL90` and it does compile just fine (it is terminated at simulation time but that is another issue). I am guessing it is as a result of #8117.

Then it is all good. We can revisit it later if needed. Although it does not say much about how much effort is left, there i

[2021-11-12 19:49] perost commented on #7999
Yes, with #8117 the problematic expressions disappear from the model. It's not a general fix for 0-size arrays, but good enough for now I guess.

[2021-11-12 23:45] casella commented on #7999
My estimate was that at least 50 models were affected by the createSimCode issue. Times 3, since we are testing three version. This gives about 150 out of 172 improvements. To me this is one of the best commits of the year 😃

Yeah, I saw that, currently no idea.

@mahge, please open another ticket if you identify a separate issue, so we can keep track of what we've done for @mwetter.

[2021-11-12 23:56] casella commented on #8097
Looks good, we get two more models of ThermoPower working, see last comment in #8109.

@matteodepascali confirms that he can now get the initialization of his problem to converge until lambda = 1. The solution is not the expected one, but I guess this is due to a bad simplified model that leads homotopy to converge on the "wrong" solution.

Thanks for you efforts!

[2021-11-13 00:03] casella commented on #8104
I'd like to check it on the next OMEdit nightly first. Have you tried that out already? If so, please close it yourself

[2021-11-13 00:13] casella commented on #7848
@phannebohm since this is on master, it will go into 1.19.0. We will probably never release 1.18.1, never mind porting this stuff there.

I assume the MWE is now working, does it? I should now test on PowerGrids, I'll do that ASAP.

[2021-11-13 00:14] #8097 closed

[2021-11-13 05:30] zapplelove opened #8127 "It's difficult to compile OpenModelica by OMdev."
I have followed the instruction to compile the `OMCompiler` package using the `OMdev` in windows. I have compiled `OMSimulator.exe` successfully, but when I run the command `make -f Makefile.omdev.mingw -j4 omedit`, there is no `omedit.exe` generated. And When I run the `OMSimulator.exe`, there is a message that 'can't find libstdc++-6.dll'.
Can anyone rewrite the instruction in more detail?

[2021-11-13 13:42] mwetter commented on #7999
Great progress. I think these changes are due to improvements in
OpenModelica as the latest changes in Buildings were for other purposes.

On Fri, Nov 12, 2021 at 3:45 PM Francesco Casella ***@***.***>
wrote:

[2021-11-13 17:27] casella opened #8128 "Inconsistent array indexing in -nonfScalarize flat output"
Consider the following model:
[code]
The flat output with `-nonfScalarize` is
[code]
The declarations of `q.x` and `p.x` are identical: they are two arrays of two Reals. This is perfectly fine, since from a mathematical point of view (which is what matters to run a simulation), that's what they are. However, those variables are rendered differently in the equation section. This is no big deal if t

[2021-11-13 17:44] perost commented on #8128
You can use `-d=combineSubscripts` to move all the subscripts to the end.

And yes, we typically add `$` to compiler-generated identifiers since it's not valid Modelica and thus doesn't risk name collisions with existing identifiers.

[2021-11-13 19:18] casella commented on #7999
Yeah, we had several things brewing for a while, and they all got finished during the last couple of days, you see that if you check the latest reports in the [master history log](https://libraries.openmodelica.org/branches/history/master/). Except the last one, that is 😄

[2021-11-14 01:37] perost commented on #8120
Another option might be to replace 0-size arrays with {}, since they haven't got any elements anyway.

[2021-11-14 02:48] rvjmaeff opened #8129 "OMEdit setExtendsModifierValue error for replaceable model"
### Description
When extending a model that has a model that contains a replaceable model, using the parameter dialog to replace the model results in the following error:

`Unable to set the extends modifier value using command setExtendsModifierValue(extendedModel, Model, replaceableModel $Code(=redeclare replaceableModel model))`

### Screenshots
![image](https://user-images.githubusercontent.co

[2021-11-14 10:02] adrpo commented on #8127
Yes, is not easy, but it should work fine, we do it every day, several times. What readme do you use? This one?
https://github.com/OpenModelica/OpenModelica/blob/master/OMCompiler/README-OMDev-MINGW.md

in the terminal, please do:
`make -f Makefile.omdev.mingw -j4 omedit > trace.txt 2>&1`
then paste the trace.txt here.

Let's see if we can find out what the issue is.

[2021-11-14 16:37] adrpo commented on #7960
See the messages in Teams.

[2021-11-14 22:37] casella commented on #8128
Aha, I was not aware of that. Or maybe I was, and then forgot about it.

OK.

[2021-11-14 22:37] #8128 closed

[2021-11-14 22:50] perost commented on #8128
Well, I implemented it for you in [#6173](https://trac.openmodelica.org/OpenModelica/ticket/6173) :smile: That ticket is still open btw.

[2021-11-14 23:21] casella opened #8130 "Issues with -d=nonfScalarize combined with -f, -arrayConnect, and combineSubscripts"
Please consider the attached test package [TestArray.mo.txt](https://github.com/OpenModelica/OpenModelica/files/7534907/TestArray.mo.txt).

If I set `-d=nonfScalarize,arrayConnect,combineSubscripts` and instantiate `TestArray.ConnectEquations.SC`, I get:
[code]
This is almost fine, except for two issues:
- `c[$i1].x[i - 1]` should be `c.x[$i1, i - 1]`
- `c[1].c.f` should be `c.c.f[1]`. Ditto for t

[2021-11-14 23:36] casella commented on #8128
In fact, I had a sense of deja-vù here. I'm getting old...

OK, I'll comment there. There are still some problems with subscripts when also using -f and -d=arrayConnect, see #8130.

[2021-11-14 23:59] casella opened #8131 "Records as function outputs in flat Modelica models"
Consider the following model:
[code]
The flat model looks like this
[code]
The output of function `M.f` has type `M.R`; however, there is no declaration of `M.R` in the flat output, the implicitly defined record constructor function is listed instead. This makes it a bit awkward to reconstruct the type of R from the function inputs and outputs.

I  would suggest to put the record declaration inste

[2021-11-15 00:20] casella commented on #8131
I'd also like to consider a more involved example that was originally reported in [#6173](https://trac.openmodelica.org/OpenModelica/ticket/6173).
[code]
Currently, `Test.A` is flattened into
[code]
With the proposed change, we would get
[code]
@mscuttari would this be fine for you?

[2021-11-15 00:32] casella opened #8132 "Incorrectly flattened sliced array with -nonfScalarize"
Consider the test case reported in [#6173 comment:8](https://trac.openmodelica.org/OpenModelica/ticket/6173#comment:8) by @mahge:
[code]
The current flat output of P.B with `-d=nonfScalarize` is _almost_ correct from this point of view:
[code]
except for the second for-equation, which should instead be:
[code]

[2021-11-15 00:56] casella commented on #8104
I checked `--homotopyApproach=adaptiveGlobal`. The file is correctly saved in the working directory of the specific simulation. However, I had to set the -homotopyOnFirstTry flag to actually get the homotopy-based initialization to work in that case, otherwise it was skipped.

At some point we decided to make `-homotopyOnFirstTry = true` by default, but maybe that was only done for `equidistantGlo

[2021-11-15 01:09] casella commented on #7848
TODO:
- [ ] reduce -nlssMinSize default to 1000
- [ ] reduce -nlsMinSize default to 1000
- [ ] make sure that KLU is selected as linear solver if Kinsol is selected automatically
- [ ] retry with default dense solver if kinsol fails but size is less than nlssMinSize

[2021-11-15 03:47] zapplelove commented on #8127
Here is my operation:
In the first terminal:
[code]
In the second terminal:
[code]
In first teminal:
[code]

and In the New msys teminal:
[code]
[trace.txt](https://github.com/OpenModelica/OpenModelica/files/7535727/trace.txt)
and I have a compile error and there is no `OMedit.exe` in `F:\Documents\Projects\OpenModelica\build\bin`.

[2021-11-15 08:35] mscuttari commented on #8131
Yes, it would be fine

[2021-11-15 09:29] mahge commented on #7999
😊. I will take it.

Will do.

[2021-11-15 09:53] sjoelund commented on #8120
I think I did something like that for the old frontend, but it's a very bad solution. If you call `size()` on that, you just get `0` even though it is possible you should get `0,1,3` or something...

[2021-11-15 09:57] adrpo commented on #8120
It should preserve the dimensions so maybe `fill` would be better or some explicit expression for zero size arrays of any dimension.

[2021-11-15 10:15] AnHeuermann commented on #8104
To be honest, the code in the homotopy initialization is a total mess. We use so many if cases, boolean switches and pre-processor directives that it is nearly impossible to read.
And that is only part of the code, some is placed in the non-linear homotopy solver.

So I would say this issue is solved and we should open a new ticket to clean up the homotopy methods used in the runtime.
Reducing the

[2021-11-15 10:15] #8104 closed

[2021-11-15 10:16] AnHeuermann commented on #6195
There seem to be some regressions on latest test reports:

For example [this test report](https://libraries.openmodelica.org/branches/master/Buildings_latest/files/Buildings_latest_Buildings.Obsolete.DistrictHeatingCooling.Validation.HeatingCoolingHotWaterSmall.sim) is for sure affected by 1cbaefaede641a04c749459ab8eca5bdc70a04d6.

There are some asserts as warnings (so they were not ignored) duri

[2021-11-15 10:56] phannebohm commented on #7848
It is not working. Kinsol is selected and tries 5 times in a row returning KIN_PRECONDSOLVE_FAILURE and then gives up.
If I manually set `-nlsLS=klu` the MWE finishes successfully, so this is what I will work on now. You can probably wait a bit with PowerGrids.

[2021-11-15 11:09] AnHeuermann commented on #8127
Works for me and that you are able to build `omc` is a good sign.

Things you could try:
* Change your shell language to English `export LANG=en_US.UTF-8` (makes it easier for us to read the log).
* Use TortoiseSVN. Not sure if that makes a different, but at least that's what I'm using and it works.
* Build OMSimulator first `make -f Makefile.omdev.mingw omsimulator -j4`.
* Your JDK seems to be fr

[2021-11-15 11:42] AnHeuermann commented on #8090
If an event was found we should save the pre-value of `b` in the result file, do the event iteration and than save the value of `b` after that event.
[code]

I guess the problem is that we are not having the pre-value of `m=mod(a-2,4)` even though it is triggering an event.
See for example
[code]
![image](https://user-images.githubusercontent.com/38031952/141776151-89e2688c-58a7-42fe-8751-5b083b09

[2021-11-15 11:47] perost commented on #8132
Seems I got it mixed up, we removed `:` subscripts from the head of the list instead of from the end. I just removed that line of code so we don't remove subscripts at all now, which means that all unsubscripted dimensions will be filled with `:`.

[2021-11-15 11:48] perost commented on #8132
Also, this is of course with `-d=combineSubscripts`, without that flag you'll still get `b.a[i]` since that's correct when you don't move the subscripts to the end.

[2021-11-15 11:50] adeas31 commented on #8111
Meanwhile I was testing the conversion API and it does seem to work but does not update the uses annotation. For example,

[code]

Run the above script. Update the hard coded conversion script path. The output of the script is,

[code]
Note that the `Modelica.SIunits.Angle` is updated to `Modelica.Units.SI.Angle` but the uses annotation is same as `3.2.3`. This means the next time I load the class

[2021-11-15 11:51] adeas31 commented on #8061
See #8111

[2021-11-15 12:12] #8132 closed

[2021-11-15 12:34] perost commented on #8111
Good point. The conversion script itself does not contain any information on what version it converts to, so we might need to pass that as an argument to `convertPackage` since OMEdit should now that. We could try and deduce it from the filename, but that doesn't seem like a very good solution.

[2021-11-15 12:38] sjoelund commented on #8111
Yeah, for my script I just knew we always do MSL 3 to 4.0.0: https://github.com/OpenModelica/OpenModelicaLibraryTesting/blob/master/conversionscript.py#L100

Might be easier to force parsing the library to get the version annotation

[2021-11-15 12:44] AnHeuermann commented on #8090
Apparently `m` will be changed to be 0 before we find the event. So the pre-value is already 0.

[code]

But at the same time we do have the correct value of `m` at time `t=0.3`, but it is not saved as the pre-value, so it won't show up in the result file.
I guess we need to change [_event_mod_real](https://github.com/OpenModelica/OpenModelica/blob/master/OMCompiler/SimulationRuntime/c/simulation/

[2021-11-15 13:34] casella commented on #8132
Of course, I forgot to mention that in the original text.

[2021-11-15 14:06] mahge commented on #8127
I think this might be a GNU bison issue even though I am not sure why it is manifesting for @zapplelove but not for @AnHeuermann.

Can you both check your bison versions to see if there are differences.

For me I have
[code]

----------

If you want a quick fix you can  try disabling building `lp_solve`. You can remove `lpsolve` from here
https://github.com/OpenModelica/OpenModelica/blob/99a01c436

[2021-11-15 14:07] casella commented on #6242
@adrpo has a PR in the works, then he will hand it over to @adeas31.

[2021-11-15 14:27] mahge commented on #7485
There is a chance this could have been fixed by #8019. Per's description is

Which is exactly what #8019 tried to improve in the Backend. @niklwors Can you give it another shot and see if anything changed?

[2021-11-15 15:24] AnHeuermann commented on #8127
In that case maybe the OMDev branch `maintenance/v1.18` isn't working with OpenModelica/OpenModelica @v1.18. Switching to the OMDev master branch could be something to try.

For me it is:
[code]

[2021-11-15 15:26] perost commented on #8120
I went with replacing references to 0-size array variables with the appropriate array and got rid of the `size` issue by replacing e.g. `size(/*Real[0, 2]*/exp, index)` with `{0, 2}[index]` (except in functions where it doesn't work but also isn't needed).

Using `fill` might've also worked but then we'd have to make sure it's never evaluated or we'd get an array anyway, so just going with arrays

[2021-11-15 15:40] dariomangoni opened #8141 "vector(zeros(0,1)) failing"
I see that:
[code]
where the first line throws
[code]
Is this an expected behaviour? I see that other Modelica environments accept it while others don't.

[2021-11-15 15:48] sjoelund commented on #8141
`zeros(0, 1)` returns a 0x1 2-dimensional array:
[code]

[2021-11-15 15:49] sjoelund commented on #8141
Now other tools might just say if there is a 0-dimension anywhere, it's an empty array so it fits anything empty... But it shouldn't do that.

[2021-11-15 15:50] perost commented on #8141
I think it should, `vector` is specified to return a vector containing all the elements of the array given that not more than one dimension is larger than 1.

[2021-11-15 15:53] dariomangoni commented on #8141
Yes, I would have expected `vector` to be able to squeeze the 0x1 array created by `zeros(0,1)` into a 0 array, thus squeezing the 2D array into a 1D array of size {0}.

[2021-11-15 15:57] sjoelund commented on #8141
Oh yeah, I missed that vector call. Then I suppose it should indeed work...

[2021-11-15 16:18] casella opened #8143 "Weird notifications when installing MSL 3.2.3 with the package manager"
### Description

The package manager gives unexplicable warnings when first trying to install MSL 3.2.3.

### Steps to Reproduce

- Create a new user, so that the default modelicapath has no installed libraries
- Start the package manager
- type `updatePackageIndex()`
- type `installPackage(Modelica,"3.2.3");getErrorString()`

The following notification is issued:
[code]
This is completely odd, ex

[2021-11-15 16:27] #8141 closed

[2021-11-15 16:29] casella commented on #8143
Additionally, we need to make sure that when we type `installPackage(Modelica, "3.2.3")` we actually also get Complex and ModelicaServices with the right versions.

According to @sjoelund, currently this only happens if one additional sets `exactMatch = true`

[2021-11-15 17:00] AnHeuermann commented on #6195
I'm debugging in the following model:
[code]

We get an assert, but don't throw. Then we want to re-throw the assert later, but that is not cached at the correct location in https://github.com/OpenModelica/OpenModelica/blob/master/OMCompiler/SimulationRuntime/c/simulation/solver/perform_simulation.c.inc#L552-L554.

Even when I catch the global jump buffer there the `retrySimulationStep()` get's ca

[2021-11-15 20:54] perost commented on #8130
The issue was that when using `-f` we dump the flat model before `combineSubscripts` is run, so I changed the dumping to call `combineSubscripts` on a copy of the flat model before dumping it (need a copy since we don't want to change the actual flat model at that stage).

Additionally I noticed that `combineSubscripts` wasn't actually traversing the expressions, so for e.g. an equality equation i

[2021-11-15 22:37] #8130 closed

[2021-11-16 00:39] casella opened #8147 "Finalize package management documentation"
The section of the User's Guide dealing with the package manager and conversion scripts needs to be finalized for 1.19.0.

PR #8146 significantly expands the original text. Information about the OMEdit GUI is still missing and should be added before the release.

[2021-11-16 00:42] zapplelove commented on #8127
@AnHeuermann
I have tried [this](https://github.com/OpenModelica/OpenModelica/issues/8127#issuecomment-968790403) and the error message is just changed from Chinese to English.

[2021-11-16 01:16] casella commented on #7792
@AnHeuermann, do you think you'll have time to deal with this for the 1.19.0 release? If so, can you please add it to https://github.com/OpenModelica/OpenModelica/projects/3?

[2021-11-16 01:27] casella commented on #7800
@phannebohm, this issue is almost done except for the record = functioncall() part. Do you think that is doable in a short time?

[2021-11-16 01:28] casella commented on #7704
@phannebohm unfortunately we left this issue unfinished during the summer.

Regarding the problem of establishing a nominal value for derivatives, see [#3111](https://trac.openmodelica.org/OpenModelica/ticket/3111) and #7794.

@phannebohm, at the very least we should propagate the nominal value of variables to their derivatives. Then, I guess we could close this ticket for good.

[2021-11-16 01:31] casella commented on #7657
@AnHeuermann, could you finalize this issue based on your last comment?

[2021-11-16 01:37] casella commented on #7536
@AnHeuermann, can you please update what the status is?

[2021-11-16 01:39] zapplelove commented on #8127
@mahge I have switched to the OMDev master branch,  the `bison` version is `3.7.2` instead of `3.7.6`, and the error is the same.
And I tried disabling building `lp_solve`, the error message changed to
[code]

[2021-11-16 01:50] casella commented on #7376
See also #8060. @christiankral we are trying to get this into 1.19.0

[2021-11-16 02:05] casella commented on #7848
Great! Let's see the outcome of the library testsuite.

[2021-11-16 06:53] sjoelund commented on #6195
I use the following when installing/loading master branches. It's quite convenient to not have to remember versions:
[code]

[2021-11-16 08:09] adrpo commented on #8127
The error is not the same. Now there is an error when linking lpsolve to libOpenModeilcaCompiler.dll as it does not exist.
Please put back the build of lpsolve:
[code]
then try to build again.

[2021-11-16 08:26] zapplelove commented on #8127
This will result in the first error, the Ipopt package compilation error.

[2021-11-16 08:36] adrpo commented on #8127
I can't see that, which trace is it?

[2021-11-16 08:43] AnHeuermann commented on #7657
Not really. We would need to get an ordering an dependencies into the zero-crossing equations.
I don't know how we should do that in the backend.
Maybe @kabdelhak can give a rough estimation on how much work it would be to add this to the backend.

But I'm not sure if this ticket is that important. Al that is happening is that we waste some time in an event iteration. The result itself is still co

[2021-11-16 08:46] zapplelove commented on #8127
[This error](https://github.com/OpenModelica/OpenModelica/files/7535727/trace.txt):
[code]

[2021-11-16 08:48] adrpo commented on #8127
can you do:
`which bison`
in the terminal after you set the paths?

[2021-11-16 08:49] AnHeuermann commented on #7536
I need to start again. I tried something but never got all cases to work at the same time.
I guess I need to check my approach again and discuss with @kabdelhak and @phannebohm if that is the correct idea.

But I guess this is one of the more important run-time tickets, so having this one in 1.19 should be a high priority.

[2021-11-16 08:51] zapplelove commented on #8127
![image](https://user-images.githubusercontent.com/18183148/141953113-01260e91-d796-4645-a91a-0a34c34a5460.png)

[2021-11-16 09:01] AnHeuermann commented on #6195
@sjoelund You know a bit more about the try-catch we are using in the runtime.

I can't see why it is not working as I'm expecting it to. Basically I have something that looks like:

[code]

In most cases the `omc_throw` works as expected and I end up in the catch location of `simulationJumpBuffer`. But for the HeatingCoolingHotWater3ClustersBaseCase example we will end up in the `globalJumpBuffer

[2021-11-16 09:04] adrpo commented on #8127
Try this:
[code]

[2021-11-16 09:11] zapplelove commented on #8127
![image](https://user-images.githubusercontent.com/18183148/141956228-edc1eb84-d816-4a60-9f35-b67988e67e3d.png)

[2021-11-16 09:23] adrpo commented on #8127
The only thing I can think of is you did not force Unix line endings before cloning OMDev:
[code]
And because of that the line endings in some of the text files are CRLF instead of LF as expected and some tools really don't like that.

[2021-11-16 09:25] sjoelund commented on #6195
https://github.com/OpenModelica/OpenModelica/blob/master/OMCompiler/SimulationRuntime/c/simulation/simulation_omc_assert.c#L75

[2021-11-16 11:39] AnHeuermann commented on #6195
Yeah, I jumped through that with a debugger, bun in both cases it is in the
[code]
case, but ends up in a different catch.
But maybe I did something wrong while debugging it.

[2021-11-16 11:43] AnHeuermann commented on #8127
I could try to set up OMDev on an new Windows machine sometime this week and check if I do something different. I'll need to do it at some point anyway.

An alternative could be to use Windows Subsystem for Linux, if that is an option for @zapplelove. It is more easy and faster, but of course "only" Linux.

[2021-11-16 11:52] phannebohm commented on #7848
Looks like #8136 fixed most of the regressions introduced in #7933, see the reports: [old](https://libraries.openmodelica.org/branches/history/master/2021-11-12%2022:41:02..2021-11-13%2019:36:18.html) and [new](https://libraries.openmodelica.org/branches/history/master/2021-11-15%2011:28:36..2021-11-15%2022:34:45.html).

I suppose the backup plan with dense solvers is still essential, but I think

[2021-11-16 13:05] adeas31 commented on #8086
This is where it gets wrong. The code in `Buildings.Applications.DataCenters.ChillerCooled.Examples.IntegratedPrimaryLoadSideEconomizer` says,

[code]

which means `chiWSE` is an instance of `Buildings.Applications.DataCenters.ChillerCooled.Equipment.IntegratedPrimaryLoadSide` but instead OMEdit is drawing an instance of `Buildings.Applications.DataCenters.ChillerCooled.Equipment.BaseClasses.Parti

[2021-11-16 13:20] AnHeuermann commented on #7536
I need to finish the delay zero crossing function / findEvent function. Adding and removing an event to the ring buffer is not yet working exactly how it should.

[2021-11-16 14:04] #8090 closed

[2021-11-16 14:59] perost commented on #8131
I added a new flag `-d=printRecordTypes` in #8152. With that flag the output is now:
[code]
In your example the record definitions weren't prefixed with `Test`, but I assume that's just a mistake and not something you actually want.

[2021-11-16 15:26] #8131 closed

[2021-11-16 15:27] #8120 closed

[2021-11-16 15:34] adrpo commented on #8086
This can only be fixed via access of OMEdit to a model instance, same as for conditional components or icons.

[2021-11-16 21:58] max-privato opened #8154 "Inexplicable invalid division in Dynamic optimization"
### Description
The file DO.mo below performs a dynamic optimization. It is very slow but in the end gives a convincing result (after 2000 s on my PC).
[DO.mo.txt](https://github.com/OpenModelica/OpenModelica/files/7549973/DO.mo.txt)

However, if we repeat the simulation changing S=2 into S=8, the following error message appears:
[code]
which for me is inexplicable.

### Steps to Reproduce
See Des

[2021-11-17 00:32] casella commented on #7848
Agreed. There are still a few regressions, but it's not nearly as bad as it was before these last commits.

We need to eventually get this fixed by the time we release 1.19.0.

In the meantime, we could probably get some more tests running again, e.g. [HelmholtzMedia.Examples.BranchingDynamicPipes.sim](https://libraries.openmodelica.org/branches/master/HelmholtzMedia/files/HelmholtzMedia_Helmholtz

[2021-11-17 00:35] casella commented on #8131
Absolutely. This looks good.

[2021-11-17 11:34] dietmarw opened #8158 "Simulating a "blackbox" FMU causes simulation to crash"
### Description

When testing out the FMU handling of OMEdit I noticed that one can not simulate an FMU (exported by OMEdit itself) when it is of type "blackbox". Doing so results in

[code]
### Steps to Reproduce
I*ve created the blackbox FMU `TestFMU.fmu` from the model `TestFMU.mo` and run both side by side in `SimFMU.mo`. All files are included in:
[TestFMUs.zip](https://github.com/OpenModelic

[2021-11-17 16:03] #8102 closed

[2021-11-17 17:16] dietmarw opened #8160 "Empty testmodel creates HUGE FMU"
### Description

When testing creation of a simple FMU on Windows I noticed that the exported FMU is **huge** (around 9.5 MB for the zipped FMU and the dll is actually 36 MB). This must be a mistake.

Just for comparison: on Linux the same FMU is 138kB and the lib file itself 368kB.

### Steps to Reproduce
Here the test source code for FMU generation:

[code]
Tested with OpenModelica 1.18 on Windo

[2021-11-17 17:18] sjoelund commented on #8160
If you use Linux and install mingw, you can create a Windows FMU with a more reasonable size...

[2021-11-17 17:23] adrpo commented on #8160
Everything is statically linked in Windows so the FMUs are rather large. Maybe you can strip the dll, I don't remember if we already do that.

Do you need to install OpenModelica to be able to run the FMU in other Linux box?

[2021-11-17 17:26] sjoelund commented on #8160
If we choose static FMU, it's still rather small. The Bouncing ball FMU from the testsuite is statically linked on like 6 platforms, includes the source code for everything and is like 1.5MB?

[2021-11-17 17:26] dietmarw commented on #8160
Thanks for the mingw hint. I get now the choice of:
![image](https://user-images.githubusercontent.com/9332/142250657-f5b18fde-8cb5-4685-81de-43e07dedcb44.png)

I wonder what difference the i686 and x_86_64 platform is here.

@adrpo: I'm not looking for workarounds but was actually trying to point out that there is something strange going on with the FMU generation on Windows. Also the whole dynam

[2021-11-17 17:27] sjoelund commented on #8160
i686 is 32-bit Windows

[2021-11-17 17:27] dietmarw commented on #8160
@sjoelund The Bouncing Ball FMU can not even be imported by OMEdit because of (a very old) reinit issue.

[2021-11-17 17:28] sjoelund commented on #8160
Importing FMUs only work with the old front-end, yes. I voted that it be removed, but others want to keep it... Just use OMSimulator to simulate FMUs

[2021-11-17 17:32] dietmarw commented on #8160
So you are saying that OMEdit is not fit to import FMIs? The OMSimulator does not seem to have a GUI, right?

[2021-11-17 17:35] sjoelund commented on #8160
https://www.openmodelica.org/doc/OpenModelicaUsersGuide/1.18/omsimulator.html#graphical-modelling there is a GUI in OMEdit for it

[2021-11-17 17:36] dietmarw commented on #8160
This is what I'm seeing on the latest nightly on Linux:
![image](https://user-images.githubusercontent.com/9332/142252620-82deae4b-4779-4df3-88e5-b370af9e7beb.png)

[2021-11-17 17:38] sjoelund commented on #8160
@adeas31 where did you hide OMSimulator? :)

[2021-11-17 17:38] dietmarw commented on #8160
So the SSP menu is actually the OMSimulator model?

[2021-11-17 17:39] sjoelund commented on #8160
Maybe. OMSimulator uses the SSP format to describe connections between FMUs. I suppose there documentation needs to be updated

[2021-11-17 17:39] adrpo commented on #8160
See https://www.openmodelica.org/doc/OMSimulator/master/html/OMEdit.html

[2021-11-17 17:41] adrpo commented on #8160
The nightly-build generates a 700kb FMU, i guess we fixed some things.

[2021-11-17 17:43] dietmarw commented on #8160
Looks like the documentation is in need of some synchronisation ;-) I think having a menu called OMSimulator is probably more user friendly than SSP

[2021-11-17 17:50] adrpo commented on #8160
Seems so, @adeas31, when did we switched from OMSimulator to the SSP menu?
I think is good with the SSP menu. SSP is a standard, OMSimulator is just a tool.
Maybe it should be called SSP/FMI.

[2021-11-17 18:03] dietmarw commented on #8160
OK so I guess the original issue with the size on Windows is fixed (can't verify since I don't use nightly on Windows). So this ticket can potentially be closed.

Wrt OMSimulator and SSP there are several other issues.
  1. It is not intuitive to have to create a new SSP model in the "File-> New" menu in order to be able to use the SSP menu. It would make more sense to have the "New SSP Model" ent

[2021-11-17 18:19] dietmarw commented on #8160
and
 4. "Help --> OpenModelica TLM Simulator Documentation" does not work.

[2021-11-17 18:20] dietmarw commented on #8160
Actually the first three entries in "Help" don't work either.

[2021-11-17 18:21] phannebohm commented on #7704
I think this was done in #7819, we can discuss there if needed.

[2021-11-17 18:21] #7704 closed

[2021-11-17 18:27] phannebohm commented on #7800
I can't really tell. But if I don't fix it by the end of next week it will have to wait until Christmas.

[2021-11-17 20:51] casella opened #8161 "Migrate ParModelica to the NF"
We should migrate ParModelica to the new front-end, since the old front end has no longer been maintained for some time, and has a number of limitations and shortcomings compared to the new one.

[2021-11-17 20:54] casella opened #8162 "Support state machines with the NF"
Modelica state machines are still not supported by the NF. We should port the OF implementation to the NF.

[2021-11-17 20:56] casella commented on #8158
@lochel, can you please have a look?

[2021-11-17 22:12] casella opened #8163 "The Linux package of OMSimulator seems to be missing OMSimulatorServer.py"
@dietmarw reports [here](https://github.com/OpenModelica/OpenModelica/issues/8160#issuecomment-971825804) that OMSimulatorServer.py is probably missing in the Linux installation, because he gets
[code]

@dietmarw, could you please specify how do you reproduce this error exactly? Thanks!

[2021-11-17 22:19] casella commented on #8160
The rationale here is that OMEdit is a GUI for two integrated tools: OMC and OMSimulator, that both run in the background, and both can also be accessed through other interfaces, e.g. Python. OMC handles Modelica models, OMSimulator handles SSP model. Both are MA standards. If you are fine with this rationale, it makes perfect sense that you start working on a new SSP model, or load an existing on

[2021-11-17 22:21] casella commented on #7704
There it is, I couldn't find it. I currently don't really have ideas beyond that, maybe we need some more testing and evidence-based decisions...

[2021-11-17 22:23] casella commented on #7800
OK. My goal is to avoid having countless, almost-finished open tickets, because it becomes messy. We can close this one, because the original issue is fixed in most cases, an then open a new one on the specific case of records.

[2021-11-17 22:23] #7800 closed

[2021-11-17 22:32] casella opened #8164 "Make sure $cse records computed by functions are always selected as torn variables."
### Description

Sometimes a few variables belonging to records that are computed by function calls are chosen as tearing variables in nonlinear systems. This is typically not a good tearing, and additionally those variables lack a proper nominal attribute, leading to potential issues as already noticed in #7800.

### Steps to Reproduce

Run `ThermoSysPro.Examples.SimpleExamples.TestStaticCondense

[2021-11-17 22:33] casella commented on #8164
@phannebohm if you can manage by Christmas (2021, I mean) it would be still good enough to get into 1.19.0. Possibly as a cherry-picked bugfix if we have already branched off the beta release.

[2021-11-17 22:55] mahge commented on #8161
Ya I have been thinking about this. The NF is quite well structured so it should not be very difficult to do. We mostly need to pass through the ParModelica info to SimCode where most of the processing is done.

The things (the ones that I think of now) that need to be done are:
  - Some scope checks to make sure variables are used in "parallel" scope
  - Filtering out used variables from the body

[2021-11-17 22:59] mahge commented on #7485
I have checked all the models listed in the description and all of them compile fine after #8019. Some fail during simulation but that is another issue. So I am going to close this. Please open it if the issue is still there from your side.

[2021-11-17 23:32] perost commented on #8161
This is already done, the NF doesn't use it for anything but it's part of the variable attributes and passed through to the DAE. I don't know if it's correct since we don't use it, but I see no reason why it shouldn't be. The NF does not handle `parfor` loops or anything else ParModelica-related though.

[2021-11-17 23:44] casella commented on #7848
@phannebohm, we also have problems on the large-scale gas network models that @matteodepascali is working on, because the sparse solver is now selected, given that the density is slightly less than 0.2. Those problems were unfortunately not solved when the sparse linear solver was introduced.

While we try to figure out what went wrong, I would really suggest to reduce the default of -nlssMaxDensi

[2021-11-18 07:19] sjoelund commented on #8163
Should be resolved by https://github.com/OpenModelica/OpenModelicaBuildScripts/commit/511848fd651f0b39d878a935fa7c13e18cd0ed2a

[2021-11-18 08:55] casella commented on #8163
Good! @dietmarw please confirm that you can now run what you wanted to.

[2021-11-18 10:22] dietmarw opened #8165 "OMEdit help menu not working properly on Linux"
On Linux (last tested on OpenModelica 1.19.0~dev-388-gb35aa9c) the help menu entries are only partially working. I doubt that is connected with the default viewer settings since some work.

Here the list with check marks for thos that work on my machine:
 - [ ] OpenModelica Users Guide F1 (F1 also does nothing)
 - [ ] OpenModelica UsersGuide (PDF)
 - [ ] OpenModelica System Documentation
 - [x] Op

[2021-11-18 10:28] dietmarw commented on #8160
@casella

Yes currently OMEdit can not even import the standard bouncing ball example. OMSimulator can. So I assumed that the import function is simply no longer supported in OMEdit and just forgotten to be taken out.

You might want to think about how to properly display the two FMI options (direct import and SSP) in a way that makes it clear that there are two completely different approaches to

[2021-11-18 10:35] AnHeuermann commented on #8105
This is a known issue and a duplicate of #7854, so I'm closing this one but will add the example to #7854.

[2021-11-18 10:35] #8105 closed

[2021-11-18 10:36] AnHeuermann commented on #7854
Example from @paultjevdh from #8105

[code]

[2021-11-18 10:47] AnHeuermann commented on #7792
It's not really related to what is happening in #8150

[2021-11-18 11:10] adrpo opened #8166 "Error: post-optimization module wrapFunctionCalls (simulation) failed"
### Description

When building the attached model [logical_op_Total.zip](https://github.com/OpenModelica/OpenModelica/files/7562260/logical_op_Total.zip) you get this error:
`Error: post-optimization module wrapFunctionCalls (simulation) failed`

### Steps to Reproduce

[code]

### Expected Behavior

Code should be generated.

[2021-11-18 13:20] christiankral commented on #7376
The actual nightly implementation already looks quite good!

[2021-11-18 16:42] dietmarw opened #8168 "FMU export options "none", "dynamic", "static" are broken."
In "Tools -> Options -> FMI" one can choose the type of "none", "dynamic", "static". The problem is they all do the same, generate a ''static" FMU no matter what.
So either the options should be taken away or they should be fixed.

The documentation also mentions "with [dynamically|statically] linked runtime for current platform." But what does this mean when one has chosen several target platform

[2021-11-18 19:02] perost commented on #8111
I've now opened #8169 that should solve this issue, but it's not quite ready to be merged yet because I need to update the library testing script a bit and also the test cases we have.

Due to the issue of having to update the uses-annotation that @adeas31 pointed out I changed the API a bit. I added a new function:
[code]
This function loads the requested library and looks up the conversion scrip

[2021-11-18 19:05] sjoelund commented on #8111
`getVersion(Modelica)` should work already :)

[2021-11-18 19:06] perost commented on #8111
Only if we assume that the loaded version of Modelica is also the one the model that we want to convert is using.

[2021-11-18 19:13] sjoelund commented on #8111
Oh, so you meant checking for uses annotations? `getUses(Bla)`

[2021-11-18 19:27] perost commented on #8111
Yeah, that works.

[2021-11-18 19:33] perost commented on #8111
Also, `convertPackageToLibrary` will load the library to convert to, but I'm not sure what to do with it after the conversion. Right now I keep it loaded, overwriting any other version of the library that was loaded earlier. But we can easily discard it instead and not touch the loaded libraries if that's preferable.

There might also be some issues with loading dependencies, `CevalScript.loadMode

[2021-11-18 20:53] max-privato opened #8170 "Bad display of copied parameter"
### Description
Resistor value is erroneously shown to be zero

### Steps to Reproduce
Just load test.mo (below) and look at its diagram
[Test.mo.txt](https://github.com/OpenModelica/OpenModelica/files/7565888/Test.mo.txt)

The diagram shows resistor1.resistance being 0. Instead, it is r1.R.

This is not a tricky example: copying parameters from a component to another is very helpful and commonly

[2021-11-19 00:18] casella commented on #8165
@adeas31, @sjoelund, I guess this should be fixed for the next release. Can you please check?

[2021-11-19 00:22] casella commented on #8160
As far as I understand, one major issue is how to handle reinit. Unfortunately the bouncing ball has it. On the other hand, most actual users of this feature don't need bouncing balls, but rather stuff such as regular nonlinear state-space systems or static input/output nonlinar maps. Those should be fine.

Absolutely. On the other hand, I'm a bit hesitant at highlighting this feature, since it is

[2021-11-19 00:22] casella commented on #8160
@dietmarw, all that being said, can we close this ticket?

[2021-11-19 00:27] casella commented on #7792
No, it isn't, but it would be nice to eventually have delay() properly implemented according to the standard 😅

[2021-11-19 00:32] casella commented on #7376
@christiankral, good to hear! Do you have any further suggestions or requirements, or can we close this ticket?

[2021-11-19 00:34] casella commented on #8168
This should also be fixed for the 1.19.0 release, it's not good to have options that don't work.

@dietmarw are you working on Linux or Windows? This is not clear from your report.

[2021-11-19 00:37] casella commented on #8170
@adeas31, is this an API problem or an OMEdit problem?

[2021-11-19 01:27] max-privato opened #8172 "Connectors are not shown in OMEdit"
### Description
I know that OM showing conditional connectors when they should be hidden is a known issue.
Today I found also the opposite: connectors that should be visible are not shown

### Steps to Reproduce
drag a TCPIPServerReceive block  from Blocks.Communication from library Modelica_DeviceDrivers on an OMEdit diagram.
For it, select "ShowAdvancedOutputs" => two output ports (one for boole

[2021-11-19 07:41] dietmarw commented on #8168
I've updated the ticket though it is not really of relevance since this should work on windows and linux ;-)

[2021-11-19 08:02] dietmarw commented on #8160
I don't have the nightly on Windows so I can't really test it. But if @adrpo can confirm that it is fixed, that is good enough for me.

[2021-11-19 08:11] dietmarw commented on #8158
I've also tested the FMU with FMPy and they also expect to find `TestFMU_info.json` also in a blackbox FMU. So could the problem be on the generation side rather than on the importing side?

[2021-11-19 09:35] dietmarw commented on #8163
Not quite yet, lets see if #8173 fixes it.

[2021-11-19 11:30] christiankral opened #8174 "Add library dependency in annotation after duplicating a model"
This is a feature request.

If I graphically drag and drop a model from a (system) library (e.g. `ElectroMechanicalDrives.Components.Vehicles.Vehicle`) into a user model, then the library dependency is inserted correctly. In case of ElectroMechanicalDrives 2.4.0 this is

[code]

If I create a duplicate of e.g. `ElectroMechanicalDrives.Components.Vehicles.Vehicle` in a user package, then the annota

[2021-11-19 11:31] casella opened #8175 "Wrong SimulationResults record when running simulations from a script"
Run the attached test.mos on the attached M.mo. The following log is obtained:
[code]

The `method = 'dassl'` indication is wrong and misleading, since ida is actually running, as reported by the runtime.

The correct `method = 'ida'` should be reported instead.

[2021-11-19 11:34] sjoelund commented on #8175
Why not use method="ida" instead of passing it as simflags? I'm not sure how OMC would detect the actual solver used in this case

[2021-11-19 11:39] casella commented on #8175
[Test.zip](https://github.com/OpenModelica/OpenModelica/files/7569918/Test.zip)

[2021-11-19 11:40] casella commented on #8175
Because it's there 😄

I mean, why shouldn't one be allowed to do that?

I'm not sure how OMC would detect the actual solver used in this case

[2021-11-19 11:44] casella commented on #8175
`startTime = 0.0, stopTime = 1.0, numberOfIntervals = 500, tolerance = 1e-06` are all standardized annotations, so it is clear what they mean. What is `method`? And what relation does it have with the -s option? This is unclear to me...

[2021-11-19 11:47] dietmarw commented on #8158
I ran some more tests. Exporting the same model with help of Dymola also does not contain `TestFMU_info.json ` but can be simulated without problems in FMPy. Not so when importing in OMEdit. (could not test in OMSimulator because of #8163 not being resolved yet).

So it looks like the problem is probably not the missing `TestFMU_info.json` itself but something inside the FMU that maye tries to poi

[2021-11-19 11:49] dietmarw commented on #8158
I just noticed that my continued tests were now done with a slightly different TestFMU:

![image](https://user-images.githubusercontent.com/9332/142618092-d425942b-01e0-4193-a902-432d30a901e3.png)

[2021-11-19 11:52] sjoelund commented on #8175
`simflags` was not an option to the simulate command in the past. You had to use the `method` option. It sets the default solver method in the XML-file (which `-s` may override).

[2021-11-19 14:55] AnHeuermann commented on #7854
Things we need to do to solve this issue:
- [ ] Clarify https://github.com/modelica/ModelicaSpecification/issues/3040
- [ ] Fix [fireClock()](https://github.com/OpenModelica/OpenModelica/blob/master/OMCompiler/SimulationRuntime/c/simulation/solver/synchronous.c#L186-L239).
- [ ] Add test cases for each base operation relevant for Synchronous
- [ ] Add a complex test case with multiple sub-clock co

[2021-11-19 15:25] perost commented on #8111
#8169 is now merged, and I also updated the conversion testing script to reflect the changes I made to the API.

[2021-11-19 15:29] reos-rcrozier opened #8176 "Debian package repositorydoes not have Release file so apt update fails with error"
### Description
I followed the instruction to install OpenModelica from the debian/ubuntu package repository as detailed [here](https://www.openmodelica.org/download/download-linux). After doing so, `apt update` fails with the following error:

[code]
And therefore OpenModelica cannot be installed

### Steps to reproduce
Steps to reproduce the behavior:
This could either be a list of actions or a

[2021-11-19 15:38] sjoelund commented on #8176
`uma` is not Ubuntu 20.04 - use the name `focal` if the distribution is based on Ubuntu 20.04. I have added a symbolic link for it now though: https://build.openmodelica.org/apt/dists/uma/

[2021-11-19 15:38] #8176 closed

[2021-11-19 21:56] casella commented on #8175
Yeah, I understand the software grows organically and it is somehow inevitable to end up with some sub-optimal situations. There is a technical reason for that, but from a user's point of view, it's just contradictory and, hence, confusing.

Luckily in this case we have very clear feedback about the actual solver being used (ida, that is), so one comes to the conclusion that notifications are a bi

[2021-11-19 21:56] #8175 closed

[2021-11-19 21:58] casella commented on #8174
@adeas31 can you please take care of that?

[2021-11-19 23:07] casella opened #8178 "Bogus comments in flat models using Complex using the NF"
Flatten the model `TestFlatComplex.A` from the following package
[code]
The following functions are obtained in the flat code:
[code]
that have two comments instead of one. No idea where the first one comes from, but it shouldn't be there anyway

[2021-11-19 23:25] perost commented on #8178
@adrpo added it in [5470](https://trac.openmodelica.org/OpenModelica/changeset/5470/), but I can remove it if it's ok with him.

[2021-11-19 23:27] adrpo commented on #8178
Sure

[2021-11-19 23:42] casella opened #8179 "Is unit checking broken?"
If I check the following model in OMEdit
[code]
I get no warnings about inconsistent units. Is that a bug or a feature?

[2021-11-19 23:50] perost commented on #8179
If I manually flatten the model with `--unitChecking` it does run the unit checker, but it doesn't produce any errors. So either something is wrong with the unit checking or it's supposed to work that way, I don't really know.

[2021-11-19 23:55] casella commented on #8178
For a human it's fine, but for a compiler it does not fit the Modelica syntax.

I guess now that we have `--showStructuralAnnotations` there is no longer any need of that.

[2021-11-19 23:56] casella commented on #8179
@adrpo, @sjoelund, do we have any test in the testsuite that is actually suppose to do unit checking and report a failure? Otherwise, if unit checking is gone for some reason, we will never know when and why it happened.

[2021-11-20 11:06] christiankral opened #8180 "Changed name is not displayed in Diagram View"
### Description

When renaming a graphical component by changing its attribute, the newly given name is not displayed.

### Steps to Reproduce

Create a new test Model `Test` and graphically add the component `Modelica.Electrical.Analog.Basic.Ground` to the model. Confirm the standard name.

![image](https://user-images.githubusercontent.com/4184218/142723772-19dfdb83-7f5b-479a-83a1-68b56256cdc5.p

[2021-11-20 11:08] christiankral opened #8181 "Copy Path with CTRL+C does not work"
### Description and Steps to Reproduce

When I double click on a Modelica class in the Library Browser and hit CTRL+C, the fully qualified class name (path) is not copied to the clipboard. This can be checked by inserting the clipboard into a text editor hitting CTRL+V. If I instead make a right click on this class and select **Copy Path**,

![image](https://user-images.githubusercontent.com/41842

[2021-11-20 21:44] christiankral commented on #7376
If a few comments:

1. I have one comment on installing large libraries:

![image](https://user-images.githubusercontent.com/4184218/142741562-067fa3f3-9cdf-4693-8c51-34fc4377866b.png)

After pressing *OK* the installation process starts but the user has no feedback about the status of the installation process. After installing the library the Messages Browser reports that the library has been ins

[2021-11-21 15:45] casella opened #8183 "Resolving conflicts with loaded libraries when opening new ones"
Suppose you open a library XXX that uses a version of some library YYY (e.g. MSL 3.2.3), but another, non-backwards compatible version of YYY (e.g. MSL 4.0.0) is already loaded. In this case, OMEdit should warned that the library being loaded uses versions of already loaded libraries which are not compatible with the required ones. It should then propose three possible actions:

1. cancel the oper

[2021-11-21 16:16] casella commented on #8172
@max-privato thanks for reporting. See the latest comments on #2081, as soon as we handle this properly, all these problems should be resolved automatically.

[2021-11-21 17:53] casella commented on #8181
@christiankral, after you've double-clicked, the focus is no longer on the entry in the libraries browser, for some reason. Maybe @adeas31 can comment on why this is the case.

Anyway, if you want to copy and paste the class name, you have to click once on the model name in the libraries browser (so that it gets a blue background) , or click again after double-clicking, to get the focus back. Then

[2021-11-21 17:53] #8181 closed

[2021-11-21 17:54] casella commented on #8180
@adeas31 I guess we should refresh all the cached stuff after renames.

[2021-11-21 17:57] casella commented on #8179
Thanks @lochel!

[2021-11-21 19:34] casella opened #8184 "Missing dll when running Buildings.Applications.DataCenters.DXCooled.Examples.DXCooledAirsideEconomizer in Windows"
I tried to reproduce [this error](https://libraries.openmodelica.org/branches/master/Buildings_maint.7.0.x/files/Buildings_maint.7.0.x_Buildings.Applications.DataCenters.DXCooled.Examples.DXCooledAirsideEconomizer.sim) with the latest nightly build on Windows. During compilation, I get these errors:
[code]
Apparently the model works on Linux, since we get some output from the simulation in the [te

[2021-11-21 19:54] casella commented on #6195
I'm not sure why you say so. This regression report includes [1cbaefa](https://github.com/OpenModelica/OpenModelica/commit/1cbaefaede641a04c749459ab8eca5bdc70a04d6), but I can't see `Buildings.Obsolete.DistrictHeatingCooling.Validation.HeatingCoolingHotWaterSmall` showing up in there.

[2021-11-21 19:55] casella commented on #6195
@AnHeuermann any progress on this issue?

[2021-11-22 08:26] leo-recover commented on #7581
I have an update.
Running the same example with OpenModelica v1.18.0 (64-bit) using the **Cpp runtime** results in a successful simulation.
When using the (default) C runtime I confirm the simulation is stuck at 58%, with CPU running at 100% without any progress.

[2021-11-22 08:52] sjoelund commented on #8184
Does the following file work? I don't have an OM Windows installation, but could cross-compile this from mingw (extract it to the correct location and rename it):

[libModelicaExternalC.zip](https://github.com/OpenModelica/OpenModelica/files/7579430/libModelicaExternalC.zip)

[2021-11-22 09:53] mahge commented on #8184
#8149 just moved around source directories. It did not change how `ModelicaExternalC` libraries were built.

This is due to #8153. More context https://github.com/OpenModelica/OpenModelica/pull/8149#issuecomment-972741055

[2021-11-22 09:56] dietmarw commented on #8163
@sjoelund  `OMSimulatorServer.py` is present now but its dependencies are missing:

[code]

[2021-11-22 09:57] dietmarw commented on #8163
BTW, would  it not be good to reopen this ticket? Unfortunately I can't.

[2021-11-22 09:58] AnHeuermann opened #8187 "OMEdit Install Libraries feedback on `OK` button"
### Description

OMEdit "freezes" while installing libraries via File->Install Library.
The feature itself is great and works finde. But I guess when your internet connection is (very) slow users will wonder if anything happens at all.

### Steps to Reproduce

Download some Modelica library that takes some time to download, e.g. Buildings.
Open the Packate manager GUI in OMEDit via File->Install L

[2021-11-22 10:07] AnHeuermann commented on #7848
Yes, at least if they had asserts before. https://github.com/OpenModelica/OpenModelica/commit/1cbaefaede641a04c749459ab8eca5bdc70a04d6 didn't introduce new asserts.

[2021-11-22 10:09] AnHeuermann commented on #6195
The change is not really causing regressions, at least I couldn't see any.
Some models that previously failed with asserts are failing now as well, but don't retry and directly stop the simulation.

It loks somewhat like this (I made up an example).
Before:
[code]

Now:
[code]

But as I could not find any regressions and omc is not crashing I would ignore this for now.
@phannebohm Not sure if #784

[2021-11-22 10:10] sjoelund commented on #8187
This could be resolved by passing flags to libcurl from OMEdit: https://curl.se/libcurl/c/CURLOPT_XFERINFOFUNCTION.html

[2021-11-22 10:26] #7536 closed

[2021-11-22 10:26] #7792 closed

[2021-11-22 11:45] AnHeuermann commented on #8127
Here is what I did on Windows to build OpenModelica with OMDev. You'll need to update the paths to match your system.
Also I tried to build the master first (I know that that one is working).

# Building OpenModelica on Windows 10

## Install git

Use the recommendations when installing git.
(Some git tools could clash with Windows or OMDev tools.)

## Checkout OMDev with git

Install OMDev in `C:

[2021-11-22 11:58] casella commented on #8184
Folks, sorry, we have a serious problem with the Windows version, and we need to get it fixed properly before the 1.19.0 release. That is my main concern. Please let's avoid flame wars on a public forum and let's try to keep cool.

I am seeing a basic problem here, for which I guess we will also need @adrpo's help. I just installed the latest Win64 nightly build, which is what the majority of our

[2021-11-22 11:58] mahge commented on #8184
Okay. Then I guess I will see what I can do.

[2021-11-22 12:02] Vivek106singh opened #8190 "The check box to plot an array is missing, which was there in earlier version"
### Description

Suppose I have an array of pressure, discretised along the length of the tube, earlier version had one check box near the variable name which when clicked showed the variation of the variable along the index.

### Steps to Reproduce

Image is attached

### Expected Behavior

### Screenshots
![image](https://user-images.githubusercontent.com/12408991/142858278-3ab5cea7-fd28-4a3b-95

[2021-11-22 12:11] sjoelund commented on #8184
But MA does not build the DLLs/shared objects (that we need) and we build libraries as part of OMC 3rdParty, especially since we use MINGW and not regular Win32/Win64. The library is (thus far) backwards compatible, so it's been somewhat OK to keep it in there.

@casella did the DLL work?

I would just work on fixing the problem at the source, making sure https://github.com/modelica/ModelicaStanda

[2021-11-22 12:17] #8178 closed

[2021-11-22 12:22] mahge commented on #8184
If you build them with MinGW you can probably use `export-all-symbols` instead (Depending on your preference). They also have a CMake build support now, so you can maybe use that to build with MSVC with CMake's `WINDOWS_EXPORT_ALL_SYMBOLS`.

_Just a heads up though, if you do `export-all-symbols`, note that MinGW `ld` will ignore the `export-all-symbols` it if you have even one explicit `dllexport

[2021-11-22 12:25] mahge commented on #8184
On second thought, the CMake build support is tied to OpenModelica (as in to assumes it is part of OpenModelica) so if you are building them standalone, I can adjust the CMake file for that and pass it to you.

[2021-11-22 12:27] casella commented on #8184
Yeah, now I remember about that. It's a bit borderline, but OK.

[2021-11-22 12:28] casella commented on #8184
Yes, after renaming, as I wrote in a previous comment:

[2021-11-22 12:28] sjoelund commented on #8184
I would prefer if ModelicaStandardLibrary.git can build the DLLs. Otherwise, how would we remove ModelicaExternalC from OMC sources in the future?

[2021-11-22 12:34] mahge commented on #8184
That is what I meant. If you instead need a standalone build with the corresponding compiler, I can adjust our CMake file and you can add that to ModelicaStandardLibrary.git and use it to generate and build Visual Studio dlls if needed. I thought the ModelicaStandardLibrary.git only provided autoconf targets. However, I can see now that it actually includes Visual Studio projects as well.

[2021-11-22 12:37] sjoelund commented on #8184
Well, I used the automake build project to build [the attached](https://github.com/OpenModelica/OpenModelica/files/7579430/libModelicaExternalC.zip) and I expect it to work.

[2021-11-22 12:40] sjoelund commented on #8184
[ModelicaUtilitiesImport.zip](https://github.com/OpenModelica/OpenModelica/files/7581025/ModelicaUtilitiesImport.zip) and just adding to Makefile.am (should be limited to when using mingw):

[code]

[2021-11-22 12:41] mahge commented on #8184
Then it is all good. I thought there was problems with building and dllexport.

[2021-11-22 12:44] sjoelund commented on #8184
The ModelicaUtilititesImport.c is just a small program that you can use with `x86_64-w64-mingw32-gcc -o libImportModelicaUtilities.o -Wl,--out-implib,libImportModelicaUtilities.a ModelicaUtilitiesImport.c` to create the import library. But I guess it could cause problems with build static and shared libs at the same time.

[2021-11-22 12:46] mahge commented on #8184
My recommendation is to avoid having any explicit `dllexport` at all. That way the header can work for both versions without changes.

It is a small library and almost all functions are exported anyway. So `export-all-symbols` should be fine. But it can not be mixed with explicit `dllexport` on MinGW.

[2021-11-22 12:49] sjoelund commented on #8184
The header doesn't need it. That's just a separate C-file to create the import library (could be part of ModelicaStandardLibrary.git - nothing OMC-specific). But when you link OMC, are we sure there is **nothing** in there using dllexport? It's a big library...

[2021-11-22 12:52] mahge commented on #8184
I am not sure but maybe you can just remove the macro definition (#define DLLExport _declspec ...) if there is one. I am not sure. I will check.

[2021-11-22 12:56] mahge commented on #8184
The problem is `importlibs` and `def` files are annoying (unfamiliar for most linux people) to produce, use and keep maintained. And for something that is distributed with ModelicaStandardLibrary maybe a little too advanced(?). It is all personal preference I guess.

It is alright for now. Whatever works to get started and then can be adjusted if there are issues.

[2021-11-22 12:59] sjoelund commented on #8184
The thing is they are necessary for anything that resembles plugins. And the Modelica specification does use ModelicaUtilitites.c, so there is not really any way around it if you want DLLs on Windows. And we do want to recommend DLLs in order to easily load any external libraries necessary for structural parameters/etc. If it's part of MSL that's a nice place to show how to do it in a good way.

[2021-11-22 13:03] sjoelund commented on #8163
Do you have package `libomsimulator` installed?

[2021-11-22 13:08] dietmarw commented on #8163
Yes.

[2021-11-22 13:09] dietmarw commented on #8163
[code]

[2021-11-22 13:10] mahge commented on #8184
Ahh. Okay I see now. We are, of course, talking about building them without `libOpenModelicaCompilerC`. For some reason I was thinking about using them. Then yes `importlibs` are a must. I was stuck on the old process somehow.

[2021-11-22 13:27] sjoelund commented on #8163
@lochel do you know why libOMSimulator.so is installed into 2 different places in `OpenModelica/build`? We only install one of them in the Debian/Ubuntu packages

[2021-11-22 13:43] casella commented on #7854
In one week we should have some results, according to @AnHeuermann at today's devmeeting

[2021-11-22 13:47] lochel commented on #8163
No, I don't know. Might be related to the windows installer?

[2021-11-22 13:55] #6195 closed

[2021-11-22 13:55] sjoelund commented on #8163
Which one should it be? `build/lib/OMSimulator/x86_64-linux-gnu` or `build/lib/x86_64-linux-gnu`?

[2021-11-22 13:56] AnHeuermann commented on #6195
Closing this for now. If it becomes a problem we should open a new ticket for this.

[2021-11-22 13:57] lochel commented on #8163
I really don't know

[2021-11-22 14:05] casella commented on #7560
@adeas31 can you please help with the form handling? Please ask @adrpo for details, it should be straightforward.

[2021-11-22 14:09] casella commented on #8190
@adrpo remembers that issues with array plots not working were already discussed, @adeas31 do you remember where?

[2021-11-22 14:09] sjoelund commented on #8163
I suppose we could create a symbolic link on Linux so they both exist

[2021-11-22 14:10] casella commented on #8190
This is a regression, let's try to get it fixed in 1.19.0

[2021-11-22 14:13] phannebohm commented on #6195
I would guess those are more or less independent problems.

[2021-11-22 14:19] phannebohm commented on #7848
See #8167. I will wait for the report and then close this issue for now. I would expect a few improvements and performance regressions.

@casella will open another ticket for the fallback strategy on the nls linear solver. This will have to wait for 1.20 I guess.

[2021-11-22 14:46] casella commented on #8111
Should be done, feedback @adeas31 is appreciated

[2021-11-22 15:04] casella commented on #7848
@phannebohm, the Jenkings test jobs are broken again, I wrote @sjoelund about this, I hope it gets fixed soon. Unfortunately results will be mixed up with other stuff, I hope there won't be many regressions in there.

I'm going to close this ticket now, since I am pretty sure the 0.10 trick will work, all the tests that failed had densities above 0.10 and below 0.20. If it doesn't, we can reopen i

[2021-11-22 15:04] #7848 closed

[2021-11-22 15:20] max-privato commented on #8172
Good.
Notice that the issue discussed in the #2081 description did not block any activity, just make some connectors to display that should not.
What I found here, instead, impedes using some blocks of the ModelicaDeviceDrivers library.

[2021-11-22 15:37] casella opened #8193 "Fallback to dense solver if sparse solver fails"
#7848 made sure that the kinsol solver is automatically selected (with the sparse linear solver) in case the density is less than the default of [-nlssMaxDensity](https://openmodelica.org/doc/OpenModelicaUsersGuide/latest/simulationflags.html#simflag-nlssmaxdensity), that is 0.10, or if the size is above [-nlssMinSize](https://openmodelica.org/doc/OpenModelicaUsersGuide/latest/simulationflags.html

[2021-11-22 15:43] casella commented on #6195
OK. I have to say that "No event found, but assert was triggered. Throwing now!" is not particularly clear to the uninitiated. Specifically:

- I guess "no event found but assert was triggered" means that a condition was triggered (x < 1.5 in this case) but it was in an assert, not in an if- or when-clause. Do I get it right?
- What does "Throwing now!" means? Yeah, I understand that you are throw

[2021-11-22 15:55] casella opened #8194 "Incompatible pointers in generated C code regarding asserts"
Simulate Modelica.Blocks.Examples.PID_Controller with OMEdit. Two red lines show up during C compilation:
[code]
I'm not sure if this thing is important, but it's not nice to see red warnings in the compile window. @AnHeuermann, is this related to your recent work in #6195? If not, any clue what could be causing it?

[2021-11-22 15:56] perost commented on #8194
I think this was fixed in #8182.

[2021-11-22 15:58] casella opened #8195 "Error regarding libexpat in OMEdit compilation window"
Whatever model I compile with the latest nightly build version of OMEdit, I always see this red line in the compilation windows output:
[code]
@adrpo, @mahge, any idea what is going wrong here?

[2021-11-22 16:14] phannebohm commented on #7854
We found this model in the MLS :confused:
[code]

![Screenshot from 2021-11-22 17-11-30](https://user-images.githubusercontent.com/16221675/142896086-51a3cc64-3d7f-449f-ad61-b1ba166ba801.png)

High frequencies seem to be a big problem.

[2021-11-22 17:10] mahge commented on #8166
@adrpo #8196 might have fixed this but I have not verified if the result is actually correct. I think it should be fine. You can check it and merge the PR if everything is good.

[2021-11-22 17:19] mahge commented on #8195
I can see that we copy libexpat.dll to OpenModelica bin directory from OMDev,  here

https://github.com/OpenModelica/OpenModelica/blob/0aeaad6d97beda4529ef1f2b1027cb2d9b8074e2/OMCompiler/Makefile.omdev.mingw#L297-L299

However, I am not sure why it just started to show any messages in OMEdit. This has been there for a long time (added 7 years ago). Maybe it is an improvement from OMEdit side or ma

[2021-11-22 18:31] adrpo commented on #8195
I think it is needed for the msvc runtime as far as I remember.

[2021-11-22 21:53] casella commented on #7536
@AHaumer, can you please test with the next nightly build and confirm this now works fine for you?

[2021-11-22 21:54] casella commented on #8178
Thanks @perost!

[2021-11-22 22:10] casella opened #8197 "Optionally avoid flattening record members in flat Modelica output"
@perost, hopefully one last favour to support our high-performance code generation starting from the flat vector-preserving Modelica output.

Currently, records are flattened to their basic type components, even though they may appear as whole record instances in some cases, e.g.
[code]
In some equations, having r2.x and r2.y declared explicitly as Reals is of course good, but in other equations w

[2021-11-22 22:32] perost commented on #8197
The flag `--newBackend` actually does this currently, in case you don't care about which backend is used.

[2021-11-22 22:33] casella opened #8198 "Syntax for flat Modelica output in the case of ragged arrays"
Consider the attached [TestArray.zip](https://github.com/OpenModelica/OpenModelica/files/7584707/TestArray.zip) package.

When flattened, `TestArray.ConnectEquations.SC` has a 3D rectangular array defined as:
[code]
Consider now `TestArray.ConnectEquations.SD`. The flat model contains a ragged array `c.x`. The NF already handles it (we had to implement this feature for the Buildings library), but

[2021-11-22 22:49] perost commented on #8198
If a remove the for-loop in `TestArray.ConnectEquations.CC` the model flatten to:
[code]
So that's how we already handle it. The issue with the for-loop is that it turns into:
[code]
And then we try to simplify the type of the range, which fails because neither the constant evaluation nor the simplification module expects dimensions to be arrays.

[2021-11-22 22:50] casella opened #8199 "Initial for-loop equations are turned into regular equations in flat model with -d=nonfScalarize"
### Description

Consider the following example:
[code]
If flattened with -d=nonfScalarize, the following output is obtained:
[code]
For some reason, the initial equations with for loops were moved to the regular equation section. This should not happen.

I cc: @ennioquaglia for his information.

[2021-11-23 00:29] casella commented on #8198
LGTM. @ennioquaglia, would this be ok for you?

Could we just have a flag to stop short of that, and output what you showed above?

[2021-11-23 00:31] casella commented on #8197
No, we don't 😄

@ennioquaglia, one more flag for you to consider, please keep the list up-to-date somewhere.

[2021-11-23 00:31] #8197 closed

[2021-11-23 08:04] adeas31 commented on #8190
@Vivek106singh can you try to use the latest nightly build? As I remember this is already fixed and is ported to 1.18 maintenance branch but we did not release 1.18.1

[2021-11-23 08:05] casella commented on #8172
@adeas31, @adrpo, any idea why this case behaves differently? Is there any way to fix this quickly?

[2021-11-23 08:06] adeas31 commented on #8190
See #7878

[2021-11-23 08:12] casella commented on #7854
Sorry, what do you mean by "MLS"? I can't find this model myself. Can you pls give the full path?

[2021-11-23 08:24] zapplelove commented on #8127
I think the error caused by this.

thanks!

[2021-11-23 08:30] adeas31 commented on #8181
Yes the focus is changed to the opened Diagram view.

[2021-11-23 08:31] sjoelund commented on #7854
MLS = Modelica Language Specification. https://specification.modelica.org/master/synchronous-language-elements.html#clock-constructors

[2021-11-23 08:37] Vivek106singh commented on #8190
I will try it.
Thanks

On Tue, Nov 23, 2021 at 1:36 PM Adeel Asghar ***@***.***>
wrote:

--
Vivek singh
Scientific Officer /D,
IGCAR Kalpakkam.

[2021-11-23 08:43] adeas31 commented on #8172
I confirm this. @adrpo in this case placement annotation gets visible as false. AFAIR we don't evaluate and always returns true.

[2021-11-23 09:37] casella commented on #8190
I can confirm this works with the latest nightly build. You can try this simple test model, click on the checkbox near `x` and then move the slider under the Filter Variables input box in the Variables Browser.
[code]

[2021-11-23 09:37] #8190 closed

[2021-11-23 09:49] casella commented on #8172
Yeah, that was the idea, I don't know why it doesn't happen here. Maybe @perost could give a look?

[2021-11-23 10:02] AnHeuermann commented on #8127
Anything we could improve in our README? What I summarized in https://github.com/OpenModelica/OpenModelica/issues/8127#issuecomment-975437743 is basically our README.

I'm afraid we just have to accept, that OpenModelica is complicated to build on Windows.
So should we close this issue?

[2021-11-23 10:04] AnHeuermann commented on #8194
No, that's older.

[2021-11-23 10:10] AnHeuermann opened #8200 "Improve assert error messages"
### Description

With https://github.com/OpenModelica/OpenModelica/commit/1cbaefaede641a04c749459ab8eca5bdc70a04d6 the error messages for asserts changed and the way the integrator works at an assert.

Before:
[code]

Now:
[code]

The message "No event found, but assert was triggered. Throwing now!" is not particularly clear to the uninitiated. Specifically:

### Expected Behavior

Maybe we could

[2021-11-23 10:11] AnHeuermann commented on #6195
This ticket is getting overloaded. Let's continue in #8200

[2021-11-23 10:11] ennioquaglia commented on #8198
Yes, seems good to me.

[2021-11-23 10:18] casella commented on #7854
OK, I was looking for the model name and of course I couldn't find it 😄

[2021-11-23 10:25] AnHeuermann commented on #8200
@casella wrote in https://github.com/OpenModelica/OpenModelica/issues/6195#issuecomment-975656961

I agree, the message is not very good. Improving the text itself is not an issue. Any suggestions?

-----------------

But actually I want to print error messages only if really needed.

That means we have an assert `A` that is  violated and maybe needs to throw an error. But we will continue for now

[2021-11-23 10:26] casella commented on #7854
There are many problems that are made visible by this example

[2021-11-23 10:27] AnHeuermann commented on #8166
Should we always return the error message in https://github.com/OpenModelica/OpenModelica/pull/8196/files#diff-9cc4431be7f701499677dfee1e848acbe3beb830f1fe4fa16b25514b55ebbe12R1483-R1488?

Thant we can find the error faster next time.

[2021-11-23 10:44] AnHeuermann commented on #8194
Already fixed in #8182

[2021-11-23 10:44] #8194 closed

[2021-11-23 11:14] mahge commented on #8195
We build FMIL with msvc. Maybe we can try to use the static `libexpat` from there if whatever is needing this DLL does not actually require it to be a DLL.

I will see if I can fix it.

[2021-11-23 11:16] phannebohm commented on #7854
Oops, sorry about that. We will be looking at all the snippets from the Modelica Language Specification, so that's where things will be from. I'll put the chapter numbering in the model name.

Exactly. Instead of fixing them one by one, we (mostly @AnHeuermann) will probably rewrite large parts of the code from scratch as soon as we have a proper grasp of clocks. Hence the MLS snippets :smile:

[2021-11-23 12:44] adeas31 commented on #8165
See also #7857. I think the first 3 should be fixed if you install omc-doc package.

`OpenModelica TLM Simulator Documentation` perhaps need special handling. At least for the Windows installer I copy it from `OMSimulator/OMTLMSimulator/Documentation/TLMPlugin.pdf` and put it in `<INSTALL-DIR>/OMTLMSimulator/bin`

[2021-11-23 12:47] adeas31 commented on #8168
Perhaps @AnHeuermann can help with this.

[2021-11-23 13:12] dietmarw commented on #8165
So installing omc-doc changes the status to:
  * [x]  OpenModelica Users Guide F1 (F1 also does nothing)
  * []  OpenModelica UsersGuide (PDF)
  * [x]  OpenModelica System Documentation
  * [x]  OpenModelica Scripting Documentation
  * [x]  Modelica Documentation
  * [x]  OMSimulator Users Guide (**Note the typo: it should be User's Guide**)
  * [ ]  OpenMoelica TLM Simulator Documentation
  * [x]

[2021-11-23 13:13] dietmarw commented on #8165
Also not the typos in the menu entries should get corrected to "User's..."

[2021-11-23 14:01] christiankral commented on #8181
OK then. As I now know how CTRL+C is correctly applied, I can live with it.

[2021-11-23 14:09] #8195 closed

[2021-11-23 14:46] janpeter19 commented on #8092
I am interested to follow the progress here since I have some similar problem, I think.

[2021-11-23 15:13] perost commented on #8198
#8203 fixes the simplification issue by retyping ranges when we evaluate any constant/structural parameter in them. I think this is a good idea in general, because a range like `start:stop` at first gets a type like `Integer[max(stop - start + 1, 0)]`. If we evaluate anything in the range it's less work to just recalculate the type instead of evaluating the type, and that also avoids the issue wit

[2021-11-23 15:45] casella commented on #8127
@AnHeuermann what you wrote in your comment seems pretty informative. If it stays where it is, it is pretty useless, as I'm afraid robot and crawlers scan forums but not our tickets. Is there a README for building omc on Windows? Could you put it there?

[2021-11-23 15:55] casella commented on #8200
What is not clear at all to me is: what is the relationship between errors and events? I don't get it, so the whole thing looks quite meaningless to me. Is it because we are talking of assert violations, which depend on relations in the same way as events? Sorry for being a bit dumb, but I really can't get it.

In any case, my understanding is that events and asserts are completely unrelated.

Eve

[2021-11-23 16:03] perost commented on #8199
The issue was that we didn't have a DAE structure for initial for-equations, and the NF just created regular for-loops instead. I added one that should work for dumping the flat model at least, but I'm not sure if the backend knows what to do with an initial for-equation.

The DAE structure is a bit stupid in this regard, because it's just one big list with all the variables, equations and algorit

[2021-11-23 16:07] casella commented on #8198
As far as I am concerned, the goal is to get
[code]
in the flat output. I guess I can't help you much suggesting how to get there 😄. I only hope it is not too hard, otherwise we could examine other options.

LGTM. I guess we probably want to get at least to the connection phase. The other steps we could do ourselves. Do I understand correctly that instantiateModel() coupled to --nonfScalarize is t

[2021-11-23 16:16] casella commented on #7854
The first problem is that clocked variables are only defined when the clock ticks. They are undefined at any other point in time, unlike discrete variables that remain constant in-between events. Dymola represents them as round dots, and only keeps a very tiny, almost invisible constant thread after them.
![screenshot](https://user-images.githubusercontent.com/4233148/143061951-1df4b6b6-dc79-46d1-

[2021-11-23 16:16] Vivek106singh opened #8206 "While exporting to CSV from plot, the values attached to pressure source or sink (constant pressure boundary) the first two values are in pascal and rest are in bars"
### Description
When exporting to CSV from plot, the values attached to pressure source or sink, first two values are in pascal and rest are in bars. This I got when I exported hex.infl.p and hex.outfl.p in the model "ThermoPower.Test.DistributedParameterComponents.TestWaterFlow1DFV2ph_Cmodel" this happened when the pressure was constant at one of the boundary.
I checked with other models also wer

[2021-11-23 16:17] adeas31 commented on #8180
This is a regression probably because of new Expression class. I will try to fix it.

[2021-11-23 16:18] casella commented on #7854
The second problem is that our simulations actually go backward in time, at times. If I simulate your example with 250 intervals, to make the thing even clearer, I get this:
![immagine](https://user-images.githubusercontent.com/4233148/143062249-afd6d7cf-fc01-468e-94ad-e79efec6c69a.png)
which clearly makes little sense. It seems that the output is going back by one reporting interval after each cl

[2021-11-23 16:19] Vivek106singh commented on #8206
![Capture1](https://user-images.githubusercontent.com/12408991/143062444-3a55699a-46b6-43cc-a349-45dcf765c0e4.PNG)
![Capture2](https://user-images.githubusercontent.com/12408991/143062454-1f5fab69-7534-479a-9f01-a93ab2b2fbcd.PNG)
![Capture3](https://user-images.githubusercontent.com/12408991/143062460-eb0c1948-f925-4794-ac1a-21240129385e.PNG)

[2021-11-23 16:24] perost commented on #8198
We handle variables with 0-size dimensions after the simplify stage regardless of if scalarization is on or not, removing the variables and replacing references to them with empty arrays expressions. So the model might change a bit after `simplify` even if scalarization is turned off, but only if it contains variables with 0-size dimensions.

Also, in case I wasn't clear the example model can be d

[2021-11-23 16:26] casella commented on #7854
The third problem is that `previous(y1)` is not really recorded correctly. If I simulate with 5000 intervals, I get this crazy stuff:
![immagine](https://user-images.githubusercontent.com/4233148/143062660-3105bd1f-b4be-466e-a194-d87e46b29b88.png)
Obviously there's something badly broken there.

Yes, Dymola does not record `previous()` values. It would be probably nice to have, because it is somew

[2021-11-23 16:35] phannebohm commented on #7854
I'm not sure if that is a problem per se. But we may want to handle clocked variables differently in the result files, and perhaps at some point in the new runtime as well.

Yes! @AnHeuermann and myself talked about that.
Can we steal their plots? If not, we could plot them like they do in the MLS:
![Screenshot from 2021-11-23 17-29-02](https://user-images.githubusercontent.com/16221675/143064422-

[2021-11-23 16:38] casella commented on #8194
I confirm the red stuff is gone with the latest nightly build, thanks! 👍

[2021-11-23 16:40] casella commented on #8195
Thanks @mahge! I'll check with the next nightly that all's fine in OMEdit.

[2021-11-23 16:45] casella commented on #8165
@adeas31 should we do something to keep omc-doc updated (and mention it in the [installation guide](https://openmodelica.org/download/download-linux)) or should we just copy those documents in some proper place?

I'm not sure having a separate debian package for documentation makes much sense, but maybe that's commonplace use? @dietmarw what would you suggest?

[2021-11-23 16:45] casella commented on #8168
Or @lochel

[2021-11-23 16:46] AnHeuermann commented on #8127
Well, it is simply the content of https://github.com/OpenModelica/OpenModelica/blob/master/OMCompiler/README-OMDev-MINGW.md and what's in OMDev\INSTALL.txt, just for one specific case. The original README is a bit more flexible then what I did.

The stuff in OMDev\INSTALL.txt should stay in there, but maybe we should make it a markdown document and restructure it a bit. But that should happen in t

[2021-11-23 16:47] casella commented on #8092
@janpeter19, in fact this is not strictly related with Buildings 7.0.x (for which we are aiming at 100% success rate by the end of the year), since the problem shows up in later versions of that library. But we'll get that fixed anytime soon.

[2021-11-23 16:50] casella commented on #8199
@kabdelhak, maybe not yet, but eventually it should 😃

One of the design principles of @kabdelhak's new backend is precisely to avoid this kind of duplications, which were spread all over the place since initial equations were added later to the language. @perost, maybe you should talk to him and see if you can do some code trimming.

[2021-11-23 16:51] dietmarw commented on #8165
The question is where else is the content of omc-doc used/linked to. If only OMEdit then it makes sense to make (the updated version) part of OMEdit. Or simply link to the updated online-resources.

[2021-11-23 17:01] perost commented on #8199
The backend already mostly avoids this issue I think, it just has one record for every type of equations and instead keep equations and initial equations in separate lists like the NF. It's just the DAE structure that does it because of the old frontend, so we convert the NF-structure to a single list of DAE-elements which the backend then immediately partitions and converts back to separate lists

[2021-11-23 17:03] casella commented on #8198
Ah, OK, I missed that.

So, I shouldn't rely on what I get by clicking on the Instantiate Model button in OMEdit. I'm not sure I understand exactly what are the steps to get the right output for our purpose. After #8203 I guess it's going to be the following ones:
[code]
do I get this right?

One last thing. Suppose we are flattening a model with an array that has 10 million elements. Not only we

[2021-11-23 17:12] adeas31 commented on #8165
That's a question that Martin should answer. I basically suggested him the same (in #7857) what you and @dietmarw are saying here i.e., either install omc-doc as part of core package or at least put some instructions on the installation page.

[2021-11-23 17:23] sjoelund commented on #8165
I think if omc-doc is missing, we could just open the webpage

[2021-11-23 17:25] sjoelund commented on #8165
As for it being a separate package, that's common and in our case it's a separate tarball. I do want to change that though, since it's hard to keep it in sync if it's separate

[2021-11-23 17:26] #8180 closed

[2021-11-23 17:28] perost commented on #8198
`--flatModelica` (or `-f` for short) won't work either if the DAE conversion fails. It's based on the NF structure though, so it's possible to print it even in that case, but the way the code is structured at the moment means that the DAE conversion is done before printing the flat model. I guess we could add a flag for only running the frontend, which could skip the DAE conversion if `-f` is used

[2021-11-23 17:29] AnHeuermann commented on #8168
Some years ago I worked on that a tiny bit, but eventually I gave up.
It was not clear to me what should be the difference between static/dynamic or some OS-tripple.
And getting FMUs to compile on system `A` to work on system `B`, where `A` and `B` could be any combination from `{Windows, Any Linux, OSX} x {x32, x64}` is a nightmare.

Since we abounded OSX it got a bit easier. But now we want to s

[2021-11-23 18:44] dietmarw commented on #8168
OK doing the same test when using the OMEdit interface I get:
[code]

So looks like the "dynamic" setting simply does not work in OMEdit (as reported in this ticket ;-) )

As for cross-compilation, when on linux there is no need to use docker as long as one has the mingw packages installed.

[2021-11-23 18:46] adrpo commented on #8168
AFAIK, in Windows we always compile the FMUs static no matter what you choose in OMEdit.

[2021-11-23 21:29] casella commented on #7854
Sure. I'm not sure how Dymola handles them, I guess everybody will copy the same stuff, did you have a look? In the standard file there are two tables, one for constant variables and one for time-varying tables, I guess here there will also be one for each clock.

That's pretty much what Dymola does. Let's keep it.

[2021-11-23 21:48] casella commented on #8127
@adrpo can you shed some light on the whereabouts of the OMDev repo?

[2021-11-23 22:04] casella commented on #7468
See also [#6222](https://trac.openmodelica.org/OpenModelica/ticket/6222#comment:5).

[2021-11-23 22:05] casella commented on #8165
Online resources can also be an option, these days.

[2021-11-23 22:10] casella commented on #8198
Sounds good for us, we don't need the backend.

Please do. The Flat Modelica format is going to be standardized and become part of eFMI, and I understand that part (the quoting) is there to stay, so even though it is "experimental" it's going to be more stable in the long term. Hence, I think it's best for us to use that from the start.

Yeah, that's my point. How can be skip the flattening to sca

[2021-11-23 22:18] adrpo commented on #8184
Geez, I should have read all the comments before trying to build a dll for ModelicaExternalC, it would have saved me some hours of googling :)

[2021-11-23 22:21] adrpo commented on #8184
I managed to force the autotools to build also the shared libs but then I got unresolved symbols from the functions in ModelicaUtilities.h and I was planning to write a small dll containing those but it seems @sjoelund already did that, thanks. I'll try to integrate my stuff with your stuff.

[2021-11-24 07:00] dietmarw commented on #8165
Though, thinking about it, I would be careful assuming unrestricted access to "western" internet sources. Speaking from the experience of holding modelling workshops in China where I needed to have OpenModelica available on a USB stick then having also the documentation not with it would not be a good thing.

I think it would be better to have the PDF versions release time of the online resources

[2021-11-24 07:25] dietmarw commented on #8168
So just to recap.
 | option | current action |  proposed fix |
| --- | --- | --- |
| none | creates static FMU | remove? |
| dynamic | creates static FMU | fix to dynamic |
| static | creates static FMU | working as it should |

So the dynamic option makes **only** sense for Linux targets and then the question is is there any practical value in having dynamic Linux FMU available. If not, then the

[2021-11-24 07:29] adrpo commented on #8168
I think the only one we should get rid of is "none", I don't know why we have that. Maybe @sjoelund remembers.

[2021-11-24 07:32] sjoelund commented on #8168
Pure source-code FMUs

[2021-11-24 07:51] dietmarw commented on #8168
So maybe rename "none" to "source-code only" and at the same time deactivate the platform checkboxes if that option is chosen?
If you keep dynamic then you also need to add some logic/info that it does not effect the windows targets.
Possibly change it to:

| option | current action |  proposed fix |
| --- | --- | --- |
| none | creates static FMU | new name: "source-code only", deactivate platfor

[2021-11-24 07:55] BasilioPV commented on #8076
Any news on this issue?

[2021-11-24 08:00] dietmarw opened #8210 "OMEdit does not render thermal connections in MSL models correctly"
### Description

Looking at `Modelica.Magnetic.QuasiStatic.FundamentalWave.BasicMachines.SynchronousMachines.*` models there are thermal connectors missing in the rendering but present in code and annotation.

It looks lilke only the thermal connectors of the base class `Modelica.Magnetic.QuasiStatic.FundamentalWave.BaseClasses.Machine` are shown.

### Steps to Reproduce

Open `Modelica.Magnetic.Q

[2021-11-24 08:02] sjoelund commented on #8168
I think that the original idea was to have the different solvers available for the dynamic version (if you link everything to the OM environment, you have access to them). If we do include sundials sources/etc and create a nice statically linked package for more solvers, there's no point in having it except it linked slightly faster.

[2021-11-24 08:03] BasilioPV opened #8211 "Missing Vector visualizer in OMEdit animations (was: Force and Torque vectors not shown on OMedit under MSL 4.0.0)"
### Description

### Steps to Reproduce

Under MSL 4.0.0, forces and torque vector not shown on animation window. In addition, animation window transparecy for other items not work.

### Expected Behavior

Forces and torques shall be shown.

### Screenshots

![image](https://user-images.githubusercontent.com/93596576/143198150-a94c5369-49f4-4b06-aca9-2ba2eb5b176c.png)

![image](https://user-images

[2021-11-24 08:07] dietmarw commented on #8210
Also confirmed to not work correctly on the Windows version of OMEdit.

[2021-11-24 08:37] sjoelund commented on #8127
https://openmodelica.org/git/OMDev.git

[2021-11-24 08:42] sjoelund commented on #8165
Yeah, it could be two entries, or looking to see if the documentation was installed and then not showing the local one. OpenModelica servers are indeed very slow in China (they are faster through VPNs, but those are increasingly restricted).

[2021-11-24 08:53] adrpo commented on #8127
It says in the https://github.com/OpenModelica/OpenModelica/blob/master/OMCompiler/README-OMDev-MINGW.md
`git clone https://openmodelica.org/git/OMDev.git` but maybe that's just too hidden :)

[2021-11-24 08:55] adrpo commented on #8184
Yeah, building both static and dynamic at the same time is problematic, I fear we need to make two different projects as we need to conditionally build and link the libImportModelicaUtilities and I don't seem to find a proper way to do this with autotools.

[2021-11-24 09:03] adeas31 commented on #8206
All the values should be exported in pascal. #8212 fixes this issue.

The parameters just have start and stop data points so if you just export a single parameter you will only get start and stop. If you export a parameter along with a variable, as you did earlier, you will get constant value for parameter for all data points.

[2021-11-24 09:16] #8206 closed

[2021-11-24 09:37] sjoelund commented on #8184
Well, you could --enable-shared --disable-static, etc to be able to compile one of them at least. But then I suppose we would need some copies or symbolic links to have 2 build directories. This is the one thing cmake does better, with separate build directories per configuration.

[2021-11-24 10:03] AnHeuermann commented on #8127
Would making OMDev a repo on GitHub, with README and all, be a good idea?
But I guess there is not much value in it. There aren't that many people building on Windows and even less would want to change anything in OMDev.

[2021-11-24 10:06] adrpo commented on #8127
And its size is huge that's why we put it in opemodelica.org.
We had OMDev in github before OpenModelica was accepted as a non-profit organization and the max size of a repo was less than 2GB.

[2021-11-24 10:21] AnHeuermann commented on #8168
I wouldn't agree. It is easy to use a docker container with some very old compilers to cross-compile for some older Linux OS, but nearly impossible to install them in your OS because they are no longer compatible.

[2021-11-24 10:23] mahge commented on #8184
I can adjust the CMake config I wrote for use with OMC to be more general and strictly "correct" if you need it (_ModelicaExternalC also does not have a config header, it needs one_). It is a very small one so you can even write one. But the advantage of providing a CMake build is probably more of the fact that it is cross platform, e.g., you can remove the Visual Studio projects from MSL External

[2021-11-24 10:26] dietmarw commented on #8168
Right, I was only thinking of the Windows targets.

[2021-11-24 10:28] adeas31 commented on #8168
So if I take forward @dietmarw proposal we can have for Windows,

| option | current action |  proposed fix |
| --- | --- | --- |
| none | creates static FMU | new name: "source-code only", deactivate platform selection, make it to export source-code only  |
| static | creates static FMU | working as it should |

And for Linux the same 2 options as listed above and,

| option | current action |  p

[2021-11-24 10:33] dietmarw commented on #8168
It works if you trigger it from the command line but this ticket is about OMEdit and there the options don't work.

[2021-11-24 10:34] AnHeuermann commented on #8168
I can't reproduce the problem in OMEdit. Maybe because I'm using my self build OMEdit or have some other FMI settings in OMEdit or have other stuff installed in my Ubuntu.

![image](https://user-images.githubusercontent.com/38031952/143222006-f417f715-4624-42f0-b16c-7b3164ef9fcf.png)

[code]

@dietmarw If I understand https://github.com/OpenModelica/OpenModelica/issues/8168#issuecomment-977745251

[2021-11-24 12:50] zapplelove commented on #8127
@adrpo Any suggestions about compiling OMEdit using `cmake` method?

I find that there is a `CMakeLists.txt` in the root folder, so I use following command to compile the project in Ubuntu:
[code]

and  I don't find the command `make omedit`

[2021-11-24 13:17] mahge commented on #8127
@zapplelove. Unfortunately the CMake configuration does not include OMEdit yet. It will come soon.

For now you would have to use the `Makefile.omdev.mingw` to build OMEdit.

[2021-11-24 13:22] perost commented on #8198
#8214 fixes the DAE conversion issue, so you can now get the normal flat model output without using `--dumpFlatModel`. But in case you want to get the flat model at some intermediate stage #8215 also improves `--dumpFlatModel` so that it uses the Flat Modelica format when `-f` is used.

The output when using `-d=-nfScalarize,arrayConnect,combineSubscripts,printRecordTypes -f` for the example model

[2021-11-24 13:33] dietmarw commented on #8168
So I just did double checked. Dynamic only works when running the commands in OMShell. Not when triggered from inside OMEdit.

[2021-11-24 13:42] janpeter19 commented on #8092
@casella, yes I understand the problem is far more general. Per Ostlund saw that my error message is very similar to yours

"component bioreactor contains the definition of  a partial class Gasphase. Please redeclare it to any package compatible with BPL.Interfaces.GasPhaseBase."

How interesting is this similarity? Does it help troubleshooting? My code also works fine with JModelica and even OCT

[2021-11-24 14:07] lochel commented on #8179
There are 39 test cases for the unit checking (see testsuite/simulation/modelica/unitcheck/). However, unit checking is disabled by default and the inconsistency in the test above isn't even detected by the current implementation.

Enabling the module (--unitChecking), and changing the example slightly will show some useful unit checking results:
[code]

[code]

[2021-11-24 14:19] christiankral opened #8217 "Line width of Diagram View"
This is a feature request.

In order to create high quality Modelica diagrams in different kinds of publications I am using the SVG export of the Diagram View in OpenModelica. The quality of the exported SVG file is very good. Yet, in many cases the publishers require a minimum line width of each drawing in order to overcome printing problems.

However, the post processing of SVG files is still ca

[2021-11-24 14:23] adeas31 commented on #8168
That is weird. What commands you run in OMShell? Please also attach your `omeditcommunication.log`?

[2021-11-24 14:31] dietmarw commented on #8168
I run the exact same commands that @AnHeuermann  listed. I could not find any `omeditcommunication.log` file to be created but I can attach the FMU file which contains plenty of other logs that might help (renamed to .zip so it can be uploaded here):
[Modelica.Mechanics.MultiBody.Examples.Elementary.Pendulum.zip](https://github.com/OpenModelica/OpenModelica/files/7596440/Modelica.Mechanics.MultiBo

[2021-11-24 14:35] adeas31 commented on #8168
`omeditcommunication.log` is in %TEMP%/OpenModelica/OMEdit

[2021-11-24 14:38] dietmarw commented on #8168
Needed to restart OMEdit for it to get created. So here it is:
[omeditcommunication.log.zip](https://github.com/OpenModelica/OpenModelica/files/7596490/omeditcommunication.log.zip)

[2021-11-24 14:50] adeas31 commented on #8168
OMEdit is calling,

[code]

That is same what you are calling from OMShell except that it has `x86_64-linux-gnu` in the platforms. So I am not sure what is the real problem.

[2021-11-24 14:52] dietmarw commented on #8168
Well maybe exactly that, I.e., calling with several platforms overrides the "dynamic" argument. This brings me back to what the meaning of a dynamic FMU is when several targets are chosen (also including cross platform targets).

[2021-11-24 14:58] dietmarw commented on #8168
Yes that's it! So if you choose "dynamic" in the settings then you can NOT chose any target platform. That basically overrides the "dynamic" and makes the FMU static for the chosen platform. I could now create a dynamic FMU by simply not selecting ANY platform.

Possible solution for "dynamic":
If "dynamic" is chosen then the platform choices should get disabled. Also add documentation that dynami

[2021-11-24 15:09] dietmarw commented on #8168
### Summary/recap again:
| option | current action |  proposed fix |
| --- | --- | --- |
| none | creates static FMU | new name: "source-code only", deactivate platform selection, make it to export source-code only  |
| dynamic | creates static FMU (if also a platform is selected) | fix the dynamic generation for Linux and Windows or only Linux and change option name to "dynamic (Linux only)" or "

[2021-11-24 15:32] casella commented on #8165
Good point. And maybe you want to work from an airplane.

Sounds good

[2021-11-24 15:33] casella commented on #8076
I'm not sure is @vwaurich is following, are you?

[2021-11-24 15:38] casella commented on #8210
Probably same as #8172, some conditional connectors are never show, instead of being always shown, while #2081 gets solved.

[2021-11-24 15:39] casella commented on #8211
@BasilioPV, do you mean that the same example worked in 3.2.3? Can you please check and report?

[2021-11-24 15:43] dietmarw commented on #8210
Yes I was aware of #2081 but not #8172. But it does look to be the same or related issue.

[2021-11-24 16:00] casella commented on #8198
Excellent!

This is largely a matter of philosophical discussion 😄

Seriously, the "default" flat output is not legal Modelica anyway, because as far as I understand, you can't even have declarations with dots in a variable name, like
[code]
so you can't pass that stuff to a Modelica compiler anyway. That said, we are not really building a full Modelica compiler, though, currently we are planning

[2021-11-24 16:03] casella commented on #8217
Sounds good, let's see if we can do that in the next release

[2021-11-24 16:08] perost commented on #8198
The issue is that we implemented the current Flat Modelica prototype for some project that needed it to be legal Modelica. Obviously it doesn't work in this case since e.g. `{3, 4, 5}` is not a valid dimension, but for normal cases it does produce legal Modelica (well, most of the time, when things work properly...).

I'm not sure if this is still needed though, or if we should target actual Flat

[2021-11-24 16:09] sjoelund commented on #8198
I think if we could allow general subscripts on an experimental flag, that would be enough

[2021-11-24 16:20] perost commented on #8198
The NF pretty much already supports it, but we'd have to add support for it in the parser and Absyn/SCode which is a bit of work. The easiest would be to just add another flag to disable the current behaviour, but we're already drowning in flags as it is.

[2021-11-24 16:53] casella commented on #8210
For #8172 we'll find a fix for 1.19.0. #2081 requires rewriting the API and the way OMEdit uses it, it's planned for 1.20.0 in July. This time we have funding to get that done, so done it will get.

[2021-11-24 17:16] casella commented on #8179
OK, got them.

True, but it is enabled when we do Check Model in OMEdit, see [#4629](https://trac.openmodelica.org/OpenModelica/ticket/4629). Not when we do compile, to avoid wasting time. The idea is that when you reach the stage of full system compilation, all unit issues will be gone, and there is no point re-checking the whole thing all the time.

True. There are several weird things there. Co

[2021-11-24 18:09] BasilioPV commented on #8211
Yes, examples on 3.2.3 shown correctly force and torque vectors. Please note that one change on MSL 4.0.0 was to set force arrow dimensions on "world" component instead setting each force separately.

[2021-11-24 18:15] casella commented on #8198
I'm not sure what project that was, and what were the requirements for it, maybe you can give me more information. My point is that as of Nov 2021, "Flat Modelica" is no longer a vague concept, but is going towards being a standard for Flat Modelica output, see [MCP 0031](https://github.com/modelica/ModelicaSpecification/tree/MCP/0031/RationaleMCP/0031). This will take some time, but the direction

[2021-11-24 19:02] sjoelund commented on #8198
How would we verify that the flat code is correct if we cannot run it? That's the main reason for supporting it

[2021-11-24 22:00] adrpo commented on #8166
Fixed via #8196. @mahge can you add the test model in the testsuite or should I?

[2021-11-24 22:00] #8166 closed

[2021-11-24 22:01] mahge commented on #8166
Tomorrow 🙂.

[2021-11-24 22:50] casella commented on #8211
Can you provide us some concrete examples to reproduce the problem?

[2021-11-24 22:57] casella commented on #8198
The main reason to support Flat Modelica is to provide flat Modelica code to downstream tools. Using it makes little sense per se, since we already have an excellent regular Modelica front end.

I agree that verifying the correctness of the flat Modelica code by running it and comparing the results with what we'd get directly is one important use case, but certainly not the main one. In any case,

[2021-11-24 23:08] casella opened #8219 "Buildings simulations segfaulting"
There are 8 models in Buildings 7.0.x that fail with segmentation fault on Jenkins, see report starting from [Buildings.Fluid.Geothermal.Borefields.BaseClasses.HeatTransfer.ThermalResponseFactors.Validation.ShaGFunction](https://libraries.openmodelica.org/branches/master/Buildings_maint.7.0.x/files/Buildings_maint.7.0.x_Buildings.Fluid.Geothermal.Borefields.BaseClasses.HeatTransfer.ThermalResponse

[2021-11-25 06:26] BasilioPV commented on #8211
As example: Mechanics/MultiBody/Examples/Elementary/ForceAndTorque
**Any example that contains visual represetation of forces and torques are affected on MSL 4.0.0**
In addition, Shift+right click on the elements under MSL 4.0.0 does not show the transparency properties.

[2021-11-25 07:22] zapplelove commented on #8127
@mahge Ok, I think the `CMake` compile method is more friendly for me to understand the whole project and relationships between each submodules. I want to understand how a `metamodelica file` being translated to a `c file` and compiled to a `bin file`. And the `GNU autoconf` and `Makefile` is diffucult for me. I want to recompile the project to work with other simulation programs like drake, gazeb

[2021-11-25 07:27] sjoelund commented on #8198
Untested code dies. It's very easy to introduce breaking changes if it's not tested. If you now say you want to build other tools on top of this, it for sure needs to be tested.

[2021-11-25 07:40] sjoelund commented on #8219
[code]

This causes half of the pointer to be lost since the default is to assume a 32-bit integer is returned. It's an error in the library (not including `ModelicaUtilitites.h`) and seems to affect at least Buildings 7..master

[2021-11-25 08:55] casella commented on #8198
I couldn't agree more. For the time being, the test can consist in flattening the examples of the attached package (we can and will add more for our own testing purposes), check the correctness of the output manually (we already did that, and now it seems to be fine, except for arrayConnect, that only works in some cases, see #8014), and then just check that the output remains the same and does no

[2021-11-25 09:20] HelenaShou opened #8220 "FMU exportation"
### Description
When exporting a Model as FMU (with v1.18 version in windows) a file is missing in the resources folder. As a result the FMIfunction fmi2instanciate  return a segmentation fault.

### Steps to reproduce
Steps to reproduce the behavior:
in OMEdit : right click in a model -> export as FMU
"the FMU is generated at "..location..."

### Expected behavior
a FMU compressed folder is gener

[2021-11-25 09:47] mahge commented on #8220
@HelenaShou is there any error message you are getting? Which file exactly is missing?

[2021-11-25 11:07] adeas31 commented on #8217
The diagram uses a different set of settings `Tools-Options-Line Style->Thickness`. But these settings are only used when you are modeling your own models. If you are using models from some other libraries it depends on what thickness the library developer has used.

I believe what you want is to have a minimum line thickness when exporting diagrams (perhaps for all formats and not limited to SVG)

[2021-11-25 11:09] arouhan opened #8221 "Engine system example in Modelica Language specification 3.5 and 3.6 won't check"
I'm testing the Engine System example provided in the Modelica language Sepcification 3.5 (see last example in section 9.1 Expandable Connectors). As far as I understand, it is also the same as in MLS 3.6-dev (end of 9.1.3).

I provide a version of the code that checks and runs under Dymola 2021. Checking under OME 1.18.0 the model gives the following error:

`Error: Cannot connect expandable conn

[2021-11-25 11:42] arouhan opened #8222 "Sizeless array of component example won't check"
I'm testing the penultimate Engine System example provided in the Modelica language Sepcification 3.5 (see penultimate  example in section 9.1 Expandable Connectors). As far as I understand, it is also the same as in MLS 3.6-dev (end of 9.1.3).

I provide a version of the code that checks and runs under Dymola 2021. Checking under OME 1.18.0 the model gives the following error:
`Error: Variable bu

[2021-11-25 12:00] mahge commented on #8127
I understand. Some context about the different parts of OpenModelica first. `OMEdit` is the graphical user interface and editor for the OpenModelica ecosystem. It is written completely in C++ with Qt. It does not handle any Modelica "compilation" itself.

The actual Modelica code compilation is handled by `omc`, the OpenModelica Modelica Compiler. This is where `MetaModelica` and a bunch of other

[2021-11-25 12:11] perost commented on #8222
The issue is not really with the sizeless array, it's that we don't support referring to variables added to expandable connectors in other contexts than connect-equations. So a smaller test case would be something like:
[code]
The specification example is the only use of this I've ever seen and the specification doesn't really mention it otherwise, so unless you have a good reason for why this is

[2021-11-25 12:12] mahge commented on #8166
Added in #8223.

[2021-11-25 12:14] perost commented on #8221
The issue is that we don't yet support adding expandable connectors to expandable connectors via connect-equations.

[2021-11-25 12:26] AnHeuermann commented on #8200
Yeah, I guess that is our issue here. We evaluate asserts togehter with some other stuff that is needed for zero-crossings. And after that we decide if we can accept the step.

I will see if it makes sense to move the assert check to be the last thing before we accept a step.

[2021-11-25 12:42] perost commented on #8198
I remembered that we have an old flag `--modelicaOutput` (`-m`) whose description is literally `"Enables valid modelica output for flat modelica."`. So I made the output of subscripting functions optional in #8224. By default `-f` now outputs subscripted expression, and if you instead want subscripting functions you can use `-f -m`.

[2021-11-25 12:52] sjoelund commented on #8198
Yeah, this seems like a reasonable solution with sufficiently low cost of implementation

[2021-11-25 14:32] #8219 closed

[2021-11-25 14:36] perost commented on #8210
I get error messages that I guess might be causing the issue:
[code]
These errors comes from OMEdit and not OMC though, but it might be that the issue is in the API. I think @adeas31 will need to look into why OMEdit can't find the connections, and then I can try to help with the API if needed.

[2021-11-25 16:17] mimeissner commented on #7457
I'm not 100% sure, if this is the correct issue, but in the ThermoFluidStream Library we have also experienced, that modifiers from the constraining model are not arriving at a redeclared a model. Our workaround for now is to remove final from the modifiers in the constraining model and include all modifiers when redeclaring.

I attached a minimal example, with models A,B,C and D. The bahavior I w

[2021-11-25 16:30] casella commented on #8198
LGTM.

@perost, does the merging in of #8224 close this issue? I can't tell until tomorrow's nightly becomes available, but I guess so.

[2021-11-25 16:38] casella commented on #8222
I fully agree. Frankly, I don't see the point of accessing the bus connector variable, when you can equally well access the local variables of the connected connector, `sensor.speed` in the cited case.

[2021-11-25 16:43] casella commented on #8210
LGTM. @adeas31, please have a look at your earliest convenience.

[2021-11-25 16:45] casella commented on #8172
@perost, so your point is that until #2081 is fixed for good, OMEdit should simply always show connectors, regardless of their visibility attribute?

If so, I guess @adeas31 could do this in no time.

[2021-11-25 16:46] casella commented on #7457
Let's see what @perost thinks about it.

[2021-11-25 18:11] christiankral commented on #8217
Yes, this is exactly what I meant. It is about the minimum line thickness when exporting Diagram Views as SVG (and yes, also PNG) files.

[2021-11-25 18:31] perost commented on #8198
Maybe, that depends on if the current output works for you or if there's still something that needs to be changed.

[2021-11-25 18:35] perost commented on #8172
That's one option. Whether it's better than any of the other options I listed I don't know. We need #2081 to fix it properly, so for now it's just a matter of what's the best compromise.

[2021-11-25 19:44] perost commented on #7457
It might be the same issue as in #8092.

[2021-11-25 22:23] adrpo commented on #4908
https://trac.openmodelica.org/OpenModelica/ticket/4908

[2021-11-25 22:29] adrpo commented on #4908
This also happens with ClaRa1.7.0, model ClaRa.Examples.SteamCycle_01:
`
[ClaRa1.7.0/TILMedia 1.7.0 ClaRa/VLEFluidTypes/BaseVLEFluid.mo:16:3-18:42:writable] Error: Could not evaluate structural parameter (or constant): condenser.tubes.heattransfer.iCom.mediumModel.nc_propertyCalculation which gives dimensions of array: mixingRatio_propertyCalculation. Array dimensions must be known at compile time

[2021-11-25 23:00] adrpo commented on #4908
A total model to be able to debug the bug: [SteamCycle_01.zip](https://github.com/OpenModelica/OpenModelica/files/7605456/SteamCycle_01.zip)

[2021-11-26 09:08] casella commented on #7848
This also resolves #6342, I'm going to close that as well

[2021-11-26 10:30] casella commented on #8172
@adeas31, I'm trying to get as many 1.19.0 issues fixed as I can before the Christmas break.

As I see it, there are two easy options to handle these issue before we tackle #2081 seriously next year
- have all the visiblity API's return true no matter what
- have OMEdit temporarily ignore the output of those functions and always show connectors / activate input dialogs no matter what

What would y

[2021-11-26 10:33] casella commented on #8161
@mahge maybe there was a misunderstanding on my side. It would be of course nice to have ParModelica supported by the NF, otherwise it gets lost. But the most important thing now is to have ParModAuto supported by the NF. Is that already the case?

[2021-11-26 10:37] casella commented on #8147
There are two remaining open points here, as I understand
- reinstate the package manager mos script in the documentation, as suggested by @sjoelund [here](https://github.com/OpenModelica/OpenModelica/pull/8146#discussion_r749950343). I don't think it is really necessary in that section of the documentation, I'm not sure if it is needed elsewhere
- fix #8183, so that it is also consistent with the

[2021-11-26 10:40] casella commented on #8086
Will be fixed when #2081 is addressed

[2021-11-26 10:42] casella commented on #8084
@phannebohm any chance you can take care of this anytime soon, so we get it in 1.19.0?

Thanks

[2021-11-26 10:43] adeas31 commented on #8187
@AnHeuermann #8226 includes a message "Installing library" in the dialog when users clicks on ok button. If you prefer more detailed messages like download started and finished as you proposed in the issue then we take it later on.

[2021-11-26 10:43] adeas31 commented on #8111
See #8226

[2021-11-26 10:45] casella commented on #7376
@christiankral, this last issue is covered by #8187. I think we can close this one, as what you were asking for originally is now provided in the nightly build, and will be included in the 1.19.0 release.

[2021-11-26 10:45] #7376 closed

[2021-11-26 10:46] adeas31 commented on #8172
That is what OMEdit is relying on for now and for some reason the API is returning false in some cases.

That is of course the simplest solution for now. I don't have to wait for @adrpo or @perost to fix the interactive interface. I can simply ignore whatever is returned by the API and always set visible to true in OMEdit.

[2021-11-26 10:46] adrpo commented on #8172
I think the problem might be that the output you get from OMC is bad or you get no output because you cannot evaluate some parameter. So in this case OMEdit can do nothing, we have to investigate in OMC and fix it there.

[2021-11-26 10:47] adeas31 commented on #8172
@adrpo actually the API is returning correct value i.e., `false` in this case.

[2021-11-26 10:51] adrpo commented on #8184
I don't know how to fix this using autotools and building both static/dynamic libraries without having two projects, one for Linux (the current one) and one for Windows with all the weirdo dll attributes. I don't think is possible without manually writing the Makefile or using cmake.

[2021-11-26 10:53] casella commented on #8024
@perost, I'm trying to figure out if we can get through this ticket or if we should just give up until we implement proper balancing checks in the future.

Would my last proposal be feasible, or is it too much work? I think understanding whether a certain class contains partial stuff or not could be valuable; in fact, we already do that during normal flattening (and abort in that case) and we're s

[2021-11-26 10:53] sjoelund commented on #8184
You can write some things in configure.ac and pass it along to the Makefile.am, no? Just look for MINGW compiler and fill in some variables

[2021-11-26 10:53] adrpo commented on #8184
The "easiest" hack to fix this until we properly solve it it to put the binary that @sjoelund attached, libModelicaExternalC.dll in OMDev and copy it from there. So we only build the static ones on Windows.

[2021-11-26 10:54] sjoelund commented on #8184
You need the other DLLs too, though :)

[2021-11-26 10:55] adrpo commented on #8184
I have that, it doesn't help. On Linux i need to not link it with the import, on Windows i need to link it for the shared but not for the static and also provide different idefs on the command line so dllexport/import/extern attributes are set correctly.

[2021-11-26 10:56] casella commented on #8009
@rfranke it seems all your concerned were addressed, so, I'm closing this ticket. If they weren't, feel free to reopen it and comment on what is still wrong.

[2021-11-26 10:56] adrpo commented on #8184
So the only way I can see of doing this is either have two different targets for the shared/static library or two different projects.

[2021-11-26 10:57] sjoelund commented on #8184
Do you have a copy of ModelicaStandardLibrary.git with your changes? I could have a look how to conditionally link that

[2021-11-26 10:57] adrpo commented on #8184
I didn't do it there, i did it in SimulationRuntime/ModelicaExternalC.

[2021-11-26 10:58] casella commented on #7992
I tried the original MWE and it now works fine. Thanks @mahge!

[2021-11-26 10:58] #7992 closed

[2021-11-26 10:58] sjoelund commented on #8184
Fix it upstream. That's where it belongs. It shouldn't touch OpenModelica.git

[2021-11-26 10:59] casella commented on #8195
Indeed all red messages are now gone, which is good for 1.19.0 😃

[2021-11-26 10:59] adrpo commented on #8184
then we remove the ModelicaExternalC from SImulationRuntime?

[2021-11-26 11:00] casella commented on #7990
@perost, if this is an easy fix, it would be nice to have in 1.19.0. Thanks!

[2021-11-26 11:01] sjoelund commented on #8184
Maybe, yes. It shouldn't have been moved there regardless

[2021-11-26 11:01] adrpo commented on #8184
https://github.com/adrpo/OpenModelica/commit/1964b108ee87cd6ea907dcd0f1f066410737cb38

[2021-11-26 11:03] adrpo commented on #8184
That is what I ended up with and that is missing the static linking ifdef on Windows from ModelicaUtilities.h.
Also you need to put "-no-undefined" for libtool flags as otherwise will not build the shared libs and that might not work in Linux.

[2021-11-26 11:03] adeas31 commented on #8009
This is not done yet. The presentation of derivatives of arrays is still pending.

[2021-11-26 11:06] casella commented on #8172
I'm confused. @max-privato complains that something is not visible if he sets the parameters to make it visible. So the correct value in that case should be `true`, not `false`.

At this point we should display everything whose visibility depends on parameters. It would be nice to avoid displaying stuff whose visibility is constant, not sure if this is easy to do.

In any case, not displaying stuf

[2021-11-26 11:07] adrpo commented on #8184
Is a freaking mess and I understand why @mahge wants to avoid this all dll attributes crap.

So all these external libraries would need to support this:
1. static define if you want to use the static libraries
2. dll export defines if you build shared dll
3. dll import defines if you want to use the dll (if you don't load it via code)

None of the code or the autotools project is prepared for this

[2021-11-26 11:07] sjoelund commented on #8184
You make it something like `@LD_NO_UNDEFINED@` and I think you can do the same for the library dependency. `ModelicaExternalC/C-Sources/ModelicaUtilities.h` will be removed in the next version of it, right? You need to pass it as CPPFLAGS manually in the latest MSL master I think. So for our version that we pass, I think we put dllimport or also add the define to make it dllimport (as the upstream

[2021-11-26 11:08] sjoelund commented on #8184
We anyway need to have some way of showing people how to build their DLLs to work in OMC... We can't statically link libraries from all different libraries out there.

[2021-11-26 11:08] casella commented on #8165
Adding @anargam to the loop

[2021-11-26 11:15] casella commented on #7777
@bilderbuchi, would you mind taking care of opening a request for clarification on the [ModelicaSpecification issue tracker](https://github.com/modelica/ModelicaSpecification/issues) and add a reference here? Otherwise this ticket is going to eventually get stale and die. Thanks!

[2021-11-26 11:16] phannebohm commented on #8084
I don't think so. I'll be on vacation now. This needs some thought, I think. As you already say in #4515, some non-trivial research might await. If we can get some MWEs I might do simple things starting next Year. But the trivial stuff seems to be done already.

I could imagine all kinds of weird expressions that make it unclear how to propagate the nominal value, e.g. some polynomial relationship

[2021-11-26 11:16] casella commented on #8066
Probably also related to the structural changes needed to solve #2081

[2021-11-26 11:18] casella commented on #8200
If we could make this into 1.19.0, that would be great. Tentatively adding it to the project

[2021-11-26 11:31] casella commented on #8067
I tried the new Obfuscated Save Total on a non-trivial model. Worked like a charm, and the obfuscation seems quite effective. Thanks @perost and @adeas31 for the nice job!

[2021-11-26 11:31] #8067 closed

[2021-11-26 11:36] mahge commented on #8161
Yes. They are different approaches and implementations. ParModAuto is of course supported by the NF since it does need anything special from the NF. It will also be supported by the new BackEnd as long as it results in the same SimCode structure. It is when we change the SimCode, Codegen and Runtime System that we will worry about it :)

[2021-11-26 11:38] casella commented on #8198
I just flattened `TestArray.ConnectEquations.SD` with `-f -d=nonfScalarize,arrayConnect,combineSubscripts,printRecordTypes --newBackend --showStructuralAnnotations` using the latest nightly build and I got
[code]
which is exactly what we expected to get. @ennioquaglia please confirm. Thanks @perost!

[2021-11-26 11:38] #8198 closed

[2021-11-26 11:44] mahge commented on #8161
Just for context ParModelica (a.k.a. ParModExp) is an explicit parallel programming, language extension for Modelica. Things like parallel for loops, manual thread control, synchronization..., It's main purpose is to have a way of telling a Modelica compiler how to parallelize some heavy data parallel computation such as a matrix multiplication. It extends the language with new constructs so it wi

[2021-11-26 11:46] adrpo commented on #8184
Yes, but this is not one library, is a chain of libraries that use each other so one would need for each of them make a dll/static interface. Anyhow, we can do it but it will take a while and in the meantime everything that uses these libraries in Windows is broken.

[2021-11-26 11:49] adrpo commented on #8184
Also, this looks like a job for MA but they haven't done it because is not that easy :)

[2021-11-26 11:56] sjoelund commented on #8184
We are the MA. It's mostly the tool developers maintaining the C sources

[2021-11-26 12:00] perost commented on #8172
`false` is correct in the sense that it's the value defined in the library, and that's the value the API is designed to return. So the API is working as intended. The issue is that it's not the value we actually want, we want the value in the instance instead (i.e. #2081).

[2021-11-26 12:07] arouhan commented on #8222
clear. I would then question the reason that lead to such specification, but that's another story.

[2021-11-26 12:09] arouhan commented on #8221
ok, clear.

[2021-11-26 13:46] adrpo commented on #8172
The problem is that if one changes the parameter that was used to evaluate "visible" via the OMEdit dialogs we don't re-evaluate the annotations because we don't even know that there was a dependency there.

Now the question is how to properly implement this. We could keep the cref in the annotation and then ask the NF to re-evaluate that cref on the instance tree (IT). We cannot use OMEdit to eva

[2021-11-26 14:09] HelenaShou commented on #8220
Hi no there is no error message, the file missing is : linux64.summary (or
maybe the corresponding windows one). I think it's called by the FMI
function:  fmu2instanciate (because when this file is not in the FMU
ressource folder it give a segmentation fault)

Le jeu. 25 nov. 2021 à 10:47, Mahder Gebremedhin ***@***.***>
a écrit :

[2021-11-26 14:24] adrpo commented on #8184
The only problem is that i don't have enough time now to invest into this and the Windows builds are sort of broken without this fixed. I don't want to revert your commit as I think this is a good change so I guess the Windows builds will stay broken for a while.

[2021-11-26 14:44] sjoelund commented on #8184
Either way, the only problem is with some models, right? The Windows builds should still be able to build and work for most things.

[2021-11-26 14:48] adrpo commented on #8184
Actually all the models I had to try recently did not compile due to this bug so I had to use the 1.18
release.

[2021-11-26 15:04] casella opened #8227 "Public declarations are everywhere in Flat Modelica output"
Consider this simple example
[code]

If I flatten it with `-f`, I get this output:
[code]
There are `public` kewords everwhere in the declaration section. Although they are perfectly legal, they seem to me pretty useless. @perost, is there any specific reason for that?

I cc: @ennioquaglia for his information.

[2021-11-26 15:16] perost commented on #8227
For the variables it's just the easiest way (because each variable keeps track of its visibility), but it's not really that hard to do it smarter so I can fix that.

The empty public section is a bit more mysterious. It's not a bug, we just print it at the end of the variables for some reason. @sjoelund, any clue what that's about? The only things we print after the variables are equations and alg

[2021-11-26 15:22] casella opened #8228 "Flat Modelica output strips comments"
If I flatten the following test model with -f
[code]
I get
[code]
I'm not sure if the comments were stripped on purpose, but it seems to me that they could be of good use to any downstream tool, since they carry valuable information regarding the meaning of equations and variables in the model. I would rather keep them, as it happens in the regular flat Modelica output.

[2021-11-26 15:28] adrpo opened #8229 "Model with 6k equations takes a long time to compile"
### Description

Model takes quite some time to pass the backend and it generates quite big 15MB C files for jacobians and linear systems.

### Steps to Reproduce

Build model: HeatedTank_2021.HeatedTank_with_failures_and_requirements.verification
from the attached zip file:  [ProbReqs.zip](https://github.com/OpenModelica/OpenModelica/files/7609585/ProbReqs.zip)
You can also run the script in the

[2021-11-26 15:30] casella opened #8230 "Bindings in non-scalarized flat Modelica output are wrong when 'each' is used"
If you flatten this test case with `-f -d=nonfScalarize`:
[code]
you get
[code]
which is wrong, because the values in the binding equations are scalars instead of arrays of the proper dimension. One should instead get:
[code]

[2021-11-26 15:35] casella commented on #8229
@adrpo, would you mind running it with `-d=execstat` and posting the output?

[2021-11-26 15:39] adrpo commented on #8229
I was about to do that but I need to rebuild my working copy as is broken.

[2021-11-26 15:46] casella commented on #8111
@adease31, I'm confused. #8226 is about installing libraries, not converting them.

[2021-11-26 15:53] casella commented on #8084
Sorry, I forgot about that 😃 . Don't worry, this is not urgent.

I guess you misunderstood me. In this ticket I'm not asking to propagate nominal values through expressions, that would just be hopeless. With reference to the case you mentioned, if `y.start = 1e4` and `y.nominal` is not set, I would set `y.nominal = y.start`, i.e. 1e4. The only exception would be if `y.start = 0`, because then it i

[2021-11-26 15:54] casella commented on #8161
Yes, that's what I though, in fact.

Unless we are using the array-preserving variant of it, I guess.

OK.

[2021-11-26 15:57] casella commented on #8172
I agree with the last comments, but we need a quick-and-dirty fix for 1.19.0, so that end-users are not prevented to interact with stuff from the GUI. From that point of view, I'd suggest to go along @adeas31's [proposal](https://github.com/OpenModelica/OpenModelica/issues/8172#issuecomment-979873693). Then, we'll do it right in the next release.

[2021-11-26 15:58] casella commented on #8222
No idea, maybe we could ask @HansOlsson.

[2021-11-26 16:00] adrpo commented on #8229
Running with `-d=execstat` gives [trace.txt](https://github.com/OpenModelica/OpenModelica/files/7609750/trace.txt).

[2021-11-26 16:01] casella commented on #8221
I changed the title to more accurately reflect what the problem is, for future reference.

[2021-11-26 16:04] casella commented on #8184
@adrpo, sorry, this thread is way too long and I'm a bit lost.

Are you saying that all models that use ModelicaExternalC in Windows are broken and we have to live with it? This would seem to me a bit far-fetched.

[2021-11-26 16:06] casella commented on #8227
Yeah, that's what I understood.

That would be nice, but don't invest too much time on it.

Seems weird to me as well.

[2021-11-26 16:13] sjoelund commented on #8227
I'm not sure why that is. Might be some copy-pasta for some empty section of some kind? Maybe just some delimiter in Susan?

[2021-11-26 16:15] casella commented on #8229
I notice several suspect things here.

First of all, there are many redundant equations that form singular systems, like
[code]
This is not going to end well...

The two main bottlenecks during compilation are:
- backend: calculateStrongComponentJacobians (initialization): time 26.07/35.59
- simCode: created simulation system equations: time 39/109.9

Overall code generation takes 2 mins. I guess

[2021-11-26 16:15] casella commented on #8227
I guess we can safely get rid of that

[2021-11-26 16:34] #8227 closed

[2021-11-26 16:58] janpeter19 commented on #8092
Does it mean not correct code from me and Casella et al or does it mean identified compiler error?

[2021-11-26 16:59] perost commented on #8092
The model in the example should be valid, but currently does not work due to some compiler issues.

[2021-11-26 16:59] adrpo commented on #8184
No, what I'm saying is models that need to evaluate functions in ModelicaExternalC or ModelicaStandardTables or ModelicaIO *during* compilation will have issues. We can link fine with the static versions of these libraries for the simulation executable.

[2021-11-26 17:16] adrpo commented on #8229
I assigned me and @lenaRB to follow this up.

[2021-11-26 17:49] casella commented on #8227
Thanks!

[2021-11-26 17:50] perost commented on #8228
I also realised we don't output annotations either, except for functions. I don't know how annotations are supposed to be handled in Flat Modelica, but I added them anyway for now.

[2021-11-26 17:51] casella commented on #8184
OK, I guess they not that many then.

[2021-11-26 17:52] casella commented on #8228
I hope that `--showStructuralAnnotations` only keeps the structural ones there as well

[2021-11-26 18:09] perost commented on #8228
Printing all annotations was not a good idea in hindsight, I changed it to always just print structural annotations. We could make it depend on the flag, but I think we want the default to be only structural annotations and the flag is `false` by default.

[2021-11-26 18:35] casella commented on #8228
LGTM

[2021-11-26 19:09] #8228 closed

[2021-11-26 21:12] Artur-debug opened #8233 "FMU model delivers different results than the original model"
### Description
As soon as the model is exported as an FMU and re-imported, the simulation shows an incorrect result.

### Steps to reproduce
Export this example as FMU:

[code]
![1](https://user-images.githubusercontent.com/84518891/143642442-f8bba456-9d05-443c-a4bf-c189116fe749.PNG)
The simulation should look like this:

![3](https://user-images.githubusercontent.com/84518891/143645300-535ef9e6-

[2021-11-26 22:03] mahge commented on #8161
Hmm. Maybe. I am not sure about this. There are some doors that the array-preserving opens. Some make me hope good things some otherwise. We will worry about it when the time comes 😅

[2021-11-26 23:49] phannebohm commented on #8084
Mi scusi, of course, it even says so in the title. :sweat_smile:
That seems reasonable, and possibly quick to do. Let's try it next month.

[2021-11-27 08:12] AHaumer opened #8234 "Unclear termination of simulation"
I wonder what's the problem, why OM terminates simulation, for me the model looks fine.
Please have a look at the enclosed examples.
Windows 10 64 bit, OM 1.18.0
[PowerSupply.zip](https://github.com/OpenModelica/OpenModelica/files/7611460/PowerSupply.zip)

[2021-11-27 12:20] christiankral commented on #7376
@casella Yes this is all good. Thank you.

[2021-11-27 16:51] thorade opened #8235 "add option to include function name in assert message automatically"
When working on https://github.com/thorade/HelmholtzMedia/issues/39 I looked at this simulation log:
https://libraries.openmodelica.org/branches/master/HelmholtzMedia/files/HelmholtzMedia_HelmholtzMedia.Examples.ConvergenceTest.Ancillary_Saturation.sim

It contains some messages that were printed by asserts, but not the function name/path where the assert was triggered. I can add `getInstanceName(

[2021-11-27 17:54] AHaumer commented on #8234
Sorry - the model was formulated the wrong way, now it works.
[PowerSupply.zip](https://github.com/OpenModelica/OpenModelica/files/7612191/PowerSupply.zip)

[2021-11-27 17:54] #8234 closed

[2021-11-27 18:36] casella commented on #8084
😄

[2021-11-27 18:41] casella commented on #8200
@AnHeuermann, while you're at it, you may also consider #8235 by @thorade.

[2021-11-27 19:07] casella commented on #8235
@thorade, in the case of assert statements within models, we already have that:
[code]
returns
[code]
In case of functions, adding getInstanceName would just give you the function name, e.g.:
[code]
gives
[code]
If this is fine for you, adding `" in"+getInstanceName()` automatically to assert strings in functions shouldn't be difficult.

If you want to know where do the inputs come from, you'd pro

[2021-11-27 19:10] casella commented on #8233
@Artur-debug, unfortunately FMI import has know issues. If your goal is just to simulate the FMU, please consider using [OMSimulator](https://openmodelica.org/doc/OpenModelicaUsersGuide/latest/omsimulator.html) instead.

If instead you really need to use this block inside your Modelica models, we can have a further look at it.

[2021-11-27 19:12] mahge commented on #8235
I know why this is not working at the moment. I had noticed we don't propagate the location info even though we have it. It goes halfway through the assert management path and then it is ignored.

I wanted to do it as part of #8070 but the changes were already a lot so I left it for the time being. It also requires a lot of updates to our test suite.

I will see what I can do.

[2021-11-27 19:29] AHaumer opened #8236 "Implementation of horizontalAlignment=TextAlignment not correct"
annotation(Icon(graphics={
      Rectangle(extent={{-100,100},{100,-100}}, lineColor={0,0,255},
        fillColor={255,255,255}, fillPattern=FillPattern.Solid, radius=10),
      Rectangle(extent={{-94,94},{94,6}}, lineColor={0,0,255},
        fillColor={215,215,215}, fillPattern=FillPattern.Solid),
      Ellipse(extent={{-80,-10},{-20,-70}}, lineColor={0,0,255},
        fillColor={215,215,215}, fi

[2021-11-27 19:40] sjoelund commented on #8233
Maybe fmiImport should add a notification that is broken, proposing to use OMSimulator instead?

[2021-11-28 14:06] adeas31 commented on #8111
No #8226 is indeed for running conversion script but I also fixed #8187 with it.

[2021-11-28 14:52] #8061 closed

[2021-11-28 14:52] #8187 closed

[2021-11-29 09:05] janpeter19 commented on #8092
Tested my code on earlier releases of OpenModelica and got the results below that I hope is of of some help:
1) Run my code in OpenModelica 1.18.0 stable - and got the same error text
2) When I test in OpenModelica 1.17.0 stable I do not get that error, but another red complaint about "implicit iteration range" that you later allowed in 1.18.0 (and we hade some correspondence around back in March)

[2021-11-29 09:34] adeas31 commented on #8172
#8237 fixes this issue for now but we should keep it open and test it again once #2081 is fixed.

[2021-11-29 10:03] lochel opened #8239 "Segmentation fault in linear system using recent omc version"
I have a model that runs fine in normal simulation but fails as FMU: `DroneSystem.Vehicles.QuadX`

OpenModelica version: 962c2112c35a0caef893c906942dd4445e672380

[DroneSystem.Vehicles.QuadX.fmu.zip](https://github.com/OpenModelica/OpenModelica/files/7617297/DroneSystem.Vehicles.QuadX.fmu.zip)

This is the valgrind output:
[code]

[2021-11-29 10:05] lochel commented on #8239
The same model worked just fine 100 commits (about 5 weeks) ago using OMCompiler v1.19.0-dev.329+gfedf620e28.

[2021-11-29 11:14] lenaRB opened #8241 "FMU does not update values properly"
### Description

The FMU exported with OM is not updating the values properly. Since terminate() equations do not work with FMIs I read the value of the variable tank.failure_code and stop the simulation when it hits a certain value. Only now it is not updated properly so the simulation crashed, works just fine with the FMU I exported a couple of months ago with OM.

### Steps to Reproduce

export

[2021-11-29 12:41] AnHeuermann commented on #3273
I'm not sure a model like

[code]

is legal Modelica code.

But in `Modelica.Electrical.Digital.Sources.Clock` from MSL 4.0.0 we have a model named `Clock` as well.

Dymola prevents me from creating a new model called `Clock`

![image](https://user-images.githubusercontent.com/38031952/143868604-18c2d133-6084-418a-9258-32d848fb3789.png)

In OMEdit I can create the model from above but can't simula

[2021-11-29 12:47] AnHeuermann commented on #5450
Simulating examples from `Modelica_Synchronous` (with MSL 3.2.3) works fine in OMEdit. No need to add an additional `+std=3.3`.

Also Synchronous became part of the MSL 4.

[2021-11-29 12:47] #5450 closed

[2021-11-29 12:58] adeas31 commented on #3273
This is because `loadString("model Clock equation end Clock;")` is accepted by OMC.

[2021-11-29 13:01] AnHeuermann commented on #5404
The simulation seems to get to the correct solution `x=y=0` but we still have

[code]

[2021-11-29 13:06] AnHeuermann commented on #4481
The artifacts in the plot are still there and should be addressed while solving #7854.

[2021-11-29 13:18] AnHeuermann commented on #4010
After #7854 is fixed for the C runtime it should be a good idea to use the same solution for the C++ runtime.

And in the C runtime this should already be treated correctly.

[2021-11-29 13:27] AnHeuermann commented on #3860
See https://trac.openmodelica.org/OpenModelica/ticket/3860#comment:11

[2021-11-29 13:27] #3860 closed

[2021-11-29 13:29] AnHeuermann commented on #3771
Duplicate of #7854. (Actually the other way around but who cares)

[2021-11-29 13:29] #3771 closed

[2021-11-29 13:46] perost commented on #3273
Not sure why you get an error about already declared elements, but the issue is that we handle `Clock` as a reserved keyword like the other builtin types. So when looking for a type `Clock` we don't even check the environment, we just check a list of reserved names and return the node for `Clock` immediately. We also do the same for the function `Clock`, but only for Modelica 3.3 and higher.

So O

[2021-11-29 13:49] perost commented on #8111
The API is done and being used by OMEdit, so I'll close this and if there are any issues found we can open more specific issues for those.

[2021-11-29 13:49] #8111 closed

[2021-11-29 13:53] perost commented on #7683
Closing since it seems to be working fine now.

[2021-11-29 13:53] #7683 closed

[2021-11-29 13:54] AnHeuermann commented on #3759
Should be resolved during fixing #7854

[2021-11-29 14:32] casella opened #8242 "cpp testing is broken on Jenkins"
On 6 Nov 2021 testing was resumed on a Jenkins server running an updated Ubuntu 20.04 LTS.

Among other things, all cpp tests reported 0 successful runs, giving this error:

C++ runtime not supported in this installation (HelloWorld failed)

This is weird, since the tests do run in other Ubuntu 20.04 installations

@sjoelund reported:

@adrpo will investigate what's wrong with pthread and try to g

[2021-11-29 15:07] #8239 closed

[2021-11-29 15:40] perost commented on #8230
This might be fixed in #8243. Creating the appropriate fill-calls was easy, making sure they're not expanded into arrays not so much.

The NF really wants to expand fill-calls into arrays when possible, since not doing so causes a lot of issues with the backend, and avoiding it without breaking other things is a bit tricky. As a possible workaround I made the simplification phase optional through

[2021-11-29 18:10] adrpo opened #8244 "[OMEdit] Open models in library via paste of the path"
### Description

A lot of times you get a model path from a library to test something.
Would be good to be able to open a model via paste of the path in OMEdit library browser somehow.
Also, I really want OMEdit to save the paths of the recent open models from a library in the recent list, not only the .mo files.

[2021-11-29 18:36] casella commented on #8233
There's several "broken" (i.e. non fully correct) things in OMC, e.g. clocked variables. We would need quite some such notification, I'm afraid.

We could improve the User's Guide from this point of view. The question is, do people read them? @Artur-debug, @max-privato, what do you think?

[2021-11-29 18:38] casella commented on #8061
Thank @adeas31, I'll test this myself and report

[2021-11-29 18:44] casella commented on #8172
@adeas31, I'd prefer to keep the two issues separate and show that we are making some progress. So, I'm closing this ticket and #8210, and open a new one that reminds us to make those things really conditional (which is a different issue than never being shown).

@max-privato please check at your earliest convenience that you see all the connectors with the latest nightly build, if not please reop

[2021-11-29 18:44] #8172 closed

[2021-11-29 18:45] casella commented on #8210
Should be fixed by #8237. @dietmarw, please check with the latest nightly build and reopen if this doesn't work for you.

[2021-11-29 18:48] casella commented on #2081
The current situation is that all conditional connectors are always shown. There were some cases where this did not happen, see #8172 and #8210, they were fixed in #8237.

Eventually, #8237 should be reverted and the visibility attribute should be correctly evaluated in OMEdit based on the latest parameter value input.

[2021-11-29 19:00] casella commented on #3771
Nice to get rid of old tickets like this, it seems we are making progress. But in fact we are, since these issues are now being actually addressed, so it's fine 😄

[2021-11-29 19:07] casella commented on #8230
OK. For large systems, avoiding expansion would be really important for efficiency; e.g. expanding fill(2.0, 1000, 1000) would create 4 MB of flat code with endlessly repeated `2.0`'s, which doesn't look that smart.

I'm not sure how many other simplifications we are missing with --noSimplify that we may need. Time will tell. For the time being this looks good to me.

[2021-11-29 19:33] mwetter opened #8245 "In OMEdit, generate Text(textColor=...) instead of Text(lineColor=...)"
### Description

In OMEdit, texts are rendered as
[code]

### Steps to Reproduce

Generate the above model in OMEdit

### Expected Behavior

The `lineColor` annotation should be `textColor` as `lineColor` is deprecated.
The Modelica Language Specification says

### Version and OS

 - OpenModelica Version: 1.19.0~dev-429-g962c211

[2021-11-29 21:01] Artur-debug commented on #8233
Small supplement, for this specific problem (combiTimeTable) I changed the parameter timeEvents. Next pictures show simulations with a large stepSize = 5. This makes it harder to overlook errors.

Model CombiTimeTable timeEvents = Modelica.Blocks.Types.TimeEvents.Always (Default):

![2](https://user-images.githubusercontent.com/84518891/143939438-6198ccf3-1ebc-408f-ad17-1647dce91153.PNG)

Imported

[2021-11-29 21:30] casella commented on #8245
@adeas31 if this is an easy fix it would be nice to have it in 1.19.0

[2021-11-30 09:06] bilderbuchi commented on #7777
Sure thing, see https://github.com/modelica/ModelicaSpecification/issues/3052

[2021-11-30 12:10] arouhan opened #8247 "«internal Error» issue with 2-levels of nested expandable connectors vectors"
when using nested expandable connectors with 2 levels only, and the nested one is a vector of expandable connectors, I get an internal error.

I provide a case which highlight the issue. They are 2 models.
Both models have a top expandable connector which contains a sub-expandable connector. In the first model, the sub-expandable connector is an array of fixed dimension of an expandable connector.

[2021-11-30 12:28] #8245 closed

[2021-11-30 12:34] perost commented on #8247
It's not fixed by #8094, though it improves the error message a bit:
[code]
Of course, this should never happen regardless. Both `ad1.hb` and `h` are expandable connectors, so by connecting them they should by definition contain the same elements.

[2021-11-30 14:20] Artur-debug commented on #8233
Does that mean that the import of FMUs in OMEdit and OMSimulator is affected and not the export?

[2021-11-30 16:38] casella opened #8248 "The backend differentiates functions when it is not entitled to"
Consider the following test models
[code]
All three models currently simulate with OMC.

The three models involve functions that include if-statements, so they are potentially discontinuous. The compiler is not smart enough to figure out if they are smooth enough across the switching of the condition. Hence, it should not even try to differentiate function `f`, unless `f` is explicitly declared as

[2021-11-30 16:47] janpeter19 commented on #8092
I tested part of my code more on 1.17.0 and found a misstake of mine related to re-declaration.
"Gasphase is partial, name lookup is not allowed in partial classes".

This is a rule that I dd not know of and seems Modelon software ignore too.
After correction of library code I got a simpler Application code (no gasphase) working in 1.17, 1.18 and even todays 1.19.

But with a more demanding Applic

[2021-11-30 17:28] casella commented on #8245
Thanks!

[2021-11-30 17:30] casella commented on #8233
I'm not sure. The export could also be affected. To be sure, we should check the exported FMU with another FMI tool.

[2021-11-30 17:32] casella commented on #8092
It would be good for us to be able to reproduce the issue, otherwise it might be hard to fix it.

[2021-11-30 17:47] janpeter19 commented on #8092
Just now, see my comments as input to our common problem with error text like this:

[MinimumExample: 24:3-24:49]: component com contains the definition of a partial class Medium.
Please redeclare it to any package compatible with Modelica.Media.Interfaces.PartialMedium.

In my library-application code I first thought we may have identical problems and related to "Porting constrained by modifiers.

[2021-11-30 18:41] #8092 closed

[2021-11-30 18:43] perost commented on #8092
The redeclare issue should now be fixed. The ChillerBorefield model in Buildings still does not work, but that's due to some unrelated issues that I will investigate later.

[2021-11-30 18:47] perost commented on #7457
With the fixes in #8249 the model now flattens if I also disable the checks for multiple algorithm sections in functions.

[2021-11-30 21:47] max-privato commented on #8172
I can confirm that the issue mentioned in this ticket has been solved (using 1.19.0-dev 433).
I mean, now the conditional connectors are always visible, allowing people aware of their actual role to exploit them.

[2021-11-30 22:32] Artur-debug commented on #8233
Matlab seems to like OpenModelica FMUs.

[2021-11-30 22:47] casella commented on #8092
Thanks @perost!

[2021-11-30 22:49] casella commented on #7457
So I guess this ticket could be closed and one opened about removing multiple algorithm sections in functions in TransiEnt?

[2021-11-30 23:32] casella commented on #8143
@sjoelund explanation by email to me:

It's again because we don't have full dependency resolution, but a greedy algorithm. Because there are noneFromVersion annotations on ModelicaServices 4.0.0 saying it's the same as 3.2.3, when we try to install MSL 3, Services 4 is installed and because Services 4 depends on MSL 4, that gives a warning.

What a full dependency algorithm would do is it would b

[2021-11-30 23:34] casella commented on #8143
This example shows me that maybe we are making a conceptual mistake about the concept of "backwards compatiblity".

We always interpreted having a `noneFromVersion` annotation as equivalent to being backwards-compatible. However, for me backwards compatible means that you can use the new library instead of the old one without any problem. The `noneFromVersion` annotation in version 4.0.0 only says

[2021-11-30 23:55] casella commented on #8143
I would make an alternative proposal to fix this issue.

Currently, we consider version Y backward-compatible with version X if it has a `noneFromVersion(X)` annotation. I would propose an alternative definition:

Implementing this definition is not completely trivial because you need to check the backwards-compatibility of the dependencies, which may require to check the backwards-compatibility o

[2021-12-01 06:48] sjoelund commented on #8233
Are you using OMSimulator with co-simulation or model-exchange?

[2021-12-01 06:54] sjoelund commented on #8143
The format of the index-file cannot really be changed (would need to create a new version and support the old one independently). What could be done is perhaps putting it as conversion required. But then you cannot use the index to know which packages need to be converted anymore. Or duplicating some information and adding a new field for isCompatibleWith. But really it is duplicate information si

[2021-12-01 07:24] janpeter19 commented on #8092
Tested my code this morning with nightly build dev-435-g14546fe  And my problems remain as described above, a bit as expected, and we handle that separately in one way or the other. I will come back in the coming weeks.

[2021-12-01 07:50] dietmarw commented on #8210
I have no rights to reopen the ticket but can tell that the hack in #8237 did not fix it:
[code]

[2021-12-01 07:56] Artur-debug commented on #8233
Model-Exchange

[2021-12-01 11:33] AnHeuermann commented on #6009
Should be done with #8168 in one go.

[2021-12-01 12:02] AnHeuermann commented on #6009
Also somewhat related ticket: #7458
Would be bad to give users a "new" option in OMEdit only to see that is's not working on Windows.

[2021-12-01 14:16] adeas31 commented on #8168
@dietmarw I had a discussion with @AnHeuermann and @sjoelund today and we came up with this,

![image](https://user-images.githubusercontent.com/4007231/144249800-78710a51-7f3f-426f-9bbc-73c940d7d651.png)

So you don't see any dropdown list now just the flat list of platforms. The `native` is always `static`. Also added list of docker targets. Some platforms will be picked up from the PATH and you

[2021-12-01 15:04] dietmarw commented on #8168
Some comments/questions:
 1. It would be good to specify/document a bit more detailed what is meant by "native".
 2. Is dynamic now completely off the table?
 3. The docker images seem to be out of date, so where I could previously compile locally with my installed nightly build, with docker I'm restricted to some old released versions?
 4. Same about the cross-compile options. As of now I can com

[2021-12-01 22:58] casella commented on #8143
Of course I don't want to do that, though I understand we could add more information to the json file without creating backwards-compatibility issues.

OK, I guess I get your point, sorry but it's a bit complicated. You wrote:

There is some mechanism in place already we are using that provides this information, I understand it is `getAvailablePackageVersions()`. This is what we I currently get af

[2021-12-02 07:09] sjoelund commented on #8143
Yes. But looking at the JSON-file, I suppose we could extend it to have:
* provides
* noneFromVersion - provides
* convertFromVersion

Note that changing the index in this way does not change the metadata of already installed packages though. So they might still have the bad provides in them.

I'll see if this can be done. I suppose by doing the dependency resolution while creating the index we ge

[2021-12-02 08:04] adeas31 commented on #8168
Docker is just another option. You can still compile independent of docker.

[2021-12-02 08:17] adeas31 commented on #8168
Sure. Any suggestion what would be better description for it from a user point of view? I am thinking to write in the user's guide `By default a native FMU statically linked with the runtime for the current user platform is generated.`

No. But is more confusing so we decided to keep it hidden for advanced users. You can write `dynamic` in the textbox for additional platforms. However, the dynamic

[2021-12-02 09:34] casella commented on #8143
LGTM.

We could suggest users to flush the installed package when upgrading to 1.19.0. Is there any "clean" way to do that, beyond manually deleting the contents of the installation file?

Good.

Thanks!

[2021-12-02 11:35] #6009 closed

[2021-12-02 12:18] AnHeuermann opened #8253 "Docker FMU platforms in OMEdit"
### Description

Follow-up on #8168.

Currently the OMEdit FMU platform settings are looking like this:
![image](https://user-images.githubusercontent.com/38031952/144415986-4bdcabed-30c6-451f-9d39-0728e3d59118.png)

In my opinion this dialog has a number of issues:

1. The names are confusing.
    - It's not directly what command corresponds to which FMU platform (`win64`, `win32`, `linux64`, `li

[2021-12-02 12:30] sjoelund commented on #8253
The problem is we don't know which platform is used until we run the configure-script in the image...

[2021-12-03 07:40] lochel commented on #8179
Unfortunately, I will not have time in December and I am not even sure who ported the implementation to the frontend. @perost do you know?

[2021-12-03 07:40] dietmarw commented on #8168
Just tested it. Would be nice to have the native documentation appear in a tool tip on the native option in addition to the documentation.

Also something is still bothering me. Choosing `native` **and** `x86_64` on my Ubuntu 20.04 64bit machine will actually create a different FMU to when just choose `native` only. But it should be the same or am I missing something?

Here the two variants:
[FMUt

[2021-12-03 07:45] dietmarw commented on #8168
OK ´native` is still creating a dynamic FMU:
[code]

[2021-12-03 07:50] sjoelund commented on #8168
Choosing `x86_64` is different from the static target. Static will link an already compiled version of the runtime whereas `x86_64` will take (possibly a subset of the source files) and compile them for the given architecture. Selecting both should result in a late error since both try to write to the same target, but I guess that's not been coded into OpenModelica.

[2021-12-03 08:10] dietmarw commented on #8168
But there is no "static" target option. As far as I understood, all target listed should be static. Hence choosing `native` should be identical to `x86_64` in my machine. Otherwise what else is the meaning of `native` if not that?

I did find even more issues when trying to replicate #8233. Choosing `x86_64` only as target the FMU has theses dependencies:

[code]

[2021-12-03 09:13] casella commented on #8179
The mystery has been lingering for a while. I guess the information was lost with the transition to github, but I'm not sure.

[2021-12-03 11:01] perost commented on #8179
I ported it to the new frontend, but I don't know who implemented it in the first place. We seem to have unit checking code dating back at least 12 years, but it's a bit confusing since it's been moved around a lot.

[2021-12-03 13:16] casella commented on #8179
This issue is not critical, but it will have to be sorted out, eventually. Unit checking saves lives, not having it is a big drawback.

[2021-12-03 13:39] sjoelund commented on #8143
So this is something that only happens for Modelica and ModelicaServices. And the thing is that these require each other of the exact same version. If you have uses Modelica="3.2.2" ModelicaServices="3.2.3", you need Modelica="3.2.3" and vice versa.
If I try to fix it the way I wanted to like above, I end up with no provides for ModelicaServices. But I actually do want to allow loading of MSL 3.2.

[2021-12-03 13:52] max-privato opened #8258 "Duplicating or copying/pasting loses array information"
### Description
If  I duplicate or copy/paste an array of models array information is lost on the mo text

### Steps to Reproduce
(use the following file without txt):
[Test.mo.txt](https://github.com/OpenModelica/OpenModelica/files/7650066/Test.mo.txt)

1. Load model Test.mo. Block phase is an array of 3 elements:
[code]
(in attributes I see[3] as Dimensions)

2. duplicate phase. The newly create

[2021-12-03 14:09] perost commented on #3273
Should be fixed in #8259, now we just treat it as a top-level type. So now you can do things like this:
[code]

[2021-12-03 15:12] #3273 closed

[2021-12-03 16:06] mahge commented on #8161
Does this mean setting the NF with flags in the script does not work for calling evaluating any function using a script? Not just for ParModelica? That is a bigger problem we have to figure out I guess.

That is alright. I can check them manually without the scripts.

Thank you again. Very much appreciated.

[2021-12-03 16:10] perost commented on #8161
Yeah, calling a function directly in a script seems to always use the old frontend. The NF doesn't support compiling a function and running it, it only does function interpretation or calls library functions via FFI. For the scripting stuff we should be able to flatten functions using the NF and then generating code the usual way, but it needs some work.

[2021-12-04 00:25] perost commented on #3273
Seems my commit broke Clock for the old frontend, it's using NFModelicaBuiltin in the library tests instead of ModelicaBuiltin like it should. That's bad and I don't know why it happens, but I made a workaround in #8261 until I have time to fix it properly. It shouldn't really affect anything except change the error message a bit when trying to declare a top-level Clock element.

[2021-12-04 20:31] Artur-debug commented on #8233
The error does not occur with co-simulation.

[2021-12-04 22:51] casella commented on #8143
Interesting that nobody found out so far...

[2021-12-05 22:32] AHaumer opened #8262 "Severe Problem with Event Generation"
Please have a look at the enclosed models which are boiled down from a model of an incremental encoder, which should generate a series of Boolean pulses dependent on the angle phi:
Yes uses an intermediate varable to compare w.r.t. pi -> events are generated.
WhyNot uses the expression (as used for the intermediate variable) to compare w.r.t pi -> no events are generated.
It seems that the express

[2021-12-05 22:38] AHaumer commented on #7368
No reaction for more than half a year?

[2021-12-06 07:52] adrpo commented on #7368
Sorry, we had a lot of other priorities. I'll bring it up in the OSMC dev meeting today.

[2021-12-06 08:28] adrpo commented on #4907
ClaRa and other libraries uses this pattern:

`Real component(value=someValue)`

instead of

`Real component = someValue`

I think that it was easier to see if you have conditional components, for example:

`Real component(value=if cond then a else b) if someConditional;`

vs.

`Real component = if cond then a else b if someConditional;`

But you could also write it like this:

`Real component = (

[2021-12-06 08:42] dietmarw commented on #8163
Any updates on this?

[2021-12-06 08:56] adeas31 commented on #8258
I can't reproduce it. Steps I followed,

- Loaded the Test.mo
- Duplicated Test model with right-click duplicate and set the new name as `Test1`.
- The new model `Test1` is,

[code]

[2021-12-06 09:51] perost commented on #4907
It will complicate the handling of modifications since you need to merge binding equations and value-modifications (but only if the element you're modifying has a value-attribute), which would also be bad for performance. It also means we need to do a look up of the value attribute for every component of a type that has one when determining their binding equations, leading to even more complicatio

[2021-12-06 09:54] adrpo commented on #4907
Ok. Good to know for the meeting we will have tomorrow with some of the people that developed libraries that use this pattern. I will ask if they really need this or not.

[2021-12-06 10:00] perost commented on #4907
I did a quick grep on `ClaRa` and found 78 instances of value-modifiers, 6 of which use an if-expression as binding equation. So fixing the library would be a matter of minutes.

[2021-12-06 10:04] adrpo commented on #4907
I know, I fixed this several times, but on copies of ClaRa as we never been able to port it back to the original source. The github copy even has my PR with this. Hopefully tomorrow we can make some proper progress on this.

[2021-12-06 10:15] perost commented on #4907
You might want to point out that the value-attribute has been removed from recent versions of the specification, and since Hans Olsson was the first to say that it shouldn't be allowed it might not be as well supported in future Dymola versions (I doubt they'll remove it completely due to backward compatibility, but it could become less easy to use).

[2021-12-06 11:39] AnHeuermann commented on #8262
Duplicate of https://github.com/OpenModelica/OpenModelica/issues/8090 and should be fixed with  https://github.com/OpenModelica/OpenModelica/pull/8138.

@AHaumer Could you try again with the nightly build?

[2021-12-06 11:52] casella commented on #4907
Yeah, the value modifier is clearly out of the standard, so I would not try to support it, that would apply pressure on exactly the wrong direction.

[2021-12-06 11:56] casella commented on #8163
I added this to the 1.19.0 release plan so we don't forget about it. @lochel @sjoelund I'm not sure who's ultimately responsible for this kind of things, I'm adding @adrpo to the loop, please make sure this is resolved.

Thanks!

[2021-12-06 12:27] casella commented on #8147
See #8263

[2021-12-06 12:38] casella commented on #8163
Adding @adeas31 to the loop, since the problem seems to be originated from OMEdit

[2021-12-06 12:41] sjoelund commented on #8163
From the dev meeting. Fix this in 2 places:
* Make sure the build/ directory only has libOMSimulator.so installed into `1` directory
* As a work-around until this is found, make the Python-script look in both locations before failing

[2021-12-06 12:43] casella commented on #8168
One problem could be that CVODE can be used inside an FMU, but then CVODE is dynamically linked, which conflicts with static linking.

Adding @AnHeuermann to the loop.

[2021-12-06 12:53] sjoelund commented on #8163
See also https://github.com/OpenModelica/OMSimulator/issues/947

[2021-12-06 12:59] casella commented on #8184
@mahge has a possible solution using cmake.

[2021-12-06 13:05] casella commented on #8184
We can re-test it with the zipped file, but trying to compile something that causes an error function to be called.

@sjoelund can make the test on Linux and then I can test it myself